<section class="common-Section solutionProviderSection">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 ">
                Find specialist solution provider 
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting.
            </p>
        </div>

        <div class="providerList"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div class="itemContainer">
                <div class="listItem" routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider1.jpg" alt="solutionProvider1"></div>
                    <h4 class="itemTitle">AIRPORTS</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider2.jpg" alt="solutionProvider2"></div>
                    <h4 class="itemTitle">Commercial building</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider3.jpg" alt="solutionProvider3"></div>
                    <h4 class="itemTitle">Data Center</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider4.jpg" alt="solutionProvider4"></div>
                    <h4 class="itemTitle">INDUSTRIAL BUILDINGS</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider5.jpg" alt="solutionProvider5"></div>
                    <h4 class="itemTitle">Power plant</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider6.jpg" alt="solutionProvider6"></div>
                    <h4 class="itemTitle">PRE-CAST</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider7.jpg" alt="solutionProvider7"></div>
                    <h4 class="itemTitle">Residential Buildings</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider8.jpg" alt="solutionProvider8"></div>
                    <h4 class="itemTitle">Schools</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider9.jpg" alt="solutionProvider9"></div>
                    <h4 class="itemTitle">Theaters</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider10.jpg" alt="solutionProvider10"></div>
                    <h4 class="itemTitle">Bridge</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider11.jpg" alt="solutionProvider11"></div>
                    <h4 class="itemTitle">Chemical plants</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider12.jpg" alt="solutionProvider12"></div>
                    <h4 class="itemTitle">HOSPITALS</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider13.jpg" alt="solutionProvider13"></div>
                    <h4 class="itemTitle">Manufacturing plants</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider14.jpg" alt="solutionProvider14"></div>
                    <h4 class="itemTitle">Metros</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider15.jpg" alt="solutionProvider15"></div>
                    <h4 class="itemTitle">Road ways</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider16.jpg" alt="solutionProvider16"></div>
                    <h4 class="itemTitle">Water & waste</h4>
                </div>
            </div>
            <div class="itemContainer">
                <div class="listItem"  routerLink="/{{_languageService.currentLanguage}}/engineering-services/sector">
                    <div class="imgContainer"><img src="assets/images/solutionProvider17.jpg" alt="solutionProvider17"></div>
                    <h4 class="itemTitle">Tunnel</h4>
                </div>
            </div>
        </div>

        </div>
</section>
