<div class="bottom-space">
    <app-hd-navbar></app-hd-navbar>

    <div class="common-bannerWrapper global-mb">
        <img src="../../../../assets/images/serviceBanner.jpg" alt="Architecture & Structural Design Software">
        <div class="bannerContainer">
            <div class="containerbn">
                <h1>
                    Architecture & Structural Design Software
                </h1>
                <p>
                    Collaborate with expert architecture & structural designers using Autodesk Revit and ALLPLAN. Get precise, architecture & structural designs tailored to your project’s needs.
                </p>
                <div class="button-wrapper">
                    <button class="default-btn mdc-button" (click)="scrollToSection('targetSection2')">

                        Find Architecture Designers

                    </button>
                    <button class="default-btn mdc-button border" (click)="scrollToSection('targetSection1')">

                        Book a service

                    </button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Leading Architecture Design Tools
            </div>
            <div class="subTitle">
                Explore the leading architecture design tools utilized by top professionals to create functional and aesthetic building designs.
            </div>
        </div>

        <div class="list-type-wrapper bottom-space-big">
            <div class="block">
                <h5>
                    
                    Autodesk Revit
                </h5>
                <ul class="list">
                    <li>
                        Advanced 3D Modeling and Design
                    </li>
                    <li>
                        Collaborative BIM Tools
                    </li>
                    <li>
                        Intelligent Parametric Design Features
                    </li>
                </ul>
                <div class="button-wrapper">
                    <button class="link-text" (click)="scrollToSection('targetSection2')">

                        Find Revit Experts
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g clip-path="url(#clip0_5994_22263)"><path d="M12.4993 4.16406L11.3243 5.33906L15.141 9.16406H1.66602V10.8307H15.141L11.316 14.6557L12.4993 15.8307L18.3327 9.9974L12.4993 4.16406Z" fill="#0053fa"></path></g><defs><clipPath id="clip0_5994_22263"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>

                    </button>
                </div>
            </div>
            <div class="block">
                <h5>
                    
                    ALLPLAN
                </h5>
                <ul class="list">
                    <li>
                        Advanced Structural Detailing
                    </li>
                    <li>
                        Integrated Reinforcement and BIM Modeling
                    </li>
                    <li>
                        Specialized Tools for Civil and Architectural Applications
                    </li>
                </ul>
                <div class="button-wrapper">
                    <button class="link-text" (click)="scrollToSection('targetSection2')">

                        Find ALLPLAN Experts
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g clip-path="url(#clip0_5994_22263)"><path d="M12.4993 4.16406L11.3243 5.33906L15.141 9.16406H1.66602V10.8307H15.141L11.316 14.6557L12.4993 15.8307L18.3327 9.9974L12.4993 4.16406Z" fill="#0053fa"></path></g><defs><clipPath id="clip0_5994_22263"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>

                    </button>
                </div>
            </div>
            <div class="block">
                <h5>
                    
                    Other Solutions
                </h5>
                <ul class="list">
                    <li>
                        Archicad
                    </li>
                    <li>
                        SketchUp
                    </li>
                    <li>
                        Vectorworks
                    </li>
                </ul>
                <div class="button-wrapper">
                    <button class="link-text" (click)="scrollToSection('targetSection2')">

                        Explore All Solutions
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g clip-path="url(#clip0_5994_22263)"><path d="M12.4993 4.16406L11.3243 5.33906L15.141 9.16406H1.66602V10.8307H15.141L11.316 14.6557L12.4993 15.8307L18.3327 9.9974L12.4993 4.16406Z" fill="#0053fa"></path></g><defs><clipPath id="clip0_5994_22263"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>

                    </button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Detailed Feature Comparison
            </div>
            <div class="subTitle">
                Compare key features side by side to make an informed decision for your architectural design needs.
            </div>
        </div>

        <div class="list-type-wrapper bottom-space-big">
            <div class="block">
                <h5>
                    Autodesk Revit
                </h5>
                <div class="child-block">
                    <h4>
                        Feature
                    </h4>
                    <ul class="list">
                        <li>
                            3D Modeling
                        </li>
                        <li>
                            BIM Collaboration
                        </li>
                        <li>
                            Cloud Support
                        </li>
                        <li>
                            Structural Detailing
                        </li>
                        <li>
                            Multi-user Collaboration
                        </li>
                        <li>
                            Parametric Design Features
                        </li>
                        <li>
                            Task Management
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Collaboration and Integration
                    </h4>
                    <ul class="list">
                        <li>
                            Offers <strong>real-time collaboration</strong> via cloud-enabled work-sharing tools.
                        </li>
                        <li>
                            Seamlessly integrates with AutoCAD, Enscape, TwinMotion, and other platforms for enhanced project workflows.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Usability and Learning Curve
                    </h4>
                    <ul class="list">
                        <li>
                            <strong>Steeper learning curve,</strong> especially for beginners.
                        </li>
                        <li>
                            Comprehensive training resources and community support help mitigate challenges.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Performance and Scalability
                    </h4>
                    <ul class="list">
                        <li>
                            <strong>Optimized for large-scale projects</strong>, including commercial and infrastructure developments.
                        </li>
                        <li>
                            Requires high-performance hardware to handle complex models.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Pricing and Licensing Options
                    </h4>
                    <ul class="list">
                        <li>
                            Subscription-based pricing at <strong>$290/month</strong>.
                        </li>
                        <li>
                            Offers free trials and educational discounts.
                        </li>
                        <li>
                            Additional costs for premium support and advanced training packages.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Ideal Use Cases
                    </h4>
                    <ul class="list">
                        <li>
                            <strong>Large Commercial Projects</strong>: Ideal for extensive BIM coordination and collaboration.
                        </li>
                        <li>
                            <strong>Multi-disciplinary Teams</strong>: Best for projects requiring architects, MEP engineers, and contractors to work cohesively.
                        </li>
                        <li>
                            <strong>Infrastructure Development</strong>: Bridges, tunnels, and high-rise structures benefit from its robust modeling and parametric design tools.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Vendor Ecosystem and Support
                    </h4>
                    <ul class="list">
                        <li>
                            Supported by <strong>Autodesk University</strong> and a vast community of professionals.
                        </li>
                        <li>
                            Access to 24/7 support, online forums, and extensive learning resources.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Pros & Cons Comparison
                    </h4>
                    <ul class="list">
                        <li>
                            Extensive BIM tools
                        </li>
                        <li>
                            Strong industry integration
                        </li>
                        <li class="cross">
                            High hardware requirements
                        </li>
                        <li class="cross">
                            Steeper learning curve
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Compliance and Standards
                    </h4>
                    <ul class="list">
                        <li>
                            <strong class="block-str">
                                International Standards:
                            </strong>
                            Supports global standards (ISO, DIN)
                        </li>
                        <li>
                            <strong class="block-str">
                                Local Compliance:
                            </strong>
                            Regional customization options
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Software Ecosystem and Compatibility
                    </h4>
                    <ul class="list">
                        <li>
                            <strong class="block-str">
                                File Formats: 
                            </strong>
                            IFC, DWG, DXF, RVT
                        </li>
                        <li>
                            <strong class="block-str">
                                Third-party Integration:
                            </strong>
                            Extensive with plugins and APIs
                        </li>
                        <li>
                            <strong class="block-str">
                                Cross-platform Usability
                            </strong>
                            Windows, Cloud
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block">
                <h5>
                    ALLPLAN
                </h5>
                <div class="child-block">
                    <h4>
                        Feature
                    </h4>
                    <ul class="list">
                        <li>
                            3D Modeling
                        </li>
                        <li>
                            BIM Collaboration
                        </li>
                        <li class="cross">
                            Cloud Support
                        </li>
                        <li>
                            Structural Detailing
                        </li>
                        <li>
                            Multi-user Collaboration
                        </li>
                        <li class="cross">
                            Parametric Design Features
                        </li>
                        <li>
                            Task Management
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Collaboration and Integration
                    </h4>
                    <ul class="list">
                        <li>
                            Provides robust multi-user collaboration tools, focusing on <strong>structural engineering and reinforcement modeling.</strong>
                        </li>
                        <li>
                            Integration with popular platforms is available but less extensive than Revit.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Usability and Learning Curve
                    </h4>
                    <ul class="list">
                        <li>
                            <strong>Simpler user interface</strong>, making it more approachable for small businesses and new users.
                        </li>
                        <li>
                            Limited advanced tutorials and global community in civil and structural engineering.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Performance and Scalability
                    </h4>
                    <ul class="list">
                        <li>
                            <strong>Better suited for medium-scale projects</strong>, particularly in structural engineering.
                        </li>
                        <li>
                            More lightweight, making it ideal for smaller teams and less resource-intensive setups.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Pricing and Licensing Options
                    </h4>
                    <ul class="list">
                        <li>
                            Pricing is <strong>on request</strong>, providing flexible options tailored to business needs.
                        </li>
                        <li>
                            No clear information on free trials, though discounts may be available for educational users.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Ideal Use Cases
                    </h4>
                    <ul class="list">
                        <li>
                            <strong>Structural Engineering</strong>: Exceptional for detailed reinforcement modeling and construction simulation.
                        </li>
                        <li>
                            <strong>Small to Medium Projects</strong>: Perfect for startups or firms focused on structural design and civil engineering.
                        </li>
                        <li>
                            <strong>Cost-sensitive Teams</strong>: A good choice for businesses prioritizing affordability and ease of use.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Vendor Ecosystem and Support
                    </h4>
                    <ul class="list">
                        <li>
                            Backed by a <strong>niche user community</strong>, particularly in civil and structural engineering.
                        </li>
                        <li>
                            Provides standard support with additional resources available through licensed training centers.
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Pros & Cons Comparison
                    </h4>
                    <ul class="list">
                        <li>
                            Superior structural detailing capabilities
                        </li>
                        <li>
                            Simpler learning curve
                        </li>
                        <li class="cross">
                            Limited advanced parametric design features
                        </li>
                        <li class="cross">
                            Less comprehensive integrations
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Compliance and Standards
                    </h4>
                    <ul class="list">
                        <li>
                            <strong class="block-str">
                                International Standards:
                            </strong>
                            Adheres to DIN, Eurocode, and few regionals
                        </li>
                        <li>
                            <strong class="block-str">
                                Local Compliance:
                            </strong>
                            Well-suited for EU-based standards
                        </li>
                    </ul>
                </div>
                <div class="child-block">
                    <h4>
                        Software Ecosystem and Compatibility
                    </h4>
                    <ul class="list">
                        <li>
                            <strong class="block-str">
                                File Formats: 
                            </strong>
                            IFC, DWG, DXF
                        </li>
                        <li>
                            <strong class="block-str">
                                Third-party Integration:
                            </strong>
                            Limited compared to Revit
                        </li>
                        <li>
                            <strong class="block-str">
                                Cross-platform Usability
                            </strong>
                            Windows, Limited Mac Support
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="targetSection2"></div>
    <app-tt-partners-architecture-design-services [page]="'sector'"></app-tt-partners-architecture-design-services>
    
    <app-hd-discover-projects-architecture-design-services [hideTitle]="true" [page]="'sector'"></app-hd-discover-projects-architecture-design-services>

    <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Engineering Services Accomplished
            </div>
            <div class="subTitle">
                Solutions offered by the certified vendors using the Architecture design softwares
            </div>
        </div>

        <div class="list-type-wrapper bottom-space-big">
            <div class="block cursor" [routerLink]="'/services/pre-cast-detailing-services'">
                <h5>
                    
                    Structural Services 
                </h5>
                <!-- <p>
                    Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                </p> -->
                <ul class="list">
                    <li>
                        Structural Design
                    </li>
                    <li>
                        Structural Precast Design
                    </li>
                    <li>
                        Cast-in-situ Design
                    </li>
                    <li>
                        PEB Design and Detailing
                    </li>
                </ul>
            </div>
            <div class="block cursor" [routerLink]="'/services/bim-services'">
                <h5>
                    
                    BIM Services
                </h5>
                <!-- <p>
                    Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                </p> -->
                <ul class="list">
                    <li>
                        BIM Modeling
                    </li>
                    <li>
                        Estimodeling
                    </li>
                    <li>
                        Digital Planning
                    </li>
                    <li>
                        BoQ/QS Services
                    </li>
                </ul>
            </div>
            <div class="block cursor" [routerLink]="'/services/steel-detailing-services'">
                <h5>
                    
                    Detailing Services 
                </h5>
                <!-- <p>
                    Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                </p> -->
                <ul class="list">
                    <li>
                        Structural Steel Detailing
                    </li>
                    <li>
                        Precast Detailing
                    </li>
                    <li>
                        Cast-in-situ Detailing
                    </li>
                    <li>
                        Miscellaneous Steel Detailing
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- <app-hd-services-architecture-design-services></app-hd-services-architecture-design-services> -->

    


    <!-- <div class="bottom-space-gap"> -->
    <!-- <app-special-project-architecture-design-services [page]="'sector'"></app-special-project-architecture-design-services> -->




    <!-- <div class="child-pb-none">
          <app-sector-meeting-standards></app-sector-meeting-standards>
      </div>
     <app-hd-integrations></app-hd-integrations>
    <div class="bottom-space-big">
        <app-dc-europe></app-dc-europe>
    </div> -->
    <app-faq-buildtwin-architecture-design-services [fullScreen]="true"></app-faq-buildtwin-architecture-design-services>
    <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Client Testimonials
            </div>
            <div class="subTitle">
                Hear from businesses that transformed their design processes and project outcomes by leveraging expert services powered by Revit and ALLPLAN.
            </div>
        </div>
        <div class="success-story">
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Michael Smith</span>
                        <span class="position">
                            Project Engineer, UK
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                </div>
                <p>
                    "The steel detailing services through Buildtwin have significantly improved our project efficiency. The Tekla expertise of their vendors is outstanding."                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">David V.</span>
                        <span class="position">
                            Data Center Manager, Germany
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                </div>
                <p>
                    "Finding skilled steel detailers was challenging until we discovered Buildtwin. Their vendor certification process ensures top-quality deliverables."                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Peter Brown</span>
                        <span class="position">
                            Procurement Head, USA
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                </div>
                <p>
                    "The combination of SDS/2 and Tekla expertise available through Buildtwin's platform has been invaluable for our international projects."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
        </div>

    </div>
    <div class="bottom-space-gap">
        <app-sector-category-architecture-design-services [category]="8" [page]="'sector'"></app-sector-category-architecture-design-services>
    </div>
    <div id="targetSection1"></div>
    <div class="container">
        <div class="bt-flex form-wrap">
            <div class="flex-grow-1">
        <h2>
            Get Started with Steel Detailing
        </h2>
        <p>
            Connect with certified steel detailing experts and get a customized solution for your project
        </p>
        <h3>
            Why Choose BuildTwin?
        </h3>
        <ul class="list">
            <li>
                <span>
                    Verified Autodesk Revit and ALLPLAN professionals
                </span>
            </li>
            <li>
                <span>
                    Tailored design solutions for every project
                </span>
            </li>
            <li>
                <span>
                    Comprehensive support for BIM and structural design
                </span>
            </li>
        </ul>
            </div>
        <div class="flex-grow-1">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
        </div>
        </div>
    </div>
    <!-- <div class="bottom-space-big">
        <app-drawing-freelancers></app-drawing-freelancers>
    </div> -->
    <!-- <app-get-started></app-get-started> -->
    <app-hd-footer></app-hd-footer>
    <!-- <div class="sticky-bottom" [ngClass]="{'cursor': !AvailableServicesToggle,'active': AvailableServicesToggle}"
        (mouseover)="AvailableServicesToggleStatusHover()"
        (click)="AvailableServicesToggle ? null : AvailableServicesToggleStatus(true)">
        <div class="toggle" [ngClass]="{'active':AvailableServicesToggle}"
            (click)="AvailableServicesToggleStatus(); $event.stopPropagation()">

        </div>
        <h3>
            Available Service for Direct Booking
            <small>
                Unlock the BuildTwin advantage
            </small>
        </h3>
        <div class="flex bg-sticky" *ngIf="AvailableServicesToggle">
        </div>
    </div> -->
</div>