.selected-language {
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    padding-right: 12px;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 5px solid black;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
}
.tt {
    text-transform: uppercase;
    &.active {
        color: #1890ff;
        background-color: #e6f7ff;
    }
}