.headPart {
    text-align: center;
    h2 {
        color: #0E0E28;

        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        /* 41.6px */
        margin-bottom: 8px;
    }

    span {
        color: var(--grey, #808080);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    margin-bottom: 57px;
}

.tabbing {
    margin: 0 auto;
}

.line {
    span{
        position: relative;
    }
    width: 603px;
    height: 8px;
    background: #ECECEC;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    strong {
        width: 28px;
        height: 28px;
        border-radius: 100px;
        background: #ECECEC;
        border: 3px solid #fff;
        color: #808080;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        display: inline-block;
        top: -11px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    em {
        color: #808080;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        position: absolute;
        bottom: -34px;
        white-space: nowrap;
        left: -25px;
    }

    .line span {
        position: relative;
    }
}

.tabContent {
    text-align: center;
    margin: 0 auto;
    margin-top: 88px;

    span {
        color: #0E0E28;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 10px;
        display: block;
    }

    p {
        color: var(--grey, var(--grey, #808080));
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        /* 19.6px */
    }
    img{
        margin-top: 25px;
    }
}