.task-management-inner-box {
    padding: {
        left: 200px;
        right: 200px;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: -1;
        position: absolute;
        border-radius: 8px;//updated-from-20-8;
        margin-bottom: 100px;
        background-color: #ebe7ef;
    }
    .shape {
        bottom: 9.3%;
        left: 30%;

        img {
            animation: moveleftbounce 2s linear infinite;
        }
    }
}
::ng-deep {
    .task-management-tabs {
        .mat-mdc-tab-label-container {
            border-radius: 10px;
            margin-bottom: 50px;
            border: 1px solid var(--blackColor);
            background-color: var(--whiteColor);
        }
        .mdc-tab-indicator {
            display: none;
        }
        .mdc-tab {
            padding: 24px 15px;

            &:not(.mdc-tab--stacked) {
                height: auto;
            }
        }
        .mat-mdc-tab {
            .mdc-tab__text-label {
                color: #949494;
                font: {
                    size: 20px;
                    weight: 700;
                    family: var(--mulishFontFamily);
                };
            }
            &.mdc-tab--active {
                .mdc-tab__text-label {
                    color: var(--blackColor);
                }
                &:focus {
                    .mdc-tab__text-label {
                        color: var(--blackColor);
                    }
                }
            }
        }
        .mat-mdc-tab-body-wrapper {
            overflow: unset;
        }
        .mat-mdc-tab-body {
            &.mat-mdc-tab-body-active {
                overflow: unset;
            }
        }
        .mat-mdc-tab-body-content {
            overflow: unset;
        }
        .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
            --mdc-tab-indicator-active-indicator-color: var(--primaryColor);
            --mat-tab-header-active-label-text-color: var(--primaryColor);
            --mat-tab-header-active-ripple-color: var(--primaryColor);
            --mat-tab-header-inactive-ripple-color: var(--primaryColor);
            --mat-tab-header-active-focus-label-text-color: var(--primaryColor);
            --mat-tab-header-active-hover-label-text-color: var(--primaryColor);
            --mat-tab-header-active-focus-indicator-color: var(--primaryColor);
            --mat-tab-header-active-hover-indicator-color: var(--primaryColor);
        }
        .content {
            margin-top: 50px;
            
            h3 {
                font-size: 20px;
                margin-bottom: 13px;
            }
            p {
                max-width: 400px;
            }
            .default-btn {
                margin-top: 9px;
                font: {
                    weight: 600;
                    family: var(--mulishFontFamily);
                };
            }
        }
        .image {
            padding-left: 26px;

            img {
                border-radius: 8px;//updated-from-20-8;
                box-shadow: 0px 4px 30px 0px rgba(32, 31, 103, 0.10);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .task-management-inner-box {
        padding: {
            left: 20px;
            right: 20px;
        };
        &::before {
            border-radius: 10px;
            margin-bottom: 60px;
        }
        .shape {
            display: none;
        }
    }
    ::ng-deep {
        .task-management-tabs {
            .mat-mdc-tab-label-container {
                border-radius: 5px;
                margin-bottom: 30px;
                padding: {
                    left: 20px;
                    right: 20px;
                };
            }
            .mdc-tab {
                padding: 15px 10px;
            }
            .mat-mdc-tab-header-pagination {
                background-color: var(--whiteColor);
                border-radius: 5px;
                position: absolute;
                min-width: auto;
                padding: 0 10px;
                height: 45px;
                left: 1px;
                top: 1px;

                .mat-mdc-tab-header-pagination-chevron {
                    border-color: var(--blackColor);
                }
                &.mat-mdc-tab-header-pagination-after {
                    left: auto;
                    right: 1px;
                }
            }
            .mat-mdc-tab {
                .mdc-tab__text-label {
                    font-size: 15px;
                }
            }
            .content {
                margin-top: 0;
                
                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                p {
                    max-width: 100%;
                }
                .default-btn {
                    margin-top: 5px;
                }
            }
            .image {
                padding-left: 0;
                margin-top: 25px;
    
                img {
                    border-radius: 10px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .task-management-inner-box {
        padding: {
            left: 30px;
            right: 30px;
        };
        &::before {
            margin-bottom: 80px;
        }
        .shape {
            display: none;
        }
    }
    ::ng-deep {
        .task-management-tabs {
            .mat-mdc-tab-label-container {
                margin-bottom: 35px;
            }
            .mdc-tab {
                padding: 20px 15px;
            }
            .mat-mdc-tab {
                .mdc-tab__text-label {
                    font-size: 16px;
                }
            }
            .content {
                margin-top: 0;
                
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                p {
                    max-width: 100%;
                }
                .default-btn {
                    margin-top: 8px;
                }
            }
            .image {
                padding-left: 0;
                margin-top: 25px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .task-management-inner-box {
        padding: {
            left: 50px;
            right: 50px;
        };
        &::before {
            margin-bottom: 100px;
        }
        .shape {
            display: none;
        }
    }
    ::ng-deep {
        .task-management-tabs {
            .mat-mdc-tab-label-container {
                margin-bottom: 40px;
            }
            .mdc-tab {
                padding: 20px 15px;
            }
            .mat-mdc-tab {
                .mdc-tab__text-label {
                    font-size: 17px;
                }
            }
            .content {
                margin-top: 0;
                
                h3 {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
                p {
                    max-width: 100%;
                }
                .default-btn {
                    margin-top: 8px;
                }
            }
            .image {
                padding-left: 0;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .task-management-inner-box {
        padding: {
            left: 100px;
            right: 100px;
        };
        &::before {
            margin-bottom: 50px;
        }
        .shape {
            bottom: 3%;
            left: 28%;
        }
    }
    ::ng-deep {
        .task-management-tabs {
            .mat-mdc-tab-label-container {
                margin-bottom: 40px;
            }
            .mdc-tab {
                padding: 20px 15px;
            }
            .mat-mdc-tab {
                .mdc-tab__text-label {
                    font-size: 18px;
                }
            }
            .content {
                margin-top: 50px;
                
                h3 {
                    margin-bottom: 12px;
                }
                p {
                    max-width: 100%;
                }
                .default-btn {
                    margin-top: 8px;
                }
            }
            .image {
                padding-left: 5px;
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .task-management-inner-box {
        padding: {
            left: 100px;
            right: 100px;
        };
    }
    ::ng-deep {
        .task-management-tabs {
            .image {
                padding-left: 15px;
            }
        }
    }

}