<div class="container">

<div class="task-management-area ptb-100">
    <div class="headPart">
<h2>Digital Procurement</h2>
<span class="subHeading">
    Procuring competent technical teams for complex projects, made easy.
</span>
</div>
    <div class="tabbing">
        <div class="line">
            <span> <strong>1 </strong><em>Tendering</em></span>
            <span><strong>2 </strong> <em>Bidding & Matching</em></span>
            <span><strong>3 </strong> <em>Awarding</em></span>
            <span><strong>4 </strong> <em>Commercial Contracting</em></span>
        </div>
     </div>  
     
     <div class="tabContent">
        <div class="tab1">
           <span>Tendering</span> 

           <p>
            BuildTwin assists you in tendering your project with an easy 3-step process. You can tender in private, only <br>invite selected vendors, or tender to the open marketplace with fine granularity in data privacy settings.
           </p>

           <img src="assets/auto/tab1.png" alt="" width="" height="">
        </div>
     </div>
</div>
</div>