<div class="task-management-area ptb-100">
    <div>
        <div class="task-management-inner-box position-relative z-1 pt-100">
            <div class="tt-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
                <h2 class="mb-0 font-mulish">
                    Digital Procurement
                </h2>
                <p class="ms-auto me-auto">
                    Procuring competent technical teams for complex projects made easy. 
                </p>
            </div>
            <div class="task-management-tabs" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Tendering">
                        <div class="content">
                            <h3 class="font-mulish">
                               Tendering
                            </h3>
                            <p>
                                BuildTwin assists you in tendering your project with an easy 3-step process. You can tender in private, only invite selected vendors, or tender to the open marketplace with fine granularity in data privacy settings.
                            </p>
                            <!-- <a mat-button routerLink="/service-details" class="default-btn">Learn More</a> -->
                        </div>
                        <div class="image text-center">
                            <img src="assets/images/task-management/task-management1.jpg" alt="task-management-image">
                        </div>
                    </mat-tab>
                    <mat-tab label="Bidding & Matching">
                        <div class="content">
                            <h3 class="font-mulish">
                                Bidding & Matching
                            </h3>
                            <p>
                                BuildTwin's sophisticated AI system finds the right vendors and enables an easy-to-run bidding process with sampling, verifying information, and running a pre-qualification process.
                            </p>
                            <!-- <a mat-button routerLink="/service-details" class="default-btn">Learn More</a> -->
                        </div>
                        <div class="image text-center">
                            <img src="assets/images/task-management/task-management2.jpg" alt="task-management-image">
                        </div>
                    </mat-tab>
                    <mat-tab label="Awarding">
                        <div class="content">
                            <h3 class="font-mulish">
                                Awarding
                            </h3>
                            <p>
                                BuildTwin creates an easy-to-review and compare bidding results, allowing you to dive deeper into the different bids and their nuances.
                            </p>
                            <!-- <a mat-button routerLink="/service-details" class="default-btn">Learn More</a> -->
                        </div>
                        <div class="image text-center">
                            <img src="assets/images/task-management/task-management3.jpg" alt="task-management-image">
                        </div>
                    </mat-tab>
                    <mat-tab label="Commercial contracting">
                        <div class="content">
                            <h3 class="font-mulish">
                                Commercial contracting
                            </h3>
                            <p>
                                You sign a contract directly with the vendor, while BuildTwin supports a fully digital closing process that meets your compliance standards.
                            </p>
                            <!-- <a mat-button routerLink="/service-details" class="default-btn">Learn More</a> -->
                        </div>
                        <div class="image text-center">
                            <img src="assets/images/task-management/task-management4.jpg" alt="task-management-image">
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- <div class="shape position-absolute z-n1 pe-none">
                <img src="assets/images/shapes/shape10.png" alt="shape10">
            </div> -->
        </div>
    </div>
</div>