.blog-area {
    border-radius: 80px 80px 0 0;
    background-color: #f9f8f7;
}
.blog-item {
    border-radius: 8px;//updated-from-20-8;
    margin-bottom: 25px;
    padding: 10px 10px 50px;
    background-color: var(--whiteColor);

    .image {
        overflow: hidden;
        margin-bottom: 25px;
        border-radius: 8px;//updated-from-20-8;

        img {
            border-radius: 8px;//updated-from-20-8;
            margin-bottom: -6px;
            transition: var(--transition);
        }
    }
    .content {
        padding: {
            left: 18px;
            right: 18px;
        };
        .tag {
            font-size: 13px;
            padding: 8px 15px;
            border-radius: 40px;
            background-color: var(--yellowColor);

            &:hover {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
            }
        }
        .date {
            color: var(--paragraphColor);
        }
        h3 {
            font-size: 20px;
            line-height: 1.4;
            margin: {
                top: 22px;
                bottom: 8px;
            };
        }
        .link-btn {
            font-size: 18px;
            padding-right: 15px;
    
            i {
                top: 50%;
                right: -5px;
                margin-top: 2.7px;
                position: absolute;
                transform: translateY(-50%);
            }
            &:hover {
                color: var(--themeColor);
            }
        }
    }
    &:hover {
        .image {
            img {
                transform: scale(1.08);
            }
        }
    }
}
.link-box {
    margin-top: 15px;
    
    .link-btn {
        font-size: 18px;
        padding-right: 15px;
        color: var(--primaryColor);

        i {
            top: 50%;
            right: -5px;
            margin-top: 2.6px;
            position: absolute;
            transform: translateY(-50%);
        }
        &:hover {
            color: var(--themeColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .blog-area {
        border-radius: 8px//updated-from-20-8 20px 0 0;
    }
    .blog-item {
        border-radius: 10px;
        padding: 5px 5px 20px;
    
        .image {
            margin-bottom: 20px;
            border-radius: 10px;
    
            img {
                border-radius: 10px;
            }
        }
        .content {
            padding: {
                left: 10px;
                right: 10px;
            };
            h3 {
                font-size: 18px;
                margin: {
                    top: 20px;
                    bottom: 6px;
                };
            }
            p {
                margin-bottom: 10px;
            }
            .link-btn {
                font-size: 17px;
            }
        }
        &:hover {
            .image {
                img {
                    transform: scale(1.08);
                }
            }
        }
    }
    .link-box {
        margin-top: 0;
        
        .link-btn {
            font-size: 17px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .blog-area {
        border-radius: 40px 40px 0 0;
    }
    .blog-item {
        padding-bottom: 25px;
    
        .image {
            margin-bottom: 20px;
        }
        .content {
            padding: {
                left: 12px;
                right: 12px;
            };
            h3 {
                margin: {
                    top: 20px;
                    bottom: 7px;
                };
            }
        }
    }
    .link-box {
        margin-top: 0;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .blog-area {
        border-radius: 60px 60px 0 0;
    }
    .blog-item {
        padding: 10px 10px 30px;
    
        .image {
            margin-bottom: 20px;
        }
        .content {
            padding: {
                left: 10px;
                right: 10px;
            };
            h3 {
                margin-top: 20px;
            }
        }
    }
    .link-box {
        margin-top: 5px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .blog-item {
        padding: 10px 10px 30px;
        
        .content {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .blog-item {
        padding: 10px 10px 30px;
    }

}