.title {
  font-family: var(--medium-global);
}
.icon {
  color: #000;
}

.icon:hover {
  color: #886de0;
}

.activeIcon {
  color: #886de0;
}
.activeContainer {
  border-bottom: 2px solid #886de0;
}
.sectionHeader {
  display: flex;
  align-items: center;
  .icon {
    padding-top: 25px;
  }
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    font-size: 27px;
    font-family: var(--semibold-global);
  }
  .subTile {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 400;
  }
}
.sectionHead {
  text-align: start;
  font-size: 27px;
  font-family: var(--semibold-global);
}
.bodyWrapper {
  margin: 15px 20px 28px 20px;
  padding: 32px 22px 22px 22px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 9.194px 36.774px 0px rgba(44, 44, 44, 0.04);
}
.sectionMidContainer {
  border-bottom: 2px solid #efefef;
}
.sectionMidMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 80%;
  gap: 10px;
  margin: 0px auto;
}
.buildTwinItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  // height: 60px;
  cursor: pointer;
  padding-bottom: 12px;
}

.sectionContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  height: 450px;
  margin: 30px auto;
}
.leftChild {
  width: 40%;
  border-radius: 9px;
  border: 1px solid #e3e2e0;
  background: #fff;
  height: 100%;
  padding: 20px 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .contentIconSection {
    // background: url(../../../../../assets/images/ellipse.svg) no-repeat
    //   center/cover;
    height: 60%;
    display: flex;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: 40%;
    width: 100%;
    // flex-wrap: wrap;
    align-items: center;
    gap: 25px;
  }
  .contentHeader {
    font-size: 16px;
    font-family: var(--semibold-global);
    // height: 30px;
    // width: 25%;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 17px;
    border-bottom: 2px solid #886de0;
  }
  .contentDetails {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #000;
  }
}
.rightChild {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 37px;
  width: 60%;
  height: 100%;
  border-radius: 9px;
  border: 1px solid #e3e2e0;
  background: #fff;
  .contentWrapper {
    height: 100%;
  }
  .content {
    margin: 30px 0;
  }
  .contentHeader {
    font-size: 16px;
    font-family: var(--semibold-global);
  }
  .contentDetails {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #F6F3FF;
    }
  }
  p {
    margin-top: 20px;
    font-size: 13px;
    font-family: var(--body-font);
  }
  .detailItem {
    font-size: 13px;
    font-family: var(--body-font);
  }
  .noLink {
    font-family: var(--medium-global);
    color: #886DE0;
  }
}
.detailLink {
  // color: #886de0;
  // border-bottom: 1px solid #886de0;
}
.detailText {
  color: #000;
}
.divider {
  width: 100%;
  border: 2px solid #886de0;
}
hr {
  margin: 10px 0;
}

@media only screen and (max-width : 767px) {
  .sectionHeader {
    .icon {
      margin-left: -15px;
    }
  }

  .bodyWrapper {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 30px 0;
  }

  .sectionMidMain {
    width: 100%;
    font-size: 15px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .buildTwinItemsContainer {
    white-space: nowrap;
  }

  .sectionContent {
    flex-direction: column;
    height: auto;

    .leftChild {
      width: auto;
      padding: 30px 20px;

      .contentIconSection {
        width: 135px;
      }
    }

    .rightChild {
      width: auto;
      padding: 30px 20px;

      .content {
        margin: 0 0 30px;
      }
    }
  }
}
