<div class="container" [ngClass]="{'bg': !heading}">
    <div class="heading" *ngIf="!heading">
        <div class="title" *ngIf="!page; else other_content">Discover Sectors</div>
        <ng-template #other_content>
            <div class="title">
                Engineering Sectors We Serve
            </div>
            <div class="subTitle">Specialized engineering solutions across diverse industries, delivered by pre-qualified expert teams</div>
        </ng-template>
    </div>
    <div class="list squareButtonWrapper top-right" [ngClass]="{'below-6': slides[0]['images'].length<6}">
        <owl-carousel-o [options]="customOptions">
            <!-- *ngIf="isBrowser" -->
        <ng-template carouselSlide *ngFor="let image of slides[0]['images']; let i = index">
            <a class="service__items__sub" target="_blank" [routerLink]="image['link'] ? image['link'] : ''">
                <div class="block" [ngClass]="{'active': image['active']}">
                    <div>
                        <h3 [innerHtml]="image['title']">
                            
                        </h3>
                        <p class="hover-show" [innerHtml]="image['description']">
                        </p>
                    </div>
                    <figure>
                        <!-- <picture>
                            <source srcset="{{item.img}}.webp, {{item.img}}@2x.webp 2x" type="image/webp">
                            <img 
                                src="{{item.img}}.png" 
                                srcset="{{item.img}}.png, {{item.img}}@2x.png 2x" 
                                width="349" 
                                height="435" 
                                alt="{{item['name']}}">
                        </picture> -->
                        <picture>
                            <source [srcset]="image.src.webp" type="image/webp">
                            <source [srcset]="image.src.fallback" type="image/png">
                            <img [src]="image.src.fallback" 
                                 [alt]="image.title"
                                 width="349" 
                                 height="435" 
                                 loading="lazy">
                        </picture>
                    </figure>
                </div>
            </a>
        </ng-template>
        </owl-carousel-o>
    </div>
</div>

<!-- <a [routerLink]="image.link || null" class="link-text" *ngIf="image['link']">
    Learn More
</a> -->