<div class="container">
    <div class="border-top pb-100"></div>
    <h2 class="title d-block text-center font-archivo" data-aos="fade-up" data-aos-duration="500">
        Trusted by leading engineering companies
    </h2>
    <div class="row align-items-center justify-content-center">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner1.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner2.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner3.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner4.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner5.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner6.png" alt="partner-image">
            </div>
        </div>
    </div>
    <div class="border-bottom pt-75"></div>
</div>