<div class="sectionContainer">
    <div class="container">
    <div class="abs-d">
        <img src="assets/images/dots.png" width="269" height="306" alt="">
    </div>
    <div class="sectionTop" data-aos="fade-up" data-aos-duration="500">
        <h1 class="heading">Services</h1>
        <div class="assistant">
            <img src="assets/images/avatar.svg" alt="avatar">
            <div class="assitWrapper">
                <div>Need help?</div>
                <a href="#" class="link">Talk to our Advisors</a>
            </div>

        </div>
    </div>
    <div class="sectionMid"  data-aos="fade-up" data-aos-duration="500"  data-aos-delay="100">
        <div class="content">
            The best way to procure pre-qualified technical teams across the globe.
        </div>  
        <a class="themeButton bookServicesButton" target="_blank" href="https://cockpit.buildtwin.com/signin">
            <span>Book Services</span> <lib-svg-icon [name]="'arrow-icon'" [size]="16" [sizeH]="18"></lib-svg-icon>
        </a>
    </div>
    <div class="sectionBottom" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
        <div class="headerCarousel">
            <nz-carousel [nzDots]="false">
                <div nz-carousel-content *ngFor="let subServiceArray of discoverServices">

                    <div class="carouselWrapper">
                        <lib-svg-icon [name]="'rightArrow-icon'" class="leftslideButton" (click)="prev()" [size]="88"
                            [sizeH]="88">
                        </lib-svg-icon>
                        <ng-container *ngFor=" let item of subServiceArray">
                            <a class="cardWrapper" href="https://www.buildtwin.com/engineering-services/services">
                                <img src="{{item.img}}" alt="cardImage" [attr.width]="item.width" [attr.height]="item.height">
                                <div class="detail">
                                    {{item.name}}
                                </div>
                            </a>
                        </ng-container>
                        <lib-svg-icon [name]="'rightArrow-icon'" class="rightslideButton" (click)="next()" [size]="88"
                            [sizeH]="88">
                        </lib-svg-icon>
                    </div>
                </div>
            </nz-carousel>



        </div>
    </div>
</div>
</div>