.slide-wrapper111:not(.ng-star-inserted) {
  display: none!important;
}
.slider {
  padding-right: 0;
  ::ng-deep div .active + .active, ::ng-deep div .owl-item {
    height: 140px;
    margin-top: 230px;
    transition: all 0.5s ease;
    position: relative;
    .service__items__sub__title {
      display: block;
    }
    .service__items__title {
      opacity: 0;
      visibility: hidden;
    }
    .service__items__sub {
      display: grid;
      padding-inline-start: 10px;
      padding-block-start: 10px;
      img.service__items__sub__image {
        justify-self: end;
        align-self: end;
        width: 151px;
      }
    }
  }
  ::ng-deep div .active {
    height: 370px;
    margin-top: 0;
    transition: all 0.5s ease;
    .service__items__sub__title {
      display: none;
    }
    .service__items__title {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease 0.3s;
      padding-right: 100px;
    }
    .service__items__sub {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      img.service__items__sub__image {
        justify-self: center;
        align-self: center;
        width: 100%;
      }
    }
  }
}
.services {
  padding: 78px 0 40px 100px;
  font-family: var(--fontFamily);
  background: var(--whiteColor) url(../../../../assets/images/servicie-bg.png) right 22px no-repeat;
  background-size: 665px 614px;
  transition: all .5s ease;
  .main-head {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 24px;
    margin-block-end: 41px;
    padding-right: 100px;
  }
  .main-title {
    font-family: var(--fontFamily);
    font-size: 20px;
    font-weight: 600;
    color: var(--themeColor);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 17px;
    &:after {
      content: '';
      width: 85px;
      height: 2px;
      border: 1px solid var(--themeColor);
    }
  }
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title{
    font-size: 44px;
    font-family: var(--fontFamily);
    font-weight: 500;
    color: var(--newButtonColor);
    margin: 0 0 2px;
  }

  .subTitle{
    font-size: 18px;
    color: var(--lightTextColor);
    font-weight: 400;
    letter-spacing: .35px;
  }

  .align-self-end {
    align-self: end;
  }

  .service__items {
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 170px 170px;
    gap: 24px;
    font-family: var(--fontFamily);
    &__main {
      grid-row: 1/-1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      img {
        transform: scale(2);
      }
      background: linear-gradient(to bottom left ,#F4F6F7 0%, #002E3B 95%);
      &.active {
        // animation: fadeInOut 5s infinite;
      }
    }
    &__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding-right: 0;
      position: absolute;
      left: calc(100% + 16px);
      width: 300%;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
      height: 228px;
      top: 0;
      justify-content: center;
      &.active {
        // animation: fadeInOut 5s infinite;
      }
      &--main {
        color: var(--newButtonColor);
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        a {
          color: inherit;
        }
      }
      &--sub {
        color: #668189;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }
    }
    &__subWrapper {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      gap: 24px;
      width: 100%;
      overflow-x: auto;
    }
    &__sub {
      display: grid;
      grid-template-columns: 50% 50%;
      border-radius: 16px;
      padding-inline-start: 10px;
      padding-block-start: 10px;
      height: 100%;
      // animation: fadeInOut 5s infinite;
      position: relative;
      &__title {
        font-size: 16px;
        font-size: 30px;
        font-weight: 500;
        color: var(--newButtonColor);
        position: relative;
        z-index: 9;
        margin: 0;
        // word-wrap: break-word;
      }
      &__image {
        justify-self: end;
        align-self: end;
      }
    }
  }

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    20%, 90% {
      opacity: 1;
    }
    0% {
      left: 0;
    }
    90% {
      left: 0;
    }
    100% {
      left: -100px;
    }

  }
  
  ::ng-deep .owl-item {
    overflow: visible;
  }
  .headerCarousel {
    ::ng-deep .owl-stage {
      display: flex;
    }
  }
  .carousel-item {
    border-radius: 8px;
    display: flex;
    transition: transform 0.25s ease-in-out;
    height: 170px;
    width: 300px;
    img {
      align-self: flex-end;
      justify-self: flex-end;
      height: unset !important;
    }
    a {
      display: flex;
      &:hover {
        text-decoration: none;
        color: initial;
      }
    }
  }

  .highlighted-image {
    transform: scaleY(2) translateY(10px);
  }

  .highlighted-slide {
    a {
      visibility: hidden;
    }
  }
  
  .highlighted-text {
    
  }
}
.default-btn {

}
@media only screen and (max-width : 1200px) {
  .services {
      padding-left: 30px;
  }
}

@media only screen and (max-width : 992px) {
  .services {
    padding-left: 20px;
  }
  .services .main-head, .slider {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .services .main-title {
    font-size: 16px;
  }
  .services .title {
    font-size: 24px;
  }
  .services .subTitle {
    font-size: 14px;
  }
  .services .service__items__title--main {
    font-size: 24px;
  }
  .services .service__items__sub__title {
    font-size: 24px;
  }
  .slider ::ng-deep div .active {
    height: auto;
  }
  .services .service__items__title {
    position: static;
    width: auto;
    height: auto;
    padding-top: 20px;
  }
  .slider ::ng-deep div .active + .active, .slider ::ng-deep div .owl-item {
    height: auto;
    margin-top: 0;
  }
  .slider ::ng-deep div .active .service__items__sub__title {
    display: block;
  }
  .slider ::ng-deep div .active .service__items__sub {
    display: grid;
    padding-inline-start: 10px;
    padding-block-start: 10px;
    align-items: center;
    justify-content: center;
  }
  .slider ::ng-deep div .active + .active .service__items__sub, .slider ::ng-deep div .owl-item .service__items__sub {
    align-items: center;
    justify-content: center;
  }
  .slider ::ng-deep div .active + .active .service__items__title, .slider ::ng-deep div .owl-item .service__items__title {
    opacity: 1;
    visibility: visible;
}
}
@media only screen and (max-width: 567px) {
  .services {
    padding: 10px !important;
    .main-head {
      grid-template-columns: 1fr;
      margin-block-end: 24px;
    }
    .service__items {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
      &__main {
        grid-column: unset !important;
        grid-row: 2/3 !important;
        img {
          width: 240px;
          margin-top: -20px;
          margin-bottom: -20px;
          transform: none;
        }
      }
      &__title {
        grid-column: unset !important;
        grid-row: 1/2 !important;
      }
    }
  }
}