.banner-area {
    padding: {
        top: 134px;
        bottom: 164px;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        position: absolute;
        border-radius: 50px;
        background: #f7f5f1;
        margin: {
            left: 50px;
            right: 50px;
        };
    }
    .shape1 {
        left: 17px;
        top: 44%;

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
    .shape2 {
        left: 47.4%;
        top: 10.8%;

        img {
            animation: {
                duration: 30s;
                name: rotateme;
                timing-function: linear;
                iteration-count: infinite;
            };
        }
    }
    .shape3 {
        right: 50px;
        top: 81%;

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
    .shape4 {
        bottom: -5px;
        left: 44%;

        img {
            animation: moveleftbounce 2s linear infinite;
        }
    }
}
.banner-content {
    top: -12px;

    .sub-title {
        color: var(--primaryColor);
        margin-bottom: 10px;
    }
    h1 {
        font-size: 60px;
        line-height: 1.16;
        margin-bottom: 8px;
    }
    p {
        max-width: 592px;
        letter-spacing: 0.4px;
    }
    .features-list {
        margin-top: 25px;

        li {
            padding-left: 28px;
            margin-bottom: 10px;
            letter-spacing: 0.4px;
            color: var(--paragraphColor);

            i {
                left: 0;
                top: 50%;
                margin-top: 1px;
                position: absolute;
                transform: translateY(-50%);
                color: var(--neonOrangeColor);
            }
            a {
                color: var(--blackColor);

                &:hover {
                    color: var(--primaryColor);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
::ng-deep {
    .banner-form {
        padding-right: 180px;
        max-width: 583px;
        margin-top: 20px;

        i {
            top: 50%;
            left: 20px;
            z-index: 1;
            position: absolute;
            transform: translateY(-50%);
        }
        .mat-mdc-form-field {
            display: block;

            .mdc-text-field--filled {
                border-radius: 10px;
                background-color: var(--whiteColor);
                padding: {
                    left: 52px;
                    right: 30px;
                };
            }
            .mat-mdc-text-field-wrapper {
                .mat-mdc-form-field-infix {
                    min-height: 50px;
                    width: 100%;

                    .mat-mdc-floating-label {
                        color: #706f74;
                        top: 24px;
                        font: {
                            size: 18px;
                            weight: 500;
                            family: var(--fontFamily);
                        };
                    }
                    .mdc-text-field__input {
                        color: var(--blackColor);
                        font: {
                            size: 17px;
                            weight: 500;
                            family: var(--mulishFontFamily);
                        };
                    }
                }
                &:not(.mdc-text-field--outlined) {
                    .mat-mdc-form-field-infix {
                        padding: {
                            top: 14px;
                            bottom: 7px;
                        };
                    }
                }
            }
            .mat-mdc-form-field-subscript-wrapper, .mdc-line-ripple {
                display: none;
            }
            .mat-mdc-form-field-focus-overlay {
                display: none;
            }
            .mdc-text-field--filled {
                &:not(.mdc-text-field--disabled) {
                    .mdc-text-field__input {
                        caret-color: var(--blackColor);
                    }
                }
            }
        }
        .mat-mdc-button {
            top: 0;
            right: 0;
            bottom: 0;
            height: auto;
            min-width: unset;
            position: absolute;
            border-radius: 10px;
            display: inline-block;
            padding: 11px 30px 12px;
            color: var(--whiteColor) !important;
            background-color: var(--primaryColor);
            font: {
                size: 16px;
                weight: 500;
                family: var(--mulishFontFamily);
            };
            .mdc-button__ripple {
                border-radius: 10px;
            }
            .mat-mdc-button-touch-target {
                height: 100%;
                border-radius: 10px;
            }
            .mat-mdc-focus-indicator {
                border-radius: 10px;
            }
        }
    }
}
.banner-image {
    padding: {
        left: 65px;
        right: 10px;
    };
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .banner-area {
        padding: {
            top: 60px;
            bottom: 60px;
        };
        &::before {
            border-radius: 0;
            margin: {
                left: 0;
                right: 0;
            };
        }
        .shape1, .shape2, .shape3, .shape4 {
            display: none;
        }
    }
    .banner-content {
        top: 0;
    
        .sub-title {
            margin-bottom: 10px;
            font-size: 14.5px;
        }
        h1 {
            font-size: 28px;
            line-height: 1.2;
            margin-bottom: 8px;
        }
        p {
            max-width: 100%;
        }
        .features-list {
            margin-top: 20px;
    
            li {
                padding-left: 27px;
            }
        }
    }
    ::ng-deep {
        .banner-form {
            margin-top: 20px;
            padding-right: 0;
            max-width: 100%;
    
            i {
                top: 17px;
                left: 15px;
                transform: translateY(0);
            }
            .mat-mdc-form-field {
                .mdc-text-field--filled {
                    border-radius: 5px;
                    padding: {
                        left: 42px;
                        right: 15px;
                    };
                }
                .mat-mdc-text-field-wrapper {
                    .mat-mdc-form-field-infix {
                        .mat-mdc-floating-label {
                            top: 24px;
                            font-size: 17px;
                        }
                        .mdc-text-field__input {
                            font-size: 16px;
                        }
                    }
                }
            }
            .mat-mdc-button {
                font-size: 14px;
                margin-top: 15px;
                border-radius: 5px;
                position: relative;
                padding: 15px 30px;
                
                .mdc-button__ripple {
                    border-radius: 5px;
                }
                .mat-mdc-button-touch-target {
                    border-radius: 5px;
                }
                .mat-mdc-focus-indicator {
                    border-radius: 5px;
                }
            }
        }
    }
    .banner-image {
        margin-top: 25px;
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .banner-area {
        padding: {
            top: 80px;
            bottom: 80px;
        };
        &::before {
            border-radius: 0;
            margin: {
                left: 0;
                right: 0;
            };
        }
        .shape1, .shape2 {
            display: none;
        }
        .shape3 {
            right: 0;
        }
    }
    .banner-content {
        top: 0;
    
        .sub-title {
            margin-bottom: 10px;
            font-size: 15.5px;
        }
        h1 {
            font-size: 35px;
            line-height: 1.2;
            margin-bottom: 9px;
        }
        p {
            max-width: 100%;
        }
        .features-list {
            margin-top: 20px;
        }
    }
    ::ng-deep {
        .banner-form {
            max-width: 580px;
            padding-right: 175px;
    
            .mat-mdc-form-field {
                .mdc-text-field--filled {
                    padding: {
                        left: 50px;
                        right: 20px;
                    };
                }
                .mat-mdc-text-field-wrapper {
                    .mat-mdc-form-field-infix {
                        .mat-mdc-floating-label {
                            font-size: 17px;
                        }
                        .mdc-text-field__input {
                            font-size: 16px;
                        }
                    }
                }
            }
            .mat-mdc-button {
                font-size: 15px;
            }
        }
    }
    .banner-image {
        margin-top: 25px;
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .banner-area {
        padding: {
            top: 100px;
            bottom: 100px;
        };
        &::before {
            border-radius: 0;
            margin: {
                left: 0;
                right: 0;
            };
        }
        .shape1, .shape2 {
            display: none;
        }
        .shape3 {
            right: 0;
        }
    }
    .banner-content {
        top: 0;
    
        .sub-title {
            margin-bottom: 10px;
            font-size: 17px;
        }
        h1 {
            font-size: 43px;
            line-height: 1.2;
            margin-bottom: 8px;
        }
        p {
            max-width: 100%;
        }
        .features-list {
            margin-top: 20px;
    
            li {
                margin-bottom: 8px;
                font-size: 19px;
            }
        }
    }
    ::ng-deep {
        .banner-form {
            padding-right: 180px;
            max-width: 100%;
        }
    }
    .banner-image {
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .banner-area {
        padding: {
            top: 120px;
            bottom: 120px;
        };
        &::before {
            border-radius: 0;
            margin: {
                left: 0;
                right: 0;
            };
        }
        .shape1 {
            display: none;
        }
        .shape2 {
            left: 55%;
            top: 10%;
        }
        .shape3 {
            right: 0;
        }
    }
    .banner-content {
        top: 0;
    
        .sub-title {
            font-size: 18px;
        }
        h1 {
            font-size: 55px;
            margin-bottom: 10px;
        }
        p {
            max-width: 100%;
        }
        .features-list {
            margin-top: 20px;
    
            li {
                margin-bottom: 9px;
            }
        }
    }
    ::ng-deep {
        .banner-form {
            max-width: 100%;
        }
    }
    .banner-image {
        padding: {
            left: 15px;
            right: 0;
        };
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .banner-area {
        padding: {
            top: 135px;
            bottom: 140px;
        };
        &::before {
            margin: {
                left: 20px;
                right: 20px;
            };
        }
        .shape1 {
            left: 5px;
            
            img {
                max-width: 45px;
            }
        }
        .shape3 {
            right: 20px;
        }
    }
    .banner-content {
        top: 0;

        p {
            max-width: 590px;
        }
    }
    .banner-image {
        padding: {
            left: 25px;
            right: 0;
        };
    }

}