<div class="bannerWrapper">
    <img src="../../../../assets/images/serviceBanner.jpg" alt="">
    <div class="bannerContainer">
        <div class="container" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="container-with-right">
                <h1>One-stop collaboration <br> for all
                    structural steel <br> detailing services. </h1>
                <p>Get all your structural steel detailing needs met with a comprehensive platform
                    to serve a range of services.</p>
            </div>
        </div>
    </div>
</div>