.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.coverPopupData {
    position: relative;
    height: 422px;
    overflow: hidden;
    width: 500px;
}
.buildtwinHelps {
    margin-bottom: 0;
}