.core-elements-bullets{
    list-style: disc;
    margin-bottom: 5px;
    padding-left: 35px;
    li::marker {
        font-size: 22px; /* Increase bullet size */
        font-weight: bold; /* Make bullets bold */
        // color: #333; /* Optional: Change bullet color */
      }
}

.heading-p{
  font-size: 18px; font-weight: 400; color: var(--lightTextColor);
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 15px;
}