.whyBuildtwinSection{
  padding: 40px 0 0; 
  background-color: var(--whiteColor);
  .container {
    margin-inline: auto;
    // padding-inline: 24px;
  }
}

.main-title {
  font-family: var(--fontFamily);
  font-size: 20px;
  font-weight: 600;
  color: var(--themeColor);
  display: flex;
  align-items: center;
  gap: 24px;
  &:after {
    content: '';
    width: 100px;
    height: 2px;
    border: 1px solid var(--themeColor);
  }
}

.title {
    font-family: var(--fontFamily);
  }
  .icon {
    color: #000;
  }
  
  .icon:hover {
    color: #0053fa;
  }
  
  .activeIcon {
    color: #0053fa;
  }
  .activeContainer {
    border-bottom: 2px solid #0053fa;
    background-color: var(--newBackgroundColor);
    color: var(--newButtonColor) !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .sectionHeader {
    display: flex;
    align-items: center;
    .icon {
      padding-top: 25px;
    }
    .heading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .title {
      font-size: 27px;
      font-family: var(--fontFamily);
    }
    .subTile {
      margin: 5px 0;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .main-head {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 24px;
  }
  .align-self-end {
    align-self: end;
  }
  .sectionHead {
    text-align: start;
      .title{
      font-size: 40px;
      font-family: var(--fontFamily);
      font-weight: 600;
      color: var(--newButtonColor);
      }
      .subTitle{font-size: 18px; color: var(--lightTextColor); font-weight: 400;}
  }
  .bodyWrapper {
    margin: 15px 20px 28px 20px;
    padding: 32px 22px 22px 22px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0px 9.194px 36.774px 0px rgba(44, 44, 44, 0.04);
  }
  .sectionMidContainer {
    border-bottom: 2px solid #efefef;
  }
  .sectionMidMain {
    display: grid;
    align-items: center;
    // justify-content: space-between;
    gap: 15px;
    width: 80%;
    gap: 10px;
    margin: 0px auto;
  }
  .buildTwinItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    gap: 10px;
    padding: 10px;
    // height: 60px;
    cursor: pointer;
    padding-bottom: 12px;
    font-weight: 600;
    color: var(--lightTextColor);
    font-size: 20px;
  }
  
  .sectionContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    height: 450px;
    margin: 30px auto;
  }
  .leftChild {
    width: 40%;
    border-radius: 9px;
    // border: 1px solid #e3e2e0;
    background: #fff;
    height: 100%;
    padding: 20px 20px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .contentIconSection {
      // background: url(../../../../../assets/images/ellipse.svg) no-repeat
      //   center/cover;
      height: 60%;
      display: flex;
      align-items: center;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // height: 40%;
      width: 100%;
      // flex-wrap: wrap;
      align-items: center;
      gap: 25px;
    }
    .contentHeader {
      font-size: 18px;
      font-family: var(--fontFamily);
      // height: 30px;
      // width: 25%;
      font-weight: 600;
      flex-wrap: wrap;
      text-align: center;
      padding-bottom: 17px;
      border-bottom: 2px solid #0053fa;
    }
    .contentDetails {
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      color: #000;
    }
  }
  .rightChild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 37px;
    width: 60%;
    height: 100%;
    border-radius: 9px;
    border: 1px solid #e3e2e0;
    background: var(--newBackgroundColor);
    .contentWrapper {
      height: 100%;
    }
    .content-top {
      display: grid;
      gap: 12px;
      &__icon {
        width: 90px;
        height: 90px;
      }
      &__title {
        font-size: 18px;
        font-weight: 600;
        text-decoration: underline;
        color: black;
      }
    }
    .content {
      margin: 30px 0;
    }
    .contentHeader {
      font-size: 18px;
      font-family: var(--fontFamily);
      font-weight: 600;
    }
    .contentDetails {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .detail {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--themeColor);
      }
    }
    p {
      margin-top: 20px;
      font-size: 14px;
      font-family: var(--fontFamily);
      font-weight: 400;
    }
    .detailItem {
      font-size: 14px;
      font-weight: 400;
      font-family: var(--fontFamily);
    }
    .noLink {
      font-family: var(--fontFamily);
      color: #0053fa;
    }
  }
  .detailLink {
    // color: #0053fa;
    // border-bottom: 1px solid #0053fa;
  }
  .detailText {
    color: #000;
  }
  .divider {
    width: 100%;
    border: 2px solid #0053fa;
  }
  hr {
    margin: 10px 0;
  }

@media only screen and (max-width : 767px) { 
  .sectionHead {
    .heading {
      text-align: center;
      padding: 0 25px;
    }
  }

  .bodyWrapper {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 30px 0;
  }

  .sectionMidMain {
    width: 100%;
    font-size: 15px;
    overflow: auto;
  }

  .buildTwinItemsContainer {
    white-space: nowrap;
  }

  .sectionContent {
    flex-direction: column;
    height: auto;

    .leftChild {
      width: auto;
      padding: 30px 20px;

      .contentIconSection {
        width: 135px;
      }
    }

    .rightChild {
      width: auto;
      padding: 30px 20px;

      .content {
        margin: 0 0 30px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .main-head {
    grid-template-columns: unset;
  }
}
  