<div class="container">
    <div class="section-title">
        <span class="sub-title">BuildTwin Training for Germany</span>
        <h2>Get ready for Germany! </h2>
        <p>From Zero to performing in real projects - in less than 100 days. Our BuildTwin program for Germany trains 
            for the engineering requirements for the German market.</p>
    </div>

  
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="single-courses-box">
                <div class="courses-image">
                    <a routerLink="/single-courses-1" class="d-block image">
                        <img src="assets/images/training/courses/img1.jpg" alt="image">
                    </a>
                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                    <div class="price shadow">1</div>
                </div>
                <div class="courses-content">
                    <div class="course-author d-flex align-items-center">
                        <img src="assets/images/training/user1.svg" class="rounded-circle" alt="image">
                        <span>10+ clients</span>
                    </div>
                    <h3><a routerLink="/single-courses-1">German Building Code</a></h3>
                    <p>
                        In this course, you'll learn the foundation of planning for 
                        the German market. The course also teaches you the code for 
                        efficiently and safely planning.  
                    </p>
                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                        <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                        <li><i class='flaticon-people'></i> 145 Students</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-courses-box">
                <div class="courses-image">
                    <a routerLink="/courses-sample" class="d-block image">
                        <img src="assets/images/training/courses/img2.jpg" alt="image">
                    </a>
                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                    <div class="price shadow">2</div>
                </div>
                <div class="courses-content">
                    <div class="course-author d-flex align-items-center">
                        <img src="assets/images/training/user2.svg" class="rounded-circle" alt="image">
                        <span>10+ clients</span>
                    </div>
                    <h3><a routerLink="/courses-sample">Software Training</a></h3>
                    <p>
                        In this course, you will learn to work with the cutting-edge 
                        software ALLPLAN. You will master not only the software itself but 
                        also how to smartly implement technical solutions.                        
                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                        <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-courses-box">
                <div class="courses-image">
                    <a routerLink="/courses-sample" class="d-block image">
                        <img src="assets/images/training/courses/img3.jpg" alt="image">
                    </a>
                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                    <div class="price shadow">3</div>
                </div>
                <div class="courses-content">
                    <div class="course-author d-flex align-items-center">
                        <img src="assets/images/training/user3.svg" class="rounded-circle" alt="image">
                        <span>10+ clients</span>
                    </div>
                    <h3><a routerLink="/single-courses-1">German Pre-Cast & On-Site</a></h3>
                    <p>
                        In this course, you will learn the intricacies of managing precast 
                        yards and construction sites, as well as how to plan for their requirements.
                    </p>
                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                        <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="courses-info">
                <p>Enjoy the top notch learning methods and achieve next level skills! 
                <br>
                Learn. Practice. Archive.
                </p>
            </div>
        </div>
    </div>
</div>