<div class="team-area">
    <div class="container">
        <div class="team-inner-area">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="customer-support-image text-center" data-aos="fade-up" data-aos-duration="500">
                        <img src="assets/images/badge.png" alt="badge-image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="customer-support-content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <span class="sub-title d-block font-syne fw-semibold">
                            Customer Support
                        </span>
                        <h2>
                            Get award-winning customer support
                        </h2>
                        <p>
                            With a Stevie Award for fantastic customer support and more than 4,000 five-star reviews on Shopify, we know how to get support right. Get top-notch 24/7 customer support to help your business grow.
                        </p>
                    </div>
                </div>
            </div>
            <div class="border"></div>
            <h3 class="text-center">
                Meet amazing people behind our support
            </h3>
            <div class="team-slides" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <owl-carousel-o [options]="teamSlides">
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team1.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Jane Ronan
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team2.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Angela Carter
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team3.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Skyler White
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team4.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Jessy Pinkman
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team5.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Jonathon Ronan
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team6.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Walter White
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team7.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Beny Scantter
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team8.jpg" alt="team-image">
                            <h3 class="mb-0">
                                John Doe
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team9.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Jack Smith
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team10.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Olivia Scatter
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team11.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Jenny Watson
                            </h3>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-team-box position-relative">
                            <img src="assets/images/teams/team12.jpg" alt="team-image">
                            <h3 class="mb-0">
                                Vicky Watson
                            </h3>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>