.team-inner-area {
    border-radius: 8px;//updated-from-20-8;
    padding: 100px 130px;
    background-color: var(--backgroundColor);

    .border {
        padding-top: 75px;
        margin-bottom: 73px;
        border-bottom: 1px solid var(--whiteColor);
    }
    h3 {
        font-size: 24px;
        margin-bottom: 35px;
    }
}
.customer-support-image {
    margin: {
        left: -93px;
        top: 10px;
    };
}
.customer-support-content {
    margin-left: -30px;
    max-width: 656px;

    .sub-title {
        font-size: 16px;
        margin-bottom: 14px;
        color: var(--themeColor);
    }
    h2 {
        margin-bottom: 16px;
        font-size: 40px; font-weight: 600;
        line-height: 1.3;
    }
}
.single-team-box {
    img {
        border-radius: 8px;
    }
    h3 {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 20px;
        font-size: 16px;
        position: absolute;
        color: var(--whiteColor);
        border-radius: 0 0 8px 8px;

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            content: '';
            z-index: -1;
            position: absolute;
            visibility: hidden;
            backdrop-filter: blur(65px);
            border-radius: 0 0 8px 8px;
            transition: var(--transition);
            background: rgba(255, 255, 255, 0.20);
        }
    }
    &:hover {
        h3 {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
::ng-deep {
    .team-slides {
        .owl-theme {
            .owl-nav {
                &.disabled+.owl-dots {
                    margin-top: 25px;
                }
            }
            .owl-dots {
                .owl-dot {
                    span {
                        width: 10px;
                        height: 10px;
                        margin: 0 5px;
                        border-radius: 50%;
                        background: var(--whiteColor);
                        transition: var(--transition);
                    }
                    &:hover, &.active {
                        span {
                            background: var(--themeColor);
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .team-inner-area {
        border-radius: 4px;
        padding: 60px 15px;
    
        .border {
            padding-top: 40px;
            margin-bottom: 40px;
        }
        h3 {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    .customer-support-image {
        margin: {
            bottom: 15px;
            left: 0;
            top: 0;
        };
    }
    .customer-support-content {
        margin-left: 0;
        max-width: 100%;
    
        .sub-title {
            font-size: 14px;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 7px;
            font-size: 25px;
        }
    }
    .single-team-box {
        img {
            border-radius: 4px;
        }
        h3 {
            padding: 15px;
            font-size: 16px;
            border-radius: 0 0 10px 10px;
    
            &::before {
                border-radius: 0 0 10px 10px;
            }
        }
    }
    ::ng-deep {
        .team-slides {
            .owl-theme {
                .owl-nav {
                    &.disabled+.owl-dots {
                        margin-top: 20px;
                    }
                }
                .owl-dots {
                    .owl-dot {
                        span {
                            margin: 0 4px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .team-inner-area {
        padding: 80px 35px;
    
        .border {
            padding-top: 50px;
            margin-bottom: 50px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 30px;
        }
    }
    .customer-support-image {
        margin: {
            bottom: 25px;
            left: 0;
            top: 0;
        };
    }
    .customer-support-content {
        margin-left: 0;
        max-width: 100%;
    
        .sub-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 9px;
            font-size: 29px;
        }
    }
    .single-team-box {
        h3 {
            font-size: 18px;
        }
    }
    ::ng-deep {
        .team-slides {
            .owl-theme {
                .owl-nav {
                    &.disabled+.owl-dots {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .team-inner-area {
        padding: 100px 45px;
    
        .border {
            padding-top: 70px;
            margin-bottom: 70px;
        }
    }
    .customer-support-image {
        margin: {
            left: 0;
            top: 0;
        };
    }
    .customer-support-content {
        margin-left: 0;
        max-width: 100%;
    
        .sub-title {
            font-size: 15px;
            margin-bottom: 11px;
        }
        h2 {
            margin-bottom: 11px;
            font-size: 40px; font-weight: 600;
        }
    }
    .single-team-box {
        h3 {
            padding: 18px;
        }
    }
    ::ng-deep {
        .team-slides {
            .owl-theme {
                .owl-nav {
                    &.disabled+.owl-dots {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .team-inner-area {
        padding: 100px;
    
        .border {
            padding-top: 75px;
            margin-bottom: 73px;
        }
    }
    .customer-support-image {
        margin: {
            left: 0;
            top: 0;
        };
    }
    .customer-support-content {
        margin-left: 0;
        max-width: 100%;
    
        .sub-title {
            margin-bottom: 12px;
        }
        h2 {
            margin-bottom: 12px;
            font-size: 40px; font-weight: 600;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .team-inner-area {
        padding: 100px;
    }

}