<div class="jobs-area">
    <div class="container">
        <div class="em-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0">
                Open roles at Buildtwin
            </h2>
        </div>
        <div class="jobs-search-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="d-md-flex align-items-center justify-content-between">
                <h3 class="mb-0 fw-semibold">
                    Search roles
                </h3>
                <form class="search-form position-relative">
                    <mat-form-field>
                        <mat-label>
                            Enter job keywords
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button type="submit" mat-button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M9.58317 17.5001C13.9554 17.5001 17.4998 13.9557 17.4998 9.58341C17.4998 5.21116 13.9554 1.66675 9.58317 1.66675C5.21092 1.66675 1.6665 5.21116 1.6665 9.58341C1.6665 13.9557 5.21092 17.5001 9.58317 17.5001Z" stroke="#0E0E28" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.3332 18.3334L16.6665 16.6667" stroke="#0E0E28" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <div class="grid grid-cols-1 grid-lg-cols-2">
            <div class="job-box position-relative" data-aos="fade-up" data-aos-duration="500">
                <span class="sub-title d-inline-block font-syne">
                    Engineer
                </span>
                <h4>
                    <a routerLink="/job-details">
                        Senior DevOps Engineer
                    </a>
                </h4>
                <ul class="info fw-medium ps-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        Vancouver, BC, Canada
                    </li>
                    <li class="position-relative d-inline-block">
                        Full time
                    </li>
                </ul>
                <a mat-button routerLink="/job-details" class="default-btn">
                    Apply Now
                </a>
            </div>
            <div class="job-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <span class="sub-title d-inline-block font-syne">
                    Marketing
                </span>
                <h4>
                    <a routerLink="/job-details">
                        Social Media Marketer
                    </a>
                </h4>
                <ul class="info fw-medium ps-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        Japantown, Vancouver, BC, Canada
                    </li>
                    <li class="position-relative d-inline-block">
                        Part time
                    </li>
                </ul>
                <a mat-button routerLink="/job-details" class="default-btn">
                    Apply Now
                </a>
            </div>
            <div class="job-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <span class="sub-title d-inline-block font-syne">
                    Engineer
                </span>
                <h4>
                    <a routerLink="/job-details">
                        Engineering Tech Lead
                    </a>
                </h4>
                <ul class="info fw-medium ps-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        Amagasaki, Hyogo 660-0882, Japan
                    </li>
                    <li class="position-relative d-inline-block">
                        Part time
                    </li>
                </ul>
                <a mat-button routerLink="/job-details" class="default-btn">
                    Apply Now
                </a>
            </div>
            <div class="job-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <span class="sub-title d-inline-block font-syne">
                    Designer
                </span>
                <h4>
                    <a routerLink="/job-details">
                        UI/UX Desaign Lead
                    </a>
                </h4>
                <ul class="info fw-medium ps-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        Krasnoyarsk Krai, Russia
                    </li>
                    <li class="position-relative d-inline-block">
                        Full time
                    </li>
                </ul>
                <a mat-button routerLink="/job-details" class="default-btn">
                    Apply Now
                </a>
            </div>
            <div class="job-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <span class="sub-title d-inline-block font-syne">
                    Marketing
                </span>
                <h4>
                    <a routerLink="/job-details">
                        Marketing Executive
                    </a>
                </h4>
                <ul class="info fw-medium ps-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        Mount Ajax 7895, New Zealand
                    </li>
                    <li class="position-relative d-inline-block">
                        Full time
                    </li>
                </ul>
                <a mat-button routerLink="/job-details" class="default-btn">
                    Apply Now
                </a>
            </div>
            <div class="job-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <span class="sub-title d-inline-block font-syne">
                    Sales
                </span>
                <h4>
                    <a routerLink="/job-details">
                        Senior Account Executive
                    </a>
                </h4>
                <ul class="info fw-medium ps-0 mb-0 mt-0 list-unstyled">
                    <li class="position-relative d-inline-block">
                        Av. Lusíada, 1500-392 Lisboa, Portugal
                    </li>
                    <li class="position-relative d-inline-block">
                        Part time
                    </li>
                </ul>
                <a mat-button routerLink="/job-details" class="default-btn">
                    Apply Now
                </a>
            </div>
        </div>
    </div>
</div>