.funfacts-box {
    padding: 24px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: var(--backgroundColor);

    h3 {
        line-height: 1;
        font-size: 20px;
        margin-bottom: 18px;
    }
    p {
        letter-spacing: 0.4px;
        max-width: 220px;
    }
}
.col-lg-3 {
    // &:nth-child(2) {
    //     .funfacts-box {
    //         background-color: #f0dde0;
    //     }
    // }
    // &:nth-child(3) {
    //     .funfacts-box {
    //         background-color: #e6e1ef;
    //     }
    // }
    // &:nth-child(4) {
    //     .funfacts-box {
    //         background-color: #f8f2e9;
    //     }
    // }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .funfacts-box {
        padding: 30px 20px;
        text-align: center;
        border-radius: 10px;
    
        h3 {
            font-size: 30px;
            margin-bottom: 8px;
        }
        p {
            max-width: 100%;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .funfacts-box {
        padding: 40px 15px;
        text-align: center;
        border-radius: 8px;//updated-from-20-8;
    
        h3 {
            font-size: 38px;
            margin-bottom: 8px;
        }
        p {
            max-width: 100%;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .funfacts-box {
        padding: 50px 20px;
    
        h3 {
            font-size: 42px;
            margin-bottom: 10px;
        }
        p {
            max-width: 100%;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .funfacts-box {
        padding: 24px;
    
        h3 {
            font-size: 38px;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .funfacts-box {
        padding: 24px;
    }

}