<div class="funfacts-area ptb-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500">
                <div class="funfacts-box">
                    <h3 class="font-poppins fw-semibold">
                        1 x Set-up
                    </h3>
                    <p>
                        Your technical standards, name convention, processes, QC, ... 
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="funfacts-box">
                    <h3 class="font-poppins fw-semibold">
                        2.000+ 
                    </h3>
                    <p>
                        pre-qualified engineers can be leveraged 
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="funfacts-box">
                    <h3 class="font-poppins fw-semibold">
                        10+ services 
                    </h3>
                    <p>
                        Structural Detailing, BIM, BIM Steel, Pre-cast, Temp. works design. 
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="funfacts-box">
                    <h3 class="font-poppins fw-semibold">
                        AI  
                    </h3>
                    <p>
                        From LIV tracking of progress, quality and time to massiv savings
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>