.mainContainer{
    display: block;
    position: relative;
    .StickyPosition{position: absolute; height: 100%; width: 440px; right: 0; top: 0; background: red; }
}

.Stickyform{position: sticky; display: flex; right: 0; top: 0; padding-top: 112px; height: 100vh; width: 440px; background: white;}
.formWrapper{padding: 40px 30px; flex: 1; overflow: auto;}

