<div class="good-company">
    <div class="main-head">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <div class="main-title">Discover top-tier solutions tailored to your project needs</div>
            <div class="heading">
                <div class="title">Why book with BuildTwin</div>
                <div class="subTitle">Explore now and get to know why you can go with us</div>
            </div>
        </div>
        <button mat-button class="default-btn align-self-end">Explore Case studies</button>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card__image card__image--first">
                <img src="assets/images/logo2.png" alt="company">
            </div>
            <p class="card__title">100,000 comments streamlined</p>
            <p class="card__description">Cannon design used Bluebeam to manage a $2 billion hospital project and finished the job faster</p>
            <div class="card__footer">
                <span>Read about hours saved</span>
                <img src="assets/images/home/arrowRight.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card__image card__image--second">
                <img src="assets/images/logo2.png" alt="company">
            </div>
            <p class="card__title">100,000 comments streamlined</p>
            <p class="card__description">Cannon design used Bluebeam to manage a $2 billion hospital project and finished the job faster</p>
            <div class="card__footer">
                <span>Read about hours saved</span>
                <img src="assets/images/home/arrowRight.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="card__image card__image--third">
                <img src="assets/images/logo2.png" alt="company">
            </div>
            <p class="card__title">100,000 comments streamlined</p>
            <p class="card__description">Cannon design used Bluebeam to manage a $2 billion hospital project and finished the job faster</p>
            <div class="card__footer">
                <span>Read about hours saved</span>
                <img src="assets/images/home/arrowRight.svg" alt="">
            </div>
        </div>
    </div>
</div>