<div class="good-company" *ngIf="allBlogs.length">
    <div class="main-head">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <!-- <div class="main-title" *ngIf="!hideTitle">Discover top-tier solutions tailored to your project needs</div> -->
            <div class="heading">
                <div class="title">Trending Topic</div>
                <!-- <div class="subTitle">Explore now and get to know why you can go with us</div> -->
            </div>
        </div>
        <!-- <button mat-button class="default-btn align-self-end">Explore Case studies</button> -->
    </div>
    <div class="card-container squareButtonWrapper" 
    [ngClass]="{
        'desktop3col': (defaultVisible === 3 && allBlogs.length <= 3),
        'desktop2col': (defaultVisible === 2 && allBlogs.length <= 2)
      }">
        <owl-carousel-o [options]="factorySlider" *ngIf="isBrowser">
            <ng-template carouselSlide *ngFor="let list of allBlogs">
                <div class="card">
                    <div class="card__image card__image--first">
                        <img [src]="list['jetpack_featured_media_url']" alt="company">
                    </div>
                    <p class="card__title">{{list['title']['rendered']}}</p>
                    <p class="card__description" [innerHtml]="list['excerpt']['rendered']"></p>
                    <a [href]="list['link']" target="_blank" class="card__footer">
                        <span>Read more</span>
                        <img src="assets/images/home/arrowRight.svg" alt="">
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>