<div class="good-company container global-mb" *ngIf="allBlogs.length">
    <div class="main-head" *ngIf="heading">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <!-- <div class="main-title" *ngIf="!hideTitle">Discover top-tier solutions tailored to your project needs</div> -->
            <div class="heading" *ngIf="!page">
                <div class="title">Trending Topic</div>
                <!-- <div class="subTitle">Explore now and get to know why you can go with us</div> -->
            </div>
            <div class="heading" *ngIf="page">
                <div class="title">Industry Insights & Trends</div>
                <div class="subTitle">Stay updated with the latest developments and best practices in structural engineering</div>
            </div>
        </div>
        <!-- <button mat-button class="default-btn align-self-end">Explore Case studies</button> -->
    </div>
    <div class="card-container squareButtonWrapper" 
    *ngIf="!page"
    [ngClass]="{
        'desktop3col': (defaultVisible === 3 && allBlogs.length <= 3),
        'desktop2col': (defaultVisible === 2 && allBlogs.length <= 2)
      }">
        <owl-carousel-o [options]="factorySlider" *ngIf="isBrowser">
            <ng-template carouselSlide *ngFor="let list of allBlogs">
                <div class="card">
                    <div class="card__image card__image--first">
                        <img [src]="list['jetpack_featured_media_url']" alt="company" loading="lazy">
                    </div>
                    <p class="card__title" [innerHtml]="list['title']['rendered']"></p>
                    <p class="card__description" [innerHtml]="list['excerpt']['rendered']"></p>
                    <a [href]="list['link']" target="_blank" class="card__footer">
                        <span>Read more</span>
                        <img src="assets/images/home/arrowRight.svg" alt="">
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="feature-blog-wrapper" *ngIf="page">
        <div class="left" *ngIf="featuredBlogs['title']">
            <figure>
                <img src="{{featuredBlogs['jetpack_featured_media_url']}}" alt="company">
                <span class="label">
                    Featured
                </span>
            </figure>
            <div class="content">
                <h3>
                    {{featuredBlogs['title']['rendered']}}
                </h3>
                <p class="blog-description" [innerHtml]="featuredBlogs['excerpt']['rendered']"></p>
                <div class="blog-footer">
                    <div class="detail">
                        <span class="block">
                            {{featuredBlogs['yoast_head_json']['twitter_misc']['Est. reading time']}} read
                        </span>
                        <span class="block">
                            {{ featuredBlogs['date'] | date: 'MMM dd, yyyy' }}
                        </span>
                    </div>
                    <a [href]="featuredBlogs['link']" target="_blank" class="blog-cta link-text">
                        <span>Read more</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-block">
                <h4>
                    Trending Topics
                </h4>
                <div class="trending-topic-list">
                    <ng-container *ngFor="let list of allBlogs; let i = index">
                        <a [href]="list['link']" target="_blank" class="block">
                            <span class="sq">
                                {{ (i + 1) | number: '2.0' }}
                            </span>
                            <div class="list-detail">
                                <h5>
                                    {{list['title']['rendered']}}
                                </h5>
                                <p [innerHtml]="list['excerpt']['rendered']">
                                </p>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="right-block">
                <h4>
                    Industry Updates
                </h4>
                <ul class="industry-updates">
                    <li>
                        <h5>
                            New Building Codes
                        </h5>
                        <span class="time">
                            2 days ago
                        </span>
                    </li>
                    <li>
                        <h5>
                            New Building Codes
                        </h5>
                        <span class="time">
                            2 days ago
                        </span>
                    </li>
                    <li>
                        <h5>
                            New Building Codes
                        </h5>
                        <span class="time">
                            2 days ago
                        </span>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>