<div class="services-area pt-100 pb-75 z-1 position-relative">
    <div class="container">
        <div class="tt-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 fw-black font-mulish">
                Forget everything you know about procuring technical teams. 
            </h2>
            <br>
            <h3 class="mb-0 fw-black font-mulish">
                More quality. In time. Great prices. And a fully digitalised process.
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="single-service-box position-relative text-center">
                    <img src="assets/images/icons/icon1.png" alt="icon">
                    <h4 class="font-mulish fw-black">
                        100s of technical teams 
                    </h4>
                    <p>
                        Track only what you need, whether it’s employee time and attendance, projects, or both of them.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="single-service-box position-relative text-center">
                    <img src="assets/images/icons/icon2.png" alt="icon">
                    <h4 class="font-mulish fw-black">
                        Plug & Play
                    </h4>
                    <p>
                        Gather valuable data for unlimited projects, clients, and activities. Track only what you need, whether it’s employee time.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="single-service-box position-relative text-center">
                    <img src="assets/images/icons/icon3.png" alt="icon">
                    <h4 class="font-mulish fw-black">
                        Co-develop training
                    </h4>
                    <p>
                        The most secure time tracker,compliant with time tracking laws worldwide. Track only what you need.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape3.png" alt="shape3">
    </div>
</div>