<div class="faq-area pb-100">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="isFirst">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        What does pre-qualified mean? 
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    BuildTwin marketplace offers different filters to select as per your pre-qualification standard. 
                                    Together with our third-party auditor we vet all documents and verify that the submitted documents are legit. 
                                    <br>
    
                                    As a client, you have the option to filter for solution providers based on 
                                    their formal, technical, commercial, liability, and professional eligibility
                                    <br>
                                    For Enterprise clients BuildTwin offers tailored tendering services to clear specific pre-qualification requirements.  
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Who is the contractual partner for a project? 
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                   BuildTwin acts as a digital broker between the parties. 
                                   The commercial contract is soley between the servie and client. 
    
                                   Clients can opt to use the BuildTwin standard contract or upload their 
                                   own contract to be signed by service providers.  
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        How does the commercial agreement work?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    After the digital tendering process, clients have the option to negotiate, discuss, and award 
                                    the solution provider for the project. BuildTwin provides purchase order export for most commercial systems 
                                    on the market.
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        What happens in case of a dispute? 
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    BuildTwin carefully vets solution providers and offers an extensive rating 
                                    system to learn more about them and their past performance. In cases 
                                    of disputes, signed contractual terms are to be followed. However, BuildTwin 
                                    offers a range of services to enable successful project delivery.
                                </p>
                            </mat-expansion-panel>
                            
                        </mat-accordion>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="faq-image position-relative text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <img src="assets/images/faq.png" alt="faq-image">
                        <!-- <img src="assets/images/faq5.jpg" alt="faq-image"> -->
                    </div>
                </div>
            </div>
</div>