<div class="blog-area ptb-100">
    <div class="container">
        <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-archivo">
                The best tips on running a saas business flently
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/blog1.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <a routerLink="/blog" class="tag font-archivo">
                                    Online Meeting
                                </a>
                            </div>
                            <div class="date fw-medium">
                                Sep 10, 2024
                            </div>
                        </div>
                        <h3 class="font-archivo">
                            <a routerLink="/blog-details" class="fw-semibold">
                                Blin sweeps up at the G2 2024 Winter leader awards
                            </a>
                        </h3>
                        <p>
                            Blin Campaigns, an email service provider (ESP), is built to help businesses send marketing emails...
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/blog2.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <a routerLink="/blog" class="tag font-archivo">
                                    Agile Apps
                                </a>
                            </div>
                            <div class="date fw-medium">
                                Sep 09, 2024
                            </div>
                        </div>
                        <h3 class="font-archivo">
                            <a routerLink="/blog-details" class="fw-semibold">
                                8 Best goal tracking apps for your agile team in 2024
                            </a>
                        </h3>
                        <p>
                            Blin Campaigns, an email service provider (ESP), is built to help businesses send marketing emails...
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/blog3.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <a routerLink="/blog" class="tag font-archivo">
                                    Track Hours
                                </a>
                            </div>
                            <div class="date fw-medium">
                                Sep 08, 2024
                            </div>
                        </div>
                        <h3 class="font-archivo">
                            <a routerLink="/blog-details" class="fw-semibold">
                                How do I track my work hours in my phone free of cost?
                            </a>
                        </h3>
                        <p>
                            Blin Campaigns, an email service provider (ESP), is built to help businesses send marketing emails...
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center link-box" data-aos="fade-up" data-aos-duration="500">
            <a routerLink="/blog" class="link-btn d-inline-block position-relative fw-medium">
                Visit Our Blog Page
                <i class="ti ti-caret-right-filled"></i>
            </a>
        </div>
    </div>
</div>