
<div class="container">
    <div class="main-head">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <div class="heading">
                <div class="title">Resources & Insights</div>
                <div class="subTitle">Stay updated with the latest AISC trends and best practices</div>
            </div>
        </div>
        <!-- <button mat-button class="default-btn align-self-end">Explore Case studies</button> -->
    </div>
</div>
<app-hd-good-company [category]="category" [hideTitle]="true" [page]="page" [heading]="false"></app-hd-good-company>