.full-right {
    margin-right: -357px;
    padding-right: 357px;
    max-width: calc(100% + 357px);
    width: calc(100% + 357px);
}
.heading {
    .small-title {
        line-height: 1.333;
    }
}
.logo-icon {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    span {
        position: absolute;
        left: calc(50% - 4px);
        top: -6px;
        font-size: 22px;
        font-weight: 800;
        color: white;
        background: #b0e020;
        border-radius: 55px;
        padding: 3px 15px;
    }
}
.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    gap: 60px;
    .block {
        width: calc(33.333% - 40px);
        text-align: center;
        padding: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
        figure {
            width: 190px;
            height: 190px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f6f7f9;
            border-radius: 50%;
            margin-bottom: 30px;
        }
        p {
            font-size: 15px;
            color: var(--lightTextColor);
        }
    }
}

.buildtwinPro {
    margin-bottom: 15px;
    position: relative;
    h2 {
        span {
            color: #0053fa;
        }
    }

    .list-wrapper {
        padding-bottom: 0;
        .block {
            figure {
                background: #fff;
            }
        }
    }
}

@media (max-width: 767px) {
    .list-wrapper {
        flex-direction: column;

        .block {
            width: auto;
            padding-bottom: 50px;
        }
    }

    .heading {
        .small-title {
            br {
                display: none;
            }
        }
    }
}