<div class="bg buildtwinPro">
    <div class="container">
        <figure class="logo-icon">
            <span>
                PRO
            </span>
            <img src="assets/images/service-images/quality-management.png" width="128" height="129" alt="">
        </figure>
        <div class="heading center v2">
            <h2 class="title">
                Work with Vendors<br>
BuildTwin  <span>Pro Consultancies</span>
            </h2>
            <p class="small-title">
                A better Engineering experience today. BuildTwin Pro<br>
supercharges your project with AI.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="list-wrapper">
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy3@2x.png"
                        srcset="assets/images/icons/heavy3@2x.png 2x, assets/images/icons/heavy3.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Plug<br>
                    and Play
                </h3>
                <p>
                    No additional workflow required -
                    just connect BuildTwin to your
                    existing tools and get access to
                    100s of technical teams.
                </p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy2@2x.png"
                        srcset="assets/images/icons/heavy2@2x.png 2x, assets/images/icons/heavy2.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    LIVE AI<br>
                    Tracking
                </h3>
                <p>
                    The BuildTwin process creates
                    reliable schedules - with dynamically
                    adjusting based on progress,
                    delays and many other factors.
                </p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy1@2x.png"
                        srcset="assets/images/icons/heavy1@2x.png 2x, assets/images/icons/heavy1.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    AI Quality<br>
                    Management
                </h3>
                <p>
                    The BuildTwin process assures
                    a high visibility into the quality
                    management process - considering
                    dynamically all inputs.
                </p>
            </div>
        </div>
        <div class="flex-justify-center">
            <a class="button-v2 home_buildtwin_pro_demo" href="https://www.buildtwin.com/get-started" target="_blank">
                <img src="assets/images/icons/icon2.png" width="23" height="23" alt="BuildTwin Pro DEMO">
                BuildTwin Pro DEMO
            </a>
        </div>
    </div>
</div>