<div class="howItWorksWrapper">
    <div class="container">
        <div class="container-with-right">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>How it Works?</h2>
                <p>Gain access to a wide array of BIM service providers from across the USA on a single platform.</p>
            </div>

            <div class="content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                
                    <ul>
                        <strong><li>Invite the top vendors across the US to bid on your projects.</li></strong>
                        <strong><li>Integrate your internal workflow for seamless project integration.</li></strong>
                        <strong><li>Stay updated on RFIs, reports, revisions, and timelines via live tracking.</li></strong>
                        <strong><li>Access files with ease from a cloud-backed automated project documentation system.</li></strong>
                        <strong><li>Get assured quality with American compliance standards.</li></strong>
                    </ul>
                    <!-- Invite the top vendors to bid on your projects.<br>
                    Integrate your internal workflow for seamless project integration.<br>
                    Stay updated on RFIs, reports, revisions, and timelines via live tracking.<br>
                    Access files with ease from a cloud-backed automated project documentation system.<br>
                    Get assured quality with global compliance standards. -->
                
            </div>
        </div>
    </div>
</div>