<div class="howItWorksWrapper">
    <div class="container ht2-image">
        <div class="container-with-right">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>How it Works?</h2>
                <p>Access global vendors for BIM services on a single platform.</p>
            </div>

            <div class="content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                
                    <ul>
                        <strong><li><b>Invite</b> top vendors to bid on your <b>AEC projects</b>.</li></strong>
                        <strong><li>Integrate your internal workflows for seamless project integration.</li></strong>
                        <strong><li>Stay updated on <b>RFIs</b>, reports, revisions, and timelines with live tracking.</li></strong>
                        <strong><li>Access files with ease from a cloud-backed automated project documentation system.</li></strong>
                        <strong><li>Ensure quality with global compliance standards, assuring the success of your <b>construction projects</b> .</li></strong>
                    </ul>
                    <!-- Invite the top vendors to bid on your projects.<br>
                    Integrate your internal workflow for seamless project integration.<br>
                    Stay updated on RFIs, reports, revisions, and timelines via live tracking.<br>
                    Access files with ease from a cloud-backed automated project documentation system.<br>
                    Get assured quality with global compliance standards. -->
                
            </div>
        </div>
    </div>
</div>