<app-hd-navbar></app-hd-navbar>

<app-tt-banner></app-tt-banner>

<app-tt-testimonials></app-tt-testimonials>

<app-tt-services></app-tt-services>

<app-tt-about></app-tt-about>

<app-task-management></app-task-management>

<app-tt-partners></app-tt-partners>

<app-tt-features></app-tt-features>

<app-case-studies></app-case-studies>

<app-cta></app-cta>

<app-tt-integrations></app-tt-integrations>


<!-- 
    <app-tt-pricing></app-tt-pricing>
-->


<app-tt-faq></app-tt-faq>

<!-- 
<app-tt-blog></app-tt-blog>
-->


<app-om-footer></app-om-footer>