<app-hd-navbar></app-hd-navbar>


<!-- Logos -->
<app-tt-banner></app-tt-banner>

<!-- Testimmonials -->
<app-tt-testimonials></app-tt-testimonials>

<!-- 3 Businesslines BuildTwin -->
<app-tt-services></app-tt-services>

<!-- Services -->
<app-socials-media-info></app-socials-media-info>


<!-- Digital Procurement -->
<app-task-management></app-task-management>

<!-- Quality Management -->
<app-tt-about></app-tt-about>

<!-- AI Quality Management  -->
<app-tt-partners></app-tt-partners>

<!-- AI powered execution -->
<app-tt-features></app-tt-features>

<!-- Large Tender -->
<app-cta></app-cta>

<!-- Training -->
<app-tt-integrations></app-tt-integrations>

<!-- FAQ -->
<app-tt-faq></app-tt-faq>

<!-- Footer -->
<app-hd-footer></app-hd-footer>