<div class="plugPlay">
    <div class="container">
        <div class="plugWrapper">
            <div class="hd-section-title">
                <h2 class="mb-0 font-poppins">
                Plug 
                <strong>& Play</strong>
                </h2>
            </div>
            <div class="row integrations-area-list">
                <owl-carousel-o [options]="integrationsList">
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon1.webp" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon2.webp" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon3.webp" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon4.png" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon5.webp" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon6.webp" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="integration-box text-center">
                            <img src="assets/images/plug-icon7.webp" width="174px" height="105px" alt="miro">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>