<div class="join-area">
    <div class="container">
        <div class="join-area-inner">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <div class="join-content">
                        <h2>
                            We are looking for talented individuals, Apply today to join our exciting team.
                        </h2>
                        <p>
                            We're constantly looking for talented people to join our team. Don't hesitate to get in touch with us.
                        </p>
                        <a mat-button routerLink="/careers" class="default-btn">
                            See Open Roles
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="join-image text-center">
                        <img src="assets/images/happy-team.png" alt="join-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>