.join-area-inner {
    border-radius: 4px;
    background-color: #e9ebf1;
    padding: 80px 95px 80px 100px;

    .join-content {
        margin-right: -22px;

        h2 {
            margin-bottom: 17px;
            line-height: 1.3;
            font-size: 40px; font-weight: 600;
        }
        p {
            max-width: 611px;
        }
        .default-btn {
            margin-top: 10px;
            background-color: var(--tealBlueColor);

            &:hover {
                background-color: var(--primaryColor);
            }
        }
    }
    .join-image {
        padding-left: 110px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .join-area-inner {
        padding: 60px 20px;
    
        .join-content {
            margin-right: 0;
    
            h2 {
                margin-bottom: 8px;
                font-size: 25px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 3px;
            }
        }
        .join-image {
            padding-left: 0;
            margin-top: 25px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    
    .join-area-inner {
        padding: 80px 50px;
    
        .join-content {
            margin-right: 0;
    
            h2 {
                margin-bottom: 9px;
                font-size: 29px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 5px;
            }
        }
        .join-image {
            padding-left: 0;
            margin-top: 25px;
        }
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .join-area-inner {
        padding: 80px 50px;
    
        .join-content {
            margin-right: -10px;
    
            h2 {
                margin-bottom: 12px;
                font-size: 34px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 8px;
            }
        }
        .join-image {
            padding-left: 20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .join-area-inner {
        padding: 80px 50px;
    
        .join-content {
            h2 {
                font-size: 35px;
            }
        }
        .join-image {
            padding-left: 40px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .join-area-inner {
        padding: 80px 60px;
    
        .join-content {
            h2 {
                font-size: 39px;
            }
        }
        .join-image {
            padding-left: 55px;
        }
    }

}