.banner-content {
    padding-top: 179px;
    padding-bottom: 108px;
}
// .partner {
//     display: flex;
//     gap: 32px;
//     padding: 0 20px;
//     background: white;
//     align-items: center;
//     margin: 0;
// }
// .partnerWrap {
//     height: 1px;
//     background: rgba(0,0,0,.15);
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     padding-right: 53px;
//     padding-left: 53px;
//     margin-top: 40px;
//     margin-bottom: 40px;
//     // margin-bottom: 60px;
// }
.looking-for-super-wrapper {
    justify-content: center;
    gap: 27px;
    padding-top: 48px;
    .label {
        font-size: 22px;
        color: #002e3b;
        font-weight: 600;
    }
    .looking-for-wrapper {
        height: 48px;
        border: 1px solid #e0e4e6;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 24px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        span {
            color: #5c6a72;
            font-size: 16px;
            margin-right: 0;
            
            &.dynamic-text {
                transition: opacity 0.3s ease-in-out;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
@media only screen and (max-width : 767px) {
    // .partnerWrap {
    //     height: auto;
    //     background: none;
    //     padding-left: 0;
    //     padding-right: 0;
    //     .partner {
    //         gap: 22px;
    //     }
    // }
    .banner-content {
        padding-top: 140px;
        padding-bottom: 70px;
    }
    .looking-for-super-wrapper {
        flex-direction: column;
        gap: 17px;
    }
    .looking-for-super-wrapper .looking-for-wrapper {
        flex-wrap: wrap;
        span {
            display: block;
            width: 100%;
            margin: 0;
        }
    }
    .looking-for-super-wrapper .looking-for-wrapper {
        height: auto;
        padding: 10px 10px 10px 24px;
        justify-content: center;
    }
}