<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 fw-semibold font-archivo">
                Take our user’s words about us
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="testimonials-slides" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="d-lg-flex align-items-center">
                            <img src="assets/images/brands/g2.png" class="logo" alt="g2">
                            <div class="rating d-flex align-items-center">
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <span class="font-archivo fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                        <p class="font-archivo fw-semibold">
                            “Love Blin. Great way to discover early customers via twitter. Via Blin, you can link your slack to twitter and set up alerts for key word triggers related to your product.”
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/user1.jpg" class="user" alt="user-image">
                            <span class="d-block fw-medium name">
                                Jonathon Ronan
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="d-lg-flex align-items-center">
                            <img src="assets/images/brands/trustpilot.png" class="logo" alt="trustpilot">
                            <div class="rating d-flex align-items-center">
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-half-filled"></i>
                                <span class="font-archivo fw-medium">
                                    4.5 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                        <p class="font-archivo fw-semibold">
                            “Blin allows us to achieve the work of a larger team with limited resources.”
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/user2.jpg" class="user" alt="user-image">
                            <span class="d-block fw-medium name">
                                Alina Smith
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="d-lg-flex align-items-center">
                            <img src="assets/images/brands/g2.png" class="logo" alt="g2">
                            <div class="rating d-flex align-items-center">
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star"></i>
                                <span class="font-archivo fw-medium">
                                    4.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                        <p class="font-archivo fw-semibold">
                            “Love Blin. Great way to discover early customers via twitter. Via Blin, you can link your slack to twitter and set up alerts for key word triggers related to your product.”
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/user3.jpg" class="user" alt="user-image">
                            <span class="d-block fw-medium name">
                                James Andy
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="d-lg-flex align-items-center">
                            <img src="assets/images/brands/trustpilot.png" class="logo" alt="trustpilot">
                            <div class="rating d-flex align-items-center">
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <span class="font-archivo fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                        <p class="font-archivo fw-semibold">
                            “Love Blin. Great way to discover early customers via twitter. Via Blin, you can link your slack to twitter and set up alerts for key word triggers related to your product.”
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/user4.jpg" class="user" alt="user-image">
                            <span class="d-block fw-medium name">
                                David Warner
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="d-lg-flex align-items-center">
                            <img src="assets/images/brands/trustpilot.png" class="logo" alt="trustpilot">
                            <div class="rating d-flex align-items-center">
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star-filled"></i>
                                <i class="ti ti-star"></i>
                                <span class="font-archivo fw-medium">
                                    4.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                        <p class="font-archivo fw-semibold">
                            “Blin allows us to achieve the work of a larger team with limited resources.”
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/users/user5.jpg" class="user" alt="user-image">
                            <span class="d-block fw-medium name">
                                Olivia Lucy
                            </span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>