<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-archivo">
                Take our user’s words about us
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="testimonials-slides" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="content">
                            <span class="quoteImage">
                                <img src="assets/images/users/quote.png" class="user" alt="user-image">
                            </span>
                            <p class="font-archivo fw-medium">
                                “Love Buildtwin. Great way to discover early customers via twitter. Via Buildtwin, you can link your slack to twitter and set up alerts for key word triggers related to your product.”
                            </p>
                        </div>
                        <div class="d-flex align-items-center nameInfo">
                            <img src="assets/images/users/Lorenz_Betge.jpg" class="user" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold name">
                                    Lorenz Betge
                                </span>
                                <div class="rating d-flex align-items-center">
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <span class="font-archivo fw-medium">
                                        5.0 <span>/ 5</span>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="content">
                            <span class="quoteImage">
                                <img src="assets/images/users/quote.png" class="user" alt="user-image">
                            </span>
                            <p class="font-archivo fw-medium">
                                “Buildtwin allows us to achieve the work of a larger team with limited resources.”
                            </p>
                        </div>
                        <div class="d-flex align-items-center nameInfo">
                            <img src="assets/images/users/andre.jpg" class="user" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold name">
                                    Andre Leisten
                                </span>
                                <div class="rating d-flex align-items-center">
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-half-filled"></i>
                                    <span class="font-archivo fw-medium">
                                        4.5 <span>/ 5</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="content">
                            <span class="quoteImage">
                                <img src="assets/images/users/quote.png" class="user" alt="user-image">
                            </span>
                            <p class="font-archivo fw-medium">
                                I get an instant update on what is happening. And everything is connected to my existing workflows
                            </p>
                        </div>
                        <div class="d-flex align-items-center nameInfo">
                            <img src="assets/images/users/Shashank-Singh.jpg" class="user" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold name">
                                    Shashank Singh
                                </span>
                                <div class="rating d-flex align-items-center">
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star"></i>
                                    <span class="font-archivo fw-medium">
                                        4.0 <span>/ 5</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="content">
                            <span class="quoteImage">
                                <img src="assets/images/users/quote.png" class="user" alt="user-image">
                            </span>
                            <p class="font-archivo fw-medium">
                                I manage my files, emails and reports with buildtwin to track progress and communication.                            </p>
                        </div>
                        <div class="d-flex align-items-center nameInfo">
                            <img src="assets/images/users/Shashank-Singh.jpg" class="user" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold name">
                                    Max Musterman 
                                </span>
                                <div class="rating d-flex align-items-center">
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <span class="font-archivo fw-medium">
                                        5.0 <span>/ 5</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <div class="content">
                            <span class="quoteImage">
                                <img src="assets/images/users/quote.png" class="user" alt="user-image">
                            </span>
                            <p class="font-archivo fw-medium">
                                “Buildtwin allows us to achieve the work of a larger team with limited resources.”
                            </p>
                        </div>
                        <div class="d-flex align-items-center nameInfo">
                            <img src="assets/images/users/Shashank-Singh.jpg" class="user" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold name">
                                   Max Musterman
                                </span>
                                <div class="rating d-flex align-items-center">
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star"></i>
                                    <span class="font-archivo fw-medium">
                                        4.0 <span>/ 5</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>