<div class="sectionContainer">
    <div class="container">
        <div class="container-with-right">
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <h2>
                All-in-one BIM services
            </h2>

            <p>
                With a single platform that caters to all your BIM services, you have a range of 
approaches to optimize your construction project deliveries. By having a centralized 
space to coordinate everything from planning, budgeting, and communication, to 
tracking and execution, you can sit back and let our platform do the heavy lifting. You 
can singlehandedly manage your BIM services while keeping your project data safe and
secure - and at the same time enjoy uninterrupted collaboration with your 
stakeholders.
<br><br>
            </p>
        </div>
        <!-- tabs -->

    <div class="sectionMidContainer" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        <div class="precastTabs">
                <ng-container *ngFor="let item of precastArray; let i = index">
                        <h4 class="tab" [class.active]="activeTab === i" (click)="setActiveTab(i)"
                        [ngClass]="{ 'activeContainer': activeTab === i }">
                            {{ item.name }}
                        </h4>
                </ng-container>
        </div>
        <ng-container *ngFor="let item of precastArray; let i = index"> 
            <div class="tabContent" *ngFor="let detail of item.details" [ngClass]="{'show':activeTab == i}">
                <p>{{ detail.mainContent }}</p>
                <h3>{{ detail.header }}</h3>
                <div class="subContent">
                    <p><small>{{ detail.subContent }}</small></p>
                </div>
                <div class="dataList">
                    <div *ngFor="let item of detail['items']">
                        <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                        <span>{{item}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
        </div>
    </div>
</div>