<div class="pricing-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="hd-section-title">
            <div class="row">
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <h2 class="mb-0 font-poppins">
                        Amazing value. Bundeling ton of features for less.
                    </h2>
                </div>
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <p class="ms-auto">
                        BuildTwin pays for itself! 

                        <br> 
                        1. Significant efficiency gains in day2day operation (End-to-End ERP system)
                        <br>
                        2. Access to world-class tools - such as BI reports, Claims AI and many more tools 
                        <br>
                        3. Access to a global marketplace for projects / talents 

                        and many more benefits. 


                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="pricing-box">
                    <div class="text-end">
                        <div class="price d-inline-block text-center font-poppins fw-black">
                            $50
                            <span class="d-block fw-normal">month</span>
                        </div>
                    </div>
                    <h3 class="title font-poppins fw-semibold">
                        Small Team
                    </h3>
                    <ul class="features-list ps-0 mb-0 list-unstyled fw-medium">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                AI Design Manager
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                QC System
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Digital Self Management system
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Access to BuildTwin Training 
                            </span>
                        </li>
                    </ul>
                    <a mat-button href="javascript:void(0);" class="default-btn">Try For Free</a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="pricing-box">
                    <div class="text-end">
                        <div class="price d-inline-block text-center font-poppins fw-black">
                            $20
                            <span class="d-block fw-normal">user / month</span>
                        </div>
                    </div>
                    <h3 class="title font-poppins fw-semibold">
                        Team
                    </h3>
                    <ul class="features-list ps-0 mb-0 list-unstyled fw-medium">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                ALL features from small teams 
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Access to marketplace
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                BI reports
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                End-to-End ERP system
                            </span>
                        </li>
                    </ul>
                    <a mat-button href="javascript:void(0);" class="default-btn">Try For Free</a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="pricing-box">
                    <div class="text-end">
                        <div class="price d-inline-block text-center font-poppins fw-black">
                            get 
                            <span class="d-block fw-normal">quote</span>
                        </div>
                    </div>
                    <h3 class="title font-poppins fw-semibold">
                        Enterprise
                    </h3>
                    <ul class="features-list ps-0 mb-0 list-unstyled fw-medium">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Fully Whitelabeled solution
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Custom Infra Set-UP
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Customization according to your company
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Dedicaded Enterprise support
                            </span>
                        </li>
                    </ul>
                    <a mat-button href="javascript:void(0);" class="default-btn">Schedule Demo</a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="pricing-box">
                    <br><br>
                    <h3 class="title font-poppins fw-semibold">
                        Monthly savings 30+$ / Month
                    </h3>
                    <ul class="features-list ps-0 mb-0 list-unstyled fw-medium">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                PDF / BIM Collaboration Tool License
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Microsoft Exchange 
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Teams, Slack, Zoom
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Dropbox, OneDrive, etc.
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                               + our amazing AI Features
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info text-center" data-aos="fade-up" data-aos-duration="500">
            <ul class="mt-0 ps-0 mb-0 list-unstyled fw-medium">
                <li class="d-inline-block">
                    <span class="position-relative d-inline-block">
                        <i class="ti ti-info-circle-filled"></i>
                        Try free for 14 days. No credit card required.
                    </span>
                </li>
                <li class="d-inline-block">
                    <span class="position-relative d-inline-block">
                        <i class="ti ti-info-circle-filled"></i>
                        By signing up you agree to our <a routerLink="/terms-conditions">Terms</a> & <a routerLink="/privacy-policy">Privacy Policy</a>.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>