<div class="pricing-area position-relative z-1">
    <div class="container">
        <div class="pricing-head text-center">
            <h2 data-aos="fade-up" data-aos-duration="500">
                BuildTwin provides <span>amazing value</span> <br>to all its users</h2>
            <p data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                BuildTwin bundles and integrates different software solutions in one.
                <br>BuildTwin "pays for itself" - with its high degree of efficiency gains.
            </p>
            <div class="info text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <ul class="mt-0 ps-0 mb-0 list-unstyled fw-medium">
                    <li class="d-inline-block">
                        <span class="position-relative d-inline-block">
                            <i class="ti ti-info-circle-filled"></i>
                            14-day free trial
                        </span>
                    </li>
                </ul>
            </div>
            <!-- <div class="row">
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <h2 class="mb-0 font-poppins">
                        <span>Amazing value.</span> Bundeling ton of features for less.
                    </h2>
                </div>
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <h3 class="font-poppins">
                        BuildTwin pays for itself! 
                    </h3>

                        <p class="ms-auto list-hd-price"> 
                            <i class="ti ti-check checkList"></i> Significant efficiency gains in day2day operation (End-to-End ERP system)
                        </p>
                        <p class="ms-auto list-hd-price">
                            <i class="ti ti-check checkList"></i> Access to world-class tools - such as BI reports, Claims AI and many more tools 
                        </p>
                        <p class="ms-auto list-hd-price">
                            <i class="ti ti-check checkList"></i> Access to a global marketplace for projects / talents 

                        and many more benefits. 


                    </p>
                </div>
            </div> -->
        </div>
        <div class="row justify-content-center pricing-box-group">
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="pricing-box">
                    <h3 class="title font-poppins fw-semibold">
                        Small Team
                    </h3>
                    <span>Ideal for small teams who need quick access to basic features.</span>
                    <div class="price"><strong class="d-inline-block">$50</strong> <span class="d-inline-block">/ Month</span></div>
                    <a mat-button href="javascript:void(0);" class="default-btn">Get Started</a>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                AI Design Manager
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                QC System
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Digital Self Management system
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Access to BuildTwin Training 
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="pricing-box">
                    <h3 class="title font-poppins fw-semibold">
                        Team
                    </h3>
                    <span>Ideal for medium-sized teams who need a little more than basic features.</span>
                    <div class="price"><strong class="d-inline-block">$20</strong> <span class="d-inline-block">per user / Month</span></div>
                    <a mat-button href="javascript:void(0);" class="default-btn">Get Started</a>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                ALL features from small teams 
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Access to marketplace
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                BI reports
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                End-to-End ERP system
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="pricing-box">
                    <h3 class="title font-poppins fw-semibold">
                        Enterprise
                    </h3>
                    <span>Ideal for large teams who need complex features</span>
                    <div class="price"><strong class="d-inline-block">Get a quote</strong></div>
                    <a mat-button href="javascript:void(0);" class="default-btn">Get Started</a>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Fully Whitelabeled solution
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Custom Infra Set-UP
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Customization according to your company
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Dedicated Enterprise support
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="pricing-box">
                    <h3 class="title font-poppins fw-semibold">
                        Monthly savings
                    </h3>
                    <span>Ideal for small teams who need quick access to basic features.</span>
                
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                PDF / BIM Collaboration Tool License
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Microsoft Exchange 
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Teams, Slack, Zoom,    Dropbox, OneDrive, etc.
                            </span>
                        </li>
                        
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Our amazing AI Features
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="content-wrapper">
            <div class="header-section">
              <h2 class="header-title">What</h2>
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/39f07cd48fd55f9ee8ff1f6c60fb8a9dfaff2e096b389450e06205ad89d91696?apiKey=36850388eee14aa189272e3e1adf474e&" alt="" class="feature-img" />
              <h3 class="offer-text">can do for you</h3>
            </div>
            <div class="services-section">
              <div class="services-intro">I am / We are</div>
              <div class="services-container">
                <h4 class="services-title">Procuring engineering services</h4>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cce01dc6eca3498f0168c47d213f2e7765193ce28763768bcee719b9633f09da?apiKey=36850388eee14aa189272e3e1adf474e&" alt="" class="services-img" />
              </div>
            </div>
          </section>
        <div class="tableWrapper">

     

            <div class="tableheader bt-flex">
                <div class="col1">Co-Pilot Features</div>
                <div class="col2">
                    <img src="assets/auto/z.png" width="89" height="24">
                </div>
                <div class="col3">Legacy Tools</div>
                <div class="col4">Saving</div>
            </div>
            <div class="group">
                <div class="tableSubheader bt-flex">
                    <div class="col1 headingSubheader">E-Mail</div>
                    <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                            viewBox="0 0 19 19" fill="none">
                            <g clip-path="url(#clip0_5405_16691)">
                                <path
                                    d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                                    fill="#00B507" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5405_16691">
                                    <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                                </clipPath>
                            </defs>
                        </svg> Included</div>
                    <div class="col3">Exchange, own-Email Server</div>
                    <div class="col4">$200</div>

                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Compliant E-Mail Inbox for Teams</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Summarizing E-Mail and showing 360° technical context and history</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Tracking of discussed topics, timelines, etc. and updating project management </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Drafting respond e-mails with relevant context </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
            </div>
            <div class="group">
                <div class="tableSubheader bt-flex">
                    <div class="col1 headingSubheader">File Management </div>
                    <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                            viewBox="0 0 19 19" fill="none">
                            <g clip-path="url(#clip0_5405_16691)">
                                <path
                                    d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                                    fill="#00B507" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5405_16691">
                                    <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                                </clipPath>
                            </defs>
                        </svg> Included</div>
                    <div class="col3">Sharepoint, Active Directory & Manual management</div>
                    <div class="col4">20 Hours</div>

                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Automated Filemanagement - Save & Done </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual upload & manage</div>
                    <div class="col4">20 Hours</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Files are available in the Cloud across different offices / for clients </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Not available if not uploaded </div>
                    <div class="col4">20 Hours</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Compliant Backup / redundant storage  </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Local IT infrastructure required </div>
                    <div class="col4">20 Hours</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Automated Single Point of Truth (consolidating shared Files via E-Mails, etc. with files saved locally)    </div>
                    <div class="col2">Yes</div>
                    <div class="col3">No</div>
                    <div class="col4">20 Hours</div>
                </div>
            </div>
            <div class="group">
                <div class="tableSubheader bt-flex">
                    <div class="col1 headingSubheader">CDE Integration</div>
                    <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                            viewBox="0 0 19 19" fill="none">
                            <g clip-path="url(#clip0_5405_16691)">
                                <path
                                    d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                                    fill="#00B507" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5405_16691">
                                    <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                                </clipPath>
                            </defs>
                        </svg> Included</div>
                    <div class="col3">No software available </div>
                    <div class="col4">20%</div>

                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Consolidate Client CDE into your workenviromment - 1 System to manage all client systems</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">20%</div>
                </div>
               
                <div class="tableRow bt-flex">
                    <div class="col1">Automated project documentation </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">20%</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Detailed Reports of: Revisions, Type of comments, etc. </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">20%</div>
                </div>
            </div>
            <div class="group">
                <div class="tableSubheader bt-flex">
                    <div class="col1 headingSubheader">AI based Project Management System</div>
                    <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                            viewBox="0 0 19 19" fill="none">
                            <g clip-path="url(#clip0_5405_16691)">
                                <path
                                    d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                                    fill="#00B507" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5405_16691">
                                    <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                                </clipPath>
                            </defs>
                        </svg> Included</div>
                    <div class="col3">Mostly not specifically designed for engineering</div>
                    <div class="col4">$200</div>

                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">AI based Project Planning and Scheduling</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">AI based Resource Management & Allocation</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">AI based Time Tracking </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual</div>
                    <div class="col4">$200</div>
                </div>
                
            </div>
            <div class="tableheader bt-flex">
                <div class="col1">ERP Features  - 3 Enterprise Software in 1</div>
                <div class="col2">
                  
                </div>
                <div class="col3"></div>
                <div class="col4"></div>
            </div>
            <div class="group">
                <div class="tableSubheader bt-flex">
                    <div class="col1 headingSubheader">HCM</div>
                    <div class="col2 bt-flex gap8"></div>
                    <div class="col3"> </div>
                    <div class="col4"></div>

                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Manage your teams, apply your policies (Holidays, etc.) while complying with local law</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual HR Function</div>
                    <div class="col4">20%</div>
                </div>
               
                <div class="tableRow bt-flex">
                    <div class="col1">Automate Leave applications detailed  HR reports</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual HR Function</div>
                    <div class="col4">20%</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Automate Asset Management and Tracking according to your policy </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual HR Function</div>
                    <div class="col4">20%</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Resignation & Peformance Evalulation</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual HR Function</div>
                    <div class="col4">20%</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Calendar module with leaves, meetings & interview integration across platform</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual HR Function</div>
                    <div class="col4">20%</div>
                </div>
            </div>
            <div class="group">
                <div class="tableSubheader bt-flex">
                    <div class="col1 headingSubheader">Jobs</div>
                    <div class="col2 bt-flex gap8"></div>
                    <div class="col3"> </div>
                    <div class="col4"></div>

                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Manage your teams, apply your policies (Holidays, etc.) while complying with local law</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Manual HR Function</div>
                    <div class="col4">20%</div>
                </div>
               
                <div class="tableRow bt-flex">
                    <div class="col1">Automate Leave applications detailed  HR reports</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Extra Software, not integreated / AI powered</div>
                    <div class="col4">10 Hours</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">AI based Resume Management & Interview Scheduling with video Interviews, questions & answer </div>
                    <div class="col2">Yes</div>
                    <div class="col3">Extra HCM Software</div>
                    <div class="col4">15 Hours</div>
                </div>
                <div class="tableRow bt-flex">
                    <div class="col1">Customized Onboarding from interview to hiring</div>
                    <div class="col2">Yes</div>
                    <div class="col3">Extra HCM Software</div>
                    <div class="col4">20 Hours</div>
                </div>
                
            </div>
        </div>
    </div>
</div>