<div class="drawingFreelancers">
    <div class="container">
        <!-- <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"> -->
            <!-- <h3>Precast detailing service includes:</h3> -->
            <!-- <ul class="threeColList">
                <li>Precast Wall Panels Detailing</li>
                <li>Precast Shop Drawings</li>
                <li>Precast Stairs Detailing</li>
                <li>Precast Erection Drawings</li>
                <li>Precast Column Detailing</li>
                <li>Precast Beam Detailing</li>
                <li>Precast Slab Detailing</li>
                <li>Detailed Concrete Connections</li>
                <li>Embedment Detailing</li>
                <li>Hollow Core Detailing</li>
                <li>Precast Formwork</li>

            </ul> -->
        <!-- </div> -->
        <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            <h3>BIM Service includes:</h3>
            <ul class="threeColList">
                <li>BIM Modeling</li>
                <li>Shop Drawing Service</li>
                <li>5D BIM Services</li>
                <li>BIM Coordination</li>
                <li>4D BIM Service</li>
                <li>Facade Detailing</li>
                <li>BIM Consulting</li>
                <li>Architectural BIM</li>
                <li>3D BIM Modeling</li>
                <li>Scan to BIM Service</li>
                <li>Cobie Services</li>
                <li>BIM Outsourcing</li>
                <li>Revit BIM Service</li>
                <li>BIM Implementation</li>
                <li>Structural BIM</li>

                <li>Point Cloud To BIM</li>
                <li>CAD To BIM</li>
                <li>MEP BIM Services</li>
                <li>BIM For Infrastructure and Civil</li>
                <li>Quantity Take-Off</li>
                <li>BIM Automation</li>
            </ul>
        </div>
        <!-- <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600"> -->
            <!-- <h3>Steel Detailing Service includes:</h3> -->
            <!-- <ul class="threeColList">
                <li>Structural Steel Detailing</li>
                <li>Structural 3D Modeling</li>
                <li>2D Erection Drawings</li>
                <li>2D Shop Drawings</li>
                <li>Quantity Take-off Services</li>
                <li>Advanced Bill of Materials (ABM)</li>
                <li>Miscellaneous Metal Detailing</li>
                <li>Anchor Bolt Drawings</li>
                <li>Advance Bill of Material</li>
                <li>Tekla Steel Detailing</li>
                <li>Connection Sketches</li>
                <li>Drawing Index</li>
                <li>Advance Material List</li>
                <li>Single Part / Fittings Drawings</li>
                <li>Estimodeling Services</li>
                <li>Steel Joist & Deck Detailing</li>
                <li>Material Summary</li>
                <li>Field Bolt Summary</li>
            </ul> -->
        <!-- </div> -->
    </div>
</div>