<section class="common-Section aboutDataCenterSection">
    <div class="container">

        <div class="leftContent">
            <div data-aos="fade-up" data-aos-duration="500">
                <div class="mb-20">
                    <span class="borderedBtn">About Data Center in Europe</span>
                </div>
                <div class="mb-20">
                    <strong class="subTitle">Sustainability | Scalability | Advanced Technologies</strong>
                </div>
                <p>As the EU continues to Lead in Digital Innovation The Development of Advanced, Sustainable Data
                    Centers will be Crucial. As the EU continues to Lead in Digital Innovation The Development of
                    Advanced, Sustainable Data Centers will be Crucial.</p>
            </div>
            <div class="formWrapper">
                <form action="">

                    <div class="formRow" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        <label for="">
                            <input type="text" placeholder="Enter your email">
                        </label>
                        <button mat-button href="" class="button-v2 arrow-btn">Submit Now
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z"
                                    fill="white" />
                            </svg>
                        </button>
                    </div>

                </form>
            </div>

        </div>

        <div class="dcImage" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <img src="../../../../assets/images/dcImg.png" alt="">
        </div>


    </div>
</section>