<div class="sectionContainer">
    <div class="container pdR30">
        <div class="relativeContainer">
            <div class="sectionTop" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h1 class="heading">Turn your vision into blueprint
                    with sample structural drawings</h1>
                <p>Get a detailed layout of your design, complete with structural pre-cast 
                    specifications,
                    and industry standards met.</p>

                <div class="selectBoxWrapper">
                    <label for="selectboxMarket">
                        <lib-svg-icon class="arrowIcon" [name]="'selectMarket'" [size]="28" [sizeH]="17"></lib-svg-icon>
                        Select Market
                    </label>
                    <div class="selectBox countryField">
                        <div class="v-center-flex">
                            <img [src]="selectedCountry.image" width="29" height="29" alt="">
                            <div>
                                <span class="title">{{selectedCountry.label}}</span>
                                <!-- <small>{{selectedCountry.currency}}</small> -->
                            </div>
                        </div>
                        <app-bt-select [options]="countryArray" (selectedTabChange)="selectCountry($event)"
                            [selectedInput]="selectedCountry"></app-bt-select>
                    </div>
                </div>
            </div>

            <div class="drawingCarouselWrapper" >
                <div class="drawingCarousel">

                    <owl-carousel-o [options]="customOptions" *ngFor="let subProjectArray of discoverProjects">
                        <ng-template carouselSlide *ngFor=" let item of subProjectArray">
                            <div class="projectCard" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                                <div class="projectImg">
                                    <div class="varifiedTag">
                                        <span class="icon">
                                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g id="Group 2085652476">
                                                    <path id="Vector 2645"
                                                        d="M10.4555 1C10.4555 1 4.61769 4.71061 1.12811 4.71061C1.12819 13.5903 -0.817728 18.0964 10.4555 23C20.5883 17.8313 19.4149 15.3404 19.4149 4.71061C14.852 3.91554 10.4555 1 10.4555 1Z"
                                                        fill="#D3FFD5" stroke="#86DC89" stroke-width="1.5"
                                                        stroke-linejoin="round" />
                                                    <path id="Vector 2375"
                                                        d="M6.5215 10.4681L9.81589 14.3542C9.81589 14.3542 14.6787 5.71033 21.0003 2.8291"
                                                        stroke="#00B507" stroke-width="1.72185" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </g>
                                            </svg>
                                        </span>
                                        Verified Partner
                                    </div>
                                    
                                    <img src="{{item.img}}" class="projectImage" alt="cardImage">
                                    
                                </div>
                                <div class="slideContent">
                                    <div class="projectHighlight">
                                        <div class="serviceCompany">
                                            <img src="{{item.serviceCompanyIcon}}" width="{{item.width}}"
                                                height="{{item.height}}" alt="serviceCompanyIcons">
                                            <div class="companyName">
                                                <small>Vendor</small>
                                                {{item.serviceCompany}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="serviceCompanyDetails">
                                        <div class="companyDetails">
                                            <div class="title">Rendered Services
                                            </div>
                                            <div class="service">
                                                {{item.serviceDescription}}
                                            </div>
                                        </div>

                                        <div class="cardFooter">
                                            <a [routerLink]="item.link">
                                                {{item.linkTitle}}
                                            </a>
                                            <lib-svg-icon class="arrowIcon" [name]="'arrow-icon'" [size]="14"
                                                [sizeH]="22"></lib-svg-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!-- <ng-template carouselSlide>Slide 2</ng-template>
                    <ng-template carouselSlide>Slide 3</ng-template>
                    <ng-template carouselSlide>Slide 4</ng-template> -->
                    </owl-carousel-o>

                </div>
            </div>
        </div>
    </div>
</div>