<div class="threeCardsWrapper">
    <div class="container">
        <div class="container-with-right">
            <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <figure>
                    <img src="../../../../assets/images/IndependentVendors.svg" alt="Independent vendors">
                </figure>

                <h3>Customizable Vendor Selection Process</h3>
                <p>Filter vendors by industry expertise, location and project requirements to 
                    find your match.</p>
            </div>
            <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <figure>
                    <img src="../../../../assets/images/StandardisedDelivery.svg" alt="Standardised delivery">
                </figure>

                <h3>End-to-End Workflow Management</h3>
                <p>From project initiation to completion, manage every aspect of your 
                    drafting project in one place.</p>
            </div>

            <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <figure>
                    <img src="../../../../assets/images/MeetingCompliance.svg" alt="Meeting compliance">
                </figure>

                <h3>Scalability for Projects of Any Size</h3>
                <p>Small residential projects or large industrial structures, the platform caters
                    to projects of all sizes.</p>
            </div>
        </div>
    </div>
</div>