.how-it-works-image {
    padding: {
        left: 35px;
        right: 130px;
    };
}
.how-it-works-content {
    padding-left: 9px;
    
    .sub-title {
        font-size: 16px;
        margin-bottom: 12px;
        color: var(--themeColor);
    }
    h2 {
        margin-bottom: 13px;
        max-width: 674px;
        line-height: 1.25;
        font-size: 24px;
    }
    p {
        max-width: 592px;
    }
    .default-btn {
        background-color: var(--themeColor);
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 13px;
    }
}
.shape {
    bottom: 0;
    right: 22%;
    opacity: .50;

    img {
        animation: {
            duration: 30s;
            name: rotateme;
            timing-function: linear;
            iteration-count: infinite;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .how-it-works-image {
        margin-bottom: 15px;
        padding: {
            left: 0;
            right: 0;
        };
    }
    .how-it-works-content {
        padding-left: 0;
        
        .sub-title {
            font-size: 14px;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 8px;
            max-width: 100%;
            font-size: 25px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 2px;
        }
    }
    .shape {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .how-it-works-image {
        margin-bottom: 15px;
        padding: {
            left: 0;
            right: 0;
        };
    }
    .how-it-works-content {
        padding-left: 0;
        
        .sub-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 10px;
            max-width: 100%;
            font-size: 29px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .shape {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .how-it-works-image {
        padding: {
            left: 0;
            right: 0;
        };
    }
    .how-it-works-content {
        padding-left: 0;
        
        .sub-title {
            font-size: 15px;
            margin-bottom: 11px;
        }
        h2 {
            margin-bottom: 10px;
            max-width: 100%;
            font-size: 34px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 10px;
        }
    }
    .shape {
        display: none;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .how-it-works-image {
        padding: {
            left: 0;
            right: 15px;
        };
    }
    .shape {
        right: 15%;
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .how-it-works-image {
        padding: {
            left: 0;
            right: 40px;
        };
    }
    .shape {
        right: 20%;
    }

}