.about-content {
    max-width: 638px;
    position: relative;
    z-index: 3;

    h2 {
        font-size: 40px; font-weight: 600;
        max-width: 606px;
        line-height: 1.4;
        margin-bottom: 17px;
        span {
            font-size: 40px; font-weight: 600;
            line-height: 1.2;
            display: block;
        }
        i {
            font-size: 37px;
        }
        .jeffStyle {
            font-size: 56px;
            font-weight: 400;
        }
    }
    p {
        max-width: 523px;
        //letter-spacing: 0.4px;
    }
    .default-btn {
        font-family: var(--poppinsFontFamily);
        background-color: var(--themeColor);
        margin-top: 10px;
        padding: {
            top: 13px;
            bottom: 13px;
        };
        align-self: flex-start;
    }
    .brands-list {
        margin-top: 50px;
    }
}
.about-image {
    margin: 0 -70px 0 -140px;
    .main-image {
        display: none;
    }
    .image {
        padding: {
            top: 33px;
            left: 91px;
            right: 33px;
        };
        img {
            &:nth-child(2) {
                top: 0;
                right: 64px;
                position: absolute;
                border-radius: 4px;
                animation: moveleftbounce 2s linear infinite;
                box-shadow: 0px 4px 20px 0px rgba(96, 71, 136, 0.07);
            }
            &:nth-child(3) {
                top: 64px;
                left: -4px;
                position: absolute;
                border-radius: 4px;
                animation: movetopbounce 2s linear infinite;
                box-shadow: 0px 4px 20px 0px rgba(96, 71, 136, 0.07);
            }
            &:nth-child(4) {
                left: 48px;
                bottom: 105px;
                position: absolute;
                border-radius: 4px;
                animation: moveleftbounce 2s linear infinite;
                box-shadow: 0px 4px 20px 0px rgba(96, 71, 136, 0.07);
            }
        }
    }
    .shape1 {
        top: 12px;
        left: 143px;

        img {
            animation: {
                duration: 30s;
                name: rotateme;
                timing-function: linear;
                iteration-count: infinite;
            };
        }
    }
    .shape2 {
        right: 0;
        top: 50%;
        margin-top: 8px;
        transform: translateY(-50%);

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
    .shape3 {
        bottom: 24px;
        left: 220px;

        img {
            animation: moveleftbounce 5s linear infinite;
        }
    }
}
.about-area.pb-75 {
    margin-bottom: 67px;
}
.coming {
    border-radius: 40px;
    border: 1px solid #886DE0;
    background: #f6f3ff;
    color: #886de0;
    padding: 8px 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    align-self: flex-start;
}
.about-content-flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* Max width 767px */
@media only screen and (max-width : 767px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 25px;
            max-width: 100%;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 3px;
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .brands-list {
            margin-top: 5px;

            img {
                margin-top: 20px;
            }
        }
    }
    .about-image {
        margin: 25px 0 0;

        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}


/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 29px;
            max-width: 100%;
            margin-bottom: 13px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .brands-list {
            margin-top: 30px;
        }
    }
    .about-image {
        margin: 25px 0 0;

        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 35px;
            max-width: 100%;
            margin-bottom: 15px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
        .brands-list {
            margin-top: 30px;
        }
    }
    .about-image {
        margin: 0;
        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 45px;
            max-width: 100%;
            margin-bottom: 15px;
        }
        p {
            max-width: 520px;
        }
        .brands-list {
            margin-top: 40px;
        }
    }
    .about-image {
        margin: 0;
        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .about-image {
        .image {
            img {
                &:nth-child(3) {
                    width: 300px;
                }
                &:nth-child(4) {
                    width: 240px;
                }
            }
        }
        .shape3 {
            left: 180px;
        }
    }

}


a.play {
    display: block;
    width: 126px;
    position: absolute;
    top: 19%;
    left: 15.5%;
}


@media (max-width:767px){
    .about-content h2 span {
        font-size: 30px;
    }
    .about-area.ptb-100{
        padding-bottom: 0;
    }
    a.play {
        width: 54px;
        top: 41%;
        left: 32%;
    }
    .about-area.pb-75 {
        margin-bottom: 25px;
    }
}