.mb-25 {
    margin-bottom: 25px;
}
.border-top {
    border-top: 2px dashed var(--borderColor);
}
.border-bottom {
    border-bottom: 2px dashed var(--borderColor);
}
.title {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 25px;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .title {
        line-height: 1.4;
        margin-bottom: 25px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .title {
        margin-bottom: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .title {
        margin-bottom: 35px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .title {
        margin-bottom: 40px;
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {}