<app-hd-navbar></app-hd-navbar>

<app-fs-banner></app-fs-banner>

<app-fs-about></app-fs-about>

<app-fs-integrations></app-fs-integrations>

<app-text-slider></app-text-slider>

<app-fs-services></app-fs-services>

<app-fs-partners></app-fs-partners>

<app-payments-products></app-payments-products>

<app-fs-features></app-fs-features>

<app-fs-funfacts></app-fs-funfacts>

<app-fs-testimonials></app-fs-testimonials>


<!-- get started -->
<app-get-started></app-get-started>


<!-- Footer -->
<app-hd-footer></app-hd-footer>