<app-hd-navbar></app-hd-navbar>

<!-- Page Title -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center" data-aos="fade-up" data-aos-duration="500">
            <h1 class="mb-0 ms-auto me-auto">
                BuildTwin is the hub for engineering projects and training.
            </h1>
        </div>
    </div>
    <div class="pt-shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape1.png" alt="shape1">
    </div>
    <div class="pt-shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape27.png" alt="shape27">
    </div>
</div>
<!-- End Page Title -->

<app-em-about></app-em-about>

<app-em-partners></app-em-partners>

<app-em-why-choose-us></app-em-why-choose-us>

<app-em-funfacts></app-em-funfacts>

<!-- 
<app-team-style-one></app-team-style-one>
-->

<div class="pt-100">
    <app-em-testimonials></app-em-testimonials>
</div>

<app-em-faq></app-em-faq>

<app-join-us></app-join-us>

<app-hd-footer></app-hd-footer>