.course_schedule {
    border-radius: 8px;
    border: 1px solid var(--gradient, #886DE0);
    background: #F6F3FF;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 37px;
    max-width: 1296px;
    margin: 0 auto;
    margin-top: 50px;


    .text {
        h2 {
            color: #000;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 8px;
        }

        span {
            color: var(--black-700-black, #121212);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    .btn {
        border-radius: 6.242px;
        background: #886DE0;
        display: inline-flex;
        padding: 14px 40px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: var(--color-green-button, #FFF);
        font-size: 21.847px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        min-width: 253px;
        cursor: pointer;
        /* 30.585px */

    }

}

.expert {
    padding: 64px 72px 58px 72px;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-bottom: 20px;

    h2 {
        color: #0E0E28;

        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 12px;
    }

    p {
        color: var(--Black, #000);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 48px;
    }

    .expertFlex {
        display: flex;
        gap: 24px;

        .item {
            border-radius: 0px 8px 8px 0px;
            border-left: 2px solid #886DE0;

            background: #FAFAFA;
            display: flex;
            width: 306px;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            strong {
                color: var(--primary, #886DE0);
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                /* 40px */
            }

            span {
                color: var(--black-700-black, #121212);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }

}