<app-hd-navbar></app-hd-navbar>



<div class="training-wrapper">

    <!-- Hero Section-->
    <app-elearning-banner></app-elearning-banner>

    <!-- Co-Developed with Clients -->
    <div class="features-area pt-100 pb-70">
        <app-features-style-one></app-features-style-one>
    </div>


    <!-- Partner -->
    <div class="container">
        <app-partner></app-partner>
    </div>

    <!-- German Course -->
    <div class="courses-area ptb-100">
        <app-courses></app-courses>
    </div>

    
<br><br>

<!-- Training specifically for you -->
<app-elearning-about></app-elearning-about>

<!-- Learning at your own pace -->

<app-funfacts-feedback></app-funfacts-feedback>


<!-- 
<div class="blog-area ptb-100">
    <app-blog></app-blog>
</div>
-->


<!-- CTA -->
<app-view-all-courses></app-view-all-courses>





<div class="premium-access-area ptb-100">
    <app-premium-access></app-premium-access>
    <div class="shape3"><img src="assets/images/training/shape3.png" alt="image"></div>
    <div class="shape4"><img src="assets/images/training/shape4.png" alt="image"></div>
    <div class="shape8"><img src="assets/images/training/shape7.png" alt="image"></div>
</div>





</div>
<app-hd-footer></app-hd-footer>