<div class="faqWrapper global-mb">
    <div class="container">
        <div class="" [ngClass]="{'container-with-right': !fullScreen}">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>
                    <strong>Frequently Asked Questions</strong>
                </h2>
                <p>Find answers to common questions about how BuildTwin can streamline your residential projects</p>
            </div>

            <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What are the main types of residential buildings covered by BuildTwin’s marketplace?
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin’s platform supports a wide range of residential projects, including single‑family house, multi‑family apartments, condos, townhouses, and modular homes. These are the main types of residential buildings available, and we also cater to other types of properties to ensure our customers have diverse options.
                        </p>
                        <!-- <ul class="default-list-ul">
                            <li><b>Location:&nbsp;</b> Proximity to power sources, climate, and risk of natural disasters.</li>
                            <li><b>Scalability:&nbsp;</b> Design flexibility to accommodate future growth and technology upgrades.</li>
                            <li><b>Energy Efficiency:&nbsp;</b> Implementation of systems that minimize energy consumption, such as advanced cooling solutions and energy-efficient power systems.</li>                        
                        </ul> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    How does BuildTwin streamline the residential construction process?
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin’s innovative digital services simplify the complex process of residential construction. By connecting customers with qualified engineering services and trusted contractors, our platform optimizes project management at every construction site, reducing delays and ensuring projects are completed within the expected time frame.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What engineering services are crucial for residential projects?
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Essential engineering services for residential projects include structural analysis, energy modeling, and system integration for efficient heating and cooling. These services guarantee that every project meets safety standards and delivers long-term durability. Our platform connects you with top-notch engineering services providers.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    How do local building codes and standards impact a residential project site?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Local building codes and standards play a vital role in every project site by ensuring safety, energy efficiency, and accessibility. These regulations govern construction methods on solid land and proper property management practices, reducing risks during construction and ensuring compliance with local zoning requirements.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What key benefits do businesses gain by using BuildTwin’s platform?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Businesses benefit from streamlined services that reduce project delays and optimize costs. BuildTwin’s platform provides access to reliable engineering services and trusted digital tools, enabling businesses to boost productivity and competitiveness while achieving higher quality outcomes on their residential projects.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What are the challenges that builders face on a residential construction site?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Builders often encounter challenges such as weather variability, high winds, labor shortages, and stringent regulatory requirements. They must coordinate multiple disciplines and adhere to safety protocols—including the use of hard hats—while managing a complex process that in time frame demands meticulous planning at every construction site.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    How does BuildTwin support businesses during the planning and execution of residential projects?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin supports businesses by offering integrated digital services that connect them with expert engineering services and skilled building teams. Our platform simplifies planning from evaluating the project site to monitoring progress, ensuring smooth execution for residential projects and reducing overall delays.
                        </p>
                    </mat-expansion-panel>
                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Can I view past projects or case studies from vendors on BuildTwin?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            You can explore our entire list of vendors and their past projects [here].
                        </p>
                    </mat-expansion-panel> -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What key features should customers look for when selecting residential construction services?
                                </h3>
                                                           
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Customers should focus on key features such as quality materials, energy efficiency, and robust roofing. It is important to choose services that offer transparent cost structures and proven engineering services, ensuring that designs for new construction and other homes meet high safety standards.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    How can BuildTwin’s platform improve project outcomes for residential construction?
                                </h3>
                                                           
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin’s digital platform enhances project outcomes by providing reliable services that connect customers with experienced engineering services and vetted building teams. This integration improves scheduling and project monitoring, delivering significant benefits to businesses and ensuring projects meet diverse needs across various types of neighborhoods on available land.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>