.socials-media-info-area {
    background-color: #f8f8f8;
    padding-top: 80px;

    h2 {
        font-size: 40px; font-weight: 600;
        line-height: 1.7;
        margin-bottom: 15px;
        span {
            display: block;
            font-size: 40px; font-weight: 600;
            line-height: 1;
        }

        +span {
            display: block;
            font-size: 16px;
            color: #000;
        }
    }

}
.info-box {
    padding: 20px 20px 75px;
    border-radius: 4px;//updated-from-20-8;
    background: var(--whiteColor);
    border: 1px solid var(--borderColor);
    height: 100%;
    position: relative;

    .image {
        margin-bottom: 20px;
        img {
            border-radius: 4px;
        }
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 8px;
    }

    p {
        font-size: 13px;
        line-height: 1.4;
        color: var(--lightColor);
    }
    .link-btn {
        color: var(--blackColor) !important;
        display: inline-block;
        padding: 0 20px 0 0;
        border-radius: 0;
        font-size: 16px;
        min-width: auto;
        height: auto;
        position: absolute !important;
        left: 20px;
        bottom: 29px;

        i {
            top: 50%;
            right: -5px;
            font-size: 16px;
            margin-top: .5px;
            position: absolute;
            transform: translateY(-50%);
        }
        .title {
            padding-bottom: 10px;
            
            &::before {
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                transition: var(--transition);
                background: var(--themeColor);
            }
        }
        &:hover {
            color: var(--themeColor) !important;

            .title {
                &::before {
                    width: 0;
                }
            }
        }
    }

    .default-btn {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
}
:host ::ng-deep .owl-nav {
    display: block!important;
}
:host ::ng-deep .owl-stage {
    display: flex;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
    right: 0 ;
    z-index: 99 ;
    width: 47px ;
    bottom: 0 ;
    height: 47px ;
    display: block ;
    transition: var(--transition) ;
    background-color: var(--whiteColor) ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px ;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    position: relative;
    .ti.ti-chevron-left,.ti.ti-chevron-right {
        display: none;
    }
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-prev]{    
    position: absolute;
    right: auto;
    bottom: auto;
    left: -3px;
    top: 54%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-next]{    
    position: absolute;
    right: -3px;
    bottom: auto;
    left: auto;
    top: 54%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: .92;
    background-color: var(--themeColor) ;
    &::before{
        color: var(--whiteColor);
    }
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]::before {
    left: 0;
    right: 0;
    top: 50%;
    line-height: 1;
    content: "\ea62";
    margin-top: -0.5px;
    position: absolute;
    color: var(--blackColor);
    transform: translateY(-50%);
    transition: var(--transition);
    font-size: 25px;
    font-family: "tabler-icons";
}
::ng-deep {
    .segmentation-content {
        .link-btn {
            .mat-mdc-button-persistent-ripple {
                &::before {
                    display: none;
                }
            }
            .mdc-button__label {
                position: unset;
            }
            .mat-mdc-button-touch-target {
                height: 100%;
            }
        }
    }
}

.socials-media-info-area.ptb-100 {
    padding-bottom: 0;
}
.socials-media-info-area {

    padding-bottom: 80px;
}
/* Max width 767px */
@media only screen and (max-width : 767px) {

    .socials-media-info-area {
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .info-box {
        padding: 20px;
        border-radius: 4px;
        padding-bottom: 57px;
    
        .number {
            margin-bottom: 5px;
            font-size: 24px;
        }
        .info {
            margin-top: 15px;
    
            .user {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

}



/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .socials-media-info-area {
        .container-fluid {
            padding: {
                left: 0;
                right: 0;
            };
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .info-box {
        padding: 22px;
        padding-bottom: 53px;
        .number {
            margin-bottom: 8px;
            font-size: 26px;
        }
        .info {
            margin-top: 15px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .info-box {
        padding: 25px;
    
        .number {
            font-size: 28px;
        }
        .info {
            margin-top: 15px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1400px to Max width 1699px */
@media (max-width: 767px) {
    .socials-media-info-area h2 span {
        font-size: 34px;
    }

}

@media (max-width:1200px){
    .info-box {
        padding-bottom: 50px;
    }
}