.services-area {
    &::before {
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        content: '';
        height: 40.5%;
        position: absolute;
        border-radius: 8px;//updated-from-20-8;
        background: #f8f8f8;
        margin: {
            top: 50px;
            left: 50px;
            right: 50px;
        };
    }
    .em-section-title {
        margin-top: 50px;
        max-width: 780px;

        h2 {
            line-height: 1.25;
        }
    }
}
.service-box {
    padding: 24px;
    margin-bottom: 25px;
    border-radius: 8px;//updated-from-20-8;
    border: 1px solid var(--borderColor);
    transition: var(--transition);
    background-color: var(--whiteColor);

    .icon {
        width: 36px;
        height: 36px;
        position: relative;
        text-align: center;
        border-radius: 4px;
        margin-bottom: 24px;
        background-color: var(--backgroundColor);
        transition: var(--transition);

        svg {
            width: 20px;
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
            margin: {
                left: auto;
                right: auto;
            };
            path {
                transition: var(--transition);
            }
        }
    }
    h3 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    .link-btn {
        color: var(--themeColor) !important;
        padding: 0 18px 0 0;
        border-radius: 0;
        font-size: 12px;
        min-width: auto;
        margin-top: 5px;
        height: auto;

        i {
            top: 1px;
            right: -5px;
            font-size: 15px;
            position: absolute;
        }
        .title {
            padding-bottom: 10px;
            
            &::before {
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                transition: var(--transition);
                background: var(--themeColor);
            }
        }
        &:hover {
            color: var(--themeColor) !important;

            .title {
                &::before {
                    width: 0;
                }
            }
        }
    }
    &:hover {
        transform: translateY(-10px);

        .icon {
            background-color: var(--themeColor) !important;

            svg {
                path {
                    fill: var(--whiteColor);
                }
            }
        }
    }
}

::ng-deep {
    .service-box {
        .link-btn {
            .mat-mdc-button-persistent-ripple {
                &::before {
                    display: none;
                }
            }
            .mdc-button__label {
                position: unset;
            }
            .mat-mdc-button-touch-target {
                height: 100%;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .services-area {
        &::before {
            display: none;
        }
        .em-section-title {
            max-width: 100%;
            margin-top: 0;
        }
    }
    .service-box {
        padding: 20px;
        border-radius: 10px;
    
        .icon {
            width: 80px;
            height: 80px;
            margin-bottom: 18px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .link-btn {
            margin-top: 0;
            font-size: 18px;
            padding: 0 18px 0 0;
    
            .title {
                padding-bottom: 5px;
                
                &::before {
                    height: 1px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .services-area {
        &::before {
            display: none;
        }
        .em-section-title {
            max-width: 100%;
            margin-top: 0;
        }
    }
    .service-box {
        padding: 30px;
    
        .icon {
            width: 100px;
            height: 100px;
            margin-bottom: 25px;
        }
        h3 {
            margin-bottom: 12px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .services-area {
        &::before {
            display: none;
        }
        .em-section-title {
            margin-top: 0;
        }
    }
    .service-box {
        padding: 25px;
    
        .icon {
            width: 100px;
            height: 100px;
            margin-bottom: 25px;
        }
        h3 {
            font-size: 19px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .services-area {
        &::before {
            display: none;
        }
    }
    .service-box {
        padding: 30px 25px;
    
        .icon {
            width: 110px;
            height: 110px;
            margin-bottom: 25px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .services-area {
        &::before {
            margin: {
                top: 25px;
                left: 25px;
                right: 25px;
            };
        }
        .em-section-title {
            margin-top: 25px;
        }
    }
    .service-box {
        padding: 40px 30px;
    
        h3 {
            font-size: 19px;
        }
    }

}