.funfacts-box {
    padding: 24px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 2px solid var(--borderColor);

    .number {
        line-height: 1;
        margin-bottom: 70px;
        color: var(--themeColor);
        transition: var(--transition);
        margin: {
            top: -10px;
            right: -10px;
        };
    }
    p {
        font-size: 14px;
        // letter-spacing: 1.8px;
        color: var(--lightColor);
    }
    h3 {
        line-height: 1.25;
        font: {
            size: 20px;
        };
    }
    &:hover {
        .number {
            color: var(--primaryColor);
            transform: translateX(-10px);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .funfacts-box {
        padding: 24px;
        border-radius: 8px;
    
        .number {
            margin-bottom: 15px;
            margin: {
                top: 0;
                right: 0;
            };
        }
        p {
            font-size: 14px;
            margin-bottom: 10px;
            // letter-spacing: 1.2px;
        }
        h3 {
            line-height: 1.25;
            font-size: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .funfacts-box {
        padding: 24px;
        border-radius: 8px;//updated-from-20-8;
    
        .number {
            margin-bottom: 25px;
            margin: {
                top: 0;
                right: 0;
            };
        }
        p {
            font-size: 14px;
            margin-bottom: 12px;
            // letter-spacing: 1.5px;
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .funfacts-box {
        padding: 24px;
    
        .number {
            margin-bottom: 30px;
            margin: {
                top: 0;
                right: 0;
            };
        }
        p {
            font-size: 14px;
            margin-bottom: 10px;
            // letter-spacing: 1.5px;
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .funfacts-box {
        padding: 24px;
    
        .number {
            margin-bottom: 50px;
            margin: {
                top: 0;
                right: 0;
            };
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .funfacts-box {
        padding: 24px;

        .number {
            margin-right: -2px;
        }
        h3 {
            font-size: 20px;
        }
    }

}