<div class="banner-area position-relative z-1">
   
    

<div class="sliderCover">
       <owl-carousel-o [options]="aboutSlider">
        <ng-template carouselSlide>
          <div class="item">
            <div class="container">
            <div class="banner-content text-center ms-auto me-auto">
              <h1 class="font-poppins" data-aos="fade-up" data-aos-duration="500">
                  BuildTwin <span class="jeffStyle">connects</span>  {{getGlobalValue()}}+ engineers <br>with construction projects <br><u>across the globe</u>. 
              </h1>
              <p class="ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                  supercharged by <span class="fw-semibold">AI</span> - to meet
              <br> technical, quality and time requirements.
              </p>
              <div class="btn-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                  <a href="https://www.buildtwin.com/get-started" target="_blank" class="button-v2">Get Started</a>
                  <a routerLink="{{_languageService.currentLanguage}}/marketplace" class="button-v2">How it Works</a>
              </div>
              <ul class="features-list ps-0 mb-0 list-unstyled" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                  <li class="fw-medium">
                      <span class="position-relative d-inline-block">
                          <i class="ti ti-info-circle-filled"></i>
                          Try BuildTwin for FREE
                      </span>
                  </li>
              </ul>
            </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
         
          <div class="item">
            <div class="container">
            <div class="banner-content text-center ms-auto me-auto">
              <h1 class="font-poppins" data-aos="fade-up" data-aos-duration="500">
                  BuildTwin <span class="jeffStyle">connects</span>  400+ SDS2 <br>engineers with construction projects<br> in <u>United Kingdom</u>. 
              </h1>
              <div class="imgWrap">
                <img src="assets/images/ui/sde2.png" width="109" height="34" alt="Sde2">
              </div>
              <div class="btn-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                  <a routerLink="{{_languageService.currentLanguage}}/marketplace" class="button-v2">Get started with SDS2</a>
              </div>
              <ul class="features-list ps-0 mb-0 list-unstyled hide" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                  <li class="fw-medium">
                      <span class="position-relative d-inline-block">
                          <i class="ti ti-info-circle-filled"></i>
                          Try BuildTwin for FREE
                      </span>
                  </li>
              </ul>
          </div>
          </div>
          </div>
         
          <!-- <img class="slide2" src="assets/images/ui/ukSvg.png" width="607" height="375"> -->
        </ng-template>
     
    </owl-carousel-o>

  </div>
    <div class="container">

     <app-three-col-market>
      <div class="cdeSection_wrap">
        <div class="cdeSection">
            <div class="cde_col">
              <img src="assets/images/email4.png" alt="Email">
              <div class="headPartWrappper">
              <div class="headPart">
                <h2>Procure Teams/Find Jobs</h2>
                <span>Marketplace</span>
              </div>
              <p>100s of pre-qualified technical teams and jobs easily accessible</p>
              </div>
                <i class="icon1">
                  <svg width="32" height="228" viewBox="0 0 32 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32 1V1C23.1634 1 16 8.16345 16 17V211C16 219.837 8.83656 227 0 227V227" stroke="#0053fa" stroke-dasharray="2"/>
                    <path d="M8 89L16 99L24 89" stroke="#A692E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>procure</span>
                </i>
            </div>
            <div class="cde_col">
              <img src="assets/images/email5.png" alt="Email">
              <div class="headPartWrappper">
              <div class="headPart">
                <h2>Your AI Assistant</h2>
                <span>Co-Pilot</span>
              </div>
              <p class="extra-space">Let AI keep you up to date and organised</p>
              </div>
              <i class="icon1">
                <svg width="32" height="228" viewBox="0 0 32 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M-7.3346e-07 1V1C8.83655 1 16 8.16345 16 17V211C16 219.837 23.1634 227 32 227V227" stroke="#0053fa" stroke-dasharray="2"/>
                  <path d="M24 89L16 99L8 89" stroke="#A692E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span>qualify</span>
              </i>
            </div>
      
            <div class="cde_col">
              <img src="assets/images/email6.png" alt="Email">
              <div class="headPartWrappper">
              <div class="headPart">
                <h2>Qualification</h2>
                <span>Qualify Your Technical Teams</span>
              </div>
              <p>Co-develop training with BuildTwin and qualify 100s of teams & talents on demand</p>
              </div>
            </div>
          </div>
        </div>

     </app-three-col-market>
    </div>
  
  
    <!-- 
    <div class="shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape13.png" alt="shape13">
    </div>
    <div class="shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape21.png" alt="shape21">
    </div>
    -->
  
  
    <div class="overlay position-absolute z-n1"></div>
</div>