.page-wrapper {
    padding-top: 146px;
}
figure {
    margin: 0;
}
.align-item-center {
    align-items: center;
}
strong {
    font-weight: 700;
}
h2 {
    color: #0e0e28;
    font-family: var(--fontFamily);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    margin-bottom: 30px;

    small {
        color: var(--Black, #000);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        display: block;
    }
}
h3 {
    font-family: var(--fontFamily);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    margin-bottom: 10px;
}
h4 {
    font-family: var(--fontFamily);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    margin-bottom: 16px;
}
h6 {
    border-radius: 8px;
    background: #f6f3ff;
    margin-bottom: 10px;
    padding: 0 16px;
    color: #0053fa;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 187.5% */
    display: inline-flex;
    margin-bottom: 18px;
}
p {
    font-family: var(--fontFamily);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 14px;
}
.custom-select {
    padding: 12px 26px 12px 16px;
    border-radius: 4px;
    border: 1px solid #ececec;
    background: #fff;
    color: #000;
    font-family: var(--fontFamily);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    appearance: none;
    min-width: 216px;
}
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    &::after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        border-top: 5px solid #808080;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    margin: 0;
    padding: 0;
}
.block-section {
    padding: 65px 0;
}
.secondaryBg {
    background: var(--backgroundColor);
}
/*
    Page head css start
*/
#page-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .left {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .company-name {
        color: var(--paragraphColor);
        font-family: var(--fontFamily);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .company-address {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        color: var(--paragraphColor);
        font-family: var(--fontFamily);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.rating {
    display: flex;
    align-items: center;
    gap: 8px;
    ::ng-deep {
        .ant-rate {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 4px;
            li {
                position: relative;
                color: var(--themeColor);
                margin: 0;
                .ant-rate-star-second {
                    left: 0;
                    top: 0;
                }
                svg {
                    width: 16px;
                    height: 16px;
                    display: block;
                }
            }
        }
    }
    .type {
        padding: 4px;
        border-radius: 4px;
        background: var(--secondaryBackgroundColor);
        color: var(--paragraphColor);
        font-family: var(--fontFamily);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.badge-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    .badge {
        border-radius: 17.5px;
        border: 1px solid #86dc89;
        background: #eefff0;
        display: flex;
        align-items: center;
        gap: 11px;
        padding: 5px 9px;
        &.secondary {
            color: #0053fa;
            border-color: #c9b8ff;
            background: #f7f5ff;
        }
    }
}
/*
    Page head css end
*/

/*
    Company overview css start
*/
.company-overview {
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
    &.child {
        padding: 17px;
        .image-wrapper {
            flex-grow: 1;
        }
    }
}
.image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-grow: 1;
    img {
        display: block;
    }
    .top {
        display: flex;
        gap: inherit;
        .left {
            display: flex;
            flex-direction: column;
            gap: inherit;
            &.fullImage {
                width: 100%;
            }
            &.twoItem {
                flex-grow: 1;
                flex-direction: row;
                figure {
                    flex-grow: 1;
                    img:not(.abs-image) {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }
    }
    .bottom {
        display: flex;
        gap: 7.4px;
        flex-wrap: wrap;
        figure {
            width: calc(25% - 6px);
        }
    }
    figure {
        background: #ccc;
        position: relative;
        margin: 0;
        overflow: hidden;
        .abs-image {
            position: absolute;
            left: 50%;
            top: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
        }
        .abs-caption {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        figcaption {
            display: flex;
            min-width: 216px;
            padding: 6px 12px;
            align-items: center;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            left: 8px;
            bottom: 16px;
            color: #fff;
            font-family: var(--fontFamily);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            &.abs-caption {
                width: 100%;
                height: 100%;
                justify-content: center;
            }
        }

        &.moreImagePlaceholder {
            figcaption {
                border-radius: 0;
            }
        }
    }
}

.company-detail {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 334px;
    min-width: 334px;
    &.in-popup {
        width: 325px;
        flex: 0 0 auto;
    }
    .block {
        fill: #fff;
        box-shadow: 0px 0px 10px rgba(175, 175, 175, 0.15);
        border-radius: 10px;
        &.user-detail-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
            padding: 21px;
            .user-detail-child {
                display: flex;
                align-items: center;
                gap: 7px;
                figure {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0;
                }
                .user-detail {
                    color: #6e6e6e;
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    strong {
                        color: #000;
                        font-family: var(--fontFamily);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        display: block;
                    }
                }
            }
        }

        .head {
            color: #0053fa;
            text-align: center;
            font-family: var(--fontFamily);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 187.5% */
            border-bottom: 1px solid #ede8ff;
            padding: 5px;
            justify-content: center;
        }
        .content {
            padding: 16px 19px;
            .sub-heading {
                color: #000;
                font-family: var(--fontFamily);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 142.857% */
                margin-bottom: 5px;
            }
            .list {
                color: #000;
                font-family: var(--fontFamily);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.4; /* 214.286% */
                padding: 0;
                margin: 0;
                &.bullets {
                    li {
                        padding-left: 20px;
                        position: relative;
                        &::before {
                            content: "";
                            width: 4px;
                            height: 4px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            border-radius: 50%;
                            background: #000;
                        }
                    }
                }
                li {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    padding: 5px 0;
                    .icon {
                        width: 18px;
                        display: flex;
                        justify-content: center;
                        svg {
                            display: block;
                        }
                    }
                    span.color {
                        color: #0053fa;
                    }
                }
            }
        }
    }
}
/*
    Company overview css end
*/

/*
    Qualified partner css start
*/
.qualified-partner {
    h2 {
        margin-bottom: 142px;
        small {
            display: block;
        }
    }
    .qualified-list {
        gap: 18px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -120px;
        .block {
            flex-grow: 1;
            box-shadow: 0px 1.731px 13.845px rgba(0, 0, 0, 0.06);
            border-radius: 10px;
            padding-top: 2px;
            max-width: calc(25% - 18px);
            display: flex;
            flex-direction: column;
            margin-bottom: 120px;
            figure {
                background: url(../../../../assets/images/figure-bg.png) repeat;
                height: 163px;
                margin: 0;
                border-radius: 10px 10px 0 0;
                img {
                    margin: 0 auto;
                    transform: translateY(-50%);
                    display: block;
                }
            }
            .detail {
                padding: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 7px;
                background: white;
                border-radius: 0 0 10px 10px;
                flex-grow: 1;
                h5 {
                    margin-bottom: 0;
                    color: #000;
                    text-align: center;
                    font-family: var(--fontFamily);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                p {
                    color: #000;
                    text-align: center;
                    font-family: var(--fontFamily);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 8px;
                }
                .buttonV2 {
                    align-self: center;
                    padding: 9px 20px 8px 20px;
                    background: none;
                }
            }
        }
    }
}
/*
    Qualified partner css end
*/

/*
    Specialised Sector css start
*/
.specialised-item-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    .block {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 214.052px;
        figure {
            border: 3.526px solid #fff;
            box-shadow: 0px 3.205px 25.64px rgba(0, 0, 0, 0.2);
            margin: 0;
            img {
                display: block;
                aspect-ratio: 192.812 / 251.278;
                width: 207px;
                min-width: 207px;
                max-width: 207px;
            }
        }
        figcaption {
            color: #000;
            font-family: var(--fontFamily);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 31.025px; /* 193.904% */
            text-transform: uppercase;
            text-align: center;
        }
    }
}
/*
    Specialised Sector css end
*/

/*
    service css start
*/
.service-flex {
    display: flex;
    gap: 100px;
    .left {
        display: flex;
        flex-direction: column;
        gap: 18px;
        .list {
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding: 0;
            margin: 0;
            min-width: 308px;
            li {
                padding: 9px 0 9px 12px;
                color: #000;
                font-family: var(--fontFamily);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
    .digitalised-operation ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 16px;
        }
    }
}

/*
    service css end
*/

/*
    Available Service for Direct Booking css start
*/
#available-service {
    .head {
        ul {
            gap: 25px;
            width: auto;
            align-items: center;
            margin-bottom: 10px;
        }
    }
    table {
        width: 100%;
        text-align: left;
        th {
            background: #0053fa;
            border-right: 4px solid white;
            color: var(--white, #fff);
            font-family: var(--fontFamily);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 10px 24px;
            &:first-child {
                border-radius: 4px 0 0 0;
            }
            &:last-child {
                border-radius: 0 4px 0 0;
                border-right: none;
            }
        }
        td {
            background: #f6f3ff;
            padding: 20px;
            border-right: 4px solid white;
            border-top: 4px solid white;
            vertical-align: top;
            &:last-child {
                border-right: none;
            }
            h5 {
                margin-bottom: 20px;
                color: var(--Color-3, #0053fa);
                font-family: var(--fontFamily);
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .list {
                display: flex;
                flex-direction: column;
                gap: 16px;
                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    justify-content: space-between;
                }
                &.with-icon {
                    li {
                        justify-content: flex-start;
                    }
                }
                &.bullets {
                    margin-bottom: 25px;
                    li {
                        padding-left: 10px;
                        position: relative;
                        &::before {
                            width: 4px;
                            height: 4px;
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: black;
                            border-radius: 50%;
                        }
                    }
                }
            }
            &.normal {
                h5 {
                    font-weight: 700;
                    color: black;
                }
                .default-btn {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}
/*
    Available Service for Direct Booking css end
*/

/*
    Team wrapper css start
*/
#team-wrapper {
    .container {
        padding: 0 110px;
    }
    .slide {
        height: 100%;
        display: flex;
        .content {
            display: flex;
            flex-direction: column;
        }
        figure {
            min-width: 362px;
            max-width: 362px;
            height: 425px;
        }
        h2 {
            padding-left: 35px;
        }
        .team-member {
            padding: 35px;
            background: white;
            border-radius: 0 10px 0 0;
            flex-grow: 1;
            .name {
                color: #000;
                font-family: var(--fontFamily);
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 44.8px */
                margin-bottom: 4px;
            }
            .detail {
                color: var(--Color-3, #0053fa);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 28px */
                margin-bottom: 13px;
                small {
                    display: block;
                    font-size: 16px;
                    margin-top: 4px;
                }
            }
            p {
                color: #656565;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%; /* 32px */
                margin-bottom: 25px;
            }
            .my-expertise {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                margin-bottom: 22px;
                span {
                    color: #a088ff;
                    font-family: "Jeff Script";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 28px */
                }
            }
            .expertise-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .block {
                    border-radius: 4px;
                    border: 1px solid #e2e2e2;
                    background: #fafafa;
                    padding: 0 14px;
                    display: block;
                    span {
                        color: #0053fa;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .owl-carousel .owl-stage {
            // display: flex;
        }
        .owl-prev {
            position: absolute;
            left: -105px;
            bottom: 44px;
            width: 100px;
            height: 100px;
            background: #0053fa;
            border-radius: 10px 0 0 10px;
            font-size: 0;
            &::after {
                top: 50%;
                content: "";
                position: absolute;
                left: 50%;
                width: 15px;
                height: 15px;
                margin-left: 5px;
                border-top: 3px solid white;
                border-right: 3px solid white;
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }
        .owl-next {
            position: absolute;
            right: -105px;
            bottom: 44px;
            width: 100px;
            height: 100px;
            background: #0053fa;
            border-radius: 0 10px 10px 0;
            font-size: 0;
            &::after {
                top: 50%;
                content: "";
                position: absolute;
                left: 50%;
                width: 15px;
                height: 15px;
                margin-left: -5px;
                border-top: 3px solid white;
                border-right: 3px solid white;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
        .owl-carousel {
            text-align: center;
        }
        .owl-stage-outer {
            text-align: left;
        }
        .owl-dots {
            display: inline-flex;
            height: 3px;
            background: white;
            border-radius: 3px;
            margin-top: 30px;
        }
        .owl-theme .owl-dots .owl-dot span {
            display: none;
        }
        .owl-theme .owl-dots .owl-dot {
            width: 20px;
            height: 3px;
            border-radius: 3px;
            display: block;
            &.active {
                background: #0053fa;
            }
        }
    }
}

/*
    Team wrapper css end
*/

/*
    Client review css start
*/
.info {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    span {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
#client-review {
    .review {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 23px;
        .number {
            width: 70px;
            height: 62px;
            border-radius: 10px;
            background: #0053fa;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        .review-count {
            color: #9f9f9f;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 28.8px */
            display: flex;
            gap: 8px;
            strong {
                font-weight: 600;
                color: #000;
            }
        }
    }
    h4 {
        margin-bottom: 24px;
    }
    .category-list {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        margin-bottom: 40px;
        .block {
            display: flex;
            flex-direction: column;
            width: calc(33.3% - 12.66px);
        }
        ::ng-deep {
            .ant-progress-inner {
                height: 8px;
                border-radius: 10px;
                background: #d9d9d9;
                .ant-progress-bg {
                    height: 100%;
                    border-radius: 10px;
                    background: #60d164;
                    display: block;
                    &.blue {
                        background: #2d6adc;
                    }
                }
            }
        }
    }
}
/*
    Client review css end
*/

/*
    Client Feeback css start
*/
#client-feeback {
    .client-feeback-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .block {
            border-radius: 12px;
            background: #fff;
            box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
            width: calc(33.3% - 13.33px);
            padding: 40px 16px;
            header {
                display: flex;
                gap: 12px;
                margin-bottom: 24px;
                figure {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .detail {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    .name {
                        color: #0e0e28;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; /* 19.2px */
                    }
                    .country-detail {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            p {
                color: #0e0e28;
                font-size: 16px;
                line-height: 130%; /* 20.8px */
                margin-bottom: 16px;
            }
            a {
                color: #856ee1;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; /* 25.6px */
            }
        }
    }
}
/*
    Client Feeback css end
*/

/*
    Faq Wrapper css start
*/
#faq-wrapper {
    .container,
    .container-with-right {
        display: flex;
        gap: 30px;
        .left {
            width: 407px;
            min-width: 407px;
            background: #f6f3ff;
            border-radius: 8px;
            padding: 40px 41px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .small {
                display: block;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 25.6px */
            }
        }
        .right {
            flex-grow: 1;
        }
        .accordion-list {
            padding: 31px 24px;
            background: #fafafa;
            border-radius: 10px;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                transition: all 0.3s ease;
                margin-bottom: 0;
            }
            &.show {
                h4 {
                    margin-bottom: 24px;
                }
            }
            &.show {
                p {
                    display: block;
                    max-height: 500px;
                }
            }
            p {
                color: #808080;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 187.5% */
                transition: all 0.3s ease;
                max-height: 0;
                overflow: hidden;
                margin-bottom: 0;
            }
            h4 {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .trigger {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background: white;
                &::after,
                &::before {
                    content: "";
                    width: 16px;
                    height: 2px;
                    background: #000;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
                &.minus::before {
                    background: #0053fa;
                }
                &.minus::after {
                    display: none;
                }
            }
        }
    }
}
/*
    Faq Wrapper css end
*/

#software {
    h5 {
        color: #0053fa;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 16px;
    }
    .popular {
        margin-bottom: 75px;
        ul {
            &.one {
                ::ng-deep .owl-item {
                    max-width: 33.3%;
                }
            }
        }
        li {
            // width: 324px;
            aspect-ratio: 324 / 404;
            border-radius: 12px;
            border: 1px solid #d3c6fd;
            background: #ffffff;
            position: relative;
            display: block;
            margin: 0;
            line-height: 1.2;
            padding: 24px;
            .small {
                display: inline-flex;
                font-size: 16px;
                padding: 10px 13px;
                position: relative;
                z-index: 2;
                border: 0.455px solid #0053fa;
                background: #f3f1ff;
                border-radius: 40px;
                margin-bottom: 20px;
            }
            h3 {
                color: black;
                font-size: 28px;
                font-family: "Archivo";
                padding-left: 0;
                line-height: 1.3;
                position: relative;
                z-index: 2;
                font-weight: 900;
            }
            .abs {
                font-size: 8px;
                color: #0c0e1e;
                position: absolute;
                right: 5px;
                bottom: 10px;
                z-index: 3;
            }
            .trigger {
                position: absolute;
                right: 20px;
                top: 20px;
                z-index: 4;
                cursor: pointer;
            }
            img {
                width: 100%;
                height: auto;
            }
            figure {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                border-radius: 12px;
            }
        }
    }
    li {
        display: flex;
        gap: 18px;
        margin-bottom: 16px;
        i {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f6f3ff;
            border-radius: 50%;
        }
    }
    .service-list-wrapper {
        display: flex;
        .block {
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            h5 {
                font-weight: 700;
                color: black;
                margin-bottom: 0;
            }
            h6 {
                background: none;
                color: #8e8e8e;
                margin-bottom: 0;
                padding: 0;
            }
        }
    }
}

.policy-list {
    border-radius: 12px;
    border: 1px solid #ececec;
    background: #fff;

    /* scroll */
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
    padding: 44px 24px;
    display: flex;
    gap: 24px;
    .relative {
        position: relative;
    }
    .list {
        width: 399px;
        min-width: 399px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .block {
            padding: 15px 44px;
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 166.667% */
            border-radius: 8px;
            background: #f6f3ff;
        }
    }
    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .block-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .block {
            border-radius: 8px;
            background: #fbfaff;
            padding: 15px 40px;
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 166.667% */
        }
        .blur {
            filter: blur(4px);
        }
        .abs {
            border-radius: 8px;
            background: var(--lightest-grey, #f9f9f9);
            box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            padding: 23.5px 48px 22.5px 48px;
            flex-direction: column;
            gap: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            span {
                display: block;
                color: #221638;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 138.252%; /* 22.12px */
            }
        }
    }
}

.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
    gap: 30px;
    &.space-between {
        justify-content: space-between;
    }
    .logo-name {
        color: #000;
        font-family: var(--fontFamily);
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

::ng-deep .profile-image-modal {
    .ant-modal-body {
        padding: 0;
    }
    .ant-modal-content {
        border-radius: 10px;
    }
}
.gap16 {
    gap: 16px;
}
.review-section {
    .profile-wrapper {
        display: flex;
        gap: 8px;
        color: #0e0e28;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
    }
    .pt-8 {
        padding-top: 8px;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
    .profile-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
    }
    .country {
        display: flex;
        gap: 6px;
        color: #0e0e28;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
    }
    .country-image {
        min-width: 15px;
    }
}

.child {
    .bottom {
        margin-bottom: 10px;
    }
    h6 {
        background: none;
        padding: 0;
        color: inherit;
    }
    .info {
        font-size: 14px;
    }
}
.engineeringData {
    display: flex;
    flex-wrap: wrap;
}
.highlight {
    padding: 6px;
    border: 2px solid white;
}
.cursor {
    cursor: pointer;
}

.project-detail {
    .name {
        padding: 18px 18px 10px;
        border-bottom: 1px solid #ede8ff;
        font-family: var(--fontFamily);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        strong {
            font-size: 18px;
            font-weight: 700;
            display: block;
            margin-bottom: 5px;
        }
    }
    h5 {
        font-family: var(--fontFamily);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 187.5% */
        margin-bottom: 0;
    }
    p {
        font-family: var(--fontFamily);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width: 940px) {
    #software {
        .popular {
            ul {
                &.one {
                    ::ng-deep .owl-item {
                        max-width: 50%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 740px) {
    #software {
        .popular {
            ul {
                &.one {
                    ::ng-deep .owl-item {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .page-wrapper {
        padding-top: 100px;
    }

    #page-head {
        flex-direction: column;
        gap: 30px;

        > div {
            width: 100%;
        }
    }

    .badge-wrapper {
        align-items: flex-start;
        margin-right: -15px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .badge {
            font-size: 14px;
            flex: 0 0 auto;
        }
    }

    .company-overview,
    .image-wrapper .top,
    .image-wrapper .bottom {
        flex-direction: column;
    }

    .company-detail {
        width: 100%;
    }

    .image-wrapper .bottom {
        gap: 7px;
        figure {
            width: calc(25% - 6px);
        }
    }

    .moreImagePlaceholder {
        position: relative;
        height: 223px;
        overflow: hidden;

        img {
            position: absolute;
            width: auto;
            height: auto;
            max-width: inherit;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    h2 {
        font-size: 35px !important;
    }

    .qualified-partner {
        .qualified-list {
            flex-direction: column;
            margin-bottom: -90px;

            .block {
                max-width: 100%;
            }
        }
    }

    .block-section h2 {
        text-align: center;
    }

    .specialised-item-list {
        justify-content: center;
    }

    .service-flex {
        flex-direction: column;
        gap: 50px;

        .left {
            .list {
                gap: 0;
                li {
                    padding-left: 0;
                }
            }
        }

        .right {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .digitalised-operation {
            ul {
                gap: 15px;
                li {
                    font-size: 14px;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }

    #available-service {
        .head {
            ul {
                flex-wrap: wrap;
            }
        }
        .service-table {
            font-size: 14px;
            margin-right: -15px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            table {
                width: 1300px;
            }
        }
    }

    #team-wrapper {
        .container {
            padding: 0 15px;
        }

        .slide {
            flex-direction: column;
            figure {
                min-width: inherit;
                max-width: 100%;
                height: auto;
            }

            h2 {
                padding-left: 0;
                text-align: left;
            }

            .content {
                padding-top: 30px;
            }

            .team-member {
                border-radius: 0;
                padding: 25px 15px 30px;
            }
        }

        ::ng-deep {
            .owl-carousel {
                padding-bottom: 95px;

                .owl-nav {
                    position: absolute;
                    width: 140px;
                    height: 70px;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                }
            }

            .owl-prev,
            .owl-next {
                width: 70px;
                height: 70px;
                left: 0;
                bottom: 0;
                margin: 0;
            }

            .owl-next {
                left: auto;
                right: 0;
            }
        }
    }

    #client-review {
        .category-list {
            flex-direction: column;
            gap: 15px;
            .block {
                width: auto;
            }
        }
    }

    #client-feeback {
        padding-top: 0;

        .client-feeback-list {
            flex-direction: column;
            .block {
                width: auto;
            }
        }
    }

    #faq-wrapper {
        .container,
        .container-with-right {
            flex-direction: column;

            .left {
                width: auto;
                min-width: inherit;
                padding: 25px 15px;
                gap: 0;

                h2 {
                    text-align: left;
                    margin-bottom: 20px;
                }
            }

            .accordion-list {
                padding: 20px 15px;
                margin-bottom: 15px;

                h4 {
                    font-size: 18px;
                    line-height: 1.3;
                }

                p {
                    font-size: 14px;
                    line-height: 21px;
                }

                &.show {
                    h4 {
                        margin-bottom: 15px;
                    }
                }

                .trigger {
                    flex: 0 0 auto;
                    &:before,
                    &:after {
                        width: 12px;
                    }
                }
            }
        }
    }

    #software {
        h2 {
            text-align: left;
        }

        .popular {
            ul {
                flex-direction: column;
            }

            li {
                width: auto;
                min-width: inherit;
            }
        }

        li {
            font-size: 14px;
            align-items: center;
            gap: 14px;
        }

        .service-list-wrapper {
            flex-direction: column;

            .block {
                width: auto;
            }
        }
    }

    #policy-wrapper {
        h2 {
            text-align: left;
        }
    }

    .policy-list {
        flex-direction: column;
        padding: 15px;
        .list {
            width: auto;
            min-width: inherit;

            .block {
                font-size: 16px;
                padding: 15px 20px;
            }
        }

        .content {
            .block {
                font-size: 16px;
                padding: 15px 20px;
            }

            .abs {
                padding: 22px 20px 26px;
                width: 270px;
                gap: 15px;
            }
        }
    }

    .popup-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .rating {
            margin-top: -10px;
        }

        .badge-wrapper {
            width: calc(100% + 15px);
        }
    }
}

.flex {
    display: flex;
}

.thumbnails {
    display: flex;
    gap: 12px;
    margin-bottom: 26px;
    .thumbnail {
        width: 112px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: var(--medium-global);
        color: #1a1a1a;
        &.active {
            color: #0053fa;
        }
        figure {
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            align-items: center;
            height: 70px;
            // background: black;
        }
        figcaption {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.image-popup {
    flex-grow: 1;
    padding: 40px;
    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

:host #software .popular #servicceSlider {
    overflow: hidden;
    padding: 0 50px;
    margin-right: -50px;
    margin-left: -50px;
    li:hover {
        .content {
            display: block;
        }
    }
    .content {
        background: #fff;
        box-shadow:
            0px 86px 24px 0px rgba(176, 176, 176, 0),
            0px 55px 22px 0px rgba(176, 176, 176, 0.01),
            0px 31px 19px 0px rgba(176, 176, 176, 0.05),
            0px 14px 14px 0px rgba(176, 176, 176, 0.09),
            0px 3px 8px 0px rgba(176, 176, 176, 0.1);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 12px;
        z-index: 3;
        overflow: auto;
        border: 20px solid #fff;
        display: none;
        .small {
            opacity: 0.5;
            padding: 0;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 16px;
            font-family: "Alliance No1";
            font-weight: 700;
            line-height: 1.3;
            color: black;
            margin-bottom: 10px;
            letter-spacing: 0.28px;
            padding: 0;
        }
        p {
            color: #747474;
            font-family: "Alliance No.1";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.9; /* 157.143% */
            letter-spacing: 0.28px;
        }
    }
    ::ng-deep .owl-item {
        padding-right: 24px;
    }
    ::ng-deep .owl-carousel .owl-stage-outer {
        // margin-right: -80px;
        // padding-right: 80px;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     right: -20px;
        //     top: 0;
        //     width: 135px;
        //     height: 100%;
        //     background: linear-gradient(to right, rgba(255, 255, 255, 0), white 80%);
        // }
    }

    ::ng-deep .owl-carousel .owl-nav .owl-next,
    ::ng-deep .owl-carousel .owl-nav .owl-prev {
        width: 37px;
        height: 37px;
        position: absolute;
        left: -43px;
        top: 50%;
        transform: translateY(-50%);
        background: white;
        border-radius: 50%;
        box-shadow: 0px 2.205px 12.64px rgba(0, 0, 0, 0.2);
        margin: 0;
        &::after {
            position: absolute;
            left: 53%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(135deg);
            width: 10px;
            height: 10px;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            content: "";
        }
    }
    ::ng-deep .owl-carousel .owl-nav .owl-next {
        right: -20px;
        left: auto;
        &::after {
            left: 45%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
