<app-hd-navbar></app-hd-navbar>

<div id="main">
    <div class="container">
        <div class="topBanner d-flex justify-content-between">
            <div class="content">
                <h1>Data Safety <br>Built for <span class="jeffStyle">Compliance</span>. <br>Made for engineers</h1>
                <div class="buildtwinSafety">
                    <h2>BuildTwin Safety <i><img src="assets/images/data-safety/heading-arrow.png" width="50"
                                height="26" alt=""></i></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s</p>
                    <a mat-button routerLink="/" class="default-btn">Read our Whitepaper</a>
                </div>
            </div>
            <div>
                <figure>
                    <picture>
                        <img src="assets/images/data-safety/top-banner.jpg"
                            srcset="assets/images/data-safety/top-banner@2x.jpg 2x" width="779" height="744" alt="">
                    </picture>
                </figure>
                <div class="profileInfo">
                    <h4>Ashish Awasthi</h4>
                    <span>Head of Safety</span>
                    <strong>BuildTwin AI Design Manager was used to <br>deliver for Westgate project in AUS</strong>
                </div>
            </div>
        </div>
        <div class="safetyFramework">
            <h2>BuildTwin <span class="jeffStyle">Safety</span> Framework</h2>
            <div class="pic-row">
                <div class="picBox">
                    <i><img src="assets/images/data-safety/p-icon.png" width="98" height="118" alt=""></i>
                    <h4>Privacy</h4>
                    <p>platform.With more than 500+ employees, J&F India is managed through the BuildTwin platform.With
                        more than 500+ employees, J&F India is managed through the Bu platform.With more than 500+
                        employees, J&F India is managed through the BuildTwin platform.With more than 500+ employees,
                        J&F India is managed through the Bu</p>
                </div>
                <div class="picBox">
                    <i><img src="assets/images/data-safety/i-icon.png" width="31" height="118" alt=""></i>
                    <h4>Infosec</h4>
                    <p>platform.With more than 500+ employees, J&F India is managed through the BuildTwin platform.With
                        more than 500+ employees, J&F India is managed through the Bu platform.With more than 500+
                        employees, J&F India is managed through the BuildTwin platform.With more than 500+ employees,
                        J&F India is managed through the Bu</p>
                </div>
                <div class="picBox">
                    <i><img src="assets/images/data-safety/c-icon.png" width="109" height="118" alt=""></i>
                    <h4>Compliance</h4>
                    <p>platform.With more than 500+ employees, J&F India is managed through the BuildTwin platform.With
                        more than 500+ employees, J&F India is managed through the Bu platform.With more than 500+
                        employees, J&F India is managed through the BuildTwin platform.With more than 500+ employees,
                        J&F India is managed through the Bu</p>
                </div>
            </div>
        </div>
        <div class="fullyEncryp">
            <picture>
                <img src="assets/images/data-safety/fully-encryp.jpg"
                    srcset="assets/images/data-safety/fully-encryp@2x.jpg 2x" width="1296" height="333" alt="">
            </picture>
            <div class="content">
                <h3>Fully Encrypted - End to End</h3>
                <p>Full course structure & learning outcomes of our BuildTwin Architecture CourseFull course structure &
                    learning outcomes of our BuildTwin Architecture CourseFull course structure & learning outcomes of
                    our BuildTwin Architecture Course</p>
            </div>
        </div>
        <div class="certificate">
            <h2><span>Certified</span>Security Standards</h2>
            <div class="certificateSlide">
                <owl-carousel-o [options]="certificateSlide">
                    <ng-template carouselSlide>
                        <div class="certificate-item">
                            <div class="icon-box">
                                <picture>
                                    <img src="assets/images/data-safety/certified-icon1.png"
                                        srcset="assets/images/data-safety/certified-icon1@2x.png 2x" width="160"
                                        height="149" alt="">
                                </picture>
                            </div>
                            <div class="icon-info">
                                <h6>Building code Etraining</h6>
                                <span>Everyone prefers to enjoy learning at their own pace </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="certificate-item">
                            <div class="icon-box">
                                <picture>
                                    <img src="assets/images/data-safety/certified-icon2.png"
                                        srcset="assets/images/data-safety/certified-icon2@2x.png 2x" width="160"
                                        height="149" alt="">
                                </picture>
                            </div>
                            <div class="icon-info">
                                <h6>Building code Etraining</h6>
                                <span>Everyone prefers to enjoy learning at their own pace </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="certificate-item">
                            <div class="icon-box">
                                <picture>
                                    <img src="assets/images/data-safety/certified-icon3.png"
                                        srcset="assets/images/data-safety/certified-icon3@2x.png 2x" width="160"
                                        height="149" alt="">
                                </picture>
                            </div>
                            <div class="icon-info">
                                <h6>Building code Etraining</h6>
                                <span>Everyone prefers to enjoy learning at their own pace </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="certificate-item">
                            <div class="icon-box">
                                <picture>
                                    <img src="assets/images/data-safety/certified-icon4.png"
                                        srcset="assets/images/data-safety/certified-icon4@2x.png 2x" width="160"
                                        height="149" alt="">
                                </picture>
                            </div>
                            <div class="icon-info">
                                <h6>Building code Etraining</h6>
                                <span>Everyone prefers to enjoy learning at their own pace </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="certificate-item">
                            <div class="icon-box">
                                <picture>
                                    <img src="assets/images/data-safety/certified-icon5.png"
                                        srcset="assets/images/data-safety/certified-icon5@2x.png 2x" width="160"
                                        height="149" alt="">
                                </picture>
                            </div>
                            <div class="icon-info">
                                <h6>Building code Etraining</h6>
                                <span>Everyone prefers to enjoy learning at their own pace </span>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="audited">
        <div class="container audited-data">
            <div class="thirdPartyAudit">
                <owl-carousel-o [options]="auditSlide">
                    <ng-template carouselSlide>
                        <div class="item">
                            <h3>Third Party Audited</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when the point of using point of using looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters,</p>
                            <a mat-button routerLink="/" class="default-btn">Read on Capterra</a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <h3>Third Party Audited</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when the point of using point of using looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters,</p>
                            <a mat-button routerLink="/" class="default-btn">Read on Capterra</a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="item">
                            <h3>Third Party Audited</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when the point of using point of using looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal distribution of letters,</p>
                            <a mat-button routerLink="/" class="default-btn">Read on Capterra</a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="audited-lock">
                <picture>
                    <img src="assets/images/data-safety/lock.png" srcset="assets/images/data-safety/lock@2x.png 2x"
                        width="467" height="535" alt="">
                </picture>
            </div>
        </div>
        <div class="bg-building">
            <img src="assets/images/data-safety/bg-building.jpg" width="418" height="552" alt="">
        </div>
    </div>
</div>

<app-hd-footer></app-hd-footer>