<div class="bannerWrapper">
    <!-- <img src="../../../../assets/images/serviceBanner.jpg" alt="Rebar detailing services"> -->
    <div class="bannerContainer">
        <div class="container" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="container-with-right">
                <!-- <h1>One-stop platform to streamline all 
                    <span class="color">Rebar Detailing Services</span> 
                    on  <span class="important">
                        BuildTwin
                    </span>
                </h1> -->
                <!-- <h1 [innerHTML]="formatHeading(bannerObject?.bannerHeading)"></h1> -->
                <!-- <h1>
                    {{bannerObject.bannerHeading}}
                </h1> -->
                <!-- <h1><markdown [data]="bannerObject.bannerHeading"></markdown></h1> -->
                <h1 [innerHTML]="processedHeading"></h1>
                  
                <!-- <p>Collaborate in real-time for all your rebar detailing service needs, with an all-in-
                    one platform.</p> -->
                    <p [innerHTML]="processedSubHeading"></p>
                    <!-- <p>{{bannerObject.bannerSubHeading}}</p> -->
                <div class="button-wrapper">
                    <button class="button-v2">
                        Get FREE quote
                    </button>
                    <button class="button-v2 border">
                        <img src="assets/images/icons/icon1.png" width="23" height="23">
                        Explore portfolios
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-image-wrapper">
        <figure class="images-abs left-center">
            <picture>
                <img src="assets/images/home-left-image4.jpg" srcset="assets/images/home-left-image4@2x.jpg 2x" width="174" height="174" alt="">
            </picture>
            <i class="blueTick">
                <img src="assets/images/blue-tick.png" width="45" height="45" alt="">
            </i>
        </figure>
        <figure class="images-abs left-bottom">
            <picture>
                <img src="assets/images/home-left-image6.jpg" srcset="assets/images/home-left-image6@2x.jpg 2x" width="174" height="174" alt="">
            </picture>
            <i class="blueTick">
                <img src="assets/images/blue-tick.png" width="32" height="32" alt="">
            </i>
        </figure>
        <figure class="images-abs">
            <picture>
                <img src="assets/images/home-left-image1.jpg" srcset="assets/images/home-left-image1@2x.jpg 2x" width="174" height="174" alt="">
            </picture>
        </figure>
        <figure class="images-abs right-top">
            <picture>
                <img src="assets/images/home-right-image3.jpg" srcset="assets/images/home-right-image3@2x.jpg 2x" width="174" height="174" alt="">
            </picture>
            <i class="blueTick">
                <img src="assets/images/blue-tick.png" width="32" height="32" alt="">
            </i>
        </figure>
        <figure class="images-abs right-center">
            <picture>
                <img src="assets/images/home-left-image2.jpg" srcset="assets/images/home-left-image2@2x.jpg 2x" width="174" height="174" alt="">
            </picture>
        </figure>
        <figure class="images-abs right-bottom">
            <picture>
                <img src="assets/images/home-right-image2.jpg" srcset="assets/images/home-right-image2@2x.jpg 2x" width="174" height="174" alt="">
            </picture>
            <i class="blueTick">
                <img src="assets/images/blue-tick.png" width="45" height="45" alt="">
            </i>
        </figure>
    </div>
</div>