:host ::ng-deep .co-pilot-details {
    .ptb-100 {
        padding-top: 50px;
    }

    .colManage {
        display: flex;
        gap: 72px;
        align-items: center;
        max-width: 1296px;
        margin: 0 auto;

        .col {
            flex: 50%;
        }

        .col.first {
            max-width: 554px;
        }
    }

    .why-choose-us-list {
        h3 {
            color: var(--grey, var(--grey, #808080));
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            /* 25.6px */
            margin-bottom: 12px;
            display: block;
        }

        ul {
            max-width: 554px;

            li {
                display: flex;
                gap: 8px;
                align-items: center;
                padding: 12px;
                margin-bottom: 12px;
                cursor: pointer;

                .imgWrap {
                    width: 48px;
                    height: 48px;

                }

                .content {
                    strong {
                        color: #0E0E28;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                        display: block;
                        margin-bottom: 4px;
                    }

                    span {
                        color: var(--grey, var(--grey, #808080));
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                    }
                }

                &.active {
                    border-radius: 8px;
                    background: #FFF;
                    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.06);

                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.6);
                }
            }
        }

        .icon1 {
            background-color: #F6F3FF;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            height: 60px;
            bottom: 105px;
            right: 181px;
            width: 60px;

            svg {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);

                margin: {
                    left: auto;
                    right: auto;
                }

                ;
            }
        }

        .icon2 {
            transition: var(--transition);
            background-color: #F6F3FF;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            height: 60px;
            width: 60px;
            right: 62px;
            top: 0;

            svg {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);

                margin: {
                    left: auto;
                    right: auto;
                }

                ;
            }
        }
    }

    .why-choose-us-content {
        h2 {
            line-height: 1.3;
            font-size: 40px;
            font-weight: 600;

            margin: {
                bottom: 15px;
                top: -5px;
            }

            ;
            margin-bottom: 26px;
        }

        .flex {
            display: flex;
            gap: 25px;

            .imgWrap {
                min-width: 295px;
            }

            .content {
                p {
                    color: var(--grey, var(--grey, #808080));
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    /* 25.6px */
                    margin-bottom: 15px;
                }

                a {
                    border-radius: 4px;
                    background: #886DE0;
                    display: inline-flex;
                    padding: 13px 13.39px 12.05px 13.09px;
                    justify-content: center;
                    align-items: center;
                    color: var(--color-green-button, #FFF);

                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18.06px;
                    /* 129% */
                }
            }
        }

        p {
            font-size: 16px;
            //letter-spacing: 0.4px;
            color: #808080;
        }

        .default-btn {
            font-family: var(--archivoFontFamily);
            background-color: var(--themeColor);
            padding-top: 13px;
            padding-bottom: 13px;
            margin-top: 10px;
        }
    }




}
@media (max-width:1200px){
    :host ::ng-deep .co-pilot-details .why-choose-us-content .flex {
  
        flex-direction: column;
    }
}

@media (max-width:767px) {
    :host ::ng-deep .co-pilot-details {
        .colManage {
            display: flex;
            gap: 72px;
            align-items: center;
            flex-direction: column;
        }
    }
}