

<div class="services" id="targetSection">
    <div class="main-head">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <div class="heading">
                <h2 class="title">AISC Services & Solutions</h2>
                <div class="subTitle">Comprehensive range of AISC-compliant structural engineering services</div>
            </div>
        </div>
    </div>

</div>
<div class="global-mb">
    <app-hd-services [heading]="false" [page]="'aisc'"></app-hd-services>
</div>
