<div class="threeCardsWrapper">
    <div class="container">
        <div class="container-with-right">
            <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <figure>
                    <img src="../../../../assets/images/IndependentVendors.svg" alt="Independent vendors">
                </figure>

                <h3>End-to-End Project Management</h3>
                <p>Manage your projects from start to finish with tools for bids, timelines and task 
                    coordination. BuildTwin has everything covered.</p>
            </div>
            <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <figure>
                    <img src="../../../../assets/images/StandardisedDelivery.svg" alt="Standardised delivery">
                </figure>

                <h3>Ready-to-Bid CAD Vendors</h3>
                <p>Compare proposals and find the perfect match for your project needs in no time.</p>
            </div>

            <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <figure>
                    <img src="../../../../assets/images/MeetingCompliance.svg" alt="Meeting compliance">
                </figure>

                <h3>CDE integration and global compliance</h3>
                <p>Integrate your existing workflow with BuildTwin, and stay updated on transmittals, 
                    submissions, RFIs, and more, with international compliance standards.</p>
            </div>
        </div>
    </div>
</div>