<app-hd-navbar></app-hd-navbar>

<!-- Page Title -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center" data-aos="fade-up" data-aos-duration="500">
            <ul class="ps-0 mt-0 font-syne fw-semibold list-unstyled">
                <li class="position-relative d-inline-block">
                    <a href="https://www.buildtwin.com">
                        Home
                    </a>
                </li>
                <li class="position-relative d-inline-block">
                    Privacy Policy
                </li>
            </ul>
            <h1 class="mb-0 ms-auto me-auto">
                Privacy Policy
            </h1>
        </div>
    </div>
    <div class="pt-shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape1.png" alt="shape1">
    </div>
    <div class="pt-shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape27.png" alt="shape27">
    </div>
</div>
<!-- End Page Title -->

<!-- Privacy Policy -->
<div class="ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <p>Der Schutz Ihrer persönlichen Daten ist uns wichtig. Wir halten uns bei der
                Erhebung, Verarbeitung und Nutzung streng an die Bestimmungen und rechtlichen Grundlagen des
                Bundesdatenschutzgesetzes und des Telemediengesetzes (TMG, siehe auch <a
                    href="https://www.gesetze-im-internet.de/tmg/"
                    target="_blank">https://www.gesetze-im-internet.de/tmg/</a>). Mit der Nutzung unserer Webseite
                willigen Sie ein, dass wir bestimmte Daten erheben dürfen. Nachfolgend finden Sie Informationen, welche
                Daten während Ihres Besuches auf der Homepage erfasst und wie diese genutzt werden. </p>
            <p>Grundsätzlich können Sie als Nutzer der Webseite <a href="http://www.buildtwin.com">www.buildtwin.com</a> Inhalte ohne
                jede Angabe
                personenbezogener Daten vollumfänglich einsehen. Sofern Sie als Nutzer (im weiteren Verlauf „betroffene
                Person“) bestimmte Services (bspw. Bewerbungs- oder Kontaktformulare) über unsere Webseite in Anspruch
                nehmen möchten, kann jedoch eine Verarbeitung personenbezogener Daten erforderlich werden (siehe auch 4.
                Erfassung von Daten und Informationen). </p>
            <p>Bei der Verarbeitung personenbezogener Daten (bspw. Name, Geburtsdatum,
                Anschrift, E-Mail-Adresse oder Telefonnummer) einer betroffenen Person, halten wir uns stets an die
                Datenschutz-Grundverordnung (DSGVO, siehe auch <a href="https://dsgvo-gesetz.de"
                    target="_blank">https://dsgvo-gesetz.de</a>) sowie an die für uns
                geltende Berufsordnung und landesspezifischen Datenschutzbestimmungen. Mit dieser Datenschutzerklärung
                möchten wir betroffene Personen über Art, Umfang und Zweck der von uns erhobenen und verarbeiteten
                personenbezogenen Daten informieren. Darüber hinaus klären wir alle Nutzer unserer Webseite über ihre
                Rechte im Zusammenhang mit der Datenverarbeitung durch Unser Unternehmen auf. </p>
            <p>Als für die Verarbeitung Verantwortlicher sehen wir uns zudem in der Pflicht
                mit Hilfe zahlreicher technischer und organisatorischer Maßnahmen sicherzustellen, den Nutzern der
                Webseite <a href="http://www.buildtwin.com">www.buildtwin.com</a> einen möglichst
                lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen Daten zu gewährleisten.
                Grundsätzlich können internetbasierte Datenübertragungen allerdings jederzeit Sicherheitslücken
                aufweisen, sodass ein absoluter Schutz durch uns nicht gewährleistet werden kann. Aus diesem Grund steht
                es jedem betroffenen Nutzer frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise
                telefonisch, an uns zu übermitteln. </p>
        </div>
        <div class="privacy-policy-content">
            <h2>1. Begriffsbestimmungen</h2>
            <p>Unsere Datenschutzerklärung soll sowohl für die Öffentlichkeit als auch für
                unsere Kunden einfach lesbar und verständlich sein. Um dies zu gewährleisten und Ihnen vorab die im
                Folgenden verwendeten Begrifflichkeiten zu erläutern, verweisen wir Sie an dieser Stelle auf die
                originalen Gesetzestexte und Begriffsbestimmungen der DSGVO unter <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-4-dsgvo/"
                        target="_blank">https://dsgvo-gesetz.de/art-4-dsgvo/</a></span> sowie <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/bdsg-neu/46-bdsg-neu/"
                        target="_blank">https://dsgvo-gesetz.de/bdsg-neu/46-bdsg-neu/</a></span>. </p>
        </div>
        <div class="privacy-policy-content">
            <h2>2. Name und Anschrift des für die Verarbeitung Verantwortlichen</h2>
            <p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung ist:</p>
            <p>Twin Co. GmbH <br>vertreten durch Herrn
                Pitathepan Yogeswaran</p>
            <address><a
                    href="https://www.google.com/maps/place/Johannesstra%C3%9Fe+17,+35390+Gie%C3%9Fen/@50.5832244,8.6719405,17z/data=!3m1!4b1!4m5!3m4!1s0x47bc58ea27c1b501:0x14d0f354846ef104!8m2!3d50.5832244!4d8.6741292"
                    target="_blank">Johannesstrasse 17<br>35390 Giessen</a></address>
            <p><span class="label">Telefon</span><a href="tel:+4964198459311">+49 641 - 98 45 9311</a><br></p>
            <p><span class="label">E-Mail</span><a href="mailto:hello@buildtwin.com">hello&#64;buildtwin.com</a><br><span
                    class="label">Internet</span><a href="www.buildtwin.com"> www.buildtwin.com</a></p>
        </div>
        <div class="privacy-policy-content">
            <h2>3. Erfassung von Daten und Informationen</h2>
            <p><strong>Umgang mit personenbezogene
                    Daten</strong></p>
            <p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person
                bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören der Name,
                die Emailadresse oder die Telefonnummer. Personenbezogene Daten werden von uns nur dann erhoben, genutzt
                und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die betroffene Person in die Datenerhebung
                einwilligt. Grundsätzlich können Sie unsere Webseite besuchen, ohne personenbezogene Daten zu
                hinterlassen. </p>
            <p>In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen
                an Dritte weitergegeben. </p>
            <p><strong>Erhebung und Verarbeitung nicht
                    personenbezogener Daten (Zugriffsdaten/Server-Logfiles)</strong></p>
            <p>Bei jedem Zugriff einer betroffenen Person auf unsere Webseite, d.h. bei
                jedem Abruf oder Versuch eines Abrufs einer Datei auf diesem Server, werden Daten über diesen Vorgang in
                einer Protokolldatei (Server-Logfile) beim Webspace-Provider gespeichert. Diese Daten sind nicht
                personenbezogen und wir können nicht nachvollziehen, welcher Nutzer welche Daten abgerufen hat. </p>
            <p>Im Einzelnen wird über jeden Abruf folgender Datensatz gespeichert:</p>
            <ul>
                <li>• Name der abgerufenen Datei</li>
                <li>• Datum und Uhrzeit des Abrufs</li>
                <li>• Übertragene Datenmenge</li>
                <li>• Meldung, ob der Abruf erfolgreich war</li>
                <li>• Meldung, warum ein Abruf ggf. fehlgeschlagen ist</li>
                <li>• Betriebssystem und Browsersoftware Ihres Computers</li>
                <li>• Referrer URL (die zuvor besuchte Seite)</li>
                <li>• Hostname des zugreifenden Rechners (IP-Adresse)</li>
            </ul>
            <p>Alle genannten Daten werden nur zu statistischen Auswertungen, zum Zweck des
                Betriebs, der Sicherheit und der Optimierung des Angebotes von uns und von uns beauftragten
                Dienstleistern ausgewertet. Die anonymen Daten der Server-Logfiles werden getrennt von allen
                personenbezogenen Daten gespeichert. Weitergehende personenbezogene Daten werden nur erfasst, wenn Sie
                diese Angaben freiwillig, etwa im Rahmen einer Anfrage machen. Wir nutzen diese Daten, um unsere
                Webseite und unseren Service für Sie stetig zu verbessern. Der Anbieter behält sich jedoch vor, die
                Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte
                Verdacht einer rechtswidrigen Nutzung besteht. </p>
        </div>
        <div class="privacy-policy-content">
            <h2>4. Kontaktmöglichkeiten über die Webseite</h2>
            <p>Die Webseite der Twin Co. GmbH enthält Schaltflächen, die eine
                schnelle elektronische Kontaktaufnahme zu unserem Unternehmen ermöglichen, was unter anderem die Angabe
                einer E-Mail-Adresse umfasst. Die von betroffenen Personen, auf freiwilliger Basis, über ein
                Kontaktformular oder per E-Mail übermittelten persönlichen Daten werden ausschließlich für die
                Bearbeitung oder die Kontaktaufnahme zur betroffenen Person automatisch bei uns gespeichert. Alle
                erhobenen personenbezogenen Daten werden in keinem Fall an Dritte weitergegeben.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>5. Datenschutz bei digitalen Bewerbungen</h2>
            <p>Über die Webseite elektronisch übermittelte Bewerberunterlagen und
                personenbezogene Daten (Kontaktdaten, Links, Dokumente, Videos) werden ausschließlich zum Zwecke der
                Abwicklung des Bewerbungsverfahrens weiterverarbeitet. Sollte es im Anschluss zwischen dem für die
                Verarbeitung Verantwortlichen und dem Bewerber zu einem Anstellungsvertrag kommen, werden die
                übermittelten Daten unter Beachtung der gesetzlichen Vorschriften gespeichert. Kommt kein
                Anstellungsvertrag zustande, werden alle übermittelten Daten nach Bekanntgabe der Absageentscheidung von
                dem für die Verarbeitung Verantwortlichen gelöscht, sofern einer Löschung keine sonstigen berechtigten
                Interessen des für die Verarbeitung Verantwortlichen entgegenstehen. Sonstiges berechtigtes Interesse in
                diesem Sinne ist beispielsweise eine Beweispflicht in einem Verfahren nach dem Allgemeinen
                Gleichbehandlungsgesetz (AGG).</p>
        </div>
        <div class="privacy-policy-content">
            <h2>6. Verwendung von Cookies</h2>
            <p>Die Webseite der Twin Co. GmbH verwendet Cookies. Cookies sind
                kleine Textdateien, die über einen Internetbrowser auf einem Computersystem abgelegt und gespeichert
                werden. Cookies ermöglichen der Twin Co. GmbH den Benutzer einer Internetseite bei erneutem
                Besuch wiederzuerkennen. Zweck dieser Wiedererkennung ist es, den Nutzern die Verwendung einer
                Internetseite zu erleichtern und nutzerfreundlichere Leistungen bereitzustellen, die ohne die
                Cookie-Setzung nicht möglich wären.</p>
            <p>In unseren Cookies werden keine personenbezogenen Daten gespeichert. Die
                meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern
                von Cookies jedoch deaktivieren oder Ihren Browser so einstellen, dass er Sie benachrichtigt, sobald
                Cookies gesendet werden. Ferner können bereits gesetzte Cookies jederzeit über einen Internetbrowser
                oder andere Softwareprogramme gelöscht werden. Dies ist in allen gängigen Internetbrowsern möglich.
                Bitte beachten Sie dabei, dass für manche Funktionen unserer Internetseite Cookies eventuell für eine
                korrekte Funktion und/oder Darstellung benötigt werden.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>7. Löschung und Sperrung von personenbezogenen Daten</h2>
            <p>Unser Unternehmen speichert personenbezogene Daten der betroffenen Person
                nur so lange, wie es die Erreichung des Speicherungszwecks erfordert oder solange, wie dies durch
                europäische Richtlinien, die zuständige Aufsichtsbehörde oder andere geltende deutsche Gesetze
                vorgesehen ist.</p>
            <p>Entfällt der Speicherungszweck oder läuft die maßgebende Speicherfrist ab,
                werden die personenbezogenen Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gelöscht.
            </p>
        </div>
        <div class="privacy-policy-content">
            <h2>8. Rechte der betroffenen Person</h2>
            <p><strong>a) Recht auf Bestätigung</strong><br>Die betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-15-dsgvo/" target="_blank">Art. 15 Abs. 1 DSGVO</a></span> das
                Recht, von uns eine Bestätigung darüber
                einzuholen, ob sie betreffende personenbezogene Daten in unserem Unternehmen verarbeitet werden. Möchte
                eine betroffene Person dieses Bestätigungsrecht in Anspruch nehmen, kann sie sich hierzu jederzeit mit
                einem Mitarbeiter unseres Unternehmens in Verbindung setzen.</p>
            <p><strong>b) Recht auf Auskunft</strong><br>Das Auskunftsrecht ist in zwei Stufen untergliedert. Zunächst
                kann die
                betroffene Person von dem Verantwortlichen eine Bestätigung darüber verlangen, ob überhaupt
                personenbezogene Daten von ihr verarbeitet werden (siehe 9a – Recht auf Bestätigung). Werden keine
                personenbezogenen Daten der betroffenen Person verarbeitet, ist der Antragsteller darüber zu
                informieren. Werden personenbezogene Daten der betroffenen Person verarbeitet, hat diese ein Recht auf
                unentgeltliche Auskunft über die Daten. Zusätzlich hat der Verantwortliche nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-15-dsgvo/" target="_blank">Art. 15 Abs. 1 DSGVO</a></span>
                auch die folgenden Informationen an die betroffene Person bereitzustellen:</p>
            <ul class="bullet-list">
                <li><i>•</i>Verarbeitungszwecke;</li>
                <li><i>•</i>Kategorien personenbezogener
                    Daten, die verarbeitet werden;</li>
                <li><i>•</i>die Empfänger oder Kategorien von
                    Empfängern, gegenüber denen die personenbezogenen Daten offengelegt worden sind oder noch
                    offengelegt werden;</li>
                <li><i>•</i>falls möglich die geplante Dauer,
                    für die die personenbezogenen Daten gespeichert werden, oder, falls dies nicht möglich ist, die
                    Kriterien für die Festlegung dieser Dauer; </li>
                <li><i>•</i>das Bestehen eines Rechts auf
                    Berichtigung oder Löschung der sie betreffenden personenbezogenen Daten oder auf Einschränkung der
                    Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;</li>
                <li><i>•</i>das Bestehen eines
                    Beschwerderechts bei einer Aufsichtsbehörde;</li>
                <li><i>•</i>wenn die personenbezogenen Daten
                    nicht bei der betroffenen Person erhoben werden, alle verfügbaren Informationen über die Herkunft
                    der Daten;</li>
                <li><i>•</i>das Bestehen einer automatisierten
                    Entscheidungsfindung einschließlich Profiling gemäß <span class="u-line"><a
                            href="https://dsgvo-gesetz.de/art-22-dsgvo/" target="_blank">Artikel 22</a></span> Absätze 1
                    und 4 und – zumindest in diesen Fällen –
                    aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die angestrebten
                    Auswirkungen einer derartigen Verarbeitung für die betroffene Person.</li>
            </ul>
            <p>Werden personenbezogene Daten in Drittländer oder an eine internationale
                Organisation übermittelt, haben betroffene Personen darüber hinaus nach Art. 15 Abs. 2 DSGVO das Recht,
                über die in Zusammenhang mit der Datenübermittlung getroffenen geeigneten Garantien gemäß <span
                    class="u-line"><a href="https://dsgvo-gesetz.de/art-46-dsgvo/" target="_blank">Art. 46
                        DSGVO</a></span> (z.B.
                vereinbarte Standard-Datenschutzklauseln oder verbindliche interne Datenschutzvorschriften) informiert
                zu werden.</p>
            <p>Möchte eine betroffene Person dieses Auskunftsrecht in Anspruch nehmen, kann
                sie sich hierzu jederzeit an einen Mitarbeiter unseres Unternehmens wenden.</p>
            <p><strong>c) Recht auf Berichtigung</strong><br>Die betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-16-dsgvo/" target="_blank">Art. 16 DSGVO</a></span> das Recht,
                von dem Verantwortlichen unverzüglich die
                Berichtigung sie betreffender unrichtiger personenbezogener Daten zu verlangen. Unter Berücksichtigung
                der Zwecke der Verarbeitung hat die betroffene Person das Recht, die Vervollständigung unvollständiger
                personenbezogener Daten – auch mittels einer ergänzenden Erklärung – zu verlangen.</p>
            <p>Möchte eine betroffene Person dieses Berichtigungsrecht in Anspruch nehmen,
                kann sie sich hierzu jederzeit an einen Mitarbeiter unseres Unternehmens wenden.</p>
            <p><strong>d) Recht auf Löschung („Recht auf
                    Vergessenwerden“)</strong><br>Die betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-17-dsgvo/" target="_blank">Art. 17 DSGVO</a></span> das Recht,
                von dem Verantwortlichen zu verlangen, dass sie betreffende personenbezogene Daten unverzüglich gelöscht
                werden, sofern einer der folgenden Gründe zutrifft und soweit die Verarbeitung nicht weiterhin
                erforderlich ist:</p>
            <ul class="bullet-list">
                <li><i>•</i>Die personenbezogenen Daten sind
                    für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr
                    notwendig.</li>
                <li><i>•</i>Die betroffene Person widerruft
                    ihre Einwilligung, auf die sich die Verarbeitung gemäß Art. 6 Abs. 1 Buchstabe a DSGVO oder Art. 9
                    Abs. 2 Buchstabe a DSGVO stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für die
                    Verarbeitung.</li>
                <li><i>•</i>Die betroffene Person legt gemäß
                    Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen
                    berechtigten Gründe für die Verarbeitung vor, oder die betroffene Person legt gemäß Art. 21 Abs. 2
                    DSGVO Widerspruch gegen die Verarbeitung ein</li>
                <li><i>•</i>Die personenbezogenen Daten wurden
                    unrechtmäßig verarbeitet.</li>
                <li><i>•</i>Die Löschung der personenbezogenen
                    Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der
                    Mitgliedstaaten erforderlich, dem der Verantwortliche unterliegt.</li>
                <li><i>•</i>Die personenbezogenen Daten wurden
                    in Bezug auf angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben.</li>
            </ul>
            <p>Sofern einer der oben genannten Gründe zutrifft und eine betroffene Person
                die Löschung von personenbezogenen Daten, die bei der Twin Co. GmbH gespeichert sind,
                veranlassen möchte, kann sie sich hierzu jederzeit an einen Mitarbeiter unseres Unternehmens wenden. Der
                kontaktierte Mitarbeiter wird veranlassen, dass dem Löschverlangen unverzüglich nachgekommen wird.</p>
            <p><strong>e) Recht auf Einschränkung der
                    Verarbeitung</strong><br>Die betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-18-dsgvo/" target="_blank">Art. 18 DSGVO</a></span> das Recht,
                von dem Verantwortlichen die Einschränkung der Verarbeitung zu verlangen, wenn eine der folgenden
                Voraussetzungen gegeben ist:</p>
            <ul class="bullet-list">
                <li><i>•</i>die Richtigkeit der
                    personenbezogenen Daten von der betroffenen Person bestritten wird, und zwar für eine Dauer, die es
                    dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen,</li>
                <li><i>•</i>die Verarbeitung unrechtmäßig ist
                    und die betroffene Person die Löschung der personenbezogenen Daten ablehnt und stattdessen die
                    Einschränkung der Nutzung der personenbezogenen Daten verlangt;</li>
                <li><i>•</i>der Verantwortliche die
                    personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, die betroffene Person
                    sie jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigt, oder</li>
                <li><i>•</i>die betroffene Person Widerspruch
                    gegen die Verarbeitung gemäß Artikel 21 Absatz 1 DSGVO eingelegt hat, solange noch nicht feststeht,
                    ob die berechtigten Gründe des Verantwortlichen gegenüber denen der betroffenen Person überwiegen.
                </li>
            </ul>
            <p>Sofern eine der oben genannten Voraussetzungen gegeben ist und eine
                betroffene Person die Einschränkung von personenbezogenen Daten, die bei der Twin Co. GmbH
                gespeichert sind, verlangen möchte, kann sie sich hierzu jederzeit an einen Mitarbeiter unseres
                Unternehmens wenden. Der kontaktierte Mitarbeiter wird die Einschränkung der Verarbeitung unverzüglich
                veranlassen.</p>
            <p><strong>f) Recht auf
                    Datenübertragbarkeit</strong><br>Die betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-20-dsgvo/" target="_blank">Art. 20 DSGVO</a></span> das Recht,
                die sie betreffenden personenbezogenen Daten, die sie einem Verantwortlichen bereitgestellt hat, in
                einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten.</p>
            <p>Außerdem hat sie das Recht, diese Daten einem anderen Verantwortlichen ohne
                Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu
                übermitteln, sofern die Verarbeitung auf einer Einwilligung gemäß Art. 6 Abs. 1 Buchstabe a DSGVO oder
                Art. 9 Abs. 2 Buchstabe a DSGVO oder auf einem Vertrag gemäß Art. 6 Abs. 1 Buchstabe b DSGVO beruht und
                die Verarbeitung mithilfe automatisierter Verfahren erfolgt, sofern die Verarbeitung nicht für die
                Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung
                öffentlicher Gewalt erfolgt, welche dem Verantwortlichen übertragen wurde.</p>
            <p>Ferner hat die betroffene Person nach Art. 20 Abs. 2 DSGVO bei der Ausübung
                ihres Rechts auf Datenübertragbarkeit gemäß Art. 20 Abs. 1 DSGVO das Recht, zu erwirken, dass die
                personenbezogenen Daten direkt von einem Verantwortlichen an einen anderen Verantwortlichen übermittelt
                werden, soweit dies technisch machbar ist und sofern hiervon nicht die Rechte und Freiheiten anderer
                Personen beeinträchtigt werden (Art. 20 Abs. 4 DSGVO).</p>
            <p>Zur Geltendmachung des Rechts auf Datenübertragbarkeit kann sich die
                betroffene Person jederzeit an einen Mitarbeiter unseres Unternehmens wenden.</p>
            <p><strong>g) Recht auf Widerspruch</strong><br>Die betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-21-dsgvo/" target="_blank">Art. 21 DSGVO</a></span> das Recht,
                aus Gründen, die sich aus ihrer besonderen
                Situation ergeben, jederzeit gegen die Verarbeitung sie betreffender personenbezogener Daten, die
                aufgrund von Art. 6 Abs. 1 Buchstabe e oder Buchstabe f DSGVO erfolgt, Widerspruch einzulegen. Dies gilt
                auch für ein auf diese Bestimmungen gestütztes Profiling.</p>
            <p>Die Twin Co. GmbH verarbeitet die personenbezogenen Daten im Falle
                des Widerspruchs nicht mehr, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung
                nachweisen, die den Interessen, Rechten und Freiheiten der betroffenen Person überwiegen, oder die
                Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
            <p>Verarbeitet die Twin Co. GmbH personenbezogene Daten, um
                Direktwerbung zu betreiben, so hat die betroffene Person nach Art. 21 Abs. 2 DSGVO das Recht, jederzeit
                Widerspruch gegen die Verarbeitung der personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen.
                Dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. Widerspricht
                die betroffene Person gegenüber der Twin Co. GmbH der Verarbeitung für Zwecke der Direktwerbung,
                so wird die Twin Co. GmbH die personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten
                (Art. 21 Abs. 3 DSGVO).</p>
            <p>Zudem hat die betroffene Person nach Art. 21 Abs. 6 DSGVO das Recht, aus
                Gründen, die sich aus ihrer besonderen Situation ergeben, gegen die sie betreffende Verarbeitung
                personenbezogener Daten, die bei der Twin Co. GmbH zu wissenschaftlichen oder historischen
                Forschungszwecken oder zu statistischen Zwecken gemäß Art. 89 Abs. 1 DSGVO erfolgen, Widerspruch
                einzulegen, es sei denn, eine solche Verarbeitung ist zur Erfüllung einer im öffentlichen Interesse
                liegenden Aufgabe erforderlich.</p>
            <p>Zur Ausübung des Rechts auf Widerspruch kann sich die betroffene Person
                direkt an einen Mitarbeiter wenden. Der betroffenen Person steht es ferner frei, im Zusammenhang mit der
                Nutzung von Diensten der Informationsgesellschaft, ungeachtet der Richtlinie <span class="u-line"><a
                        href="http://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32002L0058"
                        target="_blank">2002/58/EG</a></span>, ihr Widerspruchsrecht mittels automatisierter Verfahren
                auszuüben, bei denen technische Spezifikationen verwendet werden.</p>
            <p><strong>h) Automatisierte Entscheidungen im
                    Einzelfall einschließlich Profiling</strong><br>Jede von der
                Verarbeitung personenbezogener Daten betroffene Person hat nach <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/art-22-dsgvo/" target="_blank">Art. 22 DSGVO</a></span> das Recht,
                nicht einer ausschließlich auf einer
                automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden,
                die ihr gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt,
                sofern die Entscheidung (1) nicht für den Abschluss oder die Erfüllung eines Vertrags zwischen der
                betroffenen Person und dem Verantwortlichen erforderlich ist, oder (2) aufgrund von Rechtsvorschriften
                der Union oder der Mitgliedstaaten, denen der Verantwortliche unterliegt, zulässig ist und diese
                Rechtsvorschriften angemessene Maßnahmen zur Wahrung der Rechte und Freiheiten sowie der berechtigten
                Interessen der betroffenen Person enthalten oder (3) mit ausdrücklicher Einwilligung der betroffenen
                Person erfolgt.</p>
            <p>Ist die Entscheidung (1) für den Abschluss oder die Erfüllung eines Vertrags
                zwischen der betroffenen Person und dem Verantwortlichen erforderlich oder (2) erfolgt sie mit
                ausdrücklicher Einwilligung der betroffenen Person, trifft die Twin Co. GmbH angemessene
                Maßnahmen, um die Rechte und Freiheiten sowie die berechtigten Interessen der betroffenen Person zu
                wahren, wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des
                Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.</p>
            <p>Möchte die betroffene Person Rechte mit Bezug auf automatisierte
                Entscheidungen geltend machen, kann sie sich hierzu jederzeit an einen Mitarbeiter unseres Unternehmens
                wenden.</p>
            <p><strong>i) Recht auf Widerruf einer
                    datenschutzrechtlichen Einwilligung</strong><br>Der betroffenen Person
                steht das Recht zu, eine Einwilligung zur Verarbeitung personenbezogener Daten jederzeit zu widerrufen.
            </p>
            <p>Möchte die betroffene Person ihr Recht auf Widerruf einer Einwilligung
                geltend machen, kann sie sich hierzu jederzeit an einen Mitarbeiter unseres Unternehmens wenden.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>9. Verwendung von Webfonts</h2>
            <p><strong>a) Google Fonts</strong><br>Auf dieser Internetseite werden externen Schriften von Google Fonts,
                einem Dienst der Goongle Inc. ("Google"), verwendet. Die Einbindung dieser Web Fonts erfolgt durch einen
                Serveraufruf. Es wird an den Server - i.d.R. in den USA- übermittelt, welche Internetseiten Sie besucht
                haben. Zusätzlich wird die IP-Adresse des Browsers des Endgerätes des Besuchers dieser Internetseiten
                von Google gespeichert. Weitere Informationen finden Sie in den Datenschutzhinweisen von Google: <br><a
                    href="https://fonts.google.com/#AboutPlace:about"
                    target="_blank">https://fonts.google.com/#AboutPlace:about</a> &amp; <a
                    href="https://policies.google.com/privacy?hl=de"
                    target="_blank">https://policies.google.com/privacy?hl=de</a></p>
            <p><strong>b) Adobe Typekit</strong><br>Zur einheitlichen &amp; ansprechenden Darstellung von Schriftarten
                nutzt diese Seite so genannte Web Fonts, bereitgestellt von Adobe Typekit. Wenn Ihr Browser Web Fonts
                nicht unterstützt, wird eine Standardschrift von Ihrem Computer genutzt. Beim Aufruf dieser Seite lädt
                Ihr Browser die benötigten Web Fonts in Ihren Browsercache, um Texte und Schriftarten korrekt
                anzuzeigen. Daher muss der von Ihnen verwendete Browser Verbindung zu den Servern von Adobe Typekit
                aufnehmen, weshalb Adobe Typekit Kenntnis darüber erlangt, dass über Ihre IP-Adresse diese Website
                aufgerufen wurde. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
                Weitere Informationen finden Sie in den Datenschutzhinweisen von Adobe Typekit: <br><a
                    href="https://typekit.com/ " target="_blank">https://typekit.com/</a> &amp; <a
                    href="https://www.adobe.com/de/privacy/policies/typekit.html"
                    target="_blank">https://www.adobe.com/de/privacy/policies/typekit.html</a></p>
        </div>
        <div class="privacy-policy-content">
            <h2>10. Datenschutzbestimmungen für den Einsatz und die Verwendung von Google
                Analytics (mit Anonymisierungsfunktion)</h2>
            <p>Diese Website benutzt Google Analytics (mit Anonymisierungsfunktion), einen
                Webanalysedienst der Google Inc. („Google“). Unter einer Webanalyse versteht man die Erhebung, Sammlung
                und Auswertung von Daten über das Besucherverhalten und die Benutzung einzelner Internetseiten. Diese
                Daten bestehen u.a. meist aus der sogenannten Referrer-URL, die Adresse von der eine betroffene Person
                auf unsere Internetseite gekommen ist sowie aus Informationen zur Nutzung der einzelnen Unterseiten
                (bspw. eine Übersicht der angeklickten Seiten, die Häufigkeit der Besuche sowie die Verweildauer auf
                diesen Seiten). Eine Webanalyse wird überwiegend zur Optimierung einer Internetseite und zur
                Kosten-Nutzen-Analyse eingesetzt.</p>
            <p>Betreibergesellschaft der Google-Analytics-Komponente ist die Google Inc.,
                1600 Amphitheatre Pkwy, Mountain View, CA 94043-1351, USA.</p>
            <p>Die gewonnen Daten werden von Google, neben der Auswertung der Nutzung
                unserer Webseite, dazu verwendet, um Online-Reports zu den Aktivitäten auf unseren Seiten
                zusammenzustellen, und um weitere mit der Nutzung unserer Internetseite in Verbindung stehende
                Dienstleistungen zu erbringen.</p>
            <p>Google Analytics verwendet dazu sogenannte „Cookies“, Textdateien, die auf
                Ihrem digitalen Endgerät (bspw. Computer oder Smartphone) gespeichert werden und die eine Analyse der
                Benutzung der Website durch Sie ermöglicht (siehe auch 7. Verwendung von Cookies). Die durch den Cookie
                erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an
                einen Server von Google in den USA übertragen und dort gespeichert. Durch die IP-Anonymisierung auf
                dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen
                Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt
                und anonymisiert übertragen. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
                in den USA übertragen und dort gekürzt.</p>
            <p>Zudem übermittelt der Internetbrowser auf dem digitalen Endgerät der
                betroffenen Person durch jeden Aufruf einer Unterseite auf dieser Webseite, auf welcher eine
                Google-Analytics-Komponente integriert wurde, automatisch Daten an Google zum Zwecke der Online-Analyse.
                Mit Hilfe dieses technischen Verfahrens im Hintergrund der besuchten Webseite erhält Google Kenntnis
                über personenbezogene Daten, wie bspw. der IP-Adresse der betroffenen Person. Diese spezifischen Daten
                nutzt Google dazu, um Reports über die Webseitenaktivitäten zusammenzustellen (bspw. die Herkunft der
                Besucher und Anzahl von Klicks) und um weitere mit der Websitenutzung und der Internetnutzung verbundene
                Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im Rahmen von Google Analytics von
                Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>
            <p>Durch Speicherung der oben beschriebenen Cookies auf dem digitalen Endgerät
                der betroffenen Person werden bei jedem Besuch unserer Internetseiten personenbezogene Informationen,
                wie die Zugriffszeit, der Ort, von welchem ein Zugriff ausging und die Häufigkeit der Besuche,
                einschließlich der IP-Adresse des von der betroffenen Person genutzten Internetanschlusses, an Google in
                den Vereinigten Staaten von Amerika übertragen und gespeichert. Unter Umständen gibt Google diese über
                das technische Verfahren erhobenen personenbezogenen Daten auch an Dritte weiter.</p>
            <p>Die betroffene Person kann jederzeit mittels einer entsprechenden
                Einstellung in der genutzten Browser-Software die Speicherung von Cookies durch unsere Internetseite
                verhindern und damit der Setzung von Cookies dauerhaft widersprechen. Wir weisen an dieser Stelle jedoch
                darauf hin, dass die betroffene Person in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser
                Website vollumfänglich wird nutzen können. Eine solche Einstellung in der genutzten Browser-Software
                würde auch verhindern, dass Google ein Cookie auf dem digitalen Endgerät der betroffenen Person setzt.
                Zudem kann ein von Google Analytics bereits gesetzter Cookie jederzeit über die Browser-Software oder
                andere Softwareprogramme nachträglich gelöscht werden.</p>
            <p>Die betroffene Person kann darüber hinaus die Erfassung der durch das Cookie
                erzeugten und auf ihrer Nutzung der Website bezogenen Daten (inkl. ihrer IP-Adresse) an Google sowie die
                Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare
                Browser-Plugin herunterlädt und auf ihrem digitalen Endgerät installiert: <span class="u-line"><a
                        href="https://tools.google.com/dlpage/gaoptout"
                        target="_blank">https://tools.google.com/dlpage/gaoptout</a></span>. Die Installation des
                Browser-Add-Ons wird von Google als Widerspruch gewertet, wodurch über JavaScript verhindert wird, dass
                Daten und Informationen zu den Besuchen von Internetseiten an Google Analytics übermittelt werden. Wird
                das digitale Endgerät der betroffenen Person zu einem späteren Zeitpunkt gelöscht, formatiert oder neu
                installiert, muss durch die betroffene Person eine erneute Installation des Browser-Add-Ons erfolgen, um
                Google Analytics zu deaktivieren. Sofern das Browser-Add-On durch die betroffene Person oder einer
                anderen Person, die ihrem Machtbereich zuzurechnen ist, deinstalliert oder deaktiviert wird, besteht
                jederzeit die Möglichkeit einer Neuinstallation oder der erneuten Aktivierung des Browser-Add-Ons.</p>
            <p>Weitere Informationen und die geltenden Datenschutzbestimmungen von Google
                können unter <span class="u-line"><a href="https://www.google.de/intl/de/policies/privacy/"
                        target="_blank">https://www.google.de/intl/de/policies/privacy/</a></span> und unter <span
                    class="u-line"><a href="http://www.google.com/analytics/terms/de.html"
                        target="_blank">http://www.google.com/analytics/terms/de.html</a></span> abgerufen werden.
                Google Analytics wird unter diesem Link <span class="u-line"><a
                        href="https://www.google.com/intl/de_de/analytics/"
                        target="_blank">https://www.google.com/intl/de_de/analytics/</a></span> genauer erläutert.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>11. Kinder &amp; Jugendliche</h2>
            <p>Betroffene Personen, die das 18. Lebensjahr noch nicht überschritten haben,
                sollten ohne Zustimmung der Eltern oder eines Erziehungsberechtigten keine personenbezogenen Daten an
                uns übermitteln. Generell fordern wir auf unseren Seiten keine personenbezogenen Daten von Kindern und
                Jugendlichen an, sammeln diese nicht und geben sie nicht an Dritte weiter.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>12. Rechtsgrundlage der Verarbeitung</h2>
            <p>Als Rechtsgrundlage für Verarbeitungsvorgänge, bei denen wir eine
                Einwilligung für einen bestimmten Verarbeitungszweck einholen, dient unserem Unternehmen Art. <i>6</i>
                Abs. 1 Buchstabe a DSGVO.</p>
            <p>Liegt der Verarbeitung personenbezogener Daten die Erfüllung eines Vertrages
                zwischen dem Verantwortlichen und der betroffenen Person zugrunde, wie dies beispielsweise bei
                Verarbeitungsvorgängen der Fall ist, die für die Erbringung einer Leistung oder Gegenleistung notwendig
                sind, so beruht die Verarbeitung auf Art. 6 Abs. 1 Buchstabe b DSGVO. Gleiches gilt für
                Verarbeitungsvorgänge die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.</p>
            <p>Wird die Verarbeitung von personenbezogenen Daten durch eine rechtliche
                Verpflichtung unseres Unternehmens (bspw. Erfüllung steuerlicher Pflichten) erforderlich, so basiert die
                Verarbeitung auf Art. 6 Abs. 1 Buchstabe c DSGVO.</p>
            <p>Zudem könnte es zu einer Situation innerhalb unseres Unternehmens kommen, in
                der die Verarbeitung von personenbezogenen Daten erforderlich wird, um lebenswichtige Interessen der
                betroffenen Person oder einer anderen natürlichen Person zu schützen. Das wäre beispielsweise dann der
                Fall, wenn ein Besucher in unserem Unternehmen verletzt werden würde und daraufhin sein Name, sein
                Alter, seine Krankenkassendaten oder sonstige lebenswichtige personenbezogene Informationen an einen
                Arzt, ein Krankenhaus oder sonstige dritte Parteien weitergegeben werden müssten. In diesem Fall würde
                die Verarbeitung auf Art. 6 Abs. 1 Buchstabe d DSGVO beruhen.</p>
            <p>Letztlich könnten Verarbeitungsvorgänge auf Art. 6 Abs. 1 Buchstabe f DSGVO
                beruhen. Auf dieser Rechtsgrundlage basieren Verarbeitungsvorgänge, wenn die Verarbeitung zur Wahrung
                der berechtigten Interessen unseres Unternehmens oder eines Dritten erforderlich ist, sofern die
                Interessen, Grundrechte und Grundfreiheiten des Betroffenen nicht überwiegen, insbesondere dann, wenn es
                sich bei der betroffenen Person um ein Kind handelt. Der europäische Gesetzgeber vertritt hier insoweit
                die Auffassung, dass ein berechtigtes Interesse anzunehmen sein könnte, wenn die betroffene Person ein
                Kunde des Verantwortlichen ist <span class="u-line"><a
                        href="https://dsgvo-gesetz.de/erwaegungsgruende/nr-47/" target="_blank">(Erwägungsgrund 47 Satz
                        2 DSGVO)</a></span>.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>13. Berechtigte Interessen an der Verarbeitung, die von dem
                Verantwortlichen oder einem Dritten verfolgt werden</h2>
            <p>Liegt der Verarbeitung personenbezogener Daten Art. 6 Abs. 1 Buchstabe f
                DSGVO zugrunde, ist unser berechtigtes Interesse die Durchführung unserer Geschäftstätigkeit zugunsten
                des Wohlergehens unserer Mitarbeiter und unserer Anteilseigner.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>14. Speicherdauer für personenbezogene Daten</h2>
            <p>Die Speicherdauer von personenbezogenen Daten ist durch die jeweilige
                gesetzliche Aufbewahrungsfrist geregelt. Läuft diese Frist ab, werden die erhobenen Daten routinemäßig
                gelöscht, sofern sie nicht mehr Bestandteil einer Vertragserfüllung oder Vertragsanbahnung sind.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>15. Aufklärung zur verpflichtenden Bereitstellung personenbezogener Daten
                durch die betroffene Person</h2>
            <p>An dieser Stelle möchten wir Sie gerne darüber aufklären, dass der
                Gesetzgeber die Bereitstellung personenbezogener Daten zum Teil vorschreibt (z.B. Steuervorschriften)
                oder sich die Bereitstellung von Daten aus vertraglichen Regelungen (z.B. Angaben zum Vertragspartner)
                ergeben kann. Schließt die betroffene Person bspw. einen Vertrag mit unserem Unternehmens ab, ist sie
                dazu verpflichtet uns personenbezogene Daten bereitzustellen. Werden uns diese Daten für den
                Vertragsabschluss nicht zur Verfügung gestellt, könnte der Vertrag mit unserem Unternehmens nicht zu
                Stande kommen. Die betroffene Person kann sich jederzeit vor Bereitstellung personenbezogener Daten an
                einen Mitarbeiter wenden, der sie gerne einzelfallbezogen darüber aufklärt, ob die Bereitstellung der
                personenbezogenen Daten erforderlich und gesetzlich oder vertraglich vorgeschrieben ist. Zudem klären
                wir die betroffene Person darüber auf, ob die Bereitstellung der personenbezogenen Daten in dem
                Einzelfall verpflichtend ist und welche Folgen die Nichtbereitstellung der Daten hätte.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>16. Bestehen einer automatisierten Entscheidungsfindung</h2>
            <p>Als verantwortungsbewusstes Unternehmen verzichten wir auf eine automatische
                Entscheidungsfindung oder ein Profiling.</p>
        </div>
        <div class="privacy-policy-content">
            <h2>17. Rechtswirksamkeit und Rechtswahl</h2>
            <p>Diese Datenschutzerklärung ist als Teil des Internetangebotes zu betrachten,
                von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieser
                Datenschutzerklärung der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen
                sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
                Es gilt das deutsche Recht. Bei Verbrauchern gilt diese Rechtswahl nur, soweit hierdurch der durch
                zwingende Bestimmungen des Rechts des Staates des gewöhnlichen Aufenthaltes des Verbrauchers gewährte
                Schutz nicht entzogen wird (Günstigkeitsprinzip).</p>
        </div>
    </div>
</div>
<!-- End Privacy Policy -->

<app-hd-footer></app-hd-footer>