.trustedByWrapper{
     padding: 40px 0; position: relative;}

// .trustedByWrapper h2{font-size: 32px; font-weight: 600; margin-bottom: 0;}
// .trustedByWrapper p{font-size: 14px; font-weight: 400;}

.trustedBrandsWrapper{padding: 0 0 0 0; 
        overflow: hidden; width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    &.animation {
        justify-content: flex-start;
    }
}
.trustedBrands {
    justify-content: center; 
    display: flex;
    row-gap: 10px; 
    column-gap: 30px; 
    align-items: center;
}
.trustedBrandsWrapper strong{font-size: 28px; font-family:  "Alumni Sans", sans-serif;
    color: #747474;font-weight: 900;letter-spacing: 1.9px;}
:host ::ng-deep .heading-import {
    margin-bottom: 36px;
}

.partners-carousel-child {
    display: flex;
    align-items: center;
    gap: 40px;
}
.animation {
        .partners-carousel-child {
            animation: scrolling 15s linear infinite;
        }
    }

@keyframes scrolling {

    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50.8%);
    }
}
@media (max-width:767px){
    .trustedBrands {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 20px;
    }
    .trustedBrandsWrapper {
        a {
            display: block;
            min-width: 70px;
            padding: 10px 0;
        }
       strong {
           margin-right: 20px;
       }
    }
}