.full-right {
    margin-right: -357px;
    padding-right: 357px;
    max-width: calc(100% + 357px);
    width: calc(100% + 357px);
}
.mainContainer{
    display: block;
    position: relative;
    .StickyPosition{position: absolute; height: 100%; width: 357px; right: 0; top: 0; z-index: 9;}
}
.maincontent {
    margin-right: 357px;
}

.Stickyform{position: sticky; display: flex; right: 0; top: 0; padding-top: 63px; max-height: 100vh; width: 357px; background: white;
    .formWrapper {
        overflow: visible!important;
        background: white;
        border-radius: 0 0 0 20px;
        padding-bottom: 10px;
        ::ng-deep .formContainer .bottomPart {
            padding-bottom: 0;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 100%;
            width: 100vw;
            height: calc(100% - 200px);
            box-shadow: -5px 10px 8px rgba(0, 0, 0, .1) inset;
            z-index: 1;
            border-radius: 0 30px 0 0;
            pointer-events: none;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 200px;
        box-shadow: 0 1px 9px 6px rgba(0, 0, 0, .1);
        z-index: -1;
        border-radius: 0 0 0 20px;
    }
    }
    // &::before {
    //     content: "";
    //     width: 7px;
    //     height: 100px;
    //     position: absolute;
    //     top: 65px;
    //     right: 100%;
    //     background: white;
    //     z-index: 1;
    // }
}
.formWrapper{padding: 29px 42px 40px; flex: 1; overflow: auto; display: flex; flex-direction: column; 
    // box-shadow: 0 10px 5px rgba(0,0,0,.1);     box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 10px; position: relative;
}
app-company-logos-slider ::ng-deep .global-mb {
    margin-bottom: 48px;
}
:host ::ng-deep {
    .bg {
        .container.project-list {
            &::after, &::before {
                background: #f6f7f9;
            }
            div.project-list-wrapper .owl-carousel .owl-stage-outer::after {
                background: linear-gradient(to right, rgba(246, 247, 249, 0) 0%, rgba(246, 247, 249, 0.5) 50%, rgb(246, 247, 249) 100%);
            }
        }
    }
    .container.project-list, .specialProjectsSection {
        overflow: hidden;
        position: relative;
        &::after, &::before {
            content: "";
            width: 92px;
            background: #ffffff;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
        }
        &::before {
            left: 0;
            right: auto;
        }
    }
    .container.project-list div.project-list-wrapper, .specialProjectsSection .containerWrap div.carousel  {
        position: static;
        width: calc(100% - 198px);
        .owl-carousel {
            position: static;
            .owl-nav {
                left: 0;
                right: 0;
                z-index: 9;
                padding: 0;
                overflow: visible;
                top: 50%;
            }
            .owl-nav .owl-prev, .owl-nav .owl-next {
                text-indent: 110%;
                overflow: hidden;
                transition: background-color 0.2s ease;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                border: none;
                background-color: white;
                position: absolute;
                right: 20px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
                margin: 0;
                left: auto;
                transform: none;
            }
            .owl-nav .owl-prev {
                left: 20px;
                right: auto;
            }
            .owl-nav .owl-prev::before, .owl-nav .owl-next::before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border: solid 2px black;
                position: absolute;
                transform: translate(-50%, -50%) rotate(45deg);
                left: 50%;
                top: 50%;
                margin-top: 0;
            }
            .owl-nav .owl-prev::before {
                    border-top-color: transparent;
                    border-right-color: transparent;
            }
            .owl-nav .owl-next::before {
                border-bottom-color: transparent;
                border-left-color: transparent;
                margin-left: -2px;
            }
            .owl-nav .owl-prev::after, .owl-nav .owl-next::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-72%, -50%);
                width: 14px;
                height: 2px;
                background: black;
                    border-color: black;
            }
            .owl-nav .owl-next:hover
            .owl-nav .owl-prev:hover{
                
                 &:after{
                    background: black;
                        border-color: black;
                }
            }
            .owl-nav .owl-prev::after {
                transform: translate(-39%, -50%);
            }
        }
        .owl-carousel .owl-stage-outer {
            overflow: visible;
        }
        .owl-carousel .owl-stage-outer::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 198px;
            right: -198px;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 100%);
        }
    }
    background: linear-gradient(to right, rgba(246, 247, 249, 0) 0%, rgba(246, 247, 249, 0.5) 50%, rgb(246, 247, 249) 100%);
    .specialProjectsSection .containerWrap div.carousel {
        width: calc(100% - 100px);
        .owl-carousel .owl-stage-outer::after {
            width: 100px;
            right: -100px;
        }
    }
}
@media (max-width:1200px){
    :host ::ng-deep {
        .container.project-list {
            padding-left : var(--padding-left-right);
            padding-right : var(--padding-left-right);
        }
        .specialProjectsSection .containerWrap {
            padding-left : var(--padding-left-right);
            padding-right : var(--padding-left-right);
        }
    }
}
@media (max-width:1199px){
    .full-right {
        margin-right: -0;
        padding-right: 0;
        max-width: calc(100%);
        width: calc(100%);
    }
    :host ::ng-deep {
        .container.project-list {
            padding-left : 90px;
            padding-right : 90px;
        }
        .specialProjectsSection .containerWrap {
            padding-left : 90px;
            padding-right : 90px;
        }
    }
    .maincontent {
        margin-right: 0;
    }
    /* Define the keyframes for the animation */
    @keyframes marginLoop {
        0% {
        margin-left: 7px;
        }
        50% {
        margin-left: 9px;
        }
        100% {
        margin-left: 7px;
        }
    }
    .mainContainer .StickyPosition {
        position: fixed;
        width: 0;
        overflow: clip;
        background-color: rgba(0,0,0,.7);
        z-index: 999;
        transition: all .5s ease-in-out;
    }
    .mainContainer .StickyPosition.show {
        width: 100%;
    }
    .Stickyform {
        float: right;
    }
    .Stickyform {
        max-width: calc(100vw - 50px);
        padding-top: 0;
    }
    .Stickyform > svg {
        display: none!important;
    }
    .Stickyform .formWrapper::before,
    .Stickyform .formWrapper::after {
        display: none;
    }
    .cross {
        width: 50px;
        height: 50px;
        border-radius: 5px 0 0 5px;
        background: white;
        position: absolute;
        right: 357px;
        top: 30px;
        &::after, &::before {
            content: "";
            width: 2px;
            height: 20px;
            background: black;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}
::ng-deep {
    .dynamic-service-page #navBar {
        &.navbar-area.sticky {
            box-shadow: none;
        }
        &.navbar-area .navbar-expand-lg {
            min-height: 49px;
        }
        &.navbar-area .navbar-expand-lg .navbar-collapse {
            display: none!important;
        }
        &.navbar-area .navbar .navbar-brand {
            margin-bottom: 0;
        }
    }
}
@media (max-width:991px){
    :host ::ng-deep {
        h1, h2 {
            font-size: 34px;
            strong {
                font-size: 40px;
            }
        }
    }
    ::ng-deep {
        .dynamic-service-page {
            .navbar-toggler {
                display: none;
            }
        }
    }
    .service-nav-bar {
        padding-left: 200px;
        width: 100%;
        ul {
            overflow: auto;
            &::before {
                display: none;
            }
            li {
                white-space: nowrap;
                &::after {
                    display: none;
                }
            }
        }
    }
}
@media (max-width:767px){
    :host ::ng-deep {
        h1, h2 {
            font-size: 22px;
            strong {
                font-size: 30px;
            }
        }
    }
    .cross {
        right: auto;
        left: 6px;
    }
    :host ::ng-deep {
        .container.project-list {
            padding-left: 20px;
            padding-right: 20px;
            &::after, &::before {
                display: none;
            }
        }
        .specialProjectsSection::before,
        .specialProjectsSection::after {
            display: none;
        }
        .specialProjectsSection .containerWrap {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    :host ::ng-deep .container.project-list div.project-list-wrapper, :host ::ng-deep .specialProjectsSection .containerWrap div.carousel {
        width: 100%;
        margin-bottom: 0;
        .owl-nav {
            display: none;
        }
    }
    
}