<div class="howItWorksWrapper">
    <div class="container">
        <div class="container-with-right">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>How it Works?</h2>
                <p>Get access to numerous global vendors on a single platform for drafting services.</p>
            </div>

            <div class="content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <strong>
                    Invite the top vendors to bid on your projects.<br>
                    Integrate your internal workflow for seamless project integration.<br>
                    Stay updated on RFIs, reports, revisions, and timelines via live tracking.<br>
                    Access files with ease from a cloud-backed automated project documentation system.<br>
                    Get assured quality with global compliance standards.
                </strong>
            </div>
        </div>
    </div>
</div>