<app-hd-navbar></app-hd-navbar>

<!-- Page Title -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center" data-aos="fade-up" data-aos-duration="500">
            <!-- <ul class="ps-0 mt-0 font-syne fw-semibold list-unstyled">
                <li class="position-relative d-inline-block">
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li class="position-relative d-inline-block">
                    Testimonials
                </li>
            </ul> -->
            <h1 class="mb-0 ms-auto me-auto">
                Testimonials
            </h1>
        </div>
    </div>
    <div class="pt-shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape1.png" alt="shape1">
    </div>
    <div class="pt-shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape27.png" alt="shape27">
    </div>
</div>
<!-- End Page Title -->

<!-- Testimonials Area -->
<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="em-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0">
                <span>Trusted by 100s</span> of teams
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/karuna.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            I've recommended BuildTwin to several of my clients, and the feedback has been overwhelmingly positive. The AI Design Manager and DSM system address many of the common challenges in construction project management, from documentation to task prioritization. BuildTwin is setting a new standard for efficiency in the industry.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Industry Consultant
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                    <g clip-path="url(#clip0_461_747)">
                                        <path d="M15.5 31C24.0604 31 31 24.0604 31 15.5C31 6.93959 24.0604 0 15.5 0C6.93959 0 0 6.93959 0 15.5C0 24.0604 6.93959 31 15.5 31Z" fill="#FF492C"/>
                                        <path d="M22.7076 11.6637H19.8788C19.9563 11.1987 20.2276 10.9662 20.7701 10.695L21.3126 10.4238C22.2426 9.95875 22.7076 9.41625 22.7076 8.525C22.7463 8.02125 22.5138 7.55625 22.0876 7.24625C21.6613 6.93625 21.1188 6.78125 20.5763 6.78125C20.1113 6.78125 19.6851 6.8975 19.2976 7.13C18.9101 7.3625 18.6388 7.6725 18.4451 8.06L19.2588 8.87375C19.4913 8.2925 20.0338 7.94375 20.6538 7.94375C21.1576 7.94375 21.4676 8.17625 21.4676 8.56375C21.4676 8.95125 21.3126 9.10625 20.7313 9.41625L20.3826 9.57125C19.7626 9.8425 19.2588 10.3075 18.8713 10.85C18.5613 11.3925 18.4063 12.0125 18.4451 12.6325V12.8262H22.7076V11.6637Z" fill="white"/>
                                        <path d="M22.3198 14.144H17.6698L15.3448 18.174H19.9948L22.3198 22.204L24.6448 18.174L22.3198 14.144Z" fill="white"/>
                                        <path d="M15.7325 20.8866C12.7487 20.8866 10.3463 18.4841 10.3463 15.5003C10.3463 12.5166 12.7487 10.1141 15.7325 10.1141L17.5925 6.2778C16.9725 6.16155 16.3525 6.1228 15.7325 6.1228C10.54 6.16155 6.35504 10.3466 6.39379 15.5391C6.43254 20.7316 10.6175 24.9166 15.81 24.8778C17.7862 24.8778 19.685 24.2578 21.2737 23.0953L19.2587 19.5691C18.29 20.4216 17.0112 20.8866 15.7325 20.8866Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_461_747">
                                            <rect width="31" height="31" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                              <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    4.5 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/Albert_Bituev.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            BuildTwin has transformed the way our team operates. The AI Design Manager integrates seamlessly with our existing CDE, providing real-time updates and documentation. It's like having an extra set of eyes that never misses a detail. The smart overview feature has made planning and execution more efficient, ensuring we're always on track.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Engineering Team Leader
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/Haya_Hussein.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            The DSM system from BuildTwin has been a game-changer for our project management processes. It clearly outlines what needs to be done, allowing our team to prioritize tasks efficiently. This level of digital self-management has significantly improved our productivity and reduced the margin for error.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Project Manager
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                    <g clip-path="url(#clip0_461_747)">
                                        <path d="M15.5 31C24.0604 31 31 24.0604 31 15.5C31 6.93959 24.0604 0 15.5 0C6.93959 0 0 6.93959 0 15.5C0 24.0604 6.93959 31 15.5 31Z" fill="#FF492C"/>
                                        <path d="M22.7076 11.6637H19.8788C19.9563 11.1987 20.2276 10.9662 20.7701 10.695L21.3126 10.4238C22.2426 9.95875 22.7076 9.41625 22.7076 8.525C22.7463 8.02125 22.5138 7.55625 22.0876 7.24625C21.6613 6.93625 21.1188 6.78125 20.5763 6.78125C20.1113 6.78125 19.6851 6.8975 19.2976 7.13C18.9101 7.3625 18.6388 7.6725 18.4451 8.06L19.2588 8.87375C19.4913 8.2925 20.0338 7.94375 20.6538 7.94375C21.1576 7.94375 21.4676 8.17625 21.4676 8.56375C21.4676 8.95125 21.3126 9.10625 20.7313 9.41625L20.3826 9.57125C19.7626 9.8425 19.2588 10.3075 18.8713 10.85C18.5613 11.3925 18.4063 12.0125 18.4451 12.6325V12.8262H22.7076V11.6637Z" fill="white"/>
                                        <path d="M22.3198 14.144H17.6698L15.3448 18.174H19.9948L22.3198 22.204L24.6448 18.174L22.3198 14.144Z" fill="white"/>
                                        <path d="M15.7325 20.8866C12.7487 20.8866 10.3463 18.4841 10.3463 15.5003C10.3463 12.5166 12.7487 10.1141 15.7325 10.1141L17.5925 6.2778C16.9725 6.16155 16.3525 6.1228 15.7325 6.1228C10.54 6.16155 6.35504 10.3466 6.39379 15.5391C6.43254 20.7316 10.6175 24.9166 15.81 24.8778C17.7862 24.8778 19.685 24.2578 21.2737 23.0953L19.2587 19.5691C18.29 20.4216 17.0112 20.8866 15.7325 20.8866Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_461_747">
                                            <rect width="31" height="31" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-half-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    4.5 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/andre.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            I've been particularly impressed by the AI Design Manager's ability to track changes and updates. It's like having a personal assistant that ensures nothing slips through the cracks. The smart overview feature has made it easier to understand the project's status at a glance, enhancing our decision-making process.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Design Engineer
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/regina.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            The Marketplace offered by BuildTwin has streamlined the way we find and connect with engineering professionals. It's a valuable resource for matching project needs with the right expertise. This platform has saved us time and resources, ensuring we get the best talent for our projects.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Client Representative
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                    <g clip-path="url(#clip0_461_747)">
                                        <path d="M15.5 31C24.0604 31 31 24.0604 31 15.5C31 6.93959 24.0604 0 15.5 0C6.93959 0 0 6.93959 0 15.5C0 24.0604 6.93959 31 15.5 31Z" fill="#FF492C"/>
                                        <path d="M22.7076 11.6637H19.8788C19.9563 11.1987 20.2276 10.9662 20.7701 10.695L21.3126 10.4238C22.2426 9.95875 22.7076 9.41625 22.7076 8.525C22.7463 8.02125 22.5138 7.55625 22.0876 7.24625C21.6613 6.93625 21.1188 6.78125 20.5763 6.78125C20.1113 6.78125 19.6851 6.8975 19.2976 7.13C18.9101 7.3625 18.6388 7.6725 18.4451 8.06L19.2588 8.87375C19.4913 8.2925 20.0338 7.94375 20.6538 7.94375C21.1576 7.94375 21.4676 8.17625 21.4676 8.56375C21.4676 8.95125 21.3126 9.10625 20.7313 9.41625L20.3826 9.57125C19.7626 9.8425 19.2588 10.3075 18.8713 10.85C18.5613 11.3925 18.4063 12.0125 18.4451 12.6325V12.8262H22.7076V11.6637Z" fill="white"/>
                                        <path d="M22.3198 14.144H17.6698L15.3448 18.174H19.9948L22.3198 22.204L24.6448 18.174L22.3198 14.144Z" fill="white"/>
                                        <path d="M15.7325 20.8866C12.7487 20.8866 10.3463 18.4841 10.3463 15.5003C10.3463 12.5166 12.7487 10.1141 15.7325 10.1141L17.5925 6.2778C16.9725 6.16155 16.3525 6.1228 15.7325 6.1228C10.54 6.16155 6.35504 10.3466 6.39379 15.5391C6.43254 20.7316 10.6175 24.9166 15.81 24.8778C17.7862 24.8778 19.685 24.2578 21.2737 23.0953L19.2587 19.5691C18.29 20.4216 17.0112 20.8866 15.7325 20.8866Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_461_747">
                                            <rect width="31" height="31" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/ashish.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            The training program co-developed with BuildTwin has significantly enhanced my skills and understanding of the latest engineering practices. The hands-on approach and integration with real-world tools like the AI Design Manager have prepared me for the challenges of modern construction projects.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Training Program Participant
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-half-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    4.5 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/Maximilian-Ersinger.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            BuildTwin has provided us with a competitive edge in the industry. The comprehensive suite of tools, from the AI Design Manager to the DSM system, has enhanced our operational efficiency. The Marketplace and Training Program have also added immense value, improving our team's skills and expanding our network.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Construction Company CEO
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                    <g clip-path="url(#clip0_461_747)">
                                        <path d="M15.5 31C24.0604 31 31 24.0604 31 15.5C31 6.93959 24.0604 0 15.5 0C6.93959 0 0 6.93959 0 15.5C0 24.0604 6.93959 31 15.5 31Z" fill="#FF492C"/>
                                        <path d="M22.7076 11.6637H19.8788C19.9563 11.1987 20.2276 10.9662 20.7701 10.695L21.3126 10.4238C22.2426 9.95875 22.7076 9.41625 22.7076 8.525C22.7463 8.02125 22.5138 7.55625 22.0876 7.24625C21.6613 6.93625 21.1188 6.78125 20.5763 6.78125C20.1113 6.78125 19.6851 6.8975 19.2976 7.13C18.9101 7.3625 18.6388 7.6725 18.4451 8.06L19.2588 8.87375C19.4913 8.2925 20.0338 7.94375 20.6538 7.94375C21.1576 7.94375 21.4676 8.17625 21.4676 8.56375C21.4676 8.95125 21.3126 9.10625 20.7313 9.41625L20.3826 9.57125C19.7626 9.8425 19.2588 10.3075 18.8713 10.85C18.5613 11.3925 18.4063 12.0125 18.4451 12.6325V12.8262H22.7076V11.6637Z" fill="white"/>
                                        <path d="M22.3198 14.144H17.6698L15.3448 18.174H19.9948L22.3198 22.204L24.6448 18.174L22.3198 14.144Z" fill="white"/>
                                        <path d="M15.7325 20.8866C12.7487 20.8866 10.3463 18.4841 10.3463 15.5003C10.3463 12.5166 12.7487 10.1141 15.7325 10.1141L17.5925 6.2778C16.9725 6.16155 16.3525 6.1228 15.7325 6.1228C10.54 6.16155 6.35504 10.3466 6.39379 15.5391C6.43254 20.7316 10.6175 24.9166 15.81 24.8778C17.7862 24.8778 19.685 24.2578 21.2737 23.0953L19.2587 19.5691C18.29 20.4216 17.0112 20.8866 15.7325 20.8866Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_461_747">
                                            <rect width="31" height="31" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/Karl_Steinberg.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            As a newer member of the engineering field, the DSM system has been an invaluable tool for understanding my responsibilities and managing my workload. It's helped me integrate into the team more smoothly and has significantly accelerated my learning curve.
                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Junior Engineer
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/Maximilian_Seitner.jpg" alt="user">
                    <p class="font-syne fw-medium">
                        <q>
                            The level of detail and accuracy provided by BuildTwin's AI Design Manager has made a noticeable difference in our quality control processes. It ensures that every aspect of the design and construction phases is documented and tracked, leading to higher quality outcomes and greater client satisfaction.                        </q>
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-medium">
                            Quality Assurance Manager
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="pagination-area font-syne fw-semibold text-center" data-aos="fade-up" data-aos-duration="500">
            <a routerLink="/testimonials" disabled class="d-inline-block">
                <i class="ti ti-chevron-left"></i>
            </a>
            <a routerLink="/testimonials" class="d-inline-block active" disabled>
                1
            </a>
            <a routerLink="/testimonials" class="d-inline-block">
                2
            </a>
            <a routerLink="/testimonials" class="d-inline-block">
                3
            </a>
            <a routerLink="/testimonials" class="d-inline-block">
                <i class="ti ti-chevron-right"></i>
            </a>
        </div> -->
    </div>
</div>
<!-- End Testimonials Area -->

<app-em-footer></app-em-footer>