<div class="container">
    <div class="section-title">
        <span class="sub-title">End-to-End Training</span>
        <h2>Co-Developed with BuildTwin Clients​</h2>
        <p>Online certification courses that set you up for success. Gain industry-relevant skills with cohort-based learning.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-brain-process"></i>
                </div>
                <h3>Co-developed with BuildTwin Clients</h3>
                <p>Learning top skills can bring an extra-ordinary outcome in a career.</p>
                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-computer"></i>
                </div>
                <h3>Building code training</h3>
                <p>Everyone prefers to enjoy learning at their own pace & that gives a great result.</p>
                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-shield-1"></i>
                </div>
                <h3>Software Training</h3>
                <p>Experienced teachers can assist in learning faster with their best approaches!</p>
                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="single-features-box">
                <div class="icon">
                    <i class="flaticon-world"></i>
                </div>
                <h3>Technical Highlights</h3>
                <p>We are delighted to give you options to enjoy learning from anywhere in the world.</p>
                <a routerLink="/profile-authentication" class="link-btn">Start Now!</a>
            </div>
        </div>
    </div>
</div>