<div class="sectionContainer">
    <div class="container">
        <div class="container-with-right">
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <h2>
                All-in-one structural steel detailing services
            </h2>

            <p>
                While accurate shop drawings, fabrication details, erection plans are 
                indispensable to structural steel detailing services, BuildTwin’s all-
                encompassing system takes even your people-led processes into consideration. 
                From communication between multiple stakeholders to keeping track of the 
                minutest update, the platform gives you the ability to manage your project at 
                every stage with absolute transparency and quality control.
<br><br>
            </p>
        </div>
        <!-- tabs -->

    <div class="sectionMidContainer" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        <div class="precastTabs">
                <ng-container *ngFor="let item of precastArray; let i = index">
                        <h4 class="tab" [class.active]="activeTab === i" (click)="setActiveTab(i)"
                        [ngClass]="{ 'activeContainer': activeTab === i }">
                            {{ item.name }}
                        </h4>
                </ng-container>
        </div>
        <div class="tabContent" *ngFor="let detail of activeContent.details">
            <p>{{ detail.mainContent }}</p>
            <h3>{{ detail.header }}</h3>
            <div class="subContent">
                <p><small>{{ detail.subContent }}</small></p>
            </div>
            <div class="dataList">
                <div *ngFor="let item of detail['items']">
                    <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                    <span>{{item}}</span>
                </div>
            </div>
        </div>
        
    </div>
        </div>
    </div>
</div>