<section class="common-Section solutionProviderSection">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 ">
                Find specialist solution provider 
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting.
            </p>
        </div>

        <div class="providerList"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem">
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_Airports.webp 1x, assets/images/services/mobile-Sector_Airports@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_Airports.webp 1x, assets/images/services/Sector_Airports@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_Airports.png 1x, assets/images/services/mobile-Sector_Airports@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_Airports.png 1x, assets/images/services/Sector_Airports@2x.png 2x">
                            <img src="assets/images/services/Sector_Airports.png" alt="solutionProvider1">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_Airports.png" alt="solutionProvider1"> -->
                    </div>
                    <h4 class="itemTitle">AIRPORTS</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_commercialBuilding.webp 1x, assets/images/services/mobile-Sector_commercialBuilding@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_commercialBuilding.webp 1x, assets/images/services/Sector_commercialBuilding@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_commercialBuilding.png 1x, assets/images/services/mobile-Sector_commercialBuilding@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_commercialBuilding.png 1x, assets/images/services/Sector_commercialBuilding@2x.png 2x">
                            <img src="assets/images/services/Sector_commercialBuilding.png" alt="solutionProvider2">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_commercialBuilding.png" alt="solutionProvider2"> -->
                    </div>
                    <h4 class="itemTitle">Commercial building</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem cursor" [routerLink]="['/sector/data-centre']">
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_datacenter.webp 1x, assets/images/services/mobile-Sector_datacenter@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_datacenter.webp 1x, assets/images/services/Sector_datacenter@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_datacenter.png 1x, assets/images/services/mobile-Sector_datacenter@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_datacenter.png 1x, assets/images/services/Sector_datacenter@2x.png 2x">
                            <img src="assets/images/services/Sector_datacenter.png" alt="solutionProvider3">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_datacenter.png" alt="solutionProvider3"> -->
                    </div>
                    <h4 class="itemTitle">Data Center</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_industrialbulidings.webp 1x, assets/images/services/mobile-Sector_industrialbulidings@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_industrialbulidings.webp 1x, assets/images/services/Sector_industrialbulidings@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_industrialbulidings.png 1x, assets/images/services/mobile-Sector_industrialbulidings@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_industrialbulidings.png 1x, assets/images/services/Sector_industrialbulidings@2x.png 2x">
                            <img src="assets/images/services/Sector_industrialbulidings.png" alt="solutionProvider4">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_industrialbulidings.png" alt="solutionProvider4"> -->
                    </div>
                    <h4 class="itemTitle">INDUSTRIAL BUILDINGS</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem cursor" [routerLink]="['/sector/powerplant']">
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_powerplant.webp 1x, assets/images/services/mobile-Sector_powerplant@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_powerplant.webp 1x, assets/images/services/Sector_powerplant@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_powerplant.png 1x, assets/images/services/mobile-Sector_powerplant@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_powerplant.png 1x, assets/images/services/Sector_powerplant@2x.png 2x">
                            <img src="assets/images/services/Sector_powerplant.png" alt="solutionProvider5">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_powerplant.png" alt="solutionProvider5"> -->
                    </div>
                    <h4 class="itemTitle">Power plant</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_pre-cast.webp 1x, assets/images/services/mobile-Sector_pre-cast@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_pre-cast.webp 1x, assets/images/services/Sector_pre-cast@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_pre-cast.png 1x, assets/images/services/mobile-Sector_pre-cast@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_pre-cast.png 1x, assets/images/services/Sector_pre-cast@2x.png 2x">
                            <img src="assets/images/services/Sector_pre-cast.png" alt="solutionProvider6">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_pre-cast.png" alt="solutionProvider6"> -->
                    </div>
                    <h4 class="itemTitle">PRE-CAST</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_residentialbuildings.webp 1x, assets/images/services/mobile-Sector_residentialbuildings@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_residentialbuildings.webp 1x, assets/images/services/Sector_residentialbuildings@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_residentialbuildings.png 1x, assets/images/services/mobile-Sector_residentialbuildings@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_residentialbuildings.png 1x, assets/images/services/Sector_residentialbuildings@2x.png 2x">
                            <img src="assets/images/services/Sector_residentialbuildings.png" alt="solutionProvider7">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_residentialbuildings.png" alt="solutionProvider7"> -->
                    </div>
                    <h4 class="itemTitle">Residential Buildings</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_schools.webp 1x, assets/images/services/mobile-Sector_schools@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_schools.webp 1x, assets/images/services/Sector_schools@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_schools.png 1x, assets/images/services/mobile-Sector_schools@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_schools.png 1x, assets/images/services/Sector_schools@2x.png 2x">
                            <img src="assets/images/services/Sector_schools.png" alt="solutionProvider8">
                        </picture>
                        <img src="assets/images/services/Sector_schools.png" alt="solutionProvider8">
                    </div>
                    <h4 class="itemTitle">Schools</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_theaters.webp 1x, assets/images/services/mobile-Sector_theaters@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_theaters.webp 1x, assets/images/services/Sector_theaters@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_theaters.png 1x, assets/images/services/mobile-Sector_theaters@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_theaters.png 1x, assets/images/services/Sector_theaters@2x.png 2x">
                            <img src="assets/images/services/Sector_theaters.png" alt="solutionProvider9">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_theaters.png" alt="solutionProvider9"> -->
                    </div>
                    <h4 class="itemTitle">Theaters</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_Bridges.webp 1x, assets/images/services/mobile-Sector_Bridges@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_Bridges.webp 1x, assets/images/services/Sector_Bridges@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_Bridges.png 1x, assets/images/services/mobile-Sector_Bridges@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_Bridges.png 1x, assets/images/services/Sector_Bridges@2x.png 2x">
                            <img src="assets/images/services/Sector_Bridges.png" alt="solutionProvider10">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_Bridges.png" alt="solutionProvider10"> -->
                    </div>
                    <h4 class="itemTitle">Bridge</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_ChemicalPlants.webp 1x, assets/images/services/mobile-Sector_ChemicalPlants@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_ChemicalPlants.webp 1x, assets/images/services/Sector_ChemicalPlants@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_ChemicalPlants.png 1x, assets/images/services/mobile-Sector_ChemicalPlants@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_ChemicalPlants.png 1x, assets/images/services/Sector_ChemicalPlants@2x.png 2x">
                            <img src="assets/images/services/Sector_ChemicalPlants.png" alt="solutionProvider11">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_ChemicalPlants.png" alt="solutionProvider11"> -->
                    </div>
                    <h4 class="itemTitle">Chemical plants</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_Hospitals.webp 1x, assets/images/services/mobile-Sector_Hospitals@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_Hospitals.webp 1x, assets/images/services/Sector_Hospitals@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_Hospitals.png 1x, assets/images/services/mobile-Sector_Hospitals@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_Hospitals.png 1x, assets/images/services/Sector_Hospitals@2x.png 2x">
                            <img src="assets/images/services/Sector_Hospitals.png" alt="solutionProvider12">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_Hospitals.png" alt="solutionProvider12"> -->
                    </div>
                    <h4 class="itemTitle">HOSPITALS</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_ManufacturingPlants.webp 1x, assets/images/services/mobile-Sector_ManufacturingPlants@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_ManufacturingPlants.webp 1x, assets/images/services/Sector_ManufacturingPlants@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_ManufacturingPlants.png 1x, assets/images/services/mobile-Sector_ManufacturingPlants@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_ManufacturingPlants.png 1x, assets/images/services/Sector_ManufacturingPlants@2x.png 2x">
                            <img src="assets/images/services/Sector_ManufacturingPlants.png" alt="solutionProvider13">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_ManufacturingPlants.png" alt="solutionProvider13"> -->
                    </div>
                    <h4 class="itemTitle">Manufacturing plants</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_Metros.webp 1x, assets/images/services/mobile-Sector_Metros@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_Metros.webp 1x, assets/images/services/Sector_Metros@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_Metros.png 1x, assets/images/services/mobile-Sector_Metros@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_Metros.png 1x, assets/images/services/Sector_Metros@2x.png 2x">
                            <img src="assets/images/services/Sector_Metros.png" alt="solutionProvider14">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_Metros.png" alt="solutionProvider14"> -->
                    </div>
                    <h4 class="itemTitle">Metros</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_Roads.webp 1x, assets/images/services/mobile-Sector_Roads@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_Roads.webp 1x, assets/images/services/Sector_Roads@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_Roads.png 1x, assets/images/services/mobile-Sector_Roads@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_Roads.png 1x, assets/images/services/Sector_Roads@2x.png 2x">
                            <img src="assets/images/services/Sector_Roads.png" alt="solutionProvider15">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_Roads.png" alt="solutionProvider15"> -->
                    </div>
                    <h4 class="itemTitle">Road ways</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_Waterwaste.webp 1x, assets/images/services/mobile-Sector_Waterwaste@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_Waterwaste.webp 1x, assets/images/services/Sector_Waterwaste@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_Waterwaste.png 1x, assets/images/services/mobile-Sector_Waterwaste@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_Waterwaste.png 1x, assets/images/services/Sector_Waterwaste@2x.png 2x">
                            <img src="assets/images/services/Sector_Waterwaste.png" alt="solutionProvider16">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_Waterwaste.png" alt="solutionProvider16"> -->
                    </div>
                    <h4 class="itemTitle">Water & waste</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer">
                        <picture>
                            <source srcset="assets/images/services/mobile-Sector_tunnel.webp 1x, assets/images/services/mobile-Sector_tunnel@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                            <source srcset="assets/images/services/Sector_tunnel.webp 1x, assets/images/services/Sector_tunnel@2x.webp 2x" type="image/webp">
                            <source srcset="assets/images/services/mobile-Sector_tunnel.png 1x, assets/images/services/mobile-Sector_tunnel@2x.png 767w" media="(max-width: 767px)">
                            <source srcset="assets/images/services/Sector_tunnel.png 1x, assets/images/services/Sector_tunnel@2x.png 2x">
                            <img src="assets/images/services/Sector_tunnel.png" alt="solutionProvider17">
                        </picture>
                        <!-- <img src="assets/images/services/Sector_tunnel.png" alt="solutionProvider17"> -->
                    </div>
                    <h4 class="itemTitle">Tunnel</h4>
                </div>
            </div>
        </div>

        </div>
</section>
