<section class="common-Section solutionProviderSection">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 ">
                Find specialist solution provider 
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting.
            </p>
        </div>

        <div class="providerList"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem">
                    <div class="imgContainer"><img src="assets/images/services/Sector_Airports.png" alt="solutionProvider1"></div>
                    <h4 class="itemTitle">AIRPORTS</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_commercialBuilding.png" alt="solutionProvider2"></div>
                    <h4 class="itemTitle">Commercial building</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_datacenter.png" alt="solutionProvider3"></div>
                    <h4 class="itemTitle">Data Center</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_industrialbulidings.png" alt="solutionProvider4"></div>
                    <h4 class="itemTitle">INDUSTRIAL BUILDINGS</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_powerplant.png" alt="solutionProvider5"></div>
                    <h4 class="itemTitle">Power plant</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_pre-cast.png" alt="solutionProvider6"></div>
                    <h4 class="itemTitle">PRE-CAST</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_residentialbuildings.png" alt="solutionProvider7"></div>
                    <h4 class="itemTitle">Residential Buildings</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_schools.png" alt="solutionProvider8"></div>
                    <h4 class="itemTitle">Schools</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_theaters.png" alt="solutionProvider9"></div>
                    <h4 class="itemTitle">Theaters</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_Bridges.png" alt="solutionProvider10"></div>
                    <h4 class="itemTitle">Bridge</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_ChemicalPlants.png" alt="solutionProvider11"></div>
                    <h4 class="itemTitle">Chemical plants</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_Hospitals.png" alt="solutionProvider12"></div>
                    <h4 class="itemTitle">HOSPITALS</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_ManufacturingPlants.png" alt="solutionProvider13"></div>
                    <h4 class="itemTitle">Manufacturing plants</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_Metros.png" alt="solutionProvider14"></div>
                    <h4 class="itemTitle">Metros</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_Roads.png" alt="solutionProvider15"></div>
                    <h4 class="itemTitle">Road ways</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_Waterwaste.png" alt="solutionProvider16"></div>
                    <h4 class="itemTitle">Water & waste</h4>
                </div>
            </div>
            <div class="itemContainer">
                 <!-- routerLink="{{_languageService.currentLanguage}}/engineering-services/sector" -->
                <div class="listItem" >
                    <div class="imgContainer"><img src="assets/images/services/Sector_tunnel.png" alt="solutionProvider17"></div>
                    <h4 class="itemTitle">Tunnel</h4>
                </div>
            </div>
        </div>

        </div>
</section>
