<section class="getStartedWrapper">
    <div class="container" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">

<!-- <lib-svg-icon class="getStartedIcon" [name]="'getStarted'" [size]="38" [sizeH]="38"></lib-svg-icon> -->

<div class="getStartedIcon">
    <img src="../../../../assets/images/getStartedIcon.png" width="38px" height="" alt="">
</div>

<h2>Ready to Get Started</h2>

<p>Create  your account and get stated in less than 5 minutes.</p>

<a href="https://www.buildtwin.com/get-started" mat-stroked-button class="default-btn whiteBg" >Create Now</a>

</div>
</section>