.getStartedWrapper{
    background: #886DE0;
    padding: 60px 0;
    color: white;
    .container{display: flex; flex-direction: column;
        align-items: center;
        justify-content: center;

        .getStartedIcon{margin-bottom: 20px;}

        h2{font-size: 28px;
            font-style: normal;
            font-weight: 600;
            color: white;
            margin-bottom: 10px;
        }
        p{  color: white;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        .default-btn.mdc-button.whiteBg{background-color: white;
            color: #886DE0 !important;
            font-size: 14px;
            font-weight: 500;
            padding: 15px 44px 16px 47px;
            height: auto;
            display: inline-block;
            min-width: 170px;
        }
    }
}