<div class="why-choose-area pb-100">
    <div class="container">
        <!-- <div class="why-choose-image text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <img src="assets/images/about/about13.jpg" alt="why-choose-image">
        </div> -->
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="why-choose-text">
                    <span class="sub-title d-block font-syne fw-semibold">
                        25+ years in the making 
                    </span>
                    <h2>
                        Our Story
                    </h2>
                    <p>
                        BuildTwin is a joint-venture between engineering firms 
                        across different countries to pool resourcen and 
                        enhance the experience from everyone. 
                        

                        BuildTwin is built on the shoulder of giants leveraging 
                        decades of experience, buisness intelligence and 
                        bullet proof processes. 

                        The idea of BuildTwin is the combination of: 

                    </p>
                    <ul class="features-list font-syne fw-medium ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <i class="ti ti-arrow-narrow-right"></i>
                             Accessable to the latest and greatest tools by industry leadrs                              
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-arrow-narrow-right"></i>
                            while deeply caring about your business personality and privacy. BuildTwin complies with the 
                            highest standard of data protection and continounously gets audited by third-parties. 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="why-choose-content">
                    <span class="sub-title d-block font-syne fw-semibold">
                        Our Goal & Values
                    </span>
                    <h2>
                        Building Trust
                    </h2>
                    <p>
                        We’re obsessively passionate about supporting engineers behind construction 
                        projects, and our mission is to help businesses archive it. 

                        We exist to unlock efficiencies, build trist and drive revene while removing 
                        the need for constly infrastructure or administrative team. 

                        The BuildTwin all-in-one plattform allows clients to move beyond simple 
                        project management tools and instead manages projects as a competitive advantage. 
                    </p>
                    <h3>
                        Our core solutions
                    </h3>
                    <ul class="features-list ps-0 mt-0 mb-0 list-unstyled font-syne">
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            BuildTwin SaaS
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            BuildTwin Marketplace 
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            BuildTwin Training
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>