<div class="integrations-area ptb-75">
    <div class="container overflow">
        <div class="hd-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-poppins">
                <br> Plug & Play - with your workflow
            </h2>
        </div>
        <div class="row integrations-area-list" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <owl-carousel-o [options]="integrationsList">
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/bimplus.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/trimble.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/autodeskconstruction.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/aconex.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/procore.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/4projects.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/teambinder.png" alt="miro">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>