<app-hd-navbar></app-hd-navbar>

<!-- Page Title -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center" data-aos="fade-up" data-aos-duration="500">
            <h1 class="mb-0 ms-auto me-auto">
                Discover Buildtwin: Your Marketplace for Structural Engineering Services 
            </h1>
            <h2>
                <span class="jeffStyle">for</span> engineering projects, -management and training.
            </h2>
        </div>
    </div>

</div>
<!-- End Page Title -->

<!-- <app-em-about></app-em-about> -->

<app-about-lorenz>
    <div class="aboutLorenze">
<div class="container">
    <div class="flex">
        <div class="aboutData">
            <p>
                BuildTwin helps engineers and technical teams to <u>focus</u> on engineering. 
                By making automating tedious tasks, feedback more useful and connecting to a global marketplace. 
            </p>
            <strong>
                Jan Werner
                <span>
                    Founder BuildTwin 
                </span>
            </strong>
        </div>
        <div class="imgWrap">
            <img src="assets/images/ui/jan.png" width="400px">
        </div>
        
    </div>
</div>
</div>

</app-about-lorenz>

<app-em-partners></app-em-partners>

<app-em-why-choose-us></app-em-why-choose-us>

<!-- What we stand for -->
<app-em-funfacts></app-em-funfacts>

<!--  
<app-team-style-one></app-team-style-one>
-->

<!-- Testimmonials -->
<div class="pt-100">
    <app-em-testimonials></app-em-testimonials>
</div>


<app-hd-footer></app-hd-footer>