<app-hd-navbar></app-hd-navbar>

<div class="container teamPage">
    <div class="heading center v2">
        <h1 class="title">
            The BuildTwin <span>Mission</span><br>To help 1.000.000+ engineers to focus on <br>what matters (to them): <i>Engineering</i>
        </h1>
        <span class="small-title">BuildTwin helps engineers and technical teams to <u>focus</u> on engineering. <br>By building trust and automating tedious tasks. </span>
    </div>
    <div class="aboutTeamBanner">
        <div class="imageBg">
            <img src="assets/images/about-bg.jpg" width="1257" height="404" alt="">
        </div>
        <div class="aboutBanner">
            <picture>
                <img src="assets/images/about-banner.jpg" srcset="assets/images/about-banner@2x.jpg 2x" width="514" height="505" alt="">
            </picture>
            <div class="bt-thumb">
                <img src="assets/images/bt-thumb.png" width="113" height="115" alt="">
            </div>
        </div>
        <figure class="leftImage-1">
            <picture>
                <img src="assets/images/home-left-image1.jpg" srcset="assets/images/home-left-image1@2x.jpg 2x" width="105" height="105" alt="">
            </picture>
        </figure>
        <figure class="leftImage-2">
            <picture>
                <img src="assets/images/home-left-image2.jpg" srcset="assets/images/home-left-image2@2x.jpg 2x" width="80" height="80" alt="">
            </picture>
        </figure>
        <figure class="leftImage-3">
            <picture>
                <img src="assets/images/home-left-image3.jpg" srcset="assets/images/home-left-image3@2x.jpg 2x" width="80" height="80" alt="">
            </picture>
        </figure>
        <figure class="leftImage-4">
            <picture>
                <img src="assets/images/home-left-image4.jpg" srcset="assets/images/home-left-image4@2x.jpg 2x" width="132" height="132" alt="">
            </picture>
            <i class="blueTick"><img src="assets/images/blue-tick.png" width="34" height="34" alt=""></i>
        </figure>
        <figure class="leftImage-5">
            <picture>
                <img src="assets/images/home-left-image5.jpg" srcset="assets/images/home-left-image5@2x.jpg 2x" width="132" height="132" alt="">
            </picture>
            <i class="blueTick"><img src="assets/images/blue-tick.png" width="24" height="24" alt=""></i>
        </figure>
        <figure class="leftImage-6">
            <picture>
                <img src="assets/images/home-left-image6.jpg" srcset="assets/images/home-left-image6@2x.jpg 2x" width="105" height="105" alt="">
            </picture>
        </figure>
        <figure class="rightImage-1">
            <picture>
                <img src="assets/images/home-right-image1.jpg" srcset="assets/images/home-right-image1@2x.jpg 2x" width="80" height="80" alt="">
            </picture>
            <i class="blueTick"><img src="assets/images/blue-tick.png" width="24" height="24" alt=""></i>
        </figure>
        <figure class="rightImage-2">
            <picture>
                <img src="assets/images/home-right-image2.jpg" srcset="assets/images/home-right-image2@2x.jpg 2x" width="132" height="132" alt="">
            </picture>
            <i class="blueTick"><img src="assets/images/blue-tick.png" width="31" height="31" alt=""></i>
        </figure>
        <figure class="rightImage-3">
            <picture>
                <img src="assets/images/home-right-image3.jpg" srcset="assets/images/home-right-image3@2x.jpg 2x" width="132" height="132" alt="">
            </picture>
        </figure>
        <figure class="rightImage-4">
            <picture>
                <img src="assets/images/home-right-image4.jpg" srcset="assets/images/home-right-image4@2x.jpg 2x" width="105" height="105" alt="">
            </picture>
        </figure>
        <figure class="rightImage-5">
            <picture>
                <img src="assets/images/home-right-image5.jpg" srcset="assets/images/home-right-image5@2x.jpg 2x" width="132" height="132" alt="">
            </picture>
        </figure>
    </div>
</div>

<!-- <app-em-about></app-em-about> -->

<app-em-partners></app-em-partners>

<app-em-why-choose-us></app-em-why-choose-us>

<!-- What we stand for -->
<app-em-funfacts></app-em-funfacts>

<!--  
<app-team-style-one></app-team-style-one>
-->

<!-- Testimmonials -->
<div class="pt-100">
    <app-em-testimonials></app-em-testimonials>
</div>


<app-hd-footer></app-hd-footer>