<div class="payments-products-area ptb-100">
    <div class="container">
        <div
            class="payments-products-inner"
            style="background-image: url(assets/images/payments-products/border.png);"
        >
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="payments-products-content" data-aos="fade-up" data-aos-duration="500">
                        <h2 class="font-darker-grotesque fw-medium">
                            A fully integrated suite <br>of financial and payments products
                        </h2>
                        <p>
                            Reduce costs, grow revenue, and run your business more efficiently on a fully integrated platform. Use Blin to handle all of your payments-related needs, manage revenue operations, and launch (or invent) new business models.
                        </p>
                        <a mat-button routerLink="/about" class="default-btn">
                            Explore Our Product
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="payments-products-image position-relative">
                        <img src="assets/images/payments-products/pp1.png" alt="payments-products-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <img src="assets/images/payments-products/pp2.jpg" alt="payments-products-image">
                        <img src="assets/images/payments-products/pp3.png" alt="payments-products-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>