<div class="payments-products-area ptb-100">
    <div class="container">
        <div
            class="payments-products-inner"
            style="background-image: url(assets/images/payments-products/border.png);"
        >
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="payments-products-content" data-aos="fade-up" data-aos-duration="500">
                        <h2 class="font-darker-grotesque">
                            Learning at the fastest pace <br>& see your evolvement 
                        </h2>
                        <p>
                            Learn with the latest and greatest tools. Gamification, LMS, etc.

                            How do you learn to build a building? By building a building! Our courses include live projects that significantly enhance your portfolio.
                            Our live projects are curated in partnership with leading AEC firms based in the US, Hong Kong and Portugal.
                            Take instructions from a client, pitch innovative solutions, and see your project unfold – all in a virtual simulation.
                            
                        </p>
                        <a mat-button routerLink="/about" class="default-btn">
                            More About Our Approach
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="payments-products-image position-relative">
                        <img src="assets/images/payments-products/pp1.png" alt="payments-products-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" width="394" height="540">
                        <img src="assets/images/payments-products/pp2.jpg" alt="payments-products-image">
                        <img src="assets/images/payments-products/pp3.png" alt="payments-products-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>