.banner-area {
    background: url(../../../../../assets/images/bgLeft-MNJKEAAO.png) 0 0 repeat;
    padding-top: 130px;
    padding-bottom: 50px;
}
.banner-content {
    h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 16px;
    }
    p {
        color: var(--lightColor);
        margin-bottom: 26px;
    }

    .banner-image {
        max-width: 882px;
        margin: 37px auto 0;
    }
}

.devClients {
    padding-bottom: 15px;
    h6 {
        font-size: 15px;
        line-height: 1.6;
        font-weight: 600;
        color: var(--themeColor);
        margin-bottom: 8px;
    }

    .item {
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;//updated-from-20-8;
        padding: 10px 16px 10px 40px;
        background: var(--backgroundColor);
        font-size: 12px;

        i {
            background: var(--themeColor);
            transform: translateY(-50%);
            border-radius: 50%;
            color: var(--whiteColor);
            position: absolute;
            text-align: center;
            width: 16px;
            height: 16px;
            line-height: 16px;
            left: 16px;
            top: 50%;
            margin-top: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}


/* Max width 767px */
@media only screen and (max-width : 767px) {
    .banner-content {
        h1 {
            font-size: 30px;
            margin-bottom: 9px;
        }
        p {
            max-width: 100%;
            br {
                display: none;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .banner-content {
        h1 {
            font-size: 42px;
        }
    }
}
