.banner-area {
    background: url(../../../../../assets/images/bgLeft-MNJKEAAO.png) 0 0 repeat;
    padding-top: 130px;
    padding-bottom: 50px;
}
.banner-content {
    h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 16px;
    }
    p {
        color: var(--lightColor);
        margin-bottom: 26px;
    }
}

.cardSlider {
    max-width: 880px;
    margin: 37px auto 0;

    .cardInfo {
        img {
            border-radius: 8px 8px 0 0;
            display: block;
        }
    }
}

.cardName {
    background-color: var(--whiteColor);
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
    padding: 10px;
    font-family: var(--fontFamily);
    line-height: 1.6;
    text-align: center;

    strong {
        display: block;
        font-weight: 600;
    }

    span {
        display: block;
        color: var(--lightColor);
    }
}

::ng-deep {
    .cardSlider {
        .owl-carousel {
            .owl-stage-outer {
                padding-bottom: 20px;
            }
            .owl-item {
                transform: scale(0.8);
                transition: all .5s ease;
                visibility: hidden;
                opacity: 0;
                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(0.8);
                    + .active {
                        transform: scale(0.9)
                    }
                }
                &.active.center {
                    transform: scale(1); 
                    + .active {
                        z-index: 3;
                        + .active {
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
    }
}

.devClients {
    padding-bottom: 15px;
    h6 {
        font-size: 15px;
        line-height: 1.6;
        font-weight: 600;
        color: var(--themeColor);
        margin-bottom: 8px;
    }

    .item {
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;//updated-from-20-8;
        padding: 10px 16px 10px 44px;
        background: var(--backgroundColor);
        font-size: 13px;

        i {
            background: var(--themeColor);
            transform: translateY(-50%);
            border-radius: 50%;
            color: var(--whiteColor);
            position: absolute;
            text-align: center;
            width: 18px;
            height: 18px;
            line-height: 18px;
            left: 16px;
            top: 50%;
            margin-top: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}


/* Max width 767px */
@media only screen and (max-width : 767px) {
    .banner-content {
        h1 {
            font-size: 30px;
            margin-bottom: 9px;
        }
        p {
            max-width: 100%;
            br {
                display: none;
            }
        }
    }

    .cardName {
        font-size: 13px;
        line-height: 1.3;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .banner-content {
        h1 {
            font-size: 42px;
        }
    }
}
