.banner-area {
    padding-top: 230px;
    
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        position: absolute;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(177, 188, 236, 0.10);
        background: linear-gradient(135deg, #EEF1F2 0%, #AFC0C8 100%, #93AFB7 100%);
        margin: {
            top: 20px;
            left: 20px;
            right: 20px;
        };
    }
    .shape1 {
        right: 173px;
        bottom: 143px;
        max-width: 438.8px;
        
        img {
            border-radius: 20px;
            transform: rotate(-15deg);
            box-shadow: 0px 4px 40px 0px rgba(101, 119, 129, 0.20);
        }
    }
    .shape2 {
        right: 4.1%;
        top: 35.2%;
    }
}
.banner-content {
    padding-left: 90px;

    h1 {
        max-width: 695px;
        line-height: .83;
        margin-bottom: 27px;
        font: {
            size: 130px;
            weight: 900;
        };
    }
    p {
        max-width: 635px;
        letter-spacing: 0.4px;
    }
    .default-btn {
        margin-top: 13px;
        background-color: var(--tealBlueColor);

        &:hover {
            background-color: var(--blackColor);
        }
    }
}
.banner-image {
    margin-right: -27px;
}
.text-slider-area {
    padding: {
        left: 20px;
        right: 20px;
    };
    .container-fluid {
        white-space: nowrap;
        position: relative;
        max-width: 1920px;
        overflow: hidden;
        height: 40px;
        padding: {
            left: 0;
            right: 0;
        };
    }
    .item {
        margin-right: 20px;
        border-radius: 20px;
        padding: 4.3px 40px 8.7px 20px;
        background: rgba(255, 255, 255, 0.40);

        i {
            transform: translateY(-50%);
            color: var(--tealBlueColor);
            position: absolute;
            right: 10px;
            top: 50%;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .slider {
        top: 0;
        position: absolute;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .banner-area {
        padding-top: 120px;
        
        &::before {
            border-radius: 0;
            margin: {
                top: 0;
                left: 0;
                right: 0;
            };
        }
        .shape1, .shape2 {
            display: none;
        }
    }
    .banner-content {
        padding-left: 0;
    
        h1 {
            font-size: 30px;
            max-width: 100%;
            line-height: 1.15;
            margin-bottom: 9px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 4px;
        }
    }
    .banner-image {
        margin: {
            right: 0;
            bottom: 10px;
        };
    }
    .text-slider-area {
        padding: {
            left: 0;
            right: 0;
        };
        .container-fluid {
            height: 36.98px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .banner-area {
        padding-top: 160px;
        
        &::before {
            border-radius: 0;
            margin: {
                top: 0;
                left: 0;
                right: 0;
            };
        }
        .shape1, .shape2 {
            display: none;
        }
    }
    .banner-content {
        padding-left: 0;
    
        h1 {
            font-size: 42px;
            max-width: 100%;
            line-height: 1.05;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .banner-image {
        margin: {
            right: 0;
            bottom: 10px;
        };
    }
    .text-slider-area {
        padding: {
            left: 0;
            right: 0;
        };
        .container-fluid {
            height: 38.98px;
        }
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .banner-area {
        padding-top: 200px;
        
        &::before {
            border-radius: 0;
            margin: {
                top: 0;
                left: 0;
                right: 0;
            };
        }
        .shape1, .shape2 {
            display: none;
        }
    }
    .banner-content {
        padding-left: 40px;
    
        h1 {
            max-width: 100%;
            font-size: 60px;
            line-height: .98;
            margin-bottom: 17px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 8px;
        }
    }
    .banner-image {
        margin-right: -20px;
    }
    .text-slider-area {
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .banner-area {
        padding-top: 200px;
        
        &::before {
            margin: {
                top: 10px;
                left: 10px;
                right: 10px;
            };
        }
        .shape1 {
            bottom: 25%;
            right: 100px;
            max-width: 200px;
        }
        .shape2 {
            top: 25%;

            img {
                width: 100px;
            }
        }
    }
    .banner-content {
        padding-left: 70px;
    
        h1 {
            font-size: 85px;
            max-width: 100%;
            line-height: .90;
            margin-bottom: 20px;
        }
        .default-btn {
            margin-top: 10px;
        }
    }
    .banner-image {
        margin-right: -30px;
    }
    .text-slider-area {
        padding: {
            left: 10px;
            right: 10px;
        };
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .banner-area {
        .shape1 {
            right: 150px;
            max-width: 350px;
        }
        .shape2 {
            img {
                width: 200px;
            }
        }
    }
    .banner-content {
        h1 {
            max-width: 660px;
            line-height: .87;
            font-size: 110px;
        }
    }

}