<div class="pricing-area position-relative z-1">
    <div class="container">
        <div class="pricing-inner-box pt-100 pb-75">
            <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
                <h2 class="mb-0 font-archivo">
                    Select a plan that scales with your business
                </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                    <div class="pricing-box position-relative z-1">
                        <div class="pricing-header d-flex align-items-center justify-content-between">
                            <span class="title font-archivo d-inline-block fw-medium">
                                Free
                            </span>
                            <div class="price font-archivo fw-semibold">
                                $0 <span>/mo</span>
                            </div>
                        </div>
                        <ul class="features-list ps-0 list-unstyled fw-medium">
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Up to 60 minutes of meetings & webinars
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                100 meeting participants & 100 webinar attendees
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Seamless video conferencing
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Secure screen sharing
                            </li>
                        </ul>
                        <div class="text-center">
                            <a mat-button href="javascript:void(0);" class="default-btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="pricing-box position-relative z-1">
                        <div class="pricing-header d-flex align-items-center justify-content-between">
                            <span class="title font-archivo d-inline-block fw-medium">
                                Meeting
                            </span>
                            <div class="price font-archivo fw-semibold">
                                $6 <span>/mo</span>
                            </div>
                        </div>
                        <ul class="features-list ps-0 list-unstyled fw-medium">
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Up to 60 minutes of meetings & webinars
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                100 meeting participants & 100 webinar attendees
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Multiple co-hosts
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Recording & storage
                            </li>
                        </ul>
                        <div class="text-center">
                            <a mat-button href="javascript:void(0);" class="default-btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <div class="pricing-box position-relative z-1">
                        <div class="pricing-header d-flex align-items-center justify-content-between">
                            <span class="title font-archivo d-inline-block fw-medium">
                                Webinar
                            </span>
                            <div class="price font-archivo fw-semibold">
                                $10 <span>/mo</span>
                            </div>
                        </div>
                        <ul class="features-list ps-0 list-unstyled fw-medium">
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Up to 60 minutes of meetings & webinars
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                100 meeting participants & 100 webinar attendees
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                YouTube live streaming
                            </li>
                            <li class="position-relative">
                                <i class="ti ti-check"></i>
                                Multiple co-organizers
                            </li>
                        </ul>
                        <div class="text-center">
                            <a mat-button href="javascript:void(0);" class="default-btn">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>