
.integration-box.ng-star-inserted {
    display: none;
}
::ng-deep .plugWrapper .owl-carousel .owl-item img{ width: 174px; }


:host ::ng-deep .owl-nav {
    display: block!important;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
    right: 0 ;
    z-index: 99 ;
    width: 47px ;
    bottom: 0 ;
    height: 47px ;
    display: block ;
    transition: var(--transition) ;
    background-color: var(--whiteColor) ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px ;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    position: relative;
    .ti.ti-chevron-left,.ti.ti-chevron-right {
        display: none;
    }
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-prev]{    
    position: absolute;
    right: auto;
    bottom: auto;
    left: 10px;
    top: 62%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-next]{    
    position: absolute;
    right: 10px;
    bottom: auto;
    left: auto;
    top: 62%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: .92;
    background-color: var(--themeColor) ;
    &::before{
        color: var(--whiteColor);
    }
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]::before {
    left: 0;
    right: 0;
    top: 50%;
    line-height: 1;
    content: "\ea62";
    margin-top: -0.5px;
    position: absolute;
    color: var(--blackColor);
    transform: translateY(-50%);
    transition: var(--transition);
    font-size: 25px;
    font-family: "tabler-icons";
}

.integrations-area {
    padding-left: 100px;
    padding-right: 100px;
}
.integrations-area.ptb-75 {
    padding-bottom: 40px;
    padding-top: 50px;
}


.integrations-area .plugWrapper{display: flex;
    .hd-section-title { width: 157px;
        h2{ font-size: 25px; color: var(--themeColor); margin-top: 25px; text-transform: uppercase;
            strong{display: block;}
        }
    }
    .integrations-area-list{flex: 1; overflow: hidden;}
    
}

::ng-deep .plugWrapper .owl-stage-outer{  position: relative;
    &::after,&::before{content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 150px; z-index: 2;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%);}
    &::after{left: auto; right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%);  
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {
    .integrations-area {
        .plugWrapper {
            flex-direction: column;
        }
    }

    .integration-box {
        display: flex;
        justify-content: center;
    }

    :host ::ng-deep .owl-theme .owl-nav [class*=owl-prev] {
        left: 20px;
    }

    :host ::ng-deep .owl-theme .owl-nav [class*=owl-next] {
        right: 20px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {}


@media (max-width:950px){

}
@media  (max-width: 767px) {

}