.container.bg {
    margin-right: -357px;
    padding-right: 387px;
    max-width: calc(100% + 357px);
    width: calc(100% + 357px);
}
.block-wrapper {
    display: flex;
    gap: 25px;
    .block {
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
        text-align: center;
        position: relative;
        figure {
            width: 190px;
            height: 190px;
            background: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 6px;
            position: relative;
        }
        h4 {
            font-size: 25px;
            font-weight: 600;
            margin: 0 0 -5px;
        }
        p {
            font-size: 15px;
            color: var(--lightTextColor);
        }
        .abs {
            font-family: var(--jeffFontFamily);
            font-size: 22px;
            position: absolute;
            left: calc(100% + -50px);
            top: 21px;
            text-align: left;
            transform: rotate(-6deg);
            &::after {
                content: "";
                position: absolute;
                left: -64px;
                top: -30px;
                width: 90px;
                height: 90px;
                border: 2px solid #000;
                border-radius: 50%;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                transform: rotate(18deg);
            }

        }
    }
}

@media (max-width:1199px){
    .container.bg {
        margin-right: -0;
        padding-right: 30px;
        max-width: calc(100%);
        width: calc(100%);
    }
}
@media (max-width:991px){
    .block-wrapper .block figure {
        width: 150px;
        height: 150px;
        img {
            width: 60px;
        }
    }
    .block-wrapper .block h4 {
        font-size: 19px;
    }
    .block-wrapper .block p {
        font-size: 14px;
    }
}
@media (max-width:767px){
    .block-wrapper {
        flex-direction: column;
    }
}