<div class="business-revenue-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                <div class="business-revenue-image text-center">
                    <img src="assets/images/business-revenue.jpg" alt="business-revenue-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="business-revenue-content">
                    <h2 class="font-darker-grotesque fw-medium">
                        Accept and optimize payments, globally, capture recurring revenue
                    </h2>
                    <p>
                        Reduce costs, grow revenue, and run your business more efficiently on a fully integrated platform. Use Buildtwin to handle all of your payments-related needs, manage revenue operations, and launch (or invent) new business models.
                    </p>
                    <a mat-button routerLink="/about" class="default-btn">
                        Explore Our Product
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>