<div class="trustedByWrapper">
    <div class="container" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
        <div class="container-with-right">
            <div class="heading" *ngIf="heading">
                <h2 class="title">Trusted by over 100s</h2>
                <div class="subTitle">of structural professionals across the globe</div>
            </div>
            <div>
                <ng-content select=".heading-import"></ng-content>
            </div>

            <div class="trustedBrands">
                    <a *ngFor="let item of slider; let i = index"
                        [routerLink]="_languageService.currentLanguage+item.routerLink"
                        [id]="'partner-' + item.id"
                    >
                        <strong>{{ item.name }}</strong>
                    </a>  
            </div>
        </div>
    </div>
</div>
