@font-face {
    font-family: 'Jeff Script';
    src: url('../fonts/JeffScript.woff2') format('woff2'),
        url('../fonts/JeffScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Alliance No1';
    src: url('../fonts/AllianceNo1-Bold.woff2') format('woff2'),
        url('../fonts/AllianceNo1-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No1';
    src: url('../fonts/AllianceNo1-Medium.woff2') format('woff2'),
        url('../fonts/AllianceNo1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'alliance_no.1medium';
    src: url('../fonts/AllianceNo1-Medium.woff2') format('woff2'),
        url('../fonts/AllianceNo1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No1';
    src: url('../fonts/AllianceNo1-Light.woff2') format('woff2'),
        url('../fonts/AllianceNo1-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No1';
    src: url('../fonts/AllianceNo1-SemiBold.woff2') format('woff2'),
        url('../fonts/AllianceNo1-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'alliance_no.1semibold';
    src: url('../fonts/AllianceNo1-SemiBold.woff2') format('woff2'),
        url('../fonts/AllianceNo1-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alliance No1';
    src: url('../fonts/AllianceNo1-Regular.woff2') format('woff2'),
        url('../fonts/AllianceNo1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.woff2') format('woff2'),
        url('../fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/ArchivoBlack-Regular.woff2') format('woff2'),
        url('../fonts/ArchivoBlack-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Rubrik Edge';
    src: url('../fonts/New-Rubrik-Edge-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Rubrik Edge';
    src: url('../fonts/New-Rubrik-Edge-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Rubrik Edge';
    src: url('../fonts/New-Rubrik-Edge-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'new_rubrik_edge_medium';
    src: url('../fonts/New-Rubrik-Edge-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Rubrik Edge';
    src: url('../fonts/New-Rubrik-Edge-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Rubrik Edge';
    src: url('../fonts/New-Rubrik-Edge-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'new_rubrik_edge_semibold';
    src: url('../fonts/New-Rubrik-Edge-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
