<app-hd-navbar></app-hd-navbar>

<app-om-banner-freelance></app-om-banner-freelance>

<app-om-services-freelance></app-om-services-freelance>

<app-om-why-choose-us-freelance></app-om-why-choose-us-freelance>

<app-video-call-made-easy-freelance></app-video-call-made-easy-freelance>

<app-om-partners-freelance></app-om-partners-freelance>

<app-om-about-freelance></app-om-about-freelance>

<app-om-integrations-freelance></app-om-integrations-freelance>

<app-om-how-it-works-freelance></app-om-how-it-works-freelance>

<app-om-funfacts-freelance></app-om-funfacts-freelance>

<app-om-features-freelance></app-om-features-freelance>

<app-enterprise-testimonials></app-enterprise-testimonials>

<app-hd-pricing></app-hd-pricing>

<!-- 
<app-om-blog-freelance></app-om-blog-freelance>
-->

<app-hd-footer></app-hd-footer>