<app-hd-navbar></app-hd-navbar>

<app-om-banner-freelance></app-om-banner-freelance>

<app-how-buildtwin-helps>
    <div class="buildtwinHelps" id="scrollActivated">
        <div class=""id="onScrollAnimation">
        <div class="container">
            <div class="headSection">
                <h2>Business Intelligence<br>with actionable Insights
                </h2>
            </div>
            <div class="tabContent">
                <div class="tabLeft">
                    <ul>
                        <li (click)="scrollToSection('section1')" data-aos="fade-up" data-aos-duration="500"  [ngClass]="{'active':activeState === 1}">
                            <i></i> Plug & Play
                        </li>
                        <li (click)="scrollToSection('section2')" data-aos="fade-up" data-aos-duration="500"   [ngClass]="{'active':activeState === 2}">
                            <i></i> Plan vs. Actual
                        </li>
                        <li (click)="scrollToSection('section3')" data-aos="fade-up" data-aos-duration="500"  [ngClass]="{'active':activeState === 3}">
                            <i></i> GAP Analysis
                        </li>
                        <li (click)="scrollToSection('section4')" data-aos="fade-up" data-aos-duration="500"  [ngClass]="{'active':activeState === 4}">
                            <i></i> Benchmark
                        </li>
                        <li (click)="scrollToSection('section5')" data-aos="fade-up" data-aos-duration="500"  [ngClass]="{'active':activeState === 5}">
                            <i></i> Pricing Model
                        </li>
                        <li (click)="scrollToSection('section6')" data-aos="fade-up" data-aos-duration="500"  [ngClass]="{'active':activeState === 6}">
                            <i></i >Quotations
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
        </div>

        <div class="staticData">
            <div class="tabRIght">
                <div id="section1" class="active" data-ele="one"  >
                    <div class="flex ">
                        <div class="imgWrap">
                            <img src="assets/images/ui/whyBuild1.png" alt="" title="">
                        </div>
                        <div class="contentWrap">
                            <h3>
                                Get started with minimum data

                            </h3>
                            <p>
                                BuildTwin generates Checklists based on the user, deliverables and the discussed
                                technical decision. The checklist also considers RFIs, Revisions and many other factors.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="section2"    data-ele="two">
                    <div class="flex">
                        <div class="imgWrap">
                            <img src="assets/images/ui/whyBuild2.png" alt="" title="">
                        </div>
                        <div class="contentWrap">
                            <h3>
                                Visualise revisions, bugs and other efforts

                            </h3>
                            <p>
                                BuildTwin generates Checklists based on the user, deliverables and the discussed

                            </p>
                        </div>
                    </div>
                </div>
                <div id="section3" data-ele="three" >
                    <div class="flex ">
                        <div class="imgWrap">
                            <img src="assets/images/ui/whyBuild3.png" alt="" title="">
                        </div>
                        <div class="contentWrap">
                            <h3>
                                Understanding the GAP


                            </h3>
                            <p>
                                BuildTwin tracks and documents all activitis across all channels - and presents a easy to use and understand cockpit.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="section4" data-ele="four"  >
                    <div class="flex ">
                        <div class="imgWrap">
                            <img src="assets/images/ui/whyBuild4.png" alt="" title="">
                        </div>
                        <div class="contentWrap">
                            <h3>
                                Benchmark your performance - against past performance. AND market performance.


                            </h3>
                            <p>
                                The consolidated LIVE view shows you the LIVE project view of your project progress and whether your project is on track or not.                            </div>
                    </div>
                </div>
                <div id="section5"  data-ele="five"  >
                    <div class="flex ">
                        <div class="imgWrap">
                            <img src="assets/images/ui/whyBuild5.png" alt="" title="">
                        </div>
                        <div class="contentWrap">
                            <h3>
                                Optimise utilisation and model outcomes

                            </h3>
                            <p>
                                The AI RFI manager tracks all RFIs across different channels such as emails, CDE, and technical meetings, presenting them in an easy-to-understand format.
                            </p>
                        </div>
                    </div>
                </div>
                <div  id="section6" data-ele="six" >
                    <div class="flex ">
                        <div class="imgWrap">
                            <img src="assets/images/ui/whyBuild6.png" alt="" title="">
                        </div>
                        <div class="contentWrap">
                            <h3>
                                Underwrite bids with dynamic data
                            </h3>
                            <p>
                                With our Simulation tool you supercharge your Steering meetings, by analysing different scenarios and adopting new priorities with the click of a button.
                            </p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</app-how-buildtwin-helps>


<!-- 
    
    <app-om-services-freelance></app-om-services-freelance>

    
!--> 


<!-- Get started in minutes -->
<app-om-about></app-om-about>

<app-om-integrations-freelance></app-om-integrations-freelance>


<h1>END TO END FEEDBACK SYSTEM</h1>


<!-- trusted by marketplace -->
<app-om-partners></app-om-partners>





<br> 

<app-buildtwin-services>
    <div class="buildtwinService forTraning ptb-100">

        <div class="container">
            <div class="headSection">
                <h2><span>included</span> powerful Features
                </h2>
                <p>
                    Use A.I. to make your day-to-day tasks easier, faster and more streamlined.
                </p>
            </div>
            <div class="tabContent">
                <div class="tabLeft">
                    <ul>
                        <li data-aos="fade-up" data-aos-duration="500" (click)="tabbing2(10)"
                            [ngClass]="{'active':activeState2 === 10}">
                            <div class="flex-center">
                                <i>1</i>Collaboration
                            </div>
                            <div class="content">

                                <p>
                                    No extra work required. Connect BuildTwin to your email account and get an AI to
                                    process your emails and extract what needs to be done, compose emails, and document
                                    everything into an operable cockpit. Such as what deliverables need to be delivered
                                    by when or what RFIs are still open.
                                </p>
                                <a routerLink="" class="newBtn">Learn More<img src="assets/images/ui/arrow.svg"> </a>
                            </div>

                        </li>

                        <li data-aos="fade-up" data-aos-duration="500" (click)="tabbing2(11)"
                            [ngClass]="{'active':activeState2 === 11}">
                            <div class="flex-center">
                                <i>2</i>BIM / IFC / PDF Viewer
                            </div>
                            <div class="content">

                                <p>
                                    The DSM system helps you to stay on top of things and provides meaningful insight into project performance and how it can be improved. With our anonymized (opt-in) benchmark feature, you also get insight into how you perform against peers.
                                </p>
                                <a routerLink="" class="newBtn">Learn More<img src="assets/images/ui/arrow.svg"> </a>
                            </div>

                        </li>
                        <li data-aos="fade-up" data-aos-duration="500" (click)="tabbing2(12)"
                            [ngClass]="{'active':activeState2 === 12}">
                            <div class="flex-center">
                                <i>3</i>Project planing and schedueling
                            </div>
                            <div class="content">

                                <p>
                                    We manage files for you, between your team and your client. By uploading the deliverables in the right name convention to CDE and internally tracking each revision.It is as easy as saving your file locally.
                                </p>
                                <a routerLink="" class="newBtn">Learn More<img src="assets/images/ui/arrow.svg"> </a>
                            </div>

                        </li>
                        <li data-aos="fade-up" data-aos-duration="500" (click)="tabbing2(13)"
                            [ngClass]="{'active':activeState2 === 13}">
                            <div class="flex-center">
                                <i>4</i> Time tracking
                            </div>
                            <div class="content">

                                <p>
                                    BuildTwin tracks all RFIs across all channels and shows the discussion and result of each discussion in an easy-to-understand overview.Coming soon: Based on building code, technical standards, and trained data on constructability, BuildTwin AI will provide suggested answers to technical questions.
                                </p>
                                <a routerLink="" class="newBtn">Learn More<img src="assets/images/ui/arrow.svg"> </a>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="tabRIght">
                    <div data-aos="fade-up" data-aos-duration="500" *ngIf="activeState2 === 10">
                        <img src="assets/images/ui/service1.png" alt="" width="" height="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="500" *ngIf="activeState2 === 11">
                        <img src="assets/images/ui/service2.png" alt="" width="" height="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="500" *ngIf="activeState2 === 12">
                        <img src="assets/images/ui/service2.png" alt="" width="" height="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="500" *ngIf="activeState2 === 13">
                        <img src="assets/images/ui/service2.png" alt="" width="" height="">
                    </div>


                </div>
            </div>
        </div>
    </div>

</app-buildtwin-services>


<br><br><br>

<!-- Use Cases -->

<app-om-why-choose-us>
    <div class="co-pilot-details">
        <div class="why-choose-us-area  position-relative z-1">
            <div class="container">
                <div class="colManage">
                    <div class="col first">
                        <div class="why-choose-us-list position-relative font-archivo">
                            <h3>USE CASES</h3>
                            <ul class="ps-0 mb-0 mt-0 list-unstyled">
                                <li (click)="tabbing(1)" [ngClass]="{'active':activeState3 === 1}"
                                    class="position-relative active" data-aos="fade-up" data-aos-duration="500">
                                    <div class="imgWrap">
                                        <img src="assets/images/ui/user1.png" alt="" width="" height="">
                                    </div>
                                    <div class="content">
                                        <strong>“Tracks who processed what and when”</strong>
                                        <span>Charles Brown</span>
                                    </div>


                                </li>
                                <li (click)="tabbing(2)" [ngClass]="{'active':activeState3 === 2}"
                                    class="position-relative" data-aos="fade-up" data-aos-duration="500">
                                    <div class="imgWrap">
                                        <img src="assets/images/ui/user2.png" alt="" width="" height="">
                                    </div>
                                    <div class="content">
                                        <strong>“It ensures quality requirements are met”</strong>
                                        <span>Marquees Lee</span>
                                    </div>


                                </li>
                                <li (click)="tabbing(3)" [ngClass]="{'active':activeState3 === 3}"
                                    class="position-relative" data-aos="fade-up" data-aos-duration="500">
                                    <div class="imgWrap">
                                        <img src="assets/images/ui/user3.png" alt="" width="" height="">
                                    </div>
                                    <div class="content">
                                        <strong>“Easily and quickly summaries activities into a workable
                                            cockpit”</strong>
                                        <span>Katrina Paine</span>
                                    </div>

                                </li>
                                <li (click)="tabbing(4)" [ngClass]="{'active':activeState3 === 4}"
                                    class="position-relative" data-aos="fade-up" data-aos-duration="500">
                                    <div class="imgWrap">
                                        <img src="assets/images/ui/user4.png" alt="" width="" height="">
                                    </div>
                                    <div class="content">
                                        <strong>“Provides Automated feedback & learnings for easier
                                            understanding”</strong>
                                        <span>Rajdeep Sharma</span>
                                    </div>

                                </li>
                                <li (click)="tabbing(5)" [ngClass]="{'active':activeState3 === 5}"
                                    class="position-relative" data-aos="fade-up" data-aos-duration="500">
                                    <div class="imgWrap">
                                        <img src="assets/images/ui/user1.png" alt="" width="" height="">
                                    </div>
                                    <div class="content">
                                        <strong>“One click reports such as for Delays”</strong>
                                        <span>Owen Weah</span>
                                    </div>


                                </li>

                            </ul>

                        </div>
                    </div>
                    <div class="col">
                        <div *ngIf="activeState3 === 1" class="why-choose-us-content" data-aos="fade-up"
                            data-aos-duration="500">
                            <h2 class="font-archivo">
                                Tracks who processed what and when
                            </h2>
                            <p>
                                <img src="assets/auto/testimonial/vid4.png" alt="" width="400" height="400">
                                <span>Learn what Owen Weah has to say</span>
                            </p>
                        </div>
                        <div *ngIf="activeState3 === 2" class="why-choose-us-content" data-aos="fade-up"
                            data-aos-duration="500">
                            <h2 class="font-archivo">
                                Ensures quality requirements are met
                            </h2>
                            <p>
                                BuildTwin for technical Teams is tailored to significantly improve the workflow of
                                technical teams. BuildTwin
                                automates meaningful manual work and enables technical teams to focus on what matters -
                                technical queries while
                                BuildTwin helps to manage the project in background.
                            </p>
                            <a mat-button routerLink="/contact" class="default-btn">Try BuildTwin Now</a>
                        </div>
                        <div *ngIf="activeState3 === 3" class="why-choose-us-content" data-aos="fade-up"
                            data-aos-duration="500">
                            <h2 class="font-archivo">
                                Easily and quickly summaries activities into a workable cockpit
                            </h2>
                            <p>
                                BuildTwin for technical Teams is tailored to significantly improve the workflow of
                                technical teams. BuildTwin
                                automates meaningful manual work and enables technical teams to focus on what matters -
                                technical queries while
                                BuildTwin helps to manage the project in background.
                            </p>
                            <a mat-button routerLink="/contact" class="default-btn">Try BuildTwin Now</a>
                        </div>
                        <div *ngIf="activeState3 === 4" class="why-choose-us-content" data-aos="fade-up"
                            data-aos-duration="500">
                            <h2 class="font-archivo">
                                Provides Automated feedback & learnings for easier understanding</h2>
                            <p>
                                BuildTwin for technical Teams is tailored to significantly improve the workflow of
                                technical teams. BuildTwin
                                automates meaningful manual work and enables technical teams to focus on what matters -
                                technical queries while
                                BuildTwin helps to manage the project in background.
                            </p>
                            <a mat-button routerLink="/contact" class="default-btn">Try BuildTwin Now</a>
                        </div>
                        <div *ngIf="activeState3 === 5" class="why-choose-us-content" data-aos="fade-up"
                            data-aos-duration="500">
                            <h2 class="font-archivo">
                                Generates one click reports such as for delays</h2>
                            <p>
                                BuildTwin for technical Teams is tailored to significantly improve the workflow of
                                technical teams. BuildTwin
                                automates meaningful manual work and enables technical teams to focus on what matters -
                                technical queries while
                                BuildTwin helps to manage the project in background.
                            </p>
                            <a mat-button routerLink="/contact" class="default-btn">Try BuildTwin Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</app-om-why-choose-us>

<app-task-management-business-intelligence></app-task-management-business-intelligence>
<h1>Actionable Insight</h1>

<br> 

<h1>Use Cases</h1>


<!-- 
<app-om-why-choose-us-freelance></app-om-why-choose-us-freelance>
<app-video-call-made-easy-freelance></app-video-call-made-easy-freelance>
<app-om-partners-freelance></app-om-partners-freelance>
<app-om-about-freelance></app-om-about-freelance>
<app-om-how-it-works-freelance></app-om-how-it-works-freelance>
<app-om-funfacts-freelance></app-om-funfacts-freelance>
<app-om-features-freelance></app-om-features-freelance>
<app-om-blog-freelance></app-om-blog-freelance>
-->



<h3>3 good reasons to subscribe TODAY</h3>

<div class="banner-area position-relative z-1">
    <div class="container">
        <app-three-col-market>
          <div class="cdeSection">
            <div class="cde_col">
              <div class="headPart">
              <h2>Business Intelligence</h2>
              <span>Gain Business Insights</span>
            </div>
              <img src="assets/auto/email1.png">
            
              <p>Let AI Draft, track and process your Inbox, 
                while you focus on what matters</p>
                <i class="icon1">
                  <svg width="32" height="228" viewBox="0 0 32 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32 1V1C23.1634 1 16 8.16345 16 17V211C16 219.837 8.83656 227 0 227V227" stroke="#886DE0" stroke-dasharray="2"/>
                    <path d="M8 89L16 99L24 89" stroke="#A692E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                </i>
            </div>
            <div class="cde_col">
              <div class="headPart">
              <h2>Claims</h2>
              <span>Unlock missed earnings</span>
              </div>
              <img src="assets/auto/email2.png">
              <p>Save  files locally - and done. From re-naming, QC to uploading to third-party CDE. BuildTwin takes care of it.</p>
              <i class="icon1">
                <svg width="32" height="228" viewBox="0 0 32 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M-7.3346e-07 1V1C8.83655 1 16 8.16345 16 17V211C16 219.837 23.1634 227 32 227V227" stroke="#886DE0" stroke-dasharray="2"/>
                  <path d="M24 89L16 99L8 89" stroke="#A692E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
              </i>
            </div>
      
            <div class="cde_col">
              <div class="headPart">
              <h2>Benchmark </h2>
              <span>Understand how to improve</span>
              </div>
              <img src="assets/auto/email3.png">
              <p>A new revision or an unanswered technical question - BuildTwin keeps track of what happens with the right 360° context</p>
            </div>
          </div>

        </app-three-col-market>
      
    </div>
</div>


<app-hd-footer></app-hd-footer>