<div class="happier-customers-area pt-75 pb-75">
    <div class="container">
        <div class="row happier-customers-inner">
            <div class="hd-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
                <h2 class="mb-0 font-poppins">
                    <h2><i class="jeffStyle">Automate</i> working with 
                        different stakeholders</h2>
                </h2>
                <p class="ms-auto me-auto">

                    Automate the set-up working with different stakeholders - seamless collaborate on your standards while BuildTwin does the heavy lifting for you in the background. Such as managing files and re-naming files according to project standards, managing RFIs in third-party systems and many more manual tasks
                </p>
            </div>
            
     
            <div class="happier-customers-image ms-auto me-auto text-center position-relative z-1">
                <img src="assets/images/happier-customers/happier-customers1.png" alt="happier-customers-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <!-- <img src="assets/images/deliverables/Customized-for-your-project-section-images/1.png" alt="happier-customers-image">
                <img src="assets/images/deliverables/Customized-for-your-project-section-images/2.png" alt="happier-customers-image"> -->
            </div>
        </div>
    </div>
</div>