

<div class="services" id="targetSection">
    <div class="main-head">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <div class="heading">
                <h1 class="title">Engineering Services Accomplished</h1>
                <div class="subTitle">Solutions offered by the certified vendors using the Architecture design softwares</div>
            </div>
        </div>
    </div>



</div>

<div class="global-mb">
    <app-hd-services [heading]="false" [page]="'architecture-design-services'"></app-hd-services>
</div>