.faq-content {
    .sub-title {
        font-size: 16px;
        margin-bottom: 12px;
        color: var(--whiteColor);
    }
    h2 {
        margin-bottom: 15px;
        font-size: 24px;
    }
    .image {
        margin-top: 48px;
        padding: {
            right: 128px;
            bottom: 60px;
        };
        img {
            &:nth-child(1) {
                border-radius: 15px;
            }
            &:nth-child(2) {
                bottom: 0;
                z-index: -1;
                right: -7px;
                position: absolute;
            }
        }
    }
}
.faq-accordion {
    padding-left: 160px;

    .mat-accordion {
        .mat-expansion-panel {
            margin-bottom: 20px;
            border-radius: 8px;
            color: var(--blackColor);
            background: var(--whiteColor);
            transition: var(--transition);
            box-shadow: 0px 4px 40px 0px rgba(87, 84, 255, 0.08);

            .mat-expansion-panel-header {
                display: block;
                height: auto;
                padding: {
                    top: 24px;
                    left: 30px;
                    right: 45px;
                    bottom: 24px;
                };
            }
            .mat-expansion-panel-header-title {
                display: block;
                margin-right: 0;
                position: relative;
                color: var(--blackColor);
                transition: var(--transition);
                font: {
                    size: 16px;
                    weight: 500;
                    family: var(--syneFontFamily);
                };
                &::before {
                    top: 50%;
                    right: -20px;
                    color: #8a8c9d;
                    content: "\ea5f";
                    position: absolute;
                    transform: translateY(-50%);
                    transition: var(--transition);
                    font: {
                        family: "tabler-icons";
                    };
                }
            }
            &:not(.mat-expanded) {
                .mat-expansion-panel-header {
                    &:not([aria-disabled=true]) {
                        transition: var(--transition);

                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            &.mat-expanded {
                box-shadow: unset;

                .mat-expansion-panel-header {
                    background: var(--backgroundColor);
                }
                .mat-expansion-panel-header-title {
                    color: var(--themeColor);

                    &::before {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
::ng-deep {
    .faq-accordion {
        .mat-accordion {
            .mat-expansion-panel {
                .mat-expansion-indicator {
                    display: none;
                }
                .mat-content {
                    overflow: unset;
                    display: block;
                }
                .mat-expansion-panel-body {
                    padding: 20px 30px 15px 30px;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .faq-content {
        margin-bottom: 25px;

        .sub-title {
            font-size: 14px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 25px;
        }
        .image {
            margin-top: 25px;
            padding: {
                right: 0;
                bottom: 0;
            };
            img {
                &:nth-child(1) {
                    border-radius: 10px;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
    .faq-accordion {
        padding-left: 0;
    
        .mat-accordion {
            .mat-expansion-panel {
                margin-bottom: 15px;
    
                .mat-expansion-panel-header {
                    padding: {
                        top: 14px;
                        left: 15px;
                        right: 30px;
                        bottom: 14px;
                    };
                }
                .mat-expansion-panel-header-title {
                    font-size: 15px;
                    line-height: 1.5;
                    
                    &::before {
                        right: -15px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .faq-accordion {
            .mat-accordion {
                .mat-expansion-panel {
                    .mat-expansion-panel-body {
                        padding: 15px 0 5px 0;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .faq-content {
        margin-bottom: 25px;

        .sub-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 29px;
        }
        .image {
            margin-top: 25px;
            padding: {
                right: 0;
                bottom: 0;
            };
            img {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
    .faq-accordion {
        padding-left: 0;
    
        .mat-accordion {
            .mat-expansion-panel {
                .mat-expansion-panel-header {
                    padding: {
                        top: 22px;
                        left: 20px;
                        right: 35px;
                        bottom: 22px;
                    };
                }
                .mat-expansion-panel-header-title {
                    font-size: 16px;

                    &::before {
                        right: -10px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .faq-accordion {
            .mat-accordion {
                .mat-expansion-panel {
                    .mat-expansion-panel-body {
                        padding: 15px 20px 5px 20px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .faq-content {
        .sub-title {
            font-size: 15px;
            margin-bottom: 11px;
        }
        h2 {
            font-size: 35px;
        }
        .image {
            margin-top: 25px;
            padding: {
                right: 0;
                bottom: 0;
            };
            img {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
    .faq-accordion {
        padding-left: 0;
    
        .mat-accordion {
            .mat-expansion-panel {
                margin-bottom: 15px;
    
                .mat-expansion-panel-header {
                    padding: {
                        top: 18px;
                        left: 25px;
                        right: 40px;
                        bottom: 18px;
                    };
                }
                .mat-expansion-panel-header-title {
                    font-size: 17px;

                    &::before {
                        right: -15px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .faq-accordion {
            .mat-accordion {
                .mat-expansion-panel {
                    .mat-expansion-panel-body {
                        padding: 15px 25px 5px 25px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .faq-content {
        h2 {
            font-size: 39px;
        }
        .image {
            margin-top: 30px;
            padding: {
                right: 15px;
                bottom: 15px;
            };
            img {
                &:nth-child(2) {
                    max-width: 300px;
                }
            }
        }
    }
    .faq-accordion {
        padding-left: 20px;
    
        .mat-accordion {
            .mat-expansion-panel {
                .mat-expansion-panel-header {
                    padding: {
                        top: 20px;
                        bottom: 20px;
                    };
                }
                .mat-expansion-panel-header-title {
                    font-size: 17px;
                }
            }
        }
    }
    ::ng-deep {
        .faq-accordion {
            .mat-accordion {
                .mat-expansion-panel {
                    .mat-expansion-panel-body {
                        padding: 15px 30px 5px 30px;
                    }
                }
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .faq-content {
        .image {
            margin-top: 40px;
            padding: {
                right: 40px;
                bottom: 40px;
            };
            img {
                &:nth-child(2) {
                    max-width: 350px;
                }
            }
        }
    }
    .faq-accordion {
        padding-left: 50px;
    }

}