:host ::ng-deep {
    .about {

        background: #f9f9f9;
        padding-top: 60px;
        padding-bottom: 0;

        .head {
            text-align: center;
            margin-bottom: 40px;
            ;

            h2 {
                color: #0E0E28;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                margin-bottom: 8px;
                line-height: 120%;
                /* 48px */
            }

            p {
                color: var(--Black, #000);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                margin-bottom: 27px;
                /* 25.6px */
            }

            h3 {
                color: var(--primary, #886DE0);
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 12px;
            }
        }

        .whiteSection {
            padding: 52px 52px 0;
        }

        .container {
            background: var(--color-green-button, #FFF);
            padding-bottom: 1px;
            border-radius: 8px;

            .flexStructure {
                display: flex;
                gap: 20px;
         
                padding: 52px 0 ;


                .leftPart {
                    width: 50%;

                    .box {
                        display: flex;
                        border-radius: 8px;
                        padding: 0px 24px;
                        flex-direction: column;
                        align-items: flex-start;
                        flex-shrink: 0;

                        .grid_cover {
                            display: flex;
                            gap: 32px;
                            margin-bottom: 75px;
                            .grid {
                                border-radius: 8px;
                                background: #FAFAFA;
                                display: flex;
                                width: 157px;
                                padding: 16px 0;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;

                                i {
                                    border-radius: 40px;
                                    background: #886DE0;
                                    display: flex;

                                    width: 32px;
                                    height: 32px;
                                    padding: 8px 7.5px 8px 8.5px;
                                    justify-content: center;
                                    align-items: center;
                                }

                                span {
                                    color: var(--grey, var(--grey, #808080));
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 134.546%;
                                    /* 18.836px */
                                }

                                strong {
                                    color: #221638;

                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 138.252%;
                                    /* 22.12px */
                                }
                            }
                        }

                        .rowData {
                            h3 {
                                color: var(--primary, #886DE0);
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                margin-bottom: 16px;
                                ;
                                padding: 0;
                            }

                            .flex {
                                display: flex;

                                .founded {
                                    min-width: 400px;
                                    margin-bottom: 24px;
                                }

                                label {
                                    color: var(--grey, #808080);

                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 134.546%;
                                    /* 18.836px */
                                    display: block;
                                    margin-bottom: 3px;
                                }

                                span {
                                    color: #221638;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    display: block;
                                    line-height: 138.252%;
                                    align-items: center;
                                    display: flex;
                                    gap: 10px;

                                }
                            }

                            .flexData {
                                display: flex;
                                align-items: center;
                            }

                            ul {
                                padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-bottom: 15px;
}

                                li {
                                    display: flex;
                                    gap: 8px;
                                    color: var(--Black, #000);
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 134.546%;
                                    /* 21.527px */
                                    margin-bottom: 20px;
                                    min-width: 275px;
                                    margin-right: 32px;
                            }

                            .rating{
                                margin-bottom: 61px;
                                svg{
                                    margin-bottom: 8px;
                                }
                                span{
                                    color: #221638;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 138.252%; /* 22.12px */
display: block;
                                }
                            }
                            .btnWrap {
                                margin: 32px 0;
                                max-width: 298px;

                                a {
                                    border-radius: 8px;
                                    background: #886DE0;
                                    display: flex;
                                    height: 48px;
                                    padding: 15px 48px 16px 47px;
                                    justify-content: center;
                                    align-items: center;
                                    color: var(--color-green-button, #FFF);
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                }
                            }
                        }
                    }
                }

                .leftPart.rightPart {
                    padding-right: 58px;
                    flex: 1;
                    .flexDiv{
                        display: flex;
                        justify-content: flex-end;
                        gap: 26px;
                        margin-bottom: 26px;
                    }
                    .imgWrap{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }


            .detailsBox{
                margin: 32px;
                gap: 82px;
                align-items: baseline;
                display: flex; 
                display: flex;
padding: 24px;
gap: 82px;
border-radius: 20px;
background: #F9F9F9;
.box{
    min-height: auto !important;
    padding-bottom: 0 !important;
}
                h3{
                    color: var(--primary, #886DE0);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;

margin-bottom: 12px;
                }
                .btnNew {
                    border-radius: 8px;
                    background: #886DE0;
                    display: flex;
padding: 14px 32px 14px 31px;
justify-content: center;
align-items: center;
color: var(--color-green-button, #FFF);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
top: 43px;
gap: 10px;
                }

                .btnNew i {
                    color: #fff;
                    /* margin-left: 12px; */
                    margin-right: 12px;
                    font-size: 17px;
                }

                .box {
                    min-width: unset !important;
                    padding-bottom: 19px;
                    min-height: 294px;
.flexWrap{
    display: flex;
    gap: 27px;
}
                    .rowData .founded {
                        min-width: auto;
                        margin-bottom: 0;
  label{
    display: block;
    color: var(--grey, #808080);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 134.546%; /* 18.836px */
margin-bottom: 4px;
  }
  span{
    display: block;
    color: #221638;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 138.252%;
  }
                        .flexGap {
                            display: flex;
                            gap: 8px;
                        }
                    }

                   

                    ul{
                        display: flex;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        gap: 22px;
                        margin-top: 35px;

                        li{
                            display: block;
                            color: #221638;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 138.252%;
                        }
                    }
                }
            }
        }

    }
}