<div class="free-trial-area position-relative z-1">
    <div class="container">
        <div class="free-trial-inner position-relative z-1 ptb-100">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <div class="free-trial-area-content">
                        <h2 class="font-poppins">
                          BuildTwin helps you win. <br>
                          For clients & solution providers. 
                        </h2>
                        <p>
                            Good reasons to sign-up for BuildTwin 

                            <br>    
                            <br><i class="numberList">1</i> Get access to projects / solution providers around the world 
                            <br><i class="numberList">2</i> Unlock significant efficiency gains using our AI tools 
                            <br><i class="numberList">3</i> Get access to BuildTwin Training
                        </p>
                        <div class="list d-flex align-items-center justify-content-between">
                            <div>
                                <img src="assets/images/brands/crowd.png" alt="crowd">
                            </div>
                            <div>
                                <img src="assets/images/brands/capterra.png" alt="capterra">
                            </div>
                            <div>
                                <img src="assets/images/brands/crozdesk.png" alt="crozdesk">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="free-trial-area-form">
                        <h3 class="font-poppins mb-0 text-center fw-medium">
                            START FREE TRIAL
                        </h3>
                        <ul class="ps-0 text-center fw-medium list-unstyled list">
                            <li class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                14 days free trial
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                No Credit Card required
                            </li>
                        </ul>
                        <form>
                            <div class="form-group position-relative">
                                <i class="ti ti-user"></i>
                                <mat-form-field>
                                    <mat-label>
                                        Full name
                                    </mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="form-group position-relative">
                                <i class="ti ti-mail"></i>
                                <mat-form-field>
                                    <mat-label>
                                        Enter your email address
                                    </mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="form-group position-relative">
                                <i class="ti ti-building"></i>
                                <mat-form-field>
                                    <mat-label>
                                        Company name
                                    </mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <mat-checkbox>
                                Send me product updates & promotional offers.
                            </mat-checkbox>
                            <button type="submit" mat-button class="default-btn">
                                Create Account For Free
                            </button>
                        </form>
                        <p class="info">
                            By signing up you agree to our <a class="fw-bold" routerLink="/terms-conditions">Terms</a> & <a class="fw-bold" routerLink="/privacy-policy">Privacy Policy</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="shape1 position-absolute z-n1 pe-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
                    <g clip-path="url(#clip0_382_1197)">
                        <path d="M7.95938 17.2364C1.81655 16.5139 -2.09775 8.91829 1.19397 3.69749C3.12238 0.597052 8.15414 -1.43221 11.2064 1.25672C11.5544 1.64624 11.912 2.27135 11.7045 2.78024C11.6207 2.91265 11.4873 3.00731 11.3332 3.04375C11.179 3.0802 11.0165 3.0555 10.8807 2.975C10.1873 2.84051 9.47303 2.84907 8.78311 3.00013C5.21363 3.75089 3.73858 7.46388 6.11717 10.269C7.71354 12.27 11.995 12.0124 12.0876 9.01253C12.0694 8.11416 11.7998 7.23812 11.3086 6.48066C10.9483 5.85941 10.8265 5.13159 10.9653 4.42948C11.1042 3.72737 11.4945 3.09758 12.0652 2.65459C16.5351 -0.0908872 19.0063 7.14975 18.1027 10.4826C17.3652 15.0532 12.4899 18.0531 7.95938 17.2364ZM10.7339 2.80851C10.6988 2.72369 10.6604 2.63888 10.6285 2.55721C10.6483 2.64644 10.6839 2.73153 10.7339 2.80851Z" fill="white"/>
                        <path d="M31.5857 37.9782C27.0616 37.796 24.2073 32.4716 26.4231 28.6455C27.7002 26.343 30.4778 24.7849 33.1598 25.1901C33.545 25.2805 33.9037 25.4578 34.2073 25.7081C34.511 25.9583 34.7513 26.2746 34.9094 26.632C34.9663 26.6573 35.0173 26.6938 35.0592 26.7392C35.1012 26.7847 35.1333 26.8381 35.1534 26.8962C35.1736 26.9544 35.1814 27.0159 35.1764 27.0772C35.1714 27.1384 35.1537 27.1979 35.1244 27.2522C35.0951 27.3064 35.0548 27.3541 35.006 27.3924C34.9572 27.4307 34.901 27.4588 34.8407 27.4748C34.7805 27.4909 34.7175 27.4946 34.6557 27.4858C34.5939 27.477 34.5347 27.4558 34.4815 27.4236C34.2804 27.3168 34.1272 27.1094 33.8813 27.1094C32.3711 27.1597 30.6407 28.6644 30.1075 30.0214C29.7052 31.0454 29.9766 32.4653 31.011 33.0119C31.6496 33.326 32.5499 33.0747 32.8149 32.4088C34.3443 29.2392 39.0408 31.2151 37.7701 34.4694C36.758 36.794 34.1176 38.1824 31.5857 37.9782Z" fill="white"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_382_1197">
                            <rect width="38" height="38" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="shape2 position-absolute z-n1 pe-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="124" height="56" viewBox="0 0 124 56" fill="none">
                    <circle cx="1.70343" cy="32.9178" r="1" transform="rotate(-30 1.70343 32.9178)" fill="white"/>
                    <circle cx="8.73938" cy="53.1041" r="2" transform="rotate(-30 8.73938 53.1041)" fill="white"/>
                    <circle cx="65.0934" cy="6.71252" r="2" transform="rotate(-30 65.0934 6.71252)" fill="white"/>
                    <circle cx="122.127" cy="1.49688" r="1" transform="rotate(-30 122.127 1.49688)" fill="white"/>
                    <path d="M23.4883 22.6504L35.5146 21.4805" stroke="white" stroke-width="3" stroke-linecap="round"/>
                    <path d="M30.0859 28.0781L28.9161 16.0518" stroke="white" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="shape3 position-absolute z-n1 pe-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="99" height="63" viewBox="0 0 99 63" fill="none">
                    <path d="M65.9149 59.9962L63.3802 52.9151C63.1083 52.1556 63.8013 51.4034 64.5805 51.6121L71.4725 53.4588C72.1774 53.6477 72.4491 54.5037 71.9822 55.0645L67.6249 60.2989C67.1298 60.8937 66.1757 60.7248 65.9149 59.9962Z" stroke="white" stroke-width="3"/>
                    <circle cx="46.7498" cy="12.4276" r="3.5" transform="rotate(-30 46.7498 12.4276)" fill="white"/>
                    <circle cx="53.7766" cy="2.59787" r="1.5" transform="rotate(-30 53.7766 2.59787)" fill="white"/>
                    <circle cx="3.02404" cy="11.692" r="2" transform="rotate(-30 3.02404 11.692)" fill="white"/>
                    <circle cx="62.7404" cy="10.1242" r="1.5" transform="rotate(-30 62.7404 10.1242)" fill="white"/>
                    <circle cx="96.4006" cy="48.425" r="1.5" transform="rotate(-30 96.4006 48.425)" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
</div>