<!-- <div class="solution-providers global-mb"> -->
    <div class="container">
        <div class="heading">
            <span class="main-title">Discover top-tier solutions tailored to your project needs</span>
            <hr>
            <h2 class="title">Find Structural Specialist & Solutions Provider</h2>
            <span class="subTitle">Buildtwin connects you with expert providers for data centres, bridges, tunnels,
                <br>
                road, precast structures, industrial buildings, airports and hospitals.</span>
          </div>  
    </div>
    <app-special-project [heading]="false"></app-special-project>
    <!-- <div class="buildings">
     <div class="buildings-wrapper squareButtonWrapper">
        <owl-carousel-o [options]="factorySlider" *ngIf="isBrowser">
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/home/Airports.png" alt="" class="border-img">
                    <p class="image-title">Airport</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/home/commercial building.png" alt="" class="border-img">
                    <p class="image-title">Commercial Building</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide cursor" [routerLink]="['/sector/data-centre']">
                    <img src="assets/images/home/data center.png" alt="" class="border-img">
                    <p class="image-title">Data Center</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/home/schools.png" alt="" class="border-img">
                    <p class="image-title">Schools</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/home/residential buildings.png" alt="" class="border-img">
                    <p class="image-title">Residential Buildings</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/home/pre-cast.png" alt="" class="border-img">
                    <p class="image-title">Pre Cast</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide cursor" [routerLink]="['/sector/powerplant']">
                    <img src="assets/images/home/power plant.png" alt="" class="border-img">
                    <p class="image-title">Power Plant</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/home/industrial bulidings.png" alt="" class="border-img">
                    <p class="image-title">Industrial Buildings</p>
                </div>
            </ng-template>
        </owl-carousel-o>
     </div>
    </div>
  </div> -->