<div class="pricing-area pb-75">
    <div class="container">
        <div class="em-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <span class="d-block sub-title font-syne fw-semibold">
                Amazing value.
            </span>
            <h2 class="mb-0">
                Bundeling ton of features for less.
            </h2>
        </div>
        <div class="pricing-info d-md-flex align-items-center justify-content-between" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <h3 class="mb-0 fw-semibold">
                How many users are you expecting?
            </h3>
            <mat-form-field>
                <mat-select [(value)]="selected">
                    <mat-option value="option1">251 - 500</mat-option>
                    <mat-option value="option2">501 - 700</mat-option>
                    <mat-option value="option3">701 - 900</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                <div class="single-pricing-box position-relative">
                    <span class="sub-title d-block font-syne fw-semibold">
                        Email
                    </span>
                    <h4>
                        Free
                    </h4>
                    <p>
                        Best for starting businesses or for exploring Blin.
                    </p>
                    <div class="price font-syne fw-black">
                        $0<span>/mo</span>
                    </div>
                    <a mat-button href="javascript:void(0);" class="default-btn">Start Free Now</a>
                    <ul class="features-list ps-0 mb-0 list-unstyled font-syne">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                500 emails/mo
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Up to 60 SMS
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Reach up to 250 contacts
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Up to 500 web push
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="single-pricing-box position-relative">
                    <span class="sub-title d-block font-syne fw-semibold">
                        Email
                    </span>
                    <h4>
                        Standard
                    </h4>
                    <p>
                        Best for starting businesses or for exploring Blin.
                    </p>
                    <div class="price font-syne fw-black">
                        $15<span>/mo</span>
                    </div>
                    <a mat-button href="javascript:void(0);" class="default-btn">Start Free Now</a>
                    <ul class="features-list ps-0 mb-0 list-unstyled font-syne">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                6000 emails/mo
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Up to 100 SMS
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Reach up to 500 contacts
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Unlimited web push
                            </span>
                        </li>
                    </ul>
                    <div class="popular">
                        <img src="assets/images/popular.png" alt="popular">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="single-pricing-box position-relative">
                    <span class="sub-title d-block font-syne fw-semibold">
                        Email
                    </span>
                    <h4>
                        Pro
                    </h4>
                    <p>
                        Best for starting businesses or for exploring Blin.
                    </p>
                    <div class="price font-syne fw-black">
                        $60<span>/mo</span>
                    </div>
                    <a mat-button href="javascript:void(0);" class="default-btn">Start Free Now</a>
                    <ul class="features-list ps-0 mb-0 list-unstyled font-syne">
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Unlimited emails/mo
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Up to 3,933 SMS/mo
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Reach up to 1000 contacts
                            </span>
                        </li>
                        <li>
                            <span class="d-inline-block position-relative">
                                <i class="ti ti-check"></i>
                                Unlimited web push
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>