 // qualitySection
 .footerSection {
    // margin-top: 5%;
    // margin-left: auto;
    // margin-right: auto;
    // width: 90%;
    // background: #fafafa;
    padding-bottom: 50px;
  
    .logoWrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 15px;
    }
    .footerSectionHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      .footerTitle {
        font-size: 36px;
        font-weight: 600;
        margin: 10px 0 5px 0;
      }
      .footerSubtitle {
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0 40px 0;
        color: #808080;
      }
    }
    .footerSectionWrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;    
      .main-card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        .card {
          border-radius: 12px;
          background: #F9F8F8;
          display: flex;
          justify-content: center;
          padding: 20px;
          gap: 16px;
          line-height: 1.3;
          &.trigger-card {
            .details {
              &::before {
                position: absolute;
                left: -20px;
                top: -20px;
                width: calc(100% + 40px);
                height: calc(100% + 40px);
                background: #EAEAEA;
                border-radius: 12px;
                content: "";
              }
              &.open {
                &::before {
                  border-radius: 12px 12px 0px 0px;
                }
              }
              &.openToggle {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
          .details {
            display: flex;
            justify-content: space-between;
            position: relative;
          }
          &.parent {
            // justify-content: space-between;
            font-size: 18px;
            font-weight: 700;
            flex-direction: column;
            .abs {
              font-weight: 400;
            }
          }
          .child {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            gap: 0;
            .child-card {
              padding-top: 16px;
              padding-bottom: 16px;
              border-bottom: 1px solid #E8E8E8;
              color: #4D5B5F;
              font-size: 16px;
              font-weight: 500;
              position: relative;
              &:last-child {
                border: none;
              }
            }
          }
          &.center-align {
            justify-content: center;
          }
          .opacity {
            opacity: 0;
            visibility: hidden;
          }
          .abs {
            position: absolute;
            left: 50%;
            top: 50%;
            white-space: nowrap;
            transform: translate(-50%, -50%);
          }
        }

    //   .main-card {
        // .card {
        // }
        // .details {
        //   display: flex;
        //   justify-content: space-between;
          // span {
          //   font-family: var(--semibold-global);
          //   display: block;
          //   font-size: 16px;
          //   margin-bottom: 5px;
          // }
  
          // p {
          //   color: #808080;
          //   margin-bottom: 0;
          // }
        // }
    //   }
      }
      ::ng-deep .ant-carousel .slick-initialized .slick-slide {
        // display: flex;
        > div {
          width: 100%;
        }
      }
      ::ng-deep {
        .slick-list, .slick-slide, .slick-track, .slick-slide {
        //   max-height: 1407px;
        }
      }
    }
    ::ng-deep .ant-carousel {
        flex: 1;
    }
    .qualitySectionContainer {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0px 2px 16px 0px #0000000F;
      border: 1px var(--border-color) solid;
        flex: 1;
        width: calc(50% - 10px);
        min-width: calc(50% - 10px);
      .header {
        background: linear-gradient(180deg, #0053fa 9.17%, #043495 100%);
        border-radius: 12px 12px 0 0;
        min-height: 184px;
        text-align: start;
        padding: 25px 70px 20px 30px;
      }
      .header h2 {
        font-size: 46px;
        color: #fff;
        margin-bottom: 10px;
        span {
          font-family: var(--heading-small-font);
        }
      }
      .header p {
        font-size: 18px;
        line-height: 1.55;
        color: #fff;
      }
    }
  
    .footerSectionWrapper {
      position: relative;
    }
  
    .availableVendorsList {
      background: #fff;
      border-radius: 12px;
      border: 1px var(--border-color) solid;
      box-shadow: 0px 2px 16px 0px #0000000F;
      width: 100%;
      flex: 0 0 auto;
  
      .header {
        background: #f6f6f6;
        border-radius: 12px 12px 0 0;
        min-height: 184px;
        padding-left: 0;
        display: flex;
        align-items: center;
        position: relative;
        text-align: center;
        justify-content: center;
  
        img {
          position: absolute;
          left: 35px;
          top: 40px;
        }
  
        h2 {
          font-size: 40px;
          line-height: 1.25;
        }
  
        span {
          display: block;
          font-size: 18px;
        }
      }
  
      .card {
        justify-content: center;
      }
    }
  }
  .flex-grow-1 {
    flex: 1;
    width: calc(50% - 10px);
    min-width: calc(50% - 10px);
  }
  :host ::ng-deep .owl-carousel .owl-item img {
    display: block;
    width: revert-layer;
  }
:host ::ng-deep {
  .owl-theme .owl-nav {
    margin: 0;
  }
  .owl-theme .owl-nav [class*=owl-] {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 32px 0px #0000001F;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 68px;
    cursor: pointer;
    margin: 0;
    .ti {
      display: none;
    }
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      border-top: 2px #000 solid;
      border-right: 2px #000 solid;
      position: absolute;
      top: 19px;
    }

    &.owl-prev {
      left: -20px;
      &:after {
        left: 20px;
        transform: rotate(-135deg);
      }
    }

    &.owl-next {
      right: -20px;
      &:after {
        left: 18px;
        transform: rotate(45deg);
      }
    }
    &.disabled {
      display: none;
    }
  }
}