<div class="fileUpload">
    <!-- <div class="head">
        <h1>Let’s Upload Important Files</h1>
        <p>Ensure your tender includes all necessary documents to attract the best bids. <br>Upload files that detail your project requirements, specifications, and any other relevant information.</p>
    </div> -->
    <nz-upload nzType="drag" [nzShowUploadList]="false" [nzMultiple]="true" (nzChange)="handleChange($event)">
        <p class="ant-upload-drag-icon">
            <img src="assets/images/file-upload-icon.png" width="24" height="16" alt="">
        </p>
        <p class="ant-upload-text">Click or drag your files here</p>
        <nz-spin nzSimple *ngIf="showPageLoader"></nz-spin>
        <p>
            Your data is end-to-end encrypted. <a href="https://www.buildtwin.com/data-safety" target="_blank" class="link">Learn more</a>
        </p>
    </nz-upload>
    <div *ngIf="filenameShow" class="attachment-list">
        <div *ngFor="let f of filenameShow; let i = index" class="block">
             {{f}}
             <span class="true-false-icon cross cursor" (click)="delete(i)"></span>
        </div>
    </div>
</div>
<!-- <nz-skeleton *ngIf="showPageLoader"></nz-skeleton> -->
<!-- <div class="youKnow flex">
    <figure>
        <img src="assets/images/booking-mail-image.png" width="60" height="60" alt="">
    </figure>
    <div>
        <strong>Did You Know?</strong>
        <span>You can forward e-mails to <a href="mailto:ashish@buildtwin.com">ashish&#64;buildtwin.com</a> to create tenders automatically</span>
    </div>
</div> -->