:host ::ng-deep .buildtwinHelps {
    margin: 100px 0;
    position: relative;
    .headSection {
        padding-top: 19px;
        transition: all ease 0.5s;
        margin-bottom: 64px;

        h2 {
            color: #0E0E28;

            text-align: center;
            font-size: 40px; font-weight: 600;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            /* 56px */
        }
        span{
            text-align: center;
            display: block;
        }
        h3{
            text-align: center;
        }

        margin-bottom: 64px;
    }

    .tabContent {
        display: flex;

        .tabLeft {
            min-width: 350px;
 ul{
    padding: 0;
 }
            li {
                display: flex;
                gap: 12px;
                margin-bottom: 45px;
                position: relative;
                cursor: pointer;
                align-items: center;

                i {
                    width: 24px;
                    height: 24px;
                    border-radius: 100px;
                    border: 1px solid #886DE0;
                }

                color: #0E0E28;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;

                /* 25.2px */
                &.active {
                    font-weight: 600;


                }

                &.active i {
                    background: #886DE0;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 47px;
                    background: #ECECEC;
                    top: 24px;
                    left: 12px;

                }

                &:last-child:after {
                    display: none;
                }
            }
        }

       
    }
    .tabRIght {
        border-radius: 8px;
        // background: #F6F3FF;
        // padding: 32px 38px;
        padding-bottom: 0;
        overflow: hidden;
        margin-left: 350px;

        .flex {
            gap: 50px;
            align-items: center;
        }

        .imgWrap {
            min-width: 432px;
    display: flex;
    align-items: flex-end;
    /* height: 400px; */
    max-width: 432px;

        }

        .imgWrap.bottomALign {
            position: relative;
            top: 37px;
        }

        .contentWrap {
            padding-right: 57px;
            
            h3 {
                color: #0E0E28;

                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                /* 28px */
            }

            p {
                color: var(--grey, var(--grey, #808080));
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                /* 22.4px */
            }
        }
    }

 
}

:host ::ng-deep .forTraning {
    ul {
        margin-top: 20px;
    }

    .tabContent .tabLeft li {
        line-height: 1.4;
        margin-bottom: 60px;
    }

    .tabContent .tabRIght .imgWrap {

        height: 400px;
        min-width: 343px;
        max-width: 477px;
    }

    .tabContent .tabLeft li:after {
        height: 90px;
        top: 24px;
        left: 12px;
    }

    .tabContent .tabLeft li i {

        z-index: 9;
        background: #fff;
    }

    .tabContent .tabLeft {
        min-width: 400px
    }

    .sub-title {
        color: #886DE0;

        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 20px;
        text-transform: uppercase;
        /* 25.6px */
        display: block;
    }
    .headSection{
        text-align: center;
        padding-bottom: 0;
        padding-top: 50px;
    }
    .headSection p {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 25.6px */
    }
    .tabContent .tabRIght {
        padding-left: 0;
    }
    .tabContent .tabRIght .flex {
        gap: 10px;
    }
    .newBtn{
        color: #886DE0;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        display: flex;
        align-items: center;
        gap: 8px;
    }
  .tabContent .tabRIght .contentWrap p {
        margin-bottom: 10px;
    }

    .staticData {
        padding-top: 318px;
    }

}

// animation




:host ::ng-deep {
    .fixed{
        div#onScrollAnimation{
            position: fixed;
            top: 100px;
            z-index: 99;
            .headSection{
                background: #fff;
                padding-left: 122px;
                padding-bottom: 0;
                text-align: center;
                padding-bottom: 0;
            }
    
        } 
    
    }
    
    .tabRIght > div {
        margin-bottom: 100px;
        background: #F6F3FF;
        opacity: 0.2;
        display: flex;
        // padding: 32px 38px;
        transform: translateY(40%);
        transition: all ease 0.5s;
    }
    .tabRIght > div.active{
        opacity: 1;
        transform: translateY(8%);
    }
    
    
    
    div#onScrollAnimation {
        position: absolute;
        top: 0;
        // max-width: 1320px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .staticData {
        padding-top: 173px;
        max-width: 1320px;
        margin: 0 auto;
    }
}

:host ::ng-deep .provideService{
    background: #f9f9f9;

 .tabRIght {
        margin-left: 464px;
    }
}

@media (min-width: 1700px){
    :host ::ng-deep .staticData {
        max-width: 1520px;
    }
}

@media (max-width: 1200px){
    :host ::ng-deep .buildtwinHelps {
      .tabRIght .imgWrap{
        min-width: 300px;
        max-width: 300px;
      }
 

    .tabContent .tabLeft {
        min-width: 249px;
    }
  .tabRIght {
      padding-right: 0;
        margin-left: 317px;

        .flex{
            flex-direction: column;
            padding: 20px;
        }
    }
    .tabRIght > div{
        margin-right: 10px;
    }
}
}


@media (max-width:767px){
    :host ::ng-deep .buildtwinHelps {
        margin: 35px 0;
    }

}