<div class="integrations-area pb-75">
    <div class="container">
        <div class="fs-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-darker-grotesque fw-medium">
                Connected to the tools you love
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500">
                <div class="integration-box text-center">
                    <img src="assets/images/integrations/miro.png" alt="miro">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="integration-box text-center">
                    <img src="assets/images/integrations/teams.png" alt="teams">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="integration-box text-center">
                    <img src="assets/images/integrations/wix.png" alt="wix">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <div class="integration-box text-center">
                    <img src="assets/images/integrations/outlook.png" alt="outlook">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <div class="integration-box text-center">
                    <img src="assets/images/integrations/gmail.png" alt="gmail">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                <div class="integration-box text-center">
                    <img src="assets/images/integrations/bigcommerce.png" alt="bigcommerce">
                </div>
            </div>
        </div>
    </div>
</div>