.home-main {
  padding: 200px 24px 24px;
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
  &__carousel {
    &--item {
      &--step {
        color: var(--newThemeColor);
        font-size: 20px;
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          width: 100px;
          border: 1px solid var(--newThemeColor);
          position: absolute;
          display: block;
          top: 50%;
          left: 110%;
        }
      }
      &--title {
        color: var(--newButtonColor);
        font-size: 44px;
        font-weight: 500;
      }
      &--desc {
        color: #668189;
        font-size: 18px;
      }
      &--img {
      }
    }
  }
  &__form {
    display: grid;
    align-self: center;
    border: 1px solid var(--newBorderColor);
    border-radius: 8px;
    &--head {
      padding: 20px;
      display: flex;
      align-items: center;
      color: var(--newThemeColor);
      background-color: #f1f4f5;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      gap: 12px;
    }
    &--body {
      padding: 20px 20px 0px;
      display: grid;
      gap: 12px;
    }
    &--footer {
      padding: 20px;
      display: grid;
      gap: 12px;
      .default-btn {
        width: 100% !important;
        border-color: var(--newButtonColor);
        background: var(--newButtonColor);
      }
      &--enquiry {
        font-weight: bold;
        font-size: 18px;
      }
      &--additional {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: space-between;
        &--title {
          font-size: 18px;
          flex-basis: 100%;
          color: initial;
          font-weight: bold;
        }
        color: var(--newThemeColor);
      }
    }
  }
}
