<div class="home-main">
  <div>
    <owl-carousel-o [options]="aboutSlider">
      <ng-template carouselSlide>
        <div class="home-main__carousel--item">
          <div class="home-main__carousel--item--step">Step 1</div>
          <div class="home-main__carousel--item--title">
            Invite independent engineering vendors
          </div>
          <div class="home-main__carousel--item--desc">
            Trusted by over 10.000+ of Structural Professionals across The Globe
          </div>
          <img
            class="home-main__carousel--item--img"
            src="assets/images/home/step1.png"
            alt=""
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="home-main__carousel--item">
          <div class="home-main__carousel--item--step">Step 2</div>
          <div class="home-main__carousel--item--title">
            Get competitive bids
          </div>
          <div class="home-main__carousel--item--desc">
            Trusted by over 10.000+ of Structural Professionals across The Globe
          </div>
          <img
            class="home-main__carousel--item--img"
            src="assets/images/home/step2.png"
            alt=""
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="home-main__carousel--item">
          <div class="home-main__carousel--item--step">Step 3</div>
          <div class="home-main__carousel--item--title">
            Assisted project delivery with the AI Design Manager
          </div>
          <div class="home-main__carousel--item--desc">
            Trusted by over 10.000+ of Structural Professionals across The Globe
          </div>
          <img
            class="home-main__carousel--item--img"
            src="assets/images/home/step3.png"
            alt=""
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="home-main__carousel--item">
          <div class="home-main__carousel--item--step">Step 4</div>
          <div class="home-main__carousel--item--title">
            Get started within minutes
          </div>
          <div class="home-main__carousel--item--desc">
            Trusted by over 10.000+ of Structural Professionals across The Globe
          </div>
          <img
            class="home-main__carousel--item--img"
            src="assets/images/home/step4.png"
            alt=""
          />
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <form class="home-main__form">
    <div class="home-main__form--head">
      <img src="assets/images/home/check.svg" alt="" />
      Select services from buildtwin
    </div>
    <div class="home-main__form--body">
      <mat-select placeholder="Select software"></mat-select>
      <mat-select placeholder="Select building code"></mat-select>
      <mat-select placeholder="Select services addons"></mat-select>
    </div>
    <div class="home-main__form--footer">
      <span class="home-main__form--footer--enquiry">Start Enquiry</span>
      <p>
        If it take few minutes and then sit back and relax our customer care
        person contact you asap
      </p>
      <button mat-button class="default-btn">Start Enquiry Now</button>
      <div class="home-main__form--footer--additional">
        <span class="home-main__form--footer--additional--title"
          >Additional Integrations:</span
        >
        <div>
          <img src="assets/images/home/aiSchedule.svg" alt="" />
          <span>AI schedule</span>
        </div>
        <div>
          <img src="assets/images/home/cdeIntegration.svg" alt="" />
          <span>CDE Integration</span>
        </div>
        <div>
          <img src="assets/images/home/liveTrackingBlue.svg" alt="" />
          <span>Live Tracking</span>
        </div>
        <div>
          <img src="assets/images/home/rfiManagement.svg" alt="" />
          <span>RFI Management</span>
        </div>
      </div>
    </div>
  </form>
</div>
