<div class="faqWrapper global-mb">
    <div class="container">
        <div class="" [ngClass]="{'container-with-right': !fullScreen}">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>
                    <strong>Frequently Asked Questions</strong>
                </h2>
                <p>Common questions about Eurocode standards and its services</p>
            </div>

            <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What are Eurocodes?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Eurocodes are a comprehensive set of <b>European standards</b> for the <b>structural design of buildings</b> and <b>civil engineering works</b>. They promote safety, reliability, and sustainability in <b>construction works</b>, providing a unified framework for designing <b>steel structures</b>, <b>masonry structures</b>, and steel and concrete structures together.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is the role of EN 1990 in the design of structures?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            <b>EN 1990</b> defines the <b>basis of structural design</b>, outlining the <b>general</b> and general structural rules, and <b>supplementary rules</b> for structural behaviour, ensuring safety, serviceability, and durability. It serves as the foundation for all other <b>Eurocode parts</b>, establishing reliability principles for <b>structural elements</b> in <b>construction products</b>.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What challenges do Eurocodes address in the construction sector?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Eurocodes tackle critical issues such as:
                        </p>
                        <ul class="core-elements-bullets" style="list-style: disc;">
                            <li>Material failure and structural instability in <b>steel structures</b> and <b>plated structural elements</b>.</li>
                            <li>Environmental impacts on <b>construction works</b> during <b>actions on structures</b> like wind and snow loads.</li>
                            <li>Geotechnical risks and <b>earthquake resistance</b> for foundations and <b>temporary structures</b>. These standards ensure robust outcomes and minimize risks in <b>construction products</b> and <b>civil engineering works</b>.</li>
                        </ul>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Are Eurocodes suitable for small projects?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Yes, Eurocodes are highly beneficial for projects of all sizes. Even small projects gain from the structured approach, simplified calculation methods optimized material usage, and <b>technical specifications</b> offered by Eurocodes, ensuring efficiency and quality.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How can Eurocodes improve cost efficiency?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Eurocodes streamline the <b>structural design of buildings</b> by:
                        </p>
                        <ul class="core-elements-bullets" style="list-style: disc;">
                            <li>Optimizing material use for <b>construction products</b> like <b>composite steel and concrete</b>.</li>
                            <li>Reducing waste and rework through standardized processes.</li>
                            <li>Minimizing project delays by addressing <b>imposed loads</b>, <b>thermal actions</b>, and <b>accidental actions</b> early in the design phase.</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Are Eurocodes mandatory?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            While not mandatory in all regions, Eurocodes are widely regarded as best practices and are often required for <b>international projects</b>. They are especially critical for projects involving <b>geotechnical design</b>, <b>seismic actions</b>, or <b>masonry structures</b> in compliance with <b>European standards</b>.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How do Eurocodes enhance sustainability?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Eurocodes promote eco-friendly practices by:
                        </p>
                        <ul class="core-elements-bullets" style="list-style: disc;">
                            <li>Encouraging efficient material usage and recycling in <b>construction works</b>.</li>
                            <li>Aligning with green building principles for reduced environmental impacts.</li>
                            <li>Supporting the use of sustainable materials like <b>timber structures</b> and <b>stainless steels</b>.</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How does BuildTwin ensure vendor compliance?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin rigorously evaluates vendors against <b>technical specifications</b> and ensures adherence to <b>Eurocode parts</b>. Our platform vets vendors based on their expertise in <b>national standards</b> and compliance with <b>Eurocodes</b>, providing clients confidence in quality and reliability.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What role does EN 1997 play in construction?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><b>EN 1997</b> focuses on geotechnical aspects of <b>design</b>, covering foundation stability, soil-structure interaction, and ground improvement techniques. It is crucial for ensuring the stability of <b>civil engineering works</b> in diverse geological conditions.</p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </div>
</div>