:host ::ng-deep .traning_review {
    padding: 0;
    margin-bottom: 34px;
    .head {
        position: relative;
        margin-bottom: 30px;

        h2 {
            color: #221638;

            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
        }

        p {
            color: #000;

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            
            /* 150% */
        }

        .svg {
            position: absolute;
            right: 7%;
            top: 0;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 56px;
        gap:20px;

        .listInner {
            display: flex;
            align-items: center;
            gap: 20px;
            flex: 49%;
            margin-bottom: 46px;

            .number {
                min-width: 60px;
                height: 60px;
                border: 1px dashed #0053fa;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: #0053fa;
            }

            .box {
                border-radius: 8px;
                border: 1px solid var(--grey-dark, #ECECEC);
                background: #FAFAFA;
                display: flex;
                padding: 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                max-width: 450px;

                strong {
                    color: #221638;

                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                span {
                    color: #000;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 150% */
                }

                p {
                    color: var(--grey, #808080);

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                }

            }
        }
    }

}

@media (max-width:1200px){
    :host ::ng-deep {
        .traning_review{
            .head .svg {
                display: none;
             }
             .list {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                gap: 10px;
            }
        }
    }
   
}

@media (max-width:950px){
    :host ::ng-deep .traning_review {
        padding: 0;
        padding-bottom: 80px;
        .list .listInner {
            margin-bottom: 0;
        }
    }
   
}

@media (max-width:767px){
  
    .traning_review .list .listInner .box strong {
        font-size: 19px;
    }

    :host ::ng-deep  .traning_review .list .listInner .box strong {
        font-size: 20px;
    }
}