<div class="what-you-will-get-area pb-100">
    <div class="container">
        <div class="em-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <span class="d-block sub-title font-syne fw-semibold">
                What you will get
            </span>
            <h2 class="mb-0">
                Personalize by customer, deliver at scale
            </h2>
        </div>
        <div class="grid grid-cols-1 grid-sm-cols-2">
            <div class="what-you-will-get-box position-relative" data-aos="fade-up" data-aos-duration="500">
                <h3 class="mb-0">
                    <a routerLink="/feature-details" class="fw-bold">
                        Convert with Automation
                    </a>
                </h3>
                <img src="assets/images/what-you-will-get/wywg1.png" alt="what-you-will-get-image">
            </div>
            <div class="what-you-will-get-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <h3 class="mb-0">
                    <a routerLink="/feature-details" class="fw-bold">
                        Refine with segmentation
                    </a>
                </h3>
                <img src="assets/images/what-you-will-get/wywg2.png" alt="what-you-will-get-image">
            </div>
            <div class="what-you-will-get-box position-relative" data-aos="fade-up" data-aos-duration="500">
                <h3 class="mb-0">
                    <a routerLink="/feature-details" class="fw-bold">
                        Optimize with Analytics & Reporting
                    </a>
                </h3>
                <img src="assets/images/what-you-will-get/wywg3.png" alt="what-you-will-get-image">
            </div>
            <div class="what-you-will-get-box position-relative" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <h3 class="mb-0">
                    <a routerLink="/feature-details" class="fw-bold">
                        Create faster with AI
                    </a>
                </h3>
                <img src="assets/images/what-you-will-get/wywg4.png" alt="what-you-will-get-image">
            </div>
        </div>
    </div>
</div>