<app-hd-navbar></app-hd-navbar>

<app-om-banner-freelancer></app-om-banner-freelancer>

<app-freelance-om-services></app-freelance-om-services>

<app-freelancne-om-why-choose-us></app-freelancne-om-why-choose-us>

<app-video-call-made-easy-freelance></app-video-call-made-easy-freelance>

<app-om-partners-freelance></app-om-partners-freelance>

<app-om-features-freelance></app-om-features-freelance>

<app-om-integrations-freelance></app-om-integrations-freelance>

<app-om-how-it-works-freelance></app-om-how-it-works-freelance>

<app-om-funfacts-freelance></app-om-funfacts-freelance>

<app-om-about-freelance></app-om-about-freelance>

<app-om-testimonials-freelance></app-om-testimonials-freelance>

<app-om-pricing-freelance></app-om-pricing-freelance>

<app-om-blog-freelance></app-om-blog-freelance>

<app-om-footer-freelance></app-om-footer-freelance>