.company-content {
    .sub-title {
        font-size: 16px;
        margin-bottom: 12px;
        color: var(--primaryColor);
    }
    h2 {
        margin-bottom: 13px;
        max-width: 565px;
        font-size: 24px;
        line-height: 1.25;
    }
    p {
        max-width: 592px;
        letter-spacing: 0.4px;
    }
    h3 {
        font-size: 20px;
        margin: {
            top: 22px;
            bottom: 17px;
        };
    }
    .features-list {
        margin: {
            bottom: 25px;
            top: 0;
        };
        li {
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 18px;
            border-radius: 8px;//updated-from-20-8;
            display: inline-block;
            background-color: var(--backgroundColor);
            padding: 11px 30px 11px 44px;

            i {
                top: 50%;
                left: 14px;
                width: 20px;
                height: 20px;
                line-height: 22px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                color: var(--whiteColor);
                transform: translateY(-50%);
                transition: var(--transition);
                background-color: var(--themeColor);
            }
            &:hover {
                i {
                    color: var(--whiteColor);
                    background-color: var(--themeColor);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.company-image {
    padding: {
        top: 40px;
        bottom: 20px;
    };
    .image {
        padding: {
            left: 190px;
            right: 70px;
        };
        img {
            &:nth-child(1) {
                border-radius: 10px;
                border: 7px solid var(--whiteColor);
                box-shadow: 0px 4px 44px 0px rgba(137, 123, 163, 0.20);
            }
            &:nth-child(2) {
                top: 50%;
                left: -100px;
                margin-top: 20px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
    }
    .shape1 {
        left: 115px;
        top: 0;

        img {
            animation: {
                duration: 30s;
                name: rotateme;
                timing-function: linear;
                iteration-count: infinite;
            };
        }
    }
    .shape2 {
        right: 25px;
        bottom: 0;

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .company-content {
        padding-right: 0;
    
        .sub-title {
            font-size: 14px;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 7px;
            max-width: 100%;
            font-size: 25px;
        }
        p {
            max-width: 100%;
        }
        h3 {
            font-size: 16px;
            margin: {
                top: 20px;
                bottom: 5px;
            };
        }
        .features-list {
            li {
                font-size: 14px;
                padding: 10px 20px 10px 40px;
                margin: {
                    right: 10px;
                    top: 10px;
                };
                i {
                    left: 10px;
                    line-height: 20px;
                }
            }
        }
    }
    .company-image {
        margin-top: 25px;
        padding: {
            top: 0;
            bottom: 0;
        };
        .image {
            padding: {
                left: 0;
                right: 0;
            };
            img {
                &:nth-child(1) {
                    border-width: 4px;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        .shape1, .shape2 {
            display: none;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .company-content {
        padding-right: 0;
    
        .sub-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
        h2 {
            margin-bottom: 9px;
            max-width: 100%;
            font-size: 29px;
        }
        p {
            max-width: 100%;
        }
        h3 {
            font-size: 18px;
            margin: {
                top: 20px;
                bottom: 15px;
            };
        }
    }
    .company-image {
        margin-top: 30px;
        padding: {
            top: 40px;
            bottom: 20px;
        };
        .image {
            padding: {
                left: 190px;
                right: 20px;
            };
            img {
                &:nth-child(1) {
                    border-width: 5px;
                }
                &:nth-child(2) {
                    left: -20px;
                }
            }
        }
        .shape2 {
            right: 0;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .company-content {
        padding-right: 0;
    
        .sub-title {
            font-size: 15px;
            margin-bottom: 11px;
        }
        h2 {
            margin-bottom: 11px;
            max-width: 100%;
            font-size: 35px;
        }
        p {
            max-width: 100%;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .features-list {
            li {
                margin-top: 10px;
                padding: 10px 20px 10px 41px;
    
                i {
                    left: 12px;
                }
            }
        }
    }
    .company-image {
        padding: {
            top: 40px;
            bottom: 20px;
        };
        .image {
            padding: {
                left: 40px;
                right: 0;
            };
            img {
                &:nth-child(1) {
                    border-width: 5px;
                }
                &:nth-child(2) {
                    left: -50px;
                    width: 200px;
                }
            }
        }
        .shape1 {
            left: 0;
        }
        .shape2 {
            right: -20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .company-content {
        padding-right: 45px;
    
        .sub-title {
            margin-bottom: 12px;
        }
        h2 {
            margin-bottom: 12px;
            max-width: 100%;
            font-size: 39px;
        }
        p {
            max-width: 100%;
        }
        h3 {
            margin-bottom: 5px;
        }
        .features-list {
            li {
                margin-top: 10px;
            }
        }
    }
    .company-image {
        padding: {
            top: 40px;
            bottom: 20px;
        };
        .image {
            padding: {
                left: 70px;
                right: 0;
            };
            img {
                &:nth-child(2) {
                    left: -50px;
                    width: 240px;
                }
            }
        }
        .shape1 {
            left: 15px;
        }
        .shape2 {
            right: -25px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .company-image {
        .image {
            padding: {
                left: 90px;
                right: 50px;
            };
            img {
                &:nth-child(2) {
                    left: -30px;
                    width: 250px;
                }
            }
        }
        .shape1 {
            left: 25px;
        }
    }

}