<div class="banner-global container global-mb">
  <div class="banner-main">
      <div class="banner-content">
          <div>
            <h1>
             Your engineering services. 
             <br><span>Our global reach.</span> 
            </h1>
            <p>
              Find out instantly if you qualify for high-value opportunities 
              worldwide, 
              <br>and get <u>pre-qualified</u> to unlock private tender 
              invitations.
            </p>
            <div>
              <div class="v-center-flex gap-medium">
                <a href="https://www.buildtwin.com/get-started" target="_blank" class="button-v2">
                  Get started NOW
                </a>
                <a class="button-v2 border" (click)="call()" href="javascript:void(0)">
                  <picture>
                    <source 
                      srcset="assets/images/icons/call@2x.png" 
                      media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                      src="assets/images/icons/call.png" 
                      alt="call" 
                      width="21" 
                      height="22">
                  </picture>
                  Talk to our advisors
                </a>
              </div>
            </div>
          </div>
      </div>
      <div class="banner-image">
          <figure>
              <picture>
                  <!-- WebP format -->
                  <source 
                    srcset="assets/images/seller-banner.webp, assets/images/seller-banner@2x.webp 2x" 
                    type="image/webp">
                
                  <!-- Fallback to JPEG -->
                  <source 
                    srcset="assets/images/seller-banner.jpg, assets/images/seller-banner@2x.jpg 2x" 
                    type="image/jpeg">
                
                  <!-- Default img tag as fallback -->
                  <img 
                    src="assets/images/seller-banner.jpg" 
                    alt="Explore Banner" 
                    width="624" 
                    height="571">
                </picture>                      
          </figure>
      </div>
  </div>
</div>


<app-video-popup></app-video-popup>



<div class="popUP" [ngClass]="{'active':showPopup1}">
  <div class="coverPopup">
    <i class="closeIcon" (click)="closePopup1()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
        <g clip-path="url(#clip0_2773_11848aaa)">
        <path d="M15.8334 5.84175L14.6584 4.66675L10 9.32508L5.34169 4.66675L4.16669 5.84175L8.82502 10.5001L4.16669 15.1584L5.34169 16.3334L10 11.6751L14.6584 16.3334L15.8334 15.1584L11.175 10.5001L15.8334 5.84175Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_2773_11848">
        <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
        </defs>
        </svg>
    </i>
    <div class="coverPopupData">
 
  <div id="hubspotFormContainer2"></div>
</div>
</div>
</div>