<div class="drawingFreelancers">
    <div class="container">
        <!-- <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"> -->
            <!-- <h3>Precast detailing service includes:</h3> -->
            <!-- <ul class="threeColList">
                <li>Precast Wall Panels Detailing</li>
                <li>Precast Shop Drawings</li>
                <li>Precast Stairs Detailing</li>
                <li>Precast Erection Drawings</li>
                <li>Precast Column Detailing</li>
                <li>Precast Beam Detailing</li>
                <li>Precast Slab Detailing</li>
                <li>Detailed Concrete Connections</li>
                <li>Embedment Detailing</li>
                <li>Hollow Core Detailing</li>
                <li>Precast Formwork</li>

            </ul> -->
        <!-- </div> -->
        <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            <h3>{{sectionHeading}}</h3>
            <ul class="threeColList">
                <li *ngFor="let item of subCategoryServices" 
                    [routerLink]="item.sub_category_service_page_url ? [_languageService.currentLanguage, item.sub_category_service_page_url] : null">
                  {{item.sub_category_service_name}}
                </li>
              </ul>
            <!-- <ul class="threeColList" *ngFor="let item of subCategoryServices">
                <li routerLink="item.sub_category_service_page_url ? {{_languageService.currentLanguage}}/{{item.sub_category_service_page_url}}">{{item.sub_category_service_name}}</li> -->
                <!-- <li>Rebar Detailing Services</li> -->
                <!-- <li>Rebar Detailing for Beam</li>
                <li>Concrete masonry detailing</li>
                <li>Rebar Foundation Detailing</li>
                <li>Rebar Placement Drawings</li>
                <li>Rebar Detailing for Column</li>
                <li>Rebar Design Services</li>
                <li>Rebar 2D & 3D modeling</li>
                <li>Rebar Detailing for Shear Wall</li>
                <li>Rebar Junction Coordination Drawings</li>
                <li>Bar Bending Schedules</li>
                <li>Rebar Detailing for Wall Stacks</li>
                <li>Rebar shop drawings</li>
                <li>Rebar Footing detailing</li>
                <li>3D Rebar View</li>

                <li>Rebar Detailing Software</li>
                <li>Retaining Wall Detailing</li>
                <li>Rebar Detailing for Slab</li>
                <li>BIM for Rebar Detailing</li>
                <li>Bar listing in ASA format</li>
                <li>Rebar Detailing with ideCAD</li>
                <li>Rebar Numbering</li>
                <li>Roof truss and joint details</li>
                <li>Bar List Schedules</li> -->

                <!-- <li>Rebar Footing detailing</li>
                <li>Retaining Wall Detailing</li>
                <li>Bar bending schedules</li>
                <li>Bar listing in ASA format</li>
                <li>Roof truss and joint details</li>
                <li>Total rebar estimation</li>
                <li>Concrete masonry detailing</li>
                <li>Retaining walls detailing</li>
                <li>3D modeling of Rebar using Tekla Structures</li> -->

            <!-- </ul> -->
        </div>
        <!-- <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600"> -->
            <!-- <h3>Steel Detailing Service includes:</h3> -->
            <!-- <ul class="threeColList">
                <li>Structural Steel Detailing</li>
                <li>Structural 3D Modeling</li>
                <li>2D Erection Drawings</li>
                <li>2D Shop Drawings</li>
                <li>Quantity Take-off Services</li>
                <li>Advanced Bill of Materials (ABM)</li>
                <li>Miscellaneous Metal Detailing</li>
                <li>Anchor Bolt Drawings</li>
                <li>Advance Bill of Material</li>
                <li>Tekla Steel Detailing</li>
                <li>Connection Sketches</li>
                <li>Drawing Index</li>
                <li>Advance Material List</li>
                <li>Single Part / Fittings Drawings</li>
                <li>Estimodeling Services</li>
                <li>Steel Joist & Deck Detailing</li>
                <li>Material Summary</li>
                <li>Field Bolt Summary</li>
            </ul> -->
        <!-- </div> -->
    </div>
</div>