<div class="app-download-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-download-image position-relative z-1">
                    <div class="row">
                        <div class="col-6" data-aos="fade-up" data-aos-duration="500">
                            <img src="assets/images/app-download/app-download1.jpg" alt="app-download-image">
                        </div>
                        <div class="col-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                            <img src="assets/images/app-download/app-download2.jpg" alt="app-download-image">
                        </div>
                    </div>
                    <img src="assets/images/app-download/border.png" class="border-image" alt="border-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-download-content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <h2 class="font-darker-grotesque fw-medium">
                        Download mobile app, <br>to make your money grow faster.
                    </h2>
                    <p>
                        Reduce costs, grow revenue, and run your business more efficiently on a fully integrated platform. Use Buildtwin to handle all of your payments-related needs, manage revenue operations, and launch (or invent) new business models.
                    </p>
                    <div class="btn-box">
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/images/app-download/google-play.jpg" alt="google-play">
                        </a>
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/images/app-download/apple-store.jpg" alt="apple-store">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>