.single-feature-box {
    border-radius: 10px;
    background-color: #e1e9eb;
    padding: 65px 45px 65px 50px;

    .content {
        margin-top: 8px;

        h2 {
            line-height: 1;
            font-size: 60px;
            margin-bottom: 25px;
        }
        p {
            //letter-spacing: 0.4px;
            max-width: 286px;
        }
        .default-btn {
            margin-top: 20px;
            background-color: var(--blackColor);
    
            &:hover {
                background-color: var(--tealBlueColor);
            }
        }
    }
    .image {
        margin-left: -4px;
    }
    &:nth-child(2) {
        background-color: #e8ebf5;
        padding-right: 35px;
    }
}
.single-feature-item {
    margin-top: 25px;
    border-radius: 10px;
    background-color: #f8f2e9;
    padding: 50px 23px 75px 50px;

    .content {
        padding-right: 100px;

        h2 {
            line-height: 1;
            font-size: 60px;
            margin-bottom: 25px;
        }
        p {
            //letter-spacing: 0.4px;
        }
        .default-btn {
            margin-top: 20px;
            background-color: var(--blackColor);
    
            &:hover {
                background-color: var(--tealBlueColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-feature-box {
        padding: 25px 20px;
    
        .content {
            margin-top: 0;
    
            h2 {
                font-size: 35px;
                margin-bottom: 12px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 5px;
            }
        }
        .image {
            margin-left: -4px;
            margin: {
                left: 0;
                top: 25px;
            };
        }
        &:nth-child(2) {
            padding-right: 20px;
        }
    }
    .single-feature-item {
        padding: 25px 20px;
    
        .content {
            padding-right: 0;
            margin-bottom: 25px;
    
            h2 {
                font-size: 35px;
                margin-bottom: 12px;
            }
            .default-btn {
                margin-top: 5px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-feature-box {
        padding: 30px 25px;
    
        .content {
            margin-top: 0;
    
            h2 {
                font-size: 45px;
                margin-bottom: 15px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 8px;
            }
        }
        .image {
            margin: {
                left: 0;
                top: 25px;
            };
        }
        &:nth-child(2) {
            padding-right: 25px;
        }
    }
    .single-feature-item {
        padding: 30px 25px;
    
        .content {
            padding-right: 0;
            margin-bottom: 25px;
    
            h2 {
                font-size: 45px;
                margin-bottom: 15px;
            }
            .default-btn {
                margin-top: 8px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .single-feature-box {
        padding: 55px 35px;
    
        .content {
            margin-top: 0;
    
            h2 {
                font-size: 47px;
                max-width: 100%;
                margin-bottom: 17px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 10px;
            }
        }
        .image {
            margin: {
                left: 0;
                top: 25px;
            };
        }
        &:nth-child(2) {
            padding-right: 35px;
        }
    }
    .single-feature-item {
        padding: 55px 35px;
    
        .content {
            padding-right: 0;
    
            h2 {
                font-size: 47px;
                max-width: 100%;
                margin-bottom: 17px;
            }
            .default-btn {
                margin-top: 10px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .single-feature-box {
        padding: 50px 30px;
    
        .content {
            margin-top: 0;
    
            h2 {
                font-size: 55px;
                margin-bottom: 20px;
            }
            p {
                max-width: 100%;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
        .image {
            margin-left: 0;
        }
        &:nth-child(2) {
            padding-right: 30px;
        }
    }
    .single-feature-item {
        padding: 50px 30px;
    
        .content {
            padding-right: 50px;
    
            h2 {
                font-size: 55px;
                margin-bottom: 20px;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .single-feature-box {
        padding: 65px 35px;
    
        .content {
            margin-top: 0;
    
            h2 {
                font-size: 57px;
            }
            p {
                max-width: 100%;
            }
        }
        .image {
            margin-left: 0;
        }
        &:nth-child(2) {
            padding-right: 35px;
        }
    }
    .single-feature-item {
        padding: 65px 35px;
    
        .content {
            padding-right: 20px;
    
            h2 {
                font-size: 57px;
            }
        }
    }

}