<div class="features-area">
    <div class="container">
        <div class="grid grid-cols-1 grid-md-cols-2">
            <div class="single-feature-box">
                <div class="row">
                    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="500">
                        <div class="content">
                            <h2 class="font-darker-grotesque">
                                Learn from the Industry's Best
                            </h2>
                            <p>
                                Our mentors are industry experts with experience at top-tier AEC firms and on major projects worldwide.
                            </p>
                            <a mat-button routerLink="/service-details" class="default-btn">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <div class="image text-center">
                            <img src="assets/images/features/feature5.png" alt="feature-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-feature-box">
                <div class="row">
                    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="500">
                        <div class="content">
                            <h2 class="font-darker-grotesque">
                                Personalised Feedback and Skill-Mapping 
                            </h2>
                            <p>
                                1:1 feedback session help you improve as you learn. A special Skill Map identifies your core competencies so you can leverage them for your career. 
                            </p>
                            <a mat-button routerLink="/service-details" class="default-btn">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <div class="image text-center">
                            <img src="assets/images/features/feature6.png" alt="feature-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-feature-item">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <div class="content">
                        <h2 class="font-darker-grotesque">
                           Co-developed with BuildTwin clients
                        </h2>
                        <p>
                            Fight fraud and accurately identify users with a fast verification experience built to convert. Make Identity Verification your competitive advantage today.
                        </p>
                        <a mat-button routerLink="/service-details" class="default-btn">
                            Learn More
                        </a>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>