<app-hd-navbar></app-hd-navbar>

<app-om-banner-freelance2></app-om-banner-freelance2>

<app-get-started-block>
    <div class="heading center v2">
       <h2 class="title">
        3 reasons to get started  <span>NOW
        </span>
       </h2> 
       <!-- <div class="subTitle">

       </div> -->
    </div>
    
    <div class="block-wrapper-arrow">
        <div class="block">
            <img src="assets/images/seller1-arrow.png" alt="arrow" width="29" height="59">
        </div>
        <div class="block">
            <img src="assets/images/seller2-arrow.png" alt="arrow" width="24" height="61">
        </div>
        <div class="block">
            <img src="assets/images/seller3-arrow.png" alt="arrow" width="29" height="59">
        </div>
    </div>
    <div class="block-wrapper">
        <div class="block">
            <div class="note">
                in less than 5 min.
            </div>
            <figure>
                <picture>
                    <source 
                        srcset="assets/images/sellers1@2x.webp" 
                        type="image/webp" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source 
                        srcset="assets/images/sellers1.webp" 
                        type="image/webp">
                    <source 
                        srcset="assets/images/sellers1@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                        src="assets/images/sellers1.png" 
                        alt="Sellers1" 
                        width="388" 
                        height="253">
                </picture>
            </figure>
            <div class="content">
                <h3>Get your free 
                    <br>Portfolio Matching</h3>
                <p>Claim your free business listing now to instantly 
                    match with public tenders worldwide.</p>
                <a href="https://www.buildtwin.com/get-started" class="button-v2" target="_blank">
                    Get started for FREE
                </a>
            </div>
        </div>
        <div class="block">
            <figure>
                <picture>
                    <source 
                        srcset="assets/images/sellers2@2x.webp" 
                        type="image/webp" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source 
                        srcset="assets/images/sellers2.webp" 
                        type="image/webp">
                    <source 
                        srcset="assets/images/sellers2@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                        src="assets/images/sellers2.png" 
                        alt="Sellers2" 
                        width="388" 
                        height="253">
                </picture>
            </figure>
            <div class="content">
                <h3>Get pre-qualified 
                    <br>and invited for private tenders
                </h3>
                <p>Are you ready? Get your business pre-qualified
                    and get invited to submit bids for private projects</p>
                <a routerLink="{{_languageService.currentLanguage}}/pre-qualified" class="button-v2 cursor">
                    Get pre-qualified
                </a>
            </div>
        </div>
        <div class="block">
            <figure>
                <picture>
                    <source 
                        srcset="assets/images/sellers3@2x.webp" 
                        type="image/webp" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source 
                        srcset="assets/images/sellers3.webp" 
                        type="image/webp">
                    <source 
                        srcset="assets/images/sellers3@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                        src="assets/images/sellers3.png" 
                        alt="Sellers3" 
                        width="388" 
                        height="253">
                </picture>
            </figure>
            <div class="content">
                <h3>Let’s talk growth!
                    <br> Our advisors are here for you</h3>
                <p>Schedule a call with our global Sales team to 
                    see how BuildTwin can fuel your growth.</p>
                <a href="javascript:void(0)" (click)="callStatus()" class="button-v2">
                    Schedule Call
                </a>
            </div>
        </div>
    </div>
    
</app-get-started-block>


<app-experence>
    <div class="container">
        <div class="company-list-wrapper">
            <div class="block">
                <a 
                class="cursor" href="javascript:;">
                    <figure>
                        <img 
                        src="assets/images/expert1.png" 
                        width="96" height="96" alt="image">
                    </figure>
                </a>
            </div>
            <div class="block">
                <a 
                class="cursor" href="javascript:;">
                    <figure>
                        <img 
                        src="assets/images/expert2.png" 
                        width="96" height="96" alt="image">
                    </figure>
                </a>
            </div>
            <div class="block">
                <a 
                class="cursor" href="javascript:;">
                    <figure>
                        <img 
                        src="assets/images/expert3.png" 
                        width="96" height="96" alt="image">
                    </figure>
                </a>
            </div>
            <div class="block">
                <a 
                class="cursor" href="javascript:;">
                    <figure>
                        <img 
                        src="assets/images/expert4.png" 
                        width="96" height="96" alt="image">
                    </figure>
                </a>
            </div>
            <div class="block">
                <a 
                class="cursor" href="javascript:;">
                    <figure>
                        <img 
                        src="assets/images/expert5.png" 
                        width="96" height="96" alt="image">
                    </figure>
                </a>
            </div>
        </div>
        <div class="heading center v2">
            <h2 class="title">
    
                <span>Your services.</span> Our Reach. 
                
            </h2> 
            <div class="subTitle">
                We specialied in comprehensive approach for each and every service 
                <br>provider, with one of the largest global footprint. 
            </div>
         </div>
    </div>
    <app-style3>
        <div class="container global-mb bg3">
            <div class="left">
                <div class="block">
                    <div class="child-block">
                        <div class="count small">
                            Top 3
                        </div>
                        <p>
                            ranked on google
                        </p>
                    </div>
                    <div class="child-block">
                        <div class="count small">
                            100k+
                        </div>
                        <p>
                            Monthly impressions
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="child-block">
                        <div class="count small">
                            1000s
                        </div>
                        <p>
                            of engineering tenders
                        </p>
                    </div>
                    <div class="child-block">
                        <div class="count small">
                            100s
                        </div>
                        <p>
                            of private clients
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="child-block">
                        <div class="count small star">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="41" viewBox="0 0 102 21" fill="none">
                                <mask id="mask0_6126_23145" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="102" height="21">
                                <rect x="0.5" y="0.890137" width="101" height="20" fill="#836ED9"/>
                                </mask>
                                <g mask="url(#mask0_6126_23145)">
                                <path d="M9.74426 2.86613C9.90959 2.35729 10.6295 2.35729 10.7948 2.86613L12.3907 7.77771C12.4646 8.00527 12.6767 8.15934 12.9159 8.15934H18.0803C18.6153 8.15934 18.8378 8.84399 18.4049 9.15847L14.2269 12.194C14.0333 12.3346 13.9523 12.5839 14.0262 12.8115L15.6221 17.7231C15.7874 18.2319 15.2051 18.655 14.7722 18.3406L10.5942 15.305C10.4006 15.1644 10.1385 15.1644 9.94489 15.305L5.76686 18.3406C5.33401 18.655 4.75162 18.2319 4.91695 17.7231L6.51282 12.8115C6.58676 12.5839 6.50576 12.3346 6.31218 12.194L2.13415 9.15847C1.7013 8.84399 1.92375 8.15934 2.45878 8.15934H7.62312C7.86239 8.15934 8.07445 8.00527 8.14839 7.77771L9.74426 2.86613Z" fill="#0053fa"/>
                                <path d="M29.7443 2.86613C29.9096 2.35729 30.6295 2.35729 30.7948 2.86613L32.3907 7.77771C32.4646 8.00527 32.6767 8.15934 32.9159 8.15934H38.0803C38.6153 8.15934 38.8378 8.84399 38.4049 9.15847L34.2269 12.194C34.0333 12.3346 33.9523 12.5839 34.0262 12.8115L35.6221 17.7231C35.7874 18.2319 35.2051 18.655 34.7722 18.3406L30.5942 15.305C30.4006 15.1644 30.1385 15.1644 29.9449 15.305L25.7669 18.3406C25.334 18.655 24.7516 18.2319 24.917 17.7231L26.5128 12.8115C26.5868 12.5839 26.5058 12.3346 26.3122 12.194L22.1341 9.15847C21.7013 8.84399 21.9238 8.15934 22.4588 8.15934H27.6231C27.8624 8.15934 28.0745 8.00527 28.1484 7.77771L29.7443 2.86613Z" fill="#0053fa"/>
                                <path d="M49.7443 2.86613C49.9096 2.35729 50.6295 2.35729 50.7948 2.86613L52.3907 7.77771C52.4646 8.00527 52.6767 8.15934 52.9159 8.15934H58.0803C58.6153 8.15934 58.8378 8.84399 58.4049 9.15847L54.2269 12.194C54.0333 12.3346 53.9523 12.5839 54.0262 12.8115L55.6221 17.7231C55.7874 18.2319 55.2051 18.655 54.7722 18.3406L50.5942 15.305C50.4006 15.1644 50.1385 15.1644 49.9449 15.305L45.7669 18.3406C45.334 18.655 44.7516 18.2319 44.917 17.7231L46.5128 12.8115C46.5868 12.5839 46.5058 12.3346 46.3122 12.194L42.1341 9.15847C41.7013 8.84399 41.9238 8.15934 42.4588 8.15934H47.6231C47.8624 8.15934 48.0745 8.00527 48.1484 7.77771L49.7443 2.86613Z" fill="#0053fa"/>
                                <path d="M69.7443 2.86613C69.9096 2.35729 70.6295 2.35729 70.7948 2.86613L72.3907 7.77771C72.4646 8.00527 72.6767 8.15934 72.9159 8.15934H78.0803C78.6153 8.15934 78.8378 8.84399 78.4049 9.15847L74.2269 12.194C74.0333 12.3346 73.9523 12.5839 74.0262 12.8115L75.6221 17.7231C75.7874 18.2319 75.2051 18.655 74.7722 18.3406L70.5942 15.305C70.4006 15.1644 70.1385 15.1644 69.9449 15.305L65.7669 18.3406C65.334 18.655 64.7516 18.2319 64.917 17.7231L66.5128 12.8115C66.5868 12.5839 66.5058 12.3346 66.3122 12.194L62.1341 9.15847C61.7013 8.84399 61.9238 8.15934 62.4588 8.15934H67.6231C67.8624 8.15934 68.0745 8.00527 68.1484 7.77771L69.7443 2.86613Z" fill="#0053fa"/>
                                <path d="M89.7443 2.86613C89.9096 2.35729 90.6295 2.35729 90.7948 2.86613L92.3907 7.77771C92.4646 8.00527 92.6767 8.15934 92.9159 8.15934H98.0803C98.6153 8.15934 98.8378 8.84399 98.4049 9.15847L94.2269 12.194C94.0333 12.3346 93.9523 12.5839 94.0262 12.8115L95.6221 17.7231C95.7874 18.2319 95.2051 18.655 94.7722 18.3406L90.5942 15.305C90.4006 15.1644 90.1385 15.1644 89.9449 15.305L85.7669 18.3406C85.334 18.655 84.7516 18.2319 84.917 17.7231L86.5128 12.8115C86.5868 12.5839 86.5058 12.3346 86.3122 12.194L82.1341 9.15847C81.7013 8.84399 81.9238 8.15934 82.4588 8.15934H87.6231C87.8624 8.15934 88.0745 8.00527 88.1484 7.77771L89.7443 2.86613Z" fill="#0053fa"/>
                                </g>
                                </svg>
                        </div>
                        <p>
                            Customer Rating
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <figure>
                    <img src="assets/images/ai/earth_1.png" width="278" height="278" alt="">
                </figure>
            </div>
            <!-- <div class="info-container">
            
            
            
                <div class="rating-box">
                    <div class="rating-info">
                        <div class="rating">Top 3
                        </div>
                        <div class="rating-text">ranked on google</div>
                    </div>
                </div>
            
                <div class="rating-box">
                    <div class="rating-info">
                        <div class="rating">100k+</div>
                        <div class="rating-text">Monthly impressions</div>
                    </div>
                </div>
            
                <div class="rating-box">
                    <div class="rating-info">
                        <div class="rating">1000s</div>
                        <div class="rating-text">of engineering tenders</div>
                    </div>
                </div>
    
                <div class="rating-box">
                    <div class="rating-info">
                        <div class="rating">100s</div>
                        <div class="rating-text">of private clients</div>
                    </div>
                </div>
    
    
                <div class="rating-box">
                    <div class="rating-info">
                        <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="102" height="21" viewBox="0 0 102 21" fill="none">
                            <mask id="mask0_6126_23145" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="102" height="21">
                            <rect x="0.5" y="0.890137" width="101" height="20" fill="#836ED9"/>
                            </mask>
                            <g mask="url(#mask0_6126_23145)">
                            <path d="M9.74426 2.86613C9.90959 2.35729 10.6295 2.35729 10.7948 2.86613L12.3907 7.77771C12.4646 8.00527 12.6767 8.15934 12.9159 8.15934H18.0803C18.6153 8.15934 18.8378 8.84399 18.4049 9.15847L14.2269 12.194C14.0333 12.3346 13.9523 12.5839 14.0262 12.8115L15.6221 17.7231C15.7874 18.2319 15.2051 18.655 14.7722 18.3406L10.5942 15.305C10.4006 15.1644 10.1385 15.1644 9.94489 15.305L5.76686 18.3406C5.33401 18.655 4.75162 18.2319 4.91695 17.7231L6.51282 12.8115C6.58676 12.5839 6.50576 12.3346 6.31218 12.194L2.13415 9.15847C1.7013 8.84399 1.92375 8.15934 2.45878 8.15934H7.62312C7.86239 8.15934 8.07445 8.00527 8.14839 7.77771L9.74426 2.86613Z" fill="#0053fa"/>
                            <path d="M29.7443 2.86613C29.9096 2.35729 30.6295 2.35729 30.7948 2.86613L32.3907 7.77771C32.4646 8.00527 32.6767 8.15934 32.9159 8.15934H38.0803C38.6153 8.15934 38.8378 8.84399 38.4049 9.15847L34.2269 12.194C34.0333 12.3346 33.9523 12.5839 34.0262 12.8115L35.6221 17.7231C35.7874 18.2319 35.2051 18.655 34.7722 18.3406L30.5942 15.305C30.4006 15.1644 30.1385 15.1644 29.9449 15.305L25.7669 18.3406C25.334 18.655 24.7516 18.2319 24.917 17.7231L26.5128 12.8115C26.5868 12.5839 26.5058 12.3346 26.3122 12.194L22.1341 9.15847C21.7013 8.84399 21.9238 8.15934 22.4588 8.15934H27.6231C27.8624 8.15934 28.0745 8.00527 28.1484 7.77771L29.7443 2.86613Z" fill="#0053fa"/>
                            <path d="M49.7443 2.86613C49.9096 2.35729 50.6295 2.35729 50.7948 2.86613L52.3907 7.77771C52.4646 8.00527 52.6767 8.15934 52.9159 8.15934H58.0803C58.6153 8.15934 58.8378 8.84399 58.4049 9.15847L54.2269 12.194C54.0333 12.3346 53.9523 12.5839 54.0262 12.8115L55.6221 17.7231C55.7874 18.2319 55.2051 18.655 54.7722 18.3406L50.5942 15.305C50.4006 15.1644 50.1385 15.1644 49.9449 15.305L45.7669 18.3406C45.334 18.655 44.7516 18.2319 44.917 17.7231L46.5128 12.8115C46.5868 12.5839 46.5058 12.3346 46.3122 12.194L42.1341 9.15847C41.7013 8.84399 41.9238 8.15934 42.4588 8.15934H47.6231C47.8624 8.15934 48.0745 8.00527 48.1484 7.77771L49.7443 2.86613Z" fill="#0053fa"/>
                            <path d="M69.7443 2.86613C69.9096 2.35729 70.6295 2.35729 70.7948 2.86613L72.3907 7.77771C72.4646 8.00527 72.6767 8.15934 72.9159 8.15934H78.0803C78.6153 8.15934 78.8378 8.84399 78.4049 9.15847L74.2269 12.194C74.0333 12.3346 73.9523 12.5839 74.0262 12.8115L75.6221 17.7231C75.7874 18.2319 75.2051 18.655 74.7722 18.3406L70.5942 15.305C70.4006 15.1644 70.1385 15.1644 69.9449 15.305L65.7669 18.3406C65.334 18.655 64.7516 18.2319 64.917 17.7231L66.5128 12.8115C66.5868 12.5839 66.5058 12.3346 66.3122 12.194L62.1341 9.15847C61.7013 8.84399 61.9238 8.15934 62.4588 8.15934H67.6231C67.8624 8.15934 68.0745 8.00527 68.1484 7.77771L69.7443 2.86613Z" fill="#0053fa"/>
                            <path d="M89.7443 2.86613C89.9096 2.35729 90.6295 2.35729 90.7948 2.86613L92.3907 7.77771C92.4646 8.00527 92.6767 8.15934 92.9159 8.15934H98.0803C98.6153 8.15934 98.8378 8.84399 98.4049 9.15847L94.2269 12.194C94.0333 12.3346 93.9523 12.5839 94.0262 12.8115L95.6221 17.7231C95.7874 18.2319 95.2051 18.655 94.7722 18.3406L90.5942 15.305C90.4006 15.1644 90.1385 15.1644 89.9449 15.305L85.7669 18.3406C85.334 18.655 84.7516 18.2319 84.917 17.7231L86.5128 12.8115C86.5868 12.5839 86.5058 12.3346 86.3122 12.194L82.1341 9.15847C81.7013 8.84399 81.9238 8.15934 82.4588 8.15934H87.6231C87.8624 8.15934 88.0745 8.00527 88.1484 7.77771L89.7443 2.86613Z" fill="#0053fa"/>
                            </g>
                            </svg>
                        </div>
                        <div class="rating-text">
                            Customer Rating
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </app-style3>
    </app-experence>

    <app-project-list [slider]="true"></app-project-list>
    <div class="flex-justify-center global-mb">
        <a class="button-v2" 
        href="https://www.buildtwin.com/get-started" target="_blank">
            Match your Portfolio for FREE
        </a>
    </div>

    <div class="threeSection" id="scrollActivated">



    


        <app-open-market-tab-list>
            <div class="tabCover">
                <div class="tabHead" id="tabHead">
                    <div class="tabItems">
                        <div class="tabItem"  [ngClass]="{ active: activeState === 1 }">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                <g clip-path="url(#clip0_6175_37876)">
                                <path d="M18.3628 1.59276C17.7205 0.930575 16.6612 0.919875 16.0056 1.56895L10 7.51514L8.33563 5.85077C7.94373 5.45887 7.30786 5.46045 6.91791 5.8543L1.67424 11.1504C1.02478 11.8064 1.02741 12.8638 1.68013 13.5165C2.33859 14.175 3.4074 14.171 4.06095 13.5077L7.625 9.89014L9.29289 11.558C9.68342 11.9486 10.3166 11.9486 10.7071 11.558L18.3451 3.92006C18.9858 3.27939 18.9936 2.24312 18.3628 1.59276ZM1.6875 17.0151C1.03166 17.0151 0.5 17.5468 0.5 18.2026C0.5 18.8585 1.03166 19.3901 1.6875 19.3901H18.3125C18.9683 19.3901 19.5 18.8585 19.5 18.2026C19.5 17.5468 18.9683 17.0151 18.3125 17.0151H1.6875Z" fill="#0053fa"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_6175_37876">
                                <rect width="19" height="19" fill="white" transform="translate(0.5 0.00012207)"/>
                                </clipPath>
                                </defs>
                                </svg>
                                
                            <div class="label">Get matched</div>
                        </div>
                        <div class="tabItem"  [ngClass]="{ active: activeState === 2 }">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                <path d="M16.922 10.3907C16.3282 13.3595 14.0898 16.1549 10.9489 16.7795C9.41698 17.0846 7.82789 16.8986 6.40787 16.248C4.98785 15.5974 3.80928 14.5153 3.03999 13.1559C2.2707 11.7966 1.94989 10.2291 2.12326 8.67679C2.29662 7.12447 2.95532 5.66642 4.00555 4.51024C6.15968 2.13762 9.79699 1.48449 12.7657 2.67199" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.82788 9.20325L9.79663 12.172L16.9216 4.45325" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            <div class="label">Pre-Qualification</div>
                        </div>
                        <div class="tabItem"  [ngClass]="{ active: activeState === 3 }">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M18.3334 7.02393H16.5238C16.5238 4.4906 14.5334 2.50012 12 2.50012C9.4667 2.50012 7.47623 4.4906 7.47623 7.02393H5.6667C4.67146 7.02393 3.85718 7.83822 3.85718 8.83346V19.6906C3.85718 20.6858 4.67146 21.5001 5.6667 21.5001H18.3334C19.3286 21.5001 20.1429 20.6858 20.1429 19.6906V8.83346C20.1429 7.83822 19.3286 7.02393 18.3334 7.02393ZM12 4.30965C13.5381 4.30965 14.7143 5.48584 14.7143 7.02393H9.28575C9.28575 5.48584 10.4619 4.30965 12 4.30965ZM18.3334 19.6906H5.6667V8.83346H18.3334V19.6906ZM12 12.4525C10.4619 12.4525 9.28575 11.2763 9.28575 9.73822H7.47623C7.47623 12.2716 9.4667 14.262 12 14.262C14.5334 14.262 16.5238 12.2716 16.5238 9.73822H14.7143C14.7143 11.2763 13.5381 12.4525 12 12.4525Z" fill="black"/>
                                </svg>
                                
                            <div class="label">Private Tender</div>
                        </div>
                    </div>
                </div>




                <div class="tab-content" data-ele="1">
                    <div class="head">
                        <div class="div">
            
                    <div class="div-2"></div>
                            <div class="div-3">
                                Our open access program gives you a comprehensive and actionable leads list for projects across the globe.                    </div>
                        </div>
                    </div>
        
                    <div class="contentBody">
                        <div class="gap80">
                            <div class="colData flexVCenter">
                                <h2>Your competitive advantage</h2>
                                <p>
                                    Work with BuildTwin Co-Pilot and DSM get pre-qualified. 
                                    <br><br>
                                    BuildTwin Co-Pilot <u>ensures</u> clients that your team meets project requirements 
                                    out-of-the-box and decreases the barrier to working with new service providers.
                
                                    Features include automated quality control, integration into clients' workflows, and much more.
                                    <br><br>
                                    <a class="btnNew" routerLink="{{_languageService.currentLanguage}}/ai-project-management">
                                         Schedule DEMO &nbsp;  <i class="ti ti-arrow-narrow-right"></i>
                                      </a>
                                </p>
                            </div>
                            <div class="colData">
                                <img
                                    src="assets/images/ui/service/market2.png"
                                    alt="Market"
                                    width="651"
                                    height="386"
                                />
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </app-open-market-tab-list>
        
        
             
        <app-market-place (marketplaceNumber)="marketplaceNumber($event)"> 
            <div class="marketPlace " data-ele="3" id="scrollActivated3">
                <div class="container">
        
              
                <div class="head">
                    <h2>
                        How to get new projects. 
                    </h2>
                    <span> 
                        Your team is now part of an elite group of pre-qualified service providers with access to 
                        <br>the BuildTwin marketplace, where opportunity meets readiness.
                    </span>
        
                </div>
                <div class="pagination stickyTop">
                   
                        <ul >
                            <li  [ngClass]="{active: marketPlace === 1 }">
                                <i class="cirlce"></i>
                                <span>Your Portfolio</span>
                            </li>
                            <li [ngClass]="{active: marketPlace === 2 }">
                                <i class="cirlce"></i>
                                <span>Match & Reach</span>
                            </li>
                            <li [ngClass]="{ active: marketPlace === 3 }">
                                <i class="cirlce"></i>
                                <span>Get invited / started</span>
                            </li>
                        </ul>
                </div>
        
                <div class="slide"  data-ele="1" [ngClass]="{ active: marketPlace === 1 }">
                    <div class="imgWrap">
                        <img src="assets/images/ui/slide1.png" alt="Slider" width="651" height="386">
                    </div> 
                    <div class="contentWrap">
                        <h3>Your Portfolio</h3>
                        <p>
                            Intelligent Project Matching suggest buyers your business listings 
                            that alings with your team's strengths and business focus. Our platform will recommend 
                            projects in both open and closed markets, tailored to your expertise.
                        </p>
                    </div>
                </div>
                <div class="slide"  data-ele="2" [ngClass]="{ active: marketPlace === 2 }">
                    <div class="imgWrap">
                        <img src="assets/images/ui/slide2.png" alt="Slider" width="651" height="386">
                    </div> 
                    <div class="contentWrap">
                        <h3>Match & Reach</h3>
                        <p>
                            Submit your bids with the ease of a click, while understanding the business impact. BuildTwin merges 
                            your operational data in the context of the bid - and calculates the expected business outcome based 
                            on your bid. 
                         </p>
                        <a (click)="callStatus()" href="javascript:void(0)">Schedule LIVE DEMO</a>
                    </div>
                </div>
                <div class="slide"  data-ele="3" [ngClass]="{ active: marketPlace === 3 }">
                    <div class="imgWrap">
                        <img src="assets/images/ui/slide3.png" alt="Slider" width="651" height="386">
                    </div> 
                    <div class="contentWrap">
                        <h3>Get invited / started</h3>
                        <p>
                            Congratulations for winning your projects. Securing a project is the start of a client 
                            relationship built on trust and the delivery. 
                            
                            <br><br>
                            With each win, your reputation in the marketplace is enhanced, leading to more 
                            opportunities and client confidence.                
                        </p>
                        <a (click)="callStatus()" href="javascript:void(0)">Schedule a Call with Our Team</a>
                    </div>
                </div>
            </div>
            </div>
        </app-market-place>
        </div>
        

        

        <app-em-faq></app-em-faq>

        
        <app-qualified>
            <div class="qualified">

                            
         <div class="heading center v2">
            <h2 class="title">
                Get pre-qualified 
                <br>& increase your reach.
            </h2>
            <span class="small-title">
                With the BuildTwin pre-qualification program, you ensure you meet project requirements for different markets.
            </span>
         </div>
        
         <div class="itemFLex">
            <div class="item">
                <div class="svgCover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="59" viewBox="0 0 60 59" fill="none">
                        <circle cx="30" cy="29.3901" r="27.6667" fill="#0053fa" stroke="white" stroke-width="3.33333"/>
                        <path d="M30.4414 41.7383H20V18H39.8828V29.3691" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <circle cx="30.2666" cy="31.8526" r="5.16506" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M34.3008 35.7891L38.2756 39.5041" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
        
                
                    <h3>
                        Work with Co-Pilot<br>
                       
                    </h3>
                    <p>
                        Work with AI to track project 
                        <br> progress.
                    </p>
            </div>
            <div class="item">
                <div class="svgCover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="59" viewBox="0 0 60 59" fill="none">
                        <circle cx="30" cy="29.3901" r="27.6667" fill="#0053fa" stroke="white" stroke-width="3.33333"/>
                        <ellipse cx="29.6895" cy="25.6901" rx="8.6895" ry="8.69011" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="29.6928" cy="25.6931" rx="4.17326" ry="4.17355" stroke="white" stroke-width="1.69398" stroke-linecap="round"/>
                        <path d="M23.1289 31.6914L19.5145 38.5397L23.3412 37.8988L24.9711 41.4205L28.5856 34.5722" stroke="white" stroke-width="1.69398" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M36.832 31.6914L40.4465 38.5397L36.6197 37.8988L34.9898 41.4205L31.3754 34.5722" stroke="white" stroke-width="1.69398" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
        
                
                    <h3>
                        Meet Quality requirements               
                    </h3>
                    <p>
                        Make sure with AI that <br>all inputs are considered.
                    </p>
            </div>

            <div class="item">
                <div class="svgCover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="59" viewBox="0 0 60 59" fill="none">
                        <circle cx="30" cy="29.3901" r="27.6667" fill="#0053fa" stroke="white" stroke-width="3.33333"/>
                        <rect x="19.0424" y="38.4755" width="17.1122" height="3.11131" rx="0.861582" stroke="white" stroke-width="1.72316"/>
                        <rect x="22.1537" y="35.3641" width="10.8896" height="3.11131" rx="0.861582" stroke="white" stroke-width="1.72316"/>
                        <rect x="26.423" y="24.0608" width="7.48189" height="5.00983" rx="0.861582" transform="rotate(-40.8666 26.423 24.0608)" stroke="white" stroke-width="1.72316"/>
                        <rect width="2.50492" height="7.51475" rx="0.861582" transform="matrix(-0.756235 0.6543 0.6543 0.756235 25.6018 23.1151)" stroke="white" stroke-width="1.72316"/>
                        <rect width="2.50492" height="7.51475" rx="0.861582" transform="matrix(-0.756235 0.6543 0.6543 0.756235 33.0431 16.6768)" stroke="white" stroke-width="1.72316"/>
                        <rect width="2.50492" height="11.6674" rx="0.861582" transform="matrix(-0.756235 0.6543 0.6543 0.756235 33.4301 24.8517)" stroke="white" stroke-width="1.72316"/>
                        </svg>
                </div>
        
                
                    <h3>
                        Meet liability requirements
                       
                    </h3>
                    <p>
                        Provide your PI, which covers <br>your rendered services.
                    </p>
            </div>
            <div class="item">
                <div class="svgCover">
                    <svg width="60" height="59" viewBox="0 0 60 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="30" cy="29.3901" r="27.6667" fill="#0053fa" stroke="white" stroke-width="3.33333"/>
                        <path d="M37.5833 22.5H35.4167C35.4167 19.4667 33.0333 17.0834 30 17.0834C26.9667 17.0834 24.5833 19.4667 24.5833 22.5H22.4167C21.225 22.5 20.25 23.475 20.25 24.6667V37.6667C20.25 38.8584 21.225 39.8334 22.4167 39.8334H37.5833C38.775 39.8334 39.75 38.8584 39.75 37.6667V24.6667C39.75 23.475 38.775 22.5 37.5833 22.5ZM30 19.25C31.8417 19.25 33.25 20.6584 33.25 22.5H26.75C26.75 20.6584 28.1583 19.25 30 19.25ZM37.5833 37.6667H22.4167V24.6667H37.5833V37.6667ZM30 29C28.1583 29 26.75 27.5917 26.75 25.75H24.5833C24.5833 28.7834 26.9667 31.1667 30 31.1667C33.0333 31.1667 35.4167 28.7834 35.4167 25.75H33.25C33.25 27.5917 31.8417 29 30 29Z" fill="white"/>
                        </svg>
                        
                </div>
        
                
                    <h3>
                        Access to Closed <br>Markets
                       
                    </h3>
                    <p>
                        As pre-qualified service provider <br>get access to the BuildTwin marketplace. 
                    </p>
            </div>
         </div>
        </div>
        </app-qualified>
        <!-- <app-how-buildtwin-helps>
            <div class="buildtwinHelps provideService container bg" id="scrollActivated2" data-ele="2">
                    <div class="" id="onScrollAnimation">
                        <div class="heading v2 center">
                            <h2 class="title">
                                How to get pre-qualified in 5 easy steps.
                            </h2>
                            <span class="small-title">
                                The BuildTwin pre-qualification program hinges on the collective technical proficiency of your team. Our assessment 
                                <br>measures the depth and breadth of your company’s capabilities to ensure they meet our marketplace's rigorous standards:
                            </span>
                        </div>
                    </div>
                    <div class="staticData">
    
                          
                            <div class="tabContent" id="tabContent">
                                <div class="tabLeft">
                                    <ul>
                                        <li
                                            (click)="scrollToSection('section1')"
                                            data-aos="fade-up"
                                            data-aos-duration="500"
                                            [ngClass]="{ active: activeState2 === 11 }"
                                        >
                                            <i></i> Technical Capabilities
                                        </li>
                                        <li
                                            (click)="scrollToSection('section2')"
                                            data-aos="fade-up"
                                            data-aos-duration="500"
                                            [ngClass]="{ active: activeState2 === 12 }"
                                        >
                                            <i></i>Team 
                                        </li>
                                        <li
                                            (click)="scrollToSection('section3')"
                                            data-aos="fade-up"
                                            data-aos-duration="500"
                                            [ngClass]="{ active: activeState2 === 13 }"
                                        >
                                            <i></i> Commercial & Insurance
                                        </li>
                                        <li
                                            (click)="scrollToSection('section4')"
                                            data-aos="fade-up"
                                            data-aos-duration="500"
                                            [ngClass]="{ active: activeState2 === 14 }"
                                        >
                                            <i></i> Work with AI Design Manager 
                                        </li>
                                        <li
                                            (click)="scrollToSection('section5')"
                                            data-aos="fade-up"
                                            data-aos-duration="500"
                                            [ngClass]="{ active: activeState2 === 15 }"
                                        >
                                            <i></i> AI based quality management
                                        </li>
                                        <li
                                            (click)="scrollToSection('section6')"
                                            data-aos="fade-up"
                                            data-aos-duration="500"
                                            [ngClass]="{ active: activeState2 === 16 }"
                                        >
                                            <i></i> Business Listing 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <div class="tabRIght">
                            <div id="section1" class="active" data-ele11="11">
                                <div class="flex">
                                    <div class="imgWrap">
                                        <img
                                            src="assets/images/ui/whyBuildService1.png"
                                            alt="Buildtwin"
                                            title="" 
                                        />
                                    </div>
                                    <div class="contentWrap">
                                        <h3>Technical Capabilities</h3>
                                        <p>
                                            Team Expertise: We evaluate the aggregate qualifications and certifications of 
                                            your personnel, emphasizing the strength of your team in delivering  
                                            technical solutions.
                                            
                                            <br><br>
            
                                            Portfolio Review: A thorough analysis of your company’s previous projects 
                                            assesses your capacity to handle a range of technical challenges and deliver 
                                            innovative solutions effectively.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="section2" data-ele12="12">
                                <div class="flex">
                                    <div class="imgWrap">
                                        <img
                                            src="assets/images/ui/whyBuildService2.png"
                                            alt="Buildtwin"
                                            title=""
                                        />
                                    </div>
                                    <div class="contentWrap">
                                        <h3>Team</h3>
                                        <p>
                                            We assess the communication skills, leadership abilities, and client engagement strategies of your 
                                            project managers to ensure they can facilitate seamless collaboration and maintain clear channels 
                                            of communication.
            
                                            <br><br>
                                            Client Satisfaction Record: Past client testimonials and project outcomes are examined to 
                                            understand the track record of your project managers in delivering client satisfaction.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="section3" data-ele13="13">
                                <div class="flex">
                                    <div class="imgWrap">
                                        <img
                                            src="assets/images/ui/whyBuildService3.png"
                                            alt="Buildtwin"
                                            title=""
                                        />
                                    </div>
                                    <div class="contentWrap">
                                        <h3>Commercial & Insurance</h3>
                                        <p>
            
                                            The financial viability and risk management strategies of your company are of paramount 
                                            importance. As part of our pre-qualification process, we conduct an review to ensure that 
                                            your company is commercially robust. 
            
                                            <br><br>
            
                                            Liability Insurance Verification: We check for comprehensive liability insurance coverage 
                                            that aligns with the scope of the services you offer. This is to ensure that both your
                                            company and our clients are protected against potential risks.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="section4" data-ele14="14">
                                <div class="flex">
                                    <div class="imgWrap">
                                        <img
                                            src="assets/images/ui/whyBuildService4.png"
                                            alt="Buildtwin"
                                            title=""
                                        />
                                    </div>
                                    <div class="contentWrap">
                                        <h3>Work with AI Design Manager </h3>
                                        <p>
                                            To meet our pre-qualification standards, your team must complete at least 
                                            <br><u>two live projects</u> with the AI Design Manager. 
                                            
                                            <br><br>
                                            This requirement ensures that you are well-versed in contemporary 
                                            AI-assisted project management techniques and prepared to deliver the highest standards of service 
                                            to clients on the BuildTwin Marketplace.
            
                                            <br><br>
                                            Engage with the AI Design Manager to not only streamline your design process but also yields you 
                                            significant efficiency gains and a competitive advantage. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="section5" data-ele15="15">
                                <div class="flex">
                                    <div class="imgWrap">
                                        <img
                                            src="assets/images/ui/whyBuildService5.png"
                                            alt="Buildtwin"
                                            title=""
                                        />
                                    </div>
                                    <div class="contentWrap">
                                        <h3>AI Based Quality Management</h3>
                                        <p>
                                        A core aspect of the BuildTwin pre-qualification program is ensuring that your team maintain the highest
                                        quality standards. This is where our AI Quality Manager comes into play, a sophisticated tool designed 
                                        to work alongside your team to oversee and enhance the quality management of your projects
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="section6" data-ele16="16">
                                <div class="flex">
                                    <div class="imgWrap">
                                        <img
                                            src="assets/images/ui/whyBuildService6.png"
                                            alt="Buildtwin"
                                            title=""
                                        />
                                    </div>
                                    <div class="contentWrap">
                                        <h3>Finalizing Your Business Profile Listing</h3>
                                        <p>
                                            Upon successful completion of the pre-qualification process, your service offering will be showcased with 
                                            a comprehensive business profile listing on the BuildTwin Marketplace. This profile is not just 
                                            a listing; it is a testament to your company's dedication and capability, crafted to enhance your 
                                            visibility and appeal to potential clients. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
            </div>
        </app-how-buildtwin-helps> -->
        
     
        
   
        
        <app-get-started1>
            <div class="startedData">
                <div class="content">
                    <div class="heading">
                        <h2 class="title">Get started NOW</h2>
                        <p class="small-title">
                            The BuildTwin Marketplace program not only covers our closed
                            marketplace with clients from 10+ <br />
                            countries - but gives you also access to Leads from open market.
                        </p>
                    </div>
                </div>
                <a (click)="call()" class="button-v2" href="javascript:void(0)">Free Portfolio Matching</a>
            </div>
        </app-get-started1>
        
        
        
        
        

<app-hd-footer></app-hd-footer>
<div class="popUP" [ngClass]="{'active':showPopup1}">
    <div class="coverPopup">
      <i class="closeIcon" (click)="closePopup1()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <g clip-path="url(#clip0_2773_11848aaa)">
          <path d="M15.8334 5.84175L14.6584 4.66675L10 9.32508L5.34169 4.66675L4.16669 5.84175L8.82502 10.5001L4.16669 15.1584L5.34169 16.3334L10 11.6751L14.6584 16.3334L15.8334 15.1584L11.175 10.5001L15.8334 5.84175Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_2773_11848">
          <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
      </i>
      <div class="coverPopupData">
   
    <div id="hubspotFormContainer21"></div>
  </div>
  </div>
</div>
<app-hubspot *ngIf="showPopup" [ngClass]="{'active':showPopup}" [name]="'arun'" (closePopupStatus)="closePopupStatus($event)"></app-hubspot>