<app-hd-navbar></app-hd-navbar>

<app-om-banner-freelance2></app-om-banner-freelance2>

<app-get-started-block>
    <div class="heading center v2">
       <h2 class="title">
        3 ways to get started  <span>
            today
        </span>
       </h2> 
       <!-- <div class="subTitle">

       </div> -->
    </div>
    
    <div class="block-wrapper-arrow">
        <div class="block">
            <img src="assets/images/seller1-arrow.png" alt="arrow" width="29" height="59">
        </div>
        <div class="block">
            <img src="assets/images/seller2-arrow.png" alt="arrow" width="24" height="61">
        </div>
        <div class="block">
            <img src="assets/images/seller3-arrow.png" alt="arrow" width="29" height="59">
        </div>
    </div>
    <div class="block-wrapper">
        <div class="block">
            <div class="note">
                in less than 5 min.
            </div>
            <figure>
                <picture>
                    <source 
                        srcset="assets/images/sellers1@2x.webp" 
                        type="image/webp" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source 
                        srcset="assets/images/sellers1.webp" 
                        type="image/webp">
                    <source 
                        srcset="assets/images/sellers1@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                        src="assets/images/sellers1.png" 
                        alt="Sellers1" 
                        width="388" 
                        height="253">
                </picture>
            </figure>
            <div class="content">
                <h3>Get your Business
                    listings for free</h3>
                <p>Claim your free business listing now to instantly 
                    match with public tenders worldwide.</p>
                <a href="https://www.buildtwin.com/get-started" class="button-v2">
                    Get started for FREE
                </a>
            </div>
        </div>
        <div class="block">
            <figure>
                <picture>
                    <source 
                        srcset="assets/images/sellers2@2x.webp" 
                        type="image/webp" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source 
                        srcset="assets/images/sellers2.webp" 
                        type="image/webp">
                    <source 
                        srcset="assets/images/sellers2@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                        src="assets/images/sellers2.png" 
                        alt="Sellers2" 
                        width="388" 
                        height="253">
                </picture>
            </figure>
            <div class="content">
                <h3>Get pre-qualified and
                    invited for private tenders</h3>
                <p>Are you ready? Get your business pre-qualified
                    and get invited to submit bids for private projects</p>
                <a href="javascript:void(0)" (click)="callStatus()" class="button-v2">
                    Get pre-qualified
                </a>
            </div>
        </div>
        <div class="block">
            <figure>
                <picture>
                    <source 
                        srcset="assets/images/sellers3@2x.webp" 
                        type="image/webp" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <source 
                        srcset="assets/images/sellers3.webp" 
                        type="image/webp">
                    <source 
                        srcset="assets/images/sellers3@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                    <img 
                        src="assets/images/sellers3.png" 
                        alt="Sellers3" 
                        width="388" 
                        height="253">
                </picture>
            </figure>
            <div class="content">
                <h3>Let’s Talk Growth: Our Global Sales 
                    Advisors Are Here for You</h3>
                <p>Schedule a call with our global Sales team to 
                    see how BuildTwin can fuel your growth.</p>
                <a href="javascript:void(0)" (click)="callStatus()" class="button-v2">
                    Schedule Call
                </a>
            </div>
        </div>
    </div>
    
</app-get-started-block>


<app-experence>
    <div class="company-list-wrapper">
        <div class="block">
            <a 
            class="cursor" href="javascript:;">
                <figure>
                    <img 
                    src="assets/images/expert1.png" 
                    width="96" height="96" alt="image">
                </figure>
            </a>
        </div>
        <div class="block">
            <a 
            class="cursor" href="javascript:;">
                <figure>
                    <img 
                    src="assets/images/expert2.png" 
                    width="96" height="96" alt="image">
                </figure>
            </a>
        </div>
        <div class="block">
            <a 
            class="cursor" href="javascript:;">
                <figure>
                    <img 
                    src="assets/images/expert3.png" 
                    width="96" height="96" alt="image">
                </figure>
            </a>
        </div>
        <div class="block">
            <a 
            class="cursor" href="javascript:;">
                <figure>
                    <img 
                    src="assets/images/expert4.png" 
                    width="96" height="96" alt="image">
                </figure>
            </a>
        </div>
        <div class="block">
            <a 
            class="cursor" href="javascript:;">
                <figure>
                    <img 
                    src="assets/images/expert5.png" 
                    width="96" height="96" alt="image">
                </figure>
            </a>
        </div>
    </div>
    <div class="heading center v2">
        <h2 class="title">
         Work with <span>experts</span> in project acquisition.
        </h2> 
        <div class="subTitle">
         Collaborate with an experienced sales team to acquire the right project for your team.
        </div>
     </div>
     <div class="info-container">
        
        
        
         <div class="rating-box">
             <div class="rating-info">
                 <div class="rating">20+</div>
                 <div class="rating-text">Sales Experts</div>
             </div>
         </div>
        
         <div class="rating-box">
             <div class="rating-info">
                 <div class="rating">On-site</div>
                 <div class="rating-text">Sales team in each country</div>
             </div>
         </div>
        
         <div class="rating-box">
             <div class="rating-info">
                 <div class="rating">25+ years</div>
                 <div class="rating-text">of networks</div>
             </div>
         </div>

         <div class="rating-box">
             <div class="rating-info">
                 <div class="rating">1.000s</div>
                 <div class="rating-text">Sucessfull closings</div>
             </div>
         </div>


         <div class="rating-box">
             <div class="rating-info">
                 <div class="star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="102" height="21" viewBox="0 0 102 21" fill="none">
                        <mask id="mask0_6126_23145" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="102" height="21">
                        <rect x="0.5" y="0.890137" width="101" height="20" fill="#836ED9"/>
                        </mask>
                        <g mask="url(#mask0_6126_23145)">
                        <path d="M9.74426 2.86613C9.90959 2.35729 10.6295 2.35729 10.7948 2.86613L12.3907 7.77771C12.4646 8.00527 12.6767 8.15934 12.9159 8.15934H18.0803C18.6153 8.15934 18.8378 8.84399 18.4049 9.15847L14.2269 12.194C14.0333 12.3346 13.9523 12.5839 14.0262 12.8115L15.6221 17.7231C15.7874 18.2319 15.2051 18.655 14.7722 18.3406L10.5942 15.305C10.4006 15.1644 10.1385 15.1644 9.94489 15.305L5.76686 18.3406C5.33401 18.655 4.75162 18.2319 4.91695 17.7231L6.51282 12.8115C6.58676 12.5839 6.50576 12.3346 6.31218 12.194L2.13415 9.15847C1.7013 8.84399 1.92375 8.15934 2.45878 8.15934H7.62312C7.86239 8.15934 8.07445 8.00527 8.14839 7.77771L9.74426 2.86613Z" fill="#0053fa"/>
                        <path d="M29.7443 2.86613C29.9096 2.35729 30.6295 2.35729 30.7948 2.86613L32.3907 7.77771C32.4646 8.00527 32.6767 8.15934 32.9159 8.15934H38.0803C38.6153 8.15934 38.8378 8.84399 38.4049 9.15847L34.2269 12.194C34.0333 12.3346 33.9523 12.5839 34.0262 12.8115L35.6221 17.7231C35.7874 18.2319 35.2051 18.655 34.7722 18.3406L30.5942 15.305C30.4006 15.1644 30.1385 15.1644 29.9449 15.305L25.7669 18.3406C25.334 18.655 24.7516 18.2319 24.917 17.7231L26.5128 12.8115C26.5868 12.5839 26.5058 12.3346 26.3122 12.194L22.1341 9.15847C21.7013 8.84399 21.9238 8.15934 22.4588 8.15934H27.6231C27.8624 8.15934 28.0745 8.00527 28.1484 7.77771L29.7443 2.86613Z" fill="#0053fa"/>
                        <path d="M49.7443 2.86613C49.9096 2.35729 50.6295 2.35729 50.7948 2.86613L52.3907 7.77771C52.4646 8.00527 52.6767 8.15934 52.9159 8.15934H58.0803C58.6153 8.15934 58.8378 8.84399 58.4049 9.15847L54.2269 12.194C54.0333 12.3346 53.9523 12.5839 54.0262 12.8115L55.6221 17.7231C55.7874 18.2319 55.2051 18.655 54.7722 18.3406L50.5942 15.305C50.4006 15.1644 50.1385 15.1644 49.9449 15.305L45.7669 18.3406C45.334 18.655 44.7516 18.2319 44.917 17.7231L46.5128 12.8115C46.5868 12.5839 46.5058 12.3346 46.3122 12.194L42.1341 9.15847C41.7013 8.84399 41.9238 8.15934 42.4588 8.15934H47.6231C47.8624 8.15934 48.0745 8.00527 48.1484 7.77771L49.7443 2.86613Z" fill="#0053fa"/>
                        <path d="M69.7443 2.86613C69.9096 2.35729 70.6295 2.35729 70.7948 2.86613L72.3907 7.77771C72.4646 8.00527 72.6767 8.15934 72.9159 8.15934H78.0803C78.6153 8.15934 78.8378 8.84399 78.4049 9.15847L74.2269 12.194C74.0333 12.3346 73.9523 12.5839 74.0262 12.8115L75.6221 17.7231C75.7874 18.2319 75.2051 18.655 74.7722 18.3406L70.5942 15.305C70.4006 15.1644 70.1385 15.1644 69.9449 15.305L65.7669 18.3406C65.334 18.655 64.7516 18.2319 64.917 17.7231L66.5128 12.8115C66.5868 12.5839 66.5058 12.3346 66.3122 12.194L62.1341 9.15847C61.7013 8.84399 61.9238 8.15934 62.4588 8.15934H67.6231C67.8624 8.15934 68.0745 8.00527 68.1484 7.77771L69.7443 2.86613Z" fill="#0053fa"/>
                        <path d="M89.7443 2.86613C89.9096 2.35729 90.6295 2.35729 90.7948 2.86613L92.3907 7.77771C92.4646 8.00527 92.6767 8.15934 92.9159 8.15934H98.0803C98.6153 8.15934 98.8378 8.84399 98.4049 9.15847L94.2269 12.194C94.0333 12.3346 93.9523 12.5839 94.0262 12.8115L95.6221 17.7231C95.7874 18.2319 95.2051 18.655 94.7722 18.3406L90.5942 15.305C90.4006 15.1644 90.1385 15.1644 89.9449 15.305L85.7669 18.3406C85.334 18.655 84.7516 18.2319 84.917 17.7231L86.5128 12.8115C86.5868 12.5839 86.5058 12.3346 86.3122 12.194L82.1341 9.15847C81.7013 8.84399 81.9238 8.15934 82.4588 8.15934H87.6231C87.8624 8.15934 88.0745 8.00527 88.1484 7.77771L89.7443 2.86613Z" fill="#0053fa"/>
                        </g>
                        </svg>
                 </div>
                 <div class="rating-text">
                     Customer Rating
                 </div>
             </div>
         </div>
     </div>
    
    </app-experence>

    <app-project-list [slider]="true"></app-project-list>
    <div class="flex-justify-center global-mb">
        <a href="javascript:;" class="button-v2 disabled">
            Match your Portfolio for FREE
            <span class="coming-soon">Coming Soon</span>
        </a>
    </div>



<app-hd-footer></app-hd-footer>
<div class="popUP" [ngClass]="{'active':showPopup1}">
    <div class="coverPopup">
      <i class="closeIcon" (click)="closePopup1()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <g clip-path="url(#clip0_2773_11848aaa)">
          <path d="M15.8334 5.84175L14.6584 4.66675L10 9.32508L5.34169 4.66675L4.16669 5.84175L8.82502 10.5001L4.16669 15.1584L5.34169 16.3334L10 11.6751L14.6584 16.3334L15.8334 15.1584L11.175 10.5001L15.8334 5.84175Z" fill="black"/>
          </g>
          <defs>
          <clipPath id="clip0_2773_11848">
          <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
      </i>
      <div class="coverPopupData">
   
    <div id="hubspotFormContainer21"></div>
  </div>
  </div>
</div>
<app-hubspot *ngIf="showPopup" [ngClass]="{'active':showPopup}" [name]="'arun'" (closePopupStatus)="closePopupStatus($event)"></app-hubspot>