<app-hd-navbar></app-hd-navbar>
<div class="componentWrapper">
    <div class="banner-global container">
        <div class="banner-main">
            <div class="banner-content">
                <h1>
                    Get free competetive quotes,
                    from  <span>100s of engineering
                        providers</span>
                </h1>
                <p>
                    pre-qualified independent vendors with wide range of services with
                    unmatched visibility in project quality and on time delivery
                </p>
                <div class="get-started-banner">
                    <input type="text" placeholder="Enter your email ID">
                    <button class="button-v2">
                        Get started for FREE
                    </button>
                </div>

                <div class="banner-time">
                    <figure>
                        
                    <picture>
                        <!-- WebP format -->
                        <source 
                          srcset="assets/images/buildtwin-logo.webp, assets/images/buildtwin-logo@2x.webp 2x" 
                          type="image/webp">
                      
                        <!-- Fallback to JPEG -->
                        <source 
                          srcset="assets/images/buildtwin-logo.png, assets/images/buildtwin-logo@2x.png 2x" 
                          type="image/jpeg">
                      
                        <!-- Default img tag as fallback -->
                        <img 
                          src="assets/images/buildtwin-logo.png" 
                          alt="Buildtwin" 
                          width="46" 
                          height="52">
                      </picture>    
                    </figure>
                    <div class="banner-time-detail">
                        <span class="label">
                            Fast & Secure  |  Signed NDAs
                        </span>
                        <span class="time">
                            <5 minutes
                        </span>
                    </div>
                </div>
            </div>
            <div class="banner-image">
                <figure>
                    <picture>
                        <!-- WebP format -->
                        <source 
                          srcset="assets/images/explore-banner.webp, assets/images/explore-banner@2x.webp 2x" 
                          type="image/webp">
                      
                        <!-- Fallback to JPEG -->
                        <source 
                          srcset="assets/images/explore-banner.jpg, assets/images/explore-banner@2x.jpg 2x" 
                          type="image/jpeg">
                      
                        <!-- Default img tag as fallback -->
                        <img 
                          src="assets/images/explore-banner.jpg" 
                          alt="Explore Banner" 
                          width="659" 
                          height="556">
                      </picture>                      
                </figure>
            </div>
        </div>
    </div>

    <app-project-list></app-project-list>
    <app-company-list></app-company-list>
    <app-service-list></app-service-list>
    <app-global-standards></app-global-standards>
    <!-- <section class="headerSection squareButtonWrapper global-mb" id="explore-service-banner">
        <div class="containerWrap">
            <div class="aboutSlider">
                <owl-carousel-o [options]="aboutSlider">
                    <ng-template carouselSlide *ngFor="let item of projectsArray">
                        <div class="slide-banner">
                            <figure>
                                <img src="assets/images/explore-service-banner.jpg" alt="" class="normal">
                                <img src="{{item.img}}" class="abs" alt="cardImage">
                            </figure>
                            <div class="content">
                                <div class="top">
                                    <div class="logo-banner">
                                        <img src="{{item.serviceCompanyIcon}}" width="{{item.width}}" height="{{item.height}}" alt="serviceCompanyIcons">
                                    </div>
                                    <div class="detail">
                                        <h2>
                                            {{item.serviceCompany}}
                                        </h2>
                                        <span class="location">
                                            {{item.company}}
                                        </span>
                                    </div>
                                </div>
                                <a [routerLink]="_languageService.currentLanguage+item.link" class="default-btn mdc-button">
                                    Learn more about {{item.serviceCompany}}
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </section>
    <app-hd-services [page]="'explore-service'"></app-hd-services>
    <section class="discoverProjectsSection global-mb">
        <div class="containerWrap">
            <div class="sectionHeader">
                <div class="heading">
                    <div class="title">Discover Projects from Vendors</div>
                    <div class="subTitle">40+ Projects listed</div>
                </div>
            </div>
            <div class="sectionContent">
                <div class="cardContainer squareButtonWrapper">
                    <owl-carousel-o [options]="discoverProjectsOption">
                        <ng-template carouselSlide *ngFor="let item of projectsArray">
                                <div class="projectCard">

                                    <figure>
                                        <img src="{{item.img}}" class="projectImage" alt="cardImage">

                                        <div class="company">
                                            <img src="{{item.locationFlag}}" [alt]="item.alt" width="20" height="20">
                                            <div class="companyName">
                                                {{item.company}}
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="slider-content">
                                        <div class="projectHighlight">
                                            <div class="projectName">{{item.projectTitle}}</div>
                                            <div class="projectCategory">{{item.category}}</div>
                                                <div class="service">
                                                    {{item.serviceDescription}}
                                                </div>
                                        </div>
    
                                        <div class="serviceCompanyDetails">
                                            <div class="serviceCompany">
                                                <figure>
                                                    <img src="{{item.serviceCompanyIcon}}" width="{{item.width}}" height="{{item.height}}" alt="serviceCompanyIcons">
                                                </figure>
                                                <div class="companyNameVendor">
                                                    <small>Vendor</small> 
                                                    {{item.serviceCompany}}
                                                    <div class="arrow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path d="M18.7499 6V15.75C18.7499 15.9489 18.6709 16.1397 18.5303 16.2803C18.3896 16.421 18.1988 16.5 17.9999 16.5C17.801 16.5 17.6103 16.421 17.4696 16.2803C17.3289 16.1397 17.2499 15.9489 17.2499 15.75V7.81031L6.53055 18.5306C6.38982 18.6714 6.19895 18.7504 5.99993 18.7504C5.80091 18.7504 5.61003 18.6714 5.4693 18.5306C5.32857 18.3899 5.24951 18.199 5.24951 18C5.24951 17.801 5.32857 17.6101 5.4693 17.4694L16.1896 6.75H8.24993C8.05102 6.75 7.86025 6.67098 7.7196 6.53033C7.57895 6.38968 7.49993 6.19891 7.49993 6C7.49993 5.80109 7.57895 5.61032 7.7196 5.46967C7.86025 5.32902 8.05102 5.25 8.24993 5.25H17.9999C18.1988 5.25 18.3896 5.32902 18.5303 5.46967C18.6709 5.61032 18.7499 5.80109 18.7499 6Z" fill="#002E3B"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>

                                </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="helpSection global-mb">
        <div class="containerWrap">
            <div class="sectionHeader">
                <div class="heading">
                    <div class="title">Software | Building-code</div>
                </div>
            </div>
<app-software-list></app-software-list>
        </div>
    </section>
    <section class="helpSection global-mb">
        <div class="containerWrap">
            <div class="sectionHeader">
                <div class="heading">
                    <div class="title">Help is Here</div>
                    <div class="subTitle">Whenever and however you need it.</div>
                </div>
            </div>
            <div class="sectionContent">
                <div class="helpGridContainer">
                    <div class="gridItem">
                        <div class="gridItemWrapper">
                            <img src="assets/images/masterClass.png" alt="masterClassImage">
                            <div class="helpDetails">
                                <div class="header">Masterclass</div>
                                <div class="details">How to work with an external service provider</div>
                            </div>
                        </div>
                    </div>
                    <div class="gridItem ">
                        <div class="gridItemWrapper">
                            <img src="assets/images/dedicatedTeam.png" alt="dedicatedTeamImage">
                            <div class="helpDetails">
                                <div class="header">Hire a Dedicated Team</div>
                                <div class="details">Partner with expert teams tailored to your project's unique requirements. From initial planning to execution, ensure seamless collaboration and top-quality results for every task.</div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="row ">
                            <div class="gridItemWrapper">
                                <img src="assets/images/qualifiedTeam.png" alt="qualifiedTeam">
                                <div class="helpDetails">
                                    <div class="header">Pre-Qualified Teams</div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="gridItemWrapper">
                                <img src="assets/images/technicalTeam.png" alt="technicalTeam">
                                <div class="helpDetails">
                                    <div class="header">Find Technical Teams</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-special-project></app-special-project>
    <section class="whyBuildtwinSection">
        <div class="containerWrap">
            <app-why-buildtwin [isBrowseService]="true"></app-why-buildtwin>
        </div>
    </section>
    <app-hd-integrations></app-hd-integrations> -->

</div>
<app-hd-footer></app-hd-footer>