<app-hd-navbar></app-hd-navbar>
<div class="componentWrapper">
    <section class="headerSection squareButtonWrapper global-mb" id="explore-service-banner">
        <div class="containerWrap">
            <div class="aboutSlider">
                <owl-carousel-o [options]="aboutSlider">
                    <ng-template carouselSlide *ngFor="let item of projectsArray">
                        <div class="slide-banner">
                            <figure>
                                <img src="assets/images/explore-service-banner.jpg" alt="" class="normal">
                                <img src="{{item.img}}" class="abs" alt="cardImage">
                            </figure>
                            <div class="content">
                                <div class="top">
                                    <div class="logo-banner">
                                        <img src="{{item.serviceCompanyIcon}}" width="{{item.width}}" height="{{item.height}}" alt="serviceCompanyIcons">
                                    </div>
                                    <div class="detail">
                                        <h2>
                                            {{item.serviceCompany}}
                                        </h2>
                                        <span class="location">
                                            {{item.company}}
                                        </span>
                                    </div>
                                </div>
                                <a [routerLink]="_languageService.currentLanguage+item.link" class="default-btn mdc-button">
                                    Learn more about {{item.serviceCompany}}
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </section>
    <app-hd-services [page]="'explore-service'"></app-hd-services>
    <!-- <section class="headerSection">
        <div class="containerWrap">
            <app-browse-service-header></app-browse-service-header>
        </div>
    </section> -->
    <section class="discoverProjectsSection global-mb">
        <div class="containerWrap">
            <div class="sectionHeader">
                <!-- <lib-svg-icon class="icon" [name]="'discover-icon'" [size]="80" [sizeH]="80"></lib-svg-icon> -->
                <div class="heading">
                    <div class="title">Discover Projects from Vendors</div>
                    <div class="subTitle">40+ Projects listed</div>
                </div>
            </div>
            <div class="sectionContent">
                <div class="cardContainer squareButtonWrapper">
                    <owl-carousel-o [options]="discoverProjectsOption">
                        <ng-template carouselSlide *ngFor="let item of projectsArray">
                            <!-- <lib-svg-icon [name]="'rightArrow-icon'" class="leftslideButton" (click)="prev()" [size]="88"
                                [sizeH]="88">
                            </lib-svg-icon>
                            <ng-container *ngFor=" let item of subProjectArray"> -->
                                <div class="projectCard">

                                    <figure>
                                        <img src="{{item.img}}" class="projectImage" alt="cardImage">

                                        <div class="company">
                                            <img src="{{item.locationFlag}}" [alt]="item.alt" width="20" height="20">
                                            <div class="companyName">
                                                {{item.company}}
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="slider-content">
                                        <div class="projectHighlight">
                                            <div class="projectName">{{item.projectTitle}}</div>
                                            <div class="projectCategory">{{item.category}}</div>
                                                <div class="service">
                                                    {{item.serviceDescription}}
                                                </div>
                                        </div>
    
                                        <div class="serviceCompanyDetails">
                                            <div class="serviceCompany">
                                                <figure>
                                                    <img src="{{item.serviceCompanyIcon}}" width="{{item.width}}" height="{{item.height}}" alt="serviceCompanyIcons">
                                                </figure>
                                                <div class="companyNameVendor">
                                                    <small>Vendor</small> 
                                                    {{item.serviceCompany}}
                                                    <div class="arrow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path d="M18.7499 6V15.75C18.7499 15.9489 18.6709 16.1397 18.5303 16.2803C18.3896 16.421 18.1988 16.5 17.9999 16.5C17.801 16.5 17.6103 16.421 17.4696 16.2803C17.3289 16.1397 17.2499 15.9489 17.2499 15.75V7.81031L6.53055 18.5306C6.38982 18.6714 6.19895 18.7504 5.99993 18.7504C5.80091 18.7504 5.61003 18.6714 5.4693 18.5306C5.32857 18.3899 5.24951 18.199 5.24951 18C5.24951 17.801 5.32857 17.6101 5.4693 17.4694L16.1896 6.75H8.24993C8.05102 6.75 7.86025 6.67098 7.7196 6.53033C7.57895 6.38968 7.49993 6.19891 7.49993 6C7.49993 5.80109 7.57895 5.61032 7.7196 5.46967C7.86025 5.32902 8.05102 5.25 8.24993 5.25H17.9999C18.1988 5.25 18.3896 5.32902 18.5303 5.46967C18.6709 5.61032 18.7499 5.80109 18.7499 6Z" fill="#002E3B"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <!-- <div class="companyDetails">
                                                <div class="title">Rendered Services
                                                </div>
                                            </div> -->
    
                                            <!-- <div class="cardFooter">
                                                <a [routerLink]="_languageService.currentLanguage+item.link">{{item.linkTitle}}</a>
                                                <lib-svg-icon class="arrowIcon" [name]="'arrow-icon'" [size]="14"
                                                    [sizeH]="22"></lib-svg-icon>
                                            </div> -->
                                        </div>
                                    </div>

                                </div>
                            <!-- </ng-container>
                            <lib-svg-icon [name]="'rightArrow-icon'" class="rightslideButton" (click)="next()" [size]="88"
                                [sizeH]="88">
                            </lib-svg-icon> -->
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="helpSection global-mb">
        <div class="containerWrap">
            <div class="sectionHeader">
                <!-- <lib-svg-icon class="icon" [name]="'browse-icon'" [size]="80" [sizeH]="80"></lib-svg-icon> -->
                <div class="heading">
                    <div class="title">Software | Building-code</div>
                    <!-- <div class="subTitle">Whenever and however you need it.</div> -->
                </div>
            </div>

            <div class="list-type-wrapper bottom-space-big">
                <div class="block cursor" [routerLink]="'/software/structural-steel-detailing'">
                    <h5>
                        Structural Steel Detailing
                    </h5>
                    <ul class="list">
                        <li>
                            Tekla Structures
                        </li>
                        <li>
                            SDS/2
                        </li>
                    </ul>
                </div>
                <div class="block cursor" [routerLink]="'/software/architecture-design-services'">
                    <h5>
                        Architecture & Structural Design
                    </h5>
                    <ul class="list">
                        <li>
                            Autodesk Revit
                        </li>
                        <li>
                            ALLPLAN
                        </li>
                    </ul>
                </div>
                <div class="block cursor" [routerLink]="'/building-code/aisc'">
                    <h5>
                        AISC
                    </h5>
                    <ul class="list">
                        <li>
                            Pre-Qualified Vendors
                        </li>
                        <li>
                            Global Reach
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="helpSection global-mb">
        <div class="containerWrap">
            <div class="sectionHeader">
                <!-- <lib-svg-icon class="icon" [name]="'browse-icon'" [size]="80" [sizeH]="80"></lib-svg-icon> -->
                <div class="heading">
                    <div class="title">Help is Here</div>
                    <div class="subTitle">Whenever and however you need it.</div>
                </div>
            </div>
            <div class="sectionContent">
                <div class="helpGridContainer">
                    <div class="gridItem">
                        <div class="gridItemWrapper">
                            <img src="assets/images/masterClass.png" alt="masterClassImage">
                            <div class="helpDetails">
                                <div class="header">Masterclass</div>
                                <div class="details">How to work with an external service provider</div>
                            </div>
                        </div>
                    </div>
                    <div class="gridItem ">
                        <div class="gridItemWrapper">
                            <img src="assets/images/dedicatedTeam.png" alt="dedicatedTeamImage">
                            <div class="helpDetails">
                                <div class="header">Hire a Dedicated Team</div>
                                <div class="details">Partner with expert teams tailored to your project's unique requirements. From initial planning to execution, ensure seamless collaboration and top-quality results for every task.</div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="row ">
                            <div class="gridItemWrapper">
                                <img src="assets/images/qualifiedTeam.png" alt="qualifiedTeam">
                                <div class="helpDetails">
                                    <div class="header">Pre-Qualified Teams</div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="gridItemWrapper">
                                <img src="assets/images/technicalTeam.png" alt="technicalTeam">
                                <div class="helpDetails">
                                    <div class="header">Find Technical Teams</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="solutionProviderSection">
        <div class="container">
            <div class="sectionHeader">
                <lib-svg-icon class="icon" [name]="'solution-icon'" [size]="80" [sizeH]="80"></lib-svg-icon>
                <div class="heading">
                    <div class="title">Solution Providers</div>
                    <div class="subTitle">Whenever and however you need it.</div>
                </div>
            </div>
            <div class="sectionContent">
                <div class="leftSection">
                    <div class="selectBox countryField">
                        <div class="v-center-flex">
                            <img [src]="selectedCountry.image" width="29" height="29" alt="">
                            <div>
                                <span class="title">{{selectedCountry.label}}</span>
                                <small>{{selectedCountry.currency}}</small>
                            </div>
                        </div>
                        <app-bt-select [options]="countryArray" (selectedTabChange)="selectCountry($event)"
                            [selectedInput]="selectedCountry"></app-bt-select>
                    </div>
                    <div class="selectBox precastField">
                        <div>
                            <span class="title">Pre-Cast</span>
                            <span class="selectedValue">{{selectedPrecastServices.label}}</span>
                        </div>
                        <app-bt-select [options]="precastServices" (selectedTabChange)="selectService($event)"
                            [selectedInput]="selectedPrecastServices"></app-bt-select>
                    </div>
                    <div class="selectBox precastField">
                        <div>
                            <span class="title">Pre-Cast</span>
                            <span class="selectedValue v-center-flex"><lib-svg-icon [name]="selectedPrecast.svgName"
                                    [size]="26" [sizeH]="26"></lib-svg-icon>{{selectedPrecast.label}}</span>
                        </div>
                        <app-bt-select [options]="precastList" (selectedTabChange)="selectPrecast($event)"
                            [selectedInput]="selectedPrecast"></app-bt-select>
                    </div>
                    <button class="tenderBtn">
                        Search Now <lib-svg-icon [name]="'arrow-icon'" [size]="16" [sizeH]="18"></lib-svg-icon>
                    </button>
                    <a href="javascript:void(0)" class="moreFilters">
                        More Filters
                    </a>
                </div>
                <div class="rightSection">
                    <div>
                        <div class="companyCriterias">
                            <div class="company">Company Name</div>
                            <div class="company">Location</div>
                            <div class="company">No. of Employees</div>
                            <div class="company">Timezone</div>
                            <div class="company">Pre-Qualified</div>
                            <div class="company"></div>
                        </div>
                        <div
                            style="display: flex; padding-top: 25px; flex-direction: column;align-items: center; color: #fff;width: 25%; ">
                            <div style="display: flex;justify-content: center;align-items: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <img src="assets/images/aarbee.png" style="width: 46px;height: 30px;">
                                    <div class="name" style="font-family: var(--semibold-global);font-size: 14px; color: #000; text-align: center;">Aarbee Structures Pvt. Ltd.</div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;align-items: center; background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company" style="display: flex; gap: 10px;align-items: center;">
    
                                    <img src="assets/images/india-flag.png" style="width: 23px;height: 23px;">
    
                                    <div class="name" style="font-family: var(--medium-global);font-size: 14px; color: #000;">
                                        <div>India</div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <img src="assets/images/aarbee.png" style="width: 46px;height: 30px;">
                                    <div class="name" style="font-family: var(--medium-global); font-size: 14px; color: #000;">800+ Employees</div>
                                </div>
                            </div>
                            <div style="display: flex;flex-direction: column; align-items: center; justify-content: space-around; background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center; color: #000;"
                                class="">
                                <div>
                                    <div style="font-size: 14px; text-align: center;"><span style="font-family:var(--table-th-font);">India (GMT+5:30)</span> <br>10:00 AM to 07:00 PM</div>
    
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <img src="assets/images/check.png" alt="check" style="width: 23px; height: 23px;">
    
    
                            </div>
                            <div style="display: flex;justify-content: center;background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <a href="javascript:void(0)"
                                        style="border: 1px solid #886DE0;background: #FFF;border-radius: 34px;color:#886DE0 ; display: flex;padding: 6px 12px; font-size: 14px; align-items: center; gap: 10px;">Learn
                                        More <lib-svg-icon [name]="'arrow-icon'" [size]="16"
                                            [sizeH]="18"></lib-svg-icon></a>
                                </div>
                            </div>
    
                        </div>
                        <div
                            style="display: flex; padding-top: 25px; flex-direction: column;align-items: center; color: #fff;width: 25%; ">
                            <div style="display: flex;justify-content: center;align-items: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <img src="assets/images/mac.png" style="width: 46px;height: 30px;">
                                    <div class="name" style="font-family: var(--semibold-global);font-size: 14px; color: #000;">MAC Engineers</div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;align-items: center; background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company" style="display: flex; gap: 10px;align-items: center;">
    
                                    <img src="assets/images/ellipse.png" style="width: 23px;height: 23px;">
    
    
                                    <div class="name" style="font-family: var(--medium-global);font-size: 14px; color: #000;">
                                        <div>Vietnam, <br>Singapore and <br>Germany
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <img src="assets/images/mac.png" style="width: 46px;height: 30px;">
                                    <div class="name" style="font-family: var(--medium-global); font-size: 14px; color: #000;">200+ Employees</div>
                                </div>
                            </div>
                            <div style="display: flex;flex-direction: column; align-items: center; justify-content: space-around; background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center; color: #000;"
                                class="">
                                <div>
                                    <div style="font-size: 14px; text-align: center;"><span style="font-family:var(--table-th-font);">Vietnam (GMT+7)</span> <br>10:00 AM to 07:00 PM </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <img src="assets/images/check.png" alt="check" style="width: 23px; height: 23px;">
    
    
                            </div>
                            <div style="display: flex;justify-content: center;background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <a href="javascript:void(0)"
                                        style="border: 1px solid #886DE0;background: #FFF;border-radius: 34px;color:#886DE0 ; display: flex;padding: 6px 12px; font-size: 14px; align-items: center; gap: 10px;">Learn
                                        More <lib-svg-icon [name]="'arrow-icon'" [size]="16"
                                            [sizeH]="18"></lib-svg-icon></a>
                                </div>
                            </div>
    
                        </div>
                        <div
                            style="display: flex; padding-top: 25px; flex-direction: column;align-items: center; color: #fff;width: 25%; ">
                            <div style="display: flex;justify-content: center;align-items: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <img src="assets/images/gbcEngineering.png" style="width: 46px;height: 30px;">
                                    <div class="name" style="font-family: var(--semibold-global);font-size: 14px; color: #000;">GBC Engineers</div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;align-items: center; background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company" style="display: flex; gap: 10px;align-items: center;">
    
                                    <img src="assets/images/ellipse.png" style="width: 23px;height: 23px;">
    
                                    <div class="name" style="font-family: var(--medium-global);font-size: 14px; color: #000;">
                                        <div>Germany and <br>Vietnam
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <img src="assets/images/gbcEngineering.png" style="width: 46px;height: 30px;">
                                    <div class="name" style="font-family: var(--medium-global); font-size: 14px; color: #000;">300+ Employees</div>
                                </div>
                            </div>
                            <div style="display: flex;flex-direction: column; align-items: center; justify-content: space-around; background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center; color: #000;"
                                class="">
                                <div>
                                    <div style="font-size: 14px; text-align: center;"><span style="font-family:var(--table-th-font);">Germany (GMT+2)</span> <br>10:00 AM to 07:00 PM </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <img src="assets/images/check.png" alt="check" style="width: 23px; height: 23px;">
    
    
                            </div>
                            <div style="display: flex;justify-content: center;background: #F3F8FF; width: 100%;height: 84px;font-family: var(--medium-global);font-size: 14px; align-items: center;"
                                class="">
                                <div class="company"
                                    style="display: flex; flex-direction: column;align-items: center; justify-content: space-around;">
                                    <a href="javascript:void(0)"
                                        style="border: 1px solid #886DE0;background: #FFF;border-radius: 34px;color:#886DE0 ; display: flex;padding: 6px 12px; font-size: 14px; align-items: center; gap: 10px;">Learn
                                        More <lib-svg-icon [name]="'arrow-icon'" [size]="16"
                                            [sizeH]="18"></lib-svg-icon></a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <app-special-project></app-special-project>
    <section class="whyBuildtwinSection">
        <div class="containerWrap">
            <app-why-buildtwin [isBrowseService]="true"></app-why-buildtwin>
        </div>
    </section>
    <app-hd-integrations></app-hd-integrations>

 <!-- <app-hd-good-company></app-hd-good-company> -->
    <div class="sticky-bottom" [ngClass]="{'cursor': !AvailableServicesToggle,'active': AvailableServicesToggle}" (mouseover)="AvailableServicesToggleStatusHover()" (click)="AvailableServicesToggle ? null : AvailableServicesToggleStatus(true)">
        <div class="toggle" [ngClass]="{'active':AvailableServicesToggle}" (click)="AvailableServicesToggleStatus(); $event.stopPropagation()">

        </div>
        <h3>
            Available Service for Direct Booking
            <small>
                Unlock the BuildTwin advantage
            </small>
        </h3>
        <!-- <ul class="flex logo-liist" *ngIf="formData.engineeringData.length">
            <ng-container *ngFor="let e of formData.engineeringData">
                <li *ngIf="e.logo">
                    <img [src]="e.logo ? e.logo : 'assets/images/placeholder-logo.png'" alt="" width="252" height="73">
                </li>
            </ng-container>
        </ul> -->
            <div class="flex bg-sticky" *ngIf="AvailableServicesToggle">
                <app-free-offer-form [type]="'outside'" [normalBtn]="true" [style]="'secondary'"></app-free-offer-form>
            </div>
    </div>
</div>
<app-hd-footer></app-hd-footer>