
.componentWrapper {
    display: flex;
    flex-direction: column;
    // row-gap: 30px;
    // background: #fafafa;
  }
  .aboutSlider {
    margin-left: -5px;
  }
  .containerWrap {
    padding-left: 100px;
    padding-right: 100px;
  }
  #explore-service-banner {
    ::ng-deep .owl-nav  {
      left: auto;
      right: 30px;
      top: auto;
      bottom: 20px;
      transform: none;
    }
    ::ng-deep {
      .owl-dots {
        right: auto;
        left: 26px;
      }
      .owl-theme .owl-dots .owl-dot {
        background: white;
      }
      .owl-theme .owl-dots .owl-dot.active {
        background: var(--color-theme);
      }
    }
    figure {
      margin: 0 0 0 5px;
      position: relative;
      img.abs {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 100%;
        mask-image: linear-gradient(111deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);
        -webkit-mask-image: linear-gradient(111deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);
        border-radius: 0 18px 18px 0;
      }
      &::after {
        content: "";
        position: absolute;
        left: -5px;
        top: -5px;
        right: 5px;
        height: 66px;
        border-radius: 0 18px 0 0;
        border: 1px solid var(--color-theme);
        border-bottom: 0;
      }
      &::before {
        content: "";
        position: absolute;
        left: -5px;
        top: 61px;
        height: 100px;
        width: 1px;
        background: var(--color-theme);
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 0 18px 18px 18px;
      }
    }
    .slide-banner {
      position: relative;
      padding-top: 5px;
      .content {
        position: absolute;
        left: 25px;
        top: 25px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        .top {
          display: flex;
          gap: 10px;
          .logo-banner {
            border-radius: 10px;
            background: #FFF;
            width: 190px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 37px 3px 38px;
            img {
              width: 68px;
            }
          }
          .detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
              font-size: 32px;
              font-weight: 500;
              margin: 0;
            }
            .location {
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  :host div ::ng-deep .integrations-area {
    padding-top: 0;
  }
  :host div ::ng-deep .services {
    padding-top: 0;
    padding-bottom: 0;
    background-position: right -10px;
  }
  //header
  .headerSection {
    padding: 73px 0 0;
    // background: linear-gradient(82deg, #FBFAFF -3.26%, #F5F4FF 121.32%);
    // box-shadow: 0px 0px 9px 0px rgba(208, 208, 208, 0.12);
  }
  //help
  .helpSection {
    padding: 0 0;
    background: none;
    .sectionHeader {
      display: flex;
      align-items: flex-start;
      .icon {
        padding-top: 0;
      }
    }
    .sectionContent {
      width: 100%;
      padding: 0 0 0;
      .helpGridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        width: 100%;
        gap: 10px;
      }
  
      .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .row {
        img {
          width: 100%;
        }
      }
      .gridItemWrapper {
        position: relative;
        .helpDetails {
          text-align: center;
          background: #fff;
          padding: 14px 24px;
          position: absolute;
          left: 12px;
          right: 12px;
          margin: auto;
          bottom: 10px;
          border-radius: 7px;
          .header {
            font-size: 20px;
            font-family: var(--semibold-global);
          }
          .details {
            margin: 5px 0;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
  
      img {
        width: 100%;
        border-radius: 7px;
      }
    }
    //global
    .icon {
      padding-top: 25px;
    }
  }
  //solution provider
  .solutionProviderSection {
    padding: 0 24px;
    background: none;
    .sectionHeader {
      display: flex;
      align-items: center;
      .icon {
        padding-top: 25px;
      }
    }
    .sectionContent {
      margin: 28px 0 23px 0;
      width: 100%;
      display: flex;
      gap: 10px;
      .leftSection {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: flex-start;
        width: 30%;
        padding: 25px;
        border-radius: 7px;
        background: #fff;
        box-shadow: 0px 9px 36px 0px rgba(44, 44, 44, 0.04);
        .bookService {
          background: var(--background-white);
          box-shadow: 0px 9px 36px 0px #2c2c2c0a;
          border-radius: 8px;
          padding: 22px 22px 40px;
  
          h2 {
            font-size: 27px;
            margin-bottom: 25px;
          }
  
          .smallHeading {
            font-family: var(--medium-global);
            font-size: 13px;
            display: block;
            margin-bottom: 12px;
          }
        }
  
        .bookServiceForm {
          gap: 30px;
          padding-bottom: 12px;
  
          > div {
            width: 50%;
          }
  
          .groupField {
            align-items: center;
            gap: 18px;
            margin-bottom: 18px;
  
            > div {
              width: 50%;
            }
          }
        }
  
        .selectBox {
          background: var(--assistantBackgroundColor-global);
          border: 1px var(--border-color) solid;
          border-radius: 6px;
          position: relative;
          width: 100%;
          app-bt-select {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
  
            ::ng-deep {
              .ant-select {
                width: 100%;
              }
            }
          }
  
          > div {
            position: relative;
  
            &:after {
              content: "";
              border-right: 2px var(--color-theme) solid;
              border-bottom: 2px var(--color-theme) solid;
              width: 8px;
              height: 8px;
              position: absolute;
              right: 13px;
              top: 50%;
              transform: rotate(45deg) translateY(-50%);
              transform-origin: top right;
            }
          }
  
          &.countryField {
            > div {
              padding: 9px 0 9px 0;
              gap: 8px;
            }
  
            ::ng-deep {
              .ant-select-single:not(.ant-select-customize-input)
                .ant-select-selector {
                height: 52px;
              }
            }
  
            small {
              display: block;
              font-family: var(--semibold-global);
              font-size: 11px;
            }
          }
  
          &.precastField {
            ::ng-deep {
              .ant-select-single:not(.ant-select-customize-input)
                .ant-select-selector {
                height: 74px;
              }
            }
          }
  
          &.precastField,
          &.dateField {
            > div {
              padding: 9px 35px 8px 10px;
              min-height: 74px;
            }
          }
  
          &.dateField {
            > div {
              &:after {
                display: none;
              }
  
              lib-svg-icon {
                position: absolute;
                right: 9px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
  
            nz-date-picker {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              opacity: 0;
            }
          }
  
          .title {
            display: block;
            font-family: var(--medium-global);
            font-weight: 500;
            font-size: 13px;
            color: var(--color-theme);
          }
  
          .selectedValue {
            display: flex;
            font-size: var(--font-size-h6);
            line-height: 1.2;
            gap: 7px;
  
            &.day {
              color: var(--color-theme);
            }
          }
        }
  
        .preQualified {
          font-family: var(--medium-global);
          font-size: 13px;
          position: relative;
          gap: 10px;
          cursor: pointer;
  
          span {
            background: var(--color-theme);
            border-radius: 4px;
            position: relative;
            width: 22px;
            height: 22px;
  
            &:after {
              content: "\2713";
              font-size: 14px;
              line-height: 1;
              color: white;
              position: absolute;
              left: 6px;
              top: 4px;
              opacity: 0;
              transition: all 0.5s ease;
            }
          }
  
          input {
            width: 22px;
            height: 22px;
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
  
            &:checked {
              + span {
                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }
  
        .timeFrame {
          padding-top: 41px;
        }
  
        .bookServiceFormBottom {
          align-items: center;
        }
  
        .projectStartIn {
          > span {
            margin-bottom: 15px;
          }
          ul {
            margin: 0;
            gap: 25px;
          }
  
          li {
            label {
              display: flex;
              align-items: center;
              margin: 0;
              gap: 7px;
              position: relative;
              cursor: pointer;
  
              input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
              }
  
              span {
                background: #f9f8f6;
                border: 0.55px solid var(--border-color);
                border-radius: 50%;
                width: 18px;
                height: 18px;
                position: relative;
                transition: all 0.5s ease;
  
                &:after {
                  content: "";
                  background: var(--color-theme);
                  border-radius: 50%;
                  width: 9px;
                  height: 9px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  opacity: 0;
                  transform: translate(-50%, -50%);
                  transition: all 0.5s ease;
                }
              }
  
              input {
                &:checked {
                  + span {
                    border-color: var(--color-theme);
  
                    &:after {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
  
        .tenderBtn {
          background: var(--color-theme);
          border-radius: 6px;
          font-family: var(--medium-global);
          font-size: 16px;
          color: #fff;
          width: 188px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          height: 45px;
        }
        .moreFilters {
          margin: 30px 0 74px 0;
          color: #0053fa;
          font-size: 16px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .rightSection {
        width: 70%;
        > div {
          display: flex;
          border-radius: 7px;
        }
        .companyCriterias {
          display: flex;
          flex-direction: column;
          background: linear-gradient(170deg, #9c7efd 0.97%, #0053fa 97.09%);
          color: #fff;
          padding: 25px 25px 0px 25px;
          width: 25%;
          .company {
            height: 84px;
            font-family: var(--medium-global);
            font-size: 16px;
            align-items: flex-start;
            display: flex;
            align-items: center;
          }
          .columnWrapper {
            display: flex;
            padding-top: 25px;
            flex-direction: column;
            align-items: center;
            color: #fff;
            width: 25%;
          }
          .companyWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 84px;
            font-family: var(--medium-global);
            font-size: 16px;
            align-items: center;
          }
          .company {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
          }
          .companyImage {
            width: 46px;
            height: 30px;
          }
          .name {
            font-family: var(--semibold-global);
            font-size: 16px;
            color: #000;
          }
          .companyLocation {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F3F8FF;
            width: 100%;
            height: 84px;
            font-family: var(--medium-global);
            font-size: 16px;
            align-items: center;
          }
        }
      }
    }
  }
  //carousel
  
  //discoverProjects
  
  .discoverProjectsSection ::ng-deep {
    .squareButtonWrapper .owl-nav {
      left: auto;
      right: 0;
      top: -90px;
      transform: none;
      width: auto;
      gap: 20px;
    }
    .slick-list, .slick-slide, .slick-track, .slick-slide {
      max-height: 600px;
    }
  }
  .discoverProjectsSection {
    padding: 0 0;
    // background: #fafafa;
  
    .sectionHeader {
      display: flex;
      align-items: flex-start;
      .icon {
        padding-top: 0;
      }
    }
    .sectionContent {
      // height: 614px;
      .cardContainer {
        // display: flex;
        // gap: 23px;
        // justify-content: space-between;
        padding: 0 0 0;
        position: relative;
        ::ng-deep .owl-stage {
          padding-bottom: 0;
        }
        // ::ng-deep img {
        //   width: revert-layer;
        // }
        .leftslideButton {
          position: absolute;
          top: 95px;
          left: 0;
          transform: rotate(180deg);
          cursor: pointer;
          z-index: 1;
        }
        .rightslideButton {
          position: absolute;
          top: 95px;
          right: 0;
          cursor: pointer;
        }
      }
      .projectCard {
        // width: 365px;
        // min-width: 365px;
        // margin-right: 16px;
        display: flex;
        gap: 12px;
        border-radius: 12px;
        border: 1px solid #E9E9E9;
        background: linear-gradient(180deg, #FFF 0%, #F4F6FA 100%);
        // box-shadow: 0px 12.022px 17.174px 0px rgba(44, 44, 44, 0.06);
        padding: 8px;
      }

      figure {
        width: 47%;
        min-width: 47%;
        max-width: 47%;
        margin: 0;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        .company {
          position: absolute;
          left: 8px;
          top: 8px;
          padding: 2px 6px 2px 2px;
          display: flex;
          align-items: center;
          gap: 4px;
          &::before {
            content: "";
            border-radius: 100px;
            background: rgba(0, 0, 0, 0.50);
            backdrop-filter: blur(7px);
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          img {
            position: relative;
            z-index: 2;
            width: 18.383px;
            height: 18.383px;
          }
          .companyName {
            position: relative;
            z-index: 2;
            color: #FFF;
            font-size: 12px;
          }
        }
      }
      .projectImage {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .slider-content {
        padding: 6px 12px;
        display: flex;
        flex-direction: column;
      }
      .projectHighlight {
        flex-grow: 1;
        img {
          height: 14px;
          width: 14px;
        }
        .projectCategory {
          font-weight: 500;
          font-size: 14px;
          color: #668189;
          margin-top: -2px;
        }
        .service {
          font-size: 12px;
          color: #668189;
          line-height: 18px;
          margin-top: 6px;
        }
        .projectName {
          font-family: var(--semibold-global);
          font-size: 20px;
        }
        // .company {
        //   display: flex;
        //   font-weight: 400;
        //   font-size: 14px;
        //   margin-top: 7px;
        //   align-items: center;
        //   gap: 5px;
        // }
        // .companyIcon {
        //   margin-top: -4px;
        //   margin-left: -8px;
        // }
      }
      .serviceCompanyDetails {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        padding: 10px 0 0;
        .serviceCompany {
          display: flex;
          // justify-content: flex-start;
          // column-gap: 10px;
          gap: 4px;
          align-items: center;
          figure {
            width: 40px;
            height: 40px;
            margin: 0;
            border-radius: 50%;
            overflow: hidden;
            max-width: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .companyIcon {
            height: 30px;
            width: 57px;
            align-self: flex-start;
          }
          .companyNameVendor {
            font-family: var(--semibold-global);
            font-size: 14px;
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 4px;
            padding-right: 50px;
            flex-grow: 1;
            small {
              font-size: 12px;
              color: #0053FA;
              font-family: var(--medium-global);
            }
            .arrow {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        .companyDetails {
          .service {
            font-weight: 400;
            font-size: 14px;
          }
        }
        .cardFooter {
          border-radius: 6px;
          background: #f8f6ff;
          padding: 12px;
          color: #0053fa;
          font-family: var(--semibold-global);
          font-size: 14px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  
  //whyBuildtwin
  .whyBuildtwinSection {
    padding: 0 0;
    background: none;
    .sectionHeader {
      display: flex;
      align-items: center;
      .icon {
        padding-top: 25px;
      }
    }
  }
  :host ::ng-deep .ant-carousel .slick-slider {
    width: calc(100vw - 373px);
  }

  // unnique CSS
  .headerSection {
    padding-top: 88px;
  }
  :host ::ng-deep .ant-carousel .slick-slider {
    width: 100%;
  }
  .discoverProjectsSection .sectionContent .projectCard {
    min-width: 0;
    max-width: calc(100% - 0px);
    width: auto;
  }
  .discoverProjectsSection .sectionContent .cardContainer .leftslideButton {
    z-index: 2;
  }


  .helpSection .sectionContent .column {
    .row {
      margin: 0;
    }
  }
  .helpSection .sectionContent .gridItemWrapper {
    padding: 0;
  }

.toggle {
  position: absolute;
  right: 100px;
  top: 40px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(5px);
  font-size: 0;
  cursor: pointer;
  &::after {
      top: 50%;
      content: "";
      position: absolute;
      left: 50%;
      width: 15px;
      height: 15px;
      margin-top: 5px;
      border-top: 2.5px solid #002E3B;
      border-right: 2.5px solid #002E3B;
      transform: translate(-50%, -50%) rotate(-45deg);
  }
  &.active {
      &::after {
          transform: translate(-50%, -50%) rotate(135deg);
          margin-top: -4px;
      }
  }
}
  .sticky-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 100px 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-top: 1px solid #DDD;
    gap: 20px;
    z-index: 99;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
    &:hover,
    &.active {
        background: rgb(242, 242, 242);
    }
    h3 {
        font-size: 26px;
        small {
            padding-top: 4px;
            color: var(--lightTextColor);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            display: block;
            letter-spacing: 0.35px;
        }
    }
    ul.logo-liist {
        gap: 25px;
        width: auto;
        align-items: center;
        margin-bottom: 10px;
    }
    .bg-sticky {
        border-radius: var(--padding-medium-pad-12, 12px);
        border: 1px solid #EAEAEA;
        background: #FAFAFA;
        padding: 20px;
        gap: 18px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .default-btn.mdc-button {
        align-self: center;
    }
}
@media only screen and (max-width : 1200px) {
  .containerWrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width : 1024px) {
  .headerSection, .discoverProjectsSection, .helpSection {
    padding-left: 0;
    padding-right: 0;
  }
  .helpSection .sectionContent .gridItemWrapper .helpDetails .header {
    font-size: 14px;
  }
  .helpSection .sectionContent .gridItemWrapper .helpDetails .details {
    font-size: 12px;
  }
  .helpSection .sectionContent .gridItemWrapper .helpDetails {
    padding: 10px;
  }
}
@media only screen and (max-width : 900px) {

  #explore-service-banner figure img.normal {
    height: 250px;
  }
  .containerWrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sticky-bottom {
    padding: 30px 20px 30px 20px;
}
.toggle {
    right: 20px;
}
.sticky-bottom h3 {
    font-size: 20px;
    padding-right: 60px;
}
.sticky-bottom .bg-sticky {
    flex-wrap: wrap;
}
}
@media only screen and (max-width : 767px) {
  #explore-service-banner .slide-banner .content .top .logo-banner {
    width: 120px;
    height: 46px;
  }
  #explore-service-banner .slide-banner .content .top {
    flex-direction: column;
  }
  #explore-service-banner .slide-banner .content {
    gap: 20px;
  }
  #explore-service-banner .slide-banner .content .top .detail .location {
    font-size: 14px;
  }
  #explore-service-banner ::ng-deep .owl-nav {
    right: 20px;
    bottom: 10px;
  }
  #explore-service-banner ::ng-deep .owl-dots {
    bottom: 10px;
  }
  .containerWrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sectionTop .heading {
    font-size: 24px;
  }
  .headerSection,
  .discoverProjectsSection {
    padding-left: 0;
    padding-right: 0;
  }
  .discoverProjectsSection {
    .sectionContent .cardContainer ::ng-deep .owl-stage {
      padding-bottom: 0;
    }
    ::ng-deep .squareButtonWrapper .owl-nav {
      top: -48px;
    }
    .sectionHeader {
      .icon {
        margin-left: -15px;
      }
    }
    .sectionContent {
      margin: 0 0;
      .serviceCompanyDetails .serviceCompany figure {
        width: 30px;
        height: 30px;
        max-width: 30px;
        min-width: 30px;
      }
      .serviceCompanyDetails .serviceCompany .companyNameVendor {
        font-size: 12px;
        padding-right: 0;
        .arrow {
          display: none;
        }
      }
      .serviceCompanyDetails .serviceCompany .companyNameVendor small {
        font-size: 10px;
      }
      .slider-content {
        padding: 6px 0;
      }
      .projectHighlight {
        .projectCategory {
          font-size: 12px;
        }
        .projectName {
          font-size: 16px;
        }
        .service {
          font-size: 10px;
          line-height: 15px;
        }
      }
      .projectCard {
        width: 100%;
        min-width: 100%;
        // margin-right: 15px;
      }

      .cardContainer {
        padding: 0 0 0;
        .leftslideButton {
          top: 100px;
          left: -12px;
        }
        
        .rightslideButton {
          right: -12px;
          top: 100px;
        }
      }
    }
  }

  .helpSection {
    padding: 0;
    
    .sectionHeader {
      .icon {
        margin-left: -15px;
      }
    }

    .sectionContent {
      padding: 0 0;

      .helpGridContainer {
        grid-template-columns: repeat(1, 1fr);
      }

      .column {
        gap: 10px;
      }
    }
  }

  .solutionProviderSection {
    padding: 0;

    .sectionHeader {
      .icon {
        margin-left: -15px;
      }
    }

    .sectionContent {
      margin: 30px 0;
      flex-direction: column;

      .leftSection {
        width: auto;

        .moreFilters {
          margin: 10px 0;
        }
      }

      .rightSection {
        width: auto;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        > div {
          width: 900px;
        }
      }
    }
  }


  .whyBuildtwinSection {
    padding: 0;
  }
  
}