<div
    class="services-area position-relative z-1"
    style="background-image: url(assets/images/services/services-bg.jpg);"
>
    <div class="container">
        <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 fw-semibold font-archivo">
               BuildTwin ALL-in-One solution
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                <div class="service-box">
                    <img src="assets/images/services/service1.jpg" alt="service-image">
                    <div class="content">
                        <h3 class="font-archivo fw-semibold">
                            Manage your project with AI 
                        </h3>
                        <p>
                            Virtual meetings are easier than ever. No downloads necessary to join in.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="service-box">
                    <img src="assets/images/services/service2.jpg" alt="service-image">
                    <div class="content">
                        <h3 class="font-archivo fw-semibold">
                            Access to BuildTwin marketplace
                        </h3>
                        <p>
                            BuildTwin has a DSM system (digital self management). 
                            WTith unified administration across all GoTo products, hosting, managing, monitoring and supporting users.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="service-box">
                    <img src="assets/images/services/service3.jpg" alt="service-image">
                    <div class="content">
                        <h3 class="font-archivo fw-semibold">
                            Access to BuildTwin Training 
                        </h3>
                        <p>
                            Ensure attendees never miss a word with background noise supression and built-in audio for VoIP and toll.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>