.testimonials-area {
    border-radius: 80px 80px 0 0;
    background-color: #e1ece8;

    .om-section-title {
        max-width: 402px;
    }
    .container-fluid {
        max-width: 1920px;
        padding: {
            left: 0;
            right: 0;
        };
    }
}
.testimonial-item {
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: var(--whiteColor);
    border: 2px solid var(--blackColor);
    
    .logo {
        width: auto !important;
        display: inline-block !important;
    }
    .rating {
        margin-left: 10px;

        i {
            margin-right: 3px;
            color: #ffd62c;
            font-size: 18px;
            line-height: 1;
        }
        span {
            top: 1px;
            font-size: 16px;
            margin-left: 5px;
            position: relative;

            span {
                top: 0;
                margin-left: 0;
                color: #878790;
            }
        }
    }
    p {
        line-height: 1.6;
        font-size: 18px;
        margin: {
            top: 25px;
            bottom: 20px;
        };
    }
    .user {
        display: inline-block !important;
        width: 36px !important;
        border-radius: 50%;
        height: 36px;
    }
    .name {
        color: var(--paragraphColor);
        margin-left: 10px;
    }
}
::ng-deep {
    .testimonials-slides {
        .owl-theme {
            .owl-dots {
                margin-top: 0 !important;

                .owl-dot {
                    span {
                        width: 10px;
                        height: 10px;
                        margin: 0 5px;
                        border-radius: 50%;
                        background: var(--whiteColor);
                        transition: var(--transition);
                    }
                    &:first-child {
                        span {
                            margin-left: 0;
                        }
                    }
                    &:last-child {
                        span {
                            margin-right: 0;
                        }
                    }
                    &:hover, &.active {
                        span {
                            background: var(--primaryColor);
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .testimonials-area {
        border-radius: 20px 20px 0 0;
    
        .om-section-title {
            max-width: 100%;
        }
        .container-fluid {
            max-width: 100%;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .testimonial-item {
        padding: 20px;
        
        .rating {
            margin: {
                left: 0;
                top: 15px;
            };
            i {
                font-size: 17px;
            }
            span {
                font-size: 15px;
            }
        }
        p {
            font-size: 15px;
            margin: {
                top: 15px;
                bottom: 15px;
            };
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .testimonials-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .testimonials-area {
        border-radius: 40px 40px 0 0;
    
        .om-section-title {
            max-width: 350px;
        }
        .container-fluid {
            max-width: 100%;
        }
    }
    .testimonial-item {
        padding: 22px;
        
        .rating {
            margin: {
                left: 0;
                top: 15px;
            };
            i {
                margin-right: 1px;
                font-size: 16px;
            }
            span {
                font-size: 15px;
            }
        }
        p {
            font-size: 16px;
            margin: {
                top: 15px;
                bottom: 15px;
            };
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .testimonials-area {
        border-radius: 60px 60px 0 0;
    
        .container-fluid {
            max-width: 100%;
        }
    }
    .testimonial-item {
        padding: 35px;
        
        p {
            font-size: 17px;
            margin: {
                top: 20px;
                bottom: 20px;
            };
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .testimonials-area {
        .container-fluid {
            max-width: 100%;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .testimonials-area {
        .container-fluid {
            max-width: 100%;
        }
    }

}