<div class="rightTeamWrapper">
    <div class="container">
        <div class="hd-section-title text-center ms-auto me-auto aos-init"  data-aos="fade-up" data-aos-duration="500" >
            <h2>Find the Right Team - For your Project </h2>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p> -->
        </div>
        <div class="threeCards">
            <div class="greyCard"  data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
                <h3>Design & Coordination</h3>
                <p>Structural Design Consultancy onsite with experience leveraging BuildTwin </p>
                <ul>
                    <li>Full Integration in your WorkFlow</li>
                    <li>Support of all major CDEs </li>
                    <li>on Site Support</li>
                </ul>
                <a href="" class="cardFooter">
                    <span>Explore BuildTwin Design Partners </span>
                    <lib-svg-icon class="arrowIcon" [name]="'arrow-icon'" [size]="14"
                                        [sizeH]="22"></lib-svg-icon>
                </a>
            </div>
            <div class="greyCard secondCard" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="300">
                <h3>Detailing</h3>
                <p>Static calculation and technical documentation throughout all phases of structural planning</p>
                <p>Reinforced concrete and prestressed concrete precast structures</p>
                <ul>
                    <li>Overview Plans</li>
                    <li>Element Plans</li>
                    <li>Static Calculation</li>
                </ul>
                <a href="" class="cardFooter">
                    <span>Explore Detailing Partners </span>
                    <lib-svg-icon class="arrowIcon" [name]="'arrow-icon'" [size]="14"
                                        [sizeH]="22"></lib-svg-icon>
                </a>
            </div>
            <div class="greyCard thirdCard" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400">
                <div>
                    <img src="../../../../assets/images/buildL.png" alt="" width="142px">
                </div>
                <h3>Factory interface </h3>
                <p>Data transfer to your factory & construction site</p>
                <ul>
                    <li>Tim production data, PXML etc. for Mesh Welding Systems</li>
                    <li>.abs files for Bending Machines</li>
                    <li>Mass and parts list for built-in parts & material.</li>
                    <li>Plug & Play with most CDE Systems</li>
                </ul>
            </div>
        </div>
    </div>
</div>

