
    <app-traning-review>
    <div class="traning_review">
        <div class="container">
            <div class="head">
            <h2>What we stand for</h2>
            
    <p>
        BuildTwin stands for delivering better results and creating business opportunities across the globe. By deploying AI across project management 
        <br>in construction, we unlock time for engineers to focus on value engineering.
    </p>
    <i class="svg">
        <img src="assets/images/ui/traningSvg.png" alt="Training">
    </i>
    </div>   

    <div class="list">
       
        <div class="listInner">
            <span class="number">01</span>
            <div class="box">
                <strong>
                    Trust 
                </strong>
                <span>A strong foundation</span>
                <p>
                    BuildTwin is a German company with a rich tradition in construction 
                    and an experienced management team.
                </p>
            </div>
        </div>
        <div class="listInner">
            <span class="number">02</span>
            <div class="box">
                <strong>
                    AI First 
                </strong>
                <span>Ahead of its time</span>
                <p>
                    We combine daily user experience and feedback with the latest advancements in AI.
                </p>
            </div>
        </div>
        <div class="listInner">
            <span class="number">03</span>
            <div class="box">
                <strong>
                    Transparancy
                </strong>
                <span>Open-minded </span>
                <p>
                    Transparency is the key to trust and unlocking unseen business opportunities for our partners.
                </p>
            </div>
        </div>

        <div class="listInner">
            <span class="number">04</span>
            <div class="box">
                <strong>
                    Fairness
                </strong>
                <span>Balanced views</span>
                <p>
                    We balance interests and execute to continuously create win-win solutions for all participants.
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
</app-traning-review>
