<div class="faqWrapper global-mb">
    <div class="container">
        <div class="container-with-right">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h3 class="faq-heading-main">
                    <strong>Frequently Asked Questions</strong>
                </h3>
                <p>Here are some frequently asked questions about CAD Services.</p>
            </div>

            <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <mat-accordion>
                     <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How do millwork drafting services improve interior design projects?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Millwork drafting ensures that all custom woodwork elements are designed to exact specifications, helping architects and interior designers communicate clearly with fabricators and reduce on-site errors.
                        </p>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Why should I outsource CAD modeling services?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Outsourcing CAD modeling services gives you access to skilled professionals who deliver accurate 2D and 3D models, reduce overhead costs, and speed up your design-to-construction workflow.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How do 3D modeling services benefit construction and design projects?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            3D modeling services enhance spatial visualization, detect design conflicts early, and support client presentations, enabling better communication and fewer errors during construction.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What are structural CAD services used for?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Structural CAD services are used to create accurate 2D and 3D drawings of structural components, including beams, columns, foundations, and reinforcement details for residential, commercial, or industrial projects.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Why are shop drawings important in construction?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Shop drawings translate design intent into actionable fabrication plans, providing contractors and fabricators with the exact details needed for efficient and error-free construction.
                        </p>
                    </mat-expansion-panel>



                    <!-- <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What types of CAD services are offered through BuildTwin?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Our marketplace has vendors offering a diverse range of CAD services through our platform.              
                        </p>

                        <ul>
                            <li><b style="font-weight: 600;">2D Drafting</b>: Drafting for floor plans, sections, and layouts.
                            </li>

                            <li><b style="font-weight: 600;">3D Modeling</b>: Advanced 3D models for architectural, structural, and mechanical
                                designs.
                            </li>

                            <li><b style="font-weight: 600;">BIM Integration</b>: BIM coordination and clash detection.
                            </li>

                            <li><b style="font-weight: 600;">Steel Detailing</b>: Detailing for structural steel components.
                            </li>

                            <li><b style="font-weight: 600;">Rebar Detailing</b>: Drawings and schedules for reinforcing steel.
                            </li>

                            <li><b style="font-weight: 600;">MEP Drafting</b>: Drafting for mechanical, electrical, and plumbing systems.
                            </li>
                        </ul>
                    
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does BuildTwin ensure the quality of CAD services provided by vendors?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            The vendors listed in BuildTwin marketplace are vetted by experts. All our vendors 
                            adhere to globally recognized standards in CAD services. Here are some of the 
                            compliances standards we follow.
                        </p>

                        <ul>
                            <li><b style="font-weight: 600;">ISO 19650</b>: Standards for managing information using BIM throughout the 
                                project lifecycle.
                            </li>

                            <li><b style="font-weight: 600;">ASME Y14.5</b>: Guidelines for Geometric Dimensioning and Tolerancing (GD&T).
                            </li>

                            <li><b style="font-weight: 600;">AISC Standards</b>: Specifications for structural steel detailing.
                            </li>

                            <li><b style="font-weight: 600;">BS 8888</b>: British standards for technical product documentation.
                            </li>

                            <li><b style="font-weight: 600;">DIN Standards</b>: German standards for precision in mechanical and structural 
                                CAD design.
                            </li>
                        </ul>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Can I choose from pre-qualified vendors for CAD Services on BuildTwin?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>

                            Yes. At BuildTwin, we offer access to a pool of pre-qualified vendors specializing in CAD
                            services. Our marketplace lets you
                        </p>

                        <ul>
                            <li><b style="font-weight: 600;">Browse Vendor Profiles</b>: View detailed profiles, including past projects, client 
                                reviews, and areas of expertise.
                            </li>

                            <li><b style="font-weight: 600;">Compare Bids</b>: Receive and compare bids from multiple vendors to find the best 
                                fit for your project budget and timeline.
                            </li>

                            <li><b style="font-weight: 600;">Select Based on Expertise</b>: Choose vendors with specific experience relevant to 
                                your project's requirements.
                            </li>

                            <li><b style="font-weight: 600;">Get Global Access</b>: Connect with vendors worldwide, giving you access to a 
                                broader talent pool and competitive pricing.
                            </li>
                        </ul>

                        <p>
                            Our platform simplifies the vendor selection process, ensuring you find the right partner
                            for your project.                       
                        </p>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does BuildTwin's AI technology enhance CAD services?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            At BuildTwin, we leverage AI to enhance CAD services in several ways:
                        </p>

                        <ul>
                            <li><b style="font-weight: 600;">AI Design Manager</b>: Assists with project management tasks, automates routine 
                                processes, and helps in maintaining compliance with industry standards. 
                            </li>

                            <li><b style="font-weight: 600;">Automated Quality Checks</b>: AI algorithms review drawings and models for 
                                errors, ensuring high-quality outputs.
                            </li>

                            <li><b style="font-weight: 600;">Efficient Communication</b>: AI-powered tools facilitate streamlined 
                                communication between clients and vendors, reducing delays.
                            </li>

                            <li><b style="font-weight: 600;">Data Management</b>: Our AI manages project data securely, providing easy 
                                access and version control.
                            </li>

                            <li><b style="font-weight: 600;">Predictive Insights</b>: AI provides insights into project timelines and potential 
                                bottlenecks, allowing for proactive management.
                            </li>
                        </ul>

                        <p>
                            By integrating AI, we help you achieve greater efficiency, accuracy, and productivity in 
                            your CAD projects.
                        </p>

                    </mat-expansion-panel> -->

                </mat-accordion>
            </div>
        </div>
    </div>
</div>