<app-hd-navbar></app-hd-navbar>

<app-em-banner></app-em-banner>

<app-em-partners></app-em-partners>

<app-em-features></app-em-features>

<app-what-you-will-get></app-what-you-will-get>

<app-automation></app-automation>

<div class="pt-100"></div>

<!-- 
<app-team-style-one></app-team-style-one>
-->

<div class="pb-100"></div>

<app-segmentation></app-segmentation>

<app-em-integrations></app-em-integrations>

<div class="pt-100">
    <app-em-testimonials></app-em-testimonials>
</div>

<!--
<app-em-pricing></app-em-pricing>
-->

<app-em-faq></app-em-faq>

<app-join-us></app-join-us>

<app-hd-footer></app-hd-footer>