<app-hd-navbar></app-hd-navbar>

<!-- Hero Section -->

<app-here-section>
    <div class="banner-area position-relative z-1">
   
    

        <div class="sliderCover">
            <div class="item">
                <div class="container">
                <div class="banner-content text-center ms-auto me-auto">
                  
                    <p class="ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">                      
                        The BuildTwin Mission.
                    </p>
                    <h1 class="font-poppins" data-aos="fade-up" data-aos-duration="500">

                    „Sourcing, matching and utilizing <span class="jeffStyle">engineering</span>
                    teams efficiently, while <u>meeting</u> project, cost
                    and quality requirements.“

                  </h1>
                  <div class="btn-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                  </div>
                  <ul class="features-list ps-0 mb-0 list-unstyled" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                  </ul>
                </div>
                </div>
              </div>
        
          </div>
          
          <br><br><br><br><br><br><br><br><br><br>

            <!-- 
            <div class="shape1 position-absolute z-n1 pe-none">
                <img src="assets/images/shapes/shape13.png" alt="shape13">
            </div>
            <div class="shape2 position-absolute z-n1 pe-none">
                <img src="assets/images/shapes/shape21.png" alt="shape21">
            </div>
            -->
          
          
            <div class="overlay position-absolute z-n1"></div>
        </div>
</app-here-section>
<app-market-place>
    <div class="marketPlace "  id="scrollActivated">
        <div class="container">

      
        <div class="head">
            <h2>
                Why BuildTwin
            </h2>
            <span>
                BuildTwin supercharges engineering teams - across the globe. 
            </span>

            <div class="pagination">
               
                    <ul >
                        <li class="active"  [ngClass]="{active: activeState === 1 }">
                            <i class="cirlce"></i>
                            <span>Why</span>
                        </li>
                        <li [ngClass]="{active: activeState === 2 }">
                            <i class="cirlce"></i>
                            <span>How</span>
                        </li>
                        <li [ngClass]="{ active: activeState === 3 }">
                            <i class="cirlce"></i>
                            <span>What</span>
                        </li>
                    </ul>
                 
            </div>
        </div>

        <div class="slide" data-element21="1">
            <div class="imgWrap">
                <img src="assets/images/ui/slide1.png" width="651" height="386">
            </div> 
            <div class="contentWrap">
                <h3>Why </h3>
                <p> 

                    It is time to maximize your technical teams potential. By cutting the noise of 
                    coordination and project management - engineers are free to do what they do best. 

                    <br><br>
                    More <u>value</u> engineering, less hassle. 

                    <br>
                </p>
            </div>
        </div>
        <div class="slide" data-ele="2">
            <div class="imgWrap">
                <img src="assets/images/ui/slide2.png" width="651" height="386">
            </div> 
            <div class="contentWrap">
                <h3>How</h3>
                <p>
                    BuildTwin Co-Pilot is the HOW of high-performance engineering, transforming coordination 
                    and documentation into seamless collaboration.

                    <br><br>
                    With BuildTwin Co-Pilot, the heavy lifting is handled in the background—consolidating 
                    inputs, managing files, and tracking progress against timelines—so your team can 
                    focus on the engineering that matters.

                </p>
                <a href="">How Co-Pilot works</a>
            </div>
        </div>
        <div class="slide" data-ele="3">
            <div class="imgWrap">
                <img src="assets/images/ui/slide3.png" width="651" height="386">
            </div> 
            <div class="contentWrap">
                <h3>What ... </h3>
                <p>
                    ... defines BuildTwin? The BuildTwin Marketplace revolutionizes project scaling by standardizing engineering 
                    services and uniting over 2,000+ engineers in a global network. 

                    <br><br>
                    BuildTwin is the hub for engineering expertise and scale, ensuring your projects are managed by top-tier technical teams 
                    while Co-Pilot steers the helm of project management.
                    <br><br>
                    Plug & Play into all major workflows.
                </p>
                <a href="">Schedule a Call with Our Team</a>
            </div>
        </div>
    </div>
    </div>
</app-market-place>



<!-- BuildTwin offer for Service Provider / Service Procurer -->

<div class="happier-customers-area pt-75">
    <div class="container">
        <div class="row happier-customers-inner">
            <div class="hd-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
                <h2 class="mb-0 font-poppins">
                    <h2>BuildTwin <i class="jeffStyle">Solutions</i></h2>
                </h2>
                <p class="ms-auto me-auto">
                    BuildTwin is the backbone of a streamlined engineering process empowering providers and procurers to focus on what they do best. 
                    With a trio of distinct solutions, <u>Co-Pilot, Marketplace and Training</u>, BuildTwin is designed to elevate the engineering process:   
                </p>
            </div>
            
     
            <div class="happier-customers-image ms-auto me-auto text-center position-relative z-1">
                <img src="assets/images/happier-customers/happier-customers2.png" alt="happier-customers-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            </div>
        </div>
    </div>
</div>



<!-- Partners -->
<app-em-partners></app-em-partners>

<br>
<!-- Product Comparision -->

<div class="container">
<section class="content-wrapper">
    <div class="header-section">
        <h2 class="header-title">What BuildTwin</h2>
        <h3 class="offer-text">can do for you</h3>
    </div>
    <div class="services-section">
        <div class="services-intro">I am / We are</div>
        <div class="services-container">
            <h4 class="services-title">Procuring engineering services</h4>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cce01dc6eca3498f0168c47d213f2e7765193ce28763768bcee719b9633f09da?apiKey=36850388eee14aa189272e3e1adf474e&"
                alt="" class="services-img" />
        </div>
    </div>
</section>
<div class="tableWrapper">

    <div class="tableheader bt-flex">
        <div class="col1">Co-Pilot Features</div>
        <div class="col2">
            <img src="assets/auto/z.png" width="89" height="24">
        </div>
        <div class="col3">Legacy Tools</div>
        <div class="col4">Potential Saving</div>
    </div>
    <div class="group">
        <div class="tableSubheader bt-flex">
            <div class="col1 headingSubheader">E-Mail</div>
            <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                    viewBox="0 0 19 19" fill="none">
                    <g clip-path="url(#clip0_5405_16691)">
                        <path
                            d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                            fill="#00B507" />
                    </g>
                    <defs>
                        <clipPath id="clip0_5405_16691">
                            <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                        </clipPath>
                    </defs>
                </svg> Included</div>
            <div class="col3">Exchange, own-Email Server</div>
            <div class="col4">$200</div>

        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Compliant E-Mail Inbox for Teams</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Summarizing E-Mail and showing 360° technical context and history</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Tracking of discussed topics, timelines, etc. and updating project management
            </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Drafting respond e-mails with relevant context </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>
    </div>
    <div class="group">
        <div class="tableSubheader bt-flex">
            <div class="col1 headingSubheader">File Management </div>
            <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                    viewBox="0 0 19 19" fill="none">
                    <g clip-path="url(#clip0_5405_16691)">
                        <path
                            d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                            fill="#00B507" />
                    </g>
                    <defs>
                        <clipPath id="clip0_5405_16691">
                            <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                        </clipPath>
                    </defs>
                </svg> Included</div>
            <div class="col3">Sharepoint, Active Directory & Manual management</div>
            <div class="col4">20 Hours</div>

        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Automated Filemanagement - Save & Done </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual upload & manage</div>
            <div class="col4">20 Hours</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Files are available in the Cloud across different offices / for clients </div>
            <div class="col2">Yes</div>
            <div class="col3">Not available if not uploaded </div>
            <div class="col4">20 Hours</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Compliant Backup / redundant storage </div>
            <div class="col2">Yes</div>
            <div class="col3">Local IT infrastructure required </div>
            <div class="col4">20 Hours</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Automated Single Point of Truth (consolidating shared Files via E-Mails, etc. with
                files saved locally) </div>
            <div class="col2">Yes</div>
            <div class="col3">No</div>
            <div class="col4">20 Hours</div>
        </div>
    </div>
    <div class="group">
        <div class="tableSubheader bt-flex">
            <div class="col1 headingSubheader">CDE Integration</div>
            <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                    viewBox="0 0 19 19" fill="none">
                    <g clip-path="url(#clip0_5405_16691)">
                        <path
                            d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                            fill="#00B507" />
                    </g>
                    <defs>
                        <clipPath id="clip0_5405_16691">
                            <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                        </clipPath>
                    </defs>
                </svg> Included</div>
            <div class="col3">No software available </div>
            <div class="col4">20%</div>

        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Consolidate Client CDE into your workenviromment - 1 System to manage all client
                systems</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">20%</div>
        </div>

        <div class="tableRow bt-flex">
            <div class="col1">Automated project documentation </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">20%</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Detailed Reports of: Revisions, Type of comments, etc. </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">20%</div>
        </div>
    </div>
    <div class="group">
        <div class="tableSubheader bt-flex">
            <div class="col1 headingSubheader">AI based Project Management System</div>
            <div class="col2 bt-flex gap8"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                    viewBox="0 0 19 19" fill="none">
                    <g clip-path="url(#clip0_5405_16691)">
                        <path
                            d="M9.49854 2C5.35854 2 1.99854 5.36 1.99854 9.5C1.99854 13.64 5.35854 17 9.49854 17C13.6385 17 16.9985 13.64 16.9985 9.5C16.9985 5.36 13.6385 2 9.49854 2ZM7.99854 13.25L4.24854 9.5L5.30604 8.4425L7.99854 11.1275L13.691 5.435L14.7485 6.5L7.99854 13.25Z"
                            fill="#00B507" />
                    </g>
                    <defs>
                        <clipPath id="clip0_5405_16691">
                            <rect width="18" height="18" fill="white" transform="translate(0.5 0.5)" />
                        </clipPath>
                    </defs>
                </svg> Included</div>
            <div class="col3">Mostly not specifically designed for engineering</div>
            <div class="col4">$200</div>

        </div>
        <div class="tableRow bt-flex">
            <div class="col1">AI based Project Planning and Scheduling</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">AI based Resource Management & Allocation</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">AI based Time Tracking </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual</div>
            <div class="col4">$200</div>
        </div>

    </div>
    <div class="tableheader bt-flex">
        <div class="col1">ERP Features  - 3 Enterprise Software in 1</div>
        <div class="col2">

        </div>
        <div class="col3"></div>
        <div class="col4"></div>
    </div>
    <div class="group">
        <div class="tableSubheader bt-flex">
            <div class="col1 headingSubheader">HCM</div>
            <div class="col2 bt-flex gap8"></div>
            <div class="col3"> </div>
            <div class="col4"></div>

        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Manage your teams, apply your policies (Holidays, etc.) while complying with local
                law</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual HR Function</div>
            <div class="col4">20%</div>
        </div>

        <div class="tableRow bt-flex">
            <div class="col1">Automate Leave applications detailed  HR reports</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual HR Function</div>
            <div class="col4">20%</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Automate Asset Management and Tracking according to your policy </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual HR Function</div>
            <div class="col4">20%</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Resignation & Peformance Evalulation</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual HR Function</div>
            <div class="col4">20%</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Calendar module with leaves, meetings & interview integration across platform
            </div>
            <div class="col2">Yes</div>
            <div class="col3">Manual HR Function</div>
            <div class="col4">20%</div>
        </div>
    </div>
    <div class="group">
        <div class="tableSubheader bt-flex">
            <div class="col1 headingSubheader">Jobs</div>
            <div class="col2 bt-flex gap8"></div>
            <div class="col3"> </div>
            <div class="col4"></div>

        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Manage your teams, apply your policies (Holidays, etc.) while complying with local
                law</div>
            <div class="col2">Yes</div>
            <div class="col3">Manual HR Function</div>
            <div class="col4">20%</div>
        </div>

        <div class="tableRow bt-flex">
            <div class="col1">Automate Leave applications detailed  HR reports</div>
            <div class="col2">Yes</div>
            <div class="col3">Extra Software, not integreated / AI powered</div>
            <div class="col4">10 Hours</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">AI based Resume Management & Interview Scheduling with video Interviews, questions
                & answer </div>
            <div class="col2">Yes</div>
            <div class="col3">Extra HCM Software</div>
            <div class="col4">15 Hours</div>
        </div>
        <div class="tableRow bt-flex">
            <div class="col1">Customized Onboarding from interview to hiring</div>
            <div class="col2">Yes</div>
            <div class="col3">Extra HCM Software</div>
            <div class="col4">20 Hours</div>
        </div>
    </div>

</div>
</div>


<!-- Large Tender -->
<app-cta></app-cta>

<app-hd-footer></app-hd-footer>