.about-area {
    padding: 80px 0;
    position: relative;
}

.aboutContent {
    .sub-title {
        color: var(--themeColor);
        margin-bottom: 10px;
    }

    h2 {
        font-size: 40px; font-weight: 600;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    p {
        color: var(--lightColor);
        margin-bottom: 24px;
    }

    .btnGroup {
        padding-top: 30px;
        display: flex;
        gap: 16px;
        .default-btn {
            &:last-child {
                background-color: var(--whiteColor);
                border: 1px solid var(--themeColor);
                color: var(--themeColor) !important;
            }
        }
    }
}

.slider {
    padding-bottom: 24px;
    .item {
        background-color: #f8f8f8;
        border-radius: 4px;
        padding: 10px 40px 10px 16px;
        font-size: 13px;
        margin-right: 10px;
        margin-bottom: 10px;
        i {
            transform: translateY(-50%);
            color: var(--themeColor);
            position: absolute;
            font-size: 18px;
            right: 16px;
            top: 50%;
            margin-top: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.info {
    border-top: 1px solid rgba(128,128,128,0.1);
    border-bottom: 1px solid rgba(128,128,128,0.1);
    padding: 24px 0;
    display: flex;
    gap: 32px;

    h3 {
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    span {
        display: block;
        font-size: 16px;
        line-height: 1.411;
        color: var(--lightColor);
    }
}

::ng-deep {
    .aboutSlider {
        max-width: 464px;
        margin: 0 auto 0;

        .owl-theme {

            .owl-nav {
                right: 0;
                bottom: -3px;
                margin-top: 0;
                position: absolute;

                [class*=owl-] {
                    padding: 0;
                    margin: 0 3px;
                    font-size: 20px;
                    border-radius: 0;
                    background: transparent;
                    color: var(--blackColor);
                    transition: var(--transition);

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        color: var(--themeColor);
                    }
                }
            }
            .owl-dots {
                text-align: end;
                margin-top: 25px;
                padding-right: 60px;

                .owl-dot {
                    span {
                        width: 10px;
                        height: 10px;
                        margin: 0 5px;
                        border-radius: 50%;
                        background: #d5d5f4;
                        transition: var(--transition);
                    }
                    &:first-child {
                        span {
                            margin-left: 0;
                        }
                    }
                    &:last-child {
                        span {
                            margin-right: 0;
                        }
                    }
                    &:hover, &.active {
                        span {
                            background: var(--themeColor);
                        }
                    }
                }
            }
        }
    }
}


/* Max width 767px */
@media only screen and (max-width : 767px) {
    .aboutContent {
        h2 {
            br {
                display: none;
            }
        }

        p {
            br {
                display: none;
            }
        }

        .btnGroup {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .info {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .aboutContent {
        padding-bottom: 70px;
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .aboutContent {
        padding-bottom: 70px;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .aboutContent {
        h2 {
            br {
                display: none;
            }
        }

        p {
            br {
                display: none;
            }
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

}