<div class="faqWrapper">
    <div class="container">
        <div class="container-with-right">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>
                    <strong>Have questions for us?</strong>
                </h2>
                <p>Here are some of the most frequently asked questions about Structural Steel Detailing services and more.</p>
            </div>

            <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What steel detailing services does BuildTwin offer?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            At BuildTwin we offer a wide range of steel detailing services for construction engineers and steel fabricators across the US. Our services are designed to be precise and industry standard compliant, so you get a one stop solution that includes:
                        </p>
    
                        <ul>
                            <li><b>Shop Drawing Services</b>: Detailed drawings for steel components like beams, columns, trusses and connections which are the building blocks of the manufacturing process.
                            </li>
    
                            <li><b>Erection Drawings</b>: Get fabrication drawings that guide the assembly and installation of steel structures on site, for structural integrity and compliance.
                            </li>
    
                            <li><b>Structural 3D Modeling</b>: Use Tekla Structures and Autodesk Revit 3D modeling for visualisation and planning of your projects.
                            </li>
    
                            <li><b>Connection Design</b>: Our connection design services ensure bolted and welded connections meet safety and performance criteria.
                            </li>
    
                            <li><b>Material Lists</b>: Get BOM with all specifications for procurement and project execution.
                            </li>

                            <li><b>Clash Detection</b>: Avoid rework with our clash detection services, we identify potential conflicts within the steel frame and other building systems.
                            </li>

                            <li><b>Miscellaneous Steel Detailing</b>: We also do detailing for custom steel components like stairs, handrails, ladders and platforms.
                            </li>
                        </ul>

                        <p>Our pre-qualified steel detailers deliver steel detailing services that will make your project successful, industry standard compliant.</p>

                    </mat-expansion-panel>
                     <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How does BuildTwin ensure quality and accuracy of steel detailing services?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            At BuildTwin, quality and accuracy is not an objective, it’s a guarantee. We are committed to industry standards in every project, so your steel construction projects are not only successful but also a benchmark for quality and safety. Here’s how we ensure quality and accuracy:
                        </p>

                        <ul>
                            <li><b>Pre-Qualified Vendors</b>: Each of our steel detailers goes through a thorough vetting process to ensure their expertise and experience in steel detailing is unmatched.
                            </li>

                            <li><b>International Standards Compliance</b>: We follow global and American standards like AISC, BS, Eurocode and AWS for welding so your projects meet all regulatory requirements.
                            </li>

                            <li><b>AI Powered Quality Management</b>: Our AI Design Manager reviews all shop drawings and models for errors to ensure accuracy and compliance of your projects.
                            </li>

                            <li><b>Certified Workflows</b>: Our workflows are standardized and certified for consistency and reliability across all steel detailing services.
                            </li>

                            <li><b>Live Project Tracking</b>: Track your project live and collaborate with steel detailing vendors across the US.
                            </li>

                            <li><b>Regular Updates and Reviews</b>: We keep you updated at every stage so you can improve quality and ensure every detail meets your specs.
                            </li>
                        </ul>

                        <p>With our combination of experienced professionals, technology and processes we deliver steel detailing services that make your projects successful.</p>
                        
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Can I select from pre-qualified vendors for steel detailing services on BuildTwin?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Yes! BuildTwin makes vendor selection easy, so you can choose from top steel detailers in the US. Here’s how you can benefit:
                        </p>

                        <ul>
                            <li><b>Browse Vendor Profiles</b>: View detailed profiles including past projects, client reviews and areas of expertise so you can make an informed decision.
                            </li>

                            <li><b>Compare Bids</b>: Get proposals from multiple vendors and find the best fit for your project and budget.
                            </li>

                            <li><b>Select Based on Expertise</b>: Choose vendors who specialize in specific area of steel detailing that matches your project requirements.
                            </li>
                        </ul>

                        <p>We have global reach, so you have more options and can find the right partner for your steel detailing needs.</p>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What American codes and standards are followed in steel detailing services on BuildTwin?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin is committed to excellence and follows a wide range of American and international industry standards. Our steel detailing services are compliant with:
                        </p>

                        <ul>
                            <li><b>AISC</b>: American Institute of Steel Construction
                            </li>

                            <li><b>ASTM</b>: American Society for Testing and Materials
                            </li>

                            <li><b>NISD</b>: National Institute of Steel Detailing
                            </li>

                            <li><b>ACI</b>: American Concrete Institute
                            </li>

                            <li><b>RCSC</b>: Research Council on Structural Connections
                            </li>

                            <li><b>CRSI</b>: Concrete Reinforcing Steel Institute
                            </li>

                            <li><b>AWS</b>: American Welding Society
                            </li>
                        </ul>

                        <p>We also follow other regional codes based on your project location and requirements so your steel structures are designed and detailed to meet the highest safety and quality standards in America.</p>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How does BuildTwin’s AI technology help in steel detailing?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin uses AI technology to transform steel detailing, making your projects more efficient, accurate and proactive:
                        </p>

                        <ul>
                            <li><b>AI Design Manager</b>: This tool automates many project management tasks so you adhere to industry standards and streamline the manufacturing process.
                            </li>

                            <li><b>Automated Quality Checks</b>: Our AI checks all shop drawings and models for errors so you get precision.
                            </li>

                            <li><b>Better Communication</b>: Our system keeps clients and steel detailers in sync, reduces delays and increases efficiency.
                            </li>

                            <li><b>Data Management</b>: Manage your project data with robust access controls and versioning so project administration is smoother and more reliable.
                            </li>

                            <li><b>Predictive Insights</b>: Get insights into project timelines and identify potential issues before they become problems so you can plan and execute better.
                            </li>
                        </ul>

                        <p>
                            With AI at the core of our platform BuildTwin makes your steel detailing experience better so every project is perfect and efficient.
                        </p>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What software tools are used for Structural Steel Detailing?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            At BuildTwin we use only the best and most reliable software tools in the steel detailing industry so every project is perfect. The tools we use are:
                        </p>

                        <ul>
                            <li>
                                <b>Tekla Structures</b>: Famous for its 3D modeling and steel detailing capabilities so we can produce drawings that meet all industry standards.
                            </li>

                            <li>
                                <b>Autodesk Revit</b>: For BIM (Building Information Modeling) integration in steel construction which enables better visualization and planning.
                            </li>
                                
                            <li>
                                <b>SDS2</b>: Famous for its fabrication drawings and connection design so all steel components are aligned with the manufacturing process.
                            </li>
                        </ul>

                        <p>These tools give our steel detailers the ability to deliver steel detailing services that are market leading in innovation and functionality.</p>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is included in Structural Steel Detailing?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Structural steel detailing is a process that involves lots of information required for fabrication and assembly of steel structures. Our detailing services include:
                        </p>

                        <ul>
                            <li>
                                <b>Dimensions and Profiles</b>: Size, shape and dimensions of each steel component.
                            </li>

                            <li>
                                <b>Welding and Bolting Specifications</b>: Welding methods and bolt sizes and locations so the structure is structurally sound.
                            </li>
                                
                            <li>
                                <b>Connection Details</b>: Connection design for beams, columns and trusses that meet industry standards.
                            </li>

                            <li>
                                <b>Material Specifications</b>: Breakdown of all materials required including grades and strengths to meet industry standards.
                            </li>

                            <li>
                                <b>Design Drawings</b>: Drawings that have all construction details so on-site assembly is seamless.
                            </li>
                        </ul>

                        <p>This information is compiled so all steel components are fabricated accurately and installed perfectly so the structure is durable and safe.</p>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Can Structural Steel Detailing be customized for special projects?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Yes at BuildTwin we know every project is unique. Our steel detailing services are fully customizable to meet your project requirements. We work closely with clients to tailor our services to:
                        </p>

                        <ul>
                            <li>
                                <b>Custom Designs</b>: Steel structures that require unique aesthetic or functional considerations.
                            </li>

                            <li>
                                <b>Special Components</b>: Detailing for bespoke steel components used in architectural or engineering projects.
                            </li>
                                
                            <li>
                                <b>Project Specific Conditions</b>: Variations to standard practices to accommodate site specific constraints or regulatory requirements.
                            </li>
                        </ul>

                        <p>Our steel detailers work closely with construction engineers and project managers to ensure every aspect of your steel detailing is covered and tailored for project success and client happiness.</p>
                        <p>Through BuildTwin’s platform and steel detailing services your project gets unparalleled expertise, latest technology and quality that sets new benchmarks.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How do I choose the right Structural Steel Detailing provider?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            When choosing a steel detailing service consider:
                        </p>

                        <ul>
                            <li><b>Experience and Expertise</b>: Look for providers with steel detailing experience and industry standards knowledge.
                            </li>

                            <li><b>Software Proficiency</b>: Check if they are proficient in using tools like Tekla Structures, Autodesk Revit or Advance Steel.
                            </li>

                            <li><b>Quality Assurance Processes</b>: Ask about their process for accuracy and industry standards compliance.
                            </li>

                            <li><b>Client Reviews and Portfolio</b>: Review past projects and client feedback to gauge their capability and reliability.
                            </li>
                        </ul>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What are the stages of Steel Detailing in a construction project?
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Steel detailing is a phase in steel structure construction that involves:</p>
                        
                        <ul>
                            <li><b>Planning and Design Review</b>: Steel detailers work with architects and engineers to understand the project requirements and review the structural design.
                            </li>

                            <li><b>Shop Drawings</b>: Detailed shop drawings are created to guide steel fabrication. These drawings include dimensions, material specs and assembly instructions.
                            </li>

                            <li><b>3D Modeling and Visualization</b>: Using Tekla Structures and Autodesk Revit detailers create 3D models of the structure to visualize the end result and detect potential issues early.
                            </li>

                            <li><b>Fabrication Drawings</b>: Fabrication drawings are created to guide steel fabricators with cutting, welding and assembly details.
                            </li>

                            <li><b>Erection Drawings</b>: These drawings are required for on-site assembly of steel components showing the placement, alignment and bolting of parts.
                            </li>

                            <li><b>Quality Checks and Revisions</b>: Multiple quality checks are done throughout the detailing process to ensure accuracy and industry standards compliance. Revisions may be made based on feedback from the construction team or design changes.
                            </li>
                        </ul>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How do steel detailers ensure integration with other building systems?
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>Steel detailers play a crucial role in ensuring the steel structure integrates with other building systems like electrical, plumbing and HVAC. This is done through:</p>
                        
                        <ul>
                            <li><b>Clash Detection</b>: Using BIM tools detailers can detect and resolve clashes with other building systems before construction starts. This proactive approach prevents conflicts and changes during the build phase.
                            </li>

                            <li><b>Collaborative Workflows</b>: Detailers often work with other trades during the 3D modeling phase to coordinate the placement and routing of various systems so all components fit together without interference.
                            </li>

                            <li><b>Coordination Drawings</b>: In addition to shop drawings, detailers create coordination drawings that include all building systems.
                            </li>
                        </ul>

                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </div>
</div>