<div class="faq-area pb-100">
    <div class="container">
        <div class="hd-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-poppins">
                The <span class="jeffStyle">almost</span> 5 Star Marketplace
            </h2>
            <h4 class="mb-0 font-poppins">
                BuildTwin continously earns 5 stars in customer ratings and is known for its award winning customer support.
            </h4>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="isFirst">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Who is BuildTwin and what do you offer? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin is a Software Company, which offers 3 products – a SaaS product do manage 
                                engineering teams and projects, a marketplace software to tender & bid for projects 
                                and a software solution for training and marketing custom trainings. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Does software mean I need to download something? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin works completely in the cloud and can be accessed through your browser. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    For whom is BuildTwin?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin offers solution for engineers, engineering teams and clients which 
                                engineering projects such as contractors, JVs, pre-cast yards, etc. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Do I need to change my workflow? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                As a solution provider, yes. You need to work with the AI Design Manager to 
                                deliver your work. But don’t worry – it is an easy process.  As a client no. Clients can continuous 
                                with work as is – through any channels such as E-Mails, CDE, etc. 
                                <br><br>
                                Learn more.
                            </p>
                        </mat-expansion-panel>
                        
                    </mat-accordion>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-image position-relative text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/faqs/faq.png" alt="faq-image">
                    <!-- <img src="assets/images/faqs/faq5.jpg" alt="faq-image"> -->
                </div>
            </div>
        </div>
    </div>
</div>