<div class="socials-media-info-area ptb-100">

    <div style="text-align: center;"> 

    <h2 class="font-poppins"> 
        <span>Incredible Services.</span> At great Prices. 
    </h2>

    <span class="font-poppins fw-normal"> 
        Browse engineering services at the BuildTwin Hub.  
    </span>
    <br><br><br>


    </div>
    
    
    <div class="container-fluid">
        <div class="socials-media-info-slides" data-aos="fade-up" data-aos-duration="500">
            <owl-carousel-o [options]="socialsMediaInfoSlides">
                <ng-template carouselSlide>
                    <div class="info-box">
                        <div class="number font-poppins position-relative d-inline-block">
                            2D Structural Detailing
                        </div>
                        <p>
                            wiht SDS2
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="position-relative user">
                                <img src="assets/images/users/user6.jpg" alt="user-image">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="info-box">
                        <div class="number font-poppins position-relative d-inline-block">
                            3D Structural Detailing
                        </div>
                        <p>
                            wiht SDS2
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="position-relative user">
                                <img src="assets/images/users/user5.jpg" alt="user-image">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="info-box">
                        <div class="number font-poppins position-relative d-inline-block">
                            3D Rebar capabilities
                        </div>
                        <p>
                            wiht SDS2
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="position-relative user">
                                <img src="assets/images/users/user4.jpg" alt="user-image">
                            </div>
                        </div>
                    </div>
            </ng-template>
                <ng-template carouselSlide>
                    <div class="info-box">
                        <div class="number font-poppins position-relative d-inline-block">
                            As-built documentation
                        </div>
                        <p>
                            wiht SDS2
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="position-relative user">
                                <img src="assets/images/users/user3.jpg" alt="user-image">
                            </div>
                        </div>
                    </div>
               </ng-template>
                <ng-template carouselSlide>
                    <div class="info-box">
                        <div class="number font-poppins position-relative d-inline-block">
                            Structural engineering precast
                        </div>
                        <p>
                            wiht SDS2
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="position-relative user">
                                <img src="assets/images/users/user6.jpg" alt="user-image">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>