<div class="socials-media-info-area ptb-100">

    <div style="text-align: center;">

        <h2 class="font-poppins">
            <span>Incredible Services.</span> At great Prices.
        </h2>

        <span class="font-poppins fw-normal">
            Browse engineering services at the BuildTwin Hub.
        </span>
        <br>

    </div>


    <div class="container">
        <div style="text-align: center;">
            <a mat-button routerLink="/help-desk" class="default-btn">Start Enquiry</a>
        </div>
        <br><br>
        <div class="row overflow">
            <div class="socials-media-info-slides segmentation-content" data-aos="fade-up" data-aos-duration="500">
                <owl-carousel-o [options]="socialsMediaInfoSlides">
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service1.png" alt="service-image">
                            </div>

                            <h3 class="font-poppins">Structural detailing</h3>
                            <p>Production of Shop drawings (2D/3D) in all major software</p>
                                                        
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service2.png" alt="service-image">
                            </div>

                            <h3 class="font-poppins">BIM Steel</h3>
                            <p>Production ready BIM Steel models according to your specification</p>
                                
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service7.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Pre-cast</h3>
                            <p>BIM and Structural works for precast - from Design to Engineering</p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service3.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Quantity surveying</h3>
                            <p>Structured quantity surveys in 2D and with 3D models</p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service4.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">BIM/DE/3D </h3>
                            <p>From 3D modeling, clash resolution to BIM management </p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service5.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Temporary works design</h3>
                            <p>and engineering support services</p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service8.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">COBie</h3>
                            <p>COBie enriched models (all LOD levels ) and FM import</p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service7.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Production of As-Built documentation</h3>
                            <p>from 2D to BIM7D models</p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service9.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">CAD/Drafting support services</h3>
                            <p>Tailored services according to your needs </p>
                            <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>