<div class="socials-media-info-area ptb-100">

    <div style="text-align: center;">

        <h2 class="font-poppins">
            <span>Incredible Services.</span> At great Prices.
        </h2>

        <span class="font-poppins fw-normal">
            Browse engineering services at the BuildTwin Hub.
        </span>
        <br>


    </div>


    <div class="container">
        <div style="text-align: center;">
            <a mat-button routerLink="/help-desk" class="default-btn">Start Enquiry</a>
        </div>
        <br><br>
        <div class="row">
            <div class="socials-media-info-slides" data-aos="fade-up" data-aos-duration="500">
                <owl-carousel-o [options]="socialsMediaInfoSlides">
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service1.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Design – engineering and technical assistance at early design
                                stages</h3>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service2.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Temporary works design and engineering support services</h3>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service3.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Quantity surveying (2D/3D)</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet</p>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service4.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">BIM/DE/3D modeling and management</h3>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service5.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Production of shop drawings (2D/3D)</h3>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service6.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Provision of estimating support services at different stages of a
                                project for the purpose of project cost controlling</h3>
                                <a mat-button routerLink="/" class="default-btn">
                                    Get Started
                                </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service7.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">COBie Enriched models (Up to LOD500)</h3>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service8.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Production of As-Built documentation</h3>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/services/bim-service9.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">CAD/Drafting support services</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet</p>
                            <a mat-button routerLink="/" class="default-btn">
                                Get Started
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>