<div class="bannerWrapper">
    <img src="../../../../assets/images/serviceBanner.jpg" alt="">
    <div class="bannerContainer">
        <div class="container pdR35" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <h1>Structural Detailing Pre-Cast </h1>
            <p>Structural detailing is a critical aspect of construction  and engineering, providing the detailed drawings and  specifications needed to bring architectural and structural designs to life.</p>
        </div>
    </div>
</div>