<div class="sectionContainer">
    <div class="container pdR30">

        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <h2>
                Precast Detailing Service
            </h2>

            <p>
                Precast detailing services provide accurate drawings, designs, and plans for manufacturing and assembling
                precast concrete components.
            </p>
        </div>
        <!-- tabs -->

    <div class="sectionMidContainer" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        <div class="precastTabs">
                <ng-container *ngFor="let item of precastArray; let i = index">
                        <div class="tab" [class.active]="activeTab === i" (click)="setActiveTab(i)"
                        [ngClass]="{ 'activeContainer': activeTab === i }">
                            {{ item.name }}
                        </div>
                </ng-container>
        </div>
        <div class="tabContent" *ngFor="let detail of activeContent.details">
            <p>{{ detail.mainContent }}</p>
            <h3>{{ detail.header }}</h3>
            <div class="subContent">
                <p><small>{{ detail.subContent }}</small></p>
            </div>
            <div class="dataList">
                <div>
                    <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                    <span>AS 3850.1</span>
                </div>
                <div>
                    <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                    <span>ACI 318</span>
                </div>
                <div>
                    <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                    <span>IS 15917</span>
                </div>
                <div>
                    <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                    <span>BS 8297</span>
                </div>
                <div>
                    <lib-svg-icon [name]="'doubleArrows'" [size]="20" [sizeH]="21"></lib-svg-icon>
                    <span>EN 13369</span>
                </div>
            </div>
        </div>
        
    </div>

    </div>
</div>