.banner-wrapper {
    padding: 0 36px 0;
    background: linear-gradient(82deg, #FBFAFF -3.26%, #F5F4FF 121.32%);
    box-shadow: 0px 0px 9px 0px rgba(208, 208, 208, 0.12);
    position: relative;
    &::after {
        content: "";
        height: 40px;
        display: block;
    }
    &.fixed {
        padding-top: 70px;
        padding-bottom: 75px;
        &::before {
            content: "";
            position: fixed;
            left: 250px;
            right: 0;
            top: -185px;
            height: 185px;
            background: #FBFAFF;
            z-index: 10;
            transition: all .3s ease;
        }
        ::ng-deep .header {
            position: fixed;
            z-index: 18;
            top: -200px;
            transition: all .3s ease;
        }
        ::ng-deep .sticky-menu {
            position: fixed;
            z-index: 17;
            right: 36px;
            left: 286px;
            top: -200px;
            transition: all .3s ease;
        }

        &.show {
            &::before {
                top: 0;
            }
            ::ng-deep .sticky-menu {
                top: 92px;
            }
            ::ng-deep .header {
                top: 0;
            }
        }
    }
}
:host ::ng-deep .abs {
    position: absolute;
    right: 0px;
    top: 0px;
}
:host ::ng-deep .header {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    align-self: flex-start;
    // position: sticky;
    // top: 0;
    padding-top: 20px;
    background: #FBFAFF;
    box-shadow: 0 0 20px 20px #FBFAFF;
    i {
        background: #F3F8FF;
        padding: 4px;
        border-radius: 12.501px;
    }
    h2 {
        font-size: 28px;
    }
}

:host ::ng-deep .banner-content {
    padding: 50px 60px;
    width: 536px;
    color: #3E3D3D;
    h4 {
        font-size: 20px;
        font-family: var(--table-th-font);
        margin-bottom: 14px;
    }
    p {
        font-size: 18px;
        margin-bottom: 18px;
    }
    a {
        display: inline-block;
        padding: 8px 26px;
        border-radius: 30.996px;
        border: 1px solid #F4EFFF;
        background: #FFF;
        font-size: 14px;
        min-width: auto;
        min-height: auto;
        &.bt-flex {
            display: flex;
        }
    }
}

:host ::ng-deep .sticky-menu     {
    border-top: 1px solid #EFEFEF;
    padding: 20px 0 0;
    display: flex;
    gap: 14px;
    align-items: center;
    // position: sticky;
    // top: 92px;
    .button {
        border-radius: 12.6px;
        background: #0053fa;
        box-shadow: 0px 7.2px 12.6px 0px rgba(63, 36, 117, 0.03);
        display: flex;
        align-items: center;
        min-width: 154.8px;
        height: 52px;
        justify-content: center;
        color: white;
    }

    .menu-wrapper {
        background: white;
        border-radius: 36px;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .childbutton {
        fill: #E1E8ED;
        border-radius: 5.4px;
        // min-width: 110px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        .theme-color {
            fill: #0053fa;
        }
        &:hover {
            background: #0053fa;
            fill: white;
            .theme-color {
                fill: white;
            }
            .theme-color-stroke {
                stroke: white;
            }
        }
        .theme-color-stroke {
            stroke: #0053fa;
        }
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        height: 52px;
        padding: 7px 14px;
        border-radius: 12.6px;
    }
}

::ng-deep body.fixed .hd-header-right {
    position: fixed!important;
    margin-top: -200px;
    transition: all .3s ease;
}
::ng-deep body.show .hd-header-right {
    margin-top: 0;
}