<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="footer-content" data-aos="fade-up" data-aos-duration="500">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/white-logo.png" alt="logo">
                    </a>
                    <p class="font-syne">
                    </p>
                    <!-- <div class="socials-link d-flex align-items-center">
                        <a href="https://www.facebook.com/" class="d-inline-block" target="_blank">
                            <img src="assets/images/socials/facebook.png" alt="facebook">
                        </a>
                        <a href="https://www.instagram.com/" class="d-inline-block" target="_blank">
                            <img src="assets/images/socials/instagram.png" alt="instagram">
                        </a>
                        <a href="https://twitter.com/" class="d-inline-block" target="_blank">
                            <img src="assets/images/socials/twitter.png" alt="twitter">
                        </a>
                        <a href="https://www.youtube.com/" class="d-inline-block" target="_blank">
                            <img src="assets/images/socials/youtube.png" alt="youtube">
                        </a>
                        <a href="https://wa.me/1XXXXXXXXXX" class="d-inline-block" target="_blank">
                            <img src="assets/images/socials/whatsapp.png" alt="whatsapp">
                        </a>
                        <a href="https://tiktok.com/" class="d-inline-block" target="_blank">
                            <img src="assets/images/socials/tiktok.png" alt="tiktok">
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="subscribe-inner-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                            <h2 class="mb-0">
                                BuildTwin is the hub for engineering projects and training.
                            </h2>
                        </div>
                        <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                            <form class="subscribe-form position-relative">
                                <mat-form-field>
                                    <mat-label>
                                        Enter your email
                                    </mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <button type="submit" mat-button>
                                    Subscribe Now
                                </button>
                            </form>
                            <span class="info font-syne d-block">
                                We won’t send any spam to you.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="footer-inner-box">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6" data-aos="fade-right" data-aos-duration="500">
                            <div class="single-footer-widget">
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area text-center">
        <div class="container">
            <p class="font-syne fw-normal" data-aos="fade-in" data-aos-duration="500">
            </p>
        </div>
    </div>
</div>