<div class="main-banner" *ngFor="let Image of bgImage;" style="background-image: url({{Image.img}});">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content">
                    <h1>Empowering next-gen sturctural engineers towards career success</h1>

                    <p>
                        Earn more - through learning. BuildTwin Training prepares you for 
                        the real world. With a comprehensive curriculum co-developed with 
                        clients, you will be on the fast track for a career with international 
                        projects.
                    </p>


                    <a href="https://www.buildtwin.com/get-started" class="default-btn" target="_blank"><i class="flaticon-user"></i>Join For Free<span></span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-courses-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <div class="d-block image">
                                        <img src="assets/images/training/courses/img4.jpg" alt="image">
                                    </div>
                                    <a href="https://www.buildtwin.com" class="fav"><i class="flaticon-heart"></i></a>
                                   <!-- <div class="price shadow">$39</div> -->
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="assets/images/training/user6.svg" class="rounded-circle" alt="image">
                                        <span>Profesional course</span>
                                    </div>
                                    <h3><div>Structural detailing for pre-cast in Germany</div></h3>
                                    <p>
                                        Dive into the precision of German pre-cast detailing. Elevate your construction career.
                                    </p>
                                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                        <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                                        <li><i class='flaticon-people'></i> 8 Month</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <div class="d-block image">
                                        <img src="assets/images/training/courses/img5.jpg" alt="image">
                                    </div>
                                    <a href="https://www.buildtwin.com" class="fav"><i class="flaticon-heart"></i></a>
                                    <!-- <div class="price shadow">$49</div> !-->
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="assets/images/training/user5.svg" class="rounded-circle" alt="image">
                                        <span>Technical training</span>
                                    </div>
                                    <h3><div>Engineering solutions for Highrises in Germany</div></h3>
                                    <p>
                                        Unlock engineering secrets behind Germany's highrises. Shape the skyline, advance your skills.
                                    </p>
                                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                        <li><i class='flaticon-agenda'></i> 5 Lessons</li>
                                        <li><i class='flaticon-people'></i> 2 weeks</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>