<div class="container pb-75">
    <span class="title d-block text-center font-poppins fw-semibold" data-aos="fade-up" data-aos-duration="500">
        <br> <h1>Delivered by solution provides in 6+ different timezones  </h1>
    </span>
    <div class="row align-items-center justify-content-center partner-logo">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner1.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner2.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner3.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner4.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner5.png" alt="partner-image">
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <div class="text-center mb-25">
                <img src="assets/images/partners/partner6.png" alt="partner-image">
            </div>
        </div>
    </div>
</div>