<div class="banner-area position-relative z-1">

  <div>
    
    <div class="sliderCover">
      <owl-carousel-o [options]="aboutSlider">
        <!-- <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Hospital</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>


  <div class="sliderCover">
    <owl-carousel-o [options]="aboutSlider">
      <ng-template carouselSlide>
        <div class="item">
          <div class="container banner-content-wrapper">
            <div class="banner-content">              
              <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Hospital</strong></h2>
              <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
              
              <a mat-button  href="javascript:void(0)" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                </svg>
              </a>
            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner1.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Airport</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner2.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Bridges</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner3.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="container banner-content-wrapper">
            <div class="banner-content">              
              <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Airport</strong></h2>
              <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
              
              <a mat-button  href="javascript:void(0)" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                </svg>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Industrial</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner5.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Metros</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner6.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="container banner-content-wrapper">
            <div class="banner-content">              
              <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Bridges</strong></h2>
              <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
              
              <a mat-button  href="javascript:void(0)" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                </svg>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>School</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner8-2.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Pre cast</strong></h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner9.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <div class="container banner-content-wrapper">
            <div class="banner-content">              
              <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Data</strong></h2>
              <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
              
              <a mat-button  href="javascript:void(0)" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                </svg>
              </a>
            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner10.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </ng-template> -->
        <!-- <ng-template carouselSlide>
          <div class="item">
            <div class="container banner-content-wrapper">
              <div class="banner-content">              
                <h2  data-aos="fade-up" data-aos-duration="500" ><strong>Power plant</strong> Datecenter</h2>
                <p  data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">100s of independent consultancy, specialised in data center with one <br>unified delivery process</p>
                
                <a mat-button href="" class="default-btn arrow-btn" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">Learn More 
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.34304 10.1839L5.44815 9.29901L8.5554 6.19176H0.75V4.89915H8.5554L5.44815 1.79688L6.34304 0.90696L10.9815 5.54545L6.34304 10.1839Z" fill="white"/>
                  </svg>
                </a>
              </div>

            </div>
            <div class="bannerImg"  data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
              <img src="../../../../assets/images/banner11.jpg" alt="" width="1440" height="622.07">
            </div>
          </div>
        </ng-template> -->
        <ng-template carouselSlide>
          <div class="banner-area--item">
            <div class="banner-area--item--step">
              Step 1
              <div class="line-container">
                <div class="line"></div>
              </div>
            </div>
            <div class="banner-area--item--title">
              Invite independent engineering vendors
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="banner-area--item">
            <div class="banner-area--item--step">
              Step 2
              <div class="line-container">
                <div class="line"></div>
              </div>
            </div>
            <div class="banner-area--item--title">
              Get competitive bids
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="banner-area--item">
            <div class="banner-area--item--step">
              Step 3
              <div class="line-container">
                <div class="line"></div>
              </div>
            </div>
            <div class="banner-area--item--title">
              Assisted project delivery with the AI Design Manager
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="banner-area--item">
            <div class="banner-area--item--step">
              Step 4
              <div class="line-container">
                <div class="line"></div>
              </div>
            </div>
            <div class="banner-area--item--title">
              Get started within minutes
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
      <div class="banner-area--item--desc">
        Trusted by over 10.000+ of Structural Professionals across The Globe
      </div>
      <owl-carousel-o [options]="integrationsList">
        <ng-template carouselSlide>
          <div class="integration-box text-center">
              <a routerLink="{{_languageService.currentLanguage}}/partners/GBCEngineers"><img src="assets/images/gbc_black.png" alt="Gbc" style="width: 100px; height: 57px;" width="100" height="57"></a>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="integration-box text-center">
              <a routerLink="{{_languageService.currentLanguage}}/partners/J&FIndia"><img src="assets/images/jf_black.png" alt="J&F" style="width: 68.522px; height: 34.731px;" width="68.522" height="34.731"></a>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="integration-box text-center">
              <a routerLink="{{_languageService.currentLanguage}}/partners/Durchgeplant"><img src="assets/images/durchgeplant_black.png" alt="durchgeplant" style="width: 217.053px; height: 34.729px;" width="217.053" height="34.729"></a>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="integration-box text-center">
              <a routerLink="{{_languageService.currentLanguage}}/partners/AarbeeStructuresPrivateLimited"><img src="assets/images/aarbee_black.png" alt="Aarbee" style="width: 399.985px; height: 50.847px;" width="399.985" height="50.847"></a>
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="integration-box text-center">
              <a routerLink="{{_languageService.currentLanguage}}/partners/Caldim"><img src="assets/images/caldim_black.png" alt="Caldim" style="width: 134.489px; height: 56.627px;" width="134.489" height="56.627"></a>
          </div>
      </ng-template>
    </owl-carousel-o>
    <owl-carousel-o [options]="aboutSlider">
      <ng-template carouselSlide>
        <img src="assets/images/home/step1.png" alt="step 1">
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/home/step2.png" alt="step 2">
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/home/step3.png" alt="step 3">
      </ng-template>
      <ng-template carouselSlide>
        <img src="assets/images/home/step4.png" alt="step 4">
      </ng-template>
    </owl-carousel-o>
    </div>
  </div>
  <div class="formContainer">
    <div class="topPart">
        Select services from Buildtwin
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="middlePart">

            <!-- <div class="formRow" *ngIf="showdropDown">

                <div class="selectBox precastField"
                    [ngClass]="{'error-border': (myForm.get('serviceId')?.touched && myForm.get('serviceId')?.invalid)}">
                    <div>
                        <span class="selectedValue">
                            {{ myForm.get('serviceId')?.value ?
                            serviceObj[myForm.get('serviceId').value]['service_name'] : 'Select service' }}
                        </span>
                    </div>
                    <app-bt-select [options]="serviceArray" (selectedTabChange)="selectService($event)"></app-bt-select>
                </div>
                <div *ngIf="myForm.get('serviceId')?.touched && myForm.get('serviceId')?.invalid" class="error-message">
                    <span>Sector selection is required.</span>
                </div>

            </div> -->
            <div class="formRow" *ngIf="showdropDown">

                <div class="selectBox precastField"
                    [ngClass]="{'error-border': (myForm?.get('selectedPrecastServices')?.touched && myForm?.get('selectedPrecastServices')?.invalid)}">
                    <div>
                        <span class="selectedValue">
                            {{ myForm?.get('selectedPrecastServices')?.value ?
                            sectorObj[myForm.get('selectedPrecastServices').value]['service_name'] : 'Select sector' }}
                        </span>
                    </div>
                    <app-bt-select [options]="sectorArray" (selectedTabChange)="selectSector($event)"></app-bt-select>
                </div>
                <div *ngIf="myForm?.get('selectedPrecastServices')?.touched && myForm?.get('selectedPrecastServices')?.invalid"
                    class="error-message">
                    <span>Sector selection is required.</span>
                </div>

            </div>

            <div class="formRow" *ngIf="showdropDown">

                <div class="selectBox precastField"
                    [ngClass]="{'error-border': (myForm?.get('buildingCodeId')?.touched && myForm?.get('buildingCodeId')?.invalid)}">
                    <div>
                        <span class="selectedValue">
                            {{ myForm?.get('buildingCodeId')?.value ?
                            buildingCodeObj[myForm?.get('buildingCodeId').value]['building_code'] : 'Select Buildingcode' }}
                        </span>
                    </div>
                    <app-bt-select [options]="buildingCodeArray"
                        (selectedTabChange)="selectBuildingCode($event)"></app-bt-select>
                </div>
                <div *ngIf="myForm?.get('buildingCodeId')?.touched && myForm?.get('buildingCodeId')?.invalid"
                    class="error-message">
                    <span>Building code selection is required.</span>
                </div>

            </div>

            <div class="formRow">
                <div class="selectBox"
                    [ngClass]="{'error-border': (myForm?.get('email')?.touched && myForm?.get('email')?.invalid)}">
                    <input class="input-text" type="text" placeholder="Enter Email" formControlName="email">
                </div>
                <div *ngIf="myForm?.get('email')?.touched && myForm?.get('email')?.invalid" class="error-message">
                    <span *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</span>
                    <span *ngIf="myForm.get('email')?.errors?.['email']">Invalid email format.</span>
                </div>
            </div>
            <div class="formRow">
                <div class="selectBox"
                    [ngClass]="{'error-border': (myForm?.get('projectName')?.touched && myForm?.get('projectName')?.invalid)}">
                    <input class="input-text" type="text" placeholder="Project Name" formControlName="projectName">
                </div>
                <div *ngIf="myForm?.get('projectName')?.touched && myForm?.get('projectName')?.invalid"
                    class="error-message">
                    <span *ngIf="myForm?.get('projectName')?.errors?.['required']">Project Name is required.</span>
                </div>
            </div>
            <div class="formRow">
                <div class="selectBox">
                    <textarea class="textarea-description" formControlName="description"
                        placeholder="Description"></textarea>
                </div>
            </div>
            
            <!-- <div class="formRow" *ngIf="showdropDown">
                <app-file-upload-service [data]="isTenderWork" (fileUploadedStatus)="fileUploadedStatus($event)"></app-file-upload-service>
            </div> -->

        </div>
        <div class="bottomPart">
            <h5>Start Enquiry</h5>
            <p>If it take few minutes and then sit back and relax our customer care person contact you asap</p>

            <div class="buttonContainer">
                <button mat-button class="default-btn" type="submit" [disabled]="myForm?.invalid && disableButton"> Submit Enquiry
                </button>
            </div>

            <div class="integrationsContainer">
                <strong>Additional Integrations:</strong>
                <div class="integrationsList">
                    <div class="listItem">
                        <lib-svg-icon class="integrationsIcon" [name]="'AIschedule'" [size]="17"
                            [sizeH]="17"></lib-svg-icon>
                        AI schedule
                    </div>
                    <div class="listItem">
                        <lib-svg-icon class="integrationsIcon" [name]="'CDEIntegration'" [size]="17"
                            [sizeH]="17"></lib-svg-icon>
                        CDE Integration
                    </div>
                    <div class="listItem">
                        <lib-svg-icon class="integrationsIcon" [name]="'LiveTracking'" [size]="17"
                            [sizeH]="17"></lib-svg-icon>
                        Live Tracking
                    </div>
                    <div class="listItem">
                        <lib-svg-icon class="integrationsIcon" [name]="'RFIManagement'" [size]="17"
                            [sizeH]="17"></lib-svg-icon>
                        RFI Management
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>