.banner-area--item111:not(.ng-star-inserted) {
    display: none!important;
}
.integration-box111:not(.ng-star-inserted) {
    display: none!important;
}
.banner-area {
    padding: 150px 100px 24px 76px;

    display: flex;
    background-color: var(--whiteColor);
    .left {
        flex-grow: 1;
        overflow: hidden;
    }
    .formContainer {
        width: 440px;
        min-width: 440px;
        display: flex;
        flex-direction: column;
        app-free-offer-form {
            flex-grow: 1;
            display: flex;
            overflow: hidden;
        }
    }
    .integration-box {
        display: flex;
        justify-content: center;
        padding: 0 20px;
        min-height: 57px;
        align-items: center;
    }
    .sliderCover {
        // background: linear-gradient(64.99deg, #EAE3FF -43.3%, rgba(255, 255, 255, 0.9) 200.99%);
        padding: 0 24px 110px;
        position: relative;
        // min-height: 100%;
        display: grid;
        overflow: hidden;
        grid-template-columns: 100%;
        &>.container {
            position: relative;
        }
        ::ng-deep .owl-carousel {
            min-height: 100%;
        }
        .banner-content-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 9;
            transform: translateY(-50%);
        }
        .bannerImg {
            max-height: 600px;
            overflow: hidden;
        }
        ::ng-deep .bannerImg {
            img {
                margin-top: -112px;
            }
        }
        .banner-content {
            h2 {
                font-size: 38px;
                font-weight: 500;
                line-height: 45px;

                strong {
                    font-weight: 700;
                }
            }

            p {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .item .container {
            min-height: 423px;
            display: flex;
            padding: 0 40px;
            align-items: center;
            justify-content: space-between;
        }


        ::ng-deep .owl-dots {
            position: absolute;
            width: 100%;
            bottom: 93px;
            left: 0;

            .owl-dot {
                width: 27px;
                height: 3px;
                background-color: white;

                span {
                    display: none;
                }

                &.active {
                    background: #0053fa;
                }
            }
        }

    }
    // .formContainer {
    //     border-radius: 8px;
    //     background-color: white;
    //     border: 1px solid var(--themeColor);
      
    //     .topPart {
    //       color: var(--themeColor);
    //       font-size: 18px;
    //       font-weight: 700;
    //       padding: 20px;
    //       background: var(--newBackgroundColor);
    //       border-radius: 8px 8px 0 0;
    //     }
      
    //     .middlePart {
    //       padding: 20px;
      
    //       .formRow {
    //         margin-bottom: 12px;
    //         &:last-child {
    //           margin-bottom: 0;
    //         }
    //       }
    //     }
      
    //     .bottomPart {
    //       border-top: 1px solid #cbd6e2;
    //       padding: 20px;
      
    //       h5 {
    //         color: black;
    //         font-size: 16px;
    //         font-weight: 500;
    //       }
      
    //       p {
    //         color: var(--themeColor);
    //         font-size: 12px;
    //         font-weight: 400;
    //         margin-bottom: 0;
    //       }
      
    //       .buttonContainer {
    //         padding: 40px 0;
      
    //         .default-btn {
    //           display: block;
    //           width: 100%;
    //         }
    //       }
      
    //       .integrationsContainer {
    //         strong {
    //           font-size: 14px;
    //           font-weight: 500;
    //           display: block;
    //           margin-bottom: 8px;
    //         }
      
    //         .integrationsList {
    //           display: flex;
    //           flex-wrap: wrap;
    //           gap: 8px;
      
    //           .listItem {
    //             color: var(--themeColor);
    //             font-size: 12px;
    //             font-weight: 500;
    //             display: flex;
    //             align-items: center;
    //             padding: 0;
    //             white-space: nowrap;
    //             gap: 4px;
    //           }
    //         }
    //       }
    //     }
    //   }
    .integrationsList {
        position: absolute;
        left: 25px;
        top: 210px;
        width: calc(100% - 50px);
        z-index: 9;
        padding: 0 40px;
        ::ng-deep .owl-carousel {
        }
    }
    // .banner-area .sliderCover .integrationsList ::ng-deep .owl-nav .owl-prev {
    //     left: 0;
    // }
    // .banner-area .sliderCover .integrationsList ::ng-deep .owl-nav .owl-next {
    //     right: 0;
    // }
    .selectBox {
    border-radius: 4px;
    border: 1px solid #cbd6e2;
    background: #fff;
    position: relative;
    .textarea-description {
        height: 100px;
        resize: none;
    }
    .input-text,
    .textarea-description {
        padding: 12px 35px 12px 12px;
        font-size: var(--font-size-h6);
        line-height: 1.2;
        background: none;
        width: 100%;
        &::placeholder {
        color: rgb(14, 14, 40);
        opacity: 1; /* Ensures full opacity */
        }
    
        /* For Internet Explorer 10+ */
        &:-ms-input-placeholder {
        color: rgb(14, 14, 40);
        }
    
        /* For Microsoft Edge */
        &::-ms-input-placeholder {
        color: rgb(14, 14, 40);
        }
    }
    app-bt-select {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
    
        ::ng-deep {
        .ant-select {
            width: 100%;
            height: 43px;
        }
        }
    }
    
    > div {
        position: relative;
    
        &:after {
        content: "";
        border: 6px transparent solid;
        border-top-color: #343330;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 13px;
        top: 50%;
        // transform: rotate(45deg) translateY(-50%);
        // transform-origin: top right;
        }
    }
    
    &.countryField {
        > div {
        padding: 9px 20px 9px 7px;
        gap: 8px;
        }
    
        ::ng-deep {
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            height: 52px;
        }
        }
    
        small {
        display: block;
        font-family: var(--semibold-global);
        font-size: 11px;
        }
    }
    
    &.precastField {
        ::ng-deep {
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        }
        }
    }
    
    &.precastField,
    &.dateField {
        > div {
        padding: 12px 35px 12px 12px;
        }
    }
    
    &.dateField {
        > div {
        &:after {
            display: none;
        }
    
        lib-svg-icon {
            position: absolute;
            right: 9px;
            top: 50%;
            transform: translateY(-50%);
        }
        }
    
        nz-date-picker {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        }
    }
    
    .title {
        display: block;
        font-family: var(--semibold-global);
        font-size: 13px;
        color: var(--color-theme);
    }
    
    .selectedValue {
        display: flex;
        font-size: var(--font-size-h6);
        line-height: 1.2;
        gap: 7px;
    
        &.day {
        color: var(--color-theme);
        }
    }
}
    .selectBox.error-border .input-text, 
    .selectBox.error-border .textarea-description,
    .selectBox.precastField.error-border > div, .selectBox.dateField.error-border > div {
    padding: 16px 35px 8px 12px;
    }
    .error-message {
        color: red;
        font-size: 10px;
        margin-left: 13px;
        margin-top: 1px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .error-border {
        border-color: red;
      }
    &--item {
        &--step {
          color: var(--newThemeColor);
          font-size: 20px;
          font-weight: 500;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 16px;
          &--text {
            // width: fit-content;
          }
        }
        &--title {
          color: var(--newButtonColor);
          font-size: 44px;
          font-weight: 500;
          margin: 0;
          line-height: 1.3;
          margin-bottom: 6px;
        }
        &--desc {
          color: #668189;
          font-size: 18px;
        }
      }
}

.formRow {
    position: relative;
}

.arrow-btn {
    padding: 10px 15px;

    svg {
        margin-left: 40px;
    }
}

.line-container {
    width: 86px;
    height: 2px;
}
  
:host ::ng-deep .active .line {
    // width: 100%;
    height: 100%;
    background-color: var(--themeColor);
    animation: fillLine 5s linear forwards;
}
  /* Define keyframes for the animation */
@keyframes fillLine {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
.scroll-next {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: #6F6F6F;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    z-index: 99;
    cursor: pointer;
    span {
        display: block;
        width: 20px;
        height: 28px;
        border: 2px solid #0053FA;
        border-radius: 8px;
        position: relative;
        &::before {
            content: "";
            width: 2px;
            height: 8px;
            background: #0053FA;
            border-radius: 2px;
            position: absolute;
            left: 50%;
            top: 4px;
            transform: translateX(-50%);
        }
    }
}
@media only screen and (max-width : 1200px) {
    .banner-area {
        padding-left: 7px;
        padding-right: 30px;
    }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .sliderCover {
        .banner-content {
            // max-width: 60%;
        }

        // .bannerImg {
        //     max-width: 40%;
        // }
    }
}
@media only screen and (max-width : 1024px) {
    .banner-area .integrationsList {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        padding: 0 30px;
    }
    .bannerr-area-item-image {
        margin-top: -60px;
        position: relative;
        z-index: -1;
    }
    // .scroll-next {
    //     display: none;
    // }
}
/* max width 992px */
@media only screen and (max-width : 992px) {
    .banner-area .integrationsList {
        padding-top: 30px;
    }
    .banner-area .sliderCover {
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner-area .integrationsList {
        padding: 0 30px;
        ::ng-deep .owl-carousel {

        }
    }
    .banner-area {
        padding: 100px 0 24px 0;
        grid-template-columns: unset;
        gap: 24px;


        .sliderCover {
            width: 100vw;
            .item .container {
                // flex-direction: column;
                // padding-top: 80px;

                .banner-content {
                    // text-align: center;
                }

                .bannerImg {
                    // max-width: 60%;
                }
            }
        }
        .formContainer {
            // width: auto;
            // margin: 0 20px;
            // margin-inline: auto;
        }
    }
    .banner-area .sliderCover .bannerImg img {
        width: 1000px;
        max-width: 1000px;
        margin-top: -50px;
    }
    .banner-area .sliderCover .bannerImg {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width : 767px) {
    .hidemobile {
        display: none;
    }
    .banner-area {
        .sliderCover {
            .item .container {
                padding: 0px 35px 40px;

                .banner-content {
                    p {
                        br {
                            display: none;
                        }
                    }
                }

                // .bannerImg {
                //     max-width: 100%;
                // }
            }
        }
        .integration-box {
            display: flex;
            justify-content: center;
        }
        .banner-area {
            .formContainer {
                width: 100%;
            }
        }
    }
    .banner-area .sliderCover .bannerImg {
        display: flex;
        justify-content: flex-end;
        background: #f0ebfe;
        img {
            width: 1100px;
            max-width: 1100px;
            margin-top: -80px;
            margin-right: -30px;
            opacity: .3;
        }
    }
    .banner-area .sliderCover ::ng-deep .owl-nav {
        width: calc(100% - 25px);
        padding: 0;
    }
    // .banner-area .sliderCover .owl-nav .owl-prev, 
    // .banner-area .sliderCover .owl-nav .owl-next{
    //     transform: scale(.7);
    //     transform-origin: 0 0;
    // }

    // .banner-area .sliderCover .integrationsList ::ng-deep .owl-nav .owl-prev {
    //     left: -10px;
    // }
    // .banner-area .sliderCover .integrationsList ::ng-deep .owl-nav .owl-next {
    //     right: -10px;
    // }
    .banner-area--item--step {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .line-container {
        height: 3px;
    }
    .banner-area--item--title {
        font-size: 25px;
    }
    .banner-area--item--desc {
        font-size: 16px;
    }
    .bannerr-area-item-image {
        margin-top: -20px;
    }
}


@media (min-width: 576px) {
    .banner-area .sliderCover ::ng-deep .owl-nav {
        // max-width: 540px;
    }
}

@media (min-width: 768px) {
    // .banner-area .sliderCover ::ng-deep .owl-nav {
    //     max-width: 720px;
    // }
    .banner-area .sliderCover .item .container {
        padding: 0 70px;
        min-height: 0;
        top: 40%;
    }
}

@media (min-width: 992px) {
    .banner-area .sliderCover ::ng-deep .owl-nav {
        max-width: 960px;
    }
    .banner-area .sliderCover .item .container {
        padding: 0 60px;
        min-height: 0;
        top: 50%;
    }
}

@media (min-width: 1200px) {
    .banner-area .sliderCover ::ng-deep .owl-nav {
        max-width: 1140px;
    }
    .banner-area .sliderCover .item .container {
        padding: 0 40px;
        min-height: 423px;
    }
}

@media (min-width: 1400px) {
    .banner-area .sliderCover ::ng-deep .owl-nav {
        max-width: 1320px;
    }
}

@media (min-width: 1700px) {
    .banner-area .sliderCover ::ng-deep .owl-nav {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 576px) {
    .banner-area {
        width: 100% !important;
    }
    .formContainer {
        width: calc(100vw - 50px) !important;
        margin-inline: 0 !important;
        min-width: 0 !important;
    }
    .sliderCover {
        width: 100vw !important;
    }
}