<div class="banner-area" id="home-banner">
  <owl-carousel-o #owlCarousel [options]="aboutSlider" (translated)="onTranslated($event)">
    <ng-template carouselSlide>
      <div class="slide">
        <figure class="left">
          <img src="assets/images/slide1-left.jpg" width="482" height="473" alt="slide">
        </figure>
        <figure class="right">
          <img src="assets/images/slide1-right.jpg" width="482" height="473" alt="slide">
        </figure>
        <div class="slide-content center">
          <div>
            <h1>
              A new Engineering Experience.
      Focus on  <span>what matters</span>
            </h1>
            <p class="small-title">
              BuildTwin simplifies how you outsource, manage and ensure your projects meet time 
      and quality goals. Get started in minutes and focus on what matters!
            </p>
          </div>
          <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <figure class="left">
          <img src="assets/images/slide2-left.jpg" width="482" height="473" alt="slide">
        </figure>
        <figure class="right">
          <img src="assets/images/slide2-right.jpg" width="482" height="473" alt="slide">
        </figure>
        <div class="slide-content center">
          <div>
            <h2>
              Get 5+ free  <span>competitive offers</span>
    from 100s of pre-qualified vendors
            </h2>
            <p class="small-title">
              Trusted, Reliable and Efficient – Access pre-qualified engineers 
    who deliver on time, within budget and to your standards.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <figure class="left">
          <img src="assets/images/slide3-left.jpg" width="482" height="473" alt="slide">
        </figure>
        <figure class="right">
          <img src="assets/images/slide3-right.jpg" width="482" height="473" alt="slide">
        </figure>
        <div class="slide-content center">
          <div>
            <h2>
              Less stress. More progress.
    Meet your  <span>AI Design Manager</span>
            </h2>
            <p class="small-title">
              Your AI-powered Design Manager simplifies project coordination, ensuring timelines, quality
    and budget are on track. Achieve more with intelligent automation.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <figure class="left">
          <img src="assets/images/slide4-left.jpg" width="482" height="473" alt="slide">
        </figure>
        <figure class="right">
          <img src="assets/images/slide4-right.jpg" width="482" height="473" alt="slide">
        </figure>
        <div class="slide-content center">
          <div>
            <h2>
              Relax! Let AI check every
    detail and  <span>ensure quality</span>
            </h2>
            <p class="small-title">
              AI tracks all changes, conversations, and revisions, ensuring every drawing 
    meets compliance with your requirement.
            </p>
          </div>
          <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="container slide-tab-wrapper">
    <ul class="slide-tab">
      <li (click)="goToSlide(0)" [ngClass]="{'active': currentIndex==0}">
        1 | Marketplace + AI Design Manager
      </li>
      <li (click)="goToSlide(1)" [ngClass]="{'active': currentIndex==1}">
        2 | Get competetive quotes
      </li>
      <li (click)="goToSlide(2)" [ngClass]="{'active': currentIndex==2}">
        3 | Meet your AI Design Manager
      </li>
      <li (click)="goToSlide(3)" [ngClass]="{'active': currentIndex==3}">
        4 | Assisted AI Project Delivery
      </li>
    </ul>
  </div>
</div>
<ng-template #buttonTemplate>
  <div class="button-wrapper flex-justify-center">
    <a href="https://www.buildtwin.com/get-started" target="_blank" class="button-v2">
      Get started NOW
    </a>
    <a (click)="call()" href="javascript:void(0)" class="button-v2 border">
      <img src="assets/images/icons/icon1.png" width="23" height="23" alt="Schedule DEMO">
      Schedule DEMO
    </a>
  </div>
</ng-template>
<app-hubspot *ngIf="showPopup" [ngClass]="{'active':showPopup}" (closePopupStatus)="closePopupStatus($event)"></app-hubspot>


  <!-- <div class="integrationsList roundButtonWrapper">
    <owl-carousel-o [options]="integrationsList">
      <ng-template carouselSlide>
        <div class="integration-box text-center">
            <a routerLink="{{_languageService.currentLanguage}}/partners/gbc-engineers">
              <picture>
                <source srcset="assets/images/gbc_black.webp" type="image/webp">
                <source srcset="assets/images/gbc_black.png" type="image/png">
                <img src="assets/images/gbc_black.png" 
                     alt="Gbc" 
                     style="width: 100px;" 
                     width="100" 
                     height="57">
              </picture>
            </a>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="integration-box text-center">
            <a routerLink="{{_languageService.currentLanguage}}/partners/j-f-india">
              <picture>
                <source srcset="assets/images/jf_black.webp" type="image/webp">
                <source srcset="assets/images/jf_black.png" type="image/png">
                <img src="assets/images/jf_black.png" 
                     alt="J&F" 
                     style="width: 68.522px;" 
                     width="68.522" 
                     height="34.731">
              </picture>
            </a>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="integration-box text-center">
            <a routerLink="{{_languageService.currentLanguage}}/partners/durchgeplant">
              <picture>
                <source srcset="assets/images/durchgeplant_black.webp" type="image/webp">
                <source srcset="assets/images/durchgeplant_black.png" type="image/png">
                <img src="assets/images/durchgeplant_black.png" 
                     alt="durchgeplant" 
                     style="width: 217.053px;" 
                     width="217.053" 
                     height="34.729">
              </picture>
            </a>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="integration-box text-center">
            <a routerLink="{{_languageService.currentLanguage}}/partners/aarbee-structures-private-limited">
              <picture>
                <source srcset="assets/images/aarbee_black.webp" type="image/webp">
                <source srcset="assets/images/aarbee_black.png" type="image/png">
                <img src="assets/images/aarbee_black.png" 
                     alt="Aarbee" 
                     style="width: 399.985px;" 
                     width="399.985" 
                     height="50.847">
            </picture>
            </a>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="integration-box text-center">
            <a routerLink="{{_languageService.currentLanguage}}/partners/caldim-engineering">
              <picture>
                <source srcset="assets/images/caldim_black.webp" type="image/webp">
                <source srcset="assets/images/caldim_black.png" type="image/png">
                <img src="assets/images/caldim_black.png" 
                     alt="Caldim" 
                     style="width: 134.489px;" 
                     width="134.489" 
                     height="56.627">
              </picture>
            </a>
        </div>
    </ng-template>
  </owl-carousel-o>
  </div> -->
  <!-- <div class="toggle-sidebar" (click)="toggleSidebar()">
    Start Enquiry
  </div>
  <div class="StickyPosition" [ngClass]="{'show':toggleSidebarStatus}">
  <div class="formContainer">
    <span class="cross" (click)="toggleSidebar()"></span>
    <app-free-offer-form [type]="'outside'" [normalBtn]="true"></app-free-offer-form>
</div>
  </div> -->