<app-hd-navbar></app-hd-navbar>

<app-om-banner></app-om-banner>

<app-om-services></app-om-services>

<app-om-why-choose-us></app-om-why-choose-us>

<app-video-call-made-easy></app-video-call-made-easy>

<app-om-partners></app-om-partners>

<app-om-features></app-om-features>

<app-om-integrations></app-om-integrations>

<app-om-how-it-works></app-om-how-it-works>

<app-om-funfacts></app-om-funfacts>

<app-om-about></app-om-about>

<app-om-testimonials></app-om-testimonials>

<app-om-pricing></app-om-pricing>

<app-om-blog></app-om-blog>

<app-om-footer></app-om-footer>