<app-hd-navbar></app-hd-navbar>


<app-om-banner></app-om-banner>

<!-- 3 Features -->

<!-- <app-om-services></app-om-services> -->


<!-- Testimmonials -->

<app-enterprise-testimonials></app-enterprise-testimonials>


<!-- Good reasons -->

<app-om-why-choose-us></app-om-why-choose-us>

<!-- Features -->

<app-video-call-made-easy></app-video-call-made-easy>



<!-- All in One Collaboration Tool -->

<app-om-about></app-om-about>

<!-- Integration -->

<app-om-integrations></app-om-integrations>

<!-- Plug & Play WorkFlow -->

<app-om-features></app-om-features>

<!-- Simulate project -->

<app-om-how-it-works></app-om-how-it-works>

<!-- Continous Improvement  -->

<app-om-funfacts></app-om-funfacts>


<!-- trusted by marketplace -->
<app-om-partners></app-om-partners>



<!-- Pricing -->
<app-hd-pricing></app-hd-pricing>

<!--
<app-om-blog></app-om-blog>
-->

<app-hd-footer></app-hd-footer>