.features-content {
    max-width: 592px;

    h2 {
        font-size: 24px;
        line-height: 1.25;
        margin: {
            top: -5px;
            bottom: 15px;
        };
    }
    p {
        letter-spacing: 0.4px;
    }
    .default-btn {
        font-family: var(--archivoFontFamily);
        background-color: var(--themeColor);
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 10px;
    }
}
.features-image {
    padding-left: 58px;
}
.shape1 {
    top: 18.1%;
    left: 46.8%;
    transform: scaleY(-1);

    img {
        animation: {
            duration: 30s;
            name: rotateme;
            timing-function: linear;
            iteration-count: infinite;
        };
    }
}
.shape2 {
    bottom: 24%;
    left: 46%;

    img {
        animation: movetopbounce 2s linear infinite;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .features-content {
        max-width: 100%;
    
        h2 {
            font-size: 25px;
            margin: {
                top: -4px;
                bottom: 8px;
            };
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .features-image {
        padding-left: 0;
        margin-top: 25px;
    }
    .shape1, .shape2 {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .features-content {
        max-width: 100%;
    
        h2 {
            font-size: 29px;
            margin: {
                top: -2px;
                bottom: 10px;
            };
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .features-image {
        padding-left: 0;
        margin-top: 25px;
    }
    .shape1, .shape2 {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .features-content {
        max-width: 100%;
    
        h2 {
            font-size: 35px;
            margin: {
                top: -4px;
                bottom: 12px;
            };
        }
        .default-btn {
            margin-top: 8px;
        }
    }
    .features-image {
        padding-left: 0;
    }
    .shape1 {
        top: 15%;
        left: 42%;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .features-content {
        max-width: 100%;
    }
    .features-image {
        padding-left: 25px;
    }
    .shape1 {
        top: 10%;
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .features-image {
        padding-left: 35px;
    }

}