// CTA
.cta-area {
    &::before {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 50%;
        content: '';
        position: absolute;
        background-color: var(--blackColor);
    }
}
.cta-inner-box {
    padding: 92px 70px;
    border-radius: 8px;//updated-from-20-8;
    background: linear-gradient(90deg, rgba(136, 109, 224, 0.00) 28.47%, #886DE0 74.34%);
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    .content {
        max-width: 575px;

        h2 {
            font-size: 40px; font-weight: 600;
            line-height: 1.3;
            margin: {
                bottom: 10px;
                top: -5px;
            };
        }
        p {
            font-size: var(--paraFontSize);
        }
        .default-btn {
            font-family: var(--archivoFontFamily);
            background-color: var(--themeColor);
            padding-top: 13px;
            padding-bottom: 13px;
            margin-top: 5px;
        }
    }
    .image {
        margin-left: 12px;
    }
}

// Footer
.footer-area {
    background-color: var(--blackColor);
    padding-top: 100px;
}
.footer-content {
    padding-right: 25px;
    margin-bottom: 25px;

    .logo {
        margin-bottom: 20px;
    }
    p {
        color: var(--extraLightColor);
        font-size: 12px;
    }
    .socials-link {
        margin-top: 25px;

        a {
            margin-right: 25px;

            img {
                width: 20px;
            }
            &:hover {
                opacity: .70;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.subscribe-inner-box {
    margin-bottom: 25px;
    h2 {
        font-size: 40px; font-weight: 600;
        line-height: 1.3;
        max-width: 485px;
        color: var(--whiteColor);
    }
    .subscribe-form {
        margin-left: 35px;
    }
    .info {
        color: var(--extraLightColor);
        font-size: 14px;
        margin: {
            left: 35px;
            top: 18px;
        };
    }
}
::ng-deep {
    .subscribe-form {
        .mat-mdc-form-field {
            display: block;

            .mdc-text-field--filled {
                border-radius: 8px;
                background-color: #3b3b4e;
                padding: {
                    left: 20px;
                    right: 20px;
                };
            }
            .mat-mdc-text-field-wrapper {
                .mat-mdc-form-field-infix {
                    .mat-mdc-floating-label {
                        color: #91939b !important;
                        font: {
                            size: 14px;
                            weight: 500;
                            family: var(--fontFamily);
                        };
                    }
                    .mdc-text-field__input {
                        color: var(--whiteColor);
                        font: {
                            size: 14px;
                            weight: 500;
                            family: var(--fontFamily);
                        };
                    }
                }
                &:not(.mdc-text-field--outlined) {
                    .mat-mdc-form-field-infix {
                        padding: {
                            top: 23px;
                            bottom: 8px;
                        };
                    }
                }
            }
            .mat-mdc-form-field-subscript-wrapper, .mdc-line-ripple {
                display: none;
            }
            .mat-mdc-form-field-focus-overlay {
                display: none;
            }
            .mdc-text-field--filled {
                &:not(.mdc-text-field--disabled) {
                    .mdc-text-field__input {
                        caret-color: var(--whiteColor);
                    }
                }
            }
        }
        .mat-mdc-button {
            top: 2px;
            right: 2px;
            bottom: 2px;
            height: auto;
            min-width: unset;
            position: absolute;
            border-radius: 8px;
            display: inline-block;
            padding: 12px 40px;
            color: var(--whiteColor) !important;
            background-color: var(--themeColor);
            font: {
                size: 14px;
                weight: 500;
                family: var(--syneFontFamily);
            };
            .mdc-button__ripple {
                border-radius: 8px;
            }
            .mat-mdc-button-touch-target {
                height: 100%;
                border-radius: 8px;
            }
            .mat-mdc-focus-indicator {
                border-radius: 8px;
            }
        }
    }
}
.footer-inner-box {
    margin-top: 75px;
    padding-top: 100px;
    border-top: 2px dashed rgba(255, 255, 255, 0.20);

    .single-footer-widget {
        &:first-child {
            padding-left: 0;
        }
        .logo {
            margin-bottom: 20px;
        }
        p {
            color: var(--whiteColor);
            font-size: 12px;
        }
        h3 {
            font-size: 12px;
            margin-bottom: 24px;
            color: var(--whiteColor);
        }
        .custom-links {
            li {
                margin-bottom: 14px;

                a {
                    font-size: var(--fontSizeSmall);
                    color: var(--extraLightColor);
                    font-weight: 500;

                    &:hover {
                        color: var(--extraLightColor);
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .contact-info {
            li {
                margin-bottom: 14px;
                font-weight: 500;
                font-size: var(--fontSizeSmall);
                color: var(--extraLightColor);

                span {
                    color: var(--whiteColor);
                }
                a {
                    color: var(--extraLightColor);

                    &:hover {
                        color: var(--extraLightColor);
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.copyright-area {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.10);
    padding: {
        top: 25px;
        bottom: 25px;
    };
    p {
        font-size: 12px;
        color: var(--extraLightColor);

        span {
            color: var(--whiteColor);
        }
        a {
            color: var(--whiteColor);

            &:hover {
                color: var(--extraLightColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // CTA
    .cta-inner-box {
        padding: 60px 20px;
        border-radius: 4px;
        
        .content {
            margin-bottom: 25px;
            max-width: 100%;

            h2 {
                font-size: 25px;
                margin: {
                    bottom: 9px;
                    top: -4px;
                };
            }
            .default-btn {
                margin-top: 0;
            }
        }
        .image {
            margin-left: 0;
        }
    }

    // Footer
    .footer-area {
        padding-top: 60px;
    }
    .footer-content {
        padding-right: 0;
    
        .logo {
            margin-bottom: 12px;
        }
        p {
            font-size: 14px;
        }
        .socials-link {
            margin-top: 17px;
    
            a {
                margin-right: 15px;
    
                img {
                    width: 18px;
                }
            }
        }
    }
    .subscribe-inner-box {
        padding-left: 0;

        h2 {
            font-size: 18px;
            max-width: 100%;
        }
        .subscribe-form {
            margin: {
                left: 0;
                top: 20px;
            };
        }
        .info {
            font-size: 14px;
            margin: {
                left: 0;
                top: 15px;
            };
        }
    }
    ::ng-deep {
        .subscribe-form {
            .mat-mdc-form-field {
                .mdc-text-field--filled {
                    border-radius: 5px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                .mat-mdc-text-field-wrapper {
                    .mat-mdc-form-field-infix {
                        .mat-mdc-floating-label {
                            font-size: 16px;
                        }
                        .mdc-text-field__input {
                            font-size: 16px;
                        }
                    }
                }
            }
            .mat-mdc-button {
                top: 0;
                right: 0;
                bottom: 0;
                font-size: 14px;
                margin-top: 15px;
                border-radius: 5px;
                position: relative;
                padding: 15px 30px;
                
                .mdc-button__ripple {
                    border-radius: 5px;
                }
                .mat-mdc-button-touch-target {
                    border-radius: 5px;
                }
                .mat-mdc-focus-indicator {
                    border-radius: 5px;
                }
            }
        }
    }
    .footer-inner-box {
        margin-top: 50px;
        padding-top: 60px;

        .single-footer-widget {
            h3 {
                margin-bottom: 15px;
            }
            .custom-links {
                li {
                    margin-bottom: 11px;
                }
            }
            .contact-info {
                li {
                    margin-bottom: 11px;
                }
            }
        }
    }
    .copyright-area {
        margin-top: 60px;
        padding: {
            top: 20px;
            bottom: 20px;
        };
        p {
            font-size: 14px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // CTA
    .cta-inner-box {
        padding: 80px 50px;
        
        .content {
            margin-bottom: 25px;
            max-width: 100%;

            h2 {
                font-size: 29px;
                margin: {
                    bottom: 10px;
                    top: -4px;
                };
            }
        }
        .image {
            margin-left: 0;
        }
    }

    // Footer
    .footer-area {
        padding-top: 80px;
    }
    .footer-content {
        padding-right: 0;
    
        .logo {
            margin-bottom: 15px;
        }
        p {
            font-size: 15px;
        }
        .socials-link {
            margin-top: 22px;
    
            a {
                margin-right: 20px;
            }
        }
    }
    .subscribe-inner-box {
        padding-left: 0;

        h2 {
            font-size: 20px;
            max-width: 100%;
        }
        .subscribe-form {
            margin: {
                left: 0;
                top: 20px;
            };
        }
        .info {
            font-size: 15px;
            margin: {
                left: 0;
                top: 18px;
            };
        }
    }
    ::ng-deep {
        .subscribe-form {
            .mat-mdc-button {
                padding: 11px 25px 12px;
                font-size: 15px;
            }
        }
    }
    .footer-inner-box {
        margin-top: 70px;
        padding-top: 80px;
    
        .single-footer-widget {
            h3 {
                margin-bottom: 15px;
            }
            .custom-links {
                li {
                    margin-bottom: 12px;
                }
            }
            .contact-info {
                li {
                    margin-bottom: 12px;
                }
            }
        }
    }
    .copyright-area {
        margin-top: 80px;
     
        p {
            font-size: 15px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // CTA
    .cta-inner-box {
        padding: 80px 60px;
        
        .content {
            max-width: 100%;

            h2 {
                font-size: 40px; font-weight: 600;
            }
            .btn-box {
                margin-top: 22px;
            }
        }
        .image {
            margin-left: 0;
            text-align: center;
        }
    }

    // Footer
    .footer-content {
        padding-right: 0;

        p {
            font-size: 15px;
        }
        .socials-link {
            margin-top: 30px;
    
            a {
                margin-right: 20px;
            }
        }
    }
    .subscribe-inner-box {
        padding-left: 0;

        h2 {
            font-size: 25px;
            max-width: 100%;
        }
        .subscribe-form {
            margin-left: 0;
        }
        .info {
            font-size: 15px;
            margin-left: 0;
        }
    }
    ::ng-deep {
        .subscribe-form {
            .mat-mdc-button {
                top: 0;
                right: 0;
                bottom: 0;
                margin-top: 15px;
                position: relative;
                padding: 16px 30px;
            }
        }
    }
    .footer-inner-box {
        .single-footer-widget {
            h3 {
                margin-bottom: 15px;
            }
            .custom-links {
                li {
                    margin-bottom: 12px;
                }
            }
            .contact-info {
                li {
                    margin-bottom: 12px;
                }
            }
        }
    }
    .copyright-area {
        p {
            font-size: 15px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // Footer
    .footer-content {
        padding-right: 0;

        .socials-link {
            margin-top: 40px;

            a {
                margin-right: 20px;
            }
        }
    }
    .subscribe-inner-box {
        padding-left: 15px;

        h2 {
            font-size: 40px; font-weight: 600;
            max-width: 100%;
        }
        .subscribe-form {
            margin-left: 0;
        }
        .info {
            margin-left: 0;
        }
    }
    .footer-inner-box {
        padding-left: 25px;
    
        .single-footer-widget {
            h3 {
                margin-bottom: 20px;
            }
            .custom-links {
                li {
                    margin-bottom: 12px;
                }
            }
            .contact-info {
                li {
                    margin-bottom: 12px;
                }
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    // Footer
    .subscribe-inner-box {
        h2 {
            font-size: 40px; font-weight: 600;
        }
        .subscribe-form {
            margin-left: 15px;
        }
        .info {
            margin-left: 15px;
        }
    }

    .single-footer-widget {
        padding-left: 60px;
    }

}
.emailFOrmData {
    .ng-invalid.ng-touched{
        border-color: red  !important;
    }
}

.subscribe-form .mat-mdc-button:disabled{
    opacity: 0.5;
}
.error {
    color: red !important;
}