<div class="integrations-area">
    <div class="container">
        <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-archivo">
                <span>Connect BuildTwin</span> to legacy software easily. 
            </h2>
        </div>
        <div class="row integrations-area-list position-relative z-1">
            <owl-carousel-o [options]="integrationsList">
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/bimplus.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/trimble.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/autodeskconstruction.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/aconex.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/procore.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/4projects.png" alt="miro">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/teambinder.png" alt="miro">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>