<div class="integrations-area">
    <div class="container">
        <div class="om-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 fw-semibold font-archivo">
                Connect Blin meeting software to other apps easily
            </h2>
        </div>
        <div class="integrations-inner-box position-relative z-1">
            <div class="row">
                <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500">
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/shopify.png" alt="shopify">
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/woocommerce.png" alt="woocommerce">
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/wix.png" alt="wix">
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/prestashop.png" alt="prestashop">
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/shopifyplus.png" alt="shopifyplus">
                    </div>
                </div>
                <div class="col-lg-2 col-6 col-sm-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                    <div class="integration-box text-center">
                        <img src="assets/images/integrations/bigcommerce.png" alt="bigcommerce">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>