<div class="happier-customers-area pt-75">
    <div class="container">
        <div class="row happier-customers-inner">
            <div class="hd-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
                <h2>
                    <i class="jeffStyle">Automate</i>
                    securely working <br>with  10.000+ engineers
                </h2>
                <p class="ms-auto me-auto">
                    Automate the set-up working with different vendors  and track <strong>LIVE</strong> the project progress<br>
                    while BuildTwin does the heavy lifting for you in the background. LIVE Tracking 
                </p>
                <div class="e2eSection">
                    <div class="e2eImg">
                        <img src="assets/images/e2e-encrypted-icon.png" alt="e2e-encrypted-icon" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    </div>
                    <div class="e2eContent">
                        <h4 data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">End-to-end encrypted</h4>
                        <p data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                            BuildTwin automates compliance - while you are in the cockpit. Set-up
your requirements 1 time - and make it mandatory across all vendors. 
                        </p>
                    </div>
                </div>
            </div>
            
     
        </div>
    </div>
    <div class="happier-customers-image ms-auto me-auto text-center position-relative z-1">
        
        <picture>
            <!-- <source media="(min-width:650px)" srcset="img_pink_flowers.jpg">
            <source media="(min-width:465px)" srcset="img_white_flower.jpg"> -->
            <img src="assets/images/liveTrackingBG.png" alt="happier-customers-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        </picture>

    </div>
</div>