.how-it-works-image {
    padding: {
        left: 173px;
        right: 133px;
        bottom: 90px;
    };
    .main-image {
        border-radius: 8px;//updated-from-20-8;
    }
    .shape1 {
        right: 45px;
        top: 115px;

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
    .shape2 {
        left: 58px;
        bottom: 0;

        img {
            animation: moveleftbounce 2s linear infinite;
        }
    }
}
.how-it-works-content {
    top: -35px;
    padding-left: 75px;
    position: relative;

    h2 {
        line-height: 1.25;
        max-width: 539px;
        font-size: 24px;
        margin: {
            bottom: 15px;
            top: -5px;
        };
    }
    p {
        max-width: 592px;
        //letter-spacing: 0.4px;
    }
    .default-btn {
        font-family: var(--archivoFontFamily);
        background-color: var(--themeColor);
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 10px;
    }
}
.shape {
    right: 16%;
    bottom: 22%;

    img {
        animation: {
            duration: 30s;
            name: rotateme;
            timing-function: linear;
            iteration-count: infinite;
        };
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .how-it-works-image {
        padding: {
            left: 0;
            right: 0;
            bottom: 25px;
        };
        .main-image {
            border-radius: 10px;
        }
        .shape1, .shape2 {
            display: none;
        }
    }
    .how-it-works-content {
        top: 0;
        padding-left: 0;
    
        h2 {
            max-width: 100%;
            font-size: 25px;
            margin: {
                bottom: 10px;
                top: -4px;
            };
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .shape {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .how-it-works-image {
        padding: {
            left: 0;
            right: 0;
            bottom: 25px;
        };
        .shape1, .shape2 {
            display: none;
        }
    }
    .how-it-works-content {
        top: 0;
        padding-left: 0;
    
        h2 {
            max-width: 100%;
            font-size: 29px;
            margin: {
                bottom: 10px;
                top: -4px;
            };
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .shape {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .how-it-works-image {
        padding: {
            left: 0;
            bottom: 0;
            right: 15px;
        };
        .shape1, .shape2 {
            display: none;
        }
    }
    .how-it-works-content {
        top: 0;
        padding-left: 0;
    
        h2 {
            max-width: 100%;
            font-size: 35px;
        }
        p {
            max-width: 100%;
        }
    }
    .shape {
        right: 10%;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .how-it-works-image {
        padding: {
            left: 50px;
            right: 60px;
            bottom: 50px;
        };
        .shape1 {
            right: 0;
        }
        .shape2 {
            left: 0;
        }
    }
    .how-it-works-content {
        top: 0;
        padding-left: 35px;
    }
    .shape {
        right: 12%;
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .how-it-works-image {
        padding: {
            left: 133px;
            right: 83px;
            bottom: 90px;
        };
        .shape1 {
            right: 0;
        }
        .shape2 {
            left: 18px;
        }
    }
    .how-it-works-content {
        padding-left: 65px;
    }

}