<div class="row align-items-center">
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
        <div class="single-partner-item">
            <img src="assets/images/deliverables/client-section-logos/bim.png" alt="partner-image">
        </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
        <div class="single-partner-item">
            <img src="assets/images/deliverables/client-section-logos/Durchgeplant.png" alt="partner-image">
        </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
        <div class="single-partner-item">
            <img src="assets/images/deliverables/client-section-logos/indian-engineer.png" alt="partner-image">
        </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
        <div class="single-partner-item">
            <img src="assets/images/deliverables/client-section-logos/J&F.png" alt="partner-image">
        </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
        <div class="single-partner-item">
            <img src="assets/images/deliverables/client-section-logos/indian-engineer.png" alt="partner-image">
        </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
        <div class="single-partner-item">
            <img src="assets/images/deliverables/client-section-logos/Planworks.png" alt="partner-image">
        </div>
    </div>
</div>