<div class="bottom-space">
    <app-hd-navbar></app-hd-navbar>
    
        <div class="common-bannerWrapper global-mb">
            <img src="../../../../assets/images/serviceBanner.jpg" alt="Expert Theaters Engineering Solutions">
            <div class="bannerContainer">
                <div class="containerbn">
                    <h1>
                        Find Specialized Expertise for Your Theater Projects
                    </h1>
                    <p>
                        BuildTwin provides access to global experts in theater engineering services and creative theater design, ensuring you secure the right expertise for your project needs.
                    </p>
                    <div class="button-wrapper">
                        <button class="button-v2 mdc-button" (click)="scrollToSection('targetSection2')">
                            Book a Service
                        </button>
                        <button class="button-v2 mdc-button border" (click)="scrollToSection('targetSection1')">
                            Learn more
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div class="global-mb container">
            <div class="heading">
                <h2 class="title">
                    Expertise Across Diverse Theater Types Globally
                </h2>
                <div class="subTitle">
                    Our vendors provide tailored solutions for all types of theaters so you can create captivating performance spaces exceeding norms
                </div>
            </div>
    
            <div class="list-type-wrapper bottom-space-big flex-wrap col-3-big">
                <div class="block">
                    <h3 class="block-heading">
                        Proscenium Theatres
                    </h3>
                    <p>
                        Classic venues featuring a fixed stage with a prominent proscenium arch, banked seating, and a dedicated auditorium. Designed for optimal acoustics and clear sightlines, these theaters seamlessly blend traditional aesthetics with modern engineering.
                    </p>
                    
                </div>
                <div class="block">
                    <h3 class="block-heading">
                        Thrust Stage Theatres
                    </h3>
                    <p>
                        Innovative performance spaces where the stage extends into the audience, creating an intimate environment, direct engagement between actors and spectators. Ideal for dynamic theatrical productions, live music, and contemporary dance.
                    </p>
                </div>
                <div class="block">
                    <h3 class="block-heading">
                        Arena & In-the-Round Theatres
                    </h3>
                    <p>
                        Versatile auditoria with seating arranged around a central stage for 360° viewing. Engineered for multi-angle performance, perfect for large-scale events, concerts, and community productions while maintaining superior acoustics and safety.
                    </p>
                </div>
                <div class="block">
                    <h3 class="block-heading">
                        Black-Box/Studio Theatres
                    </h3>
                    <p>
                        Flexible, minimalist spaces offering reconfigurable seating and stage layouts. Ideal for experimental drama, rehearsals, and innovative artistic expressions, these venues empower designers to reimagine performance spaces.
                    </p>
                </div>
            </div>
        </div>

        <!-- <div class="global-mb container">
            <div class="heading">
                <div class="title">
                    Diverse Infrastructure Solutions
                </div>
                <div class="subTitle">
                    Optimized Designs for Every Business Requirement
                </div>
            </div>
    
            <div class="list-type-wrapper bottom-space-big">
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Colocation Data Centers</h4>
                        </figure>
                        Shared Facilities, Individual Control 
                    </h5>
                    <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p>
                </div>
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Enterprise Data Centers</h4>
                        </figure>
                        Tailored Architecture for Business Criticality
                    </h5>
                    <p>
                        Custom facilities designed to support specific business operations, enhanced control over data management and security.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Managed Services Data Centers</h4>
                        </figure>
                        Streamlined Operations by Experts 
                    </h5>
                    <p>
                        Third-party managed infrastructures providing specialized maintenance and operations, freeing up your resources for core business tasks.
                    </p>
                </div>
            </div>
            <div class="list-type-wrapper bottom-space-big">
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Cloud Data Centers</h4>
                        </figure>
                        Dynamic Scaling and High Elasticity 
                    </h5>
                    <p>
                        Flexible, scalable solutions for businesses needing dynamic capacity and minimal physical infrastructure investment.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Hyperscale Data Centers</h4>
                        </figure>
                        Robust Structures for Massive Scale Operations 
                    </h5>
                    <p>
                        Built for large-scale operations, these centers support extensive data demands with high efficiency and robust architecture.
                    </p>
                </div>
            </div>
        </div> -->

        <app-theaters-tt-partners [page]="'sector'" id="targetSection1"></app-theaters-tt-partners>
        <div class="global-mb container">
            <div class="heading">
                <h2 class="title">
                    Engineering Services for Theaters & Ops
                </h2>
                <p class="subTitle">
                    Structural and architectural services to meet the creative and performance goals for your theater projects
                </p>
            </div>
    
            <div class="list-type-wrapper bottom-space-big">
                <div class="block cursor" [routerLink]="'/services/pre-cast-detailing-services'">
                    <h3 class="block-heading">
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        Structural Services 
                    </h3>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>Structural Design</li>
                        <li>Structural Precast Design</li>
                        <li>Cast-in-situ Design</li>
                        <li>PEB Design and Detailing</li>
                    </ul>
                </div>
                <div class="block cursor" [routerLink]="'/services/steel-detailing-services'">
                    <h3 class="block-heading">
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        MEP Services 
                    </h3>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>MEP to Structural Integration</li>
                        <li>Detailed Engineering</li>
                        <li>Duct Detailing</li>
                        <li>BoQ/QS Services</li>
                    </ul>
                </div>
                <div class="block cursor" [routerLink]="'/services/bim-services'">
                    <h3 class="block-heading">
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        BIM Services 
                    </h3>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>BIM Modeling </li>
                        <li>Estimodeling</li>
                        <li>Digital Planning </li>
                    </ul>
                </div>
                <div class="block">
                    <h3 class="block-heading">
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        Detailing Services 
                    </h3>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>Structural Steel Detailing</li>
                        <li>Precast Detailing</li>
                        <li>Cast-in-situ Detailing</li>
                        <li>Miscellaneous Steel Detailing</li>
                    </ul>
                </div>
            </div>
        </div>
     <!-- <div class="bottom-space-gap"> -->
        <!-- <app-power-plant-special-project [page]="'sector'"></app-power-plant-special-project> -->
   <!-- </div> -->
        <!-- <app-theaters-hd-discover-projects [hideTitle]="true" [page]="'sector'"></app-theaters-hd-discover-projects> -->

        <div class="global-mb container">
            <div class="heading">
                    <h2 class="title">
                        Featured Projects
                    </h2>
                    <p class="subTitle">
                        Explore our portfolio of successful engineering projects across various sectors
                    </p>
            </div>
            <app-project-list [sectorName]="'Theatres'"></app-project-list>
        </div>


   <div class="container">
    <div class="count-wrapper global-mb">
        <div class="block">
            <strong>
                200+
            </strong>
            Projects Completed
        </div>
        <div class="block">
            <strong>
                15+
            </strong>
            Countries Served
        </div>
        <div class="block">
            <strong>
                50+
            </strong>
            Expert Vendors
        </div>
        <div class="block">
            <strong>
                98%
            </strong>
            Client Satisfaction
        </div>
    </div>
   </div>

   <div class="bottom-space-gap">
    <app-theaters-sector-category [category]="8" [page]="'sector'"></app-theaters-sector-category>
</div>

<div class="global-mb container">
    <div class="heading">
        <h2 class="title">
            Global Implementation Areas
        </h2>
        <p class="subTitle">
            Our engineering solutions are implemented across major regions worldwide
        </p>
    </div>
    <div class="implementation-area">
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/usa.svg" alt="USA" width="48" height="48">
            </figure>
            <h3>
                USA
            </h3>
            <div class="location">
                Data Centers & Industrial
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/eu.svg" alt="Europe" width="48" height="48">
            </figure>
            <h3>
                EU
            </h3>
            <div class="location">
                Infrastructure & Commercial
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/middle-east.svg" alt="Middle East" width="48" height="48">
            </figure>
            <h3>
                Middle East
            </h3>
            <div class="location">
                High-Rise & Retail
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/uk.png" alt="United Kingdom" width="48" height="48">
            </figure>
            <h3>
                UK
            </h3>
            <div class="location">
                Healthcare & Education
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/australia.svg" alt="Australia" width="48" height="48">
            </figure>
            <h3>
                Australia
            </h3>
            <div class="location">
                Mining & Industrial
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/india.png" alt="India" width="48" height="48">
            </figure>
            <h3>
                India
            </h3>
            <div class="location">
                IT Parks & Residential
            </div>
        </div>
    </div>

    <div class="heading">
        <h2 class="title">
            Global & Regional Standards
        </h2>
    </div>
    <div class="list-type-wrapper">
        <div class="block">
            <h3 class="block-heading">
                Theater
            </h3>
            <ul class="list">
                <li>
                    IBC (International Building Code)
                </li>
                <li>
                    ADA (Americans with Disabilities Act)
                </li>
                <li>
                    Eurocode
                </li>
                <li>
                    NFPA 101 (National Fire Protection Association's)
                </li>
            </ul>
        </div>
        <div class="block">
            <h3 class="block-heading">
                Acoustics & Lighting
            </h3>
            <ul class="list">
                <li>
                    ASHRAE 90.1
                </li>
                <li>
                    IEC 60529
                </li>
            </ul>
        </div>
        <div class="block">
            <h3 class="block-heading">
                Accessibility
            </h3>
            <ul class="list">
                <li>
                    Universal Design Guidelines
                </li>
            </ul>
        </div>
    </div>
</div>
      <!-- <div class="child-pb-none">
          <app-sector-meeting-standards></app-sector-meeting-standards>
      </div>
     <app-hd-integrations></app-hd-integrations>
    <div class="bottom-space-big">
        <app-dc-europe></app-dc-europe>
    </div> -->
    <div class="global-mb container">
        <div class="heading">
            <h2 class="title">
                Hear From Our Satisfied Clients
            </h2>
            <p class="subTitle">
                See how BuildTwin is helping companies successfully complete their theater projects
            </p>
        </div>
        <div class="success-story">
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="Laura M." width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Laura M.</span>
                        <span class="position">
                            Project Manager, UK
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "BuildTwin’s platform connected us with top vendors who transformed our historic proscenium theatre into a modern performance space. The new design—with clear sightlines, optimal acoustics, and elegant banked seating—has elevated every production and captivated larger audiences."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="James" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">James</span>
                        <span class="position">
                            Director of Operations, USA
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "Our new thrust stage venue delivers an immersive experience. BuildTwin’s vendor matching and digital planning tools streamlined our project, ensuring our auditorium and stage meet modern safety and design standards."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="Maria T." width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Maria T.</span>
                        <span class="position">
                            Structural Engineer, Germany
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "From concept through construction, BuildTwin enabled us to reimagine our theater. Their experts ensured our performance space supports live drama, dance, and music while exceeding quality benchmarks."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
        </div>

    </div>

    <div class="container">
        <div class="main-head">
            <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
                <div class="heading">
                    <h2 class="title">Other Sectors We Serve</h2>
                    <p class="subTitle">Specialized Engineering Excellence, across diverse industries, delivered by a team of pre-qualified vendors</p>
                </div>
            </div>
            <!-- <button mat-button class="button-v2 align-self-end">Explore Case studies</button> -->
        </div>
    </div>
<app-special-project [heading]="false" [hideItem]="[9]"></app-special-project>

    <app-theaters-faq-buildtwin [fullScreen]="true"></app-theaters-faq-buildtwin>
    <!-- <div id="targetSection2"></div> -->
    <!-- <div class="container">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
    </div> -->
    
    <div class="container" id="targetSection2">
        <div class="bt-flex form-wrap">
            <div class="flex-grow-1">
        <h2>
            Why Choose BuildTwin?
        </h2>
        <p>
            Empowering Your Theater Project
        </p>
        <ul class="list">
            <li>
                <h3 class="block-heading">
                    Global Reach
                </h3>
                <span>
                    Access expertise tailored to international and regional standards for theater engineering and design.
                </span>
            </li>
            <li>
                <h3 class="block-heading">
                    Vetted Vendors
                </h3>
                <span>
                    Connect with trusted vendors specializing in auditoria, stage construction, and MEP integration.
                </span>
            </li>
            <li>
                <h3 class="block-heading">
                    Advanced Tools
                </h3>
                <span>
                    Leverage ERP and BIM solutions for seamless project management.
                </span>
            </li>
            <li>
                <h3 class="block-heading">
                    Sustainability Focus
                </h3>
                <span>
                    Prioritize energy-efficient, eco-friendly designs that enhance cultural venues and support vibrant theatrical productions.
                </span>
            </li>
        </ul>
            </div>
        <div class="flex-grow-1">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
        </div>
        </div>
    </div>
    <!-- <div class="bottom-space-big">
        <app-drawing-freelancers></app-drawing-freelancers>
    </div> -->
    <!-- <app-get-started></app-get-started> -->
    <app-hd-footer></app-hd-footer>
    <!-- <div class="sticky-bottom" [ngClass]="{'cursor': !AvailableServicesToggle,'active': AvailableServicesToggle}"
        (mouseover)="AvailableServicesToggleStatusHover()"
        (click)="AvailableServicesToggle ? null : AvailableServicesToggleStatus(true)">
        <div class="toggle" [ngClass]="{'active':AvailableServicesToggle}"
            (click)="AvailableServicesToggleStatus(); $event.stopPropagation()">

        </div>
        <h3>
            Available Service for Direct Booking
            <small>
                Unlock the BuildTwin advantage
            </small>
        </h3>
        <div class="flex bg-sticky" *ngIf="AvailableServicesToggle">
        </div>
    </div> -->
</div>