<div class="drawingFreelancers">
    <div class="container">
        <!-- <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"> -->
            <!-- <h3>Precast detailing service includes:</h3> -->
            <!-- <ul class="threeColList">
                <li>Precast Wall Panels Detailing</li>
                <li>Precast Shop Drawings</li>
                <li>Precast Stairs Detailing</li>
                <li>Precast Erection Drawings</li>
                <li>Precast Column Detailing</li>
                <li>Precast Beam Detailing</li>
                <li>Precast Slab Detailing</li>
                <li>Detailed Concrete Connections</li>
                <li>Embedment Detailing</li>
                <li>Hollow Core Detailing</li>
                <li>Precast Formwork</li>

            </ul> -->
        <!-- </div> -->
        <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            <h3>Steel Detailing Services Available Across the USA:</h3>
            <ul class="threeColList">
                <li>Steel Detailing services in New York</li>
                <li>Steel Detailing services in Florida</li>
                <li>Steel Detailing services in Chicago</li>
                <li>Steel Detailing services in Texas</li>
                <li>Steel Detailing services in Arizona</li>
                <li>Steel Detailing services in California</li>
                <li>Steel Detailing services in Pennsylvania</li>
                <li>Steel Detailing services in Boston</li>
                <li>Steel Detailing services in Los Angeles</li>
                <li>Steel Detailing services in Houston</li>
                <li>Steel Detailing services in Phoenix</li>
                <li>Steel Detailing services in Philadelphia</li>
                <li>Steel Detailing services in San Antonio</li>
                <li>Steel Detailing services in San Diego</li>
                <li>Steel Detailing services in Dallas</li>
            </ul>
        </div>
        <!-- <div class="threeColWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600"> -->
            <!-- <h3>Steel Detailing Service includes:</h3> -->
            <!-- <ul class="threeColList">
                <li>Structural Steel Detailing</li>
                <li>Structural 3D Modeling</li>
                <li>2D Erection Drawings</li>
                <li>2D Shop Drawings</li>
                <li>Quantity Take-off Services</li>
                <li>Advanced Bill of Materials (ABM)</li>
                <li>Miscellaneous Metal Detailing</li>
                <li>Anchor Bolt Drawings</li>
                <li>Advance Bill of Material</li>
                <li>Tekla Steel Detailing</li>
                <li>Connection Sketches</li>
                <li>Drawing Index</li>
                <li>Advance Material List</li>
                <li>Single Part / Fittings Drawings</li>
                <li>Estimodeling Services</li>
                <li>Steel Joist & Deck Detailing</li>
                <li>Material Summary</li>
                <li>Field Bolt Summary</li>
            </ul> -->
        <!-- </div> -->
    </div>
</div>