<div class="bottom-space">
    <app-hd-navbar></app-hd-navbar>
    
        <div class="common-bannerWrapper global-mb">
            <img src="../../../../assets/images/serviceBanner.jpg" alt="">
            <div class="bannerContainer">
                <div class="containerbn">
                    <h1>
                        Find Specialized Expertise for Your Power Plant Projects
                    </h1>
                    <p>
                        BuildTwin provides access to global structural and MEP experts in thermal, nuclear, renewable, and hybrid power plants, ensuring you find the right expertise for your project needs.
                    </p>
                    <div class="button-wrapper">
                        <button class="default-btn mdc-button" (click)="scrollToSection('targetSection2')">
                            Book a Service
                        </button>
                        <button class="default-btn mdc-button border" (click)="scrollToSection('targetSection1')">
                            Learn more
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div class="global-mb container">
            <div class="heading">
                <div class="title">
                    Expertise Across Diverse Energy Infrastructures
                </div>
                <div class="subTitle">
                    Our vendors provide tailored solution for all types of power plants so you can attain optimal output and meet sustainability goals
                </div>
            </div>
    
            <div class="list-type-wrapper bottom-space-big flex-wrap col-3-big">
                <div class="block">
                    <h5>
                        Nuclear Power Plants
                    </h5>
                    <p>
                        Fault-tolerant designs, emphasis on safety and global compliance for sustainable, high-output energy solutions.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        Thermal Power Plants
                    </h5>
                    <p>
                        Thermal plants, including coal, gas, and oil-fired facilities, are engineered for optimal energy conversion.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        Hydroelectric Power Plants
                    </h5>
                    <p>
                        Leverage flowing water, with minimal ecological disruption, these plants integrate advanced turbines and reservoirs to ensure consistent energy production.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        Wind Power Plants
                    </h5>
                    <p>
                        From turbine foundations to grid connectivity, leverage tailored solutions for onshore and offshore wind energy projects.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        Solar Power Plants
                    </h5>
                    <p>
                        Connect with specialists in photovoltaic and concentrated solar power systems, focusing on sustainable design and long-term reliability.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        Hybrid Power Plants
                    </h5>
                    <p>
                        Combine multiple energy sources, such as solar, wind and battery storage, offering flexible and adaptable solutions to meet varying energy demands.
                    </p>
                </div>
            </div>
            <!-- <div class="list-type-wrapper bottom-space-big">
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Tier 4: Fault Tolerant</h4>
                        </figure>
                        Ultimate Resilience with Comprehensive Redundancy 
                    </h5>
                    <p>
                        Ensures the highest operational continuity with complete redundancy in all critical components and systems.
                    </p>
                </div>
            </div> -->
        </div>

        <!-- <div class="global-mb container">
            <div class="heading">
                <div class="title">
                    Diverse Infrastructure Solutions
                </div>
                <div class="subTitle">
                    Optimized Designs for Every Business Requirement
                </div>
            </div>
    
            <div class="list-type-wrapper bottom-space-big">
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Colocation Data Centers</h4>
                        </figure>
                        Shared Facilities, Individual Control 
                    </h5>
                    <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p>
                </div>
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Enterprise Data Centers</h4>
                        </figure>
                        Tailored Architecture for Business Criticality
                    </h5>
                    <p>
                        Custom facilities designed to support specific business operations, enhanced control over data management and security.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Managed Services Data Centers</h4>
                        </figure>
                        Streamlined Operations by Experts 
                    </h5>
                    <p>
                        Third-party managed infrastructures providing specialized maintenance and operations, freeing up your resources for core business tasks.
                    </p>
                </div>
            </div>
            <div class="list-type-wrapper bottom-space-big">
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Cloud Data Centers</h4>
                        </figure>
                        Dynamic Scaling and High Elasticity 
                    </h5>
                    <p>
                        Flexible, scalable solutions for businesses needing dynamic capacity and minimal physical infrastructure investment.
                    </p>
                </div>
                <div class="block">
                    <h5>
                        <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            <h4>Hyperscale Data Centers</h4>
                        </figure>
                        Robust Structures for Massive Scale Operations 
                    </h5>
                    <p>
                        Built for large-scale operations, these centers support extensive data demands with high efficiency and robust architecture.
                    </p>
                </div>
            </div>
        </div> -->

        <app-power-plant-tt-partners [page]="'sector'" id="targetSection1"></app-power-plant-tt-partners>
        <div class="global-mb container">
            <div class="heading">
                <div class="title">
                    Engineering Services for Power Plants
                </div>
                <div class="subTitle">
                    Structural and Architectural services to meet the efficiency and sustainability goals for you power plant projects
                </div>
            </div>
    
            <div class="list-type-wrapper bottom-space-big">
                <div class="block cursor" [routerLink]="'/services/pre-cast-detailing-services'">
                    <h5>
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        Structural Services 
                    </h5>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>Structural Design</li>
                        <li>Structural Precast Design</li>
                        <li>Cast-in-situ Design</li>
                        <li>PEB Design and Detailing</li>
                    </ul>
                </div>
                <div class="block cursor" [routerLink]="'/services/steel-detailing-services'">
                    <h5>
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        MEP Services 
                    </h5>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>MEP to Structural Integration</li>
                        <li>Detailed Engineering</li>
                        <li>Duct Detailing</li>
                        <li>BoQ/QS Services</li>
                    </ul>
                </div>
                <div class="block cursor" [routerLink]="'/services/bim-services'">
                    <h5>
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        BIM Services 
                    </h5>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>BIM Modeling </li>
                        <li>Estimodeling</li>
                        <li>Digital Planning </li>
                    </ul>
                </div>
                <div class="block">
                    <h5>
                        <!-- <figure>
                            <img src="assets/images/qualityBuildtwin.png" alt="" width="40" height="40">
                            
                        </figure> -->
                        Detailing Services 
                    </h5>
                    <!-- <p>
                        Lease space for your hardware in facilities that offer comprehensive support services, streamlining cost management and scalability
                    </p> -->
                    <ul class="list">
                        <li>Structural Steel Detailing</li>
                        <li>Precast Detailing</li>
                        <li>Cast-in-situ Detailing</li>
                        <li>Miscellaneous Steel Detailing</li>
                    </ul>
                </div>
            </div>
        </div>
     <!-- <div class="bottom-space-gap"> -->
        <!-- <app-power-plant-special-project [page]="'sector'"></app-power-plant-special-project> -->
   <!-- </div> -->
        <app-power-plant-hd-discover-projects [hideTitle]="true" [page]="'sector'"></app-power-plant-hd-discover-projects>
   <div class="container">
    <div class="count-wrapper global-mb">
        <div class="block">
            <strong>
                200+
            </strong>
            Projects Completed
        </div>
        <div class="block">
            <strong>
                15+
            </strong>
            Countries Served
        </div>
        <div class="block">
            <strong>
                50+
            </strong>
            Expert Vendors
        </div>
        <div class="block">
            <strong>
                98%
            </strong>
            Client Satisfaction
        </div>
    </div>
   </div>

   <div class="bottom-space-gap">
    <app-power-plant-sector-category [category]="8" [page]="'sector'"></app-power-plant-sector-category>
</div>

<div class="global-mb container">
    <div class="heading">
        <div class="title">
            Global Implementation Areas
        </div>
        <div class="subTitle">
            Our engineering solutions are implemented across major regions worldwide
        </div>
    </div>
    <div class="implementation-area">
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/usa.svg" alt="" width="48" height="48">
            </figure>
            <h3>
                USA
            </h3>
            <div class="location">
                Data Centers & Industrial
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/eu.svg" alt="" width="48" height="48">
            </figure>
            <h3>
                EU
            </h3>
            <div class="location">
                Infrastructure & Commercial
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/middle-east.svg" alt="" width="48" height="48">
            </figure>
            <h3>
                Middle East
            </h3>
            <div class="location">
                High-Rise & Retail
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/uk.png" alt="" width="48" height="48">
            </figure>
            <h3>
                UK
            </h3>
            <div class="location">
                Healthcare & Education
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/australia.svg" alt="" width="48" height="48">
            </figure>
            <h3>
                Australia
            </h3>
            <div class="location">
                Mining & Industrial
            </div>
        </div>
        <div class="block">
            <figure>
                <img src="https://www.buildtwin.com/assets/images/india.png" alt="" width="48" height="48">
            </figure>
            <h3>
                India
            </h3>
            <div class="location">
                IT Parks & Residential
            </div>
        </div>
    </div>

    <div class="heading">
        <div class="title">
            Global Regional Standards
        </div>
    </div>
    <div class="list-type-wrapper">
        <div class="block">
            <h5>
                Power Plant
            </h5>
            <ul class="list">
                <li>
                    ISO 14084-1:2015
                </li>
                <li>
                    ISO 14084-2:2015
                </li>
                <li>
                    ISO 18888:2017
                </li>
            </ul>
        </div>
        <div class="block">
            <h5>
                Steam Turbine
            </h5>
            <ul class="list">
                <li>
                    ASME-PTC6
                </li>
                <li>
                    ASME-TDP1
                </li>
            </ul>
        </div>
        <div class="block">
            <h5>
                Electrical & Electronic
            </h5>
            <ul class="list">
                <li>
                    IEC Standards
                </li>
            </ul>
        </div>
    </div>
</div>
      <!-- <div class="child-pb-none">
          <app-sector-meeting-standards></app-sector-meeting-standards>
      </div>
     <app-hd-integrations></app-hd-integrations>
    <div class="bottom-space-big">
        <app-dc-europe></app-dc-europe>
    </div> -->
    <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Hear From Our Satisfied Clients
            </div>
            <div class="subTitle">
                See how BuildTwin is helping companies successfully complete their power plant projects
            </div>
        </div>
        <div class="success-story">
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name"> Laura M.</span>
                        <span class="position">
                            Project Manager, UK
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "BuildTwin’s platform helped us connect with industry-leading vendors for our hydroelectric project. The process was seamless, and the outcome exceeded our expectations."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">James</span>
                        <span class="position">
                            Director of Operations, USA
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "The vendors we found through BuildTwin delivered cutting-edge designs for our thermal plant, ensuring efficiency and compliance with global standards."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Maria Taylor</span>
                        <span class="position">
                            Energy Specialist, USA
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "Thanks to BuildTwin, we streamlined every phase of our renewable energy facility, from site selection to final commissioning."
                </p>
                <!-- <div class="location">
                    Data Center Project, USA
                </div> -->
            </div>
        </div>

    </div>

    <div class="container">
        <div class="main-head">
            <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
                <div class="heading">
                    <div class="title">Other Sectors We Serve</div>
                    <div class="subTitle">Specialized Engineering Excellence, across diverse industries, delivered by pre-qualified vendors</div>
                </div>
            </div>
            <!-- <button mat-button class="default-btn align-self-end">Explore Case studies</button> -->
        </div>
    </div>
<app-special-project [heading]="false" [hideItem]="[2]"></app-special-project>

    <app-power-plant-faq-buildtwin [fullScreen]="true"></app-power-plant-faq-buildtwin>
    <!-- <div id="targetSection2"></div> -->
    <!-- <div class="container">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
    </div> -->
    
    <div class="container" id="targetSection2">
        <div class="bt-flex form-wrap">
            <div class="flex-grow-1">
        <h2>
            Why Choose BuildTwin?
        </h2>
        <p>
            Empowering Power Plant Projects
        </p>
        <ul class="list">
            <li>
                <h5>
                    Global Reach
                </h5>
                <span>
                    Access expertise tailored to regional and international standards.
                </span>
            </li>
            <li>
                <h5>
                    Vetted Vendors
                </h5>
                <span>
                    Connect with trusted vendors specializing in diverse power plant solutions.
                </span>
            </li>
            <li>
                <h5>
                    Advanced Tools
                </h5>
                <span>
                    Leverage ERP systems for seamless project management.
                </span>
            </li>
            <li>
                <h5>
                    Sustainability Focus
                </h5>
                <span>
                    Prioritize eco-friendly designs and operations.
                </span>
            </li>
        </ul>
            </div>
        <div class="flex-grow-1">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
        </div>
        </div>
    </div>
    <!-- <div class="bottom-space-big">
        <app-drawing-freelancers></app-drawing-freelancers>
    </div> -->
    <!-- <app-get-started></app-get-started> -->
    <app-hd-footer></app-hd-footer>
    <!-- <div class="sticky-bottom" [ngClass]="{'cursor': !AvailableServicesToggle,'active': AvailableServicesToggle}"
        (mouseover)="AvailableServicesToggleStatusHover()"
        (click)="AvailableServicesToggle ? null : AvailableServicesToggleStatus(true)">
        <div class="toggle" [ngClass]="{'active':AvailableServicesToggle}"
            (click)="AvailableServicesToggleStatus(); $event.stopPropagation()">

        </div>
        <h3>
            Available Service for Direct Booking
            <small>
                Unlock the BuildTwin advantage
            </small>
        </h3>
        <div class="flex bg-sticky" *ngIf="AvailableServicesToggle">
        </div>
    </div> -->
</div>