:host ::ng-deep .buildTwinDemo {
    display: flex;
    align-items: center;

    .content {
        background: url(../../../../../../assets/images/ui/dot.png);
        // height: 649px;
        height: 553px;
        max-width: 647px;
        padding-right: 95px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: #0E0E28;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 48px */
            margin-bottom: 14px;
        }

        p {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            /* 25.6px */
            margin-bottom: 32px;
        }

        .other-options {
            gap: 16px;
            display: flex;
            margin-top: 19px;

            .btnNew {
                display: flex;
                height: 48px;
                padding: 16px 34.5px 15px 34px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                background: #0053fa;
                color: var(--color-green-button, #FFF);
            
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                gap: 10px;
                cursor: pointer;
                margin-bottom: 10px;
            
            
            }
            
            .btnNew.vidBtn {
                display: flex;
                padding: 15px 23.726px 16px 23px;
                border: 1px solid #E9E9E9;
                background: var(--color-green-button, #FFF);
                color: var(--primary, #0053fa);
            }

        }
    }

    .imgWrap {

        img {
            width: 117%;
            margin-right: -20px;
            height: unset;
            max-width: unset;
        }
    }
}

@media(max-width:767px){
    :host ::ng-deep .buildTwinDemo {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        .imgWrap img {
       
            height: unset;
            max-width: unset;
        }
    }
    :host ::ng-deep .buildTwinDemo .content {
        height: auto;
        padding-right: 0;
    }
}