.e2eWrapper {
    padding: 54px 0;
    position: relative;

    .e2eSection {
        // border-radius: 20px;
        // background: linear-gradient(90deg, #0053fa 0%, #0053fa 100%);
        color: white;
        // padding: 40px 80px 40px 40px;
        position: relative;
        // width: calc(100% - 50px);
        border: 1px solid #0053fa;
        border-radius: 0 15px 15px 15px;
        .content {
            padding: 35px 35px;
            display: flex;
            gap: 85px;
        }
        .titleLogo{
            background-image: url(../../../../assets/images/service-images/bg.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #0053fa;
            background-blend-mode: multiply;
            border-radius: 0 10px 0 0;
            font-size: 25px;
            color: white;
            font-weight: 600;
            height: 60px;
            padding: 0 35px;
            display: flex;
            align-items: center;
        }
        h3{
            font-size: 28px;
            font-weight: 500;
            span {
                color: #0053fa;
            }
        }
        p{            
            font-size: 15px;
            font-weight: 400;
        }

        // .e2eIcon {
        //     position: absolute;
        //     right: -50px;
        //     top: -50px;
        // }
    }
}