<app-hd-navbar></app-hd-navbar>


<!-- Banner -->
<app-hd-banner class="mb-100"></app-hd-banner>

<!-- Services

<app-socials-media-info></app-socials-media-info>
!-->

<!-- BuildTwin Work with different Stakeholders -->

<app-happier-customers></app-happier-customers>

<!-- KPIs-->

<!-- <app-hd-funfacts></app-hd-funfacts> -->

<app-how-process>
<div class="process">
    <div class="container">
        <div class="flex_item">
        <div class="itemWrap">
            <img src="assets/images/ui/process1.png" alt="">
            <div class="contentWrap">
                <strong>1 x Set-up</strong>
                <p>
                    Your technical standards, name convention, processes, QC, ...
                </p>
            </div>
        </div>
        <div class="itemWrap">
            <img src="assets/images/ui/process2.png" alt="">
            <div class="contentWrap">
                <strong>2.000+</strong>
                <p>
                    Pre-qualified engineers can be leveraged
                </p>
            </div>
        </div>
        <div class="itemWrap">
            <img src="assets/images/ui/process3.png" alt="">
            <div class="contentWrap">
                <strong>10+ Services</strong>
                <p>
                    Structural Detailing, BIM, BIM Steel, Pre-Cast, Temp. works design.
                </p>
            </div>
        </div>
        <div class="itemWrap">
            <img src="assets/images/ui/process4.png" alt="">
            <div class="contentWrap">
                <strong>Live</strong>
                <p>
                    Tracking of progress, quality and time with AI
                </p>
            </div>
        </div>
    </div>
    </div>
</div>

</app-how-process>


<!-- Plug & Play -->
<app-hd-integrations></app-hd-integrations>

<!-- AI Design Manager -->
<app-hd-about></app-hd-about>

<!-- new section-->
<app-ai-driven-services>
    <div class="servicesWrap">
        <div class="container">
            <div class="headPart">
                <h2>The BuildTwin Advantage</h2>
                <p>
                    Streamline your workflow with BuildTwin—from file management to advanced BI reports. Harness up 
                    <br>to 15%+ efficiency boost through our integrated projects, AI tools, and expert training. 
                </p>
            </div>

            <div class="itemFlex">
                <div class="item">
                    <div class="imgWrap">
                        <a href="freelancer">
                        <img src="assets/images/ui/home-service1.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">

                        <span>Co-Pilot</span>
                        <p>
                            From processing RFIs to composing e-mails, our AI Design Managers assist you on every step of 
                            the way to deliver your project efficiently.
                        </p>
                    </div>
                    
                </div>
                <div class="item">
                    <div class="imgWrap">
                        <a href="marketplace">
                        <img src="assets/images/ui/home-service2.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">

                        <span>Marketplace</span>
                        <p>
                            Marketplace is your plug-and-play solution for technical engineering teams. Seamlessly integrate 
                            expertise and advanced AI tools to meet project delivery and ensure quality.
                        </p>
                    </div>

                </div>
                <div class="item">
                    <div class="imgWrap">
                        <a href="training">
                        <img src="assets/images/ui/home-service3.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">

                        <span>Training</span>
                        <p>
                            Experience training co-crafted with industry leaders from our Marketplace. This collaborative approach 
                            ensures you're learning skills that are directly relevant and immediately applicable to today's engineering 
                            challenges.
                        </p>
                    </div>

                </div>
                <div class="item">
                    <div class="imgWrap">
                        <img src="assets/images/ui/home-service4.png" alt="" width="" height="">
                    </div>
                    <div class="bottom-content">

                        <span>AI Tools</span>
                        <p>
                            BuildTwin's Commercial Insights offer a deep dive into your operational data, revealing paths to increased 
                            revenue and efficiency. Leverage tools like our AI Claims Manager to transform insights into 
                            actionable, profitable strategies.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</app-ai-driven-services>


<!-- <app-hd-services></app-hd-services> -->

<!-- Testimmonial-->

<app-hd-testimonials></app-hd-testimonials>

<!-- Pricing-->

<!-- <app-hd-pricing></app-hd-pricing> !-->



<app-hd-footer></app-hd-footer>