<app-hd-navbar></app-hd-navbar>

<app-hd-banner></app-hd-banner>

<app-hd-integrations></app-hd-integrations>

<app-socials-media-info></app-socials-media-info>

<app-hd-partners></app-hd-partners>

<app-hd-about></app-hd-about>


<app-happier-customers></app-happier-customers>

<!-- 

    <app-hd-how-it-works></app-hd-how-it-works>

-->

<app-hd-funfacts></app-hd-funfacts>

<app-hd-faq></app-hd-faq>

<app-hd-services></app-hd-services>


<app-hd-pricing></app-hd-pricing>

<app-hd-testimonials></app-hd-testimonials>

<app-free-trial></app-free-trial>

<app-hd-footer></app-hd-footer>