<app-hd-navbar></app-hd-navbar>


<!-- Banner -->
<app-hd-banner class="mb-100"></app-hd-banner>

<!-- Services

<app-socials-media-info></app-socials-media-info>
!-->

<!-- BuildTwin Work with different Stakeholders -->

<app-happier-customers></app-happier-customers>

<!-- KPIs-->

<!-- <app-hd-funfacts></app-hd-funfacts> -->

<app-how-process>
<div class="process">
    <div class="container">
        <div class="flex_item">
        <div class="itemWrap">
            <img src="assets/images/ui/process1.png" alt="">
            <div class="contentWrap">
                <strong>1 x Set-up</strong>
                <p>
                    Your technical standards, name convention, processes, QC, ...
                </p>
            </div>
        </div>
        <div class="itemWrap">
            <img src="assets/images/ui/process2.png" alt="">
            <div class="contentWrap">
                <strong>2.000+</strong>
                <p>
                    Pre-qualified engineers can be leveraged
                </p>
            </div>
        </div>
        <div class="itemWrap">
            <img src="assets/images/ui/process3.png" alt="">
            <div class="contentWrap">
                <strong>10+ Services</strong>
                <p>
                    Structural Detailing, BIM, BIM Steel, Pre-Cast, Temp. works design.
                </p>
            </div>
        </div>
        <div class="itemWrap">
            <img src="assets/images/ui/process4.png" alt="">
            <div class="contentWrap">
                <strong>Live</strong>
                <p>
                    Tracking of progress, quality and time with AI
                </p>
            </div>
        </div>
    </div>
    </div>
</div>

</app-how-process>


<!-- Plug & Play -->
<app-hd-integrations></app-hd-integrations>

<!-- AI Design Manager -->
<app-hd-about></app-hd-about>

<!-- new section-->
<app-ai-driven-services>
    <div class="servicesWrap">
        <div class="container">
            <div class="headPart">
                <h2>The BuildTwin Advantage</h2>
                <p>
                    Streamline your workflow with BuildTwin—from file management to advanced BI reports. Harness up 
                    <br>to 15%+ efficiency boost through our integrated projects, AI tools, and expert training. 
                </p>
            </div>

            <div class="itemFlex">
                <div class="item">
                    <div class="imgWrap">
                        <a href="freelancer">
                        <img src="assets/images/ui/home-service1.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">
                      <div class="innerContent">
                        <span>Plug & Play</span>
                        <p>
                            BuildTwin works plug & play with all major CDEs. This means you don't need to change your workflow and can get started fast.
                        </p>
<div class="border">
                        <div class="star">
                            <b>PLUG & PLAY - TRIMBLE, AUTODESK CONSTRUCTION CLOUD, etc. </b>
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                        <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                        </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                        <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                        </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                        <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                        </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                        <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                        </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                                        <path d="M8.59512 29.3333L10.7618 19.9667L3.49512 13.6667L13.0951 12.8333L16.8284 4L20.5618 12.8333L30.1618 13.6667L22.8951 19.9667L25.0618 29.3333L16.8284 24.3667L8.59512 29.3333Z" fill="#ECECEC"/>
                                        </svg>
                                </li>
                            </ul>
                        </div>
                        <p>
                            Leverage BuildTwin AI to assist you in your day-to-day tasks.
                        </p>
                    </div>
                    </div>
                    </div>
                    
                </div>
                <div class="item">
                    <div class="imgWrap">
                        <a routerLink="AI-project-management">
                        <img src="assets/images/ui/home-service2.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">
                        <div class="innerContent">
                          <span>Co-Pilot</span>
                          <p>
                            Simplify your daily work with AI-based project management. Through automated processes, the BuildTwin AI Design Managers empower the effective delivery of your projects.                      
                          </p>
                          <div class="border">
                          <div class="star">
                            <b>Logo / Text for Co-Pilot, DSM + Enteprise Features</b>
                              <ul>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                                          <path d="M8.59512 29.3333L10.7618 19.9667L3.49512 13.6667L13.0951 12.8333L16.8284 4L20.5618 12.8333L30.1618 13.6667L22.8951 19.9667L25.0618 29.3333L16.8284 24.3667L8.59512 29.3333Z" fill="#ECECEC"/>
                                          </svg>
                                  </li>
                              </ul>
                          </div>
                          <p>
                            Gain access to BuildTwin Co-Pilot, an AI-based project management solution; DSM, an AI-based Business Intelligence solution; and Enterprise Features for People and Commerce.                          </p>
                      </div>
                      </div>
                      </div>

                </div>
                <div class="item">
                    <div class="imgWrap">
                        <a routerLink="marketplace">
                        <img src="assets/images/ui/home-service3.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">
                        <div class="innerContent">
                          <span>Marketplace</span>
                          <p>
                            BuildTwin Marketplace is best way to procure your technical team abroad
                        </p>
  <div class="border">
                          <div class="star">
                            <b>Icons from the different countries</b>
                              <ul>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                                          <path d="M8.59512 29.3333L10.7618 19.9667L3.49512 13.6667L13.0951 12.8333L16.8284 4L20.5618 12.8333L30.1618 13.6667L22.8951 19.9667L25.0618 29.3333L16.8284 24.3667L8.59512 29.3333Z" fill="#ECECEC"/>
                                          </svg>
                                  </li>
                              </ul>
                          </div>
                          <p>
                            100s of technical teams in over 6 countries readily available on BuildTwin marketplace.
                           </p>
                      </div>
                      </div>
                      </div>

                </div>
                <div class="item">
                    <div class="imgWrap">
                        <a routerLink="training">
                            <img src="assets/images/ui/home-service4.png" alt="" width="" height="">
                        </a>
                    </div>
                    <div class="bottom-content">
                        <div class="innerContent">
                          <span>Training</span>
                          <p>
                              From processing RFIs to composing e-mails, our AI Design Managers assist you on every step of 
                              the way to deliver your project efficiently.
                          </p>
  <div class="border">
                          <div class="star">
                            <b>Icons that we train for different countries / program</b>

                              <ul>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                          <path d="M5.26602 25.3333L7.43268 15.9667L0.166016 9.66667L9.76602 8.83333L13.4993 0L17.2327 8.83333L26.8327 9.66667L19.566 15.9667L21.7327 25.3333L13.4993 20.3667L5.26602 25.3333Z" fill="#886DE0"/>
                                          </svg>
                                  </li>
                                  <li>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                                          <path d="M8.59512 29.3333L10.7618 19.9667L3.49512 13.6667L13.0951 12.8333L16.8284 4L20.5618 12.8333L30.1618 13.6667L22.8951 19.9667L25.0618 29.3333L16.8284 24.3667L8.59512 29.3333Z" fill="#ECECEC"/>
                                          </svg>
                                  </li>
                              </ul>
                          </div>
                          <p>
                             Get vendors and employees pre-qualified for your requirement with BuildTwin Training. 
                          </p>
                      </div>
                      </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</app-ai-driven-services>


<!-- <app-hd-services></app-hd-services> -->

<!-- Testimmonial-->

<app-hd-testimonials></app-hd-testimonials>

<!-- Pricing-->

<!-- <app-hd-pricing></app-hd-pricing> !-->



<app-hd-footer></app-hd-footer>