<div class="container bg">
    <div class="heading center v2">
        <h2 class="title">
            Discover your ideal partner and expert<br>
            solutions for  <span>all your service needs</span>
        </h2>
        <div class="subTitle">
            Navigate services with confidence and connect with top professionals effortlessly
        </div>
    </div>
    <div class="list round-button-owl">
        <owl-carousel-o [options]="factorySlider" *ngIf="isBrowser">
        <ng-template carouselSlide>
        <div class="block active">
            <div>
                <h3>
                    Rebar Detailing
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <figure>
                <img 
                src="assets/images/rebar-detailingv2.png" 
                srcset="assets/images/rebar-detailingv2.png, assets/images/rebar-detailingv2@2x.png 2x" 
                width="349" 
                height="435" 
                alt="Rebar Detailing">
            </figure>
        </div>
        </ng-template>
        <ng-template carouselSlide>
        <div class="block">
            <div>
                <h3>
                    BIM Services
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <figure>
                <img 
                src="assets/images/bimv2.png" 
                srcset="assets/images/bimv2.png, assets/images/bimv2@2x.png 2x" 
                width="349" 
                height="435" 
                alt="BIM Services">
            </figure>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="block">
            <div>
                <h3>
                    CAD Services
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <figure>
                <img 
                src="assets/images/cadv2.png" 
                srcset="assets/images/cadv2.png, assets/images/cadv2@2x.png 2x" 
                width="349" 
                height="435" 
                alt="Precast Detailing">
            </figure>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="block">
            <div>
                <h3>
                    Structural steel Detailing
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <figure>
                <img 
                src="assets/images/structural-steel-detailingv2.png" 
                srcset="assets/images/structural-steel-detailingv2.png, assets/images/structural-steel-detailingv2@2x.png 2x" 
                width="349" 
                height="435" 
                alt="MEP Services">
            </figure>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="block">
            <div>
                <h3>
                    Precast Detailing
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <figure>
                <img 
                src="assets/images/precast-detailingv2.png" 
                srcset="assets/images/precast-detailingv2.png, assets/images/precast-detailingv2@2x.png 2x" 
                width="349" 
                height="435" 
                alt="MEP Services">
            </figure>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="block">
            <div>
                <h3>
                    Drafting Services
                </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <figure>
                <img 
                src="assets/images/drafting-servicev2.png" 
                srcset="assets/images/drafting-servicev2.png, assets/images/drafting-servicev2@2x.png 2x" 
                width="349" 
                height="435" 
                alt="MEP Services">
            </figure>
        </div>
    </ng-template> 
        </owl-carousel-o>
    </div>
</div>