<div class="banner-area position-relative z-1">
    <div class="container">
        <div class="banner-content text-center ms-auto me-auto">
            <h1 class="font-poppins" data-aos="fade-up" data-aos-duration="500">
                BuildTwin <span class="jeffStyle">connects</span>  {{getGlobalValue()}}+ engineers <br>with construction projects <br><u>across the globe</u>. 
            </h1>
            <p class="ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                supercharged by <span class="fw-semibold">AI</span> - to meet
            <br> technical, quality and time requirements.
            </p>
            <div class="btn-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <a mat-button routerLink="/" class="default-btn">Get Started</a>
                <a mat-button routerLink="/marketplace" class="default-btn">How it Works</a>
            </div>
            <ul class="features-list ps-0 mb-0 list-unstyled" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <li class="fw-medium">
                    <span class="position-relative d-inline-block">
                        <i class="ti ti-info-circle-filled"></i>
                        Try BuildTwin for FREE
                    </span>
                </li>
            </ul>
        </div>

     <app-three-col-market>
        <div class="cdeSection">
            <div class="cde_col">
              <div class="headPart">
              <h2>Marketplace</h2>
              <span>Procure technical teams with ease</span>
            </div>
              <img src="assets/auto/email4.png">
            
              <p>100s of pre-qualified technical teams readily available to meet your needs</p>
                <i class="icon1">
                  <svg width="32" height="228" viewBox="0 0 32 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32 1V1C23.1634 1 16 8.16345 16 17V211C16 219.837 8.83656 227 0 227V227" stroke="#886DE0" stroke-dasharray="2"/>
                    <path d="M8 89L16 99L24 89" stroke="#A692E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>procure</span>
                </i>
            </div>
            <div class="cde_col">
              <div class="headPart">
              <h2>Co-Pilot</h2>
              <span>Plug & Play into your workflow</span>
              </div>
              <img src="assets/auto/email5.png">
              <section class="benefits-container">
               <p>Your Benefits</p>
                <div class="benefits-list">
                  <div class="benefit-item">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/02e6fde1d4d9f269bf6f1e361b9453b57f8cc74ff2c67cb798f03e8dd81e5482?apiKey=36850388eee14aa189272e3e1adf474e&" alt="Less manual work icon" class="benefit-image" loading="lazy" />
                    <div class="benefit-description">Less manual work</div>
                  </div>
                  <div class="benefit-item">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a28bafbb622c1160dc030f1d472174f6bce6fa75ffae9a215263317b7432645e?apiKey=36850388eee14aa189272e3e1adf474e&" alt="Always up to date icon" class="benefit-image" loading="lazy" />
                    <div class="benefit-description">Always up to date</div>
                  </div>
                </div>
                <div class="benefit-final">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f88922541ff5cf2f0ceec2b346208ad4d115fbcb151032d8b08397aac80654a?apiKey=36850388eee14aa189272e3e1adf474e&" class="benefit-image" alt="Automated reporting and documentation tools icon" loading="lazy" />
                  <div class="benefit-description">Automated reporting and documentation tools</div>
                </div>
              </section>
              <i class="icon1">
                <svg width="32" height="228" viewBox="0 0 32 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M-7.3346e-07 1V1C8.83655 1 16 8.16345 16 17V211C16 219.837 23.1634 227 32 227V227" stroke="#886DE0" stroke-dasharray="2"/>
                  <path d="M24 89L16 99L8 89" stroke="#A692E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span>qualify</span>
              </i>
            </div>
      
            <div class="cde_col">
              <div class="headPart">
              <h2>Training </h2>
              <span>Qualify technical teams</span>
              </div>
              <img src="assets/auto/email6.png">
              <p>Co-develop trainig with BuildTwin and qualify 1000s of teams & talents on demand</p>
            </div>
          </div>


     </app-three-col-market>
    </div>
  
  
    <!-- 
    <div class="shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape13.png" alt="shape13">
    </div>
    <div class="shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape21.png" alt="shape21">
    </div>
    -->
  
  
    <div class="overlay position-absolute z-n1"></div>
</div>