.banner-area {
    padding-top: 140px;
    background: url(../../../../../assets/images/bgLeft-MNJKEAAO.png) left top repeat;

    .shape1 {
        top: 32.2%;
        left: 20.5%;

        img {
            animation: {
                duration: 30s;
                name: rotateme;
                timing-function: linear;
                iteration-count: infinite;
            }

            ;
        }
    }

    .shape2 {
        right: 19%;
        top: 25%;

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }

    &::after {
        top: 0;
        left: 230px;
        content: '';
        z-index: -2;
        width: 329px;
        height: 329px;
        position: absolute;
        border-radius: 50%;
        filter: blur(200px);
        background: #F6F3FF;
    }

    &::before {
        top: 28%;
        content: '';
        z-index: -2;
        right: 130px;
        width: 329px;
        height: 329px;
        position: absolute;
        border-radius: 50%;
        filter: blur(200px);
        background: #F6F3FF;
    }

    .overlay {
        left: 0;
        right: 0;
        bottom: 0;
        height: 360px;
        background-color: var(--whiteColor);
    }
}

.banner-content {
    max-width: 1040px;
    min-height: calc(100vh - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 18px;

        span {
            font-size: 70px;
            font-weight: 400;
        }
    }

    p {
        font-size: 17px;
        line-height: 1.530;
        color: var(--lightColor);
        max-width: 725px;
    }

    .btn-box {
        margin-top: 25px;

        .default-btn {
            font-family: var(--poppinsFontFamily);
            background-color: var(--themeColor);
            position: relative;
            z-index: 1;

            margin: {
                left: 8px;
                right: 8px;
            }

            ;

            padding: {
                top: 13px;
                bottom: 13px;
            }

            ;

            &::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: -1;
                content: '';
                visibility: hidden;
                position: absolute;
                border-radius: 4px;
                transition: var(--transition);
                border: 2px solid var(--whiteColor);
            }

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            &.mdc-button {
                &:nth-child(2) {
                    background-color: transparent;
                    color: var(--themeColor) !important;
                    border-color: var(--borderColor);

                    &:hover {
                        &::before {
                            border-color: var(--themeColor);
                        }
                    }

                    &::before {
                        opacity: 1;
                        visibility: visible;
                        border-color: var(--borderColor);
                    }
                }
            }
        }
    }

    .features-list {
        margin-top: 25px;

        li {
            margin-bottom: 10px;
            //letter-spacing: 0.4px;
            color: var(--paragraphColor);

            span {
                padding-left: 23px;

                i {
                    left: 0;
                    top: 50%;
                    margin-top: 0;
                    position: absolute;
                    transform: translateY(-50%);
                    color: var(--themeColor);
                    font-size: 18px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.allSolution {
    background-color: var(--backgroundColor);
    border-radius: 8px;
    margin-top: 65px;
    padding: 24px;

    h2 {
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 24px;

        span {
            color: var(--themeColor);
        }
    }

    .why-choose-content {

        .sub-title {
            font-size: 16px;
            margin-bottom: 10px;
            color: var(--themeColor);
        }

        h2 {
            margin-bottom: 24px;
            line-height: 1.3;
            font-size: 24px;
            font-weight: 600;

            span {
                color: var(--lightColor);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.3;
                display: block;
                margin-top: 4px;
            }
        }

        p {
            max-width: 610px;
        }

        h3 {
            font-size: 20px;

            margin: {
                top: 40px;
                bottom: 19px;
            }

            ;
        }

        .features-list {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            margin-bottom: 24px !important;

            li {
                margin-right: 0;
                margin-bottom: 0;
                border-radius: 8px;
                display: inline-block;
                background-color: var(--backgroundColor);
                padding: 8px;
                width: 47%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                height: 40px;
                color: #26272A;
                font-size: 10px;
                font-weight: 500;
                line-height: 13.76;

                i {

                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    border-radius: 50%;
                    color: var(--whiteColor);
                    background-color: var(--themeColor);
                    display: block;
                    font-size: 12px;
                }

                &:hover {
                    i {
                        color: var(--whiteColor);
                        background-color: var(--themeColor);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .traning {
            display: flex;
            justify-content: center;
            padding-bottom: 24px;

        }

        h3 {
            color: var(--blackColor);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.3;
            margin-top: 0;
            margin-bottom: 8px;
        }

        .benefits {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 8px;
            margin-top: 0;
            margin-bottom: 24px;

            li {
                background: #F8F8F8;
                padding: 8px;
                color: #26272A;
                text-align: left;
                font-family: var(--poppinsFontFamily);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.4;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
                white-space: nowrap;
            }
        }

        strong.price {
            color: #0E0E28;
            text-align: center;
            font-family: var(--poppinsFontFamily);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.3;
        }

        p {
            color: var(--lightColor);
            text-align: center;
            font-family: var(--poppinsFontFamily);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4;
        }

        .underline {
            font-style: normal;
            text-decoration: underline;
        }

    }
}

.solutionGroup {
    display: flex;
    gap: 32px;
    justify-content: center;

    img {
        border-radius: 8px;
    }

    >div {
        position: relative;
        border-radius: 8px;
        border: 1px solid var(--grey-dark, #ECECEC);
        width: 395px;
        height: 100%;
        background: #fff;
        padding: 22px 24px;
    }

    .arrow-thumb {
        position: absolute;
        right: -42px;
        top: 7px;
        z-index: 1;
        width: 64px;
        height: 63px px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .banner-area {
        padding-top: 124px;

        .shape1,
        .shape2 {
            display: none;
        }

        &::after,
        &::before {
            display: none;
        }

        .overlay {
            height: 60px;
        }
    }

    .banner-content {
        max-width: 100%;

        h1 {
            font-size: 28px;
            line-height: 1.28;
            margin-bottom: 8px;
        }

        p {
            max-width: 100%;
        }

        .btn-box {
            margin-top: 20px;

            .default-btn {
                font-size: 14px;

                margin: {
                    bottom: 10px;
                    right: 5px;
                    left: 5px;
                }

                ;

                padding: {
                    top: 12px;
                    bottom: 12px;
                }

                ;
            }
        }

        .features-list {
            margin-top: 20px;

            li {
                span {
                    padding-left: 28px;
                }
            }
        }
    }

    .solutionGroup {
        flex-direction: column;
        flex-wrap: wrap;

        .arrow-thumb {
            display: none;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .banner-area {
        padding-top: 145px;

        .shape1,
        .shape2 {
            display: none;
        }

        &::after,
        &::before {
            display: none;
        }

        .overlay {
            height: 200px;
        }
    }

    .banner-content {
        max-width: 100%;

        h1 {
            font-size: 35px;
            margin-bottom: 10px;
        }

        p {
            max-width: 580px;
        }

        .btn-box {
            margin-top: 20px;

            .default-btn {
                font-size: 14.5px;
            }
        }

        .features-list {
            margin-top: 20px;
        }
    }

}

.traningPart strong.price {
    margin-bottom: 8px;
    display: block;
}

.noPadding{
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .banner-area {
        padding-top: 190px;

        .shape1 {
            top: 36%;
            left: 13%;
        }

        .shape2 {
            right: 10%;
            top: 35%;
        }

        &::after,
        &::before {
            display: none;
        }

        .overlay {
            height: 300px;
        }
    }

    .banner-content {
        max-width: 100%;

        h1 {
            font-size: 41px;
            margin-bottom: 12px;
        }

        p {
            max-width: 700px;
        }

        .features-list {
            margin-top: 20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .banner-area {
        .shape1 {
            top: 37%;
            left: 13%;
        }

        .shape2 {
            right: 12%;
            top: 35%;
        }

        &::after {
            left: 0;
        }

        &::before {
            right: 0;
        }

        .overlay {
            height: 360px;
        }
    }

    .banner-content {
        max-width: 850px;

        h1 {
            font-size: 50px;
            margin-bottom: 12px;
        }

        p {
            max-width: 700px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .banner-area {
        .shape1 {
            top: 35%;
            left: 18%;
        }

        .shape2 {
            right: 14%;
            top: 30%;
        }

        &::after {
            left: 130px;
        }

        &::before {
            right: 50px;
        }

        .overlay {
            height: 300px;
        }
    }

}