<div class="banner-area position-relative z-1">
    <div class="container">
        <div class="banner-content text-center ms-auto me-auto">
            <h1 class="font-poppins" data-aos="fade-up" data-aos-duration="500">
                BuildTwin connects 
                <br>               
                5.000+ engineers with 
                <br>
                construction projects
                <br>across the globe. 
            </h1>
            <p class="ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                supercharged by the AI Design Manager - to meet technical, quality and time requirement.
            <br>At the most competitive prices. 
            </p>
            <div class="btn-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <a mat-button routerLink="/contact" class="default-btn">How it works</a>
                <a mat-button routerLink="/pricing" class="default-btn">Get started</a>
            </div>
            <ul class="features-list ps-0 mb-0 list-unstyled" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <li class="fw-medium">
                    <span class="position-relative d-inline-block">
                        <i class="ti ti-info-circle-filled"></i>
                        Free 14 days trial
                    </span>
                </li>
            </ul>
        </div>
        <div class="banner-image text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            <img src="assets/images/banners/banner8.jpg" alt="banner-image">
        </div>
    </div>
    <div class="shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape13.png" alt="shape13">
    </div>
    <div class="shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape21.png" alt="shape21">
    </div>
    <div class="overlay position-absolute z-n1"></div>
</div>