<div
    class="testimonials-area pt-100 pb-75"
    style="background-image: url(assets/images/testimonials/bg.jpg);"
>
    <div class="container">
        <div class="fs-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 font-darker-grotesque">
                Trusted by companies around the world
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/user4.jpg" alt="user">
                    <p class="font-darker-grotesque fw-medium">
                        “Love Buildtwin. Great way to discover early customers via twitter. Via Buildtwin, you can link your slack to twitter.
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-semibold">
                            Andre Leisten
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    5.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/user5.jpg" alt="user">
                    <p class="font-darker-grotesque fw-medium">
                        “Love Buildtwin. Great way to discover early customers via twitter. Via Buildtwin, you can link your slack to twitter.
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-semibold">
                            Lorenz Betge 
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                    <g clip-path="url(#clip0_461_747)">
                                        <path d="M15.5 31C24.0604 31 31 24.0604 31 15.5C31 6.93959 24.0604 0 15.5 0C6.93959 0 0 6.93959 0 15.5C0 24.0604 6.93959 31 15.5 31Z" fill="#FF492C"/>
                                        <path d="M22.7076 11.6637H19.8788C19.9563 11.1987 20.2276 10.9662 20.7701 10.695L21.3126 10.4238C22.2426 9.95875 22.7076 9.41625 22.7076 8.525C22.7463 8.02125 22.5138 7.55625 22.0876 7.24625C21.6613 6.93625 21.1188 6.78125 20.5763 6.78125C20.1113 6.78125 19.6851 6.8975 19.2976 7.13C18.9101 7.3625 18.6388 7.6725 18.4451 8.06L19.2588 8.87375C19.4913 8.2925 20.0338 7.94375 20.6538 7.94375C21.1576 7.94375 21.4676 8.17625 21.4676 8.56375C21.4676 8.95125 21.3126 9.10625 20.7313 9.41625L20.3826 9.57125C19.7626 9.8425 19.2588 10.3075 18.8713 10.85C18.5613 11.3925 18.4063 12.0125 18.4451 12.6325V12.8262H22.7076V11.6637Z" fill="white"/>
                                        <path d="M22.3198 14.144H17.6698L15.3448 18.174H19.9948L22.3198 22.204L24.6448 18.174L22.3198 14.144Z" fill="white"/>
                                        <path d="M15.7325 20.8866C12.7487 20.8866 10.3463 18.4841 10.3463 15.5003C10.3463 12.5166 12.7487 10.1141 15.7325 10.1141L17.5925 6.2778C16.9725 6.16155 16.3525 6.1228 15.7325 6.1228C10.54 6.16155 6.35504 10.3466 6.39379 15.5391C6.43254 20.7316 10.6175 24.9166 15.81 24.8778C17.7862 24.8778 19.685 24.2578 21.2737 23.0953L19.2587 19.5691C18.29 20.4216 17.0112 20.8866 15.7325 20.8866Z" fill="white"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_461_747">
                                            <rect width="31" height="31" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-half-filled"></i>
                                </div>
                                <span class="fw-medium">
                                    4.5 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="testimonial-item position-relative z-1">
                    <img src="assets/images/users/user11.jpg" alt="user">
                    <p class="font-darker-grotesque fw-medium">
                        “Love Buildtwin. Great way to discover early customers via twitter. Via Buildtwin, you can link your slack to twitter.
                    </p>
                    <div class="info d-xxl-flex align-items-center justify-content-between">
                        <span class="name fw-semibold">
                            Stefan Daum
                        </span>
                        <div class="rating">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                                    <path d="M31.4261 11.3939H19.4199L15.724 0L12.0062 11.3939L3.05176e-05 11.3721L9.70996 18.4224L5.99219 29.8163L15.7021 22.766L25.4121 29.8163L21.7162 18.4224L31.4261 11.3939Z" fill="#00B67A"/>
                                    <path d="M22.5472 20.9983L21.7162 18.4226L15.724 22.7663L22.5472 20.9983Z" fill="#005128"/>
                                </svg>
                                <div>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star-filled"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                                <span class="fw-medium">
                                    4.0 <span>/ 5</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>