.filter-icon {
    display: block;
    width: 13px;
    height: 16px;
    background: url(../../../assets/images/filter-icon.png) 0 0 no-repeat;
    background-size: 100% auto;
}
.filter-wrapper {
    padding: 24px 0 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    margin-bottom: 21px;
    .filter-slider {
        // display: flex;
        // align-items: center;
        // gap: 32px;
        padding-right: 80px;
        overflow: hidden;
        flex-grow: 1;
        padding-left: 49px;
        margin-left: -49px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 70px;
            top: 0;
            height: 100%;
            width: 50px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
            z-index: 9;
            pointer-events: none;
        }
        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 123px;
            border-bottom: 2px solid #002B34;
            padding-bottom: 10px;
            cursor: pointer;
            &.active {
                border-bottom-color: var(--themeColor);
                color: var(--themeColor);
                span {
                    color: inherit;
                }
            }
            figure {
                margin: 0;
                width: 32px;
            }
            span {
                color: #002B34;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 19.6px */
                text-transform: capitalize;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                width: 100%;
            }
        }
    }
    ::ng-deep .owl-theme .owl-nav {
        margin: 0;
    }
    ::ng-deep .owl-theme .owl-nav [class*=owl-] {
        border-radius: 16px;
        border: 1px solid #000;
        display: flex;
        width: 32px;
        height: 32px;
        padding: 3px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        background: none;
        margin: 0;
        position: absolute;
        left: -49px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        &.disabled {
            opacity: 0;
            visibility: hidden;
        }
        &.owl-next {
            left: auto;
            right: -49px;
            transform: translateY(-50%) rotate(-90deg);
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: calc(50% - 2px);
            width: 10px;
            height: 10px;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        .ti {
            display: none;
        }
    }
    .verified-partner {
        border-radius: 8px;
        border: 1px solid #D7D7D7;
        display: flex;
        padding: 13px 20px 13px 11px;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 6px;
        &.disabled {
            opacity: .5;
            cursor: not-allowed;
        }
        &.filter-btn {
            padding: 16px 20px 16px 11px;
        }
        span {
            display: flex;
            width: 46px;
            height: 24px;
            padding: 3px 2px;
            align-items: center;
            gap: 10px;
            border-radius: 32px;
            background: #bbbbbb;
            transition: all .3s ease;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 2px;
                top: 3px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: white;
                transition: all .3s ease;
            }
        }
        input {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
        }
        input:checked + span {
            background: #00A507;
            &::after {
                left: calc(100% - 20px);
            }
        }
    }
}
.project-list {
    border-top: 1px solid #E9E9E9;
}
.project-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    row-gap: 48px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    &.blur {
        .block {
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
    }
    .block {
        // width: 241px;
        width: calc(25% - 9px);
        &:hover {
            color: inherit;
        }
        .figure-wrapper {
            position: relative;
            margin-bottom: 16px;
            width: 100%; /* Adjust as needed */
            aspect-ratio: 482 / 465; /* Maintain the ratio */
            border-radius: 10px;
        }
        figure {
            margin: 0;
            position: relative;
            width: 100%; /* Adjust as needed */
            aspect-ratio: 482 / 465; /* Maintain the ratio */
            border-radius: inherit;
            img {
                border-radius: inherit;
                width: 100%; /* Adjust as needed */
                aspect-ratio: 482 / 465; /* Maintain the ratio */
                object-fit: cover;
                object-position: center;
            }
        }
        h3 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        .company-name {
            color: #738288;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
        }
        .project-des {
            font-size: 13px;
            display: -webkit-box; /* Enables the flexible box model */
            -webkit-box-orient: vertical; /* Sets the box orientation to vertical */
            overflow: hidden; /* Ensures content outside the box is hidden */
            -webkit-line-clamp: 2; /* Limits the content to 2 lines */
            text-overflow: ellipsis; /* Adds ellipsis ('...') at the end of the text */
            white-space: normal; /* Allows text to wrap to the next line */
        }
        .verified-vendor {
            position: absolute;
            left:0;
            top:0px;
            width: 100%;
            height: 28px;
            background: #54cda3;
            border-radius: 10px 10px 0 0;
            font-size: 11px;
            text-transform: uppercase;
            align-items: center;
            justify-content: center;
            gap: 20px;
            display: flex;
            color: white;
            letter-spacing: .6px;
            img {
                position: relative;
                top: 10px;
            }
        }
        .project-rating {
            background: white;
            border-radius: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            padding: 0 12px;
            gap: 5px;
            font-size: 11px;
            font-weight: 600;
            position: absolute;
            left: 13px;
            bottom: 9px;
        }
        .project-country {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 14px;
            bottom: 9px;
            gap: 10px;
            .county-name {
                position: absolute;
                left: 50%;
                bottom: calc(100% + 12px);
                background: white;
                border-radius: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 12px;
                font-size: 11px;
                font-weight: 600;
                transform: translateX(-50%);
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
                box-shadow: 0 0 5px rgba(0,0,0,.1);
                white-space: nowrap;
                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    background: white;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
            &:hover {
                .county-name {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.message {
    background: white;
    border-radius: 0 20px 20px 20px;
    padding: 33px 50px 33px 43px;
    display: flex;
    align-items: center;
    gap: 34px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 877px;
    h4 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 3px;
    }
}

@media (min-width: 1600px) {
    .project-list-wrapper {
        .block {
            width: calc(16.666% - 10px);
        }
    }
}
// @media (min-width: 1500px) {
//     .project-list-wrapper {
//         .block {
//             width: calc(25% - 9px);
//         }
//     }
// }
@media (max-width: 900px) {
    .project-list-wrapper {
        .block {
            width: calc(33.33% - 8px);
            .figure-wrapper {
                margin-bottom: 10px;
            }
            h3 {
                font-size: 14px;
            }
            .company-name {
                font-size: 14px;
            }
        }
    }
    .message {
        max-width: 80%;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        h4 {
            font-size: 22px;
            margin-bottom: 6px;
        }
    }
    .project-list-wrapper.blur .block:nth-child(4) {
        display: none;
    }
}
@media (max-width: 767px) {
    .filter-wrapper .verified-partner {
        flex-direction: column;
        margin-bottom: 0;
        padding: 13px 15px 13px 15px;
    }
    .filter-wrapper .verified-partner.filter-btn {
        padding: 30.5px 15px;
        text-indent: -9999px;
        gap: 0;
        margin: 0;
        font-size: 0;
    }
    .filter-wrapper .filter-slider {
        padding: 0;
        margin: 0;
        ::ng-deep .owl-carousel {
            z-index: auto;
        }
        ::ng-deep .owl-theme .owl-nav [class*=owl-] {
            display: none;
            &.owl-next {
                display: block;
                right: 0;
                z-index: 10;
                &.disabled {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .filter-wrapper .filter-slider::after {
        right: 0;
        width: 40px;
    }
    .project-list-wrapper {
        row-gap: 30px;
    }
    .project-list-wrapper .block {
        width: calc(50% - 6px);
    }
    .project-list-wrapper .block .verified-vendor {
        gap: 10px;
    }
    .project-list-wrapper.blur .block:nth-child(4) {
        display: block;
    }
}