<div class="container project-list">
    <div class="filter-wrapper">
        <div class="filter-slider">

            <owl-carousel-o [options]="factorySlider" *ngIf="isBrowser">
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-road.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Transportation Infrastructure
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-cargo-ship.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Marine and water Infrastructure
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-utilities.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Energy and Utilities
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-factory.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Commercial and Industrial
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-apartment.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Residential and mixed -use
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-stadium.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Sports and recreation
                        </span>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-university.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Education and public facilities
                        </span>
                    </div>
                </ng-template> -->
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-medical.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Healthcare and wellness
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-building.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Hospitality and Leisure
                        </span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-defence.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Government and Defence
                        </span>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-village.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Agriculture and rural infrastructure
                        </span>
                    </div>
                </ng-template> -->
                <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-church.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Cultural and religious
                        </span>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="block">
                        <figure>
                            <img src="assets/images/icon-smart-cities.png" width="32" height="32" alt="">
                        </figure>
                        <span>
                            Digital and smart infrastructure
                        </span>
                    </div>
                </ng-template> -->
            </owl-carousel-o>
        </div>
        <label class="verified-partner">
            <input type="checkbox">
            <span></span>
            Verified Partners
        </label>
    </div>
    <div class="project-list-wrapper">
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
    </div>

    <div class="project-list-wrapper blur">
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="block">
            <div class="figure-wrapper">
                <figure>

                </figure>
                <div class="verified-vendor">
                    Verified
                    <img 
                    src="assets/images/verified-vendor-icon.png" 
                    srcset="assets/images/verified-vendor-icon.png, assets/images/verified-vendor-icon@2x.png 2x" 
                    width="36" 
                    height="36" 
                    alt="Verified Vendor Icon">
                    Vendor
                </div>
                <div class="project-rating">
                    <img src="assets/images/star.png" width="11" height="11" alt="">
                    4.8 Review
                </div>
                <div class="project-country">
                    <span class="county-name">
                        Geramny
                    </span>
                    <img src="assets/images/flag-de.png" width="23" height="23" alt="">
                </div>
            </div>
            <h3>
                High-Rise Building FOUR
            </h3>
            <span class="company-name">
                GBC Engineer
            </span>
            <p class="project-des">
                1 mio. € construction costs electrical • approx. 22,000 m²
            </p>
        </div>
        <div class="message">
            <div class="content">
                <h4>
                    Unlock <strong>more vendors</strong> tailored for you
                </h4>
                <p>
                    Get started now with BuildTwin to explore a wide range of industry-specific
projects and connect with top-reated experts
                </p>
            </div>
            <a href="#" class="button-v2">
                Get started for FREE
            </a>

        </div>
    </div>

</div>