// Blog Details
.blog-details-desc {
    padding: {
        left: 115px;
        right: 55px;
    };
    .socials-link {
        position: absolute;
        left: 0;
        top: 0;

        div {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            box-shadow: 0px 4px 18px rgba(156, 121, 211, 0.20);
            border-radius: 50%;
            height: 40px;
            width: 40px;

            svg {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                transition: var(--transition);
                margin: {
                    left: auto;
                    right: auto;
                };
            }
            &:hover {
                svg {
                    transform: translateY(-50%) scale(1.08);
                }
            }
        }
    }
    .meta {
        margin-bottom: 22px;
        
        .tag {
            font-size: 12.5px;
            padding: 7.5px 15px;
            border-radius: 40px;
            background-color: var(--yellowColor);
            
            &:hover {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
            }
        }
        .date {
            margin-left: 20px;
            color: var(--paragraphColor);
        }
    }
    h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .gap-1 {
        margin-top: 40px;
    }
    .list {
        margin-top: 20px;
        padding-right: 100px;
        
        li {
            line-height: 1.7;
            padding-left: 42px;
            margin-bottom: 20px;
            color: var(--paragraphColor);
            font: {
                size: 16px;
                weight: 500;
            };
            svg {
                top: 0;
                left: 0;
                position: absolute;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .images {
        padding-right: 70px;
        margin: {
            top: 40px;
            bottom: 40px;
        };
        img {
            border-radius: 4px;
        }
    }
    blockquote, .blockquote {
        border-radius: 4px;
        background-color: #e1e9eb;
        padding: 50px 50px 50px 145px;
        margin: {
            top: 40px;
            bottom: 40px;
        };
        svg {
            top: 50%;
            left: 40px;
            position: absolute;
            transform: translateY(-50%);
        }
        p {
            font-size: 18px;
            margin-bottom: 12px;
        }
        cite {
            font-weight: 500;
            color: var(--paragraphColor);
        }
    }
    .image {
        margin: {
            top: 40px;
            bottom: 40px;
        };
        img {
            border-radius: 4px;
        }
    }
    .meta-tags {
        padding: 20px 30px;
        border-radius: 4px;
        border: 1px solid #ebecf4;
        margin: {
            top: 50px;
            bottom: 100px;
        };
        span {
            font-size: 16px;
            margin-right: 12px;
        }
        a {
            font-size: 15px;
            margin-right: 10px;
            padding: 8px 18.4px;
            border-radius: 30px;
            color: var(--primaryColor);
            background-color: #eff0f4;
            
            &:hover {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
            }
        }
    }
    .comments-area {
        h3 {
            font-size: 40px;
            margin-bottom: 15px;
        }
    }
    .comment-form {
        margin-top: 100px;

        h3 {
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
}
::ng-deep {
    .comment-form {
        form {
            .form-group {
                margin-bottom: 25px;
    
                i {
                    top: 16px;
                    left: 20px;
                    z-index: 1;
                    position: absolute;
                }
                .mat-mdc-form-field {
                    display: block;
                    border-radius: 5px;
                    border: 1px solid #e4e0d9;
        
                    .mdc-text-field--filled {
                        border-radius: 4px;
                        background-color: var(--whiteColor);
                        padding: {
                            left: 52px;
                            right: 30px;
                        };
                    }
                    .mat-mdc-text-field-wrapper {
                        .mat-mdc-form-field-infix {
                            min-height: 50px;
                            width: 100%;
        
                            .mat-mdc-floating-label {
                                color: #706f74;
                                top: 24px;
                                font: {
                                    size: 18px;
                                    weight: 600;
                                    family: var(--fontFamily);
                                };
                            }
                            .mdc-text-field__input {
                                color: var(--blackColor);
                                font: {
                                    size: 15px;
                                    weight: 500;
                                    family: var(--poppinsFontFamily);
                                };
                            }
                        }
                        &:not(.mdc-text-field--outlined) {
                            .mat-mdc-form-field-infix {
                                padding: {
                                    top: 14px;
                                    bottom: 7px;
                                };
                            }
                        }
                    }
                    .mat-mdc-form-field-subscript-wrapper, .mdc-line-ripple {
                        display: none;
                    }
                    .mat-mdc-form-field-focus-overlay {
                        display: none;
                    }
                    .mdc-text-field--filled {
                        &:not(.mdc-text-field--disabled) {
                            .mdc-text-field__input {
                                caret-color: var(--blackColor);
                            }
                        }
                    }
                }
                &.textarea {
                    i {
                        top: 15px;
                    }
                    .mat-mdc-form-field {
                        .mat-mdc-text-field-wrapper {
                            height: 150px;
                        }
                    }
                }
            }
            .mat-mdc-checkbox {
                label {
                    color: #706f74;
                    padding-left: 0;
                    font: {
                        family: var(--poppinsFontFamily);
                        size: 14px;
                    };
                }
                .mdc-checkbox {
                    margin-left: -11px;
                }
                &.mat-accent {
                    --mat-option-selected-state-label-text-color: var(--themeColor);
                    --mdc-checkbox-selected-focus-icon-color: var(--themeColor);
                    --mdc-checkbox-selected-hover-icon-color: var(--themeColor);
                    --mdc-checkbox-selected-icon-color: var(--themeColor);
                    --mdc-checkbox-selected-pressed-icon-color: var(--themeColor);
                    --mdc-checkbox-selected-focus-state-layer-color: var(--themeColor);
                    --mdc-checkbox-selected-hover-state-layer-color: var(--themeColor);
                    --mdc-checkbox-selected-pressed-state-layer-color: var(--themeColor);
                }
            }
            .default-btn {
                margin-top: 20px;
                padding: {
                    left: 50px;
                    right: 50px;
                };
            }
        }
    }
}

// Sidebar Area
.sidebar-area {
    padding-left: 20px;

    .search-box {
        padding: 45px 50px;
        border-radius: 8px;//updated-from-20-8;
        margin-bottom: 50px;
        background-color: #f7f5f1;

        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        form {
            .input-search {
                border: 0;
                width: 100%;
                height: 70px;
                border-radius: 4px;
                color: var(--blackColor);
                background-color: var(--whiteColor);
                padding: {
                    left: 20px;
                    right: 70px;
                    bottom: 4px;
                };
                font: {
                    size: 20px;
                    weight: 500;
                    family: var(--fontFamily);
                };
                &::placeholder {
                    transition: var(--transition);
                    color: #666666;
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            button {
                top: 50%;
                border: 0;
                right: 21px;
                padding: 4px;
                margin-top: 1px;
                cursor: pointer;
                position: absolute;
                transform: translateY(-50%);
                background-color: transparent;
            }
        }
    }
    .blogs-list {
        padding: 30px 25px;
        border-radius: 8px;//updated-from-20-8;
        margin-bottom: 50px;
        background-color: #f7f5f1;
    
        .item {
            margin-bottom: 25px;
    
            .image {
                overflow: hidden;
                margin-right: 15px;
                border-radius: 8px;//updated-from-20-8;
        
                img {
                    border-radius: 8px;//updated-from-20-8;
                    margin-bottom: -7px;
                    transition: var(--transition);
                }
            }
            .content {
                margin-left: -15px;
        
                .tag {
                    border-radius: 40px;
                    padding: 2px 15px 5px;
                    background-color: var(--yellowColor);
                    font: {
                        size: 16px;
                        weight: 600;
                    };
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--primaryColor);
                    }
                }
                .date {
                    color: var(--paragraphColor);
                }
                h3 {
                    font-size: 18px;
                    line-height: 1.4;
                    margin-top: 17px;
                }
            }
            &:hover {
                .image {
                    img {
                        transform: scale(1.08);
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .tags-box {
        padding: 45px 50px;
        border-radius: 4px;
        background-color: #f7f5f1;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        a {
            font-size: 15px;
            padding: 8px 18.4px;
            border-radius: 30px;
            color: var(--primaryColor);
            background-color: var(--whiteColor);
            margin: {
                top: 13px;
                right: 10px;
            };
            &:hover {
                color: var(--whiteColor);
                background-color: var(--primaryColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Blog Details
    .blog-details-desc {
        padding: {
            left: 0;
            right: 0;
        };
        padding-top: 33px;
        .socials-link {
            position: relative;
            margin-bottom: 17px;

            div {
                display: inline-block;
                margin: {
                    bottom: 0;
                    right: 12px;
                };
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                height: 37px;
                width: 37px;

                svg {
                    width: 15px;
                }
            }
        }
        .meta {
            margin-bottom: 15px;
            
            .tag {
                padding: 7px 15px;
            }
            .date {
                margin-left: 15px;
            }
        }
        h3 {
            font-size: 24px;
            margin-bottom: 6px;
        }
        h4 {
            font-size: 18px;
            margin-bottom: 6px;
        }
        .gap-1 {
            margin-top: 25px;
        }
        .list {
            margin-top: 15px;
            padding-right: 0;
            
            li {
                font-size: 14px;
                padding-left: 29px;
                margin-bottom: 12px;
                
                svg {
                    width: 20px;
                }
            }
        }
        .images {
            padding-right: 0;
            margin: {
                top: 25px;
                bottom: 25px;
            };
        }
        blockquote, .blockquote {
            padding: 20px 20px 20px 83px;
            margin: {
                top: 25px;
                bottom: 25px;
            };
            svg {
                left: 15px;
                width: 50px;
            }
            p {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
        .image {
            margin: {
                top: 25px;
                bottom: 25px;
            };
        }
        .meta-tags {
            padding: 18px;
            margin: {
                top: 25px;
                bottom: 25px;
            };
            span {
                font-size: 14px;
                margin-right: 0;
                display: block !important;
            }
            a {
                font-size: 14px;
                margin-top: 10px;
                padding: 7px 18.4px;
            }
        }
        .comments-area {
            h3 {
                font-size: 24px;
                margin-bottom: 5px;
            }
        }
        .comment-form {
            margin-top: 25px;

            h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
    ::ng-deep {
        .comment-form {
            form {
                .form-group {
                    margin-bottom: 15px;
        
                    i {
                        top: 17px;
                        left: 13px;
                    }
                    .mat-mdc-form-field {
                        .mdc-text-field--filled {
                            padding: {
                                left: 40px;
                                right: 20px;
                            };
                        }
                    }
                    &.textarea {
                        i {
                            top: 17px;
                        }
                    }
                }
                .default-btn {
                    margin-top: 15px;
                    padding: {
                        left: 40px;
                        right: 40px;
                    };
                }
            }
        }
    }

    // Sidebar Area
    .sidebar-area {
        padding-left: 0;
        margin-top: 30px;
    
        .search-box {
            padding: 25px 20px;
            border-radius: 4px;
            margin-bottom: 25px;
    
            h3 {
                font-size: 18px;
                margin-bottom: 15px;
            }
            form {
                .input-search {
                    height: 50px;
                    font-size: 17px;
                    padding: {
                        left: 15px;
                        right: 45px;
                    };
                }
                button {
                    right: 15px;
                    margin-top: 1px;
                }
            }
        }
        .blogs-list {
            padding: 25px 20px;
            border-radius: 4px;
            margin-bottom: 25px;
        
            .item {
                margin-bottom: 15px;
        
                .image {
                    margin-right: 0;
                    border-radius: 4px;
            
                    img {
                        border-radius: 4px;
                    }
                }
                .content {
                    margin: {
                        left: 0;
                        top: 13px;
                    };
                    .tag {
                        font-size: 15px;
                    }
                    h3 {
                        font-size: 16px;
                        margin-top: 15px;
                    }
                }
            }
        }
        .tags-box {
            padding: 25px 20px;
    
            h3 {
                font-size: 18px;
            }
            a {
                font-size: 14px;
                padding: 8px 18px;
                margin: {
                    top: 10px;
                    right: 10px;
                };
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    // Sidebar Area
    .sidebar-area {
        .blogs-list {
            .item {
                .content {
                    margin-top: 0;
                }
            }
        }
    }
    
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Blog Details
    .blog-details-desc {
        padding: {
            left: 0;
            right: 0;
        };
        .socials-link {
            position: relative;
            margin-bottom: 15px;

            div {
                display: inline-block;
                margin: {
                    bottom: 0;
                    right: 10px;
                };
            }
        }
        .meta {
            margin-bottom: 18px;
        }
        h3 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .gap-1 {
            margin-top: 30px;
        }
        .list {
            padding-right: 0;
            
            li {
                margin-bottom: 12px;
                font-size: 15px;
            }
        }
        .images {
            padding-right: 0;
            margin: {
                top: 30px;
                bottom: 30px;
            };
        }
        blockquote, .blockquote {
            padding: 40px 40px 30px 130px;
            margin: {
                top: 30px;
                bottom: 30px;
            };
            svg {
                left: 30px;
            }
            p {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .image {
            margin: {
                top: 30px;
                bottom: 30px;
            };
        }
        .meta-tags {
            margin: {
                top: 30px;
                bottom: 50px;
            };
        }
        .comments-area {
            h3 {
                font-size: 28px;
            }
        }
        .comment-form {
            margin-top: 50px;

            h3 {
                font-size: 28px;
            }
        }
    }

    // Sidebar Area
    .sidebar-area {
        padding-left: 0;
        margin-top: 50px;
    
        .search-box {
            padding: 45px;
            
            form {
                .input-search {
                    height: 60px;
                    font-size: 19px;
                    padding: {
                        left: 20px;
                        right: 50px;
                    };
                }
                button {
                    right: 20px;
                }
            }
        }
        .blogs-list {
            padding: 45px;

            .item {
                .image {
                    margin-right: 50px;
                }
                .content {
                    margin-left: -50px;
                }
            }
        }
        .tags-box {
            padding: 45px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Blog Details
    .blog-details-desc {
        padding: {
            left: 0;
            right: 0;
        };
        .socials-link {
            position: relative;
            margin-bottom: 15px;

            div {
                display: inline-block;
                margin: {
                    bottom: 0;
                    right: 15px;
                };
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .meta {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 32px;
        }
        h4 {
            font-size: 22px;
        }
        .gap-1 {
            margin-top: 30px;
        }
        .list {
            padding-right: 0;
            
            li {
                margin-bottom: 15px;
            }
        }
        .images {
            padding-right: 0;
            margin: {
                top: 30px;
                bottom: 30px;
            };
        }
        blockquote, .blockquote {
            padding: 40px 40px 30px 130px;
            margin: {
                top: 30px;
                bottom: 30px;
            };
            svg {
                left: 30px;
            }
            p {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .image {
            margin: {
                top: 30px;
                bottom: 30px;
            };
        }
        .meta-tags {
            margin: {
                top: 30px;
                bottom: 70px;
            };
        }
        .comments-area {
            h3 {
                font-size: 32px;
            }
        }
        .comment-form {
            margin-top: 70px;

            h3 {
                font-size: 32px;
            }
        }
    }

    // Sidebar Area
    .sidebar-area {
        padding-left: 15px;

        .search-box {
            padding: 40px 30px;
            margin-bottom: 30px;
        }
        .blogs-list {
            margin-bottom: 30px;
        
            .item {
                .content {
                    margin-left: -20px;

                    h3 {
                        font-size: 16px;
                        margin-top: 15px;
                    }
                }
            }
        }
        .tags-box {
            padding: 40px 30px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // Blog Details
    .blog-details-desc {
        padding: {
            left: 75px;
            right: 25px;
        };
        .list {
            padding-right: 0;
        }
        .images {
            padding-right: 0;
        }
    }

    // Sidebar Area
    .sidebar-area {
        padding-left: 0;

        .search-box {
            padding: 40px;
        }
        .blogs-list {
            .item {
                .content {
                    margin-left: -20px;
            
                    h3 {
                        font-size: 16px;
                        margin-top: 15px;
                    }
                }
            }
        }
        .tags-box {
            padding: 40px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    // Blog Details
    .blog-details-desc {
        padding: {
            left: 85px;
            right: 25px;
        };
        .list {
            padding-right: 0;
        }
        .images {
            padding-right: 0;
        }
    }

    // Sidebar Area
    .sidebar-area {
        padding-left: 0;

        .blogs-list {
            .item {
                .content {
                    h3 {
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

.image img {
    width: 100%;
}