<div class="threeCardsWrapper">
    <div class="container pdR30">
        <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <figure>
                <img src="../../../../assets/images/IndependentVendors.svg" alt="">
            </figure>

            <h3>Ready-to-bid vendors</h3>
            <p>Choose from hundreds of pre-qualified vendors in pre-cast detailing services for 
                the right price.</p>
        </div>
        <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <figure>
                <img src="../../../../assets/images/StandardisedDelivery.svg" alt="">
            </figure>

            <h3>Live project tracking</h3>
            <p>Remotely monitor and coordinate the progress with vendors via BuildTwin LIVE
                Track.</p>
        </div>

        <div class="col-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <figure>
                <img src="../../../../assets/images/MeetingCompliance.svg" alt="">
            </figure>

            <h3>Internationally compliant</h3>
            <p>Get global quality standards with our proprietary AI technology for assured 
                industry compliance.</p>
        </div>
    </div>
</div>