.about-content {
    max-width: 638px;

    h2 {
        font-size: 24px;
        max-width: 606px;
        line-height: 1.25;
        margin-bottom: 17px;
    }
    p {
        max-width: 523px;
        letter-spacing: 0.4px;
    }
    .default-btn {
        font-family: var(--poppinsFontFamily);
        background-color: var(--themeColor);
        margin-top: 10px;
        padding: {
            top: 13px;
            bottom: 13px;
        };
    }
    .brands-list {
        margin-top: 50px;
    }
}
.about-image {
    .main-image {
        display: none;
    }
    .image {
        padding: {
            top: 33px;
            left: 91px;
            right: 33px;
        };
        img {
            &:nth-child(2) {
                top: 0;
                right: 64px;
                position: absolute;
                border-radius: 10px;
                animation: moveleftbounce 2s linear infinite;
                box-shadow: 0px 4px 20px 0px rgba(96, 71, 136, 0.07);
            }
            &:nth-child(3) {
                top: 64px;
                left: -4px;
                position: absolute;
                border-radius: 10px;
                animation: movetopbounce 2s linear infinite;
                box-shadow: 0px 4px 20px 0px rgba(96, 71, 136, 0.07);
            }
            &:nth-child(4) {
                left: 48px;
                bottom: 105px;
                position: absolute;
                border-radius: 10px;
                animation: moveleftbounce 2s linear infinite;
                box-shadow: 0px 4px 20px 0px rgba(96, 71, 136, 0.07);
            }
        }
    }
    .shape1 {
        top: 12px;
        left: 143px;

        img {
            animation: {
                duration: 30s;
                name: rotateme;
                timing-function: linear;
                iteration-count: infinite;
            };
        }
    }
    .shape2 {
        right: 0;
        top: 50%;
        margin-top: 8px;
        transform: translateY(-50%);

        img {
            animation: movetopbounce 2s linear infinite;
        }
    }
    .shape3 {
        bottom: 24px;
        left: 220px;

        img {
            animation: moveleftbounce 5s linear infinite;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 25px;
            max-width: 100%;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 3px;
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .brands-list {
            margin-top: 5px;

            img {
                margin-top: 20px;
            }
        }
    }
    .about-image {
        margin-top: 25px;

        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 29px;
            max-width: 100%;
            margin-bottom: 13px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .brands-list {
            margin-top: 30px;
        }
    }
    .about-image {
        margin-top: 25px;

        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 35px;
            max-width: 100%;
            margin-bottom: 15px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
        .brands-list {
            margin-top: 30px;
        }
    }
    .about-image {
        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .about-content {
        max-width: 100%;
    
        h2 {
            font-size: 45px;
            max-width: 100%;
            margin-bottom: 15px;
        }
        p {
            max-width: 520px;
        }
        .brands-list {
            margin-top: 40px;
        }
    }
    .about-image {
        .main-image {
            display: inline-block;
        }
        .image {
            padding: {
                top: 0;
                left: 0;
                right: 0;
            };
            img {
                display: none;
            }
        }
        .shape1, .shape2, .shape3 {
            display: none;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    .about-image {
        .image {
            img {
                &:nth-child(3) {
                    width: 300px;
                }
                &:nth-child(4) {
                    width: 240px;
                }
            }
        }
        .shape3 {
            left: 180px;
        }
    }

}