<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content" data-aos="fade-up" data-aos-duration="500">
                    <h2 class="font-poppins">
                        <span>Instant everything.</span> Our <i class="jeffStyle">AI</i> Design Manager at your service.
                    </h2>
                    <p>

                    The <span class="fw-semibold">AI Design Manager</span> automatically tracks progress of the projects and predicts in real-time delivery dates and delays. 

                    The AI follows a certified quality process - across all vendors. Additionally to customizable
                    checklist we leverage AI to create delivery-based checklist and ensure a high degree of quality. #

                    You get an instant update on what is happening. 


                    </p>
                    <a mat-button routerLink="/about" class="default-btn">Learn More</a>
                    <p>

                    <br>
                    
                    <span><i class="numberList">1</i> Fully Plug & Play</span><br>
                    <span><i class="numberList">2</i> No manual input required - fully AI-based</span><br>
                    <span><i class="numberList">3</i> Fully compliant with BIM 7D standards</span><br>
                    </p>


                    <div class="brands-list row align-items-center">
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-image position-relative z-1 text-center">
                    <img src="assets/images/about/about8.jpg" class="main-image" alt="about-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="image position-relative">
                        <img src="assets/images/about/about4.png" alt="about-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <img src="assets/images/deliverables/AI-Manager-images/1.png" alt="about-image">
                        <img src="assets/images/deliverables/AI-Manager-images/2.png" alt="about-image">
                        <img src="assets/images/deliverables/AI-Manager-images/3.png" alt="about-image">
                    </div>
                    <div class="shape1 position-absolute pe-none">
                        <img src="assets/images/shapes/shape22.png" alt="shape22">
                    </div>
                    <div class="shape2 position-absolute z-n1 pe-none">
                        <img src="assets/images/shapes/shape23.png" alt="shape23">
                    </div>
                    <div class="shape3 position-absolute z-n1 pe-none">
                        <img src="assets/images/shapes/shape24.png" alt="shape24">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>