<div class="about-area pb-100 pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                <div class="about-content">
                    <h2 class="font-archivo">
                        Plug & Play into your workflow
                    </h2>
                    <p>
                        BuildTwin comes out of the box with everything your team needs to collaborate. From a IFC / PDF viewer to comment, chats 
                        and video tools. All integrated and connected to your project progress. 
                        <br><br> 
                        While BuildTwin keeps your existing channels updated. 
                        
                    </p>
                    <h3 class="font-archivo fw-semibold">
                        No change in work-flow required
                    </h3>
                    <ul class="features-list font-archivo mt-0 ps-0 list-unstyled">
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                           Integrate into your CDE 
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            Just E-Mail's
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            MS Teams / Sharepoint
                        </li>
                    </ul>
                    <a mat-button routerLink="/about" class="default-btn">Get To Know Us</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <img src="assets/auto/image_auto.jpg" alt="" width="" height="">
            </div>
        </div>
    </div>
</div>