<div class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image text-center" data-aos="fade-up" data-aos-duration="500">
                    <img src="assets/images/about/about1.png" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <h2 class="font-mulish">
                        <span>A new generation</span> of Quality Management.
                    </h2>
                    <p>
                        BuildTwin comes with a built-in quality management system. The AI system learns what needs to be checked and custom 
                        generates checkpoints and checklists. 
                    </p>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            <h5 class="font-mulish">
                                AI generated CheckList and Quality Gates
                            </h5>
                            <p>
                                BuildTwin generates Checklists based on the user, deliverables and the discussed technical decision. The checklist also considers RFIs, Revisions and many other factors.
                            </p>
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            <h5 class="font-mulish">
                                Continous learning 
                            </h5>
                            <p>
                                The digital self management portal provides custom feedback, trainings and benchmarks based on quality issues, technical 
                                queries and general learning materials. 
                            </p>
                        </li>
                        <li class="position-relative">
                            <i class="ti ti-check"></i>
                            <h5 class="font-mulish">
                                Documenting everything
                            </h5>
                            <p>
                                BuildTwin tracks and documents all activitis across all channels - and presents a easy to use and understand cockpit. 
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>