.quote-item {
    .image {
        img {
            width: 193px;
            height: 193px;
            border-radius: 50%;
            margin-bottom: -6px;
            display: inline-block;
        }
    }
    .content {
        margin-left: -53px;

        p {
            max-width: 748px;
            line-height: 1.6;
        }
        span {
            font-size: 12px;
            margin-top: 25px;
            color: var(--lightColor);
        }
    }
}
::ng-deep {
    .quotes-slides {
        max-width: 1262px;

        .icon {
            top: 0;
            right: 0;
            position: absolute;
        }
        .owl-theme {
            .owl-nav {
                right: 0;
                z-index: 1;
                bottom: 39px;
                margin-top: 0;
                position: absolute;

                [class*=owl-] {
                    padding: 0;
                    margin: 0 3px;
                    font-size: 20px;
                    border-radius: 0;
                    background: transparent;
                    color: var(--blackColor);
                    transition: var(--transition);

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        color: var(--themeColor);
                    }
                }
            }
            .owl-dots {
                top: -41px;
                text-align: end;
                margin-top: -22px;
                position: relative;
                padding-right: 60px;

                .owl-dot {
                    span {
                        width: 10px;
                        height: 10px;
                        margin: 0 5px;
                        border-radius: 50%;
                        background: #d5d5f4;
                        transition: var(--transition);
                    }
                    &:first-child {
                        span {
                            margin-left: 0;
                        }
                    }
                    &:last-child {
                        span {
                            margin-right: 0;
                        }
                    }
                    &:hover, &.active {
                        span {
                            background: var(--themeColor);
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .quote-item {
        text-align: center;

        .image {
            margin-bottom: 15px;

            img {
                margin: {
                    left: auto;
                    right: auto;
                };
            }
        }
        .content {
            margin-left: 0;
    
            p {
                margin-bottom: 10px;
                max-width: 100%;
                font-size: 14px;
            }
            span {
                margin-top: 10px;
            }
        }
    }
    ::ng-deep {
        .quotes-slides {
            max-width: 100%;
    
            .icon {
                display: none;
            }
            .owl-theme {
                .owl-nav {
                    display: none !important;
                }
                .owl-dots {
                    text-align: center;
                    padding-right: 0;
                    margin-top: 12px;
                    top: 0;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .quote-item {
        .content {
            margin-left: -15px;
    
            p {
                font-size: 14px;
                max-width: 100%;
            }
            span {
                margin-top: 15px;
            }
        }
    }
    ::ng-deep {
        .quotes-slides {
            max-width: 100%;
    
            .icon {
                display: none;
            }
            .owl-theme {
                .owl-nav {
                    display: none;
                }
                .owl-dots {
                    text-align: center;
                    padding-right: 0;
                    margin-top: 12px;
                    top: 0;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .quote-item {
        .content {
            margin-left: -10px;
    
            p {
                max-width: 580px;
            }
            span {
                margin-top: 15px;
            }
        }
    }
    ::ng-deep {
        .quotes-slides {
            max-width: 100%;

            .owl-theme {
                .owl-nav {
                    bottom: 26px;
                }
                .owl-dots {
                    top: -28px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .quote-item {
        .content {
            margin-left: -15px;
    
            p {
                max-width: 580px;
            }
            span {
                margin-top: 20px;
            }
        }
    }
    ::ng-deep {
        .quotes-slides {
            max-width: 960px;

            .owl-theme {
                .owl-nav {
                    bottom: 26px;
                }
                .owl-dots {
                    top: -28px;
                }
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    ::ng-deep {
        .quotes-slides {
            max-width: 1200px;

            .owl-theme {
                .owl-nav {
                    bottom: 37px;
                }
                .owl-dots {
                    top: -39px;
                }
            }
        }
    }

}