<div class="faq-area pb-100" id="hdFaq">
    <div class="container">
        <div class="heading center v2" data-aos="fade-up" data-aos-duration="500">
            <h2 class="title">
                How BuildTwin <span>works</span> 
            </h2>
            <h4 class="small-title">
                Learn more about our BuildTwin SaaS, Marketplace and Training
            </h4>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="isFirst">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Who is BuildTwin and what do you offer? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin is a Software Company, which offers 3 products – a SaaS product do manage 
                                engineering teams and projects, a marketplace software to tender & bid for projects 
                                and a software solution for training and marketing custom trainings. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Does software mean I need to download something? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin works completely in the cloud and can be accessed through your browser. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    For whom is BuildTwin?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>

                                BuildTwin offers solutions for engineers, engineering teams and clients with engineering projects such 
                                as contractors, JVs, pre-cast yards, etc.
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Do I need to change my workflow? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                As a solution provider, yes. You need to work with the AI Design Manager to deliver 
                                your work. But don’t worry – it is an easy process. As a client, no. Clients can continue 
                                with work as is – through any channels such as E-Mails, CDE, etc.
                                <br><br>
                                Learn more.
                            </p>
                        </mat-expansion-panel>
                        
                    </mat-accordion>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-image position-relative text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <picture>
                        <source srcset="assets/images/mobile-faq.webp 1x, assets/images/mobile-faq@2x.webp 767w" media="(max-width: 767px)" type="image/webp">
                        <source srcset="assets/images/faq.webp 1x, assets/images/faq@2x.webp 2x" type="image/webp">
                        <source srcset="assets/images/mobile-faq.jpg 1x, assets/images/mobile-faq@2x.jpg 767w" media="(max-width: 767px)">
                        <source srcset="assets/images/faq.jpg 1x, assets/images/faq@2x.jpg 2x">
                        <img src="assets/images/faq.jpg" alt="faq-image">
                    </picture>
                    <!-- <img src="assets/images/faq5.jpg" alt="faq-image"> -->
                </div>
            </div>
        </div>
    </div>
</div>

