<div class="integrations-area plugPlay ">
<div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
    <div class="container">
        <div class="container-with-right">
            <h2>Plug & Play into your workflow</h2>
        </div>
    </div>
</div>
    
    <div class="container">
        <div class="container-with-right">
            <div class="plugWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <div class="row integrations-area-list">
                    <owl-carousel-o [options]="integrationsList">
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon1.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon2.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon3.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon4.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon5.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon6.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="integration-box text-center">
                                <img src="assets/images/plug-icon7.png" width="174px" height="105px" alt="miro">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>