<div class="sampleProjectsWrapper">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
            <h2>Sample Projects</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </div>

        <div class="sampleProjectsContainer">
            <div class="sampleProjectsSlider" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400">

                <mat-tab-group [selectedIndex]="selectedIndex" animationDuration="0ms" >
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="../../../../assets/images/projectsThumbImg1.jpg" alt="">
                        </ng-template>

                        <div class="sampleProject">
                            <div class="greyBG">
                                <h3>FOUR Frankfurt 1</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>

                                <div class="infoCardList">

                                    <div class="infoCard">
                                        <div class="projectIcon"><img src="../../../../assets/images/projectIcon1.png"
                                                alt=""></div>
                                        <div class="projectInfo">
                                            <span>Partner</span>
                                            <strong>Groß & Partner</strong>
                                        </div>
                                    </div>

                                    <div class="infoCard">
                                        <div class="projectIcon"><img src="../../../../assets/images/projectIcon2.png"
                                                alt=""></div>
                                        <div class="projectInfo">
                                            <span>Location</span>
                                            <strong>Frankfurt</strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="bigImg">
                                <img src="../../../../assets/images/projectsBigImg1.jpg" alt="">
                            </div>
                        </div>

                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="../../../../assets/images/projectsThumbImg2.jpg" alt="">
                        </ng-template>
                        
                        <div class="sampleProject">
                            <div class="greyBG">
                                <h3>FOUR Frankfurt 2</h3>
                                <p>Lorem Ipsum is simply dummy text test test</p>

                                <div class="infoCardList">

                                    <div class="infoCard">
                                        <div class="projectIcon"><img src="../../../../assets/images/projectIcon1.png"
                                                alt=""></div>
                                        <div class="projectInfo">
                                            <span>Partner</span>
                                            <strong>Groß & Partner</strong>
                                        </div>
                                    </div>

                                    <div class="infoCard">
                                        <div class="projectIcon"><img src="../../../../assets/images/projectIcon2.png"
                                                alt=""></div>
                                        <div class="projectInfo">
                                            <span>Location</span>
                                            <strong>Frankfurt</strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="bigImg">
                                <img src="../../../../assets/images/projectsBigImg2.jpg" alt="">
                            </div>
                        </div>

                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <img src="../../../../assets/images/projectsThumbImg3.jpg" alt="">
                        </ng-template>

                        <div class="sampleProject">
                            <div class="greyBG">
                                <h3>FOUR Frankfurt 3</h3>
                                <p>Lorem Ipsum is simply dummy text.</p>

                                <div class="infoCardList">

                                    <div class="infoCard">
                                        <div class="projectIcon"><img src="../../../../assets/images/projectIcon1.png"
                                                alt=""></div>
                                        <div class="projectInfo">
                                            <span>Partner</span>
                                            <strong>Groß & Partner</strong>
                                        </div>
                                    </div>

                                    <div class="infoCard">
                                        <div class="projectIcon"><img src="../../../../assets/images/projectIcon2.png"
                                                alt=""></div>
                                        <div class="projectInfo">
                                            <span>Location</span>
                                            <strong>Frankfurt</strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="bigImg">
                                <img src="../../../../assets/images/projectsBigImg3.jpg" alt="">
                            </div>
                        </div>
                        
                    </mat-tab>
                </mat-tab-group>

                <button (click)="previousStep()" class="navBtn perv-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="51" height="15" viewBox="0 0 51 15" fill="none">
                        <path d="M1.75293 7.33789H37.7529" stroke="#886DE0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.07357 1L1 7.33804L8.07357 13.6761" stroke="#886DE0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button (click)="nextStep()" class="navBtn next-btn"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="51" height="15" viewBox="0 0 51 15" fill="none">
                        <path d="M1 7.33789H37" stroke="#886DE0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M30.9264 1L38 7.33804L30.9264 13.6761" stroke="#886DE0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>