.sampleProjectsWrapper{ padding: 52px 0;

    .hd-section-title{ margin-bottom: 50px;}

    .sampleProject{position: relative; 
        padding-bottom: 220px;}
    .greyBG{border-radius: 6px; width: 78%;
        background: #F8F6FF; padding: 33px 28% 33px 40px;
        h3{font-size: 32px;
            font-style: normal;
            font-weight: 700;}
        .infoCardList{ padding-top: 30px; max-width: 325px;
            .infoCard {border-radius: 12px;
                background: #FFF;
                box-shadow: 0px 4px 10px 0px rgba(136, 109, 224, 0.10);
                margin-bottom: 25px;
                display: flex;
                padding: 10px 24px;
                align-items: center;
                gap: 12px;
                .projectInfo{
                    span{display: block;}
                    strong{display: block; font-size: 20px; font-weight: 500;}
                }
            }
        }
    }

    .bigImg{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40%;
        border-radius: 12px;
        overflow: hidden;
    }
    
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs{
    position: relative;
    .mat-mdc-tab-label-container{overflow: visible;}
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header{
    --mdc-secondary-navigation-tab-container-height: initial !important;
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 54%;
    z-index: 3;
    overflow: visible;

    .mat-mdc-tab-labels{justify-content: space-between;}

    .mat-mdc-tab{
        padding: 20px 0 0 0; flex-grow: unset !important;
        width: 30%; border-radius: 12px; overflow: hidden;

        .mdc-tab__content{align-items: normal;}
        .mdc-tab__text-label{flex: 1;}

        &.mdc-tab--active{
            padding: 0;
            box-shadow: 0px 7px 16px 0px rgba(61, 57, 74, 0.26);
            border: solid 1px #886de0;
            img{height: 100%;}
        }
    }
    .mat-mdc-tab-ripple,.mdc-tab__ripple,
    .mdc-tab-indicator{display: none !important;}
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-body-wrapper{}

.sampleProjectsSlider{position: relative;
    .navBtn{ position: absolute; bottom: 40px; right: 20px; z-index: 3; background: none;
        &.perv-btn{ right: 100px; }
        &.next-btn{ }
    }
}


@media only screen and (min-width: 1399px) {
    .sampleProjectsWrapper .sampleProject{padding-bottom: 270px !important;}
    .sampleProjectsSlider .navBtn{bottom: 0 !important;}
}

@media only screen and (max-width : 767px) {
    .sampleProjectsWrapper {
        .greyBG {
            width: auto;
            padding: 30px 20px 40px;
            margin-bottom: -20px;

            .infoCardList {
                padding-top: 18px;
            }
        }

        .bigImg {
            position: static;
            width: auto;
        }

        .sampleProject {
            padding-bottom: 140px;
        }

        .navBtn {
            bottom: -50px;
        }
    }

    ::ng-deep .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
        display: none;
    }

    ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header {
        width: auto;

        .mat-mdc-tab {
            overflow: visible;
            img {
                border-radius: 12px;
            }
        }
    }
}