.jeffStyle {
    font-weight: 400;
    font-size: 46px;
}
.happier-customers-area {
    background: #fff;
    padding: 80px 0 60px;
}
.hd-section-title{
    p{margin-bottom: 48px;}
}
.happier-customers-inner {
    // padding: {
    //     left: 210px;
    //     right: 210px;
    // };
    // &::before {
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     content: '';
    //     z-index: -1;
    //     position: absolute;
    //     border-radius: 8px;//updated-from-20-8;
    //     margin-bottom: 31px;
    //     background: var(--backgroundColor);
    // }
    .hd-section-title{margin-bottom: 0;}
}


.happier-customers-content {

    ul {
        li {
            font-size: 13px;
            border-radius: 30px;
            padding: 8px 42px 8px 16px;
            background-color: var(--whiteColor);
            margin: {
                right: 20px;
            };
            svg {
                top: 50%;
                right: 10px;
                position: absolute;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                // margin-left: 280px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.happier-customers-image {
    text-align: center; 

    // img {
    //     &:nth-child(1) {
    //         margin-bottom: -5px;
    //     }
    //     &:nth-child(2) {
    //         left: 8px;
    //         top: 186px;
    //         position: absolute;
    //         border-radius: 4px;
    //         animation: movetopbounce 2s linear infinite;
    //     }
    //     &:nth-child(3) {
    //         right: -8px;
    //         bottom: 120px;
    //         position: absolute;
    //         border-radius: 4px;
    //         animation: movebottombounce 2s linear infinite;
    //     }
    // }
    // &::before {
    //     left: 0;
    //     right: 0;
    //     top: 78px;
    //     content: '';
    //     z-index: -1;
    //     width: 514px;
    //     height: 514px;
    //     position: absolute;
    //     border-radius: 50%;
    //     background-color: var(--themeColor);
    //     margin: {
    //         left: auto;
    //         right: auto;
    //     };
    // }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .happier-customers-inner {
        // padding: {
        //     left: 20px;
        //     right: 20px;
        // };
        // &::before {
        //     border-radius: 4px;
        //     margin-bottom: 30px;
        // }
    }
    .happier-customers-content {
        margin-bottom: 20px;
        text-align: center;
    
        ul {
            li {
                font-size: 14px;
                margin: {
                    bottom: 10px;
                    right: 10px;
                };
                &:nth-child(3) {
                    margin-left: 0;
                }
            }
        }
    }
    // .happier-customers-image {
    //     max-width: 100%;
    
    //     img {
    //         &:nth-child(2) {
    //             display: none;
    //         }
    //         &:nth-child(3) {
    //             display: none;
    //         }
    //     }
    //     &::before {
    //         display: none;
    //     }
    // }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .happier-customers-inner {
        // padding: {
        //     left: 50px;
        //     right: 50px;
        // };
    }
    .happier-customers-content {
        margin-bottom: 10px;
    
        ul {
            li {
                font-size: 14px;
                margin: {
                    right: 15px;
                    bottom: 15px;
                };
                &:nth-child(3) {
                    margin-left: 0;
                }
            }
        }
    }
    // .happier-customers-image {
    //     max-width: 100%;
    
    //     img {
    //         &:nth-child(2) {
    //             width: 200px;
    //             left: 0;
    //         }
    //         &:nth-child(3) {
    //             width: 200px;
    //         }
    //     }
    // }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .happier-customers-inner {
        // padding: {
        //     left: 50px;
        //     right: 50px;
        // };
        
    }
    .happier-customers-content {
        margin-bottom: 40px;
    
        ul {
            li {
                &:nth-child(3) {
                    margin-left: 0;
                }
            }
        }
    }
    // .happier-customers-image {
    //     max-width: 100%;
    
    //     img {
    //         &:nth-child(2) {
    //             width: 250px;
    //         }
    //         &:nth-child(3) {
    //             width: 250px;
    //         }
    //     }
    // }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .happier-customers-inner {
        // padding: {
        //     left: 70px;
        //     right: 70px;
        // };
    }
    .happier-customers-content {
        margin-bottom: -55px;
    
        ul {
            li {
                &:nth-child(3) {
                    margin-left: 180px;
                }
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {

    // .happier-customers-inner {
    //     padding: {
    //         left: 110px;
    //         right: 110px;
    //     };
    // }

}