
//custom table

.bt-flex {
    display: flex;
    align-items: center;
}

.tableheader {
    background: #F6F3FF;
    display: flex;
    padding: 16px 24px;
    align-items: center;
    flex: 1 0 0;
    color:  #808080;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 19.6px */
letter-spacing: 2px;
text-transform: uppercase;
}
.col1{
    flex-grow: 1;
    width: 300px;
}
.col2 {
    width: 200px;
    text-align: center;
}

.col3 {
    width: 334px;
    text-align: center;
}

.col4 {
    width: 175px;
    text-align: center;

}
.tableSubheader,.tableRow{
    padding: 16px 24px;

}
.tableRow{
    font-size: 12px;
}
.tableSubheader{
    font-size: 12px;
font-weight: 500;
background: #f9f9f9;
}
.headingSubheader{
    font-size: 16px;
    font-weight: 600;
}
.tableWrapper {
  

    .container{
      border-radius: 16px;
      border: 1px solid #886DE0;
      overflow: hidden;
      margin-bottom: 50px;
      padding: 0;
      height: 500px;
    overflow: auto;
    }
}
.gap8 {
    gap: 8px;
    justify-content: center;
}
.col4 {
  display: none;
}

@media(max-width:767px){
    
    .tableheader{
        padding: 11px 10px;
        font-size: 10px;
       
    }
    .tableSubheader, .tableRow {
        padding: 11px 10px;
        font-size: 10px;
    }
    .headingSubheader {
        font-size: 10px;
    }
    .col3 {
        padding: 0 8px;
    }
    .col1 {
        width: 522px;
        padding-right: 10px;
    }
}


.content-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 43px;
  margin-top: 100px;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
  background: var(--secondary, #F6F3FF);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07);
  height: 80px;
  position: sticky;
    top: 111px;
    z-index: 9;
  }

  .header-section {
    display: flex;
    gap: 12px;
    padding: 1px 20px;
    color: #0e0e28;
    align-items: center;
  }
  .flexData {
    display: flex;
    justify-content: space-between;
}

  .header-title,
  .offer-text {
    color: #0E0E28;
    font-size: 28.733px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  img{
    margin-left: 10px;
  }
  }

  .feature-img {
    aspect-ratio: 3.7;
    object-fit: auto;
    object-position: center;
    width: 178px;
    max-width: 100%;
  }

  .services-section {
    align-self: center;
    display: flex;
    margin-top: 0;

    gap: 16px;
    font-weight: 500;
    padding: 0 20px;
    align-items: center;
  }

  .services-intro {
    color: var(--grey, var(--grey, #808080));
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 22.5px */
  }

  .services-container {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    border-radius: 40px;
    border: 1px solid #886de0;
    background-color: #f6f3ff;
    color: #886de0;
    line-height: 140%;
    padding: 8px 20px;
    display: flex;
    padding: 8px 16px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 40px;
    border: 1px solid #886DE0;
    background: var(--color-green-button, #FFF);
   
    h4{
      color: #886DE0;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .services-title {
    color: #000;
    margin: auto 0;
    font-size: 16px;
  }

  .services-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }

  @media (max-width: 991px) {
    .content-wrapper,
    .header-section,
    .offer-text,
    .services-section,
    .services-intro,
    .services-container,
    .services-title {
      white-space: initial;
    }

    .header-section {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  :host ::ng-deep div#scrollActivated.fixedData .head {
    position: sticky;
    top: 108px;
    display: block;
    z-index: 9;
    background: #886DE0;
    padding-top: 42px;
}


.stickyHeader.tableheader.bt-flex {
  position: fixed;
  left: 0;
  width: 100%;
  border-top: 1px solid #886DE0;
  top: 190px;
}

.cover {
  position: sticky;
  top: 0;
}

