<div class="view-all-courses-area bg-fef8ef">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="view-all-courses-content">
                    <span class="sub-title">Hybrid learning</span>
                    <h2>The best out of two worlds: 
                        <br>Online and On-site
                    </h2>
                    <p>
                        The majority of our training is conducted in virtual training classes, while for specific training, we invite our students to on-site training in real client environments or in one of our campuses.
                    </p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-agenda"></i>View Courses<span></span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="view-all-courses-image">
                    <img src="assets/images/training/man-with-laptop.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/training/shape1.png" alt="image"></div>
    <div class="shape9"><img src="assets/images/training/shape8.svg" alt="image"></div>



</div>