<div class="faqWrapper global-mb">
    <div class="container">
        <div class="" [ngClass]="{'container-with-right': !fullScreen}">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h2>
                    <strong>Frequently Asked Questions</strong>
                </h2>
                <p>Find answers to common questions about how BuildTwin can streamline your commercial projects</p>
            </div>

            <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What is the difference between commercial building construction and residential projects like house or apartment buildings?
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Commercial building construction focuses on functional spaces for businesses, retail, or multi-use properties, prioritizing durability, compliance, and scalability. Unlike residential projects (e.g., houses or apartments), commercial structures like office buildings or retail spaces require specialized design development to meet zoning laws, safety codes (e.g., fire exits), and tenant-specific layouts. BuildTwin connects clients with architects and structural vendors experienced in these complex requirements.
                        </p>
                        <!-- <ul class="default-list-ul">
                            <li><b>Location:&nbsp;</b> Proximity to power sources, climate, and risk of natural disasters.</li>
                            <li><b>Scalability:&nbsp;</b> Design flexibility to accommodate future growth and technology upgrades.</li>
                            <li><b>Energy Efficiency:&nbsp;</b> Implementation of systems that minimize energy consumption, such as advanced cooling solutions and energy-efficient power systems.</li>                        
                        </ul> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What types of commercial structures does BuildTwin cater to?
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin covers a wide range of structures, including office buildings, retail spaces, mixed-use and multi use property developments, industrial facilities, and modular apartment complexes. Our network of experts—comprising experienced architects, contractors, and engineers—ensures every structure is designed and constructed with high security and quality, offering significant benefits for every owner.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    How can architects and client collaborate effectively during the design development phase?
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Architects and structural engineers must align on the client’s vision, budget, and compliance needs early in the design development process. BuildTwin’s platform facilitates seamless coordination through integrated BIM tools, ensuring structural plans, floor layouts, and material specifications are optimized. For example, our vendors use 3D modeling to resolve clashes between MEP systems and architectural elements before construction begins.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What is the vendor selection process on BuildTwin?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            The vendor selection process is streamlined and transparent. Our platform lets owners easily compare different types of vendors—from architects and contractors to structural engineers—ensuring that each project is backed by experts responsible for every phase of construction. This secure process helps save money while delivering quality structures at the right location.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    How does BuildTwin ensure compliance with contracts between clients and vendors?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Our platform track milestones, payments, and deliverables. For example, if a contractor misses a deadline for a retail space’s schematic design, the system alerts both parties and suggests solutions, ensuring accountability.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What should a company consider when planning their next project in commercial real estate?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Evaluate location, tenant needs, and scalability. A multi-use property in a downtown area might prioritize foot traffic, while an industrial building requires proximity to highways.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What roles do architects play in ensuring a commercial property operates efficiently post-construction?
                                </h3>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Architects design spaces for functionality and future adaptability. In retail spaces, this could mean flexible floor plans for seasonal displays; in office buildings, efficient HVAC systems reduce energy costs. BuildTwin’s pre-vetted vendors also incorporate sustainable materials, lowering long-term operational expenses for owners.
                        </p>
                    </mat-expansion-panel>
                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Can I view past projects or case studies from vendors on BuildTwin?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            You can explore our entire list of vendors and their past projects [here].
                        </p>
                    </mat-expansion-panel> -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>
                                    What is the difference between BuildTwin’s digital process and traditional methods?
                                </h3>
                                                           
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            The biggest difference is our fully digital process that integrates design development and construction management. By unifying pre-qualified architects, engineers, and contractors, BuildTwin reduces timelines and money spent while enhancing security and quality. This innovative approach transforms every commercial project into a seamless, efficient operation.
                        </p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </div>
</div>