<div class="company-list-wrapper">
    <!-- <owl-carousel-o [options]="factorySlider" *ngIf="isBrowser">
        <ng-template carouselSlide> -->
            <div class="block">
                <figure>
                    <img src="assets/images/company-slide-test.png" width="96" height="96" alt="">
                </figure>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/company-slide-test.png" width="96" height="96" alt="">
                </figure>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/company-slide-test.png" width="96" height="96" alt="">
                </figure>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/company-slide-test.png" width="96" height="96" alt="">
                </figure>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/company-slide-test.png" width="96" height="96" alt="">
                </figure>
            </div>
        <!-- </ng-template>
    </owl-carousel-o> -->
    <div class="total-project-listed">
        400+ projects listed
    </div>
</div>