.company-list-wrapper {
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    position: relative;
    figure {
        margin: 0;
        img {
            border: 4px solid white;
            border-radius: 50%;
        }
    }
    .block {
        margin-right: -10px;
        margin-left: -10px;
        position: relative;
        z-index: 3;
    }
    .block:nth-child(1),
    .block:nth-child(5) {
        width: 65px;
        z-index: 1;
    }
    .block:nth-child(2),
    .block:nth-child(4) {
        width: 79px;
        z-index: 2;
    }
}
.total-project-listed {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    height: 51px;
    border-radius: 47px;
    border: 2px solid #5dd7ad;
    font-size: 15px;
    font-weight: bold;
    padding: 0 31px;
    z-index: 4;
    background: white;
    align-items: center;
    display: flex;
    color: #5dd7ad;
}