<app-hd-navbar></app-hd-navbar>

<!-- Page Title -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center" data-aos="fade-up" data-aos-duration="500">
            <h1 class="mb-0 ms-auto me-auto">
                BuildTwin adds value. 
                <br>Learn more about the use-cases 
            </h1>
        </div>
    </div>
    <div class="pt-shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape1.png" alt="shape1">
    </div>
    <div class="pt-shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape27.png" alt="shape27">
    </div>
</div>
<!-- End Page Title -->



<!-- Blog Search 
<div class="pt-100">
    <div class="container">
        <div class="blog-search-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <h3 class="fw-semibold">
                Search Article
            </h3>
            <form class="position-relative">
                <input type="text" class="input-search d-block" placeholder="Enter keywords...">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M9.58268 17.4998C13.9549 17.4998 17.4993 13.9554 17.4993 9.58317C17.4993 5.21092 13.9549 1.6665 9.58268 1.6665C5.21043 1.6665 1.66602 5.21092 1.66602 9.58317C1.66602 13.9554 5.21043 17.4998 9.58268 17.4998Z" stroke="#0E0E28" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.3327 18.3332L16.666 16.6665" stroke="#0E0E28" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
-->


<!-- Blog Area -->
<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="em-section-title">
            <h2 class="mb-0">
                BuildTwin - How it works
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/blog1.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <a routerLink="/blog-details" class="tag">
                                    How-to
                                </a>
                            </div>
                            <div class="date fw-medium">
                               <!-- Sep 10, 2024 -->
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/blog-details" class="fw-semibold">
                                Pre-qualify your company
                            </a>
                        </h3>
                        <p>
                            Learn more about the BuildTwin Marketplace and how it works. 
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="blog-item">
                    <a routerLink="/blog-details2" class="d-block image">
                        <img src="assets/images/blogs/blog3.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <a routerLink="/blog-details2" class="tag">
                                    How-to
                                </a>
                            </div>
                            <div class="date fw-medium">
                               <!-- Sep 10, 2024 -->
                            </div>
                        </div>
                        <h3>
                            <a routerLink="/blog-details2" class="fw-semibold">
                                Marketplace partner
                            </a>
                        </h3>
                        <p>
                            Our SaaS is an all in one solution - tailored for your specific needs. 
                        </p>
                        <a routerLink="/blog-details2" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 col-lg-7 col-md-9" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="blogs-list">
                    <div class="item">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-md-5">
                                <a routerLink="/blog-details" class="d-block image">
                                    <img src="assets/images/blogs/blog7.jpg" alt="blog-image">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="content">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <a routerLink="/blog-details3" class="tag">
                                                Feature
                                            </a>
                                        </div>
                                        <div class="date fw-medium">
                                           <!-- Sep 10, 2024 -->
                                        </div>
                                    </div>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details3" class="fw-semibold">
                                            Quality Management with AI Design Manager
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-md-5">
                                <a routerLink="/blog-details" class="d-block image">
                                    <img src="assets/images/blogs/blog8.jpg" alt="blog-image">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="content">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <a routerLink="/blog-details4" class="tag">
                                                Feature
                                            </a>
                                        </div>
                                        <div class="date fw-medium">
                                         <!-- Sep 10, 2024 -->
                                        </div>
                                    </div>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details4" class="fw-semibold">
                                           Automate File Management with AI
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-md-5">
                                <a routerLink="/blog-details" class="d-block image">
                                    <img src="assets/images/blogs/blog9.jpg" alt="blog-image">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="content">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <a routerLink="/blog-details" class="tag">
                                                Feature
                                            </a>
                                        </div>
                                        <div class="date fw-medium">
                                            <!-- Sep 10, 2024 -->
                                        </div>
                                    </div>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details" class="fw-semibold">
                                            Automated project documentation
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->

<!-- Features Area -->
<div class="container">
    <div class="em-single-feature-item">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="content" data-aos="fade-up" data-aos-duration="500">
                    <h2>
                        BuildTwin Plug & Play - Software and Marketplace
                    </h2>
                    <p>
                        BuildTwin workflows follow a certified process. Our AI Design managers help you to adopt to the workflow and meet compliance requirements from international projects. With our integrated IT infrastructure, such as file management, we can ensure that your data is managed according to the compliance requirements.
                    </p>
                    <a mat-button routerLink="/feature-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="image text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/features/feature7.png" alt="feature-image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Features Area -->

<!-- Blog Area -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="em-section-title">
            <h2 class="mb-0">
                BuildTwin Success Stories
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/use-case-blog.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                        </div>
                        <h3>
                            <a routerLink="/blog-details" class="fw-semibold">
                                J&F India
                            </a>
                        </h3>
                        <p>
                            With more than 500+ employees, J&F India is managed through the BuildTwin plattform.
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/use-case-blog.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                        </div>
                        <h3>
                            <a routerLink="/blog-details" class="fw-semibold">
                                GBC Engineers
                            </a>
                        </h3>
                        <p>
                            A german pre-cast conglomerate which uses BuildTwin to source its detailing needs. 
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="d-block image">
                        <img src="assets/images/blogs/use-case-blog.jpg" alt="blog-image">
                    </a>
                    <div class="content">
                        <div class="d-flex align-items-center justify-content-between">
                        </div>
                        <h3>
                            <a routerLink="/blog-details" class="fw-semibold">
                                MAC Engineers
                            </a>
                        </h3>
                        <p>
                            BuildTwin AI Design Manager was used to deliver for Westgate project in AUS. 
                        </p>
                        <a routerLink="/blog-details" class="link-btn d-inline-block position-relative fw-medium">
                            Read More
                            <i class="ti ti-caret-right-filled"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="pagination-area font-syne fw-semibold text-center" data-aos="fade-up" data-aos-duration="500">
            <a routerLink="/blog-details" disabled class="d-inline-block">
                <i class="ti ti-chevron-left"></i>
            </a>
            <a routerLink="/blog-details" class="d-inline-block active" disabled>
                1
            </a>
            <a routerLink="/blog-details" class="d-inline-block">
                2
            </a>
            <a routerLink="/blog-details" class="d-inline-block">
                3
            </a>
            <a routerLink="/blog-details" class="d-inline-block">
                <i class="ti ti-chevron-right"></i>
            </a>
        </div> -->
    </div>
</div>
<!-- End Blog Area -->


<app-hd-footer></app-hd-footer>