.integrations-area-list {
    padding: {
        top: 60px;
        bottom: 24px;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        position: absolute;
        border-radius: 8px;//updated-from-20-8;
        background: #f8f8f8;
        margin: {
            left: 0;
            right: 0;
        };
    }
}
.integrations-area.overflow {
    margin-top: 23px;
}
.integration-box {
    padding: 30px 25px 40px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
}

:host ::ng-deep .owl-nav {
    display: block!important;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {
    right: 0 ;
    z-index: 99 ;
    width: 47px ;
    bottom: 0 ;
    height: 47px ;
    display: block ;
    transition: var(--transition) ;
    background-color: var(--whiteColor) ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px ;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
    position: relative;
    .ti.ti-chevron-left,.ti.ti-chevron-right {
        display: none;
    }
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-prev]{    
    position: absolute;
    right: auto;
    bottom: auto;
    left: -3px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-next]{    
    position: absolute;
    right: -3px;
    bottom: auto;
    left: auto;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right;
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: .92;
    background-color: var(--themeColor) ;
    &::before{
        color: var(--whiteColor);
    }
}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]::before {
    left: 0;
    right: 0;
    top: 50%;
    line-height: 1;
    content: "\ea62";
    margin-top: -0.5px;
    position: absolute;
    color: var(--blackColor);
    transform: translateY(-50%);
    transition: var(--transition);
    font-size: 25px;
    font-family: "tabler-icons";
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .integrations-inner-box {
        margin-bottom: -25px;
        padding: {
            top: 0;
            bottom: 0;
        };
        &::before {
            display: none;
        }
    }
    .integration-box {
        padding: 25px 15px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .integrations-inner-box {
        padding: {
            top: 40px;
            bottom: 15px;
        };
        &::before {
            margin: {
                left: 50px;
                right: 50px;
            };
        }
    }
    .integration-box {
        padding: 30px 20px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .integrations-inner-box {
        padding: {
            top: 50px;
            bottom: 25px;
        };
        &::before {
            margin: {
                left: 80px;
                right: 80px;
            };
        }
    }
    .integration-box {
        padding: 30px 15px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .integration-box {
        padding: 35px 20px;
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {}

@media  (max-width: 767px) {
    .integrations-area-list::before{
        display: none;
    }
    
}

