<app-hd-navbar></app-hd-navbar>
<div class="training-wrapper">
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <ul>
                </ul>
                <h2>BuildTwin Events for Training</h2>
            </div>
        </div>
        <div class="shape9"><img src="assets/images/training/shape8.svg" alt="image"></div>
    </div>

    <app-events-program>
        <div class="eventsManage">
            <div class="container">
                <div class="eventFlex">
                    <div class="event">
                        <div class="imgWrap">
                            <img src="assets/images/ui/location1.png" class="event-image" width="146" height="128" />
    
                            <div class="eventData">
                                <strong>20</strong>
                                May, 2024
                            </div>
                        </div>
    
                        <div class="white_box">
                            <div class="country">
                                <img src="assets/images/ui/country1.png" class="event-image" width="18" height="18" />
                                <span>Malaysia</span>
                            </div>
                            <h2>
                                Kuala Lumpur
                            </h2>
                            <span>
                                Meeting the BuildTwin global marketplace in your town
                            </span>
                        </div>
                    </div>
                    <div class="event">
                        <div class="imgWrap">
                            <img src="assets/images/ui/location2.png" class="event-image" width="146" height="128" />
    
                            <div class="eventData">
                                <strong>20</strong>
                                May, 2024
                            </div>
                        </div>
    
                        <div class="white_box">
                            <div class="country">
                                <img src="assets/images/ui/country2.png" class="event-image" width="18" height="18" />
                                <span>Vietnam</span>
                            </div>
                            <h2>
                                Ho Chi Minh
                            </h2>
                            <span>
                                Meeting the BuildTwin global marketplace in your town
                            </span>
                        </div>
                    </div>
                    <div class="event">
                        <div class="imgWrap">
                            <img src="assets/images/ui/location3.png" class="event-image" width="146" height="128" />
    
                            <div class="eventData">
                                <strong>20</strong>
                                May, 2024
                            </div>
                        </div>
    
                        <div class="white_box">
                            <div class="country">
                                <img src="assets/images/ui/country3.png" class="event-image" width="18" height="18" />
                                <span>India</span>
                            </div>
                            <h2>
                                Chennai
                            </h2>
                            <span>
                                Meeting the BuildTwin global marketplace in your town
                            </span>
                        </div>
                    </div>
                    <div class="event">
                        <div class="imgWrap">
                            <img src="assets/images/ui/location4.png" class="event-image" width="146" height="128" />
    
                            <div class="eventData">
                                <strong>20</strong>
                                May, 2024
                            </div>
                        </div>
    
                        <div class="white_box">
                            <div class="country">
                                <img src="assets/images/ui/country4.png" class="event-image" width="18" height="18" />
                                <span>England</span>
                            </div>
                            <h2>
                                London
                            </h2>
                            <span>
                                Meeting the BuildTwin global marketplace in your town
                            </span>
                        </div>
                    </div>
                    <div class="event">
                        <div class="imgWrap">
                            <img src="assets/images/ui/location5.png" class="event-image" width="146" height="128" />
    
                            <div class="eventData">
                                <strong>20</strong>
                                May, 2024
                            </div>
                        </div>
    
                        <div class="white_box">
                            <div class="country">
                                <img src="assets/images/ui/country5.png" class="event-image" width="18" height="18" />
                                <span>Germany</span>
                            </div>
                            <h2>
                                Frankfurt
                            </h2>
                            <span>
                                Meeting the BuildTwin global marketplace in your town
                            </span>
                        </div>
                    </div>
                    <div class="event">
                        <div class="imgWrap">
                            <img src="assets/images/ui/location6.png" class="event-image" width="146" height="128" />
    
                            <div class="eventData">
                                <strong>20</strong>
                                May, 2024
                            </div>
                        </div>
    
                        <div class="white_box">
                            <div class="country">
                                <img src="assets/images/ui/country3.png" class="event-image" width="18" height="18" />
                                <span>India</span>
                            </div>
                            <h2>
                               Delhi
                            </h2>
                            <span>
                                Meeting the BuildTwin global marketplace in your town
                            </span>
                        </div>
                    </div>
                </div>
        




            </div>
        </div>


    </app-events-program>

    <div class="subscribe-area bg-f9f9f9 ptb-100">
        <div class="container">
            <app-subscribe></app-subscribe>
        </div>
        <div class="shape4"><img src="assets/images/training/shape4.png" alt="image"></div>
        <div class="shape13"><img src="assets/images/training/shape12.png" alt="image"></div>
        <div class="shape14"><img src="assets/images/training/shape13.png" alt="image"></div>
        <div class="shape15"><img src="assets/images/training/shape14.png" alt="image"></div>
    </div>
</div>
<app-hd-footer></app-hd-footer>