

<div class="services" id="targetSection">
    <div class="main-head">
        <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
            <div class="heading">
                <h1 class="title">Eurocode Services & Solutions</h1>
                <div class="subTitle">Comprehensive range of Eurocode-compliant structural engineering services</div>
            </div>
        </div>
    </div>


</div>

<div class="global-mb">
    <app-hd-services [heading]="false" [page]="'code-euro'"></app-hd-services>
</div>