<app-hd-navbar></app-hd-navbar>

<!-- Page Title -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center" data-aos="fade-up" data-aos-duration="500">
            <!-- <ul class="ps-0 mt-0 font-syne fw-semibold list-unstyled">
                <li class="position-relative d-inline-block">
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li class="position-relative d-inline-block">
                    <a routerLink="/careers">
                        Careers
                    </a>
                </li>
                <li class="position-relative d-inline-block">
                    Job Details
                </li>
            </ul> -->
            <h1 class="mb-0 ms-auto me-auto">
                Senior DevOps Engineer
            </h1>
        </div>
    </div>
    <div class="pt-shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape1.png" alt="shape1">
    </div>
    <div class="pt-shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape27.png" alt="shape27">
    </div>
</div>
<!-- End Page Title -->

<!-- Job Details -->
<div class="job-details-area ptb-100">
    <div class="container">
        <div class="job-details-description ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <ul class="info ps-0 mt-0 font-syne list-unstyled">
                <li class="d-inline-block">
                    Engineer
                </li>
                <li class="d-inline-block">
                    Full-time
                </li>
                <li class="d-inline-block">
                    Vancouver, British Columbia, Canada
                </li>
                <li class="d-inline-block">
                    Remote
                </li>
            </ul>
            <h3>
                Job Description
            </h3>
            <p>
                We are seeking a skilled and motivated DevOps Engineer to join our dynamic team. As a DevOps Engineer, you will play a crucial role in designing, implementing, and maintaining our continuous integration, delivery, and deployment pipelines. Your expertise in automating processes, optimizing infrastructure, and ensuring seamless software releases will contribute to the overall efficiency and reliability of our software development lifecycle.
            </p>
            <div class="gap-1"></div>
            <h3>
                Responsibilities:
            </h3>
            <ul class="ps-0 mb-0 list-unstyled font-syne list">
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Collaborate with cross-functional teams, including software developers, system administrators, and quality assurance, to establish efficient and automated deployment processes.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Design, implement, and manage CI/CD pipelines using industry-standard tools and practices to ensure consistent and reliable software releases.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Develop and maintain infrastructure as code (IaC) using tools like Terraform, Ansible, or similar, to enable scalable and reproducible deployments.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Monitor, analyze, and troubleshoot system performance, identifying and addressing potential bottlenecks or issues to ensure optimal application and infrastructure performance.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Implement security best practices throughout the CI/CD pipelines and infrastructure to ensure compliance and protect sensitive data.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Collaborate on the design and implementation of containerization and orchestration solutions using Docker and Kubernetes or similar technologies.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Manage cloud infrastructure (e.g., AWS, Azure, GCP), optimizing resource utilization and cost-effectiveness.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Participate in on-call rotation and provide timely response to system incidents or outages, implementing corrective actions to minimize downtime.
                </li>
            </ul>
            <div class="gap-1"></div>
            <h3>
                Qualifications:
            </h3>
            <ul class="ps-0 mb-0 list-unstyled font-syne list">
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Bachelor's degree in Computer Science, Information Technology, or related field, or equivalent work experience.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Proven experience as a DevOps Engineer or similar role, with a strong understanding of software development principles and methodologies.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Hands-on experience with CI/CD tools (e.g., Jenkins, CircleCI, GitLab CI/CD) and version control systems (e.g., Git).
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Proficiency in scripting languages (e.g., Bash, Python, Ruby) for automation and task scripting.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Solid knowledge of containerization and orchestration tools (e.g., Docker, Kubernetes).
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Experience with infrastructure as code (IaC) tools (e.g., Terraform, Ansible) for provisioning and managing cloud resources.
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Familiarity with cloud platforms (e.g., AWS, Azure, GCP) and cloud services (e.g., EC2, S3, RDS).
                </li>
                <li class="position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <path d="M18.0375 22.5876L25.625 15.0001L18.0375 7.4126" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.3751 15L25.4126 15" stroke="#EC764B" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Strong understanding of networking, security practices, and system monitoring.
                </li>
            </ul>
            <div class="benefits-box">
                <h3>
                    Benefits that we will cover
                </h3>
                <ul class="ps-0 mb-0 font-syne list-unstyled">
                    <li>
                        <span class="d-inline-block position-relative">
                            <i class="ti ti-check"></i>
                            Competitive salary and performance-based bonuses.
                        </span>
                    </li>
                    <li>
                        <span class="d-inline-block position-relative">
                            <i class="ti ti-check"></i>
                            Comprehensive benefits package including health, dental, and retirement plans.
                        </span>
                    </li>
                    <li>
                        <span class="d-inline-block position-relative">
                            <i class="ti ti-check"></i>
                            Professional development opportunities, including access to workshops and conferences.
                        </span>
                    </li>
                    <li>
                        <span class="d-inline-block position-relative">
                            <i class="ti ti-check"></i>
                            Collaborative and innovative work environment.
                        </span>
                    </li>
                    <li>
                        <span class="d-inline-block position-relative">
                            <i class="ti ti-check"></i>
                            Opportunity to work with cutting-edge technologies and contribute to impactful projects.
                        </span>
                    </li>
                    <li>
                        <span class="d-inline-block position-relative">
                            <i class="ti ti-check"></i>
                            Flexible work hours and remote work options.
                        </span>
                    </li>
                </ul>
            </div>
            <p>
                If you are a proactive and detail-oriented DevOps Engineer with a passion for building and maintaining robust infrastructure and streamlined deployment processes, we encourage you to apply and become a valuable part of our dedicated team.
            </p>
            <a mat-button href="javascript:void(0);" class="default-btn">
                Apply Now
            </a>
        </div>
    </div>
</div>
<!-- End Job Details -->

<app-join-us></app-join-us>

<app-em-footer></app-em-footer>