.job-details-description {
    max-width: 750px;

    .info {
        margin-bottom: 35px;
        
        li {
            font-size: 15px;
            padding: 8px 20px;
            margin-right: 11px;
            border-radius: 20px;
            color: var(--primaryColor);
            background-color: #eff0f4;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .gap-1 {
        margin-top: 85px;
    }
    .list {
        margin-top: 20px;
        
        li {
            line-height: 1.7;
            padding-left: 42px;
            margin-bottom: 20px;
            color: var(--paragraphColor);
            font: {
                size: 16px;
                weight: 500;
            };
            svg {
                top: 0;
                left: 0;
                position: absolute;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .benefits-box {
        padding: 80px 130px;
        border-radius: 10px;
        background-color: #e9ebf1;
        margin: {
            top: 50px;
            left: -130px;
            bottom: 50px;
            right: -130px;
        };
        ul {
            margin-top: 20px;
            
            li {
                font-size: 16px;
                margin-bottom: 15px;
                color: var(--paragraphColor);
                
                span {
                    border-radius: 30px;
                    padding: 10.5px 30px 10.5px 41px;
                    background-color: var(--whiteColor);

                    i {
                        background-color: var(--primaryColor);
                        transition: var(--transition);
                        color: var(--whiteColor);
                        position: absolute;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 20px;
                        height: 20px;
                        width: 20px;
                        left: 12px;
                        top: 10px;
                    }
                    &:hover {
                        i {
                            background-color: var(--neonOrangeColor);
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .default-btn {
        margin-top: 25px;
        background-color: var(--blackColor);

        &:hover {
            background-color: var(--primaryColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .job-details-description {
        max-width: 100%;
    
        .info {
            margin-bottom: 12px;
            
            li {
                font-size: 14px;
                padding: 7px 20px;
                margin: {
                    bottom: 10px;
                    right: 10px;
                };
            }
        }
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .gap-1 {
            margin-top: 25px;
        }
        .list {
            margin-top: 15px;
            
            li {
                font-size: 14px;
                padding-left: 29px;
                margin-bottom: 12px;
                
                svg {
                    width: 20px;
                }
            }
        }
        .benefits-box {
            padding: 25px 20px;
            margin: {
                left: 0;
                right: 0;
                top: 20px;
                bottom: 20px;
            };
            ul {
                margin-top: 18px;
                
                li {
                    line-height: 1.6;
                    margin-bottom: 10px;
                    font: {
                        size: 14px;
                        weight: 500;
                    };
                    span {
                        padding: 0 0 0 30px;
                        background-color: transparent;
    
                        i {
                            left: 0;
                            top: 3px;
                        }
                    }
                }
            }
        }
        .default-btn {
            margin-top: 5px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .job-details-description {
        max-width: 100%;
    
        .info {
            margin-bottom: 25px;
            
            li {
                font-size: 14.5px;
            }
        }
        h3 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .gap-1 {
            margin-top: 30px;
        }
        .list {
            li {
                margin-bottom: 12px;
                font-size: 15px;
            }
        }
        .benefits-box {
            padding: 50px 30px;
            margin: {
                left: 0;
                right: 0;
                top: 30px;
                bottom: 30px;
            };
            ul {
                li {
                    margin-bottom: 12px;
                    line-height: 1.5;
                    font: {
                        size: 15px;
                        weight: 500;
                    };
                    span {
                        padding: {
                            top: 9px;
                            bottom: 9px;
                        };
                        i {
                            top: 50%;
                            line-height: 21px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        .default-btn {
            margin-top: 10px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .job-details-description {
        max-width: 720px;
    
        .info {
            margin-bottom: 30px;
        }
        h3 {
            font-size: 22px;
        }
        .gap-1 {
            margin-top: 35px;
        }
        .list {
            li {
                font-size: 15.5px;
                margin-bottom: 15px;
            }
        }
        .benefits-box {
            padding: 60px 50px;
            margin: {
                top: 40px;
                left: -50px;
                bottom: 40px;
                right: -50px;
            };
            ul {
                margin-top: 20px;
                
                li {
                    font-size: 15.5px;
                }
            }
        }
        .default-btn {
            margin-top: 15px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .job-details-description {
        .info {
            margin-bottom: 30px;
        }
        .gap-1 {
            margin-top: 40px;
        }
        .list {
            margin-top: 20px;
            
            li {
                line-height: 1.7;
                padding-left: 42px;
                margin-bottom: 20px;
                color: var(--paragraphColor);
                font: {
                    size: 16px;
                    weight: 500;
                };
                svg {
                    top: 0;
                    left: 0;
                    position: absolute;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .benefits-box {
            padding: 80px 100px;
            margin: {
                top: 40px;
                left: -100px;
                bottom: 40px;
                right: -100px;
            };
        }
        .default-btn {
            margin-top: 15px;
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {}