<div class="testimonials-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-duration="500">
                <div class="testimonials-image text-center z-1 position-relative">
                    <img src="assets/images/testimonials/happy-woman.jpg" alt="testimonials-image">
                    <div class="shape1 position-absolute pe-none">
                        <img src="assets/images/shapes/shape25.png" alt="shape25">
                    </div>
                    <div class="shape2 position-absolute z-n1 pe-none">
                        <img src="assets/images/shapes/shape23.png" alt="shape23">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="testimonials-content">
                    <h2 class="mb-0 font-poppins">
                        Loved by 100s of teams across the globe.
                    </h2>
                    <div class="testimonials-slides">
                        <owl-carousel-o [options]="testimonialsSlides">
                            <ng-template carouselSlide>
                                <div class="testimonial-item">
                                    <div class="d-md-flex align-items-center">
                                        <!-- <img src="assets/images/brands/g2.png" class="logo" alt="g2"> -->
                                        <div class="rating d-flex align-items-center">
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <span class="font-syne fw-medium">
                                                5.0 <span>/ 5</span>
                                            </span>
                                        </div>
                                    </div>
                                    <p class="font-poppins">
                                        BuildTwin does a lot of the heavilylifting for me. The AI Design Manager especially helps me to track 
                                        what is happening, are we on track for project delivery and keeps my attention on the most importaing things 
                                        for me. 
                                    </p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/users/Lorenz_Betge.jpg" class="user" alt="user-image">
                                            <span class="d-block fw-medium name">
                                                Lorenz Betge
                                            </span>
                                        </div>
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="77" height="55" viewBox="0 0 77 55" fill="none">
                                                <g clip-path="url(#clip0_382_1037)">
                                                    <path d="M14.3733 35.7883C12.6793 40.0347 10.0101 44.2301 6.44236 48.272C5.31303 49.5511 5.15903 51.3929 6.083 52.8254C6.80174 53.951 7.98231 54.565 9.26564 54.565C9.625 54.565 9.98438 54.5395 10.3437 54.4115C17.8896 52.2115 35.5227 44.4092 36.0104 19.3905C36.1899 9.74645 29.1061 1.45811 19.8917 0.511596C14.784 -5.78165e-05 9.70208 1.66263 5.929 5.0394C2.15608 8.44178 0 13.3023 0 18.3674C0 26.8092 6.00608 34.2023 14.3733 35.7883Z" fill="white"/>
                                                    <path d="M60.8559 0.511596C55.7738 -5.78165e-05 50.6918 1.66263 46.9189 5.0394C43.1458 8.44178 40.9897 13.3023 40.9897 18.3674C40.9897 26.8092 46.9958 34.2022 55.3632 35.7883C53.6691 40.0347 50.9998 44.2301 47.4321 48.272C46.3028 49.5511 46.1488 51.3929 47.0729 52.8254C47.7915 53.951 48.9722 54.5649 50.2555 54.5649C50.6147 54.5649 50.9741 54.5395 51.3335 54.4114C58.8795 52.2115 76.5125 44.4092 77.0002 19.3905V19.0325C77.0002 9.54175 69.9932 1.45811 60.8559 0.511596Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_382_1037">
                                                        <rect width="77" height="55" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="testimonial-item">
                                    <div class="d-md-flex align-items-center">
                                        <!-- <img src="assets/images/brands/trustpilot.png" class="logo" alt="trustpilot"> -->
                                        <div class="rating d-flex align-items-center">
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-half-filled"></i>
                                            <span class="font-syne fw-medium">
                                                4.5 <span>/ 5</span>
                                            </span>
                                        </div>
                                    </div>
                                    <p class="font-poppins">
                                        With BuildTwin i get access to specialised vendors in MEP works. This solved our core issue of 
                                        continously having a shortage of skilled technical engineers. 
                                    </p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/users/andre.jpg" class="user" alt="user-image">
                                            <span class="d-block fw-medium name">
                                                Andre Leisten
                                            </span>
                                        </div>
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="77" height="55" viewBox="0 0 77 55" fill="none">
                                                <g clip-path="url(#clip0_382_1037)">
                                                    <path d="M14.3733 35.7883C12.6793 40.0347 10.0101 44.2301 6.44236 48.272C5.31303 49.5511 5.15903 51.3929 6.083 52.8254C6.80174 53.951 7.98231 54.565 9.26564 54.565C9.625 54.565 9.98438 54.5395 10.3437 54.4115C17.8896 52.2115 35.5227 44.4092 36.0104 19.3905C36.1899 9.74645 29.1061 1.45811 19.8917 0.511596C14.784 -5.78165e-05 9.70208 1.66263 5.929 5.0394C2.15608 8.44178 0 13.3023 0 18.3674C0 26.8092 6.00608 34.2023 14.3733 35.7883Z" fill="white"/>
                                                    <path d="M60.8559 0.511596C55.7738 -5.78165e-05 50.6918 1.66263 46.9189 5.0394C43.1458 8.44178 40.9897 13.3023 40.9897 18.3674C40.9897 26.8092 46.9958 34.2022 55.3632 35.7883C53.6691 40.0347 50.9998 44.2301 47.4321 48.272C46.3028 49.5511 46.1488 51.3929 47.0729 52.8254C47.7915 53.951 48.9722 54.5649 50.2555 54.5649C50.6147 54.5649 50.9741 54.5395 51.3335 54.4114C58.8795 52.2115 76.5125 44.4092 77.0002 19.3905V19.0325C77.0002 9.54175 69.9932 1.45811 60.8559 0.511596Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_382_1037">
                                                        <rect width="77" height="55" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="testimonial-item">
                                    <div class="d-md-flex align-items-center">
                                        <!-- <img src="assets/images/brands/g2.png" class="logo" alt="g2"> -->
                                        <div class="rating d-flex align-items-center">
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star-filled"></i>
                                            <i class="ti ti-star"></i>
                                            <span class="font-syne fw-medium">
                                                4.0 <span>/ 5</span>
                                            </span>
                                        </div>
                                    </div>
                                    <p class="font-poppins">
                                        The BuildTwin marketplace opens new horizons for us. We get access to global markets, materials to train our staff 
                                        according to specific requirements and the ability to bid and win projects with new clients.
                                    </p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/users/Shashank-Singh.jpg" class="user" alt="user-image">
                                            <span class="d-block fw-medium name">
                                                Shashank Singh
                                            </span>
                                        </div>
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="77" height="55" viewBox="0 0 77 55" fill="none">
                                                <g clip-path="url(#clip0_382_1037)">
                                                    <path d="M14.3733 35.7883C12.6793 40.0347 10.0101 44.2301 6.44236 48.272C5.31303 49.5511 5.15903 51.3929 6.083 52.8254C6.80174 53.951 7.98231 54.565 9.26564 54.565C9.625 54.565 9.98438 54.5395 10.3437 54.4115C17.8896 52.2115 35.5227 44.4092 36.0104 19.3905C36.1899 9.74645 29.1061 1.45811 19.8917 0.511596C14.784 -5.78165e-05 9.70208 1.66263 5.929 5.0394C2.15608 8.44178 0 13.3023 0 18.3674C0 26.8092 6.00608 34.2023 14.3733 35.7883Z" fill="white"/>
                                                    <path d="M60.8559 0.511596C55.7738 -5.78165e-05 50.6918 1.66263 46.9189 5.0394C43.1458 8.44178 40.9897 13.3023 40.9897 18.3674C40.9897 26.8092 46.9958 34.2022 55.3632 35.7883C53.6691 40.0347 50.9998 44.2301 47.4321 48.272C46.3028 49.5511 46.1488 51.3929 47.0729 52.8254C47.7915 53.951 48.9722 54.5649 50.2555 54.5649C50.6147 54.5649 50.9741 54.5395 51.3335 54.4114C58.8795 52.2115 76.5125 44.4092 77.0002 19.3905V19.0325C77.0002 9.54175 69.9932 1.45811 60.8559 0.511596Z" fill="white"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_382_1037">
                                                        <rect width="77" height="55" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>