:host ::ng-deep {
    .startedData {
        border-radius: 8px;
        padding: 80px 80px 55px;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}