<div class="get-started-area">
    <div class="container">

        <br><br>
        
        <div class="get-started-inner">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <div class="get-started-content">
                        <h2 class="font-darker-grotesque">
                            Register NOW
                        </h2>
                        <span>Signup for the free webinar to understand about Buildtwin</span>
                        <a mat-button routerLink="/pricing" class="default-btn">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>