<div class="get-started-area">
    <div class="container">
        <div class="get-started-inner">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                    <div class="get-started-content">
                        <h2 class="font-darker-grotesque fw-medium">
                            Get started with payments, <strong>Pay on the go,</strong> wherever you go
                        </h2>
                        <a mat-button routerLink="/pricing" class="default-btn">
                            Get Started
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <div class="get-started-image text-center">
                        <img src="assets/images/get-started.png" alt="get-started-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>