<div class="faq-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-content" data-aos="fade-up" data-aos-duration="500">
                    <span class="sub-title d-block font-syne fw-semibold">
                        FAQ
                    </span>
                    <h2>
                        Frequently asked questions
                    </h2>
                    <div class="image position-relative">
                        <img src="assets/images/faq.png" alt="faq-image">
                        <!-- <img src="assets/images/faq2.jpg" alt="faq-image"> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="isFirst">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Who is BuildTwin and what do you offer? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin is a Software Company, which offers 3 products – a SaaS product do manage engineering teams 
                                and projects, a marketplace software to tender & bid for projects and a software solution for training 
                                and marketing custom trainings. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Does software mean I need to download something? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin works completely in the cloud and can be accessed through your browser. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    For whom is BuildTwin? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin offers solution for engineers, engineering teams and clients which engineering projects 
                                such as contractors, JVs, pre-cast yards, etc. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Does BuildTwin replaces CDEs our existing ERP solution 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin works out of the box with all major CDEs. It is not required to change your existing software 
                                infrastructure – BuildTwin blends with existing workflows while yielding significant efficiency gains. 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Do I need to change my workflow? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                As a solution provider, yes. You need to work with 
                                the AI Design Manager to deliver your work. But don’t worry – it is an easy process. Learn more
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Do clients need to work with BuildTwin? 
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                No. Clients can continoue to work with you as is – through E-Mails, CDEs or any other means. However, if you want to 
                                add value to your clients relationship you can opt-in to ClientView and give Clients a LIVE view and options to steer projects 
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    How much does BuildTwin cost?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                BuildTwin has 3 packages for its SaaS offering, tailored for small teams, technical teams 
                                and Enterprise. For more custom packages, please reach out to our Sales team. 
                            </p>
                        </mat-expansion-panel>                                                                     
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>


