.services-area {
    padding: {
        top: 115px;
        bottom: 100px;
    };
    background: {
        color: #f8f8f8;
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.service-box {
    padding: 9px;
    margin-bottom: 25px;
    border-radius: 8px;
    transition: var(--transition);
    border: 2px solid var(--borderColor);
    background-color: var(--whiteColor);

    img {
        border-radius: 8px;
    }
    .content {
        margin-top: 30px;
        padding: {
            left: 20px;
            right: 20px;
            bottom: 30px;
        };
        h3 {
            font-size: 20px;
            margin-bottom: 13px;
        }
    }
    &:hover {
        box-shadow: 5px 5px #ececec;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .services-area {
        background-image: unset !important;
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .service-box {
        padding: 5px;
        border-radius: 4px;
    
        img {
            border-radius: 4px;
        }
        .content {
            margin-top: 15px;
            padding: {
                left: 15px;
                right: 15px;
                bottom: 15px;
            };
            h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .services-area {
        background-image: unset !important;
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }
    .service-box {
        padding: 8px;
        border-radius: 8px;//updated-from-20-8;
    
        img {
            border-radius: 8px;//updated-from-20-8;
        }
        .content {
            margin-top: 20px;
            padding: {
                left: 12px;
                right: 12px;
                bottom: 15px;
            };
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .services-area {
        background-image: unset !important;
        padding: {
            top: 100px;
            bottom: 100px;
        };
    }
    .service-box {
        .content {
            margin-top: 20px;
            padding: {
                left: 15px;
                right: 15px;
                bottom: 20px;
            };
            h3 {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {}