:host ::ng-deep {
    .basic {
        display: flex;
        width: 1212px;
        align-items: flex-start;
        gap: 24px;
        margin: 0 auto;
        margin-top: 57px;
        margin-bottom: 40px;

        .basicLeft {
            display: flex;
            // height: 339px;
            // align-items: flex-start;
            flex: 1;
            .basic-price {
                display: flex;
                // height: 339px;
                padding: 24px 24px 24px 24px;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                background: #fff;
                flex: 1;

                .basic-info {
                    text-align: left;
                    flex-grow: 1;
                    h2 {
                        color: var(--Black, #000);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                    }

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 30px;

                        li {
                            color: var(--Neutral-800, #191D23);
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-bottom: 8px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                a {
                    display: flex;
                    padding: 13px 46px 12px 46px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background: #0053fa;
                    color: var(--color-green-button, #FFF);

                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18.06px;
                    /* 129% */
                }
            }

            .basic-Details {
                display: flex;
                min-width: 237px;
                max-width: 237px;
                // height: 339px;
                padding: 24px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 32px;
                border-radius: 0px 4px 4px 0px;
                background: var(--secondary, #F3F8FF);

                .coverDiv {
                    display: flex;
                    height: 284px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 8px;
                    flex-shrink: 0;
                    align-self: stretch;

                    span {
                        color: var(--Black, #000);
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        strong {
                            font-weight: 600;
                        }
                    }

                    p {
                        color: var(--grey, var(--grey, #808080));
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        /* 19.6px */
                    }
                }
            }
        }

        .basicLeft.right {

            background: #7357CD;
            padding: 10px;
            border-radius: 5px;

            .basic-price {
                padding: 14px 24px;
                background: transparent;
                min-width: 309px;

                h2 {
                    color: #fff;
                }

                p {
                    color: var(--color-green-button, #FFF);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    /* 28px */
                }
            }

            a {
                background: #fff;
                color: #7357CD;
            }

            .basic-Details {
                min-width: 309px;
                background: transparent;
                padding: 0;
                height: auto;
                width: auto;
                gap: unset;
                display: block;
                padding: 0;
                .coverDiv {
                    height: auto;
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        text-align: left;

                        li {
                            display: flex;
                            height: 58px;
                            padding: 0px 24px;
                            align-items: center;
                            gap: 8px;
                            flex-shrink: 0;
                            color: var(--color-green-button, #FFF);

                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            background: var(--primary, #0053fa);
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1200px){
   :host ::ng-deep .basic {
        width: 100%;
        gap: 12px;

       .basicLeft .basic-price {
          
            min-width: 245px;
            padding: 12px;
        }
   .basicLeft.right .basic-price {
            padding: 14px 24px;
            min-width: 222px;
        }
  .basicLeft .basic-Details {
            min-width: 170px;
            max-width: 206px;
        }
    }





}

@media (max-width:950px){

    :host ::ng-deep  .basic {
        width: 100%;
        gap: 12px;
        flex-direction: column;
        .basicLeft {
            width: 100%;
            justify-content: space-around;
            .basic-price {
                min-width: unset;
                padding: 12px;
                width: 50%;
            }
            .basic-Details {
                min-width: unset;
                max-width: unset;
            }
        }
}
}

@media (max-width:767px){
    :host ::ng-deep .basic .basicLeft {
    height: auto;
    flex-direction: column;
    .basic-price{
        width: 100%;
        padding: 14px 24px 25px;
        min-width: 222px;
        height: auto;
    }
    .basic-Details{
    
        .coverDiv{
            height: auto;

        }
    }
}


:host ::ng-deep  .planDetails .listCover{
    justify-content: start;
}

:host ::ng-deep  .basic .basicLeft.right .basic-Details{
    min-width: 100%;
    height: auto;
}
:host ::ng-deep .planDetails .listCover {
    flex-wrap: wrap;
    justify-content: flex-start;
}

}