<section class="common-Section aboutDataCenterSection">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2>
                About Data Center Engineering
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="dataCenterListWrapper">
            <div class="dataCenterList">
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg1.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Data Center and Pre-cast</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        17 Jun 2024  |  Andrew White
                    </div>
                </div>

                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg2.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Software for Data Center Design and Engineering</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  Beatriz Sanz
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="600">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg3.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Planing logistic while design and engineering Data Center</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  Andrew White
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="800">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg4.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Different countries - different standards</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        17 Jun 2024  |  Andrew White
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1000">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg5.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Future-Proofing Data Center Structures</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  George Chan
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1200">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg1.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Sustainable Practices in Data Center Construction</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  Gaurav Modi
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>