.mainContainer{
    display: block;
    position: relative;
    .StickyPosition{position: absolute; height: 100%; width: 440px; right: 0; top: 0;}
}

.Stickyform{position: sticky; display: flex; right: 0; top: 0; padding-top: 112px; height: 100vh; width: 440px; background: white;}
.formWrapper{padding: 0px 30px 40px; flex: 1; overflow: auto; display: flex; flex-direction: column;}


@media (max-width:1199px){
    /* Define the keyframes for the animation */
    @keyframes marginLoop {
        0% {
        margin-left: 7px;
        }
        50% {
        margin-left: 9px;
        }
        100% {
        margin-left: 7px;
        }
    }
    .mainContainer .StickyPosition {
        position: fixed;
        width: 0;
        overflow: clip;
        background-color: rgba(0,0,0,.7);
        z-index: 999;
        transition: all .5s ease-in-out;
    }
    .mainContainer .StickyPosition.show {
        width: 100%;
    }
    .Stickyform {
        float: right;
    }
    .Stickyform {
        max-width: calc(100vw - 50px);
        padding-top: 0;
    }
    .cross {
        width: 50px;
        height: 50px;
        border-radius: 5px 0 0 5px;
        background: white;
        position: absolute;
        right: 440px;
        top: 30px;
        &::after, &::before {
            content: "";
            width: 2px;
            height: 20px;
            background: black;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}
@media (max-width:767px){
    .cross {
        right: auto;
        left: 6px;
    }
}