<app-hd-navbar></app-hd-navbar>
<app-main-banner></app-main-banner>

<section class="common-Section dataCenterSection">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2 class="mb-0 ">
                Data Center
            </h2>
        </div>
        <div class="dataCenterWrapper">
            <div class="twoCol">
                <div class="col leftCol" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
                    <p>Data centers are the backbone of the digital economy, requiring precise
                        engineering to ensure efficiency, reliability, and scalability. At BuildTwin,
                        we connect you with specialized civil and structural engineering service
                        providers to meet your unique data center needs in the EU.</p>

                        <div class="imgContainer">
                            <img src="../../../../assets/images/dataCenterIcon.png" alt="">
                        </div>
                </div>
                <div class="col rightCol" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400">
                    <p>
                        <small>Data centers play a critical role in modern digital infrastructure, housing servers and
                            network equipment that manage data flow and storage. The civil and structural engineering
                            aspects of data center construction are vital to ensure the facility's stability,
                            efficiency, and scalability. </small>
                    </p>
                    <p>
                        <small>This section will delve into the importance of meticulous engineering in data centers,
                            discussing key challenges such as cooling requirements, load-bearing capacity, and
                            future-proofing for technological advancements. Specialised detailing is essential to
                            address these challenges, ensuring the facility operates at optimal performance.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="common-Section aboutDataCenterSection">
    <div class="container">
        <div class="hd-section-title" data-aos="fade-up" data-aos-duration="500">
            <h2>
                About Data Center Engineering
            </h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="dataCenterListWrapper">
            <div class="dataCenterList">
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg1.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Data Center and Pre-cast</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        17 Jun 2024  |  Andrew White
                    </div>
                </div>

                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="400">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg2.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Software for Data Center Design and Engineering</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  Beatriz Sanz
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="600">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg3.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Planing logistic while design and engineering Data Center</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  Andrew White
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="800">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg4.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Different countries - different standards</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        17 Jun 2024  |  Andrew White
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1000">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg5.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Future-Proofing Data Center Structures</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  George Chan
                    </div>
                </div>
                
                <div class="dataCenterItem" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="1200">
                    <div class="dataCenterImage">
                        <img src="../../../../assets/images/dataCenterImg1.jpg" alt="">
                    </div>
                    <div class="dataCenterinfo">
                        <h4>Sustainable Practices in Data Center Construction</h4>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever, when an known printer took. Lorem Ipsum has been the industry's standard.</p>
                    </div>
                    <div class="postTime">
                        12 Jun 2024  |  Gaurav Modi
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-serv-trusted-by></app-serv-trusted-by>
<app-drawings></app-drawings>
<app-how-it-works></app-how-it-works>
<app-live-tracking></app-live-tracking>
<app-hd-integrations></app-hd-integrations>
<app-meeting-standards></app-meeting-standards>

<app-e2e-encrypted></app-e2e-encrypted>
<app-direct-booking></app-direct-booking>
<app-right-team></app-right-team>
<app-sample-projects></app-sample-projects>
<app-hd-footer></app-hd-footer>