<app-hd-navbar></app-hd-navbar>
<app-main-banner></app-main-banner>
<app-serv-trusted-by></app-serv-trusted-by>
<app-drawings></app-drawings>
<app-how-it-works></app-how-it-works>
<app-live-tracking></app-live-tracking>
<app-hd-integrations></app-hd-integrations>
<app-meeting-standards></app-meeting-standards>

<app-e2e-encrypted></app-e2e-encrypted>
<app-direct-booking></app-direct-booking>
<app-right-team></app-right-team>
<app-sample-projects></app-sample-projects>
<app-hd-footer></app-hd-footer>