:host ::ng-deep div#scrollActivated.fixed2 .tabHead {
    position: fixed;
    top: 111px;
    z-index: 999;
    left: 0;
    width: 100%;
}

:host ::ng-deep .fixed div#onScrollAnimation {
    position: fixed;
    top: 152px !important;

}

:host ::ng-deep div#scrollActivated3.fixedData .head {
    position: sticky;
    top: 162px;
    display: block;
    z-index: 9;
    background: #886DE0;
    padding-top: 100px;
}