<div class="bannerWrapper">
    <img src="../../../../assets/images/serviceBanner.jpg" alt="">
    <div class="bannerContainer">
        <div class="container" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="container-with-right">
                <h1>One-stop platform to streamline
                    all <span class="color">rebar detailing services.</span> </h1>
                <p>Collaborate in real-time for all your rebar detailing service needs, with an all-in-
                    one platform.</p>
            </div>
        </div>
    </div>
</div>