<div class="segmentation-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="segmentation-image position-relative" data-aos="fade-up" data-aos-duration="500">
                    <img src="assets/images/segmentation/segmentation1.png" alt="segmentation-image" width="726" height="708">
                    <img src="assets/images/segmentation/segmentation2.jpg" alt="segmentation-image" width="360" height="378">
                    <img src="assets/images/segmentation/arrow.png" alt="arrow-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="segmentation-content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <span class="sub-title d-block font-syne fw-semibold">
                        Quality Management and Compliance
                    </span>
                    <h2>
                        Meeting pre-qualification standards
                    </h2>
                    <p>
                        BuildTwin does the heavy lifting for you - by making your IT compliant. 
                    </p>
                    <div class="box d-flex align-items-center">
                        <div class="icon position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none">
                                <path d="M32.3754 17.1463L21.5 6.27087L10.6246 17.1463" stroke="#0E0E28" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.5 36.7292V6.57544" stroke="#0E0E28" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div>
                            <h3 class="fw-black font-syne">
                                Certification
                            </h3>
                            <span class="d-block font-syne fw-medium">
                                Out-of-the-box compliance
                            </span>
                            <p class="font-syne">
                                Get certified from renowned third-party auditors and be eligible for global projects.
                            </p>
                        </div>
                    </div>
                    <a mat-button routerLink="/" class="link-btn font-syne fw-semibold position-relative">
                        <span class="position-relative title">
                            Learn more about our compliance program
                        </span>
                        <i class="ti ti-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>