<div class="faqWrapper global-mb">
    <div class="container">
        <div class="" [ngClass]="{'container-with-right': !fullScreen}">
            <div class="heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <h3 class="faq-heading-main">
                    <strong>Frequently Asked Questions</strong>
                </h3>
                <p>Here are some of the most frequently asked questions about precast detailing services and more.</p>
            </div>

            <div class="faq-accordion" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Do precast detailing services follow industry codes and standards?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Yes, professional precast detailing services adhere to industry standards like ACI, PCI, and local building codes. This ensures structural safety, regulatory compliance, and smooth approval during design review and inspections.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Can precast concrete detailing be customized for unique architectural designs?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Absolutely. Precast concrete detailing can be fully customized to fit complex architectural styles. Drafters incorporate curves, textures, and non-standard shapes while ensuring the integrity and constructability of each prefabricated component.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does precast panel detailing improve structural coordination?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Precast panel detailing includes precise joinery, connection, and embedment information. It ensures all panels align perfectly during assembly, reduces on-site adjustments, and allows for seamless integration with MEP and structural systems.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How do prefabrication detailing services support faster construction?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Prefabrication detailing services enable off-site production by providing accurate, shop-ready drawings. This minimizes on-site labor, reduces delays caused by weather, and speeds up the entire construction process while ensuring consistent quality and precision.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Why choose structural precast modeling over traditional 2D drawings?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Structural precast modeling offers a comprehensive 3D view, revealing potential issues before construction. It improves design accuracy, enhances collaboration among teams, and supports digital fabrication—making it a more reliable solution than 2D detailing alone.
                        </p>
                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel [expanded]="isFirst">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Why should I choose vendors from BuildTwin for precast detailing services?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin is a one-stop platform that connects you with pre-qualified <b>precast detailers</b> who specialize in providing high-quality <b>precast detailing services</b>. Our vendors are carefully vetted to ensure they have the necessary <b>extensive experience</b>, adhere to <b>industry standards</b>, and deliver precise <b>precast shop drawings</b> and <b>fabrication drawings</b>. BuildTwin eliminates the hassle of vendor searching and offers live tracking for seamless project execution.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What software do BuildTwin’s vendors use for precast detailing?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Vendors on BuildTwin use industry-standard software such as <b>AutoCAD</b>, <b>Revit</b>, and other advanced tools to generate accurate <b>bar bending schedules</b>, <b>shop drawings</b>, and <b>precast panel detailing</b>. These tools ensure compliance with international standards and enhance the quality of <b>precast concrete detailing</b>.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does BuildTwin ensure the security and confidentiality of my project data?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Our platform is built on secure AI-driven systems that prioritize data privacy and confidentiality. With <b>quality control</b> measures embedded at every step, BuildTwin ensures your <b>precast detailing project</b> remains secure, compliant, and accessible only to authorized personnel.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What type of precast detailing services can I expect from BuildTwin's vendors?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin’s vendors provide a wide range of services, including:
                        </p>
                        <ul class="ListInFAQ">
                            <li><b>Cladding panel detailing drawings</b></li>
                            <li><b>Wall panel detailing</b> for structural stability</li>
                            <li>Detailed <b>fabrication drawings</b></li>
                            <li><b>Rebar detailing</b> for structural components</li>
                            <li><b>Erection drawings</b> for seamless assembly</li>
                            <li>Comprehensive <b>precast connection details</b></li>
                            <li>Handling of <b>lifting leg locations</b> and <b>grout ferrule locations</b></li>
                        </ul>
                        <p>These services cater to a variety of <b>building projects</b>, including <b>residential buildings</b>, <b>commercial buildings</b>, and <b>industrial buildings</b>.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does BuildTwin pre-qualify its vendors?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin follows a stringent pre-qualification process by verifying the vendor's <b>proven track record</b>, adherence to <b>industry standards</b>, and ability to deliver accurate <b>quantity take-offs</b> and high-quality <b>precast detailing drawings</b>. Vendors are selected based on their expertise, project history, and compliance with global standards like ACI, CRSI, and ASTM.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What type of projects can vendors on BuildTwin handle?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            The vendors listed on BuildTwin specialize in handling a wide range of projects, including:
                        </p>
                        <ul>
                            <li><b>Residential buildings</b> and complexes</li>
                            <li><b>Commercial buildings</b> such as malls and offices</li>
                            <li><b>Industrial buildings</b>, including chemical plants and factories</li>
                            <li>Infrastructure like bridges, tunnels, and metros</li>
                            <li>Specialized projects for <b>double tee detailing</b>, water tanks, and retaining walls</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How can I compare vendors listed on BuildTwin?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Our platform provides a detailed comparison tool that categorizes vendors by:
                        </p>
                        <ul>
                            <li>Experience in <b>precast detailing services</b></li>
                            <li>Expertise in delivering specific <b>fabrication drawings</b></li>
                            <li>Successful project completions in diverse sectors</li>
                            <li>Geographic reach and specialization in <b>industrial buildings</b> or <b>residential buildings</b></li>
                        </ul>
                        <p>By applying these filters, you can select the best vendor for your <b>precast detailing project</b>.</p>
                    </mat-expansion-panel> -->
                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Can I view past projects or case studies from vendors on BuildTwin?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            You can explore our entire list of vendors and their past projects [here].
                        </p>
                    </mat-expansion-panel> -->
                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What is the timeline for receiving responses from vendors?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Once you invite vendors to bid on your <b>precast detailing project</b>, responses are typically received within 48–72 hours. Our platform ensures vendors are notified promptly, expediting the bidding process for your project.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does BuildTwin ensure adherence to industry standards?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin's vendors strictly follow global <b>industry standards</b> like ACI, ASTM, BS, and CRSI for all <b>precast concrete detailing</b> projects. This ensures durability, structural integrity, and compliance with regional and international codes. Additionally, every stage undergoes <b>quality control</b> checks to maintain excellence.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How does BuildTwin handle project tracking?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin offers a <b>LIVE Track</b> feature that allows you to monitor your project progress in real-time. This includes updates on <b>precast panel detailing</b>, <b>erection drawings</b>, and delivery timelines. With live tracking, you gain complete transparency and control over your <b>precast detailing project</b>.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Can BuildTwin’s vendors assist with custom design requirements?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Yes, vendors on BuildTwin are experienced in handling custom <b>precast connection details</b>, <b>beam column detailing</b>, and unique <b>building projects</b>. They offer tailored solutions to meet specific <b>project requirements</b> while maintaining accuracy and efficiency.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What are cast-in components, and how are they handled by BuildTwin’s vendors?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            <b>Cast-in components</b> are essential structural elements like <b>precast concrete walls</b>, beams, and slabs. BuildTwin's vendors provide a comprehensive list of these components, including their precise <b>lifting leg locations</b> and <b>grout ferrule locations</b>, ensuring proper integration and installation.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">How do vendors on BuildTwin optimize resources for precast projects?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Through systematic <b>quantity take-offs</b>, BuildTwin's vendors ensure accurate estimation of materials and resources required for <b>precast detailing projects</b>. These include detailed measurements, volumes, and material specifications, reducing waste and optimizing costs.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">Can BuildTwin assist with large-scale industrial or infrastructure projects?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            Yes, BuildTwin’s platform is designed to cater to large-scale projects, including <b>chemical plants</b>, power plants, metros, and other infrastructure developments. Our vendors specialize in <b>double tee detailing</b>, <b>bar bending schedules</b>, and complex structural designs, making them ideal for large-scale <b>industrial buildings</b>.
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4 class="faq-heading">What support does BuildTwin provide during the project lifecycle?</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            BuildTwin offers end-to-end support, including:
                        </p>
                        <ul>
                            <li>Vendor selection and bidding facilitation</li>
                            <li>Real-time project updates through <b>LIVE Track</b></li>
                            <li>Automated handling of <b>fabrication drawings</b> and <b>shop drawings</b></li>
                            <li>Quality assurance checks for <b>industry standards</b> compliance</li>
                        </ul>
                        <p>Our platform ensures seamless coordination, minimizing manual efforts and maximizing project efficiency.</p>
                    </mat-expansion-panel> -->

                </mat-accordion>
            </div>
        </div>
    </div>
</div>