
<div class="container">
    <section class="testimonial-container">
        <h2 class="testimonial-title">What students say about BuildTwin</h2>
        <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur. Sollicitudin pretium lacus risus ac interdum vitae<br> tortor. Lobortis at fermentum eu in.</p>
        <a mat-button routerLink="/about" class="default-btn">Learn more about BuildTwin - the company</a>  
    </section>
    <div class="partnerWrap">
        <ul class="partner"> 
            <li>
                <img src="assets/images/new-footer/patner1.png" width="81" height="48">
            </li>
            <li>
                <img src="assets/images/new-footer/patner2.png" width="191" height="80">
            </li>
            <li>
                <img src="assets/images/new-footer/patner3.png" width="95" height="95">
            </li>
            <li>
                <img src="assets/images/new-footer/patner4.png" width="191" height="80">
            </li>
            <li>
                <img src="assets/images/new-footer/patner5.png" width="191" height="80">
            </li>
           
        </ul>
    </div>
    </div>
    <div class="container">
    <div class="colWrapper">
        <div class="col">
            <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy" src="assets/auto/testimonial/profile1.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Charles Brown</h3>
                    <p class="profile-company">Company X</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile2.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Marquees Lee</h3>
                    <p class="profile-company">Z Enterprise</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
    
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile3.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Shweta Singh</h3>
                    <p class="profile-company">Zing Business</p>
                  </div>
                </div>
                <div class="videoWrap">
                    <img  src="assets/auto/testimonial/vid1.png"  />
    
                </div>
              </article>
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile4.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Lumin King</h3>
                    <p class="profile-company">PMNO</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile5.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Ziggy Crown</h3>
                    <p class="profile-company">Swiggy</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
        </div>
        <div class="col">
            <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile6.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Winnower Plight</h3>
                    <p class="profile-company">ABC</p>
                  </div>
                </div>
                <div class="videoWrap">
                    <img  src="assets/auto/testimonial/vid2.png"  />
    
                </div>
              </article>
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile7.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Ming Li</h3>
                    <p class="profile-company">XP Kite</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
    
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile8.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Parth Sinha</h3>
                    <p class="profile-company">Company Z</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
    
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile9.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Martha Stewart</h3>
                    <p class="profile-company">Zomato</p>
                  </div>
                </div>
                <div class="videoWrap">
                    <img  src="assets/auto/testimonial/vid3.png"  />
    
                </div>
              </article>
    
        </div>
        <div class="col">
            <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile10.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Jade Kong</h3>
                    <p class="profile-company">Company Y</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
    
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile11.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Michael Owen</h3>
                    <p class="profile-company">Marshall Company</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
    
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile12.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Tim Cook</h3>
                    <p class="profile-company">Apple</p>
                  </div>
                </div>
                <div class="videoWrap">
                    <img  src="assets/auto/testimonial/vid4.png"  />
    
                </div>
              </article>
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile13.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Jennifer Anniston</h3>
                    <p class="profile-company">Option Company</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
              <article class="profile-card">
                <div class="profile-info">
                  <img loading="lazy"src="assets/auto/testimonial/profile14.png"  class="profile-image" />
                  <div class="profile-details">
                    <h3 class="profile-name">Sun Lee</h3>
                    <p class="profile-company">Uber</p>
                  </div>
                </div>
                <p class="profile-description">
                  Lorem ipsum dolor sit amet consectetur. Lacinia dignissim sed arcu sollicitudin. Ornare at mattis aenean dui nunc nulla amet imperdiet.
                </p>
              </article>
        </div>
    </div>
    