<div class="testimonials-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="testimonials-content" data-aos="fade-up" data-aos-duration="500">
                    <span class="sub-title d-block font-syne fw-semibold">
                        Testimonials
                    </span>
                    <h2>
                        Over 1,000+ engineers trust BuildTwin for their day2day work
                    </h2>
                    <p>
                        BuildTwin is the global hub for engineering, project and training. 
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="testimonials-slides" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <owl-carousel-o [options]="testimonialsSlides">
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="d-lg-flex align-items-center">
                                    <img src="assets/images/brands/g2.png" alt="g2">
                                    <div class="rating d-flex align-items-center">
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <span class="font-syne fw-medium">
                                            4.9 <span>/ 5</span>
                                        </span>
                                    </div>
                                </div>
                                <p class="font-syne fw-bold">
                                    BuildTwin allows us to achieve the work of a larger team with limited resources.”
                                </p>
                                <span class="d-block fw-medium name">
                                    Jane Ronan
                                </span>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="d-lg-flex align-items-center">
                                    <img src="assets/images/brands/trustpilot.png" alt="g2">
                                    <div class="rating d-flex align-items-center">
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-half-filled"></i>
                                        <span class="font-syne fw-medium">
                                            4.5 <span>/ 5</span>
                                        </span>
                                    </div>
                                </div>
                                <p class="font-syne fw-bold">
                                    BuildTwin allows us to achieve the work of a larger team with limited resources.”
                                </p>
                                <span class="d-block fw-medium name">
                                    Alina Smith
                                </span>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="d-lg-flex align-items-center">
                                    <img src="assets/images/brands/g2.png" alt="g2">
                                    <div class="rating d-flex align-items-center">
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star-filled"></i>
                                        <i class="ti ti-star"></i>
                                        <span class="font-syne fw-medium">
                                            4 <span>/ 5</span>
                                        </span>
                                    </div>
                                </div>
                                <p class="font-syne fw-bold">
                                    BuildTwin allows us to achieve the work of a larger team with limited resources.”
                                </p>
                                <span class="d-block fw-medium name">
                                    James Andy
                                </span>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>