<div class="directBookingWrapper">
    <div class="container">
        <div class="containerHead" data-aos="fade-up" data-aos-duration="500">
            <div class="headLeft">
                <h2>Available Service for Direct Booking</h2>
                <small>Structural Design and Detailing Services</small>
            </div>
            <div class="headRight">
                <span><img src="../../../../assets/images/buildingSmartLogoIcon.png" alt="" width="274px"></span>
                <span><img src="../../../../assets/images/RDBLogoIcon.png" alt="" width="100px"></span>
            </div>
        </div>
        <div class="containerBody">
            <div class="bookingTableWrapper" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <div class="bookingTable">
                    <div class="TableRow">
                        <div class="tableCol">
                            <div class="colHead">Service</div>
                            <div class="colBody">
                                <div class="precastListWrapper">
                                    <strong class="precastHead">Structural Precast Detailing</strong>
                                    <ul class="precastList">
                                        <li>
                                            <lib-svg-icon [name]="'trackinIcon'" [size]="24"
                                                [sizeH]="24"></lib-svg-icon>
                                            Live Tracking
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'AI-QM'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            AI Quality Management
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'RFI-M'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            RFI Management
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'AI-S'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            AI Schedule
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'CDE-I'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            CDE Integration
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tableCol">
                            <div class="colHead">Service</div>
                            <div class="colBody">
                                <nz-select ngModel="lucy">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="tableCol">
                            <div class="colHead">Service</div>
                            <div class="colBody">
                                <nz-select ngModel="lucy">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="tableCol">
                            <div class="colHead">Service Add</div>
                            <div class="colBody">
                                <ul class="addedServList">
                                    <li>
                                        <strong class="seviceName">Data Complaint</strong>
                                        <button class="circleBtn">
                                            <lib-svg-icon [name]="'crossBtn'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                        </button>
                                    </li>

                                    <li>
                                        <strong class="seviceName">Data Complaint</strong>
                                        <button class="circleBtn">
                                            <lib-svg-icon [name]="'plusBtn'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tableCol">
                            <div class="colHead">&nbsp;</div>
                            <div class="colBody">
                                <h4>Start Enquiry</h4>
                                <ul class="enqiryList">
                                    <li>It only takes few minutes</li>
                                    <li>Get competitive offer</li>
                                </ul>
                                <button mat-button class="default-btn">
                                    Enquiry Now
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="TableRow">
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <div class="precastListWrapper">
                                    <strong class="precastHead">Structural Precast Detailing</strong>
                                    <ul class="precastList">
                                        <li>
                                            <lib-svg-icon [name]="'trackinIcon'" [size]="24"
                                                [sizeH]="24"></lib-svg-icon>
                                            Live Tracking
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'AI-QM'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            AI Quality Management
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'RFI-M'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            RFI Management
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'AI-S'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            AI Schedule
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'CDE-I'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            CDE Integration
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <nz-select ngModel="lucy">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <nz-select ngModel="lucy">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <ul class="addedServList">
                                    <li>
                                        <strong class="seviceName">Data Complaint</strong>
                                        <button class="circleBtn">
                                            <lib-svg-icon [name]="'crossBtn'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                        </button>
                                    </li>

                                    <li>
                                        <strong class="seviceName">Data Complaint</strong>
                                        <button class="circleBtn">
                                            <lib-svg-icon [name]="'plusBtn'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <h4>Start Enquiry</h4>
                                <ul class="enqiryList">
                                    <li>It only takes few minutes</li>
                                    <li>Get competitive offer</li>
                                </ul>
                                <button mat-button class="default-btn">
                                    Enquiry Now
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="TableRow">
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <div class="precastListWrapper">
                                    <strong class="precastHead">Structural Precast Detailing</strong>
                                    <ul class="precastList">
                                        <li>
                                            <lib-svg-icon [name]="'trackinIcon'" [size]="24"
                                                [sizeH]="24"></lib-svg-icon>
                                            Live Tracking
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'AI-QM'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            AI Quality Management
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'RFI-M'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            RFI Management
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'AI-S'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            AI Schedule
                                        </li>
                                        <li>
                                            <lib-svg-icon [name]="'CDE-I'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                            CDE Integration
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <nz-select ngModel="lucy">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <nz-select ngModel="lucy">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <ul class="addedServList">
                                    <li>
                                        <strong class="seviceName">Data Complaint</strong>
                                        <button class="circleBtn">
                                            <lib-svg-icon [name]="'crossBtn'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                        </button>
                                    </li>

                                    <li>
                                        <strong class="seviceName">Data Complaint</strong>
                                        <button class="circleBtn">
                                            <lib-svg-icon [name]="'plusBtn'" [size]="24" [sizeH]="24"></lib-svg-icon>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tableCol">
                            
                            <div class="colBody">
                                <h4>Start Enquiry</h4>
                                <ul class="enqiryList">
                                    <li>It only takes few minutes</li>
                                    <li>Get competitive offer</li>
                                </ul>
                                <button mat-button class="default-btn">
                                    Enquiry Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>