<app-hd-navbar></app-hd-navbar>
<app-data-center-section></app-data-center-section>
<app-about-data-center-section></app-about-data-center-section>
<app-dc-europe></app-dc-europe>
<app-sector-ample-projects></app-sector-ample-projects>
<app-right-team></app-right-team>
<app-sector-meeting-standards></app-sector-meeting-standards>
<app-hd-integrations></app-hd-integrations>
<app-sector-direct-booking></app-sector-direct-booking>
<app-sector-solution-provider></app-sector-solution-provider>
<app-get-started></app-get-started>
