<div class="container">

<div class="task-management-area ptb-100">
    <div class="headPart">
<h2>Automated Feedback</h2>
<span class="subHeading">
    Automated Feedback System: DSM BuildTwin offers a unique value proposition 
    <br>by creating a real-time, data-driven feedback system for your team. 
</span>
</div>
    <div class="tabbing">
        <div class="line">
            <span (click)="tabinbg(1)" [ngClass]="{'active':activeState >= 1}"> <strong>1 </strong><em>KPIs</em></span>
            <span (click)="tabinbg(2)" [ngClass]="{'active':activeState >= 2}"><strong>2 </strong> <em>Feedback</em></span>
            <span (click)="tabinbg(3)" [ngClass]="{'active':activeState >= 3}"><strong>3 </strong> <em>Performance</em></span>
            <span (click)="tabinbg(4)" [ngClass]="{'active':activeState >= 4}"><strong>4 </strong> <em>Improved KPIs</em></span>
      <div class="svgFlex">
        <img [ngClass]="{'active':activeState >= 2}" class="lineSvg" src="assets/images/line.svg">
        <img [ngClass]="{'active':activeState >= 3}" class="lineSvg" src="assets/images/line.svg">
        <img [ngClass]="{'active':activeState >= 4}"  class="lineSvg" src="assets/images/line.svg">
      </div>
        </div>
     </div>  
     
     <div class="tabContent">
        <div class="tab1"  *ngIf="activeState===1">
           <span>Your KPIs</span> 

           <p>
            BuildTwin DSM breaks down relevant short- and long-term KPIs for your team and presents the data in an easy-to-understand way.
            </p>
           <img src="assets/images/tab1.png" alt="" width="" height="">
        </div>
        <div class="tab1" *ngIf="activeState===2">
            <span>Actionable Feedback</span> 
 
            <p>
                BuildTwin DSM provides your team with real-time feedback on which actions improve relevant KPIs. 
            </p>
 
            <img src="assets/images/tab2.png" alt="" width="" height="">
         </div>
         <div class="tab1" *ngIf="activeState===3">
            <span>Continous improvement</span> 
 
            <p>
                BuildTwin DSM visualizes the continuous progress and gamifies the objective. You can connect your 
                <br>incentive schemes, such as bonuses, with reaching targets.
            </p>
 
            <img src="assets/images/tab3.png" alt="" width="" height="">
         </div>
         <div class="tab1" *ngIf="activeState===4">
            <span>Improved KPIs</span> 
 
            <p>
                Voilà! Your team meets the goals while staying motivated through real-time feedback on performance.
            </p>

            <img  src="assets/images/tab4.png" alt="" width="" height="">
         </div>
     </div>
</div>
</div>