<div class="banner-area position-relative z-1">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-12">
                <section class="content-container">
                    <div class="highlights-container">
                        <span class="highlight">The</span>
                        <span class="highlight-emphasis">best</span>
                        <span class="highlight">way to procure <br> your technical team abroad</span>
                    </div>
                    <p class="description">BuildTwin connects you to solution providers across the globe - while the AI does the heavy lifting of managing the team and project</p>
                    <div class="other-options d-flex align-items-center">
                        <a class="btnNew" href="https://www.buildtwin.com/get-started">
                            Start free trial Now <i class="ti ti-arrow-narrow-right"></i>
                        </a>
                        <a class="btnNew vidBtn">
                            Watch Video <span class="vid"><i class="ti ti-player-play"></i></span>
                        </a>   
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-md-12 animation_img">
                <img src="assets/images/marketPlace.png" alt="shape6">
            </div>
        </div>
    </div>
    <!-- <div class="shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape6.png" alt="shape6">
    </div>
    <div class="shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape7.png" alt="shape7">
    </div>
    <div class="shape3 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape8.png" alt="shape8">
    </div>
    <div class="shape4 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape9.png" alt="shape9">
    </div> -->

    <div class="partnerWrap">
        <ul class="partner"> 
            <li>
                <a routerLink="/partners/GBCEngineers"><img src="assets/images/trustedBy-gbc.jpg" width="86" height="60"></a>
              </li>
              <li>
                <a routerLink="/partners/Durchgeplant"><img src="assets/images/patner2.png" width="191" height="80"></a>
              </li>
              <li>
                <a routerLink="/partners/AarbeeStructuresPrivateLimited"><img src="assets/images/trustedBy-aarbee.jpg" width="89" height="60"></a>
              </li>
              <li>
                <a routerLink="/partners/J&FIndia"><img src="assets/images/patner4.png" width="191" height="80"></a>
              </li>
              <li>
                <a routerLink="/partners/Caldim"><img src="assets/images/trustedBy-caldim.jpg" width="143" height="60"></a>
              </li>
        </ul>
    </div>
</div>