<div class="banner-global container global-mb"> 
    <div class="banner-main">
        <div class="banner-content">
            <div>
              <h1>
                Get Competitive Quotes 
                from the  <span>
                    right Engineering
                </span> 
                Providers - Fast
              </h1>
              <p>
                Leverage BuildTwin’s AI to ensure on-time, high-quality 
                delivery while you focus on what truly matters.
              </p>
              <div>
                <div class="v-center-flex gap-medium">
                  <a href="https://www.buildtwin.com/get-started" target="_blank" class="button-v2">
                    Get started NOW
                  </a>
                  <!-- (click)="call()"  -->
                  <a class="button-v2 border" href="javascript:void(0)">
                    <picture>
                      <source 
                        srcset="assets/images/icons/call@2x.png" 
                        media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                      <img 
                        src="assets/images/icons/call.png" 
                        alt="call" 
                        width="21" 
                        height="22">
                    </picture>
                    Schedule Call
                  </a>
                </div>
              </div>
            </div>
        </div>
        <div class="banner-image">
            <figure>
                <picture>
                    <!-- WebP format -->
                    <source 
                      srcset="assets/images/buyer-banner.webp, assets/images/buyer-banner@2x.webp 2x" 
                      type="image/webp">
                  
                    <!-- Fallback to JPEG -->
                    <source 
                      srcset="assets/images/buyer-banner.jpg, assets/images/buyer-banner@2x.jpg 2x" 
                      type="image/jpeg">
                  
                    <!-- Default img tag as fallback -->
                    <img 
                      src="assets/images/buyer-banner.jpg" 
                      alt="Buyer Banner" 
                      width="672" 
                      height="534">
                  </picture>                      
            </figure>
        </div>
    </div>
  </div>
<div class="container">
    <div class="partnerWrap">
        <ul class="partner"> 
            <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/gbc-engineers">
                  <picture>
                      <source srcset="assets/images/trustedBy-gbc@2x.webp 2x, assets/images/trustedBy-gbc.webp 1x" type="image/webp">
                      <img src="assets/images/trustedBy-gbc@2x.png" srcset="assets/images/trustedBy-gbc@2x.png 2x, assets/images/trustedBy-gbc.png 1x" 
                          alt="GBC Engineers" width="70" height="33" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/durchgeplant">
                  <picture>
                      <source srcset="assets/images/patner2@2x.webp 2x, assets/images/patner2.webp 1x" type="image/webp">
                      <img src="assets/images/patner2@2x.png" srcset="assets/images/patner2@2x.png 2x, assets/images/patner2.png 1x" 
                          alt="Durchgeplant" width="138" height="22" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/aarbee-structures-private-limited">
                  <picture>
                      <source srcset="assets/images/trustedBy-aarbee@2x.webp 2x, assets/images/trustedBy-aarbee.webp 1x" type="image/webp">
                      <img src="assets/images/trustedBy-aarbee@2x.png" srcset="assets/images/trustedBy-aarbee@2x.png 2x, assets/images/trustedBy-aarbee.png 1x" 
                          alt="AARBEE" width="75" height="49" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/j-f-india">
                  <picture>
                      <source srcset="assets/images/patner4@2x.webp 2x, assets/images/patner4.webp 1x" type="image/webp">
                      <img src="assets/images/patner4@2x.png" srcset="assets/images/patner4@2x.png 2x, assets/images/patner4.png 1x" 
                          alt="J&F" width="46" height="23" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/caldim-engineering">
                  <picture>
                      <source srcset="assets/images/trustedBy-caldim@2x.webp 2x, assets/images/trustedBy-caldim.webp 1x" type="image/webp">
                      <img src="assets/images/trustedBy-caldim@2x.png" srcset="assets/images/trustedBy-caldim@2x.png 2x, assets/images/trustedBy-caldim.png 1x" 
                          alt="CALDIM" width="104" height="18" loading="lazy">
                  </picture>
              </a>
          </li>        
        </ul>    
    </div>
</div>