<div class="banner-global container"> 
    <div class="banner-main">
        <div class="banner-content center">
            <div>
              <h1>
                Get competitive quotes 
                from <span>the right</span>
                <br><small class="big">Engineering Providers</small>
              </h1>
              <p>
                Leverage our project delivery AI to ensure on-time, high-quality 
                <br>delivery while you focus on what truly matters.
              </p>
              <div>
                <div class="v-center-flex gap-medium looking-for-super-wrapper">
                  <div class="label">
                    I am looking for
                  </div>
                  <div class="looking-for-wrapper">
                    <span>
                      who worked on highrise pre-cast projects in UK with 25m beams ...
                    </span>
                    <a href="https://www.buildtwin.com/get-started" target="_blank" class="secondary-button mark_page_get_quote_banner">
                      Sign in
                    </a>
                    <a class="secondary-button v2 mark_page_schedule_call_banner" href="javascript:void(0)" (click)="call()">
                      <!-- <picture>
                        <source 
                          srcset="assets/images/icons/call@2x.png" 
                          media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
                        <img 
                          src="assets/images/icons/call.png" 
                          alt="call" 
                          width="21" 
                          height="22">
                      </picture> -->
                      Get a DEMO
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- <div class="partnerWrap">
        <ul class="partner"> 
            <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/gbc-engineers">
                  <picture>
                      <source srcset="assets/images/trustedBy-gbc@2x.webp 2x, assets/images/trustedBy-gbc.webp 1x" type="image/webp">
                      <img src="assets/images/trustedBy-gbc@2x.png" srcset="assets/images/trustedBy-gbc@2x.png 2x, assets/images/trustedBy-gbc.png 1x" 
                          alt="GBC Engineers" width="70" height="33" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/durchgeplant">
                  <picture>
                      <source srcset="assets/images/patner2@2x.webp 2x, assets/images/patner2.webp 1x" type="image/webp">
                      <img src="assets/images/patner2@2x.png" srcset="assets/images/patner2@2x.png 2x, assets/images/patner2.png 1x" 
                          alt="Durchgeplant" width="138" height="22" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/aarbee-structures-private-limited">
                  <picture>
                      <source srcset="assets/images/trustedBy-aarbee@2x.webp 2x, assets/images/trustedBy-aarbee.webp 1x" type="image/webp">
                      <img src="assets/images/trustedBy-aarbee@2x.png" srcset="assets/images/trustedBy-aarbee@2x.png 2x, assets/images/trustedBy-aarbee.png 1x" 
                          alt="AARBEE" width="75" height="49" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/j-f-india">
                  <picture>
                      <source srcset="assets/images/patner4@2x.webp 2x, assets/images/patner4.webp 1x" type="image/webp">
                      <img src="assets/images/patner4@2x.png" srcset="assets/images/patner4@2x.png 2x, assets/images/patner4.png 1x" 
                          alt="J&F" width="46" height="23" loading="lazy">
                  </picture>
              </a>
          </li>
          <li>
              <a routerLink="{{_languageService.currentLanguage}}/partners/caldim-engineering">
                  <picture>
                      <source srcset="assets/images/trustedBy-caldim@2x.webp 2x, assets/images/trustedBy-caldim.webp 1x" type="image/webp">
                      <img src="assets/images/trustedBy-caldim@2x.png" srcset="assets/images/trustedBy-caldim@2x.png 2x, assets/images/trustedBy-caldim.png 1x" 
                          alt="CALDIM" width="104" height="18" loading="lazy">
                  </picture>
              </a>
          </li>        
        </ul>    
    </div> -->
  </div>
  <app-hubspot *ngIf="showPopup" [ngClass]="{'active':showPopup}" (closePopupStatus)="closePopupStatus($event)"></app-hubspot>