.partner {
    display: flex;
    gap: 32px;
    padding: 0 20px;
    background: white;
    align-items: center;
    margin: 0;
}
.partnerWrap {
    height: 1px;
    background: rgba(0,0,0,.15);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 53px;
    padding-left: 53px;
    margin-top: 60px;
    margin-bottom: 60px;
    // margin-bottom: 60px;
}