<div class="bg buildtwinPro">
    <div class="container heading-sticky">
        <div class="heading center v2">
            <h2 class="title">
                BuildTwin <span>AI</span>
            </h2>
            <p class="small-title">A better engineering experience today. BuildTwin Pro
                <br>supercharges your project with AI.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="list-wrapper">
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy3@2x.png"
                        srcset="assets/images/icons/heavy3@2x.png 2x, assets/images/icons/heavy3.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Plug<br>
                    and Play
                </h3>
                <p>
                    No additional workflow required -
                    just connect BuildTwin to your
                    existing tools and get access to
                    100s of technical teams.
                </p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy2@2x.png"
                        srcset="assets/images/icons/heavy2@2x.png 2x, assets/images/icons/heavy2.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Reliable<br>
                    Tracking
                </h3>
                <p>
                    The BuildTwin process creates
                    reliable schedules - with dynamically
                    adjusting based on progress,
                    delays and many other factors.
                </p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy1@2x.png"
                        srcset="assets/images/icons/heavy1@2x.png 2x, assets/images/icons/heavy1.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Private and<br>
                    Secure
                </h3>
                <p>
                    The BuildTwin process assures
                    a high visibility into the quality
                    management process - considering
                    dynamically all inputs.
                </p>
            </div>
        </div>
        <div class="flex-justify-center">
            <a class="button-v2 home_buildtwin_pro_demo" href="https://www.buildtwin.com/get-started" target="_blank">
                <img src="assets/images/icons/icon2.png" width="23" height="23" alt="BuildTwin Pro DEMO">
                BuildTwin Pro DEMO
            </a>
        </div>
    </div>
</div>
<div>
    <div class="container heading-sticky">
        <div class="heading center v2">
            <h2 class="title">
                delivering projects <br><span>adding real value</span>
            </h2>
            <p class="small-title">Find out what makes BuildTwin the most trusted, efficient, and innovative marketplace
                <br>for finding and working with global talents.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="list-wrapper">
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy6@2x.png"
                        srcset="assets/images/icons/heavy6@2x.png 2x, assets/images/icons/heavy6.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    a Human in<br>
                    Control
                </h3>
                <p>Connect with pre-qualified vendors
                    across time zones and specialties, ensuring
                    the perfect fit for your project needs.</p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy5@2x.png"
                        srcset="assets/images/icons/heavy5@2x.png 2x, assets/images/icons/heavy5.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    fully integrated into<br>
                    your workflow
                </h3>
                <p>BuildTwin Supports resolves issue when
                    it matters - including support in finding
                    solutions once schedules / quality
                    requirements are not met.</p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy4@2x.png"
                        srcset="assets/images/icons/heavy4@2x.png 2x, assets/images/icons/heavy4.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>Insured delivery with a<br>
                    25+ year old global business
                </h3>
                <p>Industry-leading privacy protocols to ensure
                    that your data remains confidential, secure
                    and under your control.</p>
            </div>
            <!-- <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy1@2x.png"
                        srcset="assets/images/icons/heavy1@2x.png 2x, assets/images/icons/heavy1.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Quality<br>
                    Management
                </h3>
                <p>
                    The BuildTwin process assures
                    a high visibility into the quality
                    management process - considering
                    dynamically all inputs.
                </p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy2@2x.png"
                        srcset="assets/images/icons/heavy2@2x.png 2x, assets/images/icons/heavy2.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Reliability<br>
                    in Schedules
                </h3>
                <p>
                    The BuildTwin process creates
                    reliable schedules - with dynamically
                    adjusting based on progress,
                    delays and many other factors.
                </p>
            </div>
            <div class="block">
                <figure>
                    <img src="assets/images/icons/heavy3@2x.png"
                        srcset="assets/images/icons/heavy3@2x.png 2x, assets/images/icons/heavy3.png 1x" width="97"
                        height="90" alt="image">
                </figure>
                <h3>
                    Plug<br>
                    and Play
                </h3>
                <p>
                    No additional workflow required -
                    just connect BuildTwin to your
                    existing tools and get access to
                    100s of technical teams.
                </p>
            </div> -->
    
        </div>
    </div>
</div>