.heading {
    .small-title {
        line-height: 1.333;
    }
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    .block {
        width: 33.333%;
        text-align: center;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
        figure {
            width: 190px;
            height: 190px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f6f7f9;
            border-radius: 50%;
            margin-bottom: 30px;
        }
        p {
            font-size: 15px;
            color: var(--lightTextColor);
        }
    }
}

.buildtwinPro {
    margin-bottom: 15px;
    position: relative;
    &:before {
        content: '';
        border-left: 32px transparent solid;
        border-right: 32px transparent solid;
        border-top: 28px #fff solid;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    h2 {
        span {
            color: #0053fa;
        }
    }

    .list-wrapper {
        padding-bottom: 0;
        .block {
            figure {
                background: #fff;
            }
        }
    }
}

@media (max-width: 767px) {
    .list-wrapper {
        flex-direction: column;

        .block {
            width: auto;
            padding-bottom: 50px;
        }
    }

    .heading {
        .small-title {
            br {
                display: none;
            }
        }
    }
}