.text-slider-area {
    overflow: hidden;
    height: 130px;

    .slider {
        white-space: nowrap;
        position: absolute;
        top: 0;

        div {
            letter-spacing: -1px;
            color: #f8f8f8;
            -webkit-text-stroke: 1px var(--themeColor);
            line-height: 1.2;
            margin: {
                right: 20px;
                top: 0;
            };
            font: {
                size: 4.73vw;
                weight: 900;
            };
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .text-slider-area {
        height: 45px;
    
        .slider {
            div {
                font-size: 50px;
                letter-spacing: normal;
                margin: {
                    top: -15px;
                    right: 8px;
                };
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .text-slider-area {
        height: 61px;
    
        .slider {
            div {
                letter-spacing: -.2px;
                font-size: 70px;
                margin: {
                    right: 15px;
                    top: -23px;
                };
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .text-slider-area {
        height: 74px;
    
        .slider {
            div {
                letter-spacing: -.5px;
                font-size: 85px;
                margin: {
                    right: 16px;
                    top: -28px;
                };
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .text-slider-area {
        height: 86px;
    
        .slider {
            div {
                letter-spacing: -.5px;
                font-size: 100px;
                margin: {
                    right: 18px;
                    top: -34px;
                };
            }
        }
    }

}

/* Min width 1400px to Max width 1699px */
@media only screen and (min-width: 1400px) and (max-width: 1699px) {}