<div class="socials-media-info-area ptb-100">

    <div class="heading center v2">

        <h2 class="title">
            <span>Procure engineering services</span> from trusted solution provider
        </h2>

        <span class="small-title">
            Browse engineering services offered at the BuildTwin marketplace
        </span>
        <br>

    </div>

    <div class="container">
        <br>
        <div class="row overflow">
            <div class="socials-media-info-slides segmentation-content" data-aos="fade-up" data-aos-duration="500">
                <owl-carousel-o [options]="socialsMediaInfoSlides">
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service1.png" alt="service-image">
                            </div>

                            <h3 class="font-poppins">Structural detailing</h3>
                            <p>Production of Shop drawings (2D/3D) in all major software</p>
                                                        
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service2.png" alt="service-image">
                            </div>

                            <h3 class="font-poppins">BIM Steel</h3>
                            <p>Production ready BIM Steel models according to your specification</p>
                                
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service7.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Pre-cast</h3>
                            <p>BIM and Structural works for precast - from Design to Engineering</p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service3.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Quantity surveying</h3>
                            <p>Structured quantity surveys in 2D and with 3D models</p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service4.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">BIM/DE/3D </h3>
                            <p>From 3D modeling, clash resolution to BIM management </p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service5.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Temporary works design</h3>
                            <p>and engineering support services</p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service8.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">COBie</h3>
                            <p>COBie enriched models (all LOD levels ) and FM import</p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service7.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">Production of As-Built documentation</h3>
                            <p>from 2D to BIM7D models</p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="info-box">
                            <div class="image">
                                <img src="assets/images/bim-service9.png" alt="service-image">
                            </div>
                            <h3 class="font-poppins">CAD/Drafting support services</h3>
                            <p>Tailored services according to your needs </p>
                            <div class="link-btn font-syne fw-semibold position-relative cursor" (click)="call()">
                                <span class="position-relative title">
                                     Start tender
                                </span>
                                <i class="ti ti-chevron-right"></i>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>


<!-- <div class="socials-media-info-area">
<div class="container pb-75 pt-10">
    <div class="heading center v2" data-aos="fade-up" data-aos-duration="500">
        <h2 class="title">Delivered by 100s of solution providers across the globe.</h2>
    </div>
    <div class="row align-items-center justify-content-center partner-logo">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500">
            <div class="text-center mb-25">
                <a routerLink="{{_languageService.currentLanguage}}/partners/gbc-engineers"><img src="assets/images/trustedBy-gbc.jpg" alt="GBC Engineers" width="86" height="60" loading="lazy"></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="text-center mb-25">
                <a routerLink="{{_languageService.currentLanguage}}/partners/durchgeplant"><img src="assets/images/patner2.png" alt="Durchgeplant"  width="191" height="80" loading="lazy"></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div class="text-center mb-25">
                <a routerLink="{{_languageService.currentLanguage}}/partners/aarbee-structures-private-limited"><img src="assets/images/trustedBy-aarbee.png" alt="Aarbee" width="89" height="60"></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div class="text-center mb-25">
                <a routerLink="{{_languageService.currentLanguage}}/partners/j-f-india"><img src="assets/images/patner4.png" alt="J&F" width="191" height="80" loading="lazy"></a>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <div class="text-center mb-25">
                <a routerLink="{{_languageService.currentLanguage}}/partners/caldim-engineering"><img src="assets/images/trustedBy-caldim.jpg" alt="CALDIM" width="143" height="60" loading="lazy"></a>
            </div>
        </div>
    </div>
</div>
</div> -->
<app-hubspot *ngIf="showPopup" [ngClass]="{'active':showPopup}" (closePopupStatus)="closePopupStatus($event)"></app-hubspot>