.integrationsList {
    display: flex;
    // gap: 30px;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.container.bg {
    padding-top: 20px;
    padding-bottom: 0;
}
.head {
    color: #9a9a9b;
    font-size: 16px;
}