<div class="e2eEncryptedWrapper">
    <div class="container">
        <div class="contantCard" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="100">
            <h2>
                <span class="jeffStyle">End</span>-to-End Encrypted
            </h2>
            <p>At BuildTwin, every interaction is shielded with SSL encryption, while back-end transactions are locked down within a secure VPC network, guaranteeing your data's integrity from the inside out. Our embedded trust system is integrated into every workflow, automating compliance tasks and reducing manual work, allowing you to focus on engineering while we ensure your operations remain compliant and secure.</p>
        </div>
        <div class="bigIcon" data-aos="fade-up" data-aos-duration="500"  data-aos-delay="200">
                <img src="assets/images/e2eIcon.png" alt="">
        </div>
    </div>
</div>