.e2eEncryptedWrapper {
    background: url(../../../../assets/images/e2eBG.png) right bottom no-repeat; 
    background-color: var(--lightest-grey, #F9F9F9);
    padding: 72px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contantCard {
            width: 55%;
        }
        .bigIcon{width: 35%;}
    }
}

.contantCard {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 3.026px 36.307px 0px rgba(0, 0, 0, 0.06);
    padding: 53px;
    h2{font-size: 30px;
        font-style: normal;
        font-weight: 600;}
        p{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
}
