<div class="bottom-space">
    <app-hd-navbar></app-hd-navbar>

    <div class="common-bannerWrapper global-mb">
        <img src="../../../../assets/images/serviceBanner.jpg" alt="Eurocode standards for structural">
        <div class="bannerContainer">
            <div class="containerbn">
                <h1>
                    British Building Codes: The Benchmark of Excellence in Construction
                </h1>
                <h2 class="heading-p">
                    A comprehensive resource on British Standards (BS). Explore the complexities of these widely recognized codes, which define quality, safety, and performance. Find vendors that comply with these criteria so as to make your projects the best in the field. 
                </h2>
                <div class="button-wrapper">
                    <!-- <a href="" class="default-btn mdc-button">

                        Find Eurocode Vendors

                    </a>
                    <a href="" class="default-btn mdc-button border">

                        Book a Service

                    </a> -->
                    <button class="default-btn mdc-button" (click)="scrollToSection('targetSection1')">
                        Find British standards Vendors
                    </button>
                    <button class="default-btn mdc-button border" (click)="scrollToSection('targetSection2')">
                        Book a Service
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="global-mb container">
        <div class="heading">
            <h3 class="title">What are British Building Standards for Construction?</h3>
            
            <p>
                British Standards (BS) are technical specifications produced by the British Standards Institution (BSI) for the purpose of promoting excellent design, construction, and maintenance practices. Unlike the USA where the building codes are established at the federal, state and the local government levels, in the UK, they are majorly developed at the national level.
            </p>
            <p>
                These standards cover every aspect of building regulations, from the materials to the structural integrity of the construction process in order to make it compliant, safe, and sustainable. Although compliance with these codes is not a legal requirement, they are extensively cited in UK and international building specifications and contracts.
            </p>
            <p>
                These codes are critical to architects, engineers, and project managers who are committed to the highest quality of their work.
            </p>
        </div>

        <div class="heading">
            <h3 class="title">Understanding British Standards in Construction</h3>
        </div>

        <div class="list-type-wrapper bottom-space-big">
            <div class="block">
                <h3 class="block-heading">
                    History of BS Codes
                </h3>
                <p style="margin-bottom: 0px; padding-bottom: 0px;">
                    British Standards originated in 1901 when the Engineering Standards Committee was formed to unify industry practices regarding building regulations. The committee set out detailed regulations and laid codes to be followed during construction. 
                </p>
                <p>
                    Over the decades, its purview has been expanded to include a variety of disciplines. It has become the bedrock and cornerstone of the Architectural, Engineering, and Construction (AEC) sector worldwide.
                </p>
                <ul class="core-elements-bullets" style="margin-top: 0px; padding-top: 0px;">
                    <li>1929: A Royal Charter came into existence to promote trade, reduce waste, and protect consumers.</li>
                    <li>1942: The British Standards Institution (BSI) was formed under the charter.</li>
                    <li>1980s: Harmonized standards for construction were introduced to match European standards.</li>
                </ul>
                <p>Since 1980s, the British Standards are continuously getting updated to include latest developments in the sector, such as sustainable construction practices.</p>
            </div>
            <div class="block">
                <h3 class="block-heading">
                    Impact of BS Codes on the AEC Industry
                </h3>
                <p>
                    BS codes have a significant impact on the global AEC landscape.
                </p>
                <ul class="core-elements-bullets" style="margin-top: 0px; padding-top: 0px;">
                    <li><b>Enhanced Safety</b>: These codes ensure construction practices minimize risks to workers and occupants.</li>
                    <li><b>Quality Assurance</b>: British standards for construction promote the use of the best materials for existing and new buildings and the best design techniques in the industry.</li>
                    <li><b>Global Recognition</b>: The code ensures projects achieve compliance and gain credibility.</li>
                    <li><b>Sustainability</b>: BS codes encourage energy efficiency and environmentally friendly construction techniques with a focus on reducing the use of dangerous substances in construction.</li>
                </ul>
            </div>
            <div class="block">
                <h3 class="block-heading">
                    Design Standards, Applications, Examples:
                </h3>
                <!-- <p style="margin-bottom: 0px; padding-bottom: 0px;">
                    Eurocodes provide a robust framework for diverse construction needs:
                </p> -->
                <ul class="ul-class">
                    <li style="margin-bottom: 5px;"><b>Design Standards</b> <p>Covers various aspects of building design including structural integrity, fire safety, accessibility, and energy efficiency.</p></li>
                    <li style="margin-bottom: 5px;"><b>Application</b> <p>These building regulations are applicable across all sectors of the industry, such as residential, commercial, industrial, infrastructure, and civil engineering projects</p></li>
                    <li style="margin-bottom: 5px;"><b>Popular Codes</b> <p>The BSI list of standards contains over 50,000 standards. Each standard is developed to protect consumers, maintain uniformity, and facilitate international trade. Some of the common codes under these standards are:</p></li>
                    <ul class="ul-class">
                        <li>BS 31: Specification for steel conduits for electrical safety</li>
                        <li>BS 5906: Covers waste disposal, collection, and management methods</li>
                        <li>BS 5930: Code of practice for site preparation and investigation</li>
                        <li>BS 5950: Minimum requirements for structural steel in building</li>
                        <li>BS 8110: This code specifies use of concrete in a building</li>
                        <li>BS 9999: Fire safety in the design, management, and use of buildings</li>
                        <li>BS 8300: Design of buildings and their approaches to meet the needs of disabled people.</li>
                    </ul>
                </ul>

            </div>
        </div>
        <div class="list-type-wrapper">
            <div class="block">
                <h3 class="block-heading">
                    Benefits of Following British Standards
                </h3>
                <ul class="list">
                    <li>
                        <b>Less Risk</b>: Following BS reduces accidents, work risks and hazards on site, structural failures, risks and liability.
                    </li>
                    <li>
                        <b>Better Project Outcomes</b>: British building regulations like BS ensure that projects are completed on time and within budget.
                    </li>
                    <li>
                        <b>Better Reputation</b>: Showing you follow BS improves your reputation and client trust.
                    </li>
                    <li>
                        <b>Increased Competitiveness</b>: Adherence to BS codes may ensure market competitiveness and the availability of more jobs for contractors.
                    </li>
                    <li>
                        <b>Improved Sustainability</b>: There are a number of BS codes that provide guidance for construction practices in achieving sustainability in new and existing buildings and thus reducing the environmental impact that construction activities have.
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="list-type-wrapper">
            <div class="block">
                <h5>
                    Benefits of Eurocode Compliance
                </h5>
                <div>
                   <div style="font-size: 16px;">1. <b>Enhanced Safety and Quality</b>: </div> 
                    <ul class="core-elements-bullets" style="list-style-type: circle;">
                        <li>Clear guidelines for material selection, load assessment, and structural stability.</li>
                        <li>Reduced risks through standardized design and execution practices.</li>
                    </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">2. <b>Cost Efficiency</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                         <li>Minimized waste with resource-optimized designs.</li>
                         <li>Early problem identification, reducing rework and delays.</li>
                     </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">3. <b>Global Collaboration</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                        <li>A harmonized code base allows teams from different regions to collaborate seamlessly.</li>
                     </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">4. <b>Sustainability</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                         <li>Promotes the use of recyclable materials and eco-friendly construction methods.</li>
                         <li>Encourages life-cycle assessments to optimize environmental performance.</li>
                     </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">5. <b>Professional Credibility</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                         <li>Compliance demonstrates a commitment to international quality standards.</li>
                         <li>Facilitates smoother project approvals and stakeholder trust.</li>
                     </ul>
                </div>
            </div>
        </div> -->
    </div>

    
    <app-hd-discover-projects-building-code-euro [hideTitle]="true" [page]="'sector'"></app-hd-discover-projects-building-code-euro>
    <app-tt-partners-building-code-euro [page]="'sector'" id="targetSection1"></app-tt-partners-building-code-euro>

    
    
    <app-hd-services-building-code-euro></app-hd-services-building-code-euro>

    


    <div class="bottom-space-gap">
        <app-sector-category-building-code-euro [category]="8" [page]="'sector'"></app-sector-category-building-code-euro>
    </div>
    <!-- <div class="bottom-space-gap"> -->
        <div class="container">
            <div class="main-head">
                <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
                    <div class="heading">
                        <div class="title">Other Sectors We Serve</div>
                        <div class="subTitle">Specialized engineering excellence across diverse industries, delivered by pre-qualified vendors</div>
                    </div>
                </div>
                <!-- <button mat-button class="default-btn align-self-end">Explore Case studies</button> -->
            </div>
        </div>
    <app-special-project [heading]="false"></app-special-project>




    <!-- <div class="child-pb-none">
          <app-sector-meeting-standards></app-sector-meeting-standards>
      </div>
     <app-hd-integrations></app-hd-integrations>
    <div class="bottom-space-big">
        <app-dc-europe></app-dc-europe>
    </div> -->
    <app-faq-buildtwin-building-code-euro [fullScreen]="true"></app-faq-buildtwin-building-code-euro>
    <div class="container" id="targetSection2">
        <div class="bt-flex form-wrap">
            <div class="flex-grow-1">
        <h2>
            Get Started with British standards
        </h2>
        <p>
            Connect with our experts to learn more about British standards implementation and certification
        </p>
        <h3>
            Why Choose BuildTwin?
        </h3>
        <ul class="list">
            <li>
                <span>
                    Pre-qualified British standards vendors
                </span>
            </li>
            <li>
                <span>
                    Streamlined implementation process
                </span>
            </li>
            <li>
                <span>
                    Expert support and guidance
                </span>
            </li>
        </ul>
            </div>
        <div class="flex-grow-1">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
        </div>
        </div>
    </div>


    <!-- <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Our Satisfied Clients
            </div>
            <div class="subTitle">
                See how BuildTwin is helping client's AEC projects in achieving Eurocode compliance
            </div>
        </div>
        <div class="success-story">
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Liam Carter</span>
                        <span class="position">
                            Architectural Lead, United Kingdom
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "Our high-rise design required meticulous adherence to Eurocodes to ensure structural integrity and sustainability. BuildTwin's vendors delivered exceptional results by optimizing material usage and enhancing energy efficiency. With BuildTwin's management tools, we easily secured regulatory approvals and sustainability certifications, accelerating project timelines."
                </p>
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Noah Berg</span>
                        <span class="position">
                            Structural Engineer, Netherlands
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "For our industrial facility, Eurocode-compliant designs for steel structures, aluminium structures, and concrete structures were essential. BuildTwin's vendors not only reduced waste and project costs significantly but also ensured compliance with technical specifications. The ERP tools provided seamless quality checks, and the overall service exceeded our expectations in both compliance and quality."
                </p>
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name"> Oliver Schmidt</span>
                        <span class="position">
                            Contractor, Germany
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    “As a contractor managing diverse residential projects, adherence to Eurocodes was crucial to maintain safety and quality standards. BuildTwin’s vendors offered top-tier Eurocode-compliant services, while the platform’s integrated tracking tools ensured efficient compliance checks and streamlined project execution. BuildTwin has made managing complex projects significantly easier.”
                </p>
            </div>
        </div>

    </div> -->
    
    
    <!-- <div class="bottom-space-big">
        <app-drawing-freelancers></app-drawing-freelancers>
    </div> -->
    <!-- <app-get-started></app-get-started> -->
    <app-hd-footer></app-hd-footer>
    <!-- <div class="sticky-bottom" [ngClass]="{'cursor': !AvailableServicesToggle,'active': AvailableServicesToggle}"
        (mouseover)="AvailableServicesToggleStatusHover()"
        (click)="AvailableServicesToggle ? null : AvailableServicesToggleStatus(true)">
        <div class="toggle" [ngClass]="{'active':AvailableServicesToggle}"
            (click)="AvailableServicesToggleStatus(); $event.stopPropagation()">

        </div>
        <h3>
            Available Service for Direct Booking
            <small>
                Unlock the BuildTwin advantage
            </small>
        </h3>
        <div class="flex bg-sticky" *ngIf="AvailableServicesToggle">
        </div>
    </div> -->
</div>