<div class="bottom-space">
    <app-hd-navbar></app-hd-navbar>

    <div class="common-bannerWrapper global-mb">
        <img src="../../../../assets/images/serviceBanner.jpg" alt="">
        <div class="bannerContainer">
            <div class="containerbn">
                <h1>
                    Eurocodes: Building Standards for Excellence in Construction
                </h1>
                <p>
                    Streamline your project compliance with trusted vendors well-versed in Eurocode standards. Build safer, more efficient steel structures and concrete structures with ease. 
                </p>
                <div class="button-wrapper">
                    <!-- <a href="" class="default-btn mdc-button">

                        Find Eurocode Vendors

                    </a>
                    <a href="" class="default-btn mdc-button border">

                        Book a Service

                    </a> -->
                    <button class="default-btn mdc-button" (click)="scrollToSection('targetSection1')">
                        Find Eurocode Vendors
                    </button>
                    <button class="default-btn mdc-button border" (click)="scrollToSection('targetSection2')">
                        Book a Service
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Understanding Eurocodes for Structural and Civil Engineering
            </div>
            <p>
                The ten Eurocodes are the gold standard for structural design and civil engineering works across Europe. They provide a unified framework for designing and constructing buildings and other civil infrastructure, including steel bridges. Covering the basis of structural design, actions on structures, and material properties, they ensure safety, reliability, and sustainability. Whether you are an architect, engineer, or project manager, Eurocode compliance enhances your project’s credibility and success.
            </p>
        </div>

        <div class="list-type-wrapper bottom-space-big">
            <div class="block">
                <h5>
                    Eurocode History
                </h5>
                <p style="margin-bottom: 0px; padding-bottom: 0px;">
                    A Legacy of innovation and compliance. Eurocodes were introduced to harmonize construction practices across Europe, replacing multiple national standards. Some important standards include: 
                </p>
                <ul class="core-elements-bullets" style="margin-top: 0px; padding-top: 0px;">
                    <li>Structural principles (EN 1990)</li>
                    <li>Material-specific guidelines (EN 1992–1996)</li>
                    <li>Specialized applications like seismic design (EN 1998) and geotechnics (EN 1997)</li>
                </ul>
                <p>Over time, Eurocode parts have integrated new technologies and sustainable practices into structural components, making them indispensable for construction works.</p>
            </div>
            <div class="block">
                <h5>
                    Impact of Eurocodes on the AEC Industry
                </h5>
                <ul class="core-elements-bullets" style="margin-top: 0px; padding-top: 0px;">
                    <li><b>Enhancing Safety</b>: Ensures structural stability under varying imposed loads, climatic effects, and accidental actions.</li>
                    <li><b>Standardizing Practices</b>: Unified general rules and technical specifications enable seamless collaboration among stakeholders.</li>
                    <li><b>Improving Resource Efficiency</b>: Optimized designs minimize material waste for construction products like composite steel and concrete.</li>
                    <li><b>Driving Sustainability</b>: Encourages energy-efficient designs and the use of recyclable materials, aligning with European standards.</li>
                </ul>
                <p>BuildTwin provides access to vendors who deliver reliable, high-performance solutions aligned with Eurocodes.
                </p>
            </div>
            <div class="block">
                <h5>
                    Design Standards and Applications
                </h5>
                <p style="margin-bottom: 0px; padding-bottom: 0px;">
                    Eurocodes provide a robust framework for diverse construction needs:
                </p>
                <ol style="margin-bottom: 5px; padding-left: 35px; list-style-type: decimal;">
                    <li style="margin-bottom: 5px;"><b>EN 1990</b>: Structural principles and the basis of structural design.</li>
                    <li style="margin-bottom: 5px;"><b>EN 1992–1996</b>: Material-specific standards for masonry structures, timber structures, and plated structural elements.</li>
                    <li style="margin-bottom: 5px;"><b>EN 1997</b>: Geotechnics and geotechnical design, addressing foundation stability.</li>
                    <li style="margin-bottom: 5px;"><b>EN 1998</b>: Seismic applications ensuring earthquake resistance.</li>
                </ol>
                <p>These standards ensure precision, enabling professionals to meet modern construction sector demands efficiently.</p>
            </div>
        </div>
        <div class="list-type-wrapper">
            <div class="block">
                <h5>
                    Benefits of Eurocode Compliance
                </h5>
                <ul class="list half">
                    <li>
                        <b>Enhanced Safety and Quality</b>
                        <ul class="ulClass">
                            <li class="liClass">Clear guidelines for structural elements, load assessment, and stability.</li>
                            <li class="liClass">Reduced risks through standardized practices.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Cost Efficiency</b>
                        <ul class="ulClass">
                            <li class="liClass">Resource-optimized designs minimize waste.</li>
                            <li class="liClass">Early issue identification prevents rework and delays.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Professional Credibility</b>
                        <ul class="ulClass">
                            <li class="liClass">Demonstrates compliance with European standards.</li>
                            <li class="liClass">Facilitates project approvals and stakeholder trust.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Sustainability</b>
                        <ul class="ulClass">
                            <li class="liClass">Promotes eco-friendly materials and methods.</li>
                            <li class="liClass">Encourages life-cycle assessments to optimize environmental performance.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="list-type-wrapper">
            <div class="block">
                <h5>
                    Benefits of Eurocode Compliance
                </h5>
                <div>
                   <div style="font-size: 16px;">1. <b>Enhanced Safety and Quality</b>: </div> 
                    <ul class="core-elements-bullets" style="list-style-type: circle;">
                        <li>Clear guidelines for material selection, load assessment, and structural stability.</li>
                        <li>Reduced risks through standardized design and execution practices.</li>
                    </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">2. <b>Cost Efficiency</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                         <li>Minimized waste with resource-optimized designs.</li>
                         <li>Early problem identification, reducing rework and delays.</li>
                     </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">3. <b>Global Collaboration</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                        <li>A harmonized code base allows teams from different regions to collaborate seamlessly.</li>
                     </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">4. <b>Sustainability</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                         <li>Promotes the use of recyclable materials and eco-friendly construction methods.</li>
                         <li>Encourages life-cycle assessments to optimize environmental performance.</li>
                     </ul>
                </div>
                <div>
                    <div style="font-size: 16px;">5. <b>Professional Credibility</b>: </div> 
                     <ul class="core-elements-bullets"  style="list-style-type: circle;">
                         <li>Compliance demonstrates a commitment to international quality standards.</li>
                         <li>Facilitates smoother project approvals and stakeholder trust.</li>
                     </ul>
                </div>
            </div>
        </div> -->
    </div>

    
    <app-hd-discover-projects-building-code-euro [hideTitle]="true" [page]="'sector'"></app-hd-discover-projects-building-code-euro>
    <app-tt-partners-building-code-euro [page]="'sector'" id="targetSection1"></app-tt-partners-building-code-euro>

    
    
    <app-hd-services-building-code-euro></app-hd-services-building-code-euro>

    


    <div class="bottom-space-gap">
        <app-sector-category-building-code-euro [category]="8" [page]="'sector'"></app-sector-category-building-code-euro>
    </div>
    <!-- <div class="bottom-space-gap"> -->
        <div class="container">
            <div class="main-head">
                <div class="sectionHead" data-aos="fade-up" data-aos-duration="500">
                    <div class="heading">
                        <div class="title">Other Sectors We Serve</div>
                        <div class="subTitle">Specialized engineering excellence across diverse industries, delivered by pre-qualified vendors</div>
                    </div>
                </div>
                <!-- <button mat-button class="default-btn align-self-end">Explore Case studies</button> -->
            </div>
        </div>
    <app-special-project [heading]="false"></app-special-project>




    <!-- <div class="child-pb-none">
          <app-sector-meeting-standards></app-sector-meeting-standards>
      </div>
     <app-hd-integrations></app-hd-integrations>
    <div class="bottom-space-big">
        <app-dc-europe></app-dc-europe>
    </div> -->
    <app-faq-buildtwin-building-code-euro [fullScreen]="true"></app-faq-buildtwin-building-code-euro>
    <div class="container" id="targetSection2">
        <div class="bt-flex form-wrap">
            <div class="flex-grow-1">
        <h2>
            Get Started with Eurocode Standards
        </h2>
        <p>
            Connect with our experts to learn more about Eurocode implementation and certification
        </p>
        <h3>
            Why Choose BuildTwin?
        </h3>
        <ul class="list">
            <li>
                <span>
                    Pre-qualified Eurocode vendors
                </span>
            </li>
            <li>
                <span>
                    Streamlined implementation process
                </span>
            </li>
            <li>
                <span>
                    Expert support and guidance
                </span>
            </li>
        </ul>
            </div>
        <div class="flex-grow-1">
        <app-free-offer-form [page]="'sector'"></app-free-offer-form>
        </div>
        </div>
    </div>


    <!-- <div class="global-mb container">
        <div class="heading">
            <div class="title">
                Our Satisfied Clients
            </div>
            <div class="subTitle">
                See how BuildTwin is helping client's AEC projects in achieving Eurocode compliance
            </div>
        </div>
        <div class="success-story">
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Liam Carter</span>
                        <span class="position">
                            Architectural Lead, United Kingdom
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "Our high-rise design required meticulous adherence to Eurocodes to ensure structural integrity and sustainability. BuildTwin's vendors delivered exceptional results by optimizing material usage and enhancing energy efficiency. With BuildTwin's management tools, we easily secured regulatory approvals and sustainability certifications, accelerating project timelines."
                </p>
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name">Noah Berg</span>
                        <span class="position">
                            Structural Engineer, Netherlands
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    "For our industrial facility, Eurocode-compliant designs for steel structures, aluminium structures, and concrete structures were essential. BuildTwin's vendors not only reduced waste and project costs significantly but also ensured compliance with technical specifications. The ERP tools provided seamless quality checks, and the overall service exceeded our expectations in both compliance and quality."
                </p>
            </div>
            <div class="block">
                <div class="avtar-detail">
                    <figure>
                        <img src="assets/images/public.png" alt="" width="48" height="48">
                    </figure>
                    <div class="name-detail">
                        <span class="name"> Oliver Schmidt</span>
                        <span class="position">
                            Contractor, Germany
                        </span>
                    </div>
                </div>
                <div class="rating">
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                    </svg>
                </div>
                <p>
                    “As a contractor managing diverse residential projects, adherence to Eurocodes was crucial to maintain safety and quality standards. BuildTwin’s vendors offered top-tier Eurocode-compliant services, while the platform’s integrated tracking tools ensured efficient compliance checks and streamlined project execution. BuildTwin has made managing complex projects significantly easier.”
                </p>
            </div>
        </div>

    </div> -->
    
    
    <!-- <div class="bottom-space-big">
        <app-drawing-freelancers></app-drawing-freelancers>
    </div> -->
    <!-- <app-get-started></app-get-started> -->
    <app-hd-footer></app-hd-footer>
    <!-- <div class="sticky-bottom" [ngClass]="{'cursor': !AvailableServicesToggle,'active': AvailableServicesToggle}"
        (mouseover)="AvailableServicesToggleStatusHover()"
        (click)="AvailableServicesToggle ? null : AvailableServicesToggleStatus(true)">
        <div class="toggle" [ngClass]="{'active':AvailableServicesToggle}"
            (click)="AvailableServicesToggleStatus(); $event.stopPropagation()">

        </div>
        <h3>
            Available Service for Direct Booking
            <small>
                Unlock the BuildTwin advantage
            </small>
        </h3>
        <div class="flex bg-sticky" *ngIf="AvailableServicesToggle">
        </div>
    </div> -->
</div>