<div class="how-it-works-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500">
                <div class="how-it-works-image text-center position-relative z-1">
                    <img src="assets/images/how-it-works/how-it-works1.jpg" class="main-image" alt="how-it-works-image">
                    <div class="shape1 position-absolute z-n1 pe-none">
                        <img src="assets/images/shapes/shape16.png" alt="shape16">
                    </div>
                    <div class="shape2 position-absolute z-n1 pe-none">
                        <img src="assets/images/shapes/shape17.png" alt="shape17">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="how-it-works-content">
                    <h2 class="fw-semibold font-archivo">
                        Simulate project progress (optional)
                    </h2>
                    <p>
                        BETA: BuildTwin allows you to plan projects by simulating different scenarios. You can increase 
                        your teams agility by providing a real time update to your counter-parts while doing the heavy 
                        lifting of simulating changes and re-planning with a click of a button.
                    </p>
                    <a mat-button routerLink="/features" class="default-btn">See How It Works</a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape12.png" alt="shape12">
    </div>
</div>