<div class="banner-area position-relative z-1">
    <div class="container">
        <div class="banner-content text-center ms-auto me-auto">
            <h1 class="font-poppins" data-aos="fade-up" data-aos-duration="500">
                <span class="jeffStyle">3</span>  good reasons to work 
                <br>with <u>BuildTwin</u>
            </h1>
            <p class="ms-auto me-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                supercharged by <span class="fw-semibold">AI</span> - to meet
            <br> technical, quality and time requirements.
            </p>
            <ul class="features-list ps-0 mb-0 list-unstyled" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <li class="fw-medium">
                    <span class="position-relative d-inline-block">
                        <i class="ti ti-info-circle-filled"></i>
                        Try it yourself
                    </span>
                </li>
            </ul>
        </div>



        <div class="services-area pt-100 pb-75 z-1 position-relative">
            <div class="container">
                <div class="tt-section-title text-center ms-auto me-auto" data-aos="fade-up" data-aos-duration="500">
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500">
                        <div class="single-service-box position-relative text-center">
                            <img src="assets/images//icon1.png" alt="icon">
                            <h4 class="font-mulish fw-medium">
                                up to 20% more efficient 
                            </h4>
                            <p>
                                Let BuildTwin Co-Pilot do the heavylifting of your day2day projectmanagement and evaluation.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <div class="single-service-box position-relative text-center">
                            <img src="assets/images//icon2.png" alt="icon">
                            <h4 class="font-mulish fw-medium">
                                Work with the Marketplace
                            </h4>
                            <p>
                                Plug & Play marketplace - if you are looking for talents or projects. BuildTwin is the hub for you.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        <div class="single-service-box position-relative text-center">
                            <img src="assets/images//icon3.png" alt="icon">
                            <h4 class="font-mulish fw-medium">
                                Suistanable Growth
                            </h4>
                            <p>
                                Focus on what engineering and train early on where the future market will be.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape position-absolute z-n1 pe-none">
                <img src="assets/images/shapes/shape3.png" alt="shape3">
            </div>
        </div>





    </div>
  
  
    <!-- 
    <div class="shape1 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape13.png" alt="shape13">
    </div>
    <div class="shape2 position-absolute z-n1 pe-none">
        <img src="assets/images/shapes/shape21.png" alt="shape21">
    </div>
    -->
  
  
    <div class="overlay position-absolute z-n1"></div>
</div>